body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u16190_div {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:850px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16190 {
  position:absolute;
  left:0px;
  top:109px;
  width:191px;
  height:850px;
}
#u16191 {
  position:absolute;
  left:2px;
  top:417px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16193_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:90px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16193 {
  position:absolute;
  left:0px;
  top:944px;
  width:1280px;
  height:90px;
}
#u16194 {
  position:absolute;
  left:2px;
  top:37px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16195_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u16195 {
  position:absolute;
  left:35px;
  top:971px;
  width:94px;
  height:37px;
  color:#FFFFFF;
}
#u16196 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u16197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:38px;
}
#u16197 {
  position:absolute;
  left:1102px;
  top:990px;
  width:170px;
  height:38px;
  font-size:16px;
  color:#FF0000;
}
#u16198 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u16199_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
}
#u16199 {
  position:absolute;
  left:220px;
  top:150px;
  width:193px;
  height:38px;
  font-family:'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
}
#u16200 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u16201_div {
  position:absolute;
  left:0px;
  top:0px;
  width:820px;
  height:40px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u16201 {
  position:absolute;
  left:220px;
  top:201px;
  width:820px;
  height:40px;
  font-family:'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u16202 {
  position:absolute;
  left:10px;
  top:12px;
  width:808px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16203 {
  position:absolute;
  left:220px;
  top:241px;
  width:825px;
  height:509px;
}
#u16204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:45px;
}
#u16204 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:45px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u16205 {
  position:absolute;
  left:10px;
  top:14px;
  width:148px;
  word-wrap:break-word;
}
#u16206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:660px;
  height:45px;
}
#u16206 {
  position:absolute;
  left:160px;
  top:0px;
  width:660px;
  height:45px;
  color:#000000;
}
#u16207 {
  position:absolute;
  left:10px;
  top:14px;
  width:648px;
  word-wrap:break-word;
}
#u16208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:45px;
}
#u16208 {
  position:absolute;
  left:0px;
  top:45px;
  width:160px;
  height:45px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u16209 {
  position:absolute;
  left:10px;
  top:14px;
  width:148px;
  word-wrap:break-word;
}
#u16210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:660px;
  height:45px;
}
#u16210 {
  position:absolute;
  left:160px;
  top:45px;
  width:660px;
  height:45px;
  color:#000000;
}
#u16211 {
  position:absolute;
  left:10px;
  top:14px;
  width:648px;
  word-wrap:break-word;
}
#u16212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:273px;
}
#u16212 {
  position:absolute;
  left:0px;
  top:90px;
  width:160px;
  height:273px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u16213 {
  position:absolute;
  left:10px;
  top:128px;
  width:148px;
  word-wrap:break-word;
}
#u16214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:660px;
  height:273px;
}
#u16214 {
  position:absolute;
  left:160px;
  top:90px;
  width:660px;
  height:273px;
  color:#000000;
  text-align:left;
}
#u16215 {
  position:absolute;
  left:10px;
  top:8px;
  width:648px;
  word-wrap:break-word;
}
#u16216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:141px;
}
#u16216 {
  position:absolute;
  left:0px;
  top:363px;
  width:160px;
  height:141px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u16217 {
  position:absolute;
  left:10px;
  top:62px;
  width:148px;
  word-wrap:break-word;
}
#u16218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:660px;
  height:141px;
}
#u16218 {
  position:absolute;
  left:160px;
  top:363px;
  width:660px;
  height:141px;
  color:#000000;
  text-align:left;
}
#u16219 {
  position:absolute;
  left:10px;
  top:54px;
  width:648px;
  word-wrap:break-word;
}
#u16220_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u16220 {
  position:absolute;
  left:580px;
  top:849px;
  width:100px;
  height:30px;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u16220_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u16220.mouseOver {
}
#u16221 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u16222 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:126px;
}
#u16223 {
  position:absolute;
  left:389px;
  top:411px;
  width:209px;
  height:126px;
}
#u16224 {
  position:absolute;
  left:2px;
  top:55px;
  width:205px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16226 {
  position:absolute;
  left:11px;
  top:130px;
  width:171px;
  height:385px;
}
#u16226_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:391px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u16227 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:390px;
}
#u16228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:32px;
}
#u16228 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:32px;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u16228_img.mouseOver {
}
#u16228.mouseOver {
}
#u16228_img.selected {
}
#u16228.selected {
}
#u16229 {
  position:absolute;
  left:2px;
  top:7px;
  width:167px;
  word-wrap:break-word;
}
#u16230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:38px;
}
#u16230 {
  position:absolute;
  left:0px;
  top:32px;
  width:171px;
  height:38px;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u16230_img.mouseOver {
}
#u16230.mouseOver {
}
#u16230_img.selected {
}
#u16230.selected {
}
#u16231 {
  position:absolute;
  left:2px;
  top:10px;
  width:167px;
  word-wrap:break-word;
}
#u16232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u16232 {
  position:absolute;
  left:0px;
  top:70px;
  width:171px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u16232_img.mouseOver {
}
#u16232.mouseOver {
}
#u16232_img.selected {
}
#u16232.selected {
}
#u16233 {
  position:absolute;
  left:2px;
  top:9px;
  width:167px;
  word-wrap:break-word;
}
#u16234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u16234 {
  position:absolute;
  left:0px;
  top:105px;
  width:171px;
  height:35px;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u16234_img.mouseOver {
}
#u16234.mouseOver {
}
#u16234_img.selected {
}
#u16234.selected {
}
#u16235 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u16236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u16236 {
  position:absolute;
  left:0px;
  top:140px;
  width:171px;
  height:35px;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u16236_img.mouseOver {
}
#u16236.mouseOver {
}
#u16236_img.selected {
}
#u16236.selected {
}
#u16237 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u16238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u16238 {
  position:absolute;
  left:0px;
  top:175px;
  width:171px;
  height:35px;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u16238_img.mouseOver {
}
#u16238.mouseOver {
}
#u16238_img.selected {
}
#u16238.selected {
}
#u16239 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u16240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u16240 {
  position:absolute;
  left:0px;
  top:210px;
  width:171px;
  height:35px;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u16240_img.mouseOver {
}
#u16240.mouseOver {
}
#u16240_img.selected {
}
#u16240.selected {
}
#u16241 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u16242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u16242 {
  position:absolute;
  left:0px;
  top:245px;
  width:171px;
  height:35px;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u16242_img.mouseOver {
}
#u16242.mouseOver {
}
#u16242_img.selected {
}
#u16242.selected {
}
#u16243 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u16244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u16244 {
  position:absolute;
  left:0px;
  top:280px;
  width:171px;
  height:35px;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u16244_img.mouseOver {
}
#u16244.mouseOver {
}
#u16244_img.selected {
}
#u16244.selected {
}
#u16245 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u16246_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u16246 {
  position:absolute;
  left:0px;
  top:315px;
  width:171px;
  height:35px;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u16246_img.mouseOver {
}
#u16246.mouseOver {
}
#u16246_img.selected {
}
#u16246.selected {
}
#u16247 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u16248_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u16248 {
  position:absolute;
  left:0px;
  top:350px;
  width:171px;
  height:35px;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u16248_img.mouseOver {
}
#u16248.mouseOver {
}
#u16248_img.selected {
}
#u16248.selected {
}
#u16249 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u16250 {
  position:absolute;
  left:171px;
  top:245px;
  width:171px;
  height:35px;
  visibility:hidden;
}
#u16250_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:41px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u16251 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
}
#u16252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u16252 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u16252_img.mouseOver {
}
#u16252.mouseOver {
}
#u16252_img.selected {
}
#u16252.selected {
}
#u16253 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u16254 {
  position:absolute;
  left:171px;
  top:105px;
  width:202px;
  height:112px;
  visibility:hidden;
}
#u16254_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:208px;
  height:118px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u16255 {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:117px;
}
#u16256_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:36px;
}
#u16256 {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:36px;
  font-size:15px;
  color:#000000;
  text-align:center;
}
#u16256_img.mouseOver {
}
#u16256.mouseOver {
}
#u16256_img.selected {
}
#u16256.selected {
}
#u16257 {
  position:absolute;
  left:2px;
  top:10px;
  width:198px;
  word-wrap:break-word;
}
#u16258_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:38px;
}
#u16258 {
  position:absolute;
  left:0px;
  top:36px;
  width:202px;
  height:38px;
  font-size:15px;
  color:#000000;
  text-align:center;
}
#u16258_img.mouseOver {
}
#u16258.mouseOver {
}
#u16258_img.selected {
}
#u16258.selected {
}
#u16259 {
  position:absolute;
  left:2px;
  top:10px;
  width:198px;
  word-wrap:break-word;
}
#u16260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:38px;
}
#u16260 {
  position:absolute;
  left:0px;
  top:74px;
  width:202px;
  height:38px;
  font-size:15px;
  color:#000000;
  text-align:center;
}
#u16260_img.mouseOver {
}
#u16260.mouseOver {
}
#u16260_img.selected {
}
#u16260.selected {
}
#u16261 {
  position:absolute;
  left:2px;
  top:10px;
  width:198px;
  word-wrap:break-word;
}
#u16262 {
  position:absolute;
  left:171px;
  top:32px;
  width:150px;
  height:175px;
  visibility:hidden;
}
#u16262_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:156px;
  height:181px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u16263 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:180px;
}
#u16264_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u16264 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u16264_img.mouseOver {
}
#u16264.mouseOver {
}
#u16264_img.selected {
}
#u16264.selected {
}
#u16265 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u16266_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u16266 {
  position:absolute;
  left:0px;
  top:35px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u16266_img.mouseOver {
}
#u16266.mouseOver {
}
#u16266_img.selected {
}
#u16266.selected {
}
#u16267 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u16268_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u16268 {
  position:absolute;
  left:0px;
  top:70px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u16268_img.mouseOver {
}
#u16268.mouseOver {
}
#u16268_img.selected {
}
#u16268.selected {
}
#u16269 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u16270_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u16270 {
  position:absolute;
  left:0px;
  top:105px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u16270_img.mouseOver {
}
#u16270.mouseOver {
}
#u16270_img.selected {
}
#u16270.selected {
}
#u16271 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u16272_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u16272 {
  position:absolute;
  left:0px;
  top:140px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u16272_img.mouseOver {
}
#u16272.mouseOver {
}
#u16272_img.selected {
}
#u16272.selected {
}
#u16273 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u16274 {
  position:absolute;
  left:171px;
  top:70px;
  width:171px;
  height:35px;
  visibility:hidden;
}
#u16274_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:41px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u16275 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
}
#u16276_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u16276 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u16276_img.mouseOver {
}
#u16276.mouseOver {
}
#u16276_img.selected {
}
#u16276.selected {
}
#u16277 {
  position:absolute;
  left:2px;
  top:9px;
  width:167px;
  word-wrap:break-word;
}
#u16278 {
  position:absolute;
  left:171px;
  top:280px;
  width:171px;
  height:110px;
  visibility:hidden;
}
#u16278_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:116px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u16279 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:115px;
}
#u16280_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u16280 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u16280_img.mouseOver {
}
#u16280.mouseOver {
}
#u16280_img.selected {
}
#u16280.selected {
}
#u16281 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u16282_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u16282 {
  position:absolute;
  left:0px;
  top:35px;
  width:171px;
  height:35px;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u16282_img.mouseOver {
}
#u16282.mouseOver {
}
#u16282_img.selected {
}
#u16282.selected {
}
#u16283 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u16284_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:40px;
}
#u16284 {
  position:absolute;
  left:0px;
  top:70px;
  width:171px;
  height:40px;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u16284_img.mouseOver {
}
#u16284.mouseOver {
}
#u16284_img.selected {
}
#u16284.selected {
}
#u16285 {
  position:absolute;
  left:2px;
  top:11px;
  width:167px;
  word-wrap:break-word;
}
#u16286 {
  position:absolute;
  left:171px;
  top:315px;
  width:169px;
  height:210px;
  visibility:hidden;
}
#u16286_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:175px;
  height:216px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u16287 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:215px;
}
#u16288_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u16288 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u16288_img.mouseOver {
}
#u16288.mouseOver {
}
#u16288_img.selected {
}
#u16288.selected {
}
#u16289 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u16290_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u16290 {
  position:absolute;
  left:0px;
  top:35px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u16290_img.mouseOver {
}
#u16290.mouseOver {
}
#u16290_img.selected {
}
#u16290.selected {
}
#u16291 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u16292_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u16292 {
  position:absolute;
  left:0px;
  top:70px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u16292_img.mouseOver {
}
#u16292.mouseOver {
}
#u16292_img.selected {
}
#u16292.selected {
}
#u16293 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u16294_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u16294 {
  position:absolute;
  left:0px;
  top:105px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u16294_img.mouseOver {
}
#u16294.mouseOver {
}
#u16294_img.selected {
}
#u16294.selected {
}
#u16295 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u16296_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u16296 {
  position:absolute;
  left:0px;
  top:140px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u16296_img.mouseOver {
}
#u16296.mouseOver {
}
#u16296_img.selected {
}
#u16296.selected {
}
#u16297 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u16298_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u16298 {
  position:absolute;
  left:0px;
  top:175px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u16298_img.mouseOver {
}
#u16298.mouseOver {
}
#u16298_img.selected {
}
#u16298.selected {
}
#u16299 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u16300 {
  position:absolute;
  left:171px;
  top:350px;
  width:171px;
  height:35px;
  visibility:hidden;
}
#u16300_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:41px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u16301 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
}
#u16302_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u16302 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u16302_img.mouseOver {
}
#u16302.mouseOver {
}
#u16302_img.selected {
}
#u16302.selected {
}
#u16303 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u16304 {
  position:absolute;
  left:171px;
  top:210px;
  width:171px;
  height:35px;
  visibility:hidden;
}
#u16304_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:41px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u16305 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
}
#u16306_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u16306 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u16306_img.mouseOver {
}
#u16306.mouseOver {
}
#u16306_img.selected {
}
#u16306.selected {
}
#u16307 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u16308 {
  position:absolute;
  left:171px;
  top:175px;
  width:171px;
  height:70px;
  visibility:hidden;
}
#u16308_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:76px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u16309 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:75px;
}
#u16310_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u16310 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u16310_img.mouseOver {
}
#u16310.mouseOver {
}
#u16310_img.selected {
}
#u16310.selected {
}
#u16311 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u16312_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u16312 {
  position:absolute;
  left:0px;
  top:35px;
  width:171px;
  height:35px;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u16312_img.mouseOver {
}
#u16312.mouseOver {
}
#u16312_img.selected {
}
#u16312.selected {
}
#u16313 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u16314 {
  position:absolute;
  left:171px;
  top:140px;
  width:171px;
  height:70px;
  visibility:hidden;
}
#u16314_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:76px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u16315 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:75px;
}
#u16316_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u16316 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u16316_img.mouseOver {
}
#u16316.mouseOver {
}
#u16316_img.selected {
}
#u16316.selected {
}
#u16317 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u16318_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u16318 {
  position:absolute;
  left:0px;
  top:35px;
  width:171px;
  height:35px;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u16318_img.mouseOver {
}
#u16318.mouseOver {
}
#u16318_img.selected {
}
#u16318.selected {
}
#u16319 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u16321_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:110px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16321 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:110px;
}
#u16322 {
  position:absolute;
  left:2px;
  top:47px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16323 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16324_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
}
#u16324 {
  position:absolute;
  left:1061px;
  top:30px;
  width:129px;
  height:17px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
}
#u16325 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u16326_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
}
#u16326 {
  position:absolute;
  left:1197px;
  top:30px;
  width:39px;
  height:17px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
}
#u16327 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u16328_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:11px;
}
#u16328 {
  position:absolute;
  left:1188px;
  top:34px;
  width:1px;
  height:10px;
}
#u16329 {
  position:absolute;
  left:2px;
  top:-3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16330_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Rounded MT Bold';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u16330 {
  position:absolute;
  left:20px;
  top:30px;
  width:144px;
  height:55px;
  font-family:'Arial Rounded MT Bold';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u16331 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u16332 {
  position:absolute;
  left:1025px;
  top:24px;
  width:26px;
  height:30px;
}
#u16332_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:32px;
  height:36px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u16333 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:35px;
}
#u16334_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:30px;
}
#u16334 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:30px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
  text-align:center;
}
#u16334_img.selected {
}
#u16334.selected {
}
#u16335 {
  position:absolute;
  left:2px;
  top:6px;
  width:22px;
  word-wrap:break-word;
}
#u16336 {
  position:absolute;
  left:0px;
  top:30px;
  width:88px;
  height:139px;
  visibility:hidden;
}
#u16336_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:94px;
  height:145px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u16337 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:144px;
}
#u16338_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:34px;
}
#u16338 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:34px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u16338_img.selected {
}
#u16338.selected {
}
#u16339 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u16340_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u16340 {
  position:absolute;
  left:0px;
  top:34px;
  width:88px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u16340_img.selected {
}
#u16340.selected {
}
#u16341 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u16342_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u16342 {
  position:absolute;
  left:0px;
  top:69px;
  width:88px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u16342_img.selected {
}
#u16342.selected {
}
#u16343 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u16344_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u16344 {
  position:absolute;
  left:0px;
  top:104px;
  width:88px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u16344_img.selected {
}
#u16344.selected {
}
#u16345 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u16346_img {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:25px;
}
#u16346 {
  position:absolute;
  left:396px;
  top:34px;
  width:284px;
  height:25px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
  text-align:left;
}
#u16347 {
  position:absolute;
  left:2px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
