body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u21137_div {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:850px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21137 {
  position:absolute;
  left:0px;
  top:109px;
  width:191px;
  height:850px;
}
#u21138 {
  position:absolute;
  left:2px;
  top:417px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21140_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:90px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21140 {
  position:absolute;
  left:0px;
  top:944px;
  width:1280px;
  height:90px;
}
#u21141 {
  position:absolute;
  left:2px;
  top:37px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21142_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u21142 {
  position:absolute;
  left:35px;
  top:971px;
  width:94px;
  height:37px;
  color:#FFFFFF;
}
#u21143 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u21144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:38px;
}
#u21144 {
  position:absolute;
  left:1092px;
  top:990px;
  width:180px;
  height:38px;
  font-size:16px;
  color:#FF0000;
}
#u21145 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u21146_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
}
#u21146 {
  position:absolute;
  left:220px;
  top:150px;
  width:193px;
  height:38px;
  font-family:'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
}
#u21147 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u21148_div {
  position:absolute;
  left:0px;
  top:0px;
  width:820px;
  height:40px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u21148 {
  position:absolute;
  left:220px;
  top:201px;
  width:820px;
  height:40px;
  font-family:'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u21149 {
  position:absolute;
  left:10px;
  top:12px;
  width:808px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21150 {
  position:absolute;
  left:220px;
  top:241px;
  width:825px;
  height:509px;
}
#u21151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:45px;
}
#u21151 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:45px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u21152 {
  position:absolute;
  left:10px;
  top:14px;
  width:148px;
  word-wrap:break-word;
}
#u21153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:660px;
  height:45px;
}
#u21153 {
  position:absolute;
  left:160px;
  top:0px;
  width:660px;
  height:45px;
  color:#000000;
}
#u21154 {
  position:absolute;
  left:10px;
  top:14px;
  width:648px;
  word-wrap:break-word;
}
#u21155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:45px;
}
#u21155 {
  position:absolute;
  left:0px;
  top:45px;
  width:160px;
  height:45px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u21156 {
  position:absolute;
  left:10px;
  top:14px;
  width:148px;
  word-wrap:break-word;
}
#u21157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:660px;
  height:45px;
}
#u21157 {
  position:absolute;
  left:160px;
  top:45px;
  width:660px;
  height:45px;
  color:#000000;
}
#u21158 {
  position:absolute;
  left:10px;
  top:14px;
  width:648px;
  word-wrap:break-word;
}
#u21159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:273px;
}
#u21159 {
  position:absolute;
  left:0px;
  top:90px;
  width:160px;
  height:273px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u21160 {
  position:absolute;
  left:10px;
  top:128px;
  width:148px;
  word-wrap:break-word;
}
#u21161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:660px;
  height:273px;
}
#u21161 {
  position:absolute;
  left:160px;
  top:90px;
  width:660px;
  height:273px;
  color:#000000;
  text-align:left;
}
#u21162 {
  position:absolute;
  left:10px;
  top:8px;
  width:648px;
  word-wrap:break-word;
}
#u21163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:141px;
}
#u21163 {
  position:absolute;
  left:0px;
  top:363px;
  width:160px;
  height:141px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u21164 {
  position:absolute;
  left:10px;
  top:62px;
  width:148px;
  word-wrap:break-word;
}
#u21165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:660px;
  height:141px;
}
#u21165 {
  position:absolute;
  left:160px;
  top:363px;
  width:660px;
  height:141px;
  color:#000000;
  text-align:left;
}
#u21166 {
  position:absolute;
  left:10px;
  top:54px;
  width:648px;
  word-wrap:break-word;
}
#u21167_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u21167 {
  position:absolute;
  left:580px;
  top:849px;
  width:100px;
  height:30px;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u21167_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u21167.mouseOver {
}
#u21168 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u21169 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:126px;
}
#u21170 {
  position:absolute;
  left:389px;
  top:411px;
  width:209px;
  height:126px;
}
#u21171 {
  position:absolute;
  left:2px;
  top:55px;
  width:205px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21173 {
  position:absolute;
  left:11px;
  top:130px;
  width:171px;
  height:385px;
}
#u21173_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:391px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u21174 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:390px;
}
#u21175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:32px;
}
#u21175 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:32px;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u21175_img.mouseOver {
}
#u21175.mouseOver {
}
#u21175_img.selected {
}
#u21175.selected {
}
#u21176 {
  position:absolute;
  left:2px;
  top:7px;
  width:167px;
  word-wrap:break-word;
}
#u21177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:38px;
}
#u21177 {
  position:absolute;
  left:0px;
  top:32px;
  width:171px;
  height:38px;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u21177_img.mouseOver {
}
#u21177.mouseOver {
}
#u21177_img.selected {
}
#u21177.selected {
}
#u21178 {
  position:absolute;
  left:2px;
  top:10px;
  width:167px;
  word-wrap:break-word;
}
#u21179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u21179 {
  position:absolute;
  left:0px;
  top:70px;
  width:171px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u21179_img.mouseOver {
}
#u21179.mouseOver {
}
#u21179_img.selected {
}
#u21179.selected {
}
#u21180 {
  position:absolute;
  left:2px;
  top:9px;
  width:167px;
  word-wrap:break-word;
}
#u21181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u21181 {
  position:absolute;
  left:0px;
  top:105px;
  width:171px;
  height:35px;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u21181_img.mouseOver {
}
#u21181.mouseOver {
}
#u21181_img.selected {
}
#u21181.selected {
}
#u21182 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u21183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u21183 {
  position:absolute;
  left:0px;
  top:140px;
  width:171px;
  height:35px;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u21183_img.mouseOver {
}
#u21183.mouseOver {
}
#u21183_img.selected {
}
#u21183.selected {
}
#u21184 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u21185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u21185 {
  position:absolute;
  left:0px;
  top:175px;
  width:171px;
  height:35px;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u21185_img.mouseOver {
}
#u21185.mouseOver {
}
#u21185_img.selected {
}
#u21185.selected {
}
#u21186 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u21187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u21187 {
  position:absolute;
  left:0px;
  top:210px;
  width:171px;
  height:35px;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u21187_img.mouseOver {
}
#u21187.mouseOver {
}
#u21187_img.selected {
}
#u21187.selected {
}
#u21188 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u21189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u21189 {
  position:absolute;
  left:0px;
  top:245px;
  width:171px;
  height:35px;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u21189_img.mouseOver {
}
#u21189.mouseOver {
}
#u21189_img.selected {
}
#u21189.selected {
}
#u21190 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u21191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u21191 {
  position:absolute;
  left:0px;
  top:280px;
  width:171px;
  height:35px;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u21191_img.mouseOver {
}
#u21191.mouseOver {
}
#u21191_img.selected {
}
#u21191.selected {
}
#u21192 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u21193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u21193 {
  position:absolute;
  left:0px;
  top:315px;
  width:171px;
  height:35px;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u21193_img.mouseOver {
}
#u21193.mouseOver {
}
#u21193_img.selected {
}
#u21193.selected {
}
#u21194 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u21195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u21195 {
  position:absolute;
  left:0px;
  top:350px;
  width:171px;
  height:35px;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u21195_img.mouseOver {
}
#u21195.mouseOver {
}
#u21195_img.selected {
}
#u21195.selected {
}
#u21196 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u21197 {
  position:absolute;
  left:171px;
  top:245px;
  width:171px;
  height:70px;
  visibility:hidden;
}
#u21197_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:76px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u21198 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:75px;
}
#u21199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u21199 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u21199_img.mouseOver {
}
#u21199.mouseOver {
}
#u21199_img.selected {
}
#u21199.selected {
}
#u21200 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u21201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u21201 {
  position:absolute;
  left:0px;
  top:35px;
  width:171px;
  height:35px;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u21201_img.mouseOver {
}
#u21201.mouseOver {
}
#u21201_img.selected {
}
#u21201.selected {
}
#u21202 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u21203 {
  position:absolute;
  left:171px;
  top:105px;
  width:202px;
  height:74px;
  visibility:hidden;
}
#u21203_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:208px;
  height:80px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u21204 {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:79px;
}
#u21205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:36px;
}
#u21205 {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:36px;
  font-size:15px;
  color:#000000;
  text-align:center;
}
#u21205_img.mouseOver {
}
#u21205.mouseOver {
}
#u21205_img.selected {
}
#u21205.selected {
}
#u21206 {
  position:absolute;
  left:2px;
  top:10px;
  width:198px;
  word-wrap:break-word;
}
#u21207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:38px;
}
#u21207 {
  position:absolute;
  left:0px;
  top:36px;
  width:202px;
  height:38px;
  font-size:15px;
  color:#000000;
  text-align:center;
}
#u21207_img.mouseOver {
}
#u21207.mouseOver {
}
#u21207_img.selected {
}
#u21207.selected {
}
#u21208 {
  position:absolute;
  left:2px;
  top:10px;
  width:198px;
  word-wrap:break-word;
}
#u21209 {
  position:absolute;
  left:171px;
  top:32px;
  width:150px;
  height:175px;
  visibility:hidden;
}
#u21209_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:156px;
  height:181px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u21210 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:180px;
}
#u21211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u21211 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u21211_img.mouseOver {
}
#u21211.mouseOver {
}
#u21211_img.selected {
}
#u21211.selected {
}
#u21212 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u21213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u21213 {
  position:absolute;
  left:0px;
  top:35px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u21213_img.mouseOver {
}
#u21213.mouseOver {
}
#u21213_img.selected {
}
#u21213.selected {
}
#u21214 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u21215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u21215 {
  position:absolute;
  left:0px;
  top:70px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u21215_img.mouseOver {
}
#u21215.mouseOver {
}
#u21215_img.selected {
}
#u21215.selected {
}
#u21216 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u21217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u21217 {
  position:absolute;
  left:0px;
  top:105px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u21217_img.mouseOver {
}
#u21217.mouseOver {
}
#u21217_img.selected {
}
#u21217.selected {
}
#u21218 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u21219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u21219 {
  position:absolute;
  left:0px;
  top:140px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u21219_img.mouseOver {
}
#u21219.mouseOver {
}
#u21219_img.selected {
}
#u21219.selected {
}
#u21220 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u21221 {
  position:absolute;
  left:171px;
  top:70px;
  width:171px;
  height:35px;
  visibility:hidden;
}
#u21221_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:41px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u21222 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
}
#u21223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u21223 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u21223_img.mouseOver {
}
#u21223.mouseOver {
}
#u21223_img.selected {
}
#u21223.selected {
}
#u21224 {
  position:absolute;
  left:2px;
  top:9px;
  width:167px;
  word-wrap:break-word;
}
#u21225 {
  position:absolute;
  left:171px;
  top:280px;
  width:171px;
  height:110px;
  visibility:hidden;
}
#u21225_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:116px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u21226 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:115px;
}
#u21227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u21227 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u21227_img.mouseOver {
}
#u21227.mouseOver {
}
#u21227_img.selected {
}
#u21227.selected {
}
#u21228 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u21229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u21229 {
  position:absolute;
  left:0px;
  top:35px;
  width:171px;
  height:35px;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u21229_img.mouseOver {
}
#u21229.mouseOver {
}
#u21229_img.selected {
}
#u21229.selected {
}
#u21230 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u21231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:40px;
}
#u21231 {
  position:absolute;
  left:0px;
  top:70px;
  width:171px;
  height:40px;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u21231_img.mouseOver {
}
#u21231.mouseOver {
}
#u21231_img.selected {
}
#u21231.selected {
}
#u21232 {
  position:absolute;
  left:2px;
  top:11px;
  width:167px;
  word-wrap:break-word;
}
#u21233 {
  position:absolute;
  left:171px;
  top:315px;
  width:169px;
  height:175px;
  visibility:hidden;
}
#u21233_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:175px;
  height:181px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u21234 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:180px;
}
#u21235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u21235 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u21235_img.mouseOver {
}
#u21235.mouseOver {
}
#u21235_img.selected {
}
#u21235.selected {
}
#u21236 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u21237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u21237 {
  position:absolute;
  left:0px;
  top:35px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u21237_img.mouseOver {
}
#u21237.mouseOver {
}
#u21237_img.selected {
}
#u21237.selected {
}
#u21238 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u21239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u21239 {
  position:absolute;
  left:0px;
  top:70px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u21239_img.mouseOver {
}
#u21239.mouseOver {
}
#u21239_img.selected {
}
#u21239.selected {
}
#u21240 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u21241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u21241 {
  position:absolute;
  left:0px;
  top:105px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u21241_img.mouseOver {
}
#u21241.mouseOver {
}
#u21241_img.selected {
}
#u21241.selected {
}
#u21242 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u21243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u21243 {
  position:absolute;
  left:0px;
  top:140px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u21243_img.mouseOver {
}
#u21243.mouseOver {
}
#u21243_img.selected {
}
#u21243.selected {
}
#u21244 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u21245 {
  position:absolute;
  left:171px;
  top:350px;
  width:171px;
  height:35px;
  visibility:hidden;
}
#u21245_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:41px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u21246 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
}
#u21247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u21247 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u21247_img.mouseOver {
}
#u21247.mouseOver {
}
#u21247_img.selected {
}
#u21247.selected {
}
#u21248 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u21249 {
  position:absolute;
  left:171px;
  top:210px;
  width:171px;
  height:35px;
  visibility:hidden;
}
#u21249_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:41px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u21250 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
}
#u21251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u21251 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u21251_img.mouseOver {
}
#u21251.mouseOver {
}
#u21251_img.selected {
}
#u21251.selected {
}
#u21252 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u21253 {
  position:absolute;
  left:171px;
  top:175px;
  width:171px;
  height:70px;
  visibility:hidden;
}
#u21253_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:76px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u21254 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:75px;
}
#u21255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u21255 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u21255_img.mouseOver {
}
#u21255.mouseOver {
}
#u21255_img.selected {
}
#u21255.selected {
}
#u21256 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u21257_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u21257 {
  position:absolute;
  left:0px;
  top:35px;
  width:171px;
  height:35px;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u21257_img.mouseOver {
}
#u21257.mouseOver {
}
#u21257_img.selected {
}
#u21257.selected {
}
#u21258 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u21259 {
  position:absolute;
  left:171px;
  top:140px;
  width:171px;
  height:70px;
  visibility:hidden;
}
#u21259_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:76px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u21260 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:75px;
}
#u21261_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u21261 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u21261_img.mouseOver {
}
#u21261.mouseOver {
}
#u21261_img.selected {
}
#u21261.selected {
}
#u21262 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u21263_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u21263 {
  position:absolute;
  left:0px;
  top:35px;
  width:171px;
  height:35px;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u21263_img.mouseOver {
}
#u21263.mouseOver {
}
#u21263_img.selected {
}
#u21263.selected {
}
#u21264 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u21266_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:110px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21266 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:110px;
}
#u21267 {
  position:absolute;
  left:2px;
  top:47px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21268 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21269_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
}
#u21269 {
  position:absolute;
  left:1061px;
  top:30px;
  width:129px;
  height:17px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
}
#u21270 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u21271_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
}
#u21271 {
  position:absolute;
  left:1197px;
  top:30px;
  width:39px;
  height:17px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
}
#u21272 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u21273_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:11px;
}
#u21273 {
  position:absolute;
  left:1188px;
  top:34px;
  width:1px;
  height:10px;
}
#u21274 {
  position:absolute;
  left:2px;
  top:-3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21275_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Rounded MT Bold';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u21275 {
  position:absolute;
  left:20px;
  top:30px;
  width:144px;
  height:55px;
  font-family:'Arial Rounded MT Bold';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u21276 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u21277 {
  position:absolute;
  left:1025px;
  top:24px;
  width:26px;
  height:30px;
}
#u21277_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:32px;
  height:36px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u21278 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:35px;
}
#u21279_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:30px;
}
#u21279 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:30px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
  text-align:center;
}
#u21279_img.selected {
}
#u21279.selected {
}
#u21280 {
  position:absolute;
  left:2px;
  top:6px;
  width:22px;
  word-wrap:break-word;
}
#u21281 {
  position:absolute;
  left:0px;
  top:30px;
  width:88px;
  height:139px;
  visibility:hidden;
}
#u21281_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:94px;
  height:145px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u21282 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:144px;
}
#u21283_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:34px;
}
#u21283 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:34px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u21283_img.selected {
}
#u21283.selected {
}
#u21284 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u21285_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u21285 {
  position:absolute;
  left:0px;
  top:34px;
  width:88px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u21285_img.selected {
}
#u21285.selected {
}
#u21286 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u21287_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u21287 {
  position:absolute;
  left:0px;
  top:69px;
  width:88px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u21287_img.selected {
}
#u21287.selected {
}
#u21288 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u21289_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u21289 {
  position:absolute;
  left:0px;
  top:104px;
  width:88px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u21289_img.selected {
}
#u21289.selected {
}
#u21290 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u21291_img {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:25px;
}
#u21291 {
  position:absolute;
  left:396px;
  top:34px;
  width:284px;
  height:25px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
  text-align:left;
}
#u21292 {
  position:absolute;
  left:2px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
