body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1216px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:990px;
  height:95px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8914 {
  position:absolute;
  left:0px;
  top:0px;
  width:990px;
  height:95px;
}
#u8915 {
  position:absolute;
  left:2px;
  top:40px;
  width:986px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8916_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8916 {
  position:absolute;
  left:811px;
  top:18px;
  width:99px;
  height:16px;
}
#u8917 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u8918_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8918 {
  position:absolute;
  left:916px;
  top:14px;
  width:61px;
  height:23px;
}
#u8919 {
  position:absolute;
  left:2px;
  top:4px;
  width:57px;
  word-wrap:break-word;
}
#u8920_img {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:25px;
}
#u8920 {
  position:absolute;
  left:368px;
  top:17px;
  width:284px;
  height:25px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
  text-align:left;
}
#u8921 {
  position:absolute;
  left:2px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
#u8922_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:76px;
}
#u8922 {
  position:absolute;
  left:20px;
  top:10px;
  width:200px;
  height:75px;
  font-size:14px;
}
#u8923 {
  position:absolute;
  left:2px;
  top:30px;
  width:196px;
  word-wrap:break-word;
}
#u8924 {
  position:absolute;
  left:244px;
  top:65px;
  width:746px;
  height:30px;
}
#u8924_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:752px;
  height:36px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u8925 {
  position:absolute;
  left:0px;
  top:0px;
  width:751px;
  height:35px;
}
#u8926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:30px;
}
#u8926 {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:30px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
  text-align:center;
}
#u8926_img.selected {
}
#u8926.selected {
}
#u8927 {
  position:absolute;
  left:2px;
  top:6px;
  width:182px;
  word-wrap:break-word;
}
#u8928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:30px;
}
#u8928 {
  position:absolute;
  left:186px;
  top:0px;
  width:186px;
  height:30px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
  text-align:center;
}
#u8928_img.selected {
}
#u8928.selected {
}
#u8929 {
  position:absolute;
  left:2px;
  top:6px;
  width:182px;
  word-wrap:break-word;
}
#u8930_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:30px;
}
#u8930 {
  position:absolute;
  left:372px;
  top:0px;
  width:186px;
  height:30px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
  text-align:center;
}
#u8930_img.selected {
}
#u8930.selected {
}
#u8931 {
  position:absolute;
  left:2px;
  top:6px;
  width:182px;
  word-wrap:break-word;
}
#u8932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:30px;
}
#u8932 {
  position:absolute;
  left:558px;
  top:0px;
  width:188px;
  height:30px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
  text-align:center;
}
#u8932_img.selected {
}
#u8932.selected {
}
#u8933 {
  position:absolute;
  left:2px;
  top:6px;
  width:184px;
  word-wrap:break-word;
}
#u8934 {
  position:absolute;
  left:558px;
  top:30px;
  width:187px;
  height:70px;
  visibility:hidden;
}
#u8934_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:193px;
  height:76px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u8935 {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:75px;
}
#u8936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:35px;
}
#u8936 {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u8936_img.selected {
}
#u8936.selected {
}
#u8937 {
  position:absolute;
  left:2px;
  top:8px;
  width:183px;
  word-wrap:break-word;
}
#u8938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:35px;
}
#u8938 {
  position:absolute;
  left:0px;
  top:35px;
  width:187px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u8938_img.selected {
}
#u8938.selected {
}
#u8939 {
  position:absolute;
  left:2px;
  top:8px;
  width:183px;
  word-wrap:break-word;
}
#u8940 {
  position:absolute;
  left:186px;
  top:30px;
  width:186px;
  height:102px;
  visibility:hidden;
}
#u8940_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:192px;
  height:108px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u8941 {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:107px;
}
#u8942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:34px;
}
#u8942 {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:34px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u8942_img.selected {
}
#u8942.selected {
}
#u8943 {
  position:absolute;
  left:2px;
  top:8px;
  width:182px;
  word-wrap:break-word;
}
#u8944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:34px;
}
#u8944 {
  position:absolute;
  left:0px;
  top:34px;
  width:186px;
  height:34px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u8944_img.selected {
}
#u8944.selected {
}
#u8945 {
  position:absolute;
  left:2px;
  top:8px;
  width:182px;
  word-wrap:break-word;
}
#u8946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:34px;
}
#u8946 {
  position:absolute;
  left:0px;
  top:68px;
  width:186px;
  height:34px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u8946_img.selected {
}
#u8946.selected {
}
#u8947 {
  position:absolute;
  left:2px;
  top:8px;
  width:182px;
  word-wrap:break-word;
}
#u8948 {
  position:absolute;
  left:775px;
  top:14px;
  width:26px;
  height:27px;
}
#u8948_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:32px;
  height:33px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u8949 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:32px;
}
#u8950_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:27px;
}
#u8950 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:27px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
  text-align:center;
}
#u8950_img.selected {
}
#u8950.selected {
}
#u8951 {
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  word-wrap:break-word;
}
#u8952 {
  position:absolute;
  left:0px;
  top:27px;
  width:88px;
  height:139px;
  visibility:hidden;
}
#u8952_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:94px;
  height:145px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u8953 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:144px;
}
#u8954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:34px;
}
#u8954 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:34px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u8954_img.selected {
}
#u8954.selected {
}
#u8955 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u8956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u8956 {
  position:absolute;
  left:0px;
  top:34px;
  width:88px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u8956_img.selected {
}
#u8956.selected {
}
#u8957 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u8958_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u8958 {
  position:absolute;
  left:0px;
  top:69px;
  width:88px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u8958_img.selected {
}
#u8958.selected {
}
#u8959 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u8960_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u8960 {
  position:absolute;
  left:0px;
  top:104px;
  width:88px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u8960_img.selected {
}
#u8960.selected {
}
#u8961 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u8963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:990px;
  height:68px;
}
#u8963 {
  position:absolute;
  left:-12px;
  top:804px;
  width:990px;
  height:68px;
  color:#1A769A;
}
#u8964 {
  position:absolute;
  left:2px;
  top:-6px;
  width:986px;
  word-wrap:break-word;
}
#u8965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:38px;
}
#u8965 {
  position:absolute;
  left:799px;
  top:831px;
  width:170px;
  height:38px;
  font-size:16px;
  color:#FF0000;
}
#u8966 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u8967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:819px;
  height:354px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8967 {
  position:absolute;
  left:85px;
  top:196px;
  width:819px;
  height:354px;
}
#u8968 {
  position:absolute;
  left:2px;
  top:169px;
  width:815px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:819px;
  height:40px;
  background:inherit;
  background-color:rgba(2, 104, 144, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-bottom:0px;
  border-radius:5px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u8969 {
  position:absolute;
  left:86px;
  top:156px;
  width:819px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u8970 {
  position:absolute;
  left:20px;
  top:10px;
  width:797px;
  word-wrap:break-word;
}
#u8971 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:right;
}
#u8972 {
  position:absolute;
  left:178px;
  top:215px;
  width:175px;
  height:19px;
  font-size:16px;
  text-align:right;
}
#u8973 {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  word-wrap:break-word;
}
#u8974 {
  position:absolute;
  left:357px;
  top:211px;
  width:200px;
  height:25px;
}
#u8974_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u8975 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:right;
}
#u8976 {
  position:absolute;
  left:99px;
  top:256px;
  width:254px;
  height:19px;
  font-size:16px;
  text-align:right;
}
#u8977 {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  word-wrap:break-word;
}
#u8978 {
  position:absolute;
  left:357px;
  top:253px;
  width:200px;
  height:25px;
}
#u8978_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u8979 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:right;
}
#u8980 {
  position:absolute;
  left:178px;
  top:298px;
  width:175px;
  height:19px;
  font-size:16px;
  text-align:right;
}
#u8981 {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  word-wrap:break-word;
}
#u8982 {
  position:absolute;
  left:357px;
  top:294px;
  width:200px;
  height:25px;
}
#u8982_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:left;
}
#u8983 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:right;
}
#u8984 {
  position:absolute;
  left:178px;
  top:340px;
  width:175px;
  height:19px;
  font-size:16px;
  text-align:right;
}
#u8985 {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  word-wrap:break-word;
}
#u8986 {
  position:absolute;
  left:357px;
  top:336px;
  width:200px;
  height:25px;
}
#u8986_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:left;
}
#u8987 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:right;
}
#u8988 {
  position:absolute;
  left:178px;
  top:382px;
  width:175px;
  height:19px;
  font-size:16px;
  text-align:right;
}
#u8989 {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  word-wrap:break-word;
}
#u8990 {
  position:absolute;
  left:357px;
  top:378px;
  width:200px;
  height:25px;
}
#u8990_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:left;
}
#u8991 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:right;
}
#u8992 {
  position:absolute;
  left:148px;
  top:423px;
  width:205px;
  height:19px;
  font-size:16px;
  text-align:right;
}
#u8993 {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  word-wrap:break-word;
}
#u8994 {
  position:absolute;
  left:357px;
  top:419px;
  width:200px;
  height:25px;
}
#u8994_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:left;
}
#u8995 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:right;
}
#u8996 {
  position:absolute;
  left:148px;
  top:465px;
  width:205px;
  height:19px;
  font-size:16px;
  text-align:right;
}
#u8997 {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  word-wrap:break-word;
}
#u8998 {
  position:absolute;
  left:357px;
  top:461px;
  width:200px;
  height:25px;
}
#u8998_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:left;
}
#u8999 {
  position:absolute;
  left:504px;
  top:508px;
  width:73px;
  height:30px;
}
#u8999_input {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:30px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u9000 {
  position:absolute;
  left:392px;
  top:508px;
  width:73px;
  height:30px;
}
#u9000_input {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:30px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u9001 {
  position:absolute;
  left:328px;
  top:278px;
  width:310px;
  height:162px;
  overflow:hidden;
  visibility:hidden;
}
#u9001_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:162px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u9001_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:160px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u9002 {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:160px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u9003 {
  position:absolute;
  left:20px;
  top:20px;
  width:330px;
  word-wrap:break-word;
}
#u9004 {
  position:absolute;
  left:161px;
  top:75px;
  width:75px;
  height:25px;
}
#u9004_input {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u9005 {
  position:absolute;
  left:60px;
  top:75px;
  width:75px;
  height:25px;
}
#u9005_input {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u9006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:76px;
}
#u9006 {
  position:absolute;
  left:914px;
  top:253px;
  width:314px;
  height:76px;
  font-size:16px;
  color:#FF0000;
}
#u9007 {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  word-wrap:break-word;
}
