body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u22607_div {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:761px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22607 {
  position:absolute;
  left:0px;
  top:109px;
  width:191px;
  height:761px;
}
#u22608 {
  position:absolute;
  left:2px;
  top:372px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22610_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:110px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22610 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:110px;
}
#u22611 {
  position:absolute;
  left:2px;
  top:47px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22612 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22613_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
}
#u22613 {
  position:absolute;
  left:1061px;
  top:30px;
  width:129px;
  height:17px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
}
#u22614 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u22615_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
}
#u22615 {
  position:absolute;
  left:1197px;
  top:30px;
  width:39px;
  height:17px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
}
#u22616 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u22617_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:11px;
}
#u22617 {
  position:absolute;
  left:1188px;
  top:34px;
  width:1px;
  height:10px;
}
#u22618 {
  position:absolute;
  left:2px;
  top:-3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22619_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Rounded MT Bold';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u22619 {
  position:absolute;
  left:20px;
  top:30px;
  width:144px;
  height:55px;
  font-family:'Arial Rounded MT Bold';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u22620 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u22621 {
  position:absolute;
  left:1025px;
  top:24px;
  width:26px;
  height:30px;
}
#u22621_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:32px;
  height:36px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u22622 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:35px;
}
#u22623_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:30px;
}
#u22623 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:30px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
  text-align:center;
}
#u22623_img.selected {
}
#u22623.selected {
}
#u22624 {
  position:absolute;
  left:2px;
  top:6px;
  width:22px;
  word-wrap:break-word;
}
#u22625 {
  position:absolute;
  left:0px;
  top:30px;
  width:88px;
  height:139px;
  visibility:hidden;
}
#u22625_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:94px;
  height:145px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u22626 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:144px;
}
#u22627_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:34px;
}
#u22627 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:34px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u22627_img.selected {
}
#u22627.selected {
}
#u22628 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u22629_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u22629 {
  position:absolute;
  left:0px;
  top:34px;
  width:88px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u22629_img.selected {
}
#u22629.selected {
}
#u22630 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u22631_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u22631 {
  position:absolute;
  left:0px;
  top:69px;
  width:88px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u22631_img.selected {
}
#u22631.selected {
}
#u22632 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u22633_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u22633 {
  position:absolute;
  left:0px;
  top:104px;
  width:88px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u22633_img.selected {
}
#u22633.selected {
}
#u22634 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u22635_img {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:25px;
}
#u22635 {
  position:absolute;
  left:396px;
  top:34px;
  width:284px;
  height:25px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
  text-align:left;
}
#u22636 {
  position:absolute;
  left:2px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
#u22638 {
  position:absolute;
  left:11px;
  top:130px;
  width:171px;
  height:385px;
}
#u22638_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:391px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u22639 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:390px;
}
#u22640_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:32px;
}
#u22640 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:32px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u22640_img.mouseOver {
}
#u22640.mouseOver {
}
#u22640_img.selected {
}
#u22640.selected {
}
#u22641 {
  position:absolute;
  left:2px;
  top:7px;
  width:167px;
  word-wrap:break-word;
}
#u22642_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:38px;
}
#u22642 {
  position:absolute;
  left:0px;
  top:32px;
  width:171px;
  height:38px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u22642_img.mouseOver {
}
#u22642.mouseOver {
}
#u22642_img.selected {
}
#u22642.selected {
}
#u22643 {
  position:absolute;
  left:2px;
  top:10px;
  width:167px;
  word-wrap:break-word;
}
#u22644_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u22644 {
  position:absolute;
  left:0px;
  top:70px;
  width:171px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u22644_img.mouseOver {
}
#u22644.mouseOver {
}
#u22644_img.selected {
}
#u22644.selected {
}
#u22645 {
  position:absolute;
  left:2px;
  top:9px;
  width:167px;
  word-wrap:break-word;
}
#u22646_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u22646 {
  position:absolute;
  left:0px;
  top:105px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u22646_img.mouseOver {
}
#u22646.mouseOver {
}
#u22646_img.selected {
}
#u22646.selected {
}
#u22647 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u22648_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u22648 {
  position:absolute;
  left:0px;
  top:140px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u22648_img.mouseOver {
}
#u22648.mouseOver {
}
#u22648_img.selected {
}
#u22648.selected {
}
#u22649 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u22650_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u22650 {
  position:absolute;
  left:0px;
  top:175px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u22650_img.mouseOver {
}
#u22650.mouseOver {
}
#u22650_img.selected {
}
#u22650.selected {
}
#u22651 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u22652_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u22652 {
  position:absolute;
  left:0px;
  top:210px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u22652_img.mouseOver {
}
#u22652.mouseOver {
}
#u22652_img.selected {
}
#u22652.selected {
}
#u22653 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u22654_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u22654 {
  position:absolute;
  left:0px;
  top:245px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u22654_img.mouseOver {
}
#u22654.mouseOver {
}
#u22654_img.selected {
}
#u22654.selected {
}
#u22655 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u22656_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u22656 {
  position:absolute;
  left:0px;
  top:280px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u22656_img.mouseOver {
}
#u22656.mouseOver {
}
#u22656_img.selected {
}
#u22656.selected {
}
#u22657 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u22658_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u22658 {
  position:absolute;
  left:0px;
  top:315px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u22658_img.mouseOver {
}
#u22658.mouseOver {
}
#u22658_img.selected {
}
#u22658.selected {
}
#u22659 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u22660_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u22660 {
  position:absolute;
  left:0px;
  top:350px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u22660_img.mouseOver {
}
#u22660.mouseOver {
}
#u22660_img.selected {
}
#u22660.selected {
}
#u22661 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u22662 {
  position:absolute;
  left:171px;
  top:245px;
  width:171px;
  height:35px;
  visibility:hidden;
}
#u22662_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:41px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u22663 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
}
#u22664_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u22664 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u22664_img.mouseOver {
}
#u22664.mouseOver {
}
#u22664_img.selected {
}
#u22664.selected {
}
#u22665 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u22666 {
  position:absolute;
  left:171px;
  top:105px;
  width:202px;
  height:76px;
  visibility:hidden;
}
#u22666_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:208px;
  height:82px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u22667 {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:81px;
}
#u22668_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:38px;
}
#u22668 {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:38px;
  font-size:15px;
  color:#000000;
  text-align:center;
}
#u22668_img.mouseOver {
}
#u22668.mouseOver {
}
#u22668_img.selected {
}
#u22668.selected {
}
#u22669 {
  position:absolute;
  left:2px;
  top:10px;
  width:198px;
  word-wrap:break-word;
}
#u22670_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:38px;
}
#u22670 {
  position:absolute;
  left:0px;
  top:38px;
  width:202px;
  height:38px;
  font-size:15px;
  color:#000000;
  text-align:center;
}
#u22670_img.mouseOver {
}
#u22670.mouseOver {
}
#u22670_img.selected {
}
#u22670.selected {
}
#u22671 {
  position:absolute;
  left:2px;
  top:10px;
  width:198px;
  word-wrap:break-word;
}
#u22672 {
  position:absolute;
  left:171px;
  top:32px;
  width:150px;
  height:175px;
  visibility:hidden;
}
#u22672_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:156px;
  height:181px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u22673 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:180px;
}
#u22674_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u22674 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u22674_img.mouseOver {
}
#u22674.mouseOver {
}
#u22674_img.selected {
}
#u22674.selected {
}
#u22675 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u22676_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u22676 {
  position:absolute;
  left:0px;
  top:35px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u22676_img.mouseOver {
}
#u22676.mouseOver {
}
#u22676_img.selected {
}
#u22676.selected {
}
#u22677 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u22678_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u22678 {
  position:absolute;
  left:0px;
  top:70px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u22678_img.mouseOver {
}
#u22678.mouseOver {
}
#u22678_img.selected {
}
#u22678.selected {
}
#u22679 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u22680_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u22680 {
  position:absolute;
  left:0px;
  top:105px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u22680_img.mouseOver {
}
#u22680.mouseOver {
}
#u22680_img.selected {
}
#u22680.selected {
}
#u22681 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u22682_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u22682 {
  position:absolute;
  left:0px;
  top:140px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u22682_img.mouseOver {
}
#u22682.mouseOver {
}
#u22682_img.selected {
}
#u22682.selected {
}
#u22683 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u22684 {
  position:absolute;
  left:171px;
  top:70px;
  width:171px;
  height:35px;
  visibility:hidden;
}
#u22684_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:41px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u22685 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
}
#u22686_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u22686 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u22686_img.mouseOver {
}
#u22686.mouseOver {
}
#u22686_img.selected {
}
#u22686.selected {
}
#u22687 {
  position:absolute;
  left:2px;
  top:9px;
  width:167px;
  word-wrap:break-word;
}
#u22688 {
  position:absolute;
  left:171px;
  top:280px;
  width:171px;
  height:110px;
  visibility:hidden;
}
#u22688_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:116px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u22689 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:115px;
}
#u22690_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u22690 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u22690_img.mouseOver {
}
#u22690.mouseOver {
}
#u22690_img.selected {
}
#u22690.selected {
}
#u22691 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u22692_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u22692 {
  position:absolute;
  left:0px;
  top:35px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u22692_img.mouseOver {
}
#u22692.mouseOver {
}
#u22692_img.selected {
}
#u22692.selected {
}
#u22693 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u22694_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:40px;
}
#u22694 {
  position:absolute;
  left:0px;
  top:70px;
  width:171px;
  height:40px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u22694_img.mouseOver {
}
#u22694.mouseOver {
}
#u22694_img.selected {
}
#u22694.selected {
}
#u22695 {
  position:absolute;
  left:2px;
  top:11px;
  width:167px;
  word-wrap:break-word;
}
#u22696 {
  position:absolute;
  left:171px;
  top:315px;
  width:169px;
  height:140px;
  visibility:hidden;
}
#u22696_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:175px;
  height:146px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u22697 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:145px;
}
#u22698_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u22698 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u22698_img.mouseOver {
}
#u22698.mouseOver {
}
#u22698_img.selected {
}
#u22698.selected {
}
#u22699 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u22700_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u22700 {
  position:absolute;
  left:0px;
  top:35px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u22700_img.mouseOver {
}
#u22700.mouseOver {
}
#u22700_img.selected {
}
#u22700.selected {
}
#u22701 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u22702_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u22702 {
  position:absolute;
  left:0px;
  top:70px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u22702_img.mouseOver {
}
#u22702.mouseOver {
}
#u22702_img.selected {
}
#u22702.selected {
}
#u22703 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u22704_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u22704 {
  position:absolute;
  left:0px;
  top:105px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u22704_img.mouseOver {
}
#u22704.mouseOver {
}
#u22704_img.selected {
}
#u22704.selected {
}
#u22705 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u22706 {
  position:absolute;
  left:171px;
  top:350px;
  width:171px;
  height:35px;
  visibility:hidden;
}
#u22706_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:41px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u22707 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
}
#u22708_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u22708 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u22708_img.mouseOver {
}
#u22708.mouseOver {
}
#u22708_img.selected {
}
#u22708.selected {
}
#u22709 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u22710 {
  position:absolute;
  left:171px;
  top:210px;
  width:171px;
  height:35px;
  visibility:hidden;
}
#u22710_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:41px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u22711 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
}
#u22712_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u22712 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u22712_img.mouseOver {
}
#u22712.mouseOver {
}
#u22712_img.selected {
}
#u22712.selected {
}
#u22713 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u22714 {
  position:absolute;
  left:171px;
  top:175px;
  width:171px;
  height:105px;
  visibility:hidden;
}
#u22714_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:111px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u22715 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:110px;
}
#u22716_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u22716 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u22716_img.mouseOver {
}
#u22716.mouseOver {
}
#u22716_img.selected {
}
#u22716.selected {
}
#u22717 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u22718_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u22718 {
  position:absolute;
  left:0px;
  top:35px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u22718_img.mouseOver {
}
#u22718.mouseOver {
}
#u22718_img.selected {
}
#u22718.selected {
}
#u22719 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u22720_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u22720 {
  position:absolute;
  left:0px;
  top:70px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u22720_img.mouseOver {
}
#u22720.mouseOver {
}
#u22720_img.selected {
}
#u22720.selected {
}
#u22721 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u22722 {
  position:absolute;
  left:171px;
  top:140px;
  width:171px;
  height:70px;
  visibility:hidden;
}
#u22722_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:76px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u22723 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:75px;
}
#u22724_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u22724 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u22724_img.mouseOver {
}
#u22724.mouseOver {
}
#u22724_img.selected {
}
#u22724.selected {
}
#u22725 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u22726_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u22726 {
  position:absolute;
  left:0px;
  top:35px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u22726_img.mouseOver {
}
#u22726.mouseOver {
}
#u22726_img.selected {
}
#u22726.selected {
}
#u22727 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u22729_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:90px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22729 {
  position:absolute;
  left:0px;
  top:850px;
  width:1280px;
  height:90px;
}
#u22730 {
  position:absolute;
  left:2px;
  top:37px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22731_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u22731 {
  position:absolute;
  left:35px;
  top:877px;
  width:94px;
  height:37px;
  color:#FFFFFF;
}
#u22732 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u22733_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:38px;
}
#u22733 {
  position:absolute;
  left:1102px;
  top:896px;
  width:170px;
  height:38px;
  font-size:16px;
  color:#FF0000;
}
#u22734 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u22735_div {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Medium', 'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
}
#u22735 {
  position:absolute;
  left:220px;
  top:150px;
  width:257px;
  height:38px;
  font-family:'STHeitiTC-Medium', 'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
}
#u22736 {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  white-space:nowrap;
}
#u22737_img {
  position:absolute;
  left:0px;
  top:0px;
  width:990px;
  height:2px;
}
#u22737 {
  position:absolute;
  left:220px;
  top:429px;
  width:989px;
  height:1px;
}
#u22738 {
  position:absolute;
  left:2px;
  top:-8px;
  width:985px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22739 {
  position:absolute;
  left:220px;
  top:467px;
  width:458px;
  height:81px;
}
#u22740_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:36px;
}
#u22740 {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:36px;
  color:#FFFFFF;
  text-align:center;
}
#u22741 {
  position:absolute;
  left:2px;
  top:10px;
  width:267px;
  word-wrap:break-word;
}
#u22742_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:36px;
}
#u22742 {
  position:absolute;
  left:271px;
  top:0px;
  width:182px;
  height:36px;
  color:#FFFFFF;
  text-align:center;
}
#u22743 {
  position:absolute;
  left:2px;
  top:10px;
  width:178px;
  word-wrap:break-word;
}
#u22744_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:40px;
}
#u22744 {
  position:absolute;
  left:0px;
  top:36px;
  width:271px;
  height:40px;
  text-align:center;
}
#u22745 {
  position:absolute;
  left:2px;
  top:12px;
  width:267px;
  word-wrap:break-word;
}
#u22746_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:40px;
}
#u22746 {
  position:absolute;
  left:271px;
  top:36px;
  width:182px;
  height:40px;
  font-size:15px;
  color:#666666;
  text-align:center;
}
#u22747 {
  position:absolute;
  left:2px;
  top:12px;
  width:178px;
  word-wrap:break-word;
}
#u22748 {
  position:absolute;
  left:220px;
  top:200px;
  width:555px;
  height:125px;
}
#u22749_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:40px;
}
#u22749 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:40px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
}
#u22750 {
  position:absolute;
  left:10px;
  top:11px;
  width:129px;
  word-wrap:break-word;
}
#u22751_img {
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  height:40px;
}
#u22751 {
  position:absolute;
  left:141px;
  top:0px;
  width:409px;
  height:40px;
  font-size:15px;
  text-align:center;
}
#u22752 {
  position:absolute;
  left:10px;
  top:12px;
  width:397px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22753_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:40px;
}
#u22753 {
  position:absolute;
  left:0px;
  top:40px;
  width:141px;
  height:40px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
}
#u22754 {
  position:absolute;
  left:10px;
  top:11px;
  width:129px;
  word-wrap:break-word;
}
#u22755_img {
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  height:40px;
}
#u22755 {
  position:absolute;
  left:141px;
  top:40px;
  width:409px;
  height:40px;
  font-size:15px;
  text-align:center;
}
#u22756 {
  position:absolute;
  left:10px;
  top:12px;
  width:397px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22757_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:40px;
}
#u22757 {
  position:absolute;
  left:0px;
  top:80px;
  width:141px;
  height:40px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
}
#u22758 {
  position:absolute;
  left:10px;
  top:11px;
  width:129px;
  word-wrap:break-word;
}
#u22759_img {
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  height:40px;
}
#u22759 {
  position:absolute;
  left:141px;
  top:80px;
  width:409px;
  height:40px;
  font-size:15px;
  text-align:center;
}
#u22760 {
  position:absolute;
  left:10px;
  top:12px;
  width:397px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22761_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u22761 {
  position:absolute;
  left:670px;
  top:354px;
  width:100px;
  height:30px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u22761_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u22761.mouseOver {
}
#u22762 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u22763 {
  position:absolute;
  left:370px;
  top:246px;
  width:392px;
  height:30px;
}
#u22763_input {
  position:absolute;
  left:0px;
  top:0px;
  width:392px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u22764_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u22764 {
  position:absolute;
  left:566px;
  top:354px;
  width:88px;
  height:30px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u22764_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u22764.mouseOver {
}
#u22765 {
  position:absolute;
  left:2px;
  top:6px;
  width:84px;
  word-wrap:break-word;
}
#u22766 {
  position:absolute;
  left:370px;
  top:286px;
  width:392px;
  height:30px;
}
#u22766_input {
  position:absolute;
  left:0px;
  top:0px;
  width:392px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u22766_input:disabled {
  color:grayText;
}
#u22767 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22768 {
  position:absolute;
  left:374px;
  top:206px;
  width:162px;
  height:30px;
}
#u22768_input {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u22769 {
  position:absolute;
  left:560px;
  top:206px;
  width:198px;
  height:30px;
}
#u22769_input {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u22770_div {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u22770 {
  position:absolute;
  left:543px;
  top:214px;
  width:10px;
  height:19px;
  font-size:16px;
}
#u22771 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  white-space:nowrap;
}
#u22772_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
}
#u22772 {
  position:absolute;
  left:697px;
  top:394px;
  width:67px;
  height:16px;
  color:#FF0000;
  text-align:center;
}
#u22773 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u22774_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u22774 {
  position:absolute;
  left:436px;
  top:354px;
  width:110px;
  height:30px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u22774_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u22774.mouseOver {
}
#u22775 {
  position:absolute;
  left:2px;
  top:6px;
  width:106px;
  word-wrap:break-word;
}
