body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u43060_div {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:761px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u43060 {
  position:absolute;
  left:0px;
  top:109px;
  width:191px;
  height:761px;
}
#u43061 {
  position:absolute;
  left:2px;
  top:372px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43063_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:110px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u43063 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:110px;
}
#u43064 {
  position:absolute;
  left:2px;
  top:47px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43065 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u43066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
}
#u43066 {
  position:absolute;
  left:1061px;
  top:30px;
  width:129px;
  height:17px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
}
#u43067 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u43068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
}
#u43068 {
  position:absolute;
  left:1197px;
  top:30px;
  width:39px;
  height:17px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
}
#u43069 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u43070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:11px;
}
#u43070 {
  position:absolute;
  left:1188px;
  top:34px;
  width:1px;
  height:10px;
}
#u43071 {
  position:absolute;
  left:2px;
  top:-3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43072_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Rounded MT Bold';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u43072 {
  position:absolute;
  left:20px;
  top:30px;
  width:144px;
  height:55px;
  font-family:'Arial Rounded MT Bold';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u43073 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u43074 {
  position:absolute;
  left:1025px;
  top:24px;
  width:26px;
  height:30px;
}
#u43074_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:32px;
  height:36px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u43075 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:35px;
}
#u43076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:30px;
}
#u43076 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:30px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
  text-align:center;
}
#u43076_img.selected {
}
#u43076.selected {
}
#u43077 {
  position:absolute;
  left:2px;
  top:6px;
  width:22px;
  word-wrap:break-word;
}
#u43078 {
  position:absolute;
  left:0px;
  top:30px;
  width:88px;
  height:139px;
  visibility:hidden;
}
#u43078_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:94px;
  height:145px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u43079 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:144px;
}
#u43080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:34px;
}
#u43080 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:34px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u43080_img.selected {
}
#u43080.selected {
}
#u43081 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u43082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u43082 {
  position:absolute;
  left:0px;
  top:34px;
  width:88px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u43082_img.selected {
}
#u43082.selected {
}
#u43083 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u43084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u43084 {
  position:absolute;
  left:0px;
  top:69px;
  width:88px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u43084_img.selected {
}
#u43084.selected {
}
#u43085 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u43086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u43086 {
  position:absolute;
  left:0px;
  top:104px;
  width:88px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u43086_img.selected {
}
#u43086.selected {
}
#u43087 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u43088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:25px;
}
#u43088 {
  position:absolute;
  left:396px;
  top:34px;
  width:284px;
  height:25px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
  text-align:left;
}
#u43089 {
  position:absolute;
  left:2px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
#u43091 {
  position:absolute;
  left:11px;
  top:130px;
  width:171px;
  height:385px;
}
#u43091_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:391px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u43092 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:390px;
}
#u43093_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:32px;
}
#u43093 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:32px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u43093_img.mouseOver {
}
#u43093.mouseOver {
}
#u43093_img.selected {
}
#u43093.selected {
}
#u43094 {
  position:absolute;
  left:2px;
  top:7px;
  width:167px;
  word-wrap:break-word;
}
#u43095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:38px;
}
#u43095 {
  position:absolute;
  left:0px;
  top:32px;
  width:171px;
  height:38px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u43095_img.mouseOver {
}
#u43095.mouseOver {
}
#u43095_img.selected {
}
#u43095.selected {
}
#u43096 {
  position:absolute;
  left:2px;
  top:10px;
  width:167px;
  word-wrap:break-word;
}
#u43097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u43097 {
  position:absolute;
  left:0px;
  top:70px;
  width:171px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u43097_img.mouseOver {
}
#u43097.mouseOver {
}
#u43097_img.selected {
}
#u43097.selected {
}
#u43098 {
  position:absolute;
  left:2px;
  top:9px;
  width:167px;
  word-wrap:break-word;
}
#u43099_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u43099 {
  position:absolute;
  left:0px;
  top:105px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u43099_img.mouseOver {
}
#u43099.mouseOver {
}
#u43099_img.selected {
}
#u43099.selected {
}
#u43100 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u43101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u43101 {
  position:absolute;
  left:0px;
  top:140px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u43101_img.mouseOver {
}
#u43101.mouseOver {
}
#u43101_img.selected {
}
#u43101.selected {
}
#u43102 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u43103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u43103 {
  position:absolute;
  left:0px;
  top:175px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u43103_img.mouseOver {
}
#u43103.mouseOver {
}
#u43103_img.selected {
}
#u43103.selected {
}
#u43104 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u43105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u43105 {
  position:absolute;
  left:0px;
  top:210px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u43105_img.mouseOver {
}
#u43105.mouseOver {
}
#u43105_img.selected {
}
#u43105.selected {
}
#u43106 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u43107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u43107 {
  position:absolute;
  left:0px;
  top:245px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u43107_img.mouseOver {
}
#u43107.mouseOver {
}
#u43107_img.selected {
}
#u43107.selected {
}
#u43108 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u43109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u43109 {
  position:absolute;
  left:0px;
  top:280px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u43109_img.mouseOver {
}
#u43109.mouseOver {
}
#u43109_img.selected {
}
#u43109.selected {
}
#u43110 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u43111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u43111 {
  position:absolute;
  left:0px;
  top:315px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u43111_img.mouseOver {
}
#u43111.mouseOver {
}
#u43111_img.selected {
}
#u43111.selected {
}
#u43112 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u43113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u43113 {
  position:absolute;
  left:0px;
  top:350px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u43113_img.mouseOver {
}
#u43113.mouseOver {
}
#u43113_img.selected {
}
#u43113.selected {
}
#u43114 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u43115 {
  position:absolute;
  left:171px;
  top:245px;
  width:171px;
  height:70px;
  visibility:hidden;
}
#u43115_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:76px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u43116 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:75px;
}
#u43117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u43117 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u43117_img.mouseOver {
}
#u43117.mouseOver {
}
#u43117_img.selected {
}
#u43117.selected {
}
#u43118 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u43119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u43119 {
  position:absolute;
  left:0px;
  top:35px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u43119_img.mouseOver {
}
#u43119.mouseOver {
}
#u43119_img.selected {
}
#u43119.selected {
}
#u43120 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u43121 {
  position:absolute;
  left:171px;
  top:105px;
  width:202px;
  height:74px;
  visibility:hidden;
}
#u43121_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:208px;
  height:80px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u43122 {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:79px;
}
#u43123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:36px;
}
#u43123 {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:36px;
  font-size:15px;
  color:#000000;
  text-align:center;
}
#u43123_img.mouseOver {
}
#u43123.mouseOver {
}
#u43123_img.selected {
}
#u43123.selected {
}
#u43124 {
  position:absolute;
  left:2px;
  top:10px;
  width:198px;
  word-wrap:break-word;
}
#u43125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:38px;
}
#u43125 {
  position:absolute;
  left:0px;
  top:36px;
  width:202px;
  height:38px;
  font-size:15px;
  color:#000000;
  text-align:center;
}
#u43125_img.mouseOver {
}
#u43125.mouseOver {
}
#u43125_img.selected {
}
#u43125.selected {
}
#u43126 {
  position:absolute;
  left:2px;
  top:10px;
  width:198px;
  word-wrap:break-word;
}
#u43127 {
  position:absolute;
  left:171px;
  top:32px;
  width:150px;
  height:175px;
  visibility:hidden;
}
#u43127_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:156px;
  height:181px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u43128 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:180px;
}
#u43129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u43129 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u43129_img.mouseOver {
}
#u43129.mouseOver {
}
#u43129_img.selected {
}
#u43129.selected {
}
#u43130 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u43131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u43131 {
  position:absolute;
  left:0px;
  top:35px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u43131_img.mouseOver {
}
#u43131.mouseOver {
}
#u43131_img.selected {
}
#u43131.selected {
}
#u43132 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u43133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u43133 {
  position:absolute;
  left:0px;
  top:70px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u43133_img.mouseOver {
}
#u43133.mouseOver {
}
#u43133_img.selected {
}
#u43133.selected {
}
#u43134 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u43135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u43135 {
  position:absolute;
  left:0px;
  top:105px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u43135_img.mouseOver {
}
#u43135.mouseOver {
}
#u43135_img.selected {
}
#u43135.selected {
}
#u43136 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u43137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u43137 {
  position:absolute;
  left:0px;
  top:140px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u43137_img.mouseOver {
}
#u43137.mouseOver {
}
#u43137_img.selected {
}
#u43137.selected {
}
#u43138 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u43139 {
  position:absolute;
  left:171px;
  top:70px;
  width:171px;
  height:35px;
  visibility:hidden;
}
#u43139_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:41px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u43140 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
}
#u43141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u43141 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u43141_img.mouseOver {
}
#u43141.mouseOver {
}
#u43141_img.selected {
}
#u43141.selected {
}
#u43142 {
  position:absolute;
  left:2px;
  top:9px;
  width:167px;
  word-wrap:break-word;
}
#u43143 {
  position:absolute;
  left:171px;
  top:280px;
  width:171px;
  height:110px;
  visibility:hidden;
}
#u43143_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:116px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u43144 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:115px;
}
#u43145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u43145 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u43145_img.mouseOver {
}
#u43145.mouseOver {
}
#u43145_img.selected {
}
#u43145.selected {
}
#u43146 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u43147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u43147 {
  position:absolute;
  left:0px;
  top:35px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u43147_img.mouseOver {
}
#u43147.mouseOver {
}
#u43147_img.selected {
}
#u43147.selected {
}
#u43148 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u43149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:40px;
}
#u43149 {
  position:absolute;
  left:0px;
  top:70px;
  width:171px;
  height:40px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u43149_img.mouseOver {
}
#u43149.mouseOver {
}
#u43149_img.selected {
}
#u43149.selected {
}
#u43150 {
  position:absolute;
  left:2px;
  top:11px;
  width:167px;
  word-wrap:break-word;
}
#u43151 {
  position:absolute;
  left:171px;
  top:315px;
  width:169px;
  height:175px;
  visibility:hidden;
}
#u43151_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:175px;
  height:181px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u43152 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:180px;
}
#u43153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u43153 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u43153_img.mouseOver {
}
#u43153.mouseOver {
}
#u43153_img.selected {
}
#u43153.selected {
}
#u43154 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u43155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u43155 {
  position:absolute;
  left:0px;
  top:35px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u43155_img.mouseOver {
}
#u43155.mouseOver {
}
#u43155_img.selected {
}
#u43155.selected {
}
#u43156 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u43157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u43157 {
  position:absolute;
  left:0px;
  top:70px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u43157_img.mouseOver {
}
#u43157.mouseOver {
}
#u43157_img.selected {
}
#u43157.selected {
}
#u43158 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u43159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u43159 {
  position:absolute;
  left:0px;
  top:105px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u43159_img.mouseOver {
}
#u43159.mouseOver {
}
#u43159_img.selected {
}
#u43159.selected {
}
#u43160 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u43161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u43161 {
  position:absolute;
  left:0px;
  top:140px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u43161_img.mouseOver {
}
#u43161.mouseOver {
}
#u43161_img.selected {
}
#u43161.selected {
}
#u43162 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u43163 {
  position:absolute;
  left:171px;
  top:350px;
  width:171px;
  height:35px;
  visibility:hidden;
}
#u43163_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:41px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u43164 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
}
#u43165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u43165 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u43165_img.mouseOver {
}
#u43165.mouseOver {
}
#u43165_img.selected {
}
#u43165.selected {
}
#u43166 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u43167 {
  position:absolute;
  left:171px;
  top:210px;
  width:171px;
  height:35px;
  visibility:hidden;
}
#u43167_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:41px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u43168 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
}
#u43169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u43169 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u43169_img.mouseOver {
}
#u43169.mouseOver {
}
#u43169_img.selected {
}
#u43169.selected {
}
#u43170 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u43171 {
  position:absolute;
  left:171px;
  top:175px;
  width:171px;
  height:70px;
  visibility:hidden;
}
#u43171_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:76px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u43172 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:75px;
}
#u43173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u43173 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u43173_img.mouseOver {
}
#u43173.mouseOver {
}
#u43173_img.selected {
}
#u43173.selected {
}
#u43174 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u43175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u43175 {
  position:absolute;
  left:0px;
  top:35px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u43175_img.mouseOver {
}
#u43175.mouseOver {
}
#u43175_img.selected {
}
#u43175.selected {
}
#u43176 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u43177 {
  position:absolute;
  left:171px;
  top:140px;
  width:171px;
  height:70px;
  visibility:hidden;
}
#u43177_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:76px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u43178 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:75px;
}
#u43179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u43179 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u43179_img.mouseOver {
}
#u43179.mouseOver {
}
#u43179_img.selected {
}
#u43179.selected {
}
#u43180 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u43181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u43181 {
  position:absolute;
  left:0px;
  top:35px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u43181_img.mouseOver {
}
#u43181.mouseOver {
}
#u43181_img.selected {
}
#u43181.selected {
}
#u43182 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u43184_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:90px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u43184 {
  position:absolute;
  left:0px;
  top:850px;
  width:1280px;
  height:90px;
}
#u43185 {
  position:absolute;
  left:2px;
  top:37px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43186_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u43186 {
  position:absolute;
  left:35px;
  top:877px;
  width:94px;
  height:37px;
  color:#FFFFFF;
}
#u43187 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u43188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:38px;
}
#u43188 {
  position:absolute;
  left:1092px;
  top:896px;
  width:180px;
  height:38px;
  font-size:16px;
  color:#FF0000;
}
#u43189 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u43190_div {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Medium', 'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
}
#u43190 {
  position:absolute;
  left:220px;
  top:150px;
  width:257px;
  height:38px;
  font-family:'STHeitiTC-Medium', 'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
}
#u43191 {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  white-space:nowrap;
}
#u43192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:990px;
  height:2px;
}
#u43192 {
  position:absolute;
  left:220px;
  top:429px;
  width:989px;
  height:1px;
}
#u43193 {
  position:absolute;
  left:2px;
  top:-8px;
  width:985px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43194 {
  position:absolute;
  left:220px;
  top:467px;
  width:458px;
  height:81px;
}
#u43195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:36px;
}
#u43195 {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:36px;
  color:#FFFFFF;
  text-align:center;
}
#u43196 {
  position:absolute;
  left:2px;
  top:10px;
  width:267px;
  word-wrap:break-word;
}
#u43197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:36px;
}
#u43197 {
  position:absolute;
  left:271px;
  top:0px;
  width:182px;
  height:36px;
  color:#FFFFFF;
  text-align:center;
}
#u43198 {
  position:absolute;
  left:2px;
  top:10px;
  width:178px;
  word-wrap:break-word;
}
#u43199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:40px;
}
#u43199 {
  position:absolute;
  left:0px;
  top:36px;
  width:271px;
  height:40px;
  text-align:center;
}
#u43200 {
  position:absolute;
  left:2px;
  top:12px;
  width:267px;
  word-wrap:break-word;
}
#u43201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:40px;
}
#u43201 {
  position:absolute;
  left:271px;
  top:36px;
  width:182px;
  height:40px;
  font-size:15px;
  color:#666666;
  text-align:center;
}
#u43202 {
  position:absolute;
  left:2px;
  top:12px;
  width:178px;
  word-wrap:break-word;
}
#u43203 {
  position:absolute;
  left:220px;
  top:200px;
  width:555px;
  height:125px;
}
#u43204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:40px;
}
#u43204 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:40px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
}
#u43205 {
  position:absolute;
  left:10px;
  top:11px;
  width:129px;
  word-wrap:break-word;
}
#u43206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  height:40px;
}
#u43206 {
  position:absolute;
  left:141px;
  top:0px;
  width:409px;
  height:40px;
  font-size:15px;
  text-align:center;
}
#u43207 {
  position:absolute;
  left:10px;
  top:12px;
  width:397px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:40px;
}
#u43208 {
  position:absolute;
  left:0px;
  top:40px;
  width:141px;
  height:40px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
}
#u43209 {
  position:absolute;
  left:10px;
  top:11px;
  width:129px;
  word-wrap:break-word;
}
#u43210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  height:40px;
}
#u43210 {
  position:absolute;
  left:141px;
  top:40px;
  width:409px;
  height:40px;
  font-size:15px;
  text-align:center;
}
#u43211 {
  position:absolute;
  left:10px;
  top:12px;
  width:397px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:40px;
}
#u43212 {
  position:absolute;
  left:0px;
  top:80px;
  width:141px;
  height:40px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
}
#u43213 {
  position:absolute;
  left:10px;
  top:11px;
  width:129px;
  word-wrap:break-word;
}
#u43214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  height:40px;
}
#u43214 {
  position:absolute;
  left:141px;
  top:80px;
  width:409px;
  height:40px;
  font-size:15px;
  text-align:center;
}
#u43215 {
  position:absolute;
  left:10px;
  top:12px;
  width:397px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43216_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u43216 {
  position:absolute;
  left:670px;
  top:354px;
  width:100px;
  height:30px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u43216_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u43216.mouseOver {
}
#u43217 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u43218 {
  position:absolute;
  left:370px;
  top:246px;
  width:392px;
  height:30px;
}
#u43218_input {
  position:absolute;
  left:0px;
  top:0px;
  width:392px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u43219_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u43219 {
  position:absolute;
  left:566px;
  top:354px;
  width:88px;
  height:30px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u43219_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u43219.mouseOver {
}
#u43220 {
  position:absolute;
  left:2px;
  top:6px;
  width:84px;
  word-wrap:break-word;
}
#u43221 {
  position:absolute;
  left:370px;
  top:286px;
  width:392px;
  height:30px;
}
#u43221_input {
  position:absolute;
  left:0px;
  top:0px;
  width:392px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u43221_input:disabled {
  color:grayText;
}
#u43222 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u43223 {
  position:absolute;
  left:374px;
  top:206px;
  width:162px;
  height:30px;
}
#u43223_input {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u43224 {
  position:absolute;
  left:560px;
  top:206px;
  width:198px;
  height:30px;
}
#u43224_input {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u43225_div {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u43225 {
  position:absolute;
  left:543px;
  top:214px;
  width:10px;
  height:19px;
  font-size:16px;
}
#u43226 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  white-space:nowrap;
}
#u43227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
}
#u43227 {
  position:absolute;
  left:697px;
  top:394px;
  width:67px;
  height:16px;
  color:#FF0000;
  text-align:center;
}
#u43228 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u43229_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u43229 {
  position:absolute;
  left:436px;
  top:354px;
  width:110px;
  height:30px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u43229_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u43229.mouseOver {
}
#u43230 {
  position:absolute;
  left:2px;
  top:6px;
  width:106px;
  word-wrap:break-word;
}
