body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u79525_div {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:759px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u79525 {
  position:absolute;
  left:0px;
  top:109px;
  width:191px;
  height:759px;
}
#u79526 {
  position:absolute;
  left:2px;
  top:372px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79528_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:110px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u79528 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:110px;
}
#u79529 {
  position:absolute;
  left:2px;
  top:47px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79530 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u79531_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
}
#u79531 {
  position:absolute;
  left:1061px;
  top:30px;
  width:129px;
  height:17px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
}
#u79532 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u79533_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
}
#u79533 {
  position:absolute;
  left:1197px;
  top:30px;
  width:39px;
  height:17px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
}
#u79534 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u79535_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:11px;
}
#u79535 {
  position:absolute;
  left:1188px;
  top:34px;
  width:1px;
  height:10px;
}
#u79536 {
  position:absolute;
  left:2px;
  top:-3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79537 {
  position:absolute;
  left:1025px;
  top:24px;
  width:26px;
  height:30px;
}
#u79537_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:32px;
  height:36px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u79538 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:35px;
}
#u79539_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:30px;
}
#u79539 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:30px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
  text-align:center;
}
#u79539_img.selected {
}
#u79539.selected {
}
#u79540 {
  position:absolute;
  left:2px;
  top:6px;
  width:22px;
  word-wrap:break-word;
}
#u79541 {
  position:absolute;
  left:0px;
  top:30px;
  width:88px;
  height:139px;
  visibility:hidden;
}
#u79541_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:94px;
  height:145px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u79542 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:144px;
}
#u79543_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:34px;
}
#u79543 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:34px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u79543_img.selected {
}
#u79543.selected {
}
#u79544 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u79545_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u79545 {
  position:absolute;
  left:0px;
  top:34px;
  width:88px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u79545_img.selected {
}
#u79545.selected {
}
#u79546 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u79547_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u79547 {
  position:absolute;
  left:0px;
  top:69px;
  width:88px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u79547_img.selected {
}
#u79547.selected {
}
#u79548 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u79549_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u79549 {
  position:absolute;
  left:0px;
  top:104px;
  width:88px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u79549_img.selected {
}
#u79549.selected {
}
#u79550 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u79551_img {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:25px;
}
#u79551 {
  position:absolute;
  left:431px;
  top:43px;
  width:284px;
  height:25px;
  font-family:'微軟正黑體 Bold', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u79552 {
  position:absolute;
  left:2px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
#u79553_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:91px;
}
#u79553 {
  position:absolute;
  left:10px;
  top:10px;
  width:120px;
  height:91px;
}
#u79554 {
  position:absolute;
  left:2px;
  top:38px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79556 {
  position:absolute;
  left:11px;
  top:130px;
  width:171px;
  height:455px;
}
#u79556_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:461px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u79557 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:460px;
}
#u79558_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:32px;
}
#u79558 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:32px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u79558_img.mouseOver {
}
#u79558.mouseOver {
}
#u79558_img.selected {
}
#u79558.selected {
}
#u79559 {
  position:absolute;
  left:2px;
  top:7px;
  width:167px;
  word-wrap:break-word;
}
#u79560_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:38px;
}
#u79560 {
  position:absolute;
  left:0px;
  top:32px;
  width:171px;
  height:38px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u79560_img.mouseOver {
}
#u79560.mouseOver {
}
#u79560_img.selected {
}
#u79560.selected {
}
#u79561 {
  position:absolute;
  left:2px;
  top:10px;
  width:167px;
  word-wrap:break-word;
}
#u79562_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u79562 {
  position:absolute;
  left:0px;
  top:70px;
  width:171px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u79562_img.mouseOver {
}
#u79562.mouseOver {
}
#u79562_img.selected {
}
#u79562.selected {
}
#u79563 {
  position:absolute;
  left:2px;
  top:9px;
  width:167px;
  word-wrap:break-word;
}
#u79564_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u79564 {
  position:absolute;
  left:0px;
  top:105px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u79564_img.mouseOver {
}
#u79564.mouseOver {
}
#u79564_img.selected {
}
#u79564.selected {
}
#u79565 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u79566_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u79566 {
  position:absolute;
  left:0px;
  top:140px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u79566_img.mouseOver {
}
#u79566.mouseOver {
}
#u79566_img.selected {
}
#u79566.selected {
}
#u79567 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u79568_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u79568 {
  position:absolute;
  left:0px;
  top:175px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u79568_img.mouseOver {
}
#u79568.mouseOver {
}
#u79568_img.selected {
}
#u79568.selected {
}
#u79569 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u79570_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u79570 {
  position:absolute;
  left:0px;
  top:210px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u79570_img.mouseOver {
}
#u79570.mouseOver {
}
#u79570_img.selected {
}
#u79570.selected {
}
#u79571 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u79572_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u79572 {
  position:absolute;
  left:0px;
  top:245px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u79572_img.mouseOver {
}
#u79572.mouseOver {
}
#u79572_img.selected {
}
#u79572.selected {
}
#u79573 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u79574_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u79574 {
  position:absolute;
  left:0px;
  top:280px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u79574_img.mouseOver {
}
#u79574.mouseOver {
}
#u79574_img.selected {
}
#u79574.selected {
}
#u79575 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u79576_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u79576 {
  position:absolute;
  left:0px;
  top:315px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u79576_img.mouseOver {
}
#u79576.mouseOver {
}
#u79576_img.selected {
}
#u79576.selected {
}
#u79577 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u79578_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u79578 {
  position:absolute;
  left:0px;
  top:350px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u79578_img.mouseOver {
}
#u79578.mouseOver {
}
#u79578_img.selected {
}
#u79578.selected {
}
#u79579 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u79580_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u79580 {
  position:absolute;
  left:0px;
  top:385px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u79580_img.mouseOver {
}
#u79580.mouseOver {
}
#u79580_img.selected {
}
#u79580.selected {
}
#u79581 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u79582_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u79582 {
  position:absolute;
  left:0px;
  top:420px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u79582_img.mouseOver {
}
#u79582.mouseOver {
}
#u79582_img.selected {
}
#u79582.selected {
}
#u79583 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u79584 {
  position:absolute;
  left:171px;
  top:315px;
  width:171px;
  height:70px;
  visibility:hidden;
}
#u79584_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:76px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u79585 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:75px;
}
#u79586_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u79586 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u79586_img.mouseOver {
}
#u79586.mouseOver {
}
#u79586_img.selected {
}
#u79586.selected {
}
#u79587 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u79588_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u79588 {
  position:absolute;
  left:0px;
  top:35px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u79588_img.mouseOver {
}
#u79588.mouseOver {
}
#u79588_img.selected {
}
#u79588.selected {
}
#u79589 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u79590 {
  position:absolute;
  left:171px;
  top:105px;
  width:202px;
  height:148px;
  visibility:hidden;
}
#u79590_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:208px;
  height:154px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u79591 {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:153px;
}
#u79592_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:36px;
}
#u79592 {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:36px;
  font-size:15px;
  color:#000000;
  text-align:center;
}
#u79592_img.mouseOver {
}
#u79592.mouseOver {
}
#u79592_img.selected {
}
#u79592.selected {
}
#u79593 {
  position:absolute;
  left:2px;
  top:10px;
  width:198px;
  word-wrap:break-word;
}
#u79594_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:36px;
}
#u79594 {
  position:absolute;
  left:0px;
  top:36px;
  width:202px;
  height:36px;
  font-size:15px;
  color:#000000;
  text-align:center;
}
#u79594_img.mouseOver {
}
#u79594.mouseOver {
}
#u79594_img.selected {
}
#u79594.selected {
}
#u79595 {
  position:absolute;
  left:2px;
  top:10px;
  width:198px;
  word-wrap:break-word;
}
#u79596_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:38px;
}
#u79596 {
  position:absolute;
  left:0px;
  top:72px;
  width:202px;
  height:38px;
  font-size:15px;
  color:#000000;
  text-align:center;
}
#u79596_img.mouseOver {
}
#u79596.mouseOver {
}
#u79596_img.selected {
}
#u79596.selected {
}
#u79597 {
  position:absolute;
  left:2px;
  top:10px;
  width:198px;
  word-wrap:break-word;
}
#u79598_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:38px;
}
#u79598 {
  position:absolute;
  left:0px;
  top:110px;
  width:202px;
  height:38px;
  font-size:15px;
  color:#000000;
  text-align:center;
}
#u79598_img.mouseOver {
}
#u79598.mouseOver {
}
#u79598_img.selected {
}
#u79598.selected {
}
#u79599 {
  position:absolute;
  left:2px;
  top:10px;
  width:198px;
  word-wrap:break-word;
}
#u79600 {
  position:absolute;
  left:171px;
  top:32px;
  width:150px;
  height:175px;
  visibility:hidden;
}
#u79600_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:156px;
  height:181px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u79601 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:180px;
}
#u79602_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u79602 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u79602_img.mouseOver {
}
#u79602.mouseOver {
}
#u79602_img.selected {
}
#u79602.selected {
}
#u79603 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u79604_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u79604 {
  position:absolute;
  left:0px;
  top:35px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u79604_img.mouseOver {
}
#u79604.mouseOver {
}
#u79604_img.selected {
}
#u79604.selected {
}
#u79605 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u79606_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u79606 {
  position:absolute;
  left:0px;
  top:70px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u79606_img.mouseOver {
}
#u79606.mouseOver {
}
#u79606_img.selected {
}
#u79606.selected {
}
#u79607 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u79608_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u79608 {
  position:absolute;
  left:0px;
  top:105px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u79608_img.mouseOver {
}
#u79608.mouseOver {
}
#u79608_img.selected {
}
#u79608.selected {
}
#u79609 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u79610_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u79610 {
  position:absolute;
  left:0px;
  top:140px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u79610_img.mouseOver {
}
#u79610.mouseOver {
}
#u79610_img.selected {
}
#u79610.selected {
}
#u79611 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u79612 {
  position:absolute;
  left:171px;
  top:70px;
  width:171px;
  height:105px;
  visibility:hidden;
}
#u79612_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:111px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u79613 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:110px;
}
#u79614_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u79614 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u79614_img.mouseOver {
}
#u79614.mouseOver {
}
#u79614_img.selected {
}
#u79614.selected {
}
#u79615 {
  position:absolute;
  left:2px;
  top:9px;
  width:167px;
  word-wrap:break-word;
}
#u79616_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u79616 {
  position:absolute;
  left:0px;
  top:35px;
  width:171px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u79616_img.mouseOver {
}
#u79616.mouseOver {
}
#u79616_img.selected {
}
#u79616.selected {
}
#u79617 {
  position:absolute;
  left:2px;
  top:9px;
  width:167px;
  word-wrap:break-word;
}
#u79618_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u79618 {
  position:absolute;
  left:0px;
  top:70px;
  width:171px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u79618_img.mouseOver {
}
#u79618.mouseOver {
}
#u79618_img.selected {
}
#u79618.selected {
}
#u79619 {
  position:absolute;
  left:2px;
  top:9px;
  width:167px;
  word-wrap:break-word;
}
#u79620 {
  position:absolute;
  left:171px;
  top:350px;
  width:171px;
  height:70px;
  visibility:hidden;
}
#u79620_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:76px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u79621 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:75px;
}
#u79622_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u79622 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u79622_img.mouseOver {
}
#u79622.mouseOver {
}
#u79622_img.selected {
}
#u79622.selected {
}
#u79623 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u79624_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u79624 {
  position:absolute;
  left:0px;
  top:35px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u79624_img.mouseOver {
}
#u79624.mouseOver {
}
#u79624_img.selected {
}
#u79624.selected {
}
#u79625 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u79626 {
  position:absolute;
  left:171px;
  top:385px;
  width:169px;
  height:455px;
  visibility:hidden;
}
#u79626_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:175px;
  height:461px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u79627 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:460px;
}
#u79628_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u79628 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u79628_img.mouseOver {
}
#u79628.mouseOver {
}
#u79628_img.selected {
}
#u79628.selected {
}
#u79629 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u79630_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u79630 {
  position:absolute;
  left:0px;
  top:35px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u79630_img.mouseOver {
}
#u79630.mouseOver {
}
#u79630_img.selected {
}
#u79630.selected {
}
#u79631 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u79632_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u79632 {
  position:absolute;
  left:0px;
  top:70px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u79632_img.mouseOver {
}
#u79632.mouseOver {
}
#u79632_img.selected {
}
#u79632.selected {
}
#u79633 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u79634_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u79634 {
  position:absolute;
  left:0px;
  top:105px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u79634_img.mouseOver {
}
#u79634.mouseOver {
}
#u79634_img.selected {
}
#u79634.selected {
}
#u79635 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u79636_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u79636 {
  position:absolute;
  left:0px;
  top:140px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u79636_img.mouseOver {
}
#u79636.mouseOver {
}
#u79636_img.selected {
}
#u79636.selected {
}
#u79637 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u79638_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u79638 {
  position:absolute;
  left:0px;
  top:175px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u79638_img.mouseOver {
}
#u79638.mouseOver {
}
#u79638_img.selected {
}
#u79638.selected {
}
#u79639 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u79640_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u79640 {
  position:absolute;
  left:0px;
  top:210px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u79640_img.mouseOver {
}
#u79640.mouseOver {
}
#u79640_img.selected {
}
#u79640.selected {
}
#u79641 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u79642_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u79642 {
  position:absolute;
  left:0px;
  top:245px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u79642_img.mouseOver {
}
#u79642.mouseOver {
}
#u79642_img.selected {
}
#u79642.selected {
}
#u79643 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u79644_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u79644 {
  position:absolute;
  left:0px;
  top:280px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u79644_img.mouseOver {
}
#u79644.mouseOver {
}
#u79644_img.selected {
}
#u79644.selected {
}
#u79645 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u79646_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u79646 {
  position:absolute;
  left:0px;
  top:315px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u79646_img.mouseOver {
}
#u79646.mouseOver {
}
#u79646_img.selected {
}
#u79646.selected {
}
#u79647 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u79648_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u79648 {
  position:absolute;
  left:0px;
  top:350px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u79648_img.mouseOver {
}
#u79648.mouseOver {
}
#u79648_img.selected {
}
#u79648.selected {
}
#u79649 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u79650_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u79650 {
  position:absolute;
  left:0px;
  top:385px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u79650_img.mouseOver {
}
#u79650.mouseOver {
}
#u79650_img.selected {
}
#u79650.selected {
}
#u79651 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u79652_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u79652 {
  position:absolute;
  left:0px;
  top:420px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u79652_img.mouseOver {
}
#u79652.mouseOver {
}
#u79652_img.selected {
}
#u79652.selected {
}
#u79653 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u79654 {
  position:absolute;
  left:171px;
  top:175px;
  width:179px;
  height:285px;
  visibility:hidden;
}
#u79654_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:185px;
  height:291px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u79655 {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:290px;
}
#u79656_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:35px;
}
#u79656 {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u79656_img.mouseOver {
}
#u79656.mouseOver {
}
#u79656_img.selected {
}
#u79656.selected {
}
#u79657 {
  position:absolute;
  left:2px;
  top:8px;
  width:175px;
  word-wrap:break-word;
}
#u79658_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:35px;
}
#u79658 {
  position:absolute;
  left:0px;
  top:35px;
  width:179px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u79658_img.mouseOver {
}
#u79658.mouseOver {
}
#u79658_img.selected {
}
#u79658.selected {
}
#u79659 {
  position:absolute;
  left:2px;
  top:8px;
  width:175px;
  word-wrap:break-word;
}
#u79660_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:35px;
}
#u79660 {
  position:absolute;
  left:0px;
  top:70px;
  width:179px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u79660_img.mouseOver {
}
#u79660.mouseOver {
}
#u79660_img.selected {
}
#u79660.selected {
}
#u79661 {
  position:absolute;
  left:2px;
  top:8px;
  width:175px;
  word-wrap:break-word;
}
#u79662_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:35px;
}
#u79662 {
  position:absolute;
  left:0px;
  top:105px;
  width:179px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u79662_img.mouseOver {
}
#u79662.mouseOver {
}
#u79662_img.selected {
}
#u79662.selected {
}
#u79663 {
  position:absolute;
  left:2px;
  top:8px;
  width:175px;
  word-wrap:break-word;
}
#u79664_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:35px;
}
#u79664 {
  position:absolute;
  left:0px;
  top:140px;
  width:179px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u79664_img.mouseOver {
}
#u79664.mouseOver {
}
#u79664_img.selected {
}
#u79664.selected {
}
#u79665 {
  position:absolute;
  left:2px;
  top:8px;
  width:175px;
  word-wrap:break-word;
}
#u79666_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:35px;
}
#u79666 {
  position:absolute;
  left:0px;
  top:175px;
  width:179px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u79666_img.mouseOver {
}
#u79666.mouseOver {
}
#u79666_img.selected {
}
#u79666.selected {
}
#u79667 {
  position:absolute;
  left:2px;
  top:8px;
  width:175px;
  word-wrap:break-word;
}
#u79668_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:35px;
}
#u79668 {
  position:absolute;
  left:0px;
  top:210px;
  width:179px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u79668_img.mouseOver {
}
#u79668.mouseOver {
}
#u79668_img.selected {
}
#u79668.selected {
}
#u79669 {
  position:absolute;
  left:2px;
  top:8px;
  width:175px;
  word-wrap:break-word;
}
#u79670_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:40px;
}
#u79670 {
  position:absolute;
  left:0px;
  top:245px;
  width:179px;
  height:40px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u79670_img.mouseOver {
}
#u79670.mouseOver {
}
#u79670_img.selected {
}
#u79670.selected {
}
#u79671 {
  position:absolute;
  left:2px;
  top:11px;
  width:175px;
  word-wrap:break-word;
}
#u79672 {
  position:absolute;
  left:171px;
  top:140px;
  width:171px;
  height:105px;
  visibility:hidden;
}
#u79672_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:111px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u79673 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:110px;
}
#u79674_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u79674 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u79674_img.mouseOver {
}
#u79674.mouseOver {
}
#u79674_img.selected {
}
#u79674.selected {
}
#u79675 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u79676_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u79676 {
  position:absolute;
  left:0px;
  top:35px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u79676_img.mouseOver {
}
#u79676.mouseOver {
}
#u79676_img.selected {
}
#u79676.selected {
}
#u79677 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u79678_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u79678 {
  position:absolute;
  left:0px;
  top:70px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u79678_img.mouseOver {
}
#u79678.mouseOver {
}
#u79678_img.selected {
}
#u79678.selected {
}
#u79679 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u79680 {
  position:absolute;
  left:171px;
  top:210px;
  width:202px;
  height:75px;
  visibility:hidden;
}
#u79680_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:208px;
  height:81px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u79681 {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:80px;
}
#u79682_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:35px;
}
#u79682 {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u79682_img.mouseOver {
}
#u79682.mouseOver {
}
#u79682_img.selected {
}
#u79682.selected {
}
#u79683 {
  position:absolute;
  left:2px;
  top:8px;
  width:198px;
  word-wrap:break-word;
}
#u79684_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:40px;
}
#u79684 {
  position:absolute;
  left:0px;
  top:35px;
  width:202px;
  height:40px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u79684_img.mouseOver {
}
#u79684.mouseOver {
}
#u79684_img.selected {
}
#u79684.selected {
}
#u79685 {
  position:absolute;
  left:2px;
  top:11px;
  width:198px;
  word-wrap:break-word;
}
#u79686 {
  position:absolute;
  left:171px;
  top:280px;
  width:171px;
  height:70px;
  visibility:hidden;
}
#u79686_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:76px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u79687 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:75px;
}
#u79688_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u79688 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u79688_img.mouseOver {
}
#u79688.mouseOver {
}
#u79688_img.selected {
}
#u79688.selected {
}
#u79689 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u79690_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u79690 {
  position:absolute;
  left:0px;
  top:35px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u79690_img.mouseOver {
}
#u79690.mouseOver {
}
#u79690_img.selected {
}
#u79690.selected {
}
#u79691 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u79693_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:90px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u79693 {
  position:absolute;
  left:0px;
  top:850px;
  width:1280px;
  height:90px;
}
#u79694 {
  position:absolute;
  left:2px;
  top:37px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79695_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:38px;
}
#u79695 {
  position:absolute;
  left:1092px;
  top:896px;
  width:180px;
  height:38px;
  font-size:16px;
  color:#FF0000;
}
#u79696 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u79697_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Medium', 'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
}
#u79697 {
  position:absolute;
  left:220px;
  top:150px;
  width:161px;
  height:38px;
  font-family:'STHeitiTC-Medium', 'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
}
#u79698 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u79699_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u79699 {
  position:absolute;
  left:666px;
  top:474px;
  width:100px;
  height:30px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u79699_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u79699.mouseOver {
}
#u79700 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u79701_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u79701 {
  position:absolute;
  left:540px;
  top:474px;
  width:100px;
  height:30px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u79701_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u79701.mouseOver {
}
#u79702 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u79703 {
  position:absolute;
  left:220px;
  top:240px;
  width:859px;
  height:152px;
}
#u79704_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:40px;
}
#u79704 {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u79705 {
  position:absolute;
  left:10px;
  top:12px;
  width:155px;
  word-wrap:break-word;
}
#u79706_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:40px;
}
#u79706 {
  position:absolute;
  left:167px;
  top:0px;
  width:233px;
  height:40px;
  font-size:15px;
  color:#666666;
}
#u79707 {
  position:absolute;
  left:10px;
  top:12px;
  width:221px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79708_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u79708 {
  position:absolute;
  left:400px;
  top:0px;
  width:200px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u79709 {
  position:absolute;
  left:10px;
  top:12px;
  width:188px;
  word-wrap:break-word;
}
#u79710_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:40px;
}
#u79710 {
  position:absolute;
  left:600px;
  top:0px;
  width:254px;
  height:40px;
  font-size:15px;
  color:#666666;
}
#u79711 {
  position:absolute;
  left:10px;
  top:12px;
  width:242px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79712_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:40px;
}
#u79712 {
  position:absolute;
  left:0px;
  top:40px;
  width:167px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u79713 {
  position:absolute;
  left:10px;
  top:12px;
  width:155px;
  word-wrap:break-word;
}
#u79714_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:40px;
}
#u79714 {
  position:absolute;
  left:167px;
  top:40px;
  width:233px;
  height:40px;
  font-size:15px;
  color:#666666;
}
#u79715 {
  position:absolute;
  left:10px;
  top:12px;
  width:221px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79716_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u79716 {
  position:absolute;
  left:400px;
  top:40px;
  width:200px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u79717 {
  position:absolute;
  left:10px;
  top:12px;
  width:188px;
  word-wrap:break-word;
}
#u79718_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:40px;
}
#u79718 {
  position:absolute;
  left:600px;
  top:40px;
  width:254px;
  height:40px;
  font-size:15px;
  color:#666666;
}
#u79719 {
  position:absolute;
  left:10px;
  top:12px;
  width:242px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79720_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:67px;
}
#u79720 {
  position:absolute;
  left:0px;
  top:80px;
  width:167px;
  height:67px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u79721 {
  position:absolute;
  left:10px;
  top:25px;
  width:155px;
  word-wrap:break-word;
}
#u79722_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:67px;
}
#u79722 {
  position:absolute;
  left:167px;
  top:80px;
  width:233px;
  height:67px;
  font-size:15px;
  color:#666666;
}
#u79723 {
  position:absolute;
  left:10px;
  top:26px;
  width:221px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79724_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:67px;
}
#u79724 {
  position:absolute;
  left:400px;
  top:80px;
  width:200px;
  height:67px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u79725 {
  position:absolute;
  left:10px;
  top:25px;
  width:188px;
  word-wrap:break-word;
}
#u79726_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:67px;
}
#u79726 {
  position:absolute;
  left:600px;
  top:80px;
  width:254px;
  height:67px;
  font-size:15px;
  color:#666666;
}
#u79727 {
  position:absolute;
  left:10px;
  top:26px;
  width:242px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79728_div {
  position:absolute;
  left:0px;
  top:0px;
  width:854px;
  height:40px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u79728 {
  position:absolute;
  left:220px;
  top:200px;
  width:854px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u79729 {
  position:absolute;
  left:10px;
  top:10px;
  width:842px;
  word-wrap:break-word;
}
#u79730 {
  position:absolute;
  left:405px;
  top:246px;
  width:194px;
  height:30px;
}
#u79730_input {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u79731 {
  position:absolute;
  left:852px;
  top:246px;
  width:194px;
  height:30px;
}
#u79731_input {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u79732 {
  position:absolute;
  left:405px;
  top:336px;
  width:194px;
  height:30px;
}
#u79732_input {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u79733 {
  position:absolute;
  left:852px;
  top:326px;
  width:194px;
  height:50px;
}
#u79733_input {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:50px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u79734 {
  position:absolute;
  left:405px;
  top:287px;
  width:194px;
  height:30px;
}
#u79734_input {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u79735 {
  position:absolute;
  left:852px;
  top:286px;
  width:194px;
  height:30px;
}
#u79735_input {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u79736 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u79737_div {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:136px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u79737 {
  position:absolute;
  left:502px;
  top:283px;
  width:308px;
  height:136px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u79738 {
  position:absolute;
  left:20px;
  top:20px;
  width:286px;
  word-wrap:break-word;
}
#u79739 {
  position:absolute;
  left:719px;
  top:365px;
  width:75px;
  height:25px;
}
#u79739_input {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u79740 {
  position:absolute;
  left:618px;
  top:365px;
  width:75px;
  height:25px;
}
#u79740_input {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
