body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:997px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u32625_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:720px;
}
#u32625 {
  position:absolute;
  left:37px;
  top:577px;
  width:960px;
  height:720px;
}
#u32626 {
  position:absolute;
  left:2px;
  top:352px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32627_img {
  position:absolute;
  left:0px;
  top:0px;
  width:956px;
  height:538px;
}
#u32627 {
  position:absolute;
  left:0px;
  top:0px;
  width:956px;
  height:538px;
}
#u32628 {
  position:absolute;
  left:2px;
  top:261px;
  width:952px;
  visibility:hidden;
  word-wrap:break-word;
}
