body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1337px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u76292_div {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:971px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u76292 {
  position:absolute;
  left:0px;
  top:109px;
  width:191px;
  height:971px;
}
#u76293 {
  position:absolute;
  left:2px;
  top:478px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76295_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:110px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u76295 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:110px;
}
#u76296 {
  position:absolute;
  left:2px;
  top:47px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76297 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u76298_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
}
#u76298 {
  position:absolute;
  left:1061px;
  top:30px;
  width:129px;
  height:17px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
}
#u76299 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u76300_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
}
#u76300 {
  position:absolute;
  left:1197px;
  top:30px;
  width:39px;
  height:17px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
}
#u76301 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u76302_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:11px;
}
#u76302 {
  position:absolute;
  left:1188px;
  top:34px;
  width:1px;
  height:10px;
}
#u76303 {
  position:absolute;
  left:2px;
  top:-3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76304 {
  position:absolute;
  left:1025px;
  top:24px;
  width:26px;
  height:30px;
}
#u76304_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:32px;
  height:36px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u76305 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:35px;
}
#u76306_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:30px;
}
#u76306 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:30px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
  text-align:center;
}
#u76306_img.selected {
}
#u76306.selected {
}
#u76307 {
  position:absolute;
  left:2px;
  top:6px;
  width:22px;
  word-wrap:break-word;
}
#u76308 {
  position:absolute;
  left:0px;
  top:30px;
  width:88px;
  height:139px;
  visibility:hidden;
}
#u76308_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:94px;
  height:145px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u76309 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:144px;
}
#u76310_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:34px;
}
#u76310 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:34px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u76310_img.selected {
}
#u76310.selected {
}
#u76311 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u76312_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u76312 {
  position:absolute;
  left:0px;
  top:34px;
  width:88px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u76312_img.selected {
}
#u76312.selected {
}
#u76313 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u76314_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u76314 {
  position:absolute;
  left:0px;
  top:69px;
  width:88px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u76314_img.selected {
}
#u76314.selected {
}
#u76315 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u76316_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u76316 {
  position:absolute;
  left:0px;
  top:104px;
  width:88px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u76316_img.selected {
}
#u76316.selected {
}
#u76317 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u76318_img {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:25px;
}
#u76318 {
  position:absolute;
  left:431px;
  top:43px;
  width:284px;
  height:25px;
  font-family:'微軟正黑體 Bold', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u76319 {
  position:absolute;
  left:2px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
#u76320_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:91px;
}
#u76320 {
  position:absolute;
  left:10px;
  top:10px;
  width:120px;
  height:91px;
}
#u76321 {
  position:absolute;
  left:2px;
  top:38px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76323 {
  position:absolute;
  left:11px;
  top:130px;
  width:171px;
  height:455px;
}
#u76323_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:461px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u76324 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:460px;
}
#u76325_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:32px;
}
#u76325 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:32px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u76325_img.mouseOver {
}
#u76325.mouseOver {
}
#u76325_img.selected {
}
#u76325.selected {
}
#u76326 {
  position:absolute;
  left:2px;
  top:7px;
  width:167px;
  word-wrap:break-word;
}
#u76327_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:38px;
}
#u76327 {
  position:absolute;
  left:0px;
  top:32px;
  width:171px;
  height:38px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u76327_img.mouseOver {
}
#u76327.mouseOver {
}
#u76327_img.selected {
}
#u76327.selected {
}
#u76328 {
  position:absolute;
  left:2px;
  top:10px;
  width:167px;
  word-wrap:break-word;
}
#u76329_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u76329 {
  position:absolute;
  left:0px;
  top:70px;
  width:171px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u76329_img.mouseOver {
}
#u76329.mouseOver {
}
#u76329_img.selected {
}
#u76329.selected {
}
#u76330 {
  position:absolute;
  left:2px;
  top:9px;
  width:167px;
  word-wrap:break-word;
}
#u76331_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u76331 {
  position:absolute;
  left:0px;
  top:105px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u76331_img.mouseOver {
}
#u76331.mouseOver {
}
#u76331_img.selected {
}
#u76331.selected {
}
#u76332 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u76333_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u76333 {
  position:absolute;
  left:0px;
  top:140px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u76333_img.mouseOver {
}
#u76333.mouseOver {
}
#u76333_img.selected {
}
#u76333.selected {
}
#u76334 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u76335_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u76335 {
  position:absolute;
  left:0px;
  top:175px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u76335_img.mouseOver {
}
#u76335.mouseOver {
}
#u76335_img.selected {
}
#u76335.selected {
}
#u76336 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u76337_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u76337 {
  position:absolute;
  left:0px;
  top:210px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u76337_img.mouseOver {
}
#u76337.mouseOver {
}
#u76337_img.selected {
}
#u76337.selected {
}
#u76338 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u76339_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u76339 {
  position:absolute;
  left:0px;
  top:245px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u76339_img.mouseOver {
}
#u76339.mouseOver {
}
#u76339_img.selected {
}
#u76339.selected {
}
#u76340 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u76341_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u76341 {
  position:absolute;
  left:0px;
  top:280px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u76341_img.mouseOver {
}
#u76341.mouseOver {
}
#u76341_img.selected {
}
#u76341.selected {
}
#u76342 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u76343_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u76343 {
  position:absolute;
  left:0px;
  top:315px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u76343_img.mouseOver {
}
#u76343.mouseOver {
}
#u76343_img.selected {
}
#u76343.selected {
}
#u76344 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u76345_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u76345 {
  position:absolute;
  left:0px;
  top:350px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u76345_img.mouseOver {
}
#u76345.mouseOver {
}
#u76345_img.selected {
}
#u76345.selected {
}
#u76346 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u76347_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u76347 {
  position:absolute;
  left:0px;
  top:385px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u76347_img.mouseOver {
}
#u76347.mouseOver {
}
#u76347_img.selected {
}
#u76347.selected {
}
#u76348 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u76349_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u76349 {
  position:absolute;
  left:0px;
  top:420px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u76349_img.mouseOver {
}
#u76349.mouseOver {
}
#u76349_img.selected {
}
#u76349.selected {
}
#u76350 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u76351 {
  position:absolute;
  left:171px;
  top:315px;
  width:171px;
  height:70px;
  visibility:hidden;
}
#u76351_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:76px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u76352 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:75px;
}
#u76353_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u76353 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u76353_img.mouseOver {
}
#u76353.mouseOver {
}
#u76353_img.selected {
}
#u76353.selected {
}
#u76354 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u76355_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u76355 {
  position:absolute;
  left:0px;
  top:35px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u76355_img.mouseOver {
}
#u76355.mouseOver {
}
#u76355_img.selected {
}
#u76355.selected {
}
#u76356 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u76357 {
  position:absolute;
  left:171px;
  top:105px;
  width:202px;
  height:148px;
  visibility:hidden;
}
#u76357_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:208px;
  height:154px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u76358 {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:153px;
}
#u76359_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:36px;
}
#u76359 {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:36px;
  font-size:15px;
  color:#000000;
  text-align:center;
}
#u76359_img.mouseOver {
}
#u76359.mouseOver {
}
#u76359_img.selected {
}
#u76359.selected {
}
#u76360 {
  position:absolute;
  left:2px;
  top:10px;
  width:198px;
  word-wrap:break-word;
}
#u76361_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:36px;
}
#u76361 {
  position:absolute;
  left:0px;
  top:36px;
  width:202px;
  height:36px;
  font-size:15px;
  color:#000000;
  text-align:center;
}
#u76361_img.mouseOver {
}
#u76361.mouseOver {
}
#u76361_img.selected {
}
#u76361.selected {
}
#u76362 {
  position:absolute;
  left:2px;
  top:10px;
  width:198px;
  word-wrap:break-word;
}
#u76363_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:38px;
}
#u76363 {
  position:absolute;
  left:0px;
  top:72px;
  width:202px;
  height:38px;
  font-size:15px;
  color:#000000;
  text-align:center;
}
#u76363_img.mouseOver {
}
#u76363.mouseOver {
}
#u76363_img.selected {
}
#u76363.selected {
}
#u76364 {
  position:absolute;
  left:2px;
  top:10px;
  width:198px;
  word-wrap:break-word;
}
#u76365_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:38px;
}
#u76365 {
  position:absolute;
  left:0px;
  top:110px;
  width:202px;
  height:38px;
  font-size:15px;
  color:#000000;
  text-align:center;
}
#u76365_img.mouseOver {
}
#u76365.mouseOver {
}
#u76365_img.selected {
}
#u76365.selected {
}
#u76366 {
  position:absolute;
  left:2px;
  top:10px;
  width:198px;
  word-wrap:break-word;
}
#u76367 {
  position:absolute;
  left:171px;
  top:32px;
  width:150px;
  height:175px;
  visibility:hidden;
}
#u76367_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:156px;
  height:181px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u76368 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:180px;
}
#u76369_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u76369 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u76369_img.mouseOver {
}
#u76369.mouseOver {
}
#u76369_img.selected {
}
#u76369.selected {
}
#u76370 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u76371_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u76371 {
  position:absolute;
  left:0px;
  top:35px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u76371_img.mouseOver {
}
#u76371.mouseOver {
}
#u76371_img.selected {
}
#u76371.selected {
}
#u76372 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u76373_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u76373 {
  position:absolute;
  left:0px;
  top:70px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u76373_img.mouseOver {
}
#u76373.mouseOver {
}
#u76373_img.selected {
}
#u76373.selected {
}
#u76374 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u76375_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u76375 {
  position:absolute;
  left:0px;
  top:105px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u76375_img.mouseOver {
}
#u76375.mouseOver {
}
#u76375_img.selected {
}
#u76375.selected {
}
#u76376 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u76377_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u76377 {
  position:absolute;
  left:0px;
  top:140px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u76377_img.mouseOver {
}
#u76377.mouseOver {
}
#u76377_img.selected {
}
#u76377.selected {
}
#u76378 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u76379 {
  position:absolute;
  left:171px;
  top:70px;
  width:171px;
  height:105px;
  visibility:hidden;
}
#u76379_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:111px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u76380 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:110px;
}
#u76381_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u76381 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u76381_img.mouseOver {
}
#u76381.mouseOver {
}
#u76381_img.selected {
}
#u76381.selected {
}
#u76382 {
  position:absolute;
  left:2px;
  top:9px;
  width:167px;
  word-wrap:break-word;
}
#u76383_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u76383 {
  position:absolute;
  left:0px;
  top:35px;
  width:171px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u76383_img.mouseOver {
}
#u76383.mouseOver {
}
#u76383_img.selected {
}
#u76383.selected {
}
#u76384 {
  position:absolute;
  left:2px;
  top:9px;
  width:167px;
  word-wrap:break-word;
}
#u76385_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u76385 {
  position:absolute;
  left:0px;
  top:70px;
  width:171px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u76385_img.mouseOver {
}
#u76385.mouseOver {
}
#u76385_img.selected {
}
#u76385.selected {
}
#u76386 {
  position:absolute;
  left:2px;
  top:9px;
  width:167px;
  word-wrap:break-word;
}
#u76387 {
  position:absolute;
  left:171px;
  top:350px;
  width:171px;
  height:35px;
  visibility:hidden;
}
#u76387_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:41px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u76388 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
}
#u76389_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u76389 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u76389_img.mouseOver {
}
#u76389.mouseOver {
}
#u76389_img.selected {
}
#u76389.selected {
}
#u76390 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u76391 {
  position:absolute;
  left:171px;
  top:385px;
  width:169px;
  height:315px;
  visibility:hidden;
}
#u76391_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:175px;
  height:321px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u76392 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:320px;
}
#u76393_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u76393 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u76393_img.mouseOver {
}
#u76393.mouseOver {
}
#u76393_img.selected {
}
#u76393.selected {
}
#u76394 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u76395_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u76395 {
  position:absolute;
  left:0px;
  top:35px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u76395_img.mouseOver {
}
#u76395.mouseOver {
}
#u76395_img.selected {
}
#u76395.selected {
}
#u76396 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u76397_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u76397 {
  position:absolute;
  left:0px;
  top:70px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u76397_img.mouseOver {
}
#u76397.mouseOver {
}
#u76397_img.selected {
}
#u76397.selected {
}
#u76398 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u76399_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u76399 {
  position:absolute;
  left:0px;
  top:105px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u76399_img.mouseOver {
}
#u76399.mouseOver {
}
#u76399_img.selected {
}
#u76399.selected {
}
#u76400 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u76401_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u76401 {
  position:absolute;
  left:0px;
  top:140px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u76401_img.mouseOver {
}
#u76401.mouseOver {
}
#u76401_img.selected {
}
#u76401.selected {
}
#u76402 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u76403_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u76403 {
  position:absolute;
  left:0px;
  top:175px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u76403_img.mouseOver {
}
#u76403.mouseOver {
}
#u76403_img.selected {
}
#u76403.selected {
}
#u76404 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u76405_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u76405 {
  position:absolute;
  left:0px;
  top:210px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u76405_img.mouseOver {
}
#u76405.mouseOver {
}
#u76405_img.selected {
}
#u76405.selected {
}
#u76406 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u76407_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u76407 {
  position:absolute;
  left:0px;
  top:245px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u76407_img.mouseOver {
}
#u76407.mouseOver {
}
#u76407_img.selected {
}
#u76407.selected {
}
#u76408 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u76409_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u76409 {
  position:absolute;
  left:0px;
  top:280px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u76409_img.mouseOver {
}
#u76409.mouseOver {
}
#u76409_img.selected {
}
#u76409.selected {
}
#u76410 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u76411 {
  position:absolute;
  left:171px;
  top:420px;
  width:171px;
  height:35px;
  visibility:hidden;
}
#u76411_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:41px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u76412 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
}
#u76413_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u76413 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u76413_img.mouseOver {
}
#u76413.mouseOver {
}
#u76413_img.selected {
}
#u76413.selected {
}
#u76414 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u76415 {
  position:absolute;
  left:171px;
  top:280px;
  width:171px;
  height:35px;
  visibility:hidden;
}
#u76415_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:41px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u76416 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
}
#u76417_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u76417 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u76417_img.mouseOver {
}
#u76417.mouseOver {
}
#u76417_img.selected {
}
#u76417.selected {
}
#u76418 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u76419 {
  position:absolute;
  left:171px;
  top:175px;
  width:179px;
  height:285px;
  visibility:hidden;
}
#u76419_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:185px;
  height:291px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u76420 {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:290px;
}
#u76421_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:35px;
}
#u76421 {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u76421_img.mouseOver {
}
#u76421.mouseOver {
}
#u76421_img.selected {
}
#u76421.selected {
}
#u76422 {
  position:absolute;
  left:2px;
  top:8px;
  width:175px;
  word-wrap:break-word;
}
#u76423_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:35px;
}
#u76423 {
  position:absolute;
  left:0px;
  top:35px;
  width:179px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u76423_img.mouseOver {
}
#u76423.mouseOver {
}
#u76423_img.selected {
}
#u76423.selected {
}
#u76424 {
  position:absolute;
  left:2px;
  top:8px;
  width:175px;
  word-wrap:break-word;
}
#u76425_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:35px;
}
#u76425 {
  position:absolute;
  left:0px;
  top:70px;
  width:179px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u76425_img.mouseOver {
}
#u76425.mouseOver {
}
#u76425_img.selected {
}
#u76425.selected {
}
#u76426 {
  position:absolute;
  left:2px;
  top:8px;
  width:175px;
  word-wrap:break-word;
}
#u76427_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:35px;
}
#u76427 {
  position:absolute;
  left:0px;
  top:105px;
  width:179px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u76427_img.mouseOver {
}
#u76427.mouseOver {
}
#u76427_img.selected {
}
#u76427.selected {
}
#u76428 {
  position:absolute;
  left:2px;
  top:8px;
  width:175px;
  word-wrap:break-word;
}
#u76429_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:35px;
}
#u76429 {
  position:absolute;
  left:0px;
  top:140px;
  width:179px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u76429_img.mouseOver {
}
#u76429.mouseOver {
}
#u76429_img.selected {
}
#u76429.selected {
}
#u76430 {
  position:absolute;
  left:2px;
  top:8px;
  width:175px;
  word-wrap:break-word;
}
#u76431_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:35px;
}
#u76431 {
  position:absolute;
  left:0px;
  top:175px;
  width:179px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u76431_img.mouseOver {
}
#u76431.mouseOver {
}
#u76431_img.selected {
}
#u76431.selected {
}
#u76432 {
  position:absolute;
  left:2px;
  top:8px;
  width:175px;
  word-wrap:break-word;
}
#u76433_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:35px;
}
#u76433 {
  position:absolute;
  left:0px;
  top:210px;
  width:179px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u76433_img.mouseOver {
}
#u76433.mouseOver {
}
#u76433_img.selected {
}
#u76433.selected {
}
#u76434 {
  position:absolute;
  left:2px;
  top:8px;
  width:175px;
  word-wrap:break-word;
}
#u76435_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:40px;
}
#u76435 {
  position:absolute;
  left:0px;
  top:245px;
  width:179px;
  height:40px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u76435_img.mouseOver {
}
#u76435.mouseOver {
}
#u76435_img.selected {
}
#u76435.selected {
}
#u76436 {
  position:absolute;
  left:2px;
  top:11px;
  width:175px;
  word-wrap:break-word;
}
#u76437 {
  position:absolute;
  left:171px;
  top:140px;
  width:171px;
  height:70px;
  visibility:hidden;
}
#u76437_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:76px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u76438 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:75px;
}
#u76439_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u76439 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u76439_img.mouseOver {
}
#u76439.mouseOver {
}
#u76439_img.selected {
}
#u76439.selected {
}
#u76440 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u76441_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u76441 {
  position:absolute;
  left:0px;
  top:35px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u76441_img.mouseOver {
}
#u76441.mouseOver {
}
#u76441_img.selected {
}
#u76441.selected {
}
#u76442 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u76443 {
  position:absolute;
  left:171px;
  top:210px;
  width:202px;
  height:75px;
  visibility:hidden;
}
#u76443_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:208px;
  height:81px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u76444 {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:80px;
}
#u76445_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:35px;
}
#u76445 {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u76445_img.mouseOver {
}
#u76445.mouseOver {
}
#u76445_img.selected {
}
#u76445.selected {
}
#u76446 {
  position:absolute;
  left:2px;
  top:8px;
  width:198px;
  word-wrap:break-word;
}
#u76447_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:40px;
}
#u76447 {
  position:absolute;
  left:0px;
  top:35px;
  width:202px;
  height:40px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u76447_img.mouseOver {
}
#u76447.mouseOver {
}
#u76447_img.selected {
}
#u76447.selected {
}
#u76448 {
  position:absolute;
  left:2px;
  top:11px;
  width:198px;
  word-wrap:break-word;
}
#u76450_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:90px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u76450 {
  position:absolute;
  left:0px;
  top:1050px;
  width:1280px;
  height:90px;
}
#u76451 {
  position:absolute;
  left:2px;
  top:37px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76452_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:38px;
}
#u76452 {
  position:absolute;
  left:1092px;
  top:1096px;
  width:180px;
  height:38px;
  font-size:16px;
  color:#FF0000;
}
#u76453 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u76454_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:75px;
}
#u76454 {
  position:absolute;
  left:9px;
  top:1059px;
  width:99px;
  height:75px;
}
#u76455 {
  position:absolute;
  left:2px;
  top:30px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76456_div {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Medium', 'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
}
#u76456 {
  position:absolute;
  left:220px;
  top:150px;
  width:289px;
  height:38px;
  font-family:'STHeitiTC-Medium', 'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
}
#u76457 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  white-space:nowrap;
}
#u76458_div {
  position:absolute;
  left:0px;
  top:0px;
  width:820px;
  height:40px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Medium', 'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u76458 {
  position:absolute;
  left:220px;
  top:213px;
  width:820px;
  height:40px;
  font-family:'STHeitiTC-Medium', 'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u76459 {
  position:absolute;
  left:10px;
  top:9px;
  width:808px;
  word-wrap:break-word;
}
#u76460 {
  position:absolute;
  left:220px;
  top:253px;
  width:825px;
  height:322px;
}
#u76461_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:45px;
}
#u76461 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:45px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u76462 {
  position:absolute;
  left:10px;
  top:14px;
  width:148px;
  word-wrap:break-word;
}
#u76463_img {
  position:absolute;
  left:0px;
  top:0px;
  width:660px;
  height:45px;
}
#u76463 {
  position:absolute;
  left:160px;
  top:0px;
  width:660px;
  height:45px;
  font-size:15px;
  color:#666666;
}
#u76464 {
  position:absolute;
  left:10px;
  top:14px;
  width:648px;
  word-wrap:break-word;
}
#u76465_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:45px;
}
#u76465 {
  position:absolute;
  left:0px;
  top:45px;
  width:160px;
  height:45px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u76466 {
  position:absolute;
  left:10px;
  top:14px;
  width:148px;
  word-wrap:break-word;
}
#u76467_img {
  position:absolute;
  left:0px;
  top:0px;
  width:660px;
  height:45px;
}
#u76467 {
  position:absolute;
  left:160px;
  top:45px;
  width:660px;
  height:45px;
  font-size:15px;
  color:#666666;
}
#u76468 {
  position:absolute;
  left:10px;
  top:14px;
  width:648px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76469_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:227px;
}
#u76469 {
  position:absolute;
  left:0px;
  top:90px;
  width:160px;
  height:227px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u76470 {
  position:absolute;
  left:10px;
  top:105px;
  width:148px;
  word-wrap:break-word;
}
#u76471_img {
  position:absolute;
  left:0px;
  top:0px;
  width:660px;
  height:227px;
}
#u76471 {
  position:absolute;
  left:160px;
  top:90px;
  width:660px;
  height:227px;
  font-size:15px;
  color:#666666;
}
#u76472 {
  position:absolute;
  left:10px;
  top:106px;
  width:648px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76473 {
  position:absolute;
  left:387px;
  top:306px;
  width:641px;
  height:30px;
}
#u76473_input {
  position:absolute;
  left:0px;
  top:0px;
  width:641px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u76474 {
  position:absolute;
  left:387px;
  top:405px;
  width:641px;
  height:138px;
}
#u76474_input {
  position:absolute;
  left:0px;
  top:0px;
  width:641px;
  height:138px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u76475_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u76475 {
  position:absolute;
  left:635px;
  top:627px;
  width:100px;
  height:30px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u76475_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u76475.mouseOver {
}
#u76476 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u76477_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u76477 {
  position:absolute;
  left:525px;
  top:627px;
  width:100px;
  height:30px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u76477_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u76477.mouseOver {
}
#u76478 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u76479_img {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:16px;
}
#u76479 {
  position:absolute;
  left:1050px;
  top:265px;
  width:287px;
  height:16px;
  color:#FF0000;
  text-align:center;
}
#u76480 {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  white-space:nowrap;
}
#u76481_img {
  position:absolute;
  left:0px;
  top:0px;
  width:643px;
  height:37px;
}
#u76481 {
  position:absolute;
  left:387px;
  top:368px;
  width:643px;
  height:37px;
}
#u76482 {
  position:absolute;
  left:2px;
  top:10px;
  width:639px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76483 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u76484_div {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:136px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u76484 {
  position:absolute;
  left:495px;
  top:360px;
  width:308px;
  height:136px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u76485 {
  position:absolute;
  left:20px;
  top:20px;
  width:286px;
  word-wrap:break-word;
}
#u76486 {
  position:absolute;
  left:712px;
  top:442px;
  width:75px;
  height:25px;
}
#u76486_input {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u76487 {
  position:absolute;
  left:611px;
  top:442px;
  width:75px;
  height:25px;
}
#u76487_input {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
