body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u29137_div {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:850px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29137 {
  position:absolute;
  left:0px;
  top:109px;
  width:191px;
  height:850px;
}
#u29138 {
  position:absolute;
  left:2px;
  top:417px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29140_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:90px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29140 {
  position:absolute;
  left:0px;
  top:944px;
  width:1280px;
  height:90px;
}
#u29141 {
  position:absolute;
  left:2px;
  top:37px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:38px;
}
#u29142 {
  position:absolute;
  left:1076px;
  top:1152px;
  width:180px;
  height:38px;
  font-size:16px;
  color:#FF0000;
}
#u29143 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u29144_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
}
#u29144 {
  position:absolute;
  left:220px;
  top:150px;
  width:84px;
  height:38px;
  font-family:'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
}
#u29145 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u29146_div {
  position:absolute;
  left:0px;
  top:0px;
  width:820px;
  height:40px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u29146 {
  position:absolute;
  left:220px;
  top:213px;
  width:820px;
  height:40px;
  font-family:'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u29147 {
  position:absolute;
  left:10px;
  top:12px;
  width:808px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29148 {
  position:absolute;
  left:220px;
  top:253px;
  width:825px;
  height:593px;
}
#u29149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:45px;
}
#u29149 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:45px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u29150 {
  position:absolute;
  left:10px;
  top:14px;
  width:148px;
  word-wrap:break-word;
}
#u29151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:660px;
  height:45px;
}
#u29151 {
  position:absolute;
  left:160px;
  top:0px;
  width:660px;
  height:45px;
  color:#000000;
}
#u29152 {
  position:absolute;
  left:10px;
  top:14px;
  width:648px;
  word-wrap:break-word;
}
#u29153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:273px;
}
#u29153 {
  position:absolute;
  left:0px;
  top:45px;
  width:160px;
  height:273px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u29154 {
  position:absolute;
  left:10px;
  top:128px;
  width:148px;
  word-wrap:break-word;
}
#u29155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:660px;
  height:273px;
}
#u29155 {
  position:absolute;
  left:160px;
  top:45px;
  width:660px;
  height:273px;
  color:#000000;
  text-align:left;
}
#u29156 {
  position:absolute;
  left:10px;
  top:8px;
  width:648px;
  word-wrap:break-word;
}
#u29157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:270px;
}
#u29157 {
  position:absolute;
  left:0px;
  top:318px;
  width:160px;
  height:270px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u29158 {
  position:absolute;
  left:10px;
  top:126px;
  width:148px;
  word-wrap:break-word;
}
#u29159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:660px;
  height:270px;
}
#u29159 {
  position:absolute;
  left:160px;
  top:318px;
  width:660px;
  height:270px;
  font-size:15px;
  color:#666666;
}
#u29160 {
  position:absolute;
  left:10px;
  top:127px;
  width:648px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29161_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u29161 {
  position:absolute;
  left:635px;
  top:878px;
  width:100px;
  height:30px;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u29161_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u29161.mouseOver {
}
#u29162 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u29163_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u29163 {
  position:absolute;
  left:525px;
  top:878px;
  width:100px;
  height:30px;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u29163_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u29163.mouseOver {
}
#u29164 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u29166_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:110px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29166 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:110px;
}
#u29167 {
  position:absolute;
  left:2px;
  top:47px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29168_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Rounded MT Bold';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u29168 {
  position:absolute;
  left:20px;
  top:40px;
  width:144px;
  height:55px;
  font-family:'Arial Rounded MT Bold';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u29169 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u29170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:25px;
}
#u29170 {
  position:absolute;
  left:396px;
  top:34px;
  width:284px;
  height:25px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
  text-align:left;
}
#u29171 {
  position:absolute;
  left:2px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
#u29172 {
  position:absolute;
  left:1025px;
  top:24px;
  width:26px;
  height:30px;
}
#u29172_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:32px;
  height:36px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u29173 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:35px;
}
#u29174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:30px;
}
#u29174 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:30px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
  text-align:center;
}
#u29174_img.selected {
}
#u29174.selected {
}
#u29175 {
  position:absolute;
  left:2px;
  top:6px;
  width:22px;
  word-wrap:break-word;
}
#u29176 {
  position:absolute;
  left:0px;
  top:30px;
  width:88px;
  height:139px;
  visibility:hidden;
}
#u29176_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:94px;
  height:145px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u29177 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:144px;
}
#u29178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:34px;
}
#u29178 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:34px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u29178_img.selected {
}
#u29178.selected {
}
#u29179 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u29180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u29180 {
  position:absolute;
  left:0px;
  top:34px;
  width:88px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u29180_img.selected {
}
#u29180.selected {
}
#u29181 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u29182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u29182 {
  position:absolute;
  left:0px;
  top:69px;
  width:88px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u29182_img.selected {
}
#u29182.selected {
}
#u29183 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u29184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u29184 {
  position:absolute;
  left:0px;
  top:104px;
  width:88px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u29184_img.selected {
}
#u29184.selected {
}
#u29185 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u29186 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u29187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:126px;
}
#u29187 {
  position:absolute;
  left:389px;
  top:373px;
  width:209px;
  height:126px;
}
#u29188 {
  position:absolute;
  left:2px;
  top:55px;
  width:205px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29189 {
  position:absolute;
  left:391px;
  top:621px;
  width:641px;
  height:210px;
}
#u29189_input {
  position:absolute;
  left:0px;
  top:0px;
  width:641px;
  height:210px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u29190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:643px;
  height:37px;
}
#u29190 {
  position:absolute;
  left:389px;
  top:584px;
  width:643px;
  height:37px;
}
#u29191 {
  position:absolute;
  left:2px;
  top:10px;
  width:639px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29192 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u29193_div {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:136px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u29193 {
  position:absolute;
  left:525px;
  top:599px;
  width:308px;
  height:136px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u29194 {
  position:absolute;
  left:20px;
  top:20px;
  width:286px;
  word-wrap:break-word;
}
#u29195 {
  position:absolute;
  left:742px;
  top:681px;
  width:75px;
  height:25px;
}
#u29195_input {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u29196 {
  position:absolute;
  left:641px;
  top:681px;
  width:75px;
  height:25px;
}
#u29196_input {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
