body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u41078_div {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:871px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41078 {
  position:absolute;
  left:0px;
  top:109px;
  width:191px;
  height:871px;
}
#u41079 {
  position:absolute;
  left:2px;
  top:428px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41081_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:110px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41081 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:110px;
}
#u41082 {
  position:absolute;
  left:2px;
  top:47px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41083 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u41084_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
}
#u41084 {
  position:absolute;
  left:1061px;
  top:30px;
  width:129px;
  height:17px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
}
#u41085 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u41086_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
}
#u41086 {
  position:absolute;
  left:1197px;
  top:30px;
  width:39px;
  height:17px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
}
#u41087 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u41088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:11px;
}
#u41088 {
  position:absolute;
  left:1188px;
  top:34px;
  width:1px;
  height:10px;
}
#u41089 {
  position:absolute;
  left:2px;
  top:-3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41090_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Rounded MT Bold';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u41090 {
  position:absolute;
  left:20px;
  top:30px;
  width:144px;
  height:55px;
  font-family:'Arial Rounded MT Bold';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u41091 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u41092 {
  position:absolute;
  left:1025px;
  top:24px;
  width:26px;
  height:30px;
}
#u41092_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:32px;
  height:36px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u41093 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:35px;
}
#u41094_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:30px;
}
#u41094 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:30px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
  text-align:center;
}
#u41094_img.selected {
}
#u41094.selected {
}
#u41095 {
  position:absolute;
  left:2px;
  top:6px;
  width:22px;
  word-wrap:break-word;
}
#u41096 {
  position:absolute;
  left:0px;
  top:30px;
  width:88px;
  height:139px;
  visibility:hidden;
}
#u41096_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:94px;
  height:145px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u41097 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:144px;
}
#u41098_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:34px;
}
#u41098 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:34px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u41098_img.selected {
}
#u41098.selected {
}
#u41099 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u41100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u41100 {
  position:absolute;
  left:0px;
  top:34px;
  width:88px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u41100_img.selected {
}
#u41100.selected {
}
#u41101 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u41102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u41102 {
  position:absolute;
  left:0px;
  top:69px;
  width:88px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u41102_img.selected {
}
#u41102.selected {
}
#u41103 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u41104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u41104 {
  position:absolute;
  left:0px;
  top:104px;
  width:88px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u41104_img.selected {
}
#u41104.selected {
}
#u41105 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u41106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:25px;
}
#u41106 {
  position:absolute;
  left:396px;
  top:34px;
  width:284px;
  height:25px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
  text-align:left;
}
#u41107 {
  position:absolute;
  left:2px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
#u41109 {
  position:absolute;
  left:11px;
  top:130px;
  width:171px;
  height:385px;
}
#u41109_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:391px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u41110 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:390px;
}
#u41111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:32px;
}
#u41111 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:32px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u41111_img.mouseOver {
}
#u41111.mouseOver {
}
#u41111_img.selected {
}
#u41111.selected {
}
#u41112 {
  position:absolute;
  left:2px;
  top:7px;
  width:167px;
  word-wrap:break-word;
}
#u41113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:38px;
}
#u41113 {
  position:absolute;
  left:0px;
  top:32px;
  width:171px;
  height:38px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u41113_img.mouseOver {
}
#u41113.mouseOver {
}
#u41113_img.selected {
}
#u41113.selected {
}
#u41114 {
  position:absolute;
  left:2px;
  top:10px;
  width:167px;
  word-wrap:break-word;
}
#u41115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u41115 {
  position:absolute;
  left:0px;
  top:70px;
  width:171px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u41115_img.mouseOver {
}
#u41115.mouseOver {
}
#u41115_img.selected {
}
#u41115.selected {
}
#u41116 {
  position:absolute;
  left:2px;
  top:9px;
  width:167px;
  word-wrap:break-word;
}
#u41117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u41117 {
  position:absolute;
  left:0px;
  top:105px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u41117_img.mouseOver {
}
#u41117.mouseOver {
}
#u41117_img.selected {
}
#u41117.selected {
}
#u41118 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u41119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u41119 {
  position:absolute;
  left:0px;
  top:140px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u41119_img.mouseOver {
}
#u41119.mouseOver {
}
#u41119_img.selected {
}
#u41119.selected {
}
#u41120 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u41121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u41121 {
  position:absolute;
  left:0px;
  top:175px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u41121_img.mouseOver {
}
#u41121.mouseOver {
}
#u41121_img.selected {
}
#u41121.selected {
}
#u41122 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u41123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u41123 {
  position:absolute;
  left:0px;
  top:210px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u41123_img.mouseOver {
}
#u41123.mouseOver {
}
#u41123_img.selected {
}
#u41123.selected {
}
#u41124 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u41125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u41125 {
  position:absolute;
  left:0px;
  top:245px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u41125_img.mouseOver {
}
#u41125.mouseOver {
}
#u41125_img.selected {
}
#u41125.selected {
}
#u41126 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u41127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u41127 {
  position:absolute;
  left:0px;
  top:280px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u41127_img.mouseOver {
}
#u41127.mouseOver {
}
#u41127_img.selected {
}
#u41127.selected {
}
#u41128 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u41129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u41129 {
  position:absolute;
  left:0px;
  top:315px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u41129_img.mouseOver {
}
#u41129.mouseOver {
}
#u41129_img.selected {
}
#u41129.selected {
}
#u41130 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u41131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u41131 {
  position:absolute;
  left:0px;
  top:350px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u41131_img.mouseOver {
}
#u41131.mouseOver {
}
#u41131_img.selected {
}
#u41131.selected {
}
#u41132 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u41133 {
  position:absolute;
  left:171px;
  top:245px;
  width:171px;
  height:35px;
  visibility:hidden;
}
#u41133_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:41px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u41134 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
}
#u41135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u41135 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u41135_img.mouseOver {
}
#u41135.mouseOver {
}
#u41135_img.selected {
}
#u41135.selected {
}
#u41136 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u41137 {
  position:absolute;
  left:171px;
  top:105px;
  width:202px;
  height:112px;
  visibility:hidden;
}
#u41137_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:208px;
  height:118px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u41138 {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:117px;
}
#u41139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:36px;
}
#u41139 {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:36px;
  font-size:15px;
  color:#000000;
  text-align:center;
}
#u41139_img.mouseOver {
}
#u41139.mouseOver {
}
#u41139_img.selected {
}
#u41139.selected {
}
#u41140 {
  position:absolute;
  left:2px;
  top:10px;
  width:198px;
  word-wrap:break-word;
}
#u41141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:38px;
}
#u41141 {
  position:absolute;
  left:0px;
  top:36px;
  width:202px;
  height:38px;
  font-size:15px;
  color:#000000;
  text-align:center;
}
#u41141_img.mouseOver {
}
#u41141.mouseOver {
}
#u41141_img.selected {
}
#u41141.selected {
}
#u41142 {
  position:absolute;
  left:2px;
  top:10px;
  width:198px;
  word-wrap:break-word;
}
#u41143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:38px;
}
#u41143 {
  position:absolute;
  left:0px;
  top:74px;
  width:202px;
  height:38px;
  font-size:15px;
  color:#000000;
  text-align:center;
}
#u41143_img.mouseOver {
}
#u41143.mouseOver {
}
#u41143_img.selected {
}
#u41143.selected {
}
#u41144 {
  position:absolute;
  left:2px;
  top:10px;
  width:198px;
  word-wrap:break-word;
}
#u41145 {
  position:absolute;
  left:171px;
  top:32px;
  width:150px;
  height:175px;
  visibility:hidden;
}
#u41145_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:156px;
  height:181px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u41146 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:180px;
}
#u41147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u41147 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u41147_img.mouseOver {
}
#u41147.mouseOver {
}
#u41147_img.selected {
}
#u41147.selected {
}
#u41148 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u41149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u41149 {
  position:absolute;
  left:0px;
  top:35px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u41149_img.mouseOver {
}
#u41149.mouseOver {
}
#u41149_img.selected {
}
#u41149.selected {
}
#u41150 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u41151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u41151 {
  position:absolute;
  left:0px;
  top:70px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u41151_img.mouseOver {
}
#u41151.mouseOver {
}
#u41151_img.selected {
}
#u41151.selected {
}
#u41152 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u41153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u41153 {
  position:absolute;
  left:0px;
  top:105px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u41153_img.mouseOver {
}
#u41153.mouseOver {
}
#u41153_img.selected {
}
#u41153.selected {
}
#u41154 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u41155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u41155 {
  position:absolute;
  left:0px;
  top:140px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u41155_img.mouseOver {
}
#u41155.mouseOver {
}
#u41155_img.selected {
}
#u41155.selected {
}
#u41156 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u41157 {
  position:absolute;
  left:171px;
  top:70px;
  width:171px;
  height:35px;
  visibility:hidden;
}
#u41157_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:41px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u41158 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
}
#u41159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u41159 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u41159_img.mouseOver {
}
#u41159.mouseOver {
}
#u41159_img.selected {
}
#u41159.selected {
}
#u41160 {
  position:absolute;
  left:2px;
  top:9px;
  width:167px;
  word-wrap:break-word;
}
#u41161 {
  position:absolute;
  left:171px;
  top:280px;
  width:171px;
  height:110px;
  visibility:hidden;
}
#u41161_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:116px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u41162 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:115px;
}
#u41163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u41163 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u41163_img.mouseOver {
}
#u41163.mouseOver {
}
#u41163_img.selected {
}
#u41163.selected {
}
#u41164 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u41165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u41165 {
  position:absolute;
  left:0px;
  top:35px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u41165_img.mouseOver {
}
#u41165.mouseOver {
}
#u41165_img.selected {
}
#u41165.selected {
}
#u41166 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u41167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:40px;
}
#u41167 {
  position:absolute;
  left:0px;
  top:70px;
  width:171px;
  height:40px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u41167_img.mouseOver {
}
#u41167.mouseOver {
}
#u41167_img.selected {
}
#u41167.selected {
}
#u41168 {
  position:absolute;
  left:2px;
  top:11px;
  width:167px;
  word-wrap:break-word;
}
#u41169 {
  position:absolute;
  left:171px;
  top:315px;
  width:169px;
  height:210px;
  visibility:hidden;
}
#u41169_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:175px;
  height:216px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u41170 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:215px;
}
#u41171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u41171 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u41171_img.mouseOver {
}
#u41171.mouseOver {
}
#u41171_img.selected {
}
#u41171.selected {
}
#u41172 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u41173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u41173 {
  position:absolute;
  left:0px;
  top:35px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u41173_img.mouseOver {
}
#u41173.mouseOver {
}
#u41173_img.selected {
}
#u41173.selected {
}
#u41174 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u41175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u41175 {
  position:absolute;
  left:0px;
  top:70px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u41175_img.mouseOver {
}
#u41175.mouseOver {
}
#u41175_img.selected {
}
#u41175.selected {
}
#u41176 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u41177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u41177 {
  position:absolute;
  left:0px;
  top:105px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u41177_img.mouseOver {
}
#u41177.mouseOver {
}
#u41177_img.selected {
}
#u41177.selected {
}
#u41178 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u41179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u41179 {
  position:absolute;
  left:0px;
  top:140px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u41179_img.mouseOver {
}
#u41179.mouseOver {
}
#u41179_img.selected {
}
#u41179.selected {
}
#u41180 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u41181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u41181 {
  position:absolute;
  left:0px;
  top:175px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u41181_img.mouseOver {
}
#u41181.mouseOver {
}
#u41181_img.selected {
}
#u41181.selected {
}
#u41182 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u41183 {
  position:absolute;
  left:171px;
  top:350px;
  width:171px;
  height:35px;
  visibility:hidden;
}
#u41183_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:41px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u41184 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
}
#u41185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u41185 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u41185_img.mouseOver {
}
#u41185.mouseOver {
}
#u41185_img.selected {
}
#u41185.selected {
}
#u41186 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u41187 {
  position:absolute;
  left:171px;
  top:210px;
  width:171px;
  height:35px;
  visibility:hidden;
}
#u41187_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:41px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u41188 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
}
#u41189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u41189 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u41189_img.mouseOver {
}
#u41189.mouseOver {
}
#u41189_img.selected {
}
#u41189.selected {
}
#u41190 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u41191 {
  position:absolute;
  left:171px;
  top:175px;
  width:171px;
  height:70px;
  visibility:hidden;
}
#u41191_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:76px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u41192 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:75px;
}
#u41193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u41193 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u41193_img.mouseOver {
}
#u41193.mouseOver {
}
#u41193_img.selected {
}
#u41193.selected {
}
#u41194 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u41195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u41195 {
  position:absolute;
  left:0px;
  top:35px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u41195_img.mouseOver {
}
#u41195.mouseOver {
}
#u41195_img.selected {
}
#u41195.selected {
}
#u41196 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u41197 {
  position:absolute;
  left:171px;
  top:140px;
  width:171px;
  height:70px;
  visibility:hidden;
}
#u41197_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:76px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u41198 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:75px;
}
#u41199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u41199 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u41199_img.mouseOver {
}
#u41199.mouseOver {
}
#u41199_img.selected {
}
#u41199.selected {
}
#u41200 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u41201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u41201 {
  position:absolute;
  left:0px;
  top:35px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u41201_img.mouseOver {
}
#u41201.mouseOver {
}
#u41201_img.selected {
}
#u41201.selected {
}
#u41202 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u41204_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:90px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41204 {
  position:absolute;
  left:0px;
  top:980px;
  width:1280px;
  height:90px;
}
#u41205 {
  position:absolute;
  left:2px;
  top:37px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41206_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u41206 {
  position:absolute;
  left:35px;
  top:1007px;
  width:94px;
  height:37px;
  color:#FFFFFF;
}
#u41207 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u41208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:38px;
}
#u41208 {
  position:absolute;
  left:1102px;
  top:1026px;
  width:170px;
  height:38px;
  font-size:16px;
  color:#FF0000;
}
#u41209 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u41210 {
  position:absolute;
  left:220px;
  top:200px;
  width:555px;
  height:125px;
}
#u41211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:40px;
}
#u41211 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:40px;
  font-family:'STHeitiTC-Medium', 'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u41212 {
  position:absolute;
  left:10px;
  top:11px;
  width:129px;
  word-wrap:break-word;
}
#u41213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  height:40px;
}
#u41213 {
  position:absolute;
  left:141px;
  top:0px;
  width:409px;
  height:40px;
  font-size:15px;
  text-align:center;
}
#u41214 {
  position:absolute;
  left:10px;
  top:12px;
  width:397px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:40px;
}
#u41215 {
  position:absolute;
  left:0px;
  top:40px;
  width:141px;
  height:40px;
  font-family:'STHeitiTC-Medium', 'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u41216 {
  position:absolute;
  left:10px;
  top:11px;
  width:129px;
  word-wrap:break-word;
}
#u41217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  height:40px;
}
#u41217 {
  position:absolute;
  left:141px;
  top:40px;
  width:409px;
  height:40px;
  font-size:15px;
  text-align:center;
}
#u41218 {
  position:absolute;
  left:10px;
  top:12px;
  width:397px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:40px;
}
#u41219 {
  position:absolute;
  left:0px;
  top:80px;
  width:141px;
  height:40px;
  font-family:'STHeitiTC-Medium', 'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u41220 {
  position:absolute;
  left:10px;
  top:11px;
  width:129px;
  word-wrap:break-word;
}
#u41221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  height:40px;
}
#u41221 {
  position:absolute;
  left:141px;
  top:80px;
  width:409px;
  height:40px;
  font-size:15px;
  text-align:center;
}
#u41222 {
  position:absolute;
  left:10px;
  top:12px;
  width:397px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41223 {
  position:absolute;
  left:374px;
  top:245px;
  width:384px;
  height:30px;
}
#u41223_input {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u41223_input:disabled {
  color:grayText;
}
#u41224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:2px;
}
#u41224 {
  position:absolute;
  left:220px;
  top:419px;
  width:900px;
  height:1px;
}
#u41225 {
  position:absolute;
  left:2px;
  top:-8px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41226 {
  position:absolute;
  left:220px;
  top:437px;
  width:803px;
  height:379px;
}
#u41227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:30px;
}
#u41227 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:30px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u41228 {
  position:absolute;
  left:2px;
  top:7px;
  width:165px;
  word-wrap:break-word;
}
#u41229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:30px;
}
#u41229 {
  position:absolute;
  left:169px;
  top:0px;
  width:331px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
  text-align:center;
}
#u41230 {
  position:absolute;
  left:2px;
  top:6px;
  width:327px;
  word-wrap:break-word;
}
#u41231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:30px;
}
#u41231 {
  position:absolute;
  left:500px;
  top:0px;
  width:149px;
  height:30px;
  color:#FFFFFF;
  text-align:center;
}
#u41232 {
  position:absolute;
  left:2px;
  top:7px;
  width:145px;
  word-wrap:break-word;
}
#u41233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:30px;
}
#u41233 {
  position:absolute;
  left:649px;
  top:0px;
  width:149px;
  height:30px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u41234 {
  position:absolute;
  left:2px;
  top:7px;
  width:145px;
  word-wrap:break-word;
}
#u41235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:36px;
}
#u41235 {
  position:absolute;
  left:0px;
  top:30px;
  width:169px;
  height:36px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  color:#000000;
  text-align:center;
}
#u41236 {
  position:absolute;
  left:0px;
  top:10px;
  width:167px;
  word-wrap:break-word;
}
#u41237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:36px;
}
#u41237 {
  position:absolute;
  left:169px;
  top:30px;
  width:331px;
  height:36px;
  text-align:center;
}
#u41238 {
  position:absolute;
  left:2px;
  top:10px;
  width:327px;
  word-wrap:break-word;
}
#u41239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:36px;
}
#u41239 {
  position:absolute;
  left:500px;
  top:30px;
  width:149px;
  height:36px;
  text-align:center;
}
#u41240 {
  position:absolute;
  left:0px;
  top:10px;
  width:147px;
  word-wrap:break-word;
}
#u41241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:36px;
}
#u41241 {
  position:absolute;
  left:649px;
  top:30px;
  width:149px;
  height:36px;
  font-family:'STHeitiTC-Medium', 'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
  text-decoration:underline;
  text-align:center;
}
#u41242 {
  position:absolute;
  left:0px;
  top:10px;
  width:147px;
  word-wrap:break-word;
}
#u41243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:36px;
}
#u41243 {
  position:absolute;
  left:0px;
  top:66px;
  width:169px;
  height:36px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  color:#000000;
  text-align:center;
}
#u41244 {
  position:absolute;
  left:0px;
  top:10px;
  width:167px;
  word-wrap:break-word;
}
#u41245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:36px;
}
#u41245 {
  position:absolute;
  left:169px;
  top:66px;
  width:331px;
  height:36px;
  text-align:center;
}
#u41246 {
  position:absolute;
  left:2px;
  top:10px;
  width:327px;
  word-wrap:break-word;
}
#u41247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:36px;
}
#u41247 {
  position:absolute;
  left:500px;
  top:66px;
  width:149px;
  height:36px;
  text-align:center;
}
#u41248 {
  position:absolute;
  left:0px;
  top:10px;
  width:147px;
  word-wrap:break-word;
}
#u41249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:36px;
}
#u41249 {
  position:absolute;
  left:649px;
  top:66px;
  width:149px;
  height:36px;
  font-family:'STHeitiTC-Medium', 'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
  text-decoration:underline;
  text-align:center;
}
#u41250 {
  position:absolute;
  left:0px;
  top:10px;
  width:147px;
  word-wrap:break-word;
}
#u41251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:34px;
}
#u41251 {
  position:absolute;
  left:0px;
  top:102px;
  width:169px;
  height:34px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  color:#000000;
  text-align:center;
}
#u41252 {
  position:absolute;
  left:0px;
  top:9px;
  width:167px;
  word-wrap:break-word;
}
#u41253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:34px;
}
#u41253 {
  position:absolute;
  left:169px;
  top:102px;
  width:331px;
  height:34px;
  text-align:center;
}
#u41254 {
  position:absolute;
  left:2px;
  top:9px;
  width:327px;
  word-wrap:break-word;
}
#u41255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:34px;
}
#u41255 {
  position:absolute;
  left:500px;
  top:102px;
  width:149px;
  height:34px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  text-align:center;
}
#u41256 {
  position:absolute;
  left:0px;
  top:9px;
  width:147px;
  word-wrap:break-word;
}
#u41257_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:34px;
}
#u41257 {
  position:absolute;
  left:649px;
  top:102px;
  width:149px;
  height:34px;
  font-family:'STHeitiTC-Medium', 'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
  text-decoration:underline;
  text-align:center;
}
#u41258 {
  position:absolute;
  left:0px;
  top:9px;
  width:147px;
  word-wrap:break-word;
}
#u41259_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:34px;
}
#u41259 {
  position:absolute;
  left:0px;
  top:136px;
  width:169px;
  height:34px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  color:#000000;
  text-align:center;
}
#u41260 {
  position:absolute;
  left:0px;
  top:9px;
  width:167px;
  word-wrap:break-word;
}
#u41261_img {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:34px;
}
#u41261 {
  position:absolute;
  left:169px;
  top:136px;
  width:331px;
  height:34px;
  text-align:center;
}
#u41262 {
  position:absolute;
  left:2px;
  top:9px;
  width:327px;
  word-wrap:break-word;
}
#u41263_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:34px;
}
#u41263 {
  position:absolute;
  left:500px;
  top:136px;
  width:149px;
  height:34px;
  text-align:center;
}
#u41264 {
  position:absolute;
  left:0px;
  top:9px;
  width:147px;
  word-wrap:break-word;
}
#u41265_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:34px;
}
#u41265 {
  position:absolute;
  left:649px;
  top:136px;
  width:149px;
  height:34px;
  font-family:'STHeitiTC-Medium', 'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
  text-decoration:underline;
  text-align:center;
}
#u41266 {
  position:absolute;
  left:0px;
  top:9px;
  width:147px;
  word-wrap:break-word;
}
#u41267_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:34px;
}
#u41267 {
  position:absolute;
  left:0px;
  top:170px;
  width:169px;
  height:34px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  color:#000000;
  text-align:center;
}
#u41268 {
  position:absolute;
  left:0px;
  top:9px;
  width:167px;
  word-wrap:break-word;
}
#u41269_img {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:34px;
}
#u41269 {
  position:absolute;
  left:169px;
  top:170px;
  width:331px;
  height:34px;
  text-align:center;
}
#u41270 {
  position:absolute;
  left:2px;
  top:9px;
  width:327px;
  word-wrap:break-word;
}
#u41271_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:34px;
}
#u41271 {
  position:absolute;
  left:500px;
  top:170px;
  width:149px;
  height:34px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  text-align:center;
}
#u41272 {
  position:absolute;
  left:0px;
  top:9px;
  width:147px;
  word-wrap:break-word;
}
#u41273_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:34px;
}
#u41273 {
  position:absolute;
  left:649px;
  top:170px;
  width:149px;
  height:34px;
  font-family:'STHeitiTC-Medium', 'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
  text-decoration:underline;
  text-align:center;
}
#u41274 {
  position:absolute;
  left:0px;
  top:9px;
  width:147px;
  word-wrap:break-word;
}
#u41275_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:34px;
}
#u41275 {
  position:absolute;
  left:0px;
  top:204px;
  width:169px;
  height:34px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  color:#000000;
  text-align:center;
}
#u41276 {
  position:absolute;
  left:0px;
  top:9px;
  width:167px;
  word-wrap:break-word;
}
#u41277_img {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:34px;
}
#u41277 {
  position:absolute;
  left:169px;
  top:204px;
  width:331px;
  height:34px;
  text-align:center;
}
#u41278 {
  position:absolute;
  left:2px;
  top:9px;
  width:327px;
  word-wrap:break-word;
}
#u41279_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:34px;
}
#u41279 {
  position:absolute;
  left:500px;
  top:204px;
  width:149px;
  height:34px;
  text-align:center;
}
#u41280 {
  position:absolute;
  left:0px;
  top:9px;
  width:147px;
  word-wrap:break-word;
}
#u41281_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:34px;
}
#u41281 {
  position:absolute;
  left:649px;
  top:204px;
  width:149px;
  height:34px;
  font-family:'STHeitiTC-Medium', 'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
  text-decoration:underline;
  text-align:center;
}
#u41282 {
  position:absolute;
  left:0px;
  top:9px;
  width:147px;
  word-wrap:break-word;
}
#u41283_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:34px;
}
#u41283 {
  position:absolute;
  left:0px;
  top:238px;
  width:169px;
  height:34px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  color:#000000;
  text-align:center;
}
#u41284 {
  position:absolute;
  left:0px;
  top:9px;
  width:167px;
  word-wrap:break-word;
}
#u41285_img {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:34px;
}
#u41285 {
  position:absolute;
  left:169px;
  top:238px;
  width:331px;
  height:34px;
  text-align:center;
}
#u41286 {
  position:absolute;
  left:2px;
  top:9px;
  width:327px;
  word-wrap:break-word;
}
#u41287_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:34px;
}
#u41287 {
  position:absolute;
  left:500px;
  top:238px;
  width:149px;
  height:34px;
  text-align:center;
}
#u41288 {
  position:absolute;
  left:0px;
  top:9px;
  width:147px;
  word-wrap:break-word;
}
#u41289_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:34px;
}
#u41289 {
  position:absolute;
  left:649px;
  top:238px;
  width:149px;
  height:34px;
  font-family:'STHeitiTC-Medium', 'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
  text-decoration:underline;
  text-align:center;
}
#u41290 {
  position:absolute;
  left:0px;
  top:9px;
  width:147px;
  word-wrap:break-word;
}
#u41291_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:34px;
}
#u41291 {
  position:absolute;
  left:0px;
  top:272px;
  width:169px;
  height:34px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  color:#000000;
  text-align:center;
}
#u41292 {
  position:absolute;
  left:0px;
  top:9px;
  width:167px;
  word-wrap:break-word;
}
#u41293_img {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:34px;
}
#u41293 {
  position:absolute;
  left:169px;
  top:272px;
  width:331px;
  height:34px;
  text-align:center;
}
#u41294 {
  position:absolute;
  left:2px;
  top:9px;
  width:327px;
  word-wrap:break-word;
}
#u41295_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:34px;
}
#u41295 {
  position:absolute;
  left:500px;
  top:272px;
  width:149px;
  height:34px;
  text-align:center;
}
#u41296 {
  position:absolute;
  left:0px;
  top:9px;
  width:147px;
  word-wrap:break-word;
}
#u41297_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:34px;
}
#u41297 {
  position:absolute;
  left:649px;
  top:272px;
  width:149px;
  height:34px;
  font-family:'STHeitiTC-Medium', 'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
  text-decoration:underline;
  text-align:center;
}
#u41298 {
  position:absolute;
  left:0px;
  top:9px;
  width:147px;
  word-wrap:break-word;
}
#u41299_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:34px;
}
#u41299 {
  position:absolute;
  left:0px;
  top:306px;
  width:169px;
  height:34px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  color:#000000;
  text-align:center;
}
#u41300 {
  position:absolute;
  left:0px;
  top:9px;
  width:167px;
  word-wrap:break-word;
}
#u41301_img {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:34px;
}
#u41301 {
  position:absolute;
  left:169px;
  top:306px;
  width:331px;
  height:34px;
  text-align:center;
}
#u41302 {
  position:absolute;
  left:2px;
  top:9px;
  width:327px;
  word-wrap:break-word;
}
#u41303_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:34px;
}
#u41303 {
  position:absolute;
  left:500px;
  top:306px;
  width:149px;
  height:34px;
  text-align:center;
}
#u41304 {
  position:absolute;
  left:0px;
  top:9px;
  width:147px;
  word-wrap:break-word;
}
#u41305_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:34px;
}
#u41305 {
  position:absolute;
  left:649px;
  top:306px;
  width:149px;
  height:34px;
  font-family:'STHeitiTC-Medium', 'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
  text-decoration:underline;
  text-align:center;
}
#u41306 {
  position:absolute;
  left:0px;
  top:9px;
  width:147px;
  word-wrap:break-word;
}
#u41307_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:34px;
}
#u41307 {
  position:absolute;
  left:0px;
  top:340px;
  width:169px;
  height:34px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  color:#000000;
  text-align:center;
}
#u41308 {
  position:absolute;
  left:0px;
  top:9px;
  width:167px;
  word-wrap:break-word;
}
#u41309_img {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:34px;
}
#u41309 {
  position:absolute;
  left:169px;
  top:340px;
  width:331px;
  height:34px;
  text-align:center;
}
#u41310 {
  position:absolute;
  left:2px;
  top:9px;
  width:327px;
  word-wrap:break-word;
}
#u41311_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:34px;
}
#u41311 {
  position:absolute;
  left:500px;
  top:340px;
  width:149px;
  height:34px;
  text-align:center;
}
#u41312 {
  position:absolute;
  left:0px;
  top:9px;
  width:147px;
  word-wrap:break-word;
}
#u41313_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:34px;
}
#u41313 {
  position:absolute;
  left:649px;
  top:340px;
  width:149px;
  height:34px;
  font-family:'STHeitiTC-Medium', 'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
  text-decoration:underline;
  text-align:center;
}
#u41314 {
  position:absolute;
  left:0px;
  top:9px;
  width:147px;
  word-wrap:break-word;
}
#u41315 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u41316 {
  position:absolute;
  left:387px;
  top:824px;
  width:50px;
  height:22px;
}
#u41316_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u41316_input:disabled {
  color:grayText;
}
#u41317_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
}
#u41317 {
  position:absolute;
  left:326px;
  top:828px;
  width:53px;
  height:15px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
}
#u41318 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u41319_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
}
#u41319 {
  position:absolute;
  left:446px;
  top:828px;
  width:14px;
  height:15px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
}
#u41320 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u41321 {
  position:absolute;
  left:240px;
  top:824px;
  width:50px;
  height:22px;
}
#u41321_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u41321_input:disabled {
  color:grayText;
}
#u41322_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
}
#u41322 {
  position:absolute;
  left:220px;
  top:828px;
  width:14px;
  height:15px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
}
#u41323 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u41324_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
}
#u41324 {
  position:absolute;
  left:299px;
  top:828px;
  width:27px;
  height:13px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
}
#u41325 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u41326_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u41326 {
  position:absolute;
  left:670px;
  top:344px;
  width:100px;
  height:30px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u41326_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u41326.mouseOver {
}
#u41327 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u41328 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u41329_img {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:100px;
}
#u41329 {
  position:absolute;
  left:269px;
  top:870px;
  width:700px;
  height:100px;
}
#u41330 {
  position:absolute;
  left:2px;
  top:42px;
  width:696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41331_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Medium', 'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#515151;
}
#u41331 {
  position:absolute;
  left:283px;
  top:880px;
  width:65px;
  height:19px;
  font-family:'STHeitiTC-Medium', 'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#515151;
}
#u41332 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u41333_div {
  position:absolute;
  left:0px;
  top:0px;
  width:642px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41333 {
  position:absolute;
  left:317px;
  top:906px;
  width:642px;
  height:64px;
}
#u41334 {
  position:absolute;
  left:0px;
  top:0px;
  width:642px;
  word-wrap:break-word;
}
#u41335_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Medium', 'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
}
#u41335 {
  position:absolute;
  left:220px;
  top:142px;
  width:129px;
  height:38px;
  font-family:'STHeitiTC-Medium', 'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
}
#u41336 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u41337 {
  position:absolute;
  left:374px;
  top:205px;
  width:384px;
  height:30px;
}
#u41337_input {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u41338 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u41339 {
  position:absolute;
  left:374px;
  top:285px;
  width:162px;
  height:30px;
}
#u41339_input {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u41340 {
  position:absolute;
  left:560px;
  top:285px;
  width:198px;
  height:30px;
}
#u41340_input {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u41341_div {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u41341 {
  position:absolute;
  left:543px;
  top:293px;
  width:10px;
  height:19px;
  font-size:16px;
}
#u41342 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  white-space:nowrap;
}
#u41343_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(204, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u41343 {
  position:absolute;
  left:554px;
  top:344px;
  width:100px;
  height:30px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u41343_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u41343.mouseOver {
}
#u41344 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u41345_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:16px;
}
#u41345 {
  position:absolute;
  left:483px;
  top:393px;
  width:131px;
  height:16px;
  color:#FF0000;
}
#u41346 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
