body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u25402_div {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:759px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25402 {
  position:absolute;
  left:0px;
  top:109px;
  width:191px;
  height:759px;
}
#u25403 {
  position:absolute;
  left:2px;
  top:372px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25405_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:110px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25405 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:110px;
}
#u25406 {
  position:absolute;
  left:2px;
  top:47px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25407 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25408_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
}
#u25408 {
  position:absolute;
  left:1061px;
  top:30px;
  width:129px;
  height:17px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
}
#u25409 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u25410_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
}
#u25410 {
  position:absolute;
  left:1197px;
  top:30px;
  width:39px;
  height:17px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
}
#u25411 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u25412_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:11px;
}
#u25412 {
  position:absolute;
  left:1188px;
  top:34px;
  width:1px;
  height:10px;
}
#u25413 {
  position:absolute;
  left:2px;
  top:-3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25414_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Rounded MT Bold';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u25414 {
  position:absolute;
  left:20px;
  top:30px;
  width:144px;
  height:55px;
  font-family:'Arial Rounded MT Bold';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u25415 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u25416 {
  position:absolute;
  left:1025px;
  top:24px;
  width:26px;
  height:30px;
}
#u25416_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:32px;
  height:36px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u25417 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:35px;
}
#u25418_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:30px;
}
#u25418 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:30px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
  text-align:center;
}
#u25418_img.selected {
}
#u25418.selected {
}
#u25419 {
  position:absolute;
  left:2px;
  top:6px;
  width:22px;
  word-wrap:break-word;
}
#u25420 {
  position:absolute;
  left:0px;
  top:30px;
  width:88px;
  height:139px;
  visibility:hidden;
}
#u25420_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:94px;
  height:145px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u25421 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:144px;
}
#u25422_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:34px;
}
#u25422 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:34px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u25422_img.selected {
}
#u25422.selected {
}
#u25423 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u25424_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u25424 {
  position:absolute;
  left:0px;
  top:34px;
  width:88px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u25424_img.selected {
}
#u25424.selected {
}
#u25425 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u25426_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u25426 {
  position:absolute;
  left:0px;
  top:69px;
  width:88px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u25426_img.selected {
}
#u25426.selected {
}
#u25427 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u25428_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u25428 {
  position:absolute;
  left:0px;
  top:104px;
  width:88px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u25428_img.selected {
}
#u25428.selected {
}
#u25429 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u25430_img {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:25px;
}
#u25430 {
  position:absolute;
  left:396px;
  top:34px;
  width:284px;
  height:25px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
  text-align:left;
}
#u25431 {
  position:absolute;
  left:2px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
#u25433 {
  position:absolute;
  left:11px;
  top:130px;
  width:171px;
  height:385px;
}
#u25433_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:391px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u25434 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:390px;
}
#u25435_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:32px;
}
#u25435 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:32px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u25435_img.mouseOver {
}
#u25435.mouseOver {
}
#u25435_img.selected {
}
#u25435.selected {
}
#u25436 {
  position:absolute;
  left:2px;
  top:7px;
  width:167px;
  word-wrap:break-word;
}
#u25437_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:38px;
}
#u25437 {
  position:absolute;
  left:0px;
  top:32px;
  width:171px;
  height:38px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u25437_img.mouseOver {
}
#u25437.mouseOver {
}
#u25437_img.selected {
}
#u25437.selected {
}
#u25438 {
  position:absolute;
  left:2px;
  top:10px;
  width:167px;
  word-wrap:break-word;
}
#u25439_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u25439 {
  position:absolute;
  left:0px;
  top:70px;
  width:171px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u25439_img.mouseOver {
}
#u25439.mouseOver {
}
#u25439_img.selected {
}
#u25439.selected {
}
#u25440 {
  position:absolute;
  left:2px;
  top:9px;
  width:167px;
  word-wrap:break-word;
}
#u25441_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u25441 {
  position:absolute;
  left:0px;
  top:105px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u25441_img.mouseOver {
}
#u25441.mouseOver {
}
#u25441_img.selected {
}
#u25441.selected {
}
#u25442 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u25443_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u25443 {
  position:absolute;
  left:0px;
  top:140px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u25443_img.mouseOver {
}
#u25443.mouseOver {
}
#u25443_img.selected {
}
#u25443.selected {
}
#u25444 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u25445_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u25445 {
  position:absolute;
  left:0px;
  top:175px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u25445_img.mouseOver {
}
#u25445.mouseOver {
}
#u25445_img.selected {
}
#u25445.selected {
}
#u25446 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u25447_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u25447 {
  position:absolute;
  left:0px;
  top:210px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u25447_img.mouseOver {
}
#u25447.mouseOver {
}
#u25447_img.selected {
}
#u25447.selected {
}
#u25448 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u25449_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u25449 {
  position:absolute;
  left:0px;
  top:245px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u25449_img.mouseOver {
}
#u25449.mouseOver {
}
#u25449_img.selected {
}
#u25449.selected {
}
#u25450 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u25451_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u25451 {
  position:absolute;
  left:0px;
  top:280px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u25451_img.mouseOver {
}
#u25451.mouseOver {
}
#u25451_img.selected {
}
#u25451.selected {
}
#u25452 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u25453_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u25453 {
  position:absolute;
  left:0px;
  top:315px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u25453_img.mouseOver {
}
#u25453.mouseOver {
}
#u25453_img.selected {
}
#u25453.selected {
}
#u25454 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u25455_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u25455 {
  position:absolute;
  left:0px;
  top:350px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u25455_img.mouseOver {
}
#u25455.mouseOver {
}
#u25455_img.selected {
}
#u25455.selected {
}
#u25456 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u25457 {
  position:absolute;
  left:171px;
  top:245px;
  width:171px;
  height:35px;
  visibility:hidden;
}
#u25457_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:41px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u25458 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
}
#u25459_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u25459 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u25459_img.mouseOver {
}
#u25459.mouseOver {
}
#u25459_img.selected {
}
#u25459.selected {
}
#u25460 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u25461 {
  position:absolute;
  left:171px;
  top:105px;
  width:202px;
  height:76px;
  visibility:hidden;
}
#u25461_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:208px;
  height:82px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u25462 {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:81px;
}
#u25463_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:38px;
}
#u25463 {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:38px;
  font-size:15px;
  color:#000000;
  text-align:center;
}
#u25463_img.mouseOver {
}
#u25463.mouseOver {
}
#u25463_img.selected {
}
#u25463.selected {
}
#u25464 {
  position:absolute;
  left:2px;
  top:10px;
  width:198px;
  word-wrap:break-word;
}
#u25465_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:38px;
}
#u25465 {
  position:absolute;
  left:0px;
  top:38px;
  width:202px;
  height:38px;
  font-size:15px;
  color:#000000;
  text-align:center;
}
#u25465_img.mouseOver {
}
#u25465.mouseOver {
}
#u25465_img.selected {
}
#u25465.selected {
}
#u25466 {
  position:absolute;
  left:2px;
  top:10px;
  width:198px;
  word-wrap:break-word;
}
#u25467 {
  position:absolute;
  left:171px;
  top:32px;
  width:150px;
  height:175px;
  visibility:hidden;
}
#u25467_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:156px;
  height:181px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u25468 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:180px;
}
#u25469_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u25469 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u25469_img.mouseOver {
}
#u25469.mouseOver {
}
#u25469_img.selected {
}
#u25469.selected {
}
#u25470 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u25471_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u25471 {
  position:absolute;
  left:0px;
  top:35px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u25471_img.mouseOver {
}
#u25471.mouseOver {
}
#u25471_img.selected {
}
#u25471.selected {
}
#u25472 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u25473_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u25473 {
  position:absolute;
  left:0px;
  top:70px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u25473_img.mouseOver {
}
#u25473.mouseOver {
}
#u25473_img.selected {
}
#u25473.selected {
}
#u25474 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u25475_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u25475 {
  position:absolute;
  left:0px;
  top:105px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u25475_img.mouseOver {
}
#u25475.mouseOver {
}
#u25475_img.selected {
}
#u25475.selected {
}
#u25476 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u25477_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u25477 {
  position:absolute;
  left:0px;
  top:140px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u25477_img.mouseOver {
}
#u25477.mouseOver {
}
#u25477_img.selected {
}
#u25477.selected {
}
#u25478 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u25479 {
  position:absolute;
  left:171px;
  top:70px;
  width:171px;
  height:35px;
  visibility:hidden;
}
#u25479_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:41px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u25480 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
}
#u25481_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u25481 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u25481_img.mouseOver {
}
#u25481.mouseOver {
}
#u25481_img.selected {
}
#u25481.selected {
}
#u25482 {
  position:absolute;
  left:2px;
  top:9px;
  width:167px;
  word-wrap:break-word;
}
#u25483 {
  position:absolute;
  left:171px;
  top:280px;
  width:171px;
  height:110px;
  visibility:hidden;
}
#u25483_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:116px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u25484 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:115px;
}
#u25485_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u25485 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u25485_img.mouseOver {
}
#u25485.mouseOver {
}
#u25485_img.selected {
}
#u25485.selected {
}
#u25486 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u25487_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u25487 {
  position:absolute;
  left:0px;
  top:35px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u25487_img.mouseOver {
}
#u25487.mouseOver {
}
#u25487_img.selected {
}
#u25487.selected {
}
#u25488 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u25489_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:40px;
}
#u25489 {
  position:absolute;
  left:0px;
  top:70px;
  width:171px;
  height:40px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u25489_img.mouseOver {
}
#u25489.mouseOver {
}
#u25489_img.selected {
}
#u25489.selected {
}
#u25490 {
  position:absolute;
  left:2px;
  top:11px;
  width:167px;
  word-wrap:break-word;
}
#u25491 {
  position:absolute;
  left:171px;
  top:315px;
  width:169px;
  height:140px;
  visibility:hidden;
}
#u25491_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:175px;
  height:146px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u25492 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:145px;
}
#u25493_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u25493 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u25493_img.mouseOver {
}
#u25493.mouseOver {
}
#u25493_img.selected {
}
#u25493.selected {
}
#u25494 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u25495_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u25495 {
  position:absolute;
  left:0px;
  top:35px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u25495_img.mouseOver {
}
#u25495.mouseOver {
}
#u25495_img.selected {
}
#u25495.selected {
}
#u25496 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u25497_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u25497 {
  position:absolute;
  left:0px;
  top:70px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u25497_img.mouseOver {
}
#u25497.mouseOver {
}
#u25497_img.selected {
}
#u25497.selected {
}
#u25498 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u25499_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u25499 {
  position:absolute;
  left:0px;
  top:105px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u25499_img.mouseOver {
}
#u25499.mouseOver {
}
#u25499_img.selected {
}
#u25499.selected {
}
#u25500 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u25501 {
  position:absolute;
  left:171px;
  top:350px;
  width:171px;
  height:35px;
  visibility:hidden;
}
#u25501_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:41px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u25502 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
}
#u25503_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u25503 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u25503_img.mouseOver {
}
#u25503.mouseOver {
}
#u25503_img.selected {
}
#u25503.selected {
}
#u25504 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u25505 {
  position:absolute;
  left:171px;
  top:210px;
  width:171px;
  height:35px;
  visibility:hidden;
}
#u25505_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:41px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u25506 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
}
#u25507_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u25507 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u25507_img.mouseOver {
}
#u25507.mouseOver {
}
#u25507_img.selected {
}
#u25507.selected {
}
#u25508 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u25509 {
  position:absolute;
  left:171px;
  top:175px;
  width:171px;
  height:105px;
  visibility:hidden;
}
#u25509_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:111px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u25510 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:110px;
}
#u25511_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u25511 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u25511_img.mouseOver {
}
#u25511.mouseOver {
}
#u25511_img.selected {
}
#u25511.selected {
}
#u25512 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u25513_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u25513 {
  position:absolute;
  left:0px;
  top:35px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u25513_img.mouseOver {
}
#u25513.mouseOver {
}
#u25513_img.selected {
}
#u25513.selected {
}
#u25514 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u25515_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u25515 {
  position:absolute;
  left:0px;
  top:70px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u25515_img.mouseOver {
}
#u25515.mouseOver {
}
#u25515_img.selected {
}
#u25515.selected {
}
#u25516 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u25517 {
  position:absolute;
  left:171px;
  top:140px;
  width:171px;
  height:70px;
  visibility:hidden;
}
#u25517_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:76px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u25518 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:75px;
}
#u25519_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u25519 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u25519_img.mouseOver {
}
#u25519.mouseOver {
}
#u25519_img.selected {
}
#u25519.selected {
}
#u25520 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u25521_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u25521 {
  position:absolute;
  left:0px;
  top:35px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u25521_img.mouseOver {
}
#u25521.mouseOver {
}
#u25521_img.selected {
}
#u25521.selected {
}
#u25522 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u25524_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:90px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25524 {
  position:absolute;
  left:0px;
  top:850px;
  width:1280px;
  height:90px;
}
#u25525 {
  position:absolute;
  left:2px;
  top:37px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25526_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u25526 {
  position:absolute;
  left:35px;
  top:877px;
  width:94px;
  height:37px;
  color:#FFFFFF;
}
#u25527 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u25528_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:38px;
}
#u25528 {
  position:absolute;
  left:1102px;
  top:896px;
  width:170px;
  height:38px;
  font-size:16px;
  color:#FF0000;
}
#u25529 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u25530_div {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Medium', 'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
}
#u25530 {
  position:absolute;
  left:220px;
  top:150px;
  width:257px;
  height:38px;
  font-family:'STHeitiTC-Medium', 'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
}
#u25531 {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  white-space:nowrap;
}
#u25532 {
  position:absolute;
  left:220px;
  top:240px;
  width:629px;
  height:45px;
}
#u25533_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:40px;
}
#u25533 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u25534 {
  position:absolute;
  left:10px;
  top:12px;
  width:248px;
  word-wrap:break-word;
}
#u25535_img {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:40px;
}
#u25535 {
  position:absolute;
  left:260px;
  top:0px;
  width:364px;
  height:40px;
  font-size:15px;
  color:#666666;
}
#u25536 {
  position:absolute;
  left:10px;
  top:12px;
  width:352px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25537_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u25537 {
  position:absolute;
  left:566px;
  top:367px;
  width:100px;
  height:30px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u25537_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u25537.mouseOver {
}
#u25538 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u25539_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u25539 {
  position:absolute;
  left:440px;
  top:367px;
  width:100px;
  height:30px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u25539_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u25539.mouseOver {
}
#u25540 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u25541_div {
  position:absolute;
  left:0px;
  top:0px;
  width:624px;
  height:40px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u25541 {
  position:absolute;
  left:220px;
  top:200px;
  width:624px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u25542 {
  position:absolute;
  left:10px;
  top:10px;
  width:612px;
  word-wrap:break-word;
}
#u25543 {
  position:absolute;
  left:545px;
  top:246px;
  width:256px;
  height:30px;
}
#u25543_input {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u25544 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25545_div {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:136px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u25545 {
  position:absolute;
  left:440px;
  top:221px;
  width:308px;
  height:136px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u25546 {
  position:absolute;
  left:20px;
  top:20px;
  width:286px;
  word-wrap:break-word;
}
#u25547 {
  position:absolute;
  left:657px;
  top:303px;
  width:75px;
  height:25px;
}
#u25547_input {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u25548 {
  position:absolute;
  left:556px;
  top:303px;
  width:75px;
  height:25px;
}
#u25548_input {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
