body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u47231_div {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:759px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u47231 {
  position:absolute;
  left:0px;
  top:109px;
  width:191px;
  height:759px;
}
#u47232 {
  position:absolute;
  left:2px;
  top:372px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47234_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:110px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u47234 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:110px;
}
#u47235 {
  position:absolute;
  left:2px;
  top:47px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47236 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u47237_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
}
#u47237 {
  position:absolute;
  left:1061px;
  top:30px;
  width:129px;
  height:17px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
}
#u47238 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u47239_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
}
#u47239 {
  position:absolute;
  left:1197px;
  top:30px;
  width:39px;
  height:17px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
}
#u47240 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u47241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:11px;
}
#u47241 {
  position:absolute;
  left:1188px;
  top:34px;
  width:1px;
  height:10px;
}
#u47242 {
  position:absolute;
  left:2px;
  top:-3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47243_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Rounded MT Bold';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u47243 {
  position:absolute;
  left:20px;
  top:30px;
  width:144px;
  height:55px;
  font-family:'Arial Rounded MT Bold';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u47244 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u47245 {
  position:absolute;
  left:1025px;
  top:24px;
  width:26px;
  height:30px;
}
#u47245_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:32px;
  height:36px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u47246 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:35px;
}
#u47247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:30px;
}
#u47247 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:30px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
  text-align:center;
}
#u47247_img.selected {
}
#u47247.selected {
}
#u47248 {
  position:absolute;
  left:2px;
  top:6px;
  width:22px;
  word-wrap:break-word;
}
#u47249 {
  position:absolute;
  left:0px;
  top:30px;
  width:88px;
  height:139px;
  visibility:hidden;
}
#u47249_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:94px;
  height:145px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u47250 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:144px;
}
#u47251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:34px;
}
#u47251 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:34px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u47251_img.selected {
}
#u47251.selected {
}
#u47252 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u47253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u47253 {
  position:absolute;
  left:0px;
  top:34px;
  width:88px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u47253_img.selected {
}
#u47253.selected {
}
#u47254 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u47255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u47255 {
  position:absolute;
  left:0px;
  top:69px;
  width:88px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u47255_img.selected {
}
#u47255.selected {
}
#u47256 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u47257_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u47257 {
  position:absolute;
  left:0px;
  top:104px;
  width:88px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u47257_img.selected {
}
#u47257.selected {
}
#u47258 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u47259_img {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:25px;
}
#u47259 {
  position:absolute;
  left:396px;
  top:34px;
  width:284px;
  height:25px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
  text-align:left;
}
#u47260 {
  position:absolute;
  left:2px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
#u47262 {
  position:absolute;
  left:11px;
  top:130px;
  width:171px;
  height:385px;
}
#u47262_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:391px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u47263 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:390px;
}
#u47264_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:32px;
}
#u47264 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:32px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u47264_img.mouseOver {
}
#u47264.mouseOver {
}
#u47264_img.selected {
}
#u47264.selected {
}
#u47265 {
  position:absolute;
  left:2px;
  top:7px;
  width:167px;
  word-wrap:break-word;
}
#u47266_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:38px;
}
#u47266 {
  position:absolute;
  left:0px;
  top:32px;
  width:171px;
  height:38px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u47266_img.mouseOver {
}
#u47266.mouseOver {
}
#u47266_img.selected {
}
#u47266.selected {
}
#u47267 {
  position:absolute;
  left:2px;
  top:10px;
  width:167px;
  word-wrap:break-word;
}
#u47268_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u47268 {
  position:absolute;
  left:0px;
  top:70px;
  width:171px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u47268_img.mouseOver {
}
#u47268.mouseOver {
}
#u47268_img.selected {
}
#u47268.selected {
}
#u47269 {
  position:absolute;
  left:2px;
  top:9px;
  width:167px;
  word-wrap:break-word;
}
#u47270_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u47270 {
  position:absolute;
  left:0px;
  top:105px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u47270_img.mouseOver {
}
#u47270.mouseOver {
}
#u47270_img.selected {
}
#u47270.selected {
}
#u47271 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u47272_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u47272 {
  position:absolute;
  left:0px;
  top:140px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u47272_img.mouseOver {
}
#u47272.mouseOver {
}
#u47272_img.selected {
}
#u47272.selected {
}
#u47273 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u47274_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u47274 {
  position:absolute;
  left:0px;
  top:175px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u47274_img.mouseOver {
}
#u47274.mouseOver {
}
#u47274_img.selected {
}
#u47274.selected {
}
#u47275 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u47276_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u47276 {
  position:absolute;
  left:0px;
  top:210px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u47276_img.mouseOver {
}
#u47276.mouseOver {
}
#u47276_img.selected {
}
#u47276.selected {
}
#u47277 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u47278_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u47278 {
  position:absolute;
  left:0px;
  top:245px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u47278_img.mouseOver {
}
#u47278.mouseOver {
}
#u47278_img.selected {
}
#u47278.selected {
}
#u47279 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u47280_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u47280 {
  position:absolute;
  left:0px;
  top:280px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u47280_img.mouseOver {
}
#u47280.mouseOver {
}
#u47280_img.selected {
}
#u47280.selected {
}
#u47281 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u47282_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u47282 {
  position:absolute;
  left:0px;
  top:315px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u47282_img.mouseOver {
}
#u47282.mouseOver {
}
#u47282_img.selected {
}
#u47282.selected {
}
#u47283 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u47284_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u47284 {
  position:absolute;
  left:0px;
  top:350px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u47284_img.mouseOver {
}
#u47284.mouseOver {
}
#u47284_img.selected {
}
#u47284.selected {
}
#u47285 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u47286 {
  position:absolute;
  left:171px;
  top:245px;
  width:171px;
  height:70px;
  visibility:hidden;
}
#u47286_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:76px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u47287 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:75px;
}
#u47288_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u47288 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u47288_img.mouseOver {
}
#u47288.mouseOver {
}
#u47288_img.selected {
}
#u47288.selected {
}
#u47289 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u47290_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u47290 {
  position:absolute;
  left:0px;
  top:35px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u47290_img.mouseOver {
}
#u47290.mouseOver {
}
#u47290_img.selected {
}
#u47290.selected {
}
#u47291 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u47292 {
  position:absolute;
  left:171px;
  top:105px;
  width:202px;
  height:74px;
  visibility:hidden;
}
#u47292_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:208px;
  height:80px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u47293 {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:79px;
}
#u47294_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:36px;
}
#u47294 {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:36px;
  font-size:15px;
  color:#000000;
  text-align:center;
}
#u47294_img.mouseOver {
}
#u47294.mouseOver {
}
#u47294_img.selected {
}
#u47294.selected {
}
#u47295 {
  position:absolute;
  left:2px;
  top:10px;
  width:198px;
  word-wrap:break-word;
}
#u47296_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:38px;
}
#u47296 {
  position:absolute;
  left:0px;
  top:36px;
  width:202px;
  height:38px;
  font-size:15px;
  color:#000000;
  text-align:center;
}
#u47296_img.mouseOver {
}
#u47296.mouseOver {
}
#u47296_img.selected {
}
#u47296.selected {
}
#u47297 {
  position:absolute;
  left:2px;
  top:10px;
  width:198px;
  word-wrap:break-word;
}
#u47298 {
  position:absolute;
  left:171px;
  top:32px;
  width:150px;
  height:175px;
  visibility:hidden;
}
#u47298_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:156px;
  height:181px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u47299 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:180px;
}
#u47300_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u47300 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u47300_img.mouseOver {
}
#u47300.mouseOver {
}
#u47300_img.selected {
}
#u47300.selected {
}
#u47301 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u47302_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u47302 {
  position:absolute;
  left:0px;
  top:35px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u47302_img.mouseOver {
}
#u47302.mouseOver {
}
#u47302_img.selected {
}
#u47302.selected {
}
#u47303 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u47304_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u47304 {
  position:absolute;
  left:0px;
  top:70px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u47304_img.mouseOver {
}
#u47304.mouseOver {
}
#u47304_img.selected {
}
#u47304.selected {
}
#u47305 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u47306_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u47306 {
  position:absolute;
  left:0px;
  top:105px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u47306_img.mouseOver {
}
#u47306.mouseOver {
}
#u47306_img.selected {
}
#u47306.selected {
}
#u47307 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u47308_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u47308 {
  position:absolute;
  left:0px;
  top:140px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u47308_img.mouseOver {
}
#u47308.mouseOver {
}
#u47308_img.selected {
}
#u47308.selected {
}
#u47309 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u47310 {
  position:absolute;
  left:171px;
  top:70px;
  width:171px;
  height:35px;
  visibility:hidden;
}
#u47310_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:41px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u47311 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
}
#u47312_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u47312 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u47312_img.mouseOver {
}
#u47312.mouseOver {
}
#u47312_img.selected {
}
#u47312.selected {
}
#u47313 {
  position:absolute;
  left:2px;
  top:9px;
  width:167px;
  word-wrap:break-word;
}
#u47314 {
  position:absolute;
  left:171px;
  top:280px;
  width:171px;
  height:110px;
  visibility:hidden;
}
#u47314_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:116px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u47315 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:115px;
}
#u47316_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u47316 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u47316_img.mouseOver {
}
#u47316.mouseOver {
}
#u47316_img.selected {
}
#u47316.selected {
}
#u47317 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u47318_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u47318 {
  position:absolute;
  left:0px;
  top:35px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u47318_img.mouseOver {
}
#u47318.mouseOver {
}
#u47318_img.selected {
}
#u47318.selected {
}
#u47319 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u47320_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:40px;
}
#u47320 {
  position:absolute;
  left:0px;
  top:70px;
  width:171px;
  height:40px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u47320_img.mouseOver {
}
#u47320.mouseOver {
}
#u47320_img.selected {
}
#u47320.selected {
}
#u47321 {
  position:absolute;
  left:2px;
  top:11px;
  width:167px;
  word-wrap:break-word;
}
#u47322 {
  position:absolute;
  left:171px;
  top:315px;
  width:169px;
  height:175px;
  visibility:hidden;
}
#u47322_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:175px;
  height:181px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u47323 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:180px;
}
#u47324_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u47324 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u47324_img.mouseOver {
}
#u47324.mouseOver {
}
#u47324_img.selected {
}
#u47324.selected {
}
#u47325 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u47326_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u47326 {
  position:absolute;
  left:0px;
  top:35px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u47326_img.mouseOver {
}
#u47326.mouseOver {
}
#u47326_img.selected {
}
#u47326.selected {
}
#u47327 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u47328_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u47328 {
  position:absolute;
  left:0px;
  top:70px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u47328_img.mouseOver {
}
#u47328.mouseOver {
}
#u47328_img.selected {
}
#u47328.selected {
}
#u47329 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u47330_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u47330 {
  position:absolute;
  left:0px;
  top:105px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u47330_img.mouseOver {
}
#u47330.mouseOver {
}
#u47330_img.selected {
}
#u47330.selected {
}
#u47331 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u47332_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u47332 {
  position:absolute;
  left:0px;
  top:140px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u47332_img.mouseOver {
}
#u47332.mouseOver {
}
#u47332_img.selected {
}
#u47332.selected {
}
#u47333 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u47334 {
  position:absolute;
  left:171px;
  top:350px;
  width:171px;
  height:35px;
  visibility:hidden;
}
#u47334_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:41px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u47335 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
}
#u47336_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u47336 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u47336_img.mouseOver {
}
#u47336.mouseOver {
}
#u47336_img.selected {
}
#u47336.selected {
}
#u47337 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u47338 {
  position:absolute;
  left:171px;
  top:210px;
  width:171px;
  height:35px;
  visibility:hidden;
}
#u47338_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:41px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u47339 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
}
#u47340_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u47340 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u47340_img.mouseOver {
}
#u47340.mouseOver {
}
#u47340_img.selected {
}
#u47340.selected {
}
#u47341 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u47342 {
  position:absolute;
  left:171px;
  top:175px;
  width:171px;
  height:70px;
  visibility:hidden;
}
#u47342_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:76px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u47343 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:75px;
}
#u47344_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u47344 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u47344_img.mouseOver {
}
#u47344.mouseOver {
}
#u47344_img.selected {
}
#u47344.selected {
}
#u47345 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u47346_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u47346 {
  position:absolute;
  left:0px;
  top:35px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u47346_img.mouseOver {
}
#u47346.mouseOver {
}
#u47346_img.selected {
}
#u47346.selected {
}
#u47347 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u47348 {
  position:absolute;
  left:171px;
  top:140px;
  width:171px;
  height:70px;
  visibility:hidden;
}
#u47348_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:76px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u47349 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:75px;
}
#u47350_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u47350 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u47350_img.mouseOver {
}
#u47350.mouseOver {
}
#u47350_img.selected {
}
#u47350.selected {
}
#u47351 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u47352_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u47352 {
  position:absolute;
  left:0px;
  top:35px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u47352_img.mouseOver {
}
#u47352.mouseOver {
}
#u47352_img.selected {
}
#u47352.selected {
}
#u47353 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u47355_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:90px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u47355 {
  position:absolute;
  left:0px;
  top:850px;
  width:1280px;
  height:90px;
}
#u47356 {
  position:absolute;
  left:2px;
  top:37px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47357_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u47357 {
  position:absolute;
  left:35px;
  top:877px;
  width:94px;
  height:37px;
  color:#FFFFFF;
}
#u47358 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u47359_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:38px;
}
#u47359 {
  position:absolute;
  left:1092px;
  top:896px;
  width:180px;
  height:38px;
  font-size:16px;
  color:#FF0000;
}
#u47360 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u47361_div {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Medium', 'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
}
#u47361 {
  position:absolute;
  left:220px;
  top:150px;
  width:257px;
  height:38px;
  font-family:'STHeitiTC-Medium', 'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
}
#u47362 {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  white-space:nowrap;
}
#u47363 {
  position:absolute;
  left:220px;
  top:240px;
  width:629px;
  height:45px;
}
#u47364_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:40px;
}
#u47364 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u47365 {
  position:absolute;
  left:10px;
  top:12px;
  width:248px;
  word-wrap:break-word;
}
#u47366_img {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:40px;
}
#u47366 {
  position:absolute;
  left:260px;
  top:0px;
  width:364px;
  height:40px;
  font-size:15px;
  color:#666666;
}
#u47367 {
  position:absolute;
  left:10px;
  top:12px;
  width:352px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47368_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u47368 {
  position:absolute;
  left:566px;
  top:367px;
  width:100px;
  height:30px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u47368_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u47368.mouseOver {
}
#u47369 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u47370_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u47370 {
  position:absolute;
  left:440px;
  top:367px;
  width:100px;
  height:30px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u47370_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u47370.mouseOver {
}
#u47371 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u47372_div {
  position:absolute;
  left:0px;
  top:0px;
  width:624px;
  height:40px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u47372 {
  position:absolute;
  left:220px;
  top:200px;
  width:624px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u47373 {
  position:absolute;
  left:10px;
  top:10px;
  width:612px;
  word-wrap:break-word;
}
#u47374 {
  position:absolute;
  left:545px;
  top:246px;
  width:256px;
  height:30px;
}
#u47374_input {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u47375 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u47376_div {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:136px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u47376 {
  position:absolute;
  left:440px;
  top:221px;
  width:308px;
  height:136px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u47377 {
  position:absolute;
  left:20px;
  top:20px;
  width:286px;
  word-wrap:break-word;
}
#u47378 {
  position:absolute;
  left:657px;
  top:303px;
  width:75px;
  height:25px;
}
#u47378_input {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u47379 {
  position:absolute;
  left:556px;
  top:303px;
  width:75px;
  height:25px;
}
#u47379_input {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
