body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u49280_div {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:759px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u49280 {
  position:absolute;
  left:0px;
  top:109px;
  width:191px;
  height:759px;
}
#u49281 {
  position:absolute;
  left:2px;
  top:372px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49283_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:110px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u49283 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:110px;
}
#u49284 {
  position:absolute;
  left:2px;
  top:47px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49285 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u49286_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
}
#u49286 {
  position:absolute;
  left:1061px;
  top:30px;
  width:129px;
  height:17px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
}
#u49287 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u49288_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
}
#u49288 {
  position:absolute;
  left:1197px;
  top:30px;
  width:39px;
  height:17px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
}
#u49289 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u49290_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:11px;
}
#u49290 {
  position:absolute;
  left:1188px;
  top:34px;
  width:1px;
  height:10px;
}
#u49291 {
  position:absolute;
  left:2px;
  top:-3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49292_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Rounded MT Bold';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u49292 {
  position:absolute;
  left:20px;
  top:30px;
  width:144px;
  height:55px;
  font-family:'Arial Rounded MT Bold';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u49293 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u49294 {
  position:absolute;
  left:1025px;
  top:24px;
  width:26px;
  height:30px;
}
#u49294_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:32px;
  height:36px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u49295 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:35px;
}
#u49296_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:30px;
}
#u49296 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:30px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
  text-align:center;
}
#u49296_img.selected {
}
#u49296.selected {
}
#u49297 {
  position:absolute;
  left:2px;
  top:6px;
  width:22px;
  word-wrap:break-word;
}
#u49298 {
  position:absolute;
  left:0px;
  top:30px;
  width:88px;
  height:139px;
  visibility:hidden;
}
#u49298_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:94px;
  height:145px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u49299 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:144px;
}
#u49300_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:34px;
}
#u49300 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:34px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u49300_img.selected {
}
#u49300.selected {
}
#u49301 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u49302_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u49302 {
  position:absolute;
  left:0px;
  top:34px;
  width:88px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u49302_img.selected {
}
#u49302.selected {
}
#u49303 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u49304_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u49304 {
  position:absolute;
  left:0px;
  top:69px;
  width:88px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u49304_img.selected {
}
#u49304.selected {
}
#u49305 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u49306_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u49306 {
  position:absolute;
  left:0px;
  top:104px;
  width:88px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u49306_img.selected {
}
#u49306.selected {
}
#u49307 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u49308_img {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:25px;
}
#u49308 {
  position:absolute;
  left:396px;
  top:34px;
  width:284px;
  height:25px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
  text-align:left;
}
#u49309 {
  position:absolute;
  left:2px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
#u49311 {
  position:absolute;
  left:11px;
  top:130px;
  width:171px;
  height:385px;
}
#u49311_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:391px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u49312 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:390px;
}
#u49313_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:32px;
}
#u49313 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:32px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u49313_img.mouseOver {
}
#u49313.mouseOver {
}
#u49313_img.selected {
}
#u49313.selected {
}
#u49314 {
  position:absolute;
  left:2px;
  top:7px;
  width:167px;
  word-wrap:break-word;
}
#u49315_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:38px;
}
#u49315 {
  position:absolute;
  left:0px;
  top:32px;
  width:171px;
  height:38px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u49315_img.mouseOver {
}
#u49315.mouseOver {
}
#u49315_img.selected {
}
#u49315.selected {
}
#u49316 {
  position:absolute;
  left:2px;
  top:10px;
  width:167px;
  word-wrap:break-word;
}
#u49317_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u49317 {
  position:absolute;
  left:0px;
  top:70px;
  width:171px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u49317_img.mouseOver {
}
#u49317.mouseOver {
}
#u49317_img.selected {
}
#u49317.selected {
}
#u49318 {
  position:absolute;
  left:2px;
  top:9px;
  width:167px;
  word-wrap:break-word;
}
#u49319_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u49319 {
  position:absolute;
  left:0px;
  top:105px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u49319_img.mouseOver {
}
#u49319.mouseOver {
}
#u49319_img.selected {
}
#u49319.selected {
}
#u49320 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u49321_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u49321 {
  position:absolute;
  left:0px;
  top:140px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u49321_img.mouseOver {
}
#u49321.mouseOver {
}
#u49321_img.selected {
}
#u49321.selected {
}
#u49322 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u49323_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u49323 {
  position:absolute;
  left:0px;
  top:175px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u49323_img.mouseOver {
}
#u49323.mouseOver {
}
#u49323_img.selected {
}
#u49323.selected {
}
#u49324 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u49325_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u49325 {
  position:absolute;
  left:0px;
  top:210px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u49325_img.mouseOver {
}
#u49325.mouseOver {
}
#u49325_img.selected {
}
#u49325.selected {
}
#u49326 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u49327_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u49327 {
  position:absolute;
  left:0px;
  top:245px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u49327_img.mouseOver {
}
#u49327.mouseOver {
}
#u49327_img.selected {
}
#u49327.selected {
}
#u49328 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u49329_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u49329 {
  position:absolute;
  left:0px;
  top:280px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u49329_img.mouseOver {
}
#u49329.mouseOver {
}
#u49329_img.selected {
}
#u49329.selected {
}
#u49330 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u49331_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u49331 {
  position:absolute;
  left:0px;
  top:315px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u49331_img.mouseOver {
}
#u49331.mouseOver {
}
#u49331_img.selected {
}
#u49331.selected {
}
#u49332 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u49333_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u49333 {
  position:absolute;
  left:0px;
  top:350px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u49333_img.mouseOver {
}
#u49333.mouseOver {
}
#u49333_img.selected {
}
#u49333.selected {
}
#u49334 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u49335 {
  position:absolute;
  left:171px;
  top:245px;
  width:171px;
  height:70px;
  visibility:hidden;
}
#u49335_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:76px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u49336 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:75px;
}
#u49337_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u49337 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u49337_img.mouseOver {
}
#u49337.mouseOver {
}
#u49337_img.selected {
}
#u49337.selected {
}
#u49338 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u49339_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u49339 {
  position:absolute;
  left:0px;
  top:35px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u49339_img.mouseOver {
}
#u49339.mouseOver {
}
#u49339_img.selected {
}
#u49339.selected {
}
#u49340 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u49341 {
  position:absolute;
  left:171px;
  top:105px;
  width:202px;
  height:74px;
  visibility:hidden;
}
#u49341_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:208px;
  height:80px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u49342 {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:79px;
}
#u49343_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:36px;
}
#u49343 {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:36px;
  font-size:15px;
  color:#000000;
  text-align:center;
}
#u49343_img.mouseOver {
}
#u49343.mouseOver {
}
#u49343_img.selected {
}
#u49343.selected {
}
#u49344 {
  position:absolute;
  left:2px;
  top:10px;
  width:198px;
  word-wrap:break-word;
}
#u49345_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:38px;
}
#u49345 {
  position:absolute;
  left:0px;
  top:36px;
  width:202px;
  height:38px;
  font-size:15px;
  color:#000000;
  text-align:center;
}
#u49345_img.mouseOver {
}
#u49345.mouseOver {
}
#u49345_img.selected {
}
#u49345.selected {
}
#u49346 {
  position:absolute;
  left:2px;
  top:10px;
  width:198px;
  word-wrap:break-word;
}
#u49347 {
  position:absolute;
  left:171px;
  top:32px;
  width:150px;
  height:175px;
  visibility:hidden;
}
#u49347_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:156px;
  height:181px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u49348 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:180px;
}
#u49349_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u49349 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u49349_img.mouseOver {
}
#u49349.mouseOver {
}
#u49349_img.selected {
}
#u49349.selected {
}
#u49350 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u49351_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u49351 {
  position:absolute;
  left:0px;
  top:35px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u49351_img.mouseOver {
}
#u49351.mouseOver {
}
#u49351_img.selected {
}
#u49351.selected {
}
#u49352 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u49353_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u49353 {
  position:absolute;
  left:0px;
  top:70px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u49353_img.mouseOver {
}
#u49353.mouseOver {
}
#u49353_img.selected {
}
#u49353.selected {
}
#u49354 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u49355_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u49355 {
  position:absolute;
  left:0px;
  top:105px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u49355_img.mouseOver {
}
#u49355.mouseOver {
}
#u49355_img.selected {
}
#u49355.selected {
}
#u49356 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u49357_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u49357 {
  position:absolute;
  left:0px;
  top:140px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u49357_img.mouseOver {
}
#u49357.mouseOver {
}
#u49357_img.selected {
}
#u49357.selected {
}
#u49358 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u49359 {
  position:absolute;
  left:171px;
  top:70px;
  width:171px;
  height:35px;
  visibility:hidden;
}
#u49359_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:41px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u49360 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
}
#u49361_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u49361 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u49361_img.mouseOver {
}
#u49361.mouseOver {
}
#u49361_img.selected {
}
#u49361.selected {
}
#u49362 {
  position:absolute;
  left:2px;
  top:9px;
  width:167px;
  word-wrap:break-word;
}
#u49363 {
  position:absolute;
  left:171px;
  top:280px;
  width:171px;
  height:35px;
  visibility:hidden;
}
#u49363_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:41px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u49364 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
}
#u49365_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u49365 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u49365_img.mouseOver {
}
#u49365.mouseOver {
}
#u49365_img.selected {
}
#u49365.selected {
}
#u49366 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u49367 {
  position:absolute;
  left:171px;
  top:315px;
  width:169px;
  height:140px;
  visibility:hidden;
}
#u49367_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:175px;
  height:146px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u49368 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:145px;
}
#u49369_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u49369 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u49369_img.mouseOver {
}
#u49369.mouseOver {
}
#u49369_img.selected {
}
#u49369.selected {
}
#u49370 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u49371_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u49371 {
  position:absolute;
  left:0px;
  top:35px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u49371_img.mouseOver {
}
#u49371.mouseOver {
}
#u49371_img.selected {
}
#u49371.selected {
}
#u49372 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u49373_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u49373 {
  position:absolute;
  left:0px;
  top:70px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u49373_img.mouseOver {
}
#u49373.mouseOver {
}
#u49373_img.selected {
}
#u49373.selected {
}
#u49374 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u49375_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u49375 {
  position:absolute;
  left:0px;
  top:105px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u49375_img.mouseOver {
}
#u49375.mouseOver {
}
#u49375_img.selected {
}
#u49375.selected {
}
#u49376 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u49377 {
  position:absolute;
  left:171px;
  top:350px;
  width:171px;
  height:35px;
  visibility:hidden;
}
#u49377_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:41px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u49378 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
}
#u49379_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u49379 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u49379_img.mouseOver {
}
#u49379.mouseOver {
}
#u49379_img.selected {
}
#u49379.selected {
}
#u49380 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u49381 {
  position:absolute;
  left:171px;
  top:210px;
  width:171px;
  height:35px;
  visibility:hidden;
}
#u49381_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:41px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u49382 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
}
#u49383_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u49383 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u49383_img.mouseOver {
}
#u49383.mouseOver {
}
#u49383_img.selected {
}
#u49383.selected {
}
#u49384 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u49385 {
  position:absolute;
  left:171px;
  top:175px;
  width:171px;
  height:70px;
  visibility:hidden;
}
#u49385_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:76px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u49386 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:75px;
}
#u49387_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u49387 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u49387_img.mouseOver {
}
#u49387.mouseOver {
}
#u49387_img.selected {
}
#u49387.selected {
}
#u49388 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u49389_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u49389 {
  position:absolute;
  left:0px;
  top:35px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u49389_img.mouseOver {
}
#u49389.mouseOver {
}
#u49389_img.selected {
}
#u49389.selected {
}
#u49390 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u49391 {
  position:absolute;
  left:171px;
  top:140px;
  width:171px;
  height:70px;
  visibility:hidden;
}
#u49391_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:76px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u49392 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:75px;
}
#u49393_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u49393 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u49393_img.mouseOver {
}
#u49393.mouseOver {
}
#u49393_img.selected {
}
#u49393.selected {
}
#u49394 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u49395_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u49395 {
  position:absolute;
  left:0px;
  top:35px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u49395_img.mouseOver {
}
#u49395.mouseOver {
}
#u49395_img.selected {
}
#u49395.selected {
}
#u49396 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u49398_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:90px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u49398 {
  position:absolute;
  left:0px;
  top:850px;
  width:1280px;
  height:90px;
}
#u49399 {
  position:absolute;
  left:2px;
  top:37px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49400_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u49400 {
  position:absolute;
  left:35px;
  top:877px;
  width:94px;
  height:37px;
  color:#FFFFFF;
}
#u49401 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u49402_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:38px;
}
#u49402 {
  position:absolute;
  left:1092px;
  top:896px;
  width:180px;
  height:38px;
  font-size:16px;
  color:#FF0000;
}
#u49403 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u49404_div {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Medium', 'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
}
#u49404 {
  position:absolute;
  left:220px;
  top:150px;
  width:257px;
  height:38px;
  font-family:'STHeitiTC-Medium', 'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
}
#u49405 {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  white-space:nowrap;
}
#u49406 {
  position:absolute;
  left:220px;
  top:240px;
  width:629px;
  height:45px;
}
#u49407_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:40px;
}
#u49407 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u49408 {
  position:absolute;
  left:10px;
  top:12px;
  width:248px;
  word-wrap:break-word;
}
#u49409_img {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:40px;
}
#u49409 {
  position:absolute;
  left:260px;
  top:0px;
  width:364px;
  height:40px;
  font-size:15px;
  color:#666666;
}
#u49410 {
  position:absolute;
  left:10px;
  top:12px;
  width:352px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49411_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u49411 {
  position:absolute;
  left:566px;
  top:367px;
  width:100px;
  height:30px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u49411_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u49411.mouseOver {
}
#u49412 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u49413_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u49413 {
  position:absolute;
  left:440px;
  top:367px;
  width:100px;
  height:30px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u49413_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u49413.mouseOver {
}
#u49414 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u49415_div {
  position:absolute;
  left:0px;
  top:0px;
  width:624px;
  height:40px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u49415 {
  position:absolute;
  left:220px;
  top:200px;
  width:624px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u49416 {
  position:absolute;
  left:10px;
  top:10px;
  width:612px;
  word-wrap:break-word;
}
#u49417 {
  position:absolute;
  left:545px;
  top:246px;
  width:256px;
  height:30px;
}
#u49417_input {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u49418 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u49419_div {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:136px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u49419 {
  position:absolute;
  left:440px;
  top:221px;
  width:308px;
  height:136px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u49420 {
  position:absolute;
  left:20px;
  top:20px;
  width:286px;
  word-wrap:break-word;
}
#u49421 {
  position:absolute;
  left:657px;
  top:303px;
  width:75px;
  height:25px;
}
#u49421_input {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u49422 {
  position:absolute;
  left:556px;
  top:303px;
  width:75px;
  height:25px;
}
#u49422_input {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
