body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1363px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u475_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1348px;
  height:2595px;
}
#u475 {
  position:absolute;
  left:15px;
  top:20px;
  width:1348px;
  height:2595px;
}
#u476 {
  position:absolute;
  left:2px;
  top:1290px;
  width:1344px;
  visibility:hidden;
  word-wrap:break-word;
}
