body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2798_div {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:936px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2798 {
  position:absolute;
  left:0px;
  top:109px;
  width:191px;
  height:936px;
}
#u2799 {
  position:absolute;
  left:2px;
  top:460px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2801_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:110px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2801 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:110px;
}
#u2802 {
  position:absolute;
  left:2px;
  top:47px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2803 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2804_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
}
#u2804 {
  position:absolute;
  left:1061px;
  top:30px;
  width:129px;
  height:17px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
}
#u2805 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u2806_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
}
#u2806 {
  position:absolute;
  left:1197px;
  top:30px;
  width:39px;
  height:17px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
}
#u2807 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u2808_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:11px;
}
#u2808 {
  position:absolute;
  left:1188px;
  top:34px;
  width:1px;
  height:10px;
}
#u2809 {
  position:absolute;
  left:2px;
  top:-3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2810_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Rounded MT Bold';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u2810 {
  position:absolute;
  left:20px;
  top:30px;
  width:144px;
  height:55px;
  font-family:'Arial Rounded MT Bold';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u2811 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u2812 {
  position:absolute;
  left:1025px;
  top:24px;
  width:26px;
  height:30px;
}
#u2812_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:32px;
  height:36px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u2813 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:35px;
}
#u2814_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:30px;
}
#u2814 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:30px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
  text-align:center;
}
#u2814_img.selected {
}
#u2814.selected {
}
#u2815 {
  position:absolute;
  left:2px;
  top:6px;
  width:22px;
  word-wrap:break-word;
}
#u2816 {
  position:absolute;
  left:0px;
  top:30px;
  width:88px;
  height:139px;
  visibility:hidden;
}
#u2816_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:94px;
  height:145px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u2817 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:144px;
}
#u2818_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:34px;
}
#u2818 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:34px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u2818_img.selected {
}
#u2818.selected {
}
#u2819 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u2820_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u2820 {
  position:absolute;
  left:0px;
  top:34px;
  width:88px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u2820_img.selected {
}
#u2820.selected {
}
#u2821 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u2822_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u2822 {
  position:absolute;
  left:0px;
  top:69px;
  width:88px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u2822_img.selected {
}
#u2822.selected {
}
#u2823 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u2824_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u2824 {
  position:absolute;
  left:0px;
  top:104px;
  width:88px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u2824_img.selected {
}
#u2824.selected {
}
#u2825 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u2826_img {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:25px;
}
#u2826 {
  position:absolute;
  left:396px;
  top:34px;
  width:284px;
  height:25px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
  text-align:left;
}
#u2827 {
  position:absolute;
  left:2px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
#u2829 {
  position:absolute;
  left:11px;
  top:130px;
  width:171px;
  height:385px;
}
#u2829_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:391px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u2830 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:390px;
}
#u2831_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:32px;
}
#u2831 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:32px;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u2831_img.mouseOver {
}
#u2831.mouseOver {
}
#u2831_img.selected {
}
#u2831.selected {
}
#u2832 {
  position:absolute;
  left:2px;
  top:7px;
  width:167px;
  word-wrap:break-word;
}
#u2833_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:38px;
}
#u2833 {
  position:absolute;
  left:0px;
  top:32px;
  width:171px;
  height:38px;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u2833_img.mouseOver {
}
#u2833.mouseOver {
}
#u2833_img.selected {
}
#u2833.selected {
}
#u2834 {
  position:absolute;
  left:2px;
  top:10px;
  width:167px;
  word-wrap:break-word;
}
#u2835_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u2835 {
  position:absolute;
  left:0px;
  top:70px;
  width:171px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u2835_img.mouseOver {
}
#u2835.mouseOver {
}
#u2835_img.selected {
}
#u2835.selected {
}
#u2836 {
  position:absolute;
  left:2px;
  top:9px;
  width:167px;
  word-wrap:break-word;
}
#u2837_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u2837 {
  position:absolute;
  left:0px;
  top:105px;
  width:171px;
  height:35px;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u2837_img.mouseOver {
}
#u2837.mouseOver {
}
#u2837_img.selected {
}
#u2837.selected {
}
#u2838 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u2839_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u2839 {
  position:absolute;
  left:0px;
  top:140px;
  width:171px;
  height:35px;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u2839_img.mouseOver {
}
#u2839.mouseOver {
}
#u2839_img.selected {
}
#u2839.selected {
}
#u2840 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u2841_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u2841 {
  position:absolute;
  left:0px;
  top:175px;
  width:171px;
  height:35px;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u2841_img.mouseOver {
}
#u2841.mouseOver {
}
#u2841_img.selected {
}
#u2841.selected {
}
#u2842 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u2843_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u2843 {
  position:absolute;
  left:0px;
  top:210px;
  width:171px;
  height:35px;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u2843_img.mouseOver {
}
#u2843.mouseOver {
}
#u2843_img.selected {
}
#u2843.selected {
}
#u2844 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u2845_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u2845 {
  position:absolute;
  left:0px;
  top:245px;
  width:171px;
  height:35px;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u2845_img.mouseOver {
}
#u2845.mouseOver {
}
#u2845_img.selected {
}
#u2845.selected {
}
#u2846 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u2847_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u2847 {
  position:absolute;
  left:0px;
  top:280px;
  width:171px;
  height:35px;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u2847_img.mouseOver {
}
#u2847.mouseOver {
}
#u2847_img.selected {
}
#u2847.selected {
}
#u2848 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u2849_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u2849 {
  position:absolute;
  left:0px;
  top:315px;
  width:171px;
  height:35px;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u2849_img.mouseOver {
}
#u2849.mouseOver {
}
#u2849_img.selected {
}
#u2849.selected {
}
#u2850 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u2851_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u2851 {
  position:absolute;
  left:0px;
  top:350px;
  width:171px;
  height:35px;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u2851_img.mouseOver {
}
#u2851.mouseOver {
}
#u2851_img.selected {
}
#u2851.selected {
}
#u2852 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u2853 {
  position:absolute;
  left:171px;
  top:245px;
  width:171px;
  height:70px;
  visibility:hidden;
}
#u2853_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:76px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u2854 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:75px;
}
#u2855_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u2855 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u2855_img.mouseOver {
}
#u2855.mouseOver {
}
#u2855_img.selected {
}
#u2855.selected {
}
#u2856 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u2857_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u2857 {
  position:absolute;
  left:0px;
  top:35px;
  width:171px;
  height:35px;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u2857_img.mouseOver {
}
#u2857.mouseOver {
}
#u2857_img.selected {
}
#u2857.selected {
}
#u2858 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u2859 {
  position:absolute;
  left:171px;
  top:105px;
  width:202px;
  height:74px;
  visibility:hidden;
}
#u2859_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:208px;
  height:80px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u2860 {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:79px;
}
#u2861_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:36px;
}
#u2861 {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:36px;
  font-size:15px;
  color:#000000;
  text-align:center;
}
#u2861_img.mouseOver {
}
#u2861.mouseOver {
}
#u2861_img.selected {
}
#u2861.selected {
}
#u2862 {
  position:absolute;
  left:2px;
  top:10px;
  width:198px;
  word-wrap:break-word;
}
#u2863_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:38px;
}
#u2863 {
  position:absolute;
  left:0px;
  top:36px;
  width:202px;
  height:38px;
  font-size:15px;
  color:#000000;
  text-align:center;
}
#u2863_img.mouseOver {
}
#u2863.mouseOver {
}
#u2863_img.selected {
}
#u2863.selected {
}
#u2864 {
  position:absolute;
  left:2px;
  top:10px;
  width:198px;
  word-wrap:break-word;
}
#u2865 {
  position:absolute;
  left:171px;
  top:32px;
  width:150px;
  height:175px;
  visibility:hidden;
}
#u2865_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:156px;
  height:181px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u2866 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:180px;
}
#u2867_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u2867 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u2867_img.mouseOver {
}
#u2867.mouseOver {
}
#u2867_img.selected {
}
#u2867.selected {
}
#u2868 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u2869_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u2869 {
  position:absolute;
  left:0px;
  top:35px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u2869_img.mouseOver {
}
#u2869.mouseOver {
}
#u2869_img.selected {
}
#u2869.selected {
}
#u2870 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u2871_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u2871 {
  position:absolute;
  left:0px;
  top:70px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u2871_img.mouseOver {
}
#u2871.mouseOver {
}
#u2871_img.selected {
}
#u2871.selected {
}
#u2872 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u2873_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u2873 {
  position:absolute;
  left:0px;
  top:105px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u2873_img.mouseOver {
}
#u2873.mouseOver {
}
#u2873_img.selected {
}
#u2873.selected {
}
#u2874 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u2875_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u2875 {
  position:absolute;
  left:0px;
  top:140px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u2875_img.mouseOver {
}
#u2875.mouseOver {
}
#u2875_img.selected {
}
#u2875.selected {
}
#u2876 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u2877 {
  position:absolute;
  left:171px;
  top:70px;
  width:171px;
  height:35px;
  visibility:hidden;
}
#u2877_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:41px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u2878 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
}
#u2879_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u2879 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u2879_img.mouseOver {
}
#u2879.mouseOver {
}
#u2879_img.selected {
}
#u2879.selected {
}
#u2880 {
  position:absolute;
  left:2px;
  top:9px;
  width:167px;
  word-wrap:break-word;
}
#u2881 {
  position:absolute;
  left:171px;
  top:280px;
  width:171px;
  height:110px;
  visibility:hidden;
}
#u2881_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:116px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u2882 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:115px;
}
#u2883_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u2883 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u2883_img.mouseOver {
}
#u2883.mouseOver {
}
#u2883_img.selected {
}
#u2883.selected {
}
#u2884 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u2885_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u2885 {
  position:absolute;
  left:0px;
  top:35px;
  width:171px;
  height:35px;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u2885_img.mouseOver {
}
#u2885.mouseOver {
}
#u2885_img.selected {
}
#u2885.selected {
}
#u2886 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u2887_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:40px;
}
#u2887 {
  position:absolute;
  left:0px;
  top:70px;
  width:171px;
  height:40px;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u2887_img.mouseOver {
}
#u2887.mouseOver {
}
#u2887_img.selected {
}
#u2887.selected {
}
#u2888 {
  position:absolute;
  left:2px;
  top:11px;
  width:167px;
  word-wrap:break-word;
}
#u2889 {
  position:absolute;
  left:171px;
  top:315px;
  width:169px;
  height:175px;
  visibility:hidden;
}
#u2889_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:175px;
  height:181px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u2890 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:180px;
}
#u2891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u2891 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u2891_img.mouseOver {
}
#u2891.mouseOver {
}
#u2891_img.selected {
}
#u2891.selected {
}
#u2892 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u2893_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u2893 {
  position:absolute;
  left:0px;
  top:35px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u2893_img.mouseOver {
}
#u2893.mouseOver {
}
#u2893_img.selected {
}
#u2893.selected {
}
#u2894 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u2895_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u2895 {
  position:absolute;
  left:0px;
  top:70px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u2895_img.mouseOver {
}
#u2895.mouseOver {
}
#u2895_img.selected {
}
#u2895.selected {
}
#u2896 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u2897_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u2897 {
  position:absolute;
  left:0px;
  top:105px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u2897_img.mouseOver {
}
#u2897.mouseOver {
}
#u2897_img.selected {
}
#u2897.selected {
}
#u2898 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u2899_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u2899 {
  position:absolute;
  left:0px;
  top:140px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u2899_img.mouseOver {
}
#u2899.mouseOver {
}
#u2899_img.selected {
}
#u2899.selected {
}
#u2900 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u2901 {
  position:absolute;
  left:171px;
  top:350px;
  width:171px;
  height:35px;
  visibility:hidden;
}
#u2901_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:41px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u2902 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
}
#u2903_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u2903 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u2903_img.mouseOver {
}
#u2903.mouseOver {
}
#u2903_img.selected {
}
#u2903.selected {
}
#u2904 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u2905 {
  position:absolute;
  left:171px;
  top:210px;
  width:171px;
  height:35px;
  visibility:hidden;
}
#u2905_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:41px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u2906 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
}
#u2907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u2907 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u2907_img.mouseOver {
}
#u2907.mouseOver {
}
#u2907_img.selected {
}
#u2907.selected {
}
#u2908 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u2909 {
  position:absolute;
  left:171px;
  top:175px;
  width:171px;
  height:70px;
  visibility:hidden;
}
#u2909_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:76px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u2910 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:75px;
}
#u2911_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u2911 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u2911_img.mouseOver {
}
#u2911.mouseOver {
}
#u2911_img.selected {
}
#u2911.selected {
}
#u2912 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u2913_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u2913 {
  position:absolute;
  left:0px;
  top:35px;
  width:171px;
  height:35px;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u2913_img.mouseOver {
}
#u2913.mouseOver {
}
#u2913_img.selected {
}
#u2913.selected {
}
#u2914 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u2915 {
  position:absolute;
  left:171px;
  top:140px;
  width:171px;
  height:70px;
  visibility:hidden;
}
#u2915_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:76px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u2916 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:75px;
}
#u2917_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u2917 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u2917_img.mouseOver {
}
#u2917.mouseOver {
}
#u2917_img.selected {
}
#u2917.selected {
}
#u2918 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u2919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u2919 {
  position:absolute;
  left:0px;
  top:35px;
  width:171px;
  height:35px;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u2919_img.mouseOver {
}
#u2919.mouseOver {
}
#u2919_img.selected {
}
#u2919.selected {
}
#u2920 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u2921_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
}
#u2921 {
  position:absolute;
  left:220px;
  top:150px;
  width:193px;
  height:33px;
  font-family:'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
}
#u2922 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u2924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:90px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2924 {
  position:absolute;
  left:0px;
  top:1029px;
  width:1280px;
  height:90px;
}
#u2925 {
  position:absolute;
  left:2px;
  top:37px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2926_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2926 {
  position:absolute;
  left:35px;
  top:1056px;
  width:94px;
  height:37px;
  color:#FFFFFF;
}
#u2927 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u2928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:38px;
}
#u2928 {
  position:absolute;
  left:1092px;
  top:1075px;
  width:180px;
  height:38px;
  font-size:16px;
  color:#FF0000;
}
#u2929 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u2930_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u2930 {
  position:absolute;
  left:683px;
  top:398px;
  width:100px;
  height:30px;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u2930_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u2930.mouseOver {
}
#u2931 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u2932 {
  position:absolute;
  left:220px;
  top:220px;
  width:578px;
  height:165px;
}
#u2933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:40px;
}
#u2933 {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:40px;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
}
#u2934 {
  position:absolute;
  left:10px;
  top:11px;
  width:152px;
  word-wrap:break-word;
}
#u2935_img {
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  height:40px;
}
#u2935 {
  position:absolute;
  left:164px;
  top:0px;
  width:409px;
  height:40px;
  font-size:15px;
  text-align:center;
}
#u2936 {
  position:absolute;
  left:10px;
  top:12px;
  width:397px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2937_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:40px;
}
#u2937 {
  position:absolute;
  left:0px;
  top:40px;
  width:164px;
  height:40px;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
}
#u2938 {
  position:absolute;
  left:10px;
  top:11px;
  width:152px;
  word-wrap:break-word;
}
#u2939_img {
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  height:40px;
}
#u2939 {
  position:absolute;
  left:164px;
  top:40px;
  width:409px;
  height:40px;
  font-size:15px;
}
#u2940 {
  position:absolute;
  left:10px;
  top:12px;
  width:397px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:40px;
}
#u2941 {
  position:absolute;
  left:0px;
  top:80px;
  width:164px;
  height:40px;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
}
#u2942 {
  position:absolute;
  left:10px;
  top:11px;
  width:152px;
  word-wrap:break-word;
}
#u2943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  height:40px;
}
#u2943 {
  position:absolute;
  left:164px;
  top:80px;
  width:409px;
  height:40px;
  font-size:15px;
}
#u2944 {
  position:absolute;
  left:10px;
  top:12px;
  width:397px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:40px;
}
#u2945 {
  position:absolute;
  left:0px;
  top:120px;
  width:164px;
  height:40px;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
}
#u2946 {
  position:absolute;
  left:10px;
  top:11px;
  width:152px;
  word-wrap:break-word;
}
#u2947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  height:40px;
}
#u2947 {
  position:absolute;
  left:164px;
  top:120px;
  width:409px;
  height:40px;
  font-size:15px;
}
#u2948 {
  position:absolute;
  left:10px;
  top:12px;
  width:397px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2949 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2950 {
  position:absolute;
  left:391px;
  top:226px;
  width:168px;
  height:30px;
}
#u2950_input {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u2951 {
  position:absolute;
  left:585px;
  top:226px;
  width:199px;
  height:30px;
}
#u2951_input {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u2952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2952 {
  position:absolute;
  left:565px;
  top:234px;
  width:10px;
  height:19px;
  font-size:16px;
}
#u2953 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  white-space:nowrap;
}
#u2954 {
  position:absolute;
  left:391px;
  top:266px;
  width:392px;
  height:25px;
}
#u2954_input {
  position:absolute;
  left:0px;
  top:0px;
  width:392px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:2px;
}
#u2955 {
  position:absolute;
  left:226px;
  top:463px;
  width:900px;
  height:1px;
}
#u2956 {
  position:absolute;
  left:2px;
  top:-8px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2957 {
  position:absolute;
  left:226px;
  top:488px;
  width:728px;
  height:382px;
}
#u2958_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:34px;
}
#u2958 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:34px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u2959 {
  position:absolute;
  left:2px;
  top:9px;
  width:97px;
  word-wrap:break-word;
}
#u2960_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:34px;
}
#u2960 {
  position:absolute;
  left:101px;
  top:0px;
  width:141px;
  height:34px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u2961 {
  position:absolute;
  left:2px;
  top:9px;
  width:137px;
  word-wrap:break-word;
}
#u2962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:34px;
}
#u2962 {
  position:absolute;
  left:242px;
  top:0px;
  width:157px;
  height:34px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u2963 {
  position:absolute;
  left:2px;
  top:9px;
  width:153px;
  word-wrap:break-word;
}
#u2964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:34px;
}
#u2964 {
  position:absolute;
  left:399px;
  top:0px;
  width:168px;
  height:34px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u2965 {
  position:absolute;
  left:2px;
  top:9px;
  width:164px;
  word-wrap:break-word;
}
#u2966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:34px;
}
#u2966 {
  position:absolute;
  left:567px;
  top:0px;
  width:156px;
  height:34px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u2967 {
  position:absolute;
  left:2px;
  top:9px;
  width:152px;
  word-wrap:break-word;
}
#u2968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:34px;
}
#u2968 {
  position:absolute;
  left:0px;
  top:34px;
  width:101px;
  height:34px;
  text-align:center;
}
#u2969 {
  position:absolute;
  left:2px;
  top:9px;
  width:97px;
  word-wrap:break-word;
}
#u2970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:34px;
}
#u2970 {
  position:absolute;
  left:101px;
  top:34px;
  width:141px;
  height:34px;
  text-align:center;
}
#u2971 {
  position:absolute;
  left:2px;
  top:9px;
  width:137px;
  word-wrap:break-word;
}
#u2972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:34px;
}
#u2972 {
  position:absolute;
  left:242px;
  top:34px;
  width:157px;
  height:34px;
  text-align:center;
}
#u2973 {
  position:absolute;
  left:2px;
  top:9px;
  width:153px;
  word-wrap:break-word;
}
#u2974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:34px;
}
#u2974 {
  position:absolute;
  left:399px;
  top:34px;
  width:168px;
  height:34px;
  text-align:center;
}
#u2975 {
  position:absolute;
  left:2px;
  top:9px;
  width:164px;
  word-wrap:break-word;
}
#u2976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:34px;
}
#u2976 {
  position:absolute;
  left:567px;
  top:34px;
  width:156px;
  height:34px;
  text-align:center;
}
#u2977 {
  position:absolute;
  left:2px;
  top:9px;
  width:152px;
  word-wrap:break-word;
}
#u2978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:32px;
}
#u2978 {
  position:absolute;
  left:0px;
  top:68px;
  width:101px;
  height:32px;
  text-align:center;
}
#u2979 {
  position:absolute;
  left:2px;
  top:8px;
  width:97px;
  word-wrap:break-word;
}
#u2980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
}
#u2980 {
  position:absolute;
  left:101px;
  top:68px;
  width:141px;
  height:32px;
  text-align:center;
}
#u2981 {
  position:absolute;
  left:2px;
  top:8px;
  width:137px;
  word-wrap:break-word;
}
#u2982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:32px;
}
#u2982 {
  position:absolute;
  left:242px;
  top:68px;
  width:157px;
  height:32px;
  color:#000000;
  text-align:center;
}
#u2983 {
  position:absolute;
  left:2px;
  top:8px;
  width:153px;
  word-wrap:break-word;
}
#u2984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:32px;
}
#u2984 {
  position:absolute;
  left:399px;
  top:68px;
  width:168px;
  height:32px;
  text-align:center;
}
#u2985 {
  position:absolute;
  left:2px;
  top:8px;
  width:164px;
  word-wrap:break-word;
}
#u2986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:32px;
}
#u2986 {
  position:absolute;
  left:567px;
  top:68px;
  width:156px;
  height:32px;
  text-align:center;
}
#u2987 {
  position:absolute;
  left:2px;
  top:8px;
  width:152px;
  word-wrap:break-word;
}
#u2988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:39px;
}
#u2988 {
  position:absolute;
  left:0px;
  top:100px;
  width:101px;
  height:39px;
  text-align:center;
}
#u2989 {
  position:absolute;
  left:2px;
  top:12px;
  width:97px;
  word-wrap:break-word;
}
#u2990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:39px;
}
#u2990 {
  position:absolute;
  left:101px;
  top:100px;
  width:141px;
  height:39px;
  text-align:center;
}
#u2991 {
  position:absolute;
  left:2px;
  top:12px;
  width:137px;
  word-wrap:break-word;
}
#u2992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:39px;
}
#u2992 {
  position:absolute;
  left:242px;
  top:100px;
  width:157px;
  height:39px;
  color:#000000;
  text-align:center;
}
#u2993 {
  position:absolute;
  left:2px;
  top:12px;
  width:153px;
  word-wrap:break-word;
}
#u2994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:39px;
}
#u2994 {
  position:absolute;
  left:399px;
  top:100px;
  width:168px;
  height:39px;
  text-align:center;
}
#u2995 {
  position:absolute;
  left:2px;
  top:12px;
  width:164px;
  word-wrap:break-word;
}
#u2996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:39px;
}
#u2996 {
  position:absolute;
  left:567px;
  top:100px;
  width:156px;
  height:39px;
  text-align:center;
}
#u2997 {
  position:absolute;
  left:2px;
  top:12px;
  width:152px;
  word-wrap:break-word;
}
#u2998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:34px;
}
#u2998 {
  position:absolute;
  left:0px;
  top:139px;
  width:101px;
  height:34px;
  text-align:center;
}
#u2999 {
  position:absolute;
  left:2px;
  top:9px;
  width:97px;
  word-wrap:break-word;
}
#u3000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:34px;
}
#u3000 {
  position:absolute;
  left:101px;
  top:139px;
  width:141px;
  height:34px;
  text-align:center;
}
#u3001 {
  position:absolute;
  left:2px;
  top:9px;
  width:137px;
  word-wrap:break-word;
}
#u3002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:34px;
}
#u3002 {
  position:absolute;
  left:242px;
  top:139px;
  width:157px;
  height:34px;
  text-align:center;
}
#u3003 {
  position:absolute;
  left:2px;
  top:9px;
  width:153px;
  word-wrap:break-word;
}
#u3004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:34px;
}
#u3004 {
  position:absolute;
  left:399px;
  top:139px;
  width:168px;
  height:34px;
  text-align:center;
}
#u3005 {
  position:absolute;
  left:2px;
  top:9px;
  width:164px;
  word-wrap:break-word;
}
#u3006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:34px;
}
#u3006 {
  position:absolute;
  left:567px;
  top:139px;
  width:156px;
  height:34px;
  text-align:center;
}
#u3007 {
  position:absolute;
  left:2px;
  top:9px;
  width:152px;
  word-wrap:break-word;
}
#u3008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:34px;
}
#u3008 {
  position:absolute;
  left:0px;
  top:173px;
  width:101px;
  height:34px;
  text-align:center;
}
#u3009 {
  position:absolute;
  left:2px;
  top:9px;
  width:97px;
  word-wrap:break-word;
}
#u3010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:34px;
}
#u3010 {
  position:absolute;
  left:101px;
  top:173px;
  width:141px;
  height:34px;
  text-align:center;
}
#u3011 {
  position:absolute;
  left:2px;
  top:9px;
  width:137px;
  word-wrap:break-word;
}
#u3012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:34px;
}
#u3012 {
  position:absolute;
  left:242px;
  top:173px;
  width:157px;
  height:34px;
  text-align:center;
}
#u3013 {
  position:absolute;
  left:2px;
  top:9px;
  width:153px;
  word-wrap:break-word;
}
#u3014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:34px;
}
#u3014 {
  position:absolute;
  left:399px;
  top:173px;
  width:168px;
  height:34px;
  text-align:center;
}
#u3015 {
  position:absolute;
  left:2px;
  top:9px;
  width:164px;
  word-wrap:break-word;
}
#u3016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:34px;
}
#u3016 {
  position:absolute;
  left:567px;
  top:173px;
  width:156px;
  height:34px;
  text-align:center;
}
#u3017 {
  position:absolute;
  left:2px;
  top:9px;
  width:152px;
  word-wrap:break-word;
}
#u3018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:34px;
}
#u3018 {
  position:absolute;
  left:0px;
  top:207px;
  width:101px;
  height:34px;
  text-align:center;
}
#u3019 {
  position:absolute;
  left:2px;
  top:9px;
  width:97px;
  word-wrap:break-word;
}
#u3020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:34px;
}
#u3020 {
  position:absolute;
  left:101px;
  top:207px;
  width:141px;
  height:34px;
  text-align:center;
}
#u3021 {
  position:absolute;
  left:2px;
  top:9px;
  width:137px;
  word-wrap:break-word;
}
#u3022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:34px;
}
#u3022 {
  position:absolute;
  left:242px;
  top:207px;
  width:157px;
  height:34px;
  text-align:center;
}
#u3023 {
  position:absolute;
  left:2px;
  top:9px;
  width:153px;
  word-wrap:break-word;
}
#u3024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:34px;
}
#u3024 {
  position:absolute;
  left:399px;
  top:207px;
  width:168px;
  height:34px;
  text-align:center;
}
#u3025 {
  position:absolute;
  left:2px;
  top:9px;
  width:164px;
  word-wrap:break-word;
}
#u3026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:34px;
}
#u3026 {
  position:absolute;
  left:567px;
  top:207px;
  width:156px;
  height:34px;
  text-align:center;
}
#u3027 {
  position:absolute;
  left:2px;
  top:9px;
  width:152px;
  word-wrap:break-word;
}
#u3028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:34px;
}
#u3028 {
  position:absolute;
  left:0px;
  top:241px;
  width:101px;
  height:34px;
  text-align:center;
}
#u3029 {
  position:absolute;
  left:2px;
  top:9px;
  width:97px;
  word-wrap:break-word;
}
#u3030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:34px;
}
#u3030 {
  position:absolute;
  left:101px;
  top:241px;
  width:141px;
  height:34px;
  text-align:center;
}
#u3031 {
  position:absolute;
  left:2px;
  top:9px;
  width:137px;
  word-wrap:break-word;
}
#u3032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:34px;
}
#u3032 {
  position:absolute;
  left:242px;
  top:241px;
  width:157px;
  height:34px;
  text-align:center;
}
#u3033 {
  position:absolute;
  left:2px;
  top:9px;
  width:153px;
  word-wrap:break-word;
}
#u3034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:34px;
}
#u3034 {
  position:absolute;
  left:399px;
  top:241px;
  width:168px;
  height:34px;
  text-align:center;
}
#u3035 {
  position:absolute;
  left:2px;
  top:9px;
  width:164px;
  word-wrap:break-word;
}
#u3036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:34px;
}
#u3036 {
  position:absolute;
  left:567px;
  top:241px;
  width:156px;
  height:34px;
  text-align:center;
}
#u3037 {
  position:absolute;
  left:2px;
  top:9px;
  width:152px;
  word-wrap:break-word;
}
#u3038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:34px;
}
#u3038 {
  position:absolute;
  left:0px;
  top:275px;
  width:101px;
  height:34px;
  text-align:center;
}
#u3039 {
  position:absolute;
  left:2px;
  top:9px;
  width:97px;
  word-wrap:break-word;
}
#u3040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:34px;
}
#u3040 {
  position:absolute;
  left:101px;
  top:275px;
  width:141px;
  height:34px;
  text-align:center;
}
#u3041 {
  position:absolute;
  left:2px;
  top:9px;
  width:137px;
  word-wrap:break-word;
}
#u3042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:34px;
}
#u3042 {
  position:absolute;
  left:242px;
  top:275px;
  width:157px;
  height:34px;
  text-align:center;
}
#u3043 {
  position:absolute;
  left:2px;
  top:9px;
  width:153px;
  word-wrap:break-word;
}
#u3044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:34px;
}
#u3044 {
  position:absolute;
  left:399px;
  top:275px;
  width:168px;
  height:34px;
  text-align:center;
}
#u3045 {
  position:absolute;
  left:2px;
  top:9px;
  width:164px;
  word-wrap:break-word;
}
#u3046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:34px;
}
#u3046 {
  position:absolute;
  left:567px;
  top:275px;
  width:156px;
  height:34px;
  text-align:center;
}
#u3047 {
  position:absolute;
  left:2px;
  top:9px;
  width:152px;
  word-wrap:break-word;
}
#u3048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:34px;
}
#u3048 {
  position:absolute;
  left:0px;
  top:309px;
  width:101px;
  height:34px;
  text-align:center;
}
#u3049 {
  position:absolute;
  left:2px;
  top:9px;
  width:97px;
  word-wrap:break-word;
}
#u3050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:34px;
}
#u3050 {
  position:absolute;
  left:101px;
  top:309px;
  width:141px;
  height:34px;
  text-align:center;
}
#u3051 {
  position:absolute;
  left:2px;
  top:9px;
  width:137px;
  word-wrap:break-word;
}
#u3052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:34px;
}
#u3052 {
  position:absolute;
  left:242px;
  top:309px;
  width:157px;
  height:34px;
  text-align:center;
}
#u3053 {
  position:absolute;
  left:2px;
  top:9px;
  width:153px;
  word-wrap:break-word;
}
#u3054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:34px;
}
#u3054 {
  position:absolute;
  left:399px;
  top:309px;
  width:168px;
  height:34px;
  text-align:center;
}
#u3055 {
  position:absolute;
  left:2px;
  top:9px;
  width:164px;
  word-wrap:break-word;
}
#u3056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:34px;
}
#u3056 {
  position:absolute;
  left:567px;
  top:309px;
  width:156px;
  height:34px;
  text-align:center;
}
#u3057 {
  position:absolute;
  left:2px;
  top:9px;
  width:152px;
  word-wrap:break-word;
}
#u3058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:34px;
}
#u3058 {
  position:absolute;
  left:0px;
  top:343px;
  width:101px;
  height:34px;
  text-align:center;
}
#u3059 {
  position:absolute;
  left:2px;
  top:9px;
  width:97px;
  word-wrap:break-word;
}
#u3060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:34px;
}
#u3060 {
  position:absolute;
  left:101px;
  top:343px;
  width:141px;
  height:34px;
  text-align:center;
}
#u3061 {
  position:absolute;
  left:2px;
  top:9px;
  width:137px;
  word-wrap:break-word;
}
#u3062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:34px;
}
#u3062 {
  position:absolute;
  left:242px;
  top:343px;
  width:157px;
  height:34px;
  text-align:center;
}
#u3063 {
  position:absolute;
  left:2px;
  top:9px;
  width:153px;
  word-wrap:break-word;
}
#u3064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:34px;
}
#u3064 {
  position:absolute;
  left:399px;
  top:343px;
  width:168px;
  height:34px;
  text-align:center;
}
#u3065 {
  position:absolute;
  left:2px;
  top:9px;
  width:164px;
  word-wrap:break-word;
}
#u3066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:34px;
}
#u3066 {
  position:absolute;
  left:567px;
  top:343px;
  width:156px;
  height:34px;
  text-align:center;
}
#u3067 {
  position:absolute;
  left:2px;
  top:9px;
  width:152px;
  word-wrap:break-word;
}
#u3068 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3069 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:60px;
}
#u3070 {
  position:absolute;
  left:238px;
  top:940px;
  width:700px;
  height:60px;
}
#u3071 {
  position:absolute;
  left:2px;
  top:22px;
  width:696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3072_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#515151;
}
#u3072 {
  position:absolute;
  left:252px;
  top:949px;
  width:65px;
  height:19px;
  font-family:'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#515151;
}
#u3073 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u3074_div {
  position:absolute;
  left:0px;
  top:0px;
  width:676px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3074 {
  position:absolute;
  left:252px;
  top:968px;
  width:676px;
  height:32px;
}
#u3075 {
  position:absolute;
  left:0px;
  top:0px;
  width:676px;
  word-wrap:break-word;
}
#u3076 {
  position:absolute;
  left:392px;
  top:307px;
  width:392px;
  height:25px;
}
#u3076_input {
  position:absolute;
  left:0px;
  top:0px;
  width:392px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3077 {
  position:absolute;
  left:391px;
  top:347px;
  width:392px;
  height:25px;
}
#u3077_input {
  position:absolute;
  left:0px;
  top:0px;
  width:392px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3078 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3079 {
  position:absolute;
  left:393px;
  top:882px;
  width:50px;
  height:22px;
}
#u3079_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u3079_input:disabled {
  color:grayText;
}
#u3080_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
}
#u3080 {
  position:absolute;
  left:332px;
  top:886px;
  width:53px;
  height:15px;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
}
#u3081 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u3082_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
}
#u3082 {
  position:absolute;
  left:452px;
  top:886px;
  width:14px;
  height:15px;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
}
#u3083 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u3084 {
  position:absolute;
  left:246px;
  top:882px;
  width:50px;
  height:22px;
}
#u3084_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u3084_input:disabled {
  color:grayText;
}
#u3085_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
}
#u3085 {
  position:absolute;
  left:226px;
  top:886px;
  width:14px;
  height:15px;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
}
#u3086 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u3087_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
}
#u3087 {
  position:absolute;
  left:305px;
  top:886px;
  width:27px;
  height:13px;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
}
#u3088 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u3089_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:16px;
}
#u3089 {
  position:absolute;
  left:810px;
  top:233px;
  width:118px;
  height:16px;
  color:#FF0000;
}
#u3090 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u3091 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3092_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:18px;
}
#u3092 {
  position:absolute;
  left:736px;
  top:496px;
  width:17px;
  height:18px;
}
#u3093 {
  position:absolute;
  left:2px;
  top:1px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3094_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:18px;
}
#u3094 {
  position:absolute;
  left:426px;
  top:496px;
  width:16px;
  height:18px;
}
#u3095 {
  position:absolute;
  left:2px;
  top:1px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3096_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:18px;
}
#u3096 {
  position:absolute;
  left:570px;
  top:496px;
  width:16px;
  height:18px;
}
#u3097 {
  position:absolute;
  left:2px;
  top:1px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3098_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:18px;
}
#u3098 {
  position:absolute;
  left:306px;
  top:496px;
  width:16px;
  height:18px;
}
#u3099 {
  position:absolute;
  left:2px;
  top:1px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:18px;
}
#u3100 {
  position:absolute;
  left:893px;
  top:496px;
  width:16px;
  height:18px;
}
#u3101 {
  position:absolute;
  left:2px;
  top:1px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
