body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u38065_div {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:759px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38065 {
  position:absolute;
  left:0px;
  top:109px;
  width:191px;
  height:759px;
}
#u38066 {
  position:absolute;
  left:2px;
  top:372px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:110px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38068 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:110px;
}
#u38069 {
  position:absolute;
  left:2px;
  top:47px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38070 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u38071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
}
#u38071 {
  position:absolute;
  left:1061px;
  top:30px;
  width:129px;
  height:17px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
}
#u38072 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u38073_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
}
#u38073 {
  position:absolute;
  left:1197px;
  top:30px;
  width:39px;
  height:17px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
}
#u38074 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u38075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:11px;
}
#u38075 {
  position:absolute;
  left:1188px;
  top:34px;
  width:1px;
  height:10px;
}
#u38076 {
  position:absolute;
  left:2px;
  top:-3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Rounded MT Bold';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u38077 {
  position:absolute;
  left:20px;
  top:30px;
  width:144px;
  height:55px;
  font-family:'Arial Rounded MT Bold';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u38078 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u38079 {
  position:absolute;
  left:1025px;
  top:24px;
  width:26px;
  height:30px;
}
#u38079_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:32px;
  height:36px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u38080 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:35px;
}
#u38081_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:30px;
}
#u38081 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:30px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
  text-align:center;
}
#u38081_img.selected {
}
#u38081.selected {
}
#u38082 {
  position:absolute;
  left:2px;
  top:6px;
  width:22px;
  word-wrap:break-word;
}
#u38083 {
  position:absolute;
  left:0px;
  top:30px;
  width:88px;
  height:139px;
  visibility:hidden;
}
#u38083_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:94px;
  height:145px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u38084 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:144px;
}
#u38085_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:34px;
}
#u38085 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:34px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u38085_img.selected {
}
#u38085.selected {
}
#u38086 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u38087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u38087 {
  position:absolute;
  left:0px;
  top:34px;
  width:88px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u38087_img.selected {
}
#u38087.selected {
}
#u38088 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u38089_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u38089 {
  position:absolute;
  left:0px;
  top:69px;
  width:88px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u38089_img.selected {
}
#u38089.selected {
}
#u38090 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u38091_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u38091 {
  position:absolute;
  left:0px;
  top:104px;
  width:88px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u38091_img.selected {
}
#u38091.selected {
}
#u38092 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u38093_img {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:25px;
}
#u38093 {
  position:absolute;
  left:396px;
  top:34px;
  width:284px;
  height:25px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
  text-align:left;
}
#u38094 {
  position:absolute;
  left:2px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
#u38096 {
  position:absolute;
  left:11px;
  top:130px;
  width:171px;
  height:385px;
}
#u38096_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:391px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u38097 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:390px;
}
#u38098_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:32px;
}
#u38098 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:32px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u38098_img.mouseOver {
}
#u38098.mouseOver {
}
#u38098_img.selected {
}
#u38098.selected {
}
#u38099 {
  position:absolute;
  left:2px;
  top:7px;
  width:167px;
  word-wrap:break-word;
}
#u38100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:38px;
}
#u38100 {
  position:absolute;
  left:0px;
  top:32px;
  width:171px;
  height:38px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u38100_img.mouseOver {
}
#u38100.mouseOver {
}
#u38100_img.selected {
}
#u38100.selected {
}
#u38101 {
  position:absolute;
  left:2px;
  top:10px;
  width:167px;
  word-wrap:break-word;
}
#u38102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u38102 {
  position:absolute;
  left:0px;
  top:70px;
  width:171px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u38102_img.mouseOver {
}
#u38102.mouseOver {
}
#u38102_img.selected {
}
#u38102.selected {
}
#u38103 {
  position:absolute;
  left:2px;
  top:9px;
  width:167px;
  word-wrap:break-word;
}
#u38104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u38104 {
  position:absolute;
  left:0px;
  top:105px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u38104_img.mouseOver {
}
#u38104.mouseOver {
}
#u38104_img.selected {
}
#u38104.selected {
}
#u38105 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u38106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u38106 {
  position:absolute;
  left:0px;
  top:140px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u38106_img.mouseOver {
}
#u38106.mouseOver {
}
#u38106_img.selected {
}
#u38106.selected {
}
#u38107 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u38108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u38108 {
  position:absolute;
  left:0px;
  top:175px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u38108_img.mouseOver {
}
#u38108.mouseOver {
}
#u38108_img.selected {
}
#u38108.selected {
}
#u38109 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u38110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u38110 {
  position:absolute;
  left:0px;
  top:210px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u38110_img.mouseOver {
}
#u38110.mouseOver {
}
#u38110_img.selected {
}
#u38110.selected {
}
#u38111 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u38112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u38112 {
  position:absolute;
  left:0px;
  top:245px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u38112_img.mouseOver {
}
#u38112.mouseOver {
}
#u38112_img.selected {
}
#u38112.selected {
}
#u38113 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u38114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u38114 {
  position:absolute;
  left:0px;
  top:280px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u38114_img.mouseOver {
}
#u38114.mouseOver {
}
#u38114_img.selected {
}
#u38114.selected {
}
#u38115 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u38116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u38116 {
  position:absolute;
  left:0px;
  top:315px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u38116_img.mouseOver {
}
#u38116.mouseOver {
}
#u38116_img.selected {
}
#u38116.selected {
}
#u38117 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u38118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u38118 {
  position:absolute;
  left:0px;
  top:350px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u38118_img.mouseOver {
}
#u38118.mouseOver {
}
#u38118_img.selected {
}
#u38118.selected {
}
#u38119 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u38120 {
  position:absolute;
  left:171px;
  top:245px;
  width:171px;
  height:35px;
  visibility:hidden;
}
#u38120_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:41px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u38121 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
}
#u38122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u38122 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u38122_img.mouseOver {
}
#u38122.mouseOver {
}
#u38122_img.selected {
}
#u38122.selected {
}
#u38123 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u38124 {
  position:absolute;
  left:171px;
  top:105px;
  width:202px;
  height:112px;
  visibility:hidden;
}
#u38124_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:208px;
  height:118px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u38125 {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:117px;
}
#u38126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:36px;
}
#u38126 {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:36px;
  font-size:15px;
  color:#000000;
  text-align:center;
}
#u38126_img.mouseOver {
}
#u38126.mouseOver {
}
#u38126_img.selected {
}
#u38126.selected {
}
#u38127 {
  position:absolute;
  left:2px;
  top:10px;
  width:198px;
  word-wrap:break-word;
}
#u38128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:38px;
}
#u38128 {
  position:absolute;
  left:0px;
  top:36px;
  width:202px;
  height:38px;
  font-size:15px;
  color:#000000;
  text-align:center;
}
#u38128_img.mouseOver {
}
#u38128.mouseOver {
}
#u38128_img.selected {
}
#u38128.selected {
}
#u38129 {
  position:absolute;
  left:2px;
  top:10px;
  width:198px;
  word-wrap:break-word;
}
#u38130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:38px;
}
#u38130 {
  position:absolute;
  left:0px;
  top:74px;
  width:202px;
  height:38px;
  font-size:15px;
  color:#000000;
  text-align:center;
}
#u38130_img.mouseOver {
}
#u38130.mouseOver {
}
#u38130_img.selected {
}
#u38130.selected {
}
#u38131 {
  position:absolute;
  left:2px;
  top:10px;
  width:198px;
  word-wrap:break-word;
}
#u38132 {
  position:absolute;
  left:171px;
  top:32px;
  width:150px;
  height:175px;
  visibility:hidden;
}
#u38132_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:156px;
  height:181px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u38133 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:180px;
}
#u38134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u38134 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u38134_img.mouseOver {
}
#u38134.mouseOver {
}
#u38134_img.selected {
}
#u38134.selected {
}
#u38135 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u38136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u38136 {
  position:absolute;
  left:0px;
  top:35px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u38136_img.mouseOver {
}
#u38136.mouseOver {
}
#u38136_img.selected {
}
#u38136.selected {
}
#u38137 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u38138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u38138 {
  position:absolute;
  left:0px;
  top:70px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u38138_img.mouseOver {
}
#u38138.mouseOver {
}
#u38138_img.selected {
}
#u38138.selected {
}
#u38139 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u38140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u38140 {
  position:absolute;
  left:0px;
  top:105px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u38140_img.mouseOver {
}
#u38140.mouseOver {
}
#u38140_img.selected {
}
#u38140.selected {
}
#u38141 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u38142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u38142 {
  position:absolute;
  left:0px;
  top:140px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u38142_img.mouseOver {
}
#u38142.mouseOver {
}
#u38142_img.selected {
}
#u38142.selected {
}
#u38143 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u38144 {
  position:absolute;
  left:171px;
  top:70px;
  width:171px;
  height:35px;
  visibility:hidden;
}
#u38144_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:41px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u38145 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
}
#u38146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u38146 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u38146_img.mouseOver {
}
#u38146.mouseOver {
}
#u38146_img.selected {
}
#u38146.selected {
}
#u38147 {
  position:absolute;
  left:2px;
  top:9px;
  width:167px;
  word-wrap:break-word;
}
#u38148 {
  position:absolute;
  left:171px;
  top:280px;
  width:171px;
  height:110px;
  visibility:hidden;
}
#u38148_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:116px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u38149 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:115px;
}
#u38150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u38150 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u38150_img.mouseOver {
}
#u38150.mouseOver {
}
#u38150_img.selected {
}
#u38150.selected {
}
#u38151 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u38152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u38152 {
  position:absolute;
  left:0px;
  top:35px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u38152_img.mouseOver {
}
#u38152.mouseOver {
}
#u38152_img.selected {
}
#u38152.selected {
}
#u38153 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u38154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:40px;
}
#u38154 {
  position:absolute;
  left:0px;
  top:70px;
  width:171px;
  height:40px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u38154_img.mouseOver {
}
#u38154.mouseOver {
}
#u38154_img.selected {
}
#u38154.selected {
}
#u38155 {
  position:absolute;
  left:2px;
  top:11px;
  width:167px;
  word-wrap:break-word;
}
#u38156 {
  position:absolute;
  left:171px;
  top:315px;
  width:169px;
  height:210px;
  visibility:hidden;
}
#u38156_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:175px;
  height:216px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u38157 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:215px;
}
#u38158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u38158 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u38158_img.mouseOver {
}
#u38158.mouseOver {
}
#u38158_img.selected {
}
#u38158.selected {
}
#u38159 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u38160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u38160 {
  position:absolute;
  left:0px;
  top:35px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u38160_img.mouseOver {
}
#u38160.mouseOver {
}
#u38160_img.selected {
}
#u38160.selected {
}
#u38161 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u38162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u38162 {
  position:absolute;
  left:0px;
  top:70px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u38162_img.mouseOver {
}
#u38162.mouseOver {
}
#u38162_img.selected {
}
#u38162.selected {
}
#u38163 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u38164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u38164 {
  position:absolute;
  left:0px;
  top:105px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u38164_img.mouseOver {
}
#u38164.mouseOver {
}
#u38164_img.selected {
}
#u38164.selected {
}
#u38165 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u38166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u38166 {
  position:absolute;
  left:0px;
  top:140px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u38166_img.mouseOver {
}
#u38166.mouseOver {
}
#u38166_img.selected {
}
#u38166.selected {
}
#u38167 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u38168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u38168 {
  position:absolute;
  left:0px;
  top:175px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u38168_img.mouseOver {
}
#u38168.mouseOver {
}
#u38168_img.selected {
}
#u38168.selected {
}
#u38169 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u38170 {
  position:absolute;
  left:171px;
  top:350px;
  width:171px;
  height:35px;
  visibility:hidden;
}
#u38170_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:41px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u38171 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
}
#u38172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u38172 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u38172_img.mouseOver {
}
#u38172.mouseOver {
}
#u38172_img.selected {
}
#u38172.selected {
}
#u38173 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u38174 {
  position:absolute;
  left:171px;
  top:210px;
  width:171px;
  height:35px;
  visibility:hidden;
}
#u38174_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:41px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u38175 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
}
#u38176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u38176 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u38176_img.mouseOver {
}
#u38176.mouseOver {
}
#u38176_img.selected {
}
#u38176.selected {
}
#u38177 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u38178 {
  position:absolute;
  left:171px;
  top:175px;
  width:171px;
  height:70px;
  visibility:hidden;
}
#u38178_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:76px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u38179 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:75px;
}
#u38180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u38180 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u38180_img.mouseOver {
}
#u38180.mouseOver {
}
#u38180_img.selected {
}
#u38180.selected {
}
#u38181 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u38182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u38182 {
  position:absolute;
  left:0px;
  top:35px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u38182_img.mouseOver {
}
#u38182.mouseOver {
}
#u38182_img.selected {
}
#u38182.selected {
}
#u38183 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u38184 {
  position:absolute;
  left:171px;
  top:140px;
  width:171px;
  height:70px;
  visibility:hidden;
}
#u38184_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:76px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u38185 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:75px;
}
#u38186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u38186 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u38186_img.mouseOver {
}
#u38186.mouseOver {
}
#u38186_img.selected {
}
#u38186.selected {
}
#u38187 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u38188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u38188 {
  position:absolute;
  left:0px;
  top:35px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u38188_img.mouseOver {
}
#u38188.mouseOver {
}
#u38188_img.selected {
}
#u38188.selected {
}
#u38189 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u38191_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:90px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38191 {
  position:absolute;
  left:0px;
  top:850px;
  width:1280px;
  height:90px;
}
#u38192 {
  position:absolute;
  left:2px;
  top:37px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38193_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u38193 {
  position:absolute;
  left:35px;
  top:877px;
  width:94px;
  height:37px;
  color:#FFFFFF;
}
#u38194 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u38195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:38px;
}
#u38195 {
  position:absolute;
  left:1102px;
  top:896px;
  width:170px;
  height:38px;
  font-size:16px;
  color:#FF0000;
}
#u38196 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u38197_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Medium', 'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
}
#u38197 {
  position:absolute;
  left:220px;
  top:150px;
  width:193px;
  height:38px;
  font-family:'STHeitiTC-Medium', 'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
}
#u38198 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u38199 {
  position:absolute;
  left:220px;
  top:240px;
  width:629px;
  height:497px;
}
#u38200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:40px;
}
#u38200 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u38201 {
  position:absolute;
  left:10px;
  top:12px;
  width:248px;
  word-wrap:break-word;
}
#u38202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:40px;
}
#u38202 {
  position:absolute;
  left:260px;
  top:0px;
  width:364px;
  height:40px;
  font-size:15px;
  color:#666666;
}
#u38203 {
  position:absolute;
  left:10px;
  top:12px;
  width:352px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:40px;
}
#u38204 {
  position:absolute;
  left:0px;
  top:40px;
  width:260px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u38205 {
  position:absolute;
  left:10px;
  top:12px;
  width:248px;
  word-wrap:break-word;
}
#u38206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:40px;
}
#u38206 {
  position:absolute;
  left:260px;
  top:40px;
  width:364px;
  height:40px;
  font-size:15px;
  color:#666666;
}
#u38207 {
  position:absolute;
  left:10px;
  top:12px;
  width:352px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:40px;
}
#u38208 {
  position:absolute;
  left:0px;
  top:80px;
  width:260px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u38209 {
  position:absolute;
  left:10px;
  top:12px;
  width:248px;
  word-wrap:break-word;
}
#u38210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:40px;
}
#u38210 {
  position:absolute;
  left:260px;
  top:80px;
  width:364px;
  height:40px;
  color:#000000;
}
#u38211 {
  position:absolute;
  left:10px;
  top:12px;
  width:352px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:40px;
}
#u38212 {
  position:absolute;
  left:0px;
  top:120px;
  width:260px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u38213 {
  position:absolute;
  left:10px;
  top:12px;
  width:248px;
  word-wrap:break-word;
}
#u38214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:40px;
}
#u38214 {
  position:absolute;
  left:260px;
  top:120px;
  width:364px;
  height:40px;
  color:#000000;
}
#u38215 {
  position:absolute;
  left:10px;
  top:12px;
  width:352px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:40px;
}
#u38216 {
  position:absolute;
  left:0px;
  top:160px;
  width:260px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u38217 {
  position:absolute;
  left:10px;
  top:12px;
  width:248px;
  word-wrap:break-word;
}
#u38218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:40px;
}
#u38218 {
  position:absolute;
  left:260px;
  top:160px;
  width:364px;
  height:40px;
  color:#000000;
}
#u38219 {
  position:absolute;
  left:10px;
  top:12px;
  width:352px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:59px;
}
#u38220 {
  position:absolute;
  left:0px;
  top:200px;
  width:260px;
  height:59px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u38221 {
  position:absolute;
  left:10px;
  top:21px;
  width:248px;
  word-wrap:break-word;
}
#u38222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:59px;
}
#u38222 {
  position:absolute;
  left:260px;
  top:200px;
  width:364px;
  height:59px;
}
#u38223 {
  position:absolute;
  left:10px;
  top:22px;
  width:352px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:40px;
}
#u38224 {
  position:absolute;
  left:0px;
  top:259px;
  width:260px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u38225 {
  position:absolute;
  left:10px;
  top:12px;
  width:248px;
  word-wrap:break-word;
}
#u38226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:40px;
}
#u38226 {
  position:absolute;
  left:260px;
  top:259px;
  width:364px;
  height:40px;
}
#u38227 {
  position:absolute;
  left:10px;
  top:12px;
  width:352px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:40px;
}
#u38228 {
  position:absolute;
  left:0px;
  top:299px;
  width:260px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u38229 {
  position:absolute;
  left:10px;
  top:12px;
  width:248px;
  word-wrap:break-word;
}
#u38230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:40px;
}
#u38230 {
  position:absolute;
  left:260px;
  top:299px;
  width:364px;
  height:40px;
}
#u38231 {
  position:absolute;
  left:10px;
  top:12px;
  width:352px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:78px;
}
#u38232 {
  position:absolute;
  left:0px;
  top:339px;
  width:260px;
  height:78px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u38233 {
  position:absolute;
  left:10px;
  top:30px;
  width:248px;
  word-wrap:break-word;
}
#u38234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:78px;
}
#u38234 {
  position:absolute;
  left:260px;
  top:339px;
  width:364px;
  height:78px;
}
#u38235 {
  position:absolute;
  left:10px;
  top:31px;
  width:352px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:75px;
}
#u38236 {
  position:absolute;
  left:0px;
  top:417px;
  width:260px;
  height:75px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u38237 {
  position:absolute;
  left:10px;
  top:29px;
  width:248px;
  word-wrap:break-word;
}
#u38238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:75px;
}
#u38238 {
  position:absolute;
  left:260px;
  top:417px;
  width:364px;
  height:75px;
}
#u38239 {
  position:absolute;
  left:10px;
  top:30px;
  width:352px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38240_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u38240 {
  position:absolute;
  left:545px;
  top:755px;
  width:100px;
  height:30px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u38240_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u38240.mouseOver {
}
#u38241 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u38242_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u38242 {
  position:absolute;
  left:419px;
  top:755px;
  width:100px;
  height:30px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u38242_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u38242.mouseOver {
}
#u38243 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u38244_div {
  position:absolute;
  left:0px;
  top:0px;
  width:624px;
  height:40px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u38244 {
  position:absolute;
  left:220px;
  top:200px;
  width:624px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u38245 {
  position:absolute;
  left:10px;
  top:10px;
  width:612px;
  word-wrap:break-word;
}
#u38246 {
  position:absolute;
  left:573px;
  top:366px;
  width:194px;
  height:30px;
}
#u38246_input {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u38247 {
  position:absolute;
  left:573px;
  top:404px;
  width:194px;
  height:30px;
}
#u38247_input {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u38248 {
  position:absolute;
  left:573px;
  top:545px;
  width:194px;
  height:30px;
}
#u38248_input {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u38249 {
  position:absolute;
  left:573px;
  top:502px;
  width:194px;
  height:30px;
}
#u38249_input {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u38250 {
  position:absolute;
  left:573px;
  top:286px;
  width:194px;
  height:30px;
}
#u38250_input {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u38251 {
  position:absolute;
  left:573px;
  top:246px;
  width:194px;
  height:30px;
}
#u38251_input {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u38252 {
  position:absolute;
  left:573px;
  top:670px;
  width:194px;
  height:50px;
}
#u38252_input {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:50px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u38253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:16px;
}
#u38253 {
  position:absolute;
  left:584px;
  top:334px;
  width:93px;
  height:16px;
  color:#FF0000;
  text-align:center;
}
#u38254 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u38255 {
  position:absolute;
  left:573px;
  top:592px;
  width:194px;
  height:50px;
}
#u38255_input {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:50px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u38256 {
  position:absolute;
  left:573px;
  top:444px;
  width:194px;
  height:50px;
}
#u38256_input {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:50px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u38257 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u38258_div {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:136px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u38258 {
  position:absolute;
  left:426px;
  top:393px;
  width:308px;
  height:136px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u38259 {
  position:absolute;
  left:20px;
  top:20px;
  width:286px;
  word-wrap:break-word;
}
#u38260 {
  position:absolute;
  left:643px;
  top:475px;
  width:75px;
  height:25px;
}
#u38260_input {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u38261 {
  position:absolute;
  left:542px;
  top:475px;
  width:75px;
  height:25px;
}
#u38261_input {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
