body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u44620_div {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:759px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u44620 {
  position:absolute;
  left:0px;
  top:109px;
  width:191px;
  height:759px;
}
#u44621 {
  position:absolute;
  left:2px;
  top:372px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44623_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:110px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u44623 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:110px;
}
#u44624 {
  position:absolute;
  left:2px;
  top:47px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44625 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u44626_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
}
#u44626 {
  position:absolute;
  left:1061px;
  top:30px;
  width:129px;
  height:17px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
}
#u44627 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u44628_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
}
#u44628 {
  position:absolute;
  left:1197px;
  top:30px;
  width:39px;
  height:17px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
}
#u44629 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u44630_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:11px;
}
#u44630 {
  position:absolute;
  left:1188px;
  top:34px;
  width:1px;
  height:10px;
}
#u44631 {
  position:absolute;
  left:2px;
  top:-3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44632_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Rounded MT Bold';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u44632 {
  position:absolute;
  left:20px;
  top:30px;
  width:144px;
  height:55px;
  font-family:'Arial Rounded MT Bold';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u44633 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u44634 {
  position:absolute;
  left:1025px;
  top:24px;
  width:26px;
  height:30px;
}
#u44634_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:32px;
  height:36px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u44635 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:35px;
}
#u44636_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:30px;
}
#u44636 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:30px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
  text-align:center;
}
#u44636_img.selected {
}
#u44636.selected {
}
#u44637 {
  position:absolute;
  left:2px;
  top:6px;
  width:22px;
  word-wrap:break-word;
}
#u44638 {
  position:absolute;
  left:0px;
  top:30px;
  width:88px;
  height:139px;
  visibility:hidden;
}
#u44638_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:94px;
  height:145px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u44639 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:144px;
}
#u44640_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:34px;
}
#u44640 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:34px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u44640_img.selected {
}
#u44640.selected {
}
#u44641 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u44642_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u44642 {
  position:absolute;
  left:0px;
  top:34px;
  width:88px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u44642_img.selected {
}
#u44642.selected {
}
#u44643 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u44644_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u44644 {
  position:absolute;
  left:0px;
  top:69px;
  width:88px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u44644_img.selected {
}
#u44644.selected {
}
#u44645 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u44646_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u44646 {
  position:absolute;
  left:0px;
  top:104px;
  width:88px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u44646_img.selected {
}
#u44646.selected {
}
#u44647 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u44648_img {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:25px;
}
#u44648 {
  position:absolute;
  left:396px;
  top:34px;
  width:284px;
  height:25px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
  text-align:left;
}
#u44649 {
  position:absolute;
  left:2px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
#u44651 {
  position:absolute;
  left:11px;
  top:130px;
  width:171px;
  height:385px;
}
#u44651_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:391px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u44652 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:390px;
}
#u44653_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:32px;
}
#u44653 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:32px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u44653_img.mouseOver {
}
#u44653.mouseOver {
}
#u44653_img.selected {
}
#u44653.selected {
}
#u44654 {
  position:absolute;
  left:2px;
  top:7px;
  width:167px;
  word-wrap:break-word;
}
#u44655_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:38px;
}
#u44655 {
  position:absolute;
  left:0px;
  top:32px;
  width:171px;
  height:38px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u44655_img.mouseOver {
}
#u44655.mouseOver {
}
#u44655_img.selected {
}
#u44655.selected {
}
#u44656 {
  position:absolute;
  left:2px;
  top:10px;
  width:167px;
  word-wrap:break-word;
}
#u44657_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u44657 {
  position:absolute;
  left:0px;
  top:70px;
  width:171px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u44657_img.mouseOver {
}
#u44657.mouseOver {
}
#u44657_img.selected {
}
#u44657.selected {
}
#u44658 {
  position:absolute;
  left:2px;
  top:9px;
  width:167px;
  word-wrap:break-word;
}
#u44659_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u44659 {
  position:absolute;
  left:0px;
  top:105px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u44659_img.mouseOver {
}
#u44659.mouseOver {
}
#u44659_img.selected {
}
#u44659.selected {
}
#u44660 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u44661_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u44661 {
  position:absolute;
  left:0px;
  top:140px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u44661_img.mouseOver {
}
#u44661.mouseOver {
}
#u44661_img.selected {
}
#u44661.selected {
}
#u44662 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u44663_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u44663 {
  position:absolute;
  left:0px;
  top:175px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u44663_img.mouseOver {
}
#u44663.mouseOver {
}
#u44663_img.selected {
}
#u44663.selected {
}
#u44664 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u44665_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u44665 {
  position:absolute;
  left:0px;
  top:210px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u44665_img.mouseOver {
}
#u44665.mouseOver {
}
#u44665_img.selected {
}
#u44665.selected {
}
#u44666 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u44667_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u44667 {
  position:absolute;
  left:0px;
  top:245px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u44667_img.mouseOver {
}
#u44667.mouseOver {
}
#u44667_img.selected {
}
#u44667.selected {
}
#u44668 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u44669_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u44669 {
  position:absolute;
  left:0px;
  top:280px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u44669_img.mouseOver {
}
#u44669.mouseOver {
}
#u44669_img.selected {
}
#u44669.selected {
}
#u44670 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u44671_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u44671 {
  position:absolute;
  left:0px;
  top:315px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u44671_img.mouseOver {
}
#u44671.mouseOver {
}
#u44671_img.selected {
}
#u44671.selected {
}
#u44672 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u44673_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u44673 {
  position:absolute;
  left:0px;
  top:350px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u44673_img.mouseOver {
}
#u44673.mouseOver {
}
#u44673_img.selected {
}
#u44673.selected {
}
#u44674 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u44675 {
  position:absolute;
  left:171px;
  top:245px;
  width:171px;
  height:70px;
  visibility:hidden;
}
#u44675_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:76px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u44676 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:75px;
}
#u44677_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u44677 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u44677_img.mouseOver {
}
#u44677.mouseOver {
}
#u44677_img.selected {
}
#u44677.selected {
}
#u44678 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u44679_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u44679 {
  position:absolute;
  left:0px;
  top:35px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u44679_img.mouseOver {
}
#u44679.mouseOver {
}
#u44679_img.selected {
}
#u44679.selected {
}
#u44680 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u44681 {
  position:absolute;
  left:171px;
  top:105px;
  width:202px;
  height:74px;
  visibility:hidden;
}
#u44681_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:208px;
  height:80px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u44682 {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:79px;
}
#u44683_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:36px;
}
#u44683 {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:36px;
  font-size:15px;
  color:#000000;
  text-align:center;
}
#u44683_img.mouseOver {
}
#u44683.mouseOver {
}
#u44683_img.selected {
}
#u44683.selected {
}
#u44684 {
  position:absolute;
  left:2px;
  top:10px;
  width:198px;
  word-wrap:break-word;
}
#u44685_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:38px;
}
#u44685 {
  position:absolute;
  left:0px;
  top:36px;
  width:202px;
  height:38px;
  font-size:15px;
  color:#000000;
  text-align:center;
}
#u44685_img.mouseOver {
}
#u44685.mouseOver {
}
#u44685_img.selected {
}
#u44685.selected {
}
#u44686 {
  position:absolute;
  left:2px;
  top:10px;
  width:198px;
  word-wrap:break-word;
}
#u44687 {
  position:absolute;
  left:171px;
  top:32px;
  width:150px;
  height:175px;
  visibility:hidden;
}
#u44687_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:156px;
  height:181px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u44688 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:180px;
}
#u44689_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u44689 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u44689_img.mouseOver {
}
#u44689.mouseOver {
}
#u44689_img.selected {
}
#u44689.selected {
}
#u44690 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u44691_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u44691 {
  position:absolute;
  left:0px;
  top:35px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u44691_img.mouseOver {
}
#u44691.mouseOver {
}
#u44691_img.selected {
}
#u44691.selected {
}
#u44692 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u44693_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u44693 {
  position:absolute;
  left:0px;
  top:70px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u44693_img.mouseOver {
}
#u44693.mouseOver {
}
#u44693_img.selected {
}
#u44693.selected {
}
#u44694 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u44695_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u44695 {
  position:absolute;
  left:0px;
  top:105px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u44695_img.mouseOver {
}
#u44695.mouseOver {
}
#u44695_img.selected {
}
#u44695.selected {
}
#u44696 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u44697_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u44697 {
  position:absolute;
  left:0px;
  top:140px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u44697_img.mouseOver {
}
#u44697.mouseOver {
}
#u44697_img.selected {
}
#u44697.selected {
}
#u44698 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u44699 {
  position:absolute;
  left:171px;
  top:70px;
  width:171px;
  height:35px;
  visibility:hidden;
}
#u44699_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:41px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u44700 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
}
#u44701_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u44701 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u44701_img.mouseOver {
}
#u44701.mouseOver {
}
#u44701_img.selected {
}
#u44701.selected {
}
#u44702 {
  position:absolute;
  left:2px;
  top:9px;
  width:167px;
  word-wrap:break-word;
}
#u44703 {
  position:absolute;
  left:171px;
  top:280px;
  width:171px;
  height:110px;
  visibility:hidden;
}
#u44703_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:116px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u44704 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:115px;
}
#u44705_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u44705 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u44705_img.mouseOver {
}
#u44705.mouseOver {
}
#u44705_img.selected {
}
#u44705.selected {
}
#u44706 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u44707_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u44707 {
  position:absolute;
  left:0px;
  top:35px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u44707_img.mouseOver {
}
#u44707.mouseOver {
}
#u44707_img.selected {
}
#u44707.selected {
}
#u44708 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u44709_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:40px;
}
#u44709 {
  position:absolute;
  left:0px;
  top:70px;
  width:171px;
  height:40px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u44709_img.mouseOver {
}
#u44709.mouseOver {
}
#u44709_img.selected {
}
#u44709.selected {
}
#u44710 {
  position:absolute;
  left:2px;
  top:11px;
  width:167px;
  word-wrap:break-word;
}
#u44711 {
  position:absolute;
  left:171px;
  top:315px;
  width:169px;
  height:175px;
  visibility:hidden;
}
#u44711_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:175px;
  height:181px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u44712 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:180px;
}
#u44713_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u44713 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u44713_img.mouseOver {
}
#u44713.mouseOver {
}
#u44713_img.selected {
}
#u44713.selected {
}
#u44714 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u44715_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u44715 {
  position:absolute;
  left:0px;
  top:35px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u44715_img.mouseOver {
}
#u44715.mouseOver {
}
#u44715_img.selected {
}
#u44715.selected {
}
#u44716 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u44717_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u44717 {
  position:absolute;
  left:0px;
  top:70px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u44717_img.mouseOver {
}
#u44717.mouseOver {
}
#u44717_img.selected {
}
#u44717.selected {
}
#u44718 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u44719_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u44719 {
  position:absolute;
  left:0px;
  top:105px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u44719_img.mouseOver {
}
#u44719.mouseOver {
}
#u44719_img.selected {
}
#u44719.selected {
}
#u44720 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u44721_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u44721 {
  position:absolute;
  left:0px;
  top:140px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u44721_img.mouseOver {
}
#u44721.mouseOver {
}
#u44721_img.selected {
}
#u44721.selected {
}
#u44722 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u44723 {
  position:absolute;
  left:171px;
  top:350px;
  width:171px;
  height:35px;
  visibility:hidden;
}
#u44723_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:41px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u44724 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
}
#u44725_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u44725 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u44725_img.mouseOver {
}
#u44725.mouseOver {
}
#u44725_img.selected {
}
#u44725.selected {
}
#u44726 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u44727 {
  position:absolute;
  left:171px;
  top:210px;
  width:171px;
  height:35px;
  visibility:hidden;
}
#u44727_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:41px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u44728 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
}
#u44729_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u44729 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u44729_img.mouseOver {
}
#u44729.mouseOver {
}
#u44729_img.selected {
}
#u44729.selected {
}
#u44730 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u44731 {
  position:absolute;
  left:171px;
  top:175px;
  width:171px;
  height:70px;
  visibility:hidden;
}
#u44731_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:76px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u44732 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:75px;
}
#u44733_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u44733 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u44733_img.mouseOver {
}
#u44733.mouseOver {
}
#u44733_img.selected {
}
#u44733.selected {
}
#u44734 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u44735_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u44735 {
  position:absolute;
  left:0px;
  top:35px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u44735_img.mouseOver {
}
#u44735.mouseOver {
}
#u44735_img.selected {
}
#u44735.selected {
}
#u44736 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u44737 {
  position:absolute;
  left:171px;
  top:140px;
  width:171px;
  height:70px;
  visibility:hidden;
}
#u44737_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:76px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u44738 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:75px;
}
#u44739_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u44739 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u44739_img.mouseOver {
}
#u44739.mouseOver {
}
#u44739_img.selected {
}
#u44739.selected {
}
#u44740 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u44741_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u44741 {
  position:absolute;
  left:0px;
  top:35px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u44741_img.mouseOver {
}
#u44741.mouseOver {
}
#u44741_img.selected {
}
#u44741.selected {
}
#u44742 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u44744_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:90px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u44744 {
  position:absolute;
  left:0px;
  top:850px;
  width:1280px;
  height:90px;
}
#u44745 {
  position:absolute;
  left:2px;
  top:37px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44746_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u44746 {
  position:absolute;
  left:35px;
  top:877px;
  width:94px;
  height:37px;
  color:#FFFFFF;
}
#u44747 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u44748_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:38px;
}
#u44748 {
  position:absolute;
  left:1092px;
  top:896px;
  width:180px;
  height:38px;
  font-size:16px;
  color:#FF0000;
}
#u44749 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u44750_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Medium', 'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
}
#u44750 {
  position:absolute;
  left:220px;
  top:150px;
  width:193px;
  height:38px;
  font-family:'STHeitiTC-Medium', 'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
}
#u44751 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u44752 {
  position:absolute;
  left:220px;
  top:240px;
  width:629px;
  height:497px;
}
#u44753_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:40px;
}
#u44753 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u44754 {
  position:absolute;
  left:10px;
  top:12px;
  width:248px;
  word-wrap:break-word;
}
#u44755_img {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:40px;
}
#u44755 {
  position:absolute;
  left:260px;
  top:0px;
  width:364px;
  height:40px;
  font-size:15px;
  color:#666666;
}
#u44756 {
  position:absolute;
  left:10px;
  top:12px;
  width:352px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44757_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:40px;
}
#u44757 {
  position:absolute;
  left:0px;
  top:40px;
  width:260px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u44758 {
  position:absolute;
  left:10px;
  top:12px;
  width:248px;
  word-wrap:break-word;
}
#u44759_img {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:40px;
}
#u44759 {
  position:absolute;
  left:260px;
  top:40px;
  width:364px;
  height:40px;
  font-size:15px;
  color:#666666;
}
#u44760 {
  position:absolute;
  left:10px;
  top:12px;
  width:352px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44761_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:40px;
}
#u44761 {
  position:absolute;
  left:0px;
  top:80px;
  width:260px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u44762 {
  position:absolute;
  left:10px;
  top:12px;
  width:248px;
  word-wrap:break-word;
}
#u44763_img {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:40px;
}
#u44763 {
  position:absolute;
  left:260px;
  top:80px;
  width:364px;
  height:40px;
  color:#000000;
}
#u44764 {
  position:absolute;
  left:10px;
  top:12px;
  width:352px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44765_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:40px;
}
#u44765 {
  position:absolute;
  left:0px;
  top:120px;
  width:260px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u44766 {
  position:absolute;
  left:10px;
  top:12px;
  width:248px;
  word-wrap:break-word;
}
#u44767_img {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:40px;
}
#u44767 {
  position:absolute;
  left:260px;
  top:120px;
  width:364px;
  height:40px;
  color:#000000;
}
#u44768 {
  position:absolute;
  left:10px;
  top:12px;
  width:352px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44769_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:40px;
}
#u44769 {
  position:absolute;
  left:0px;
  top:160px;
  width:260px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u44770 {
  position:absolute;
  left:10px;
  top:12px;
  width:248px;
  word-wrap:break-word;
}
#u44771_img {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:40px;
}
#u44771 {
  position:absolute;
  left:260px;
  top:160px;
  width:364px;
  height:40px;
  color:#000000;
}
#u44772 {
  position:absolute;
  left:10px;
  top:12px;
  width:352px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44773_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:59px;
}
#u44773 {
  position:absolute;
  left:0px;
  top:200px;
  width:260px;
  height:59px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u44774 {
  position:absolute;
  left:10px;
  top:21px;
  width:248px;
  word-wrap:break-word;
}
#u44775_img {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:59px;
}
#u44775 {
  position:absolute;
  left:260px;
  top:200px;
  width:364px;
  height:59px;
}
#u44776 {
  position:absolute;
  left:10px;
  top:22px;
  width:352px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44777_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:40px;
}
#u44777 {
  position:absolute;
  left:0px;
  top:259px;
  width:260px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u44778 {
  position:absolute;
  left:10px;
  top:12px;
  width:248px;
  word-wrap:break-word;
}
#u44779_img {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:40px;
}
#u44779 {
  position:absolute;
  left:260px;
  top:259px;
  width:364px;
  height:40px;
}
#u44780 {
  position:absolute;
  left:10px;
  top:12px;
  width:352px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44781_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:40px;
}
#u44781 {
  position:absolute;
  left:0px;
  top:299px;
  width:260px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u44782 {
  position:absolute;
  left:10px;
  top:12px;
  width:248px;
  word-wrap:break-word;
}
#u44783_img {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:40px;
}
#u44783 {
  position:absolute;
  left:260px;
  top:299px;
  width:364px;
  height:40px;
}
#u44784 {
  position:absolute;
  left:10px;
  top:12px;
  width:352px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44785_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:78px;
}
#u44785 {
  position:absolute;
  left:0px;
  top:339px;
  width:260px;
  height:78px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u44786 {
  position:absolute;
  left:10px;
  top:30px;
  width:248px;
  word-wrap:break-word;
}
#u44787_img {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:78px;
}
#u44787 {
  position:absolute;
  left:260px;
  top:339px;
  width:364px;
  height:78px;
}
#u44788 {
  position:absolute;
  left:10px;
  top:31px;
  width:352px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44789_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:75px;
}
#u44789 {
  position:absolute;
  left:0px;
  top:417px;
  width:260px;
  height:75px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u44790 {
  position:absolute;
  left:10px;
  top:29px;
  width:248px;
  word-wrap:break-word;
}
#u44791_img {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:75px;
}
#u44791 {
  position:absolute;
  left:260px;
  top:417px;
  width:364px;
  height:75px;
}
#u44792 {
  position:absolute;
  left:10px;
  top:30px;
  width:352px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44793_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u44793 {
  position:absolute;
  left:545px;
  top:755px;
  width:100px;
  height:30px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u44793_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u44793.mouseOver {
}
#u44794 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u44795_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u44795 {
  position:absolute;
  left:419px;
  top:755px;
  width:100px;
  height:30px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u44795_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u44795.mouseOver {
}
#u44796 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u44797_div {
  position:absolute;
  left:0px;
  top:0px;
  width:624px;
  height:40px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u44797 {
  position:absolute;
  left:220px;
  top:200px;
  width:624px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u44798 {
  position:absolute;
  left:10px;
  top:10px;
  width:612px;
  word-wrap:break-word;
}
#u44799 {
  position:absolute;
  left:573px;
  top:366px;
  width:194px;
  height:30px;
}
#u44799_input {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u44800 {
  position:absolute;
  left:573px;
  top:404px;
  width:194px;
  height:30px;
}
#u44800_input {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u44801 {
  position:absolute;
  left:573px;
  top:545px;
  width:194px;
  height:30px;
}
#u44801_input {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u44802 {
  position:absolute;
  left:573px;
  top:502px;
  width:194px;
  height:30px;
}
#u44802_input {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u44803 {
  position:absolute;
  left:573px;
  top:286px;
  width:194px;
  height:30px;
}
#u44803_input {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u44804 {
  position:absolute;
  left:573px;
  top:246px;
  width:194px;
  height:30px;
}
#u44804_input {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u44805 {
  position:absolute;
  left:573px;
  top:670px;
  width:194px;
  height:50px;
}
#u44805_input {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:50px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u44806_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:16px;
}
#u44806 {
  position:absolute;
  left:584px;
  top:334px;
  width:93px;
  height:16px;
  color:#FF0000;
  text-align:center;
}
#u44807 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u44808 {
  position:absolute;
  left:573px;
  top:592px;
  width:194px;
  height:50px;
}
#u44808_input {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:50px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u44809 {
  position:absolute;
  left:573px;
  top:444px;
  width:194px;
  height:50px;
}
#u44809_input {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:50px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u44810 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u44811_div {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:136px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u44811 {
  position:absolute;
  left:426px;
  top:393px;
  width:308px;
  height:136px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u44812 {
  position:absolute;
  left:20px;
  top:20px;
  width:286px;
  word-wrap:break-word;
}
#u44813 {
  position:absolute;
  left:643px;
  top:475px;
  width:75px;
  height:25px;
}
#u44813_input {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u44814 {
  position:absolute;
  left:542px;
  top:475px;
  width:75px;
  height:25px;
}
#u44814_input {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
