body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1202px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u73569_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1194px;
  height:532px;
}
#u73569 {
  position:absolute;
  left:8px;
  top:0px;
  width:1194px;
  height:532px;
}
#u73570 {
  position:absolute;
  left:2px;
  top:258px;
  width:1190px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73571_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:16px;
}
#u73571 {
  position:absolute;
  left:625px;
  top:610px;
  width:225px;
  height:16px;
  color:#FF0000;
}
#u73572 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u73573_img {
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:32px;
}
#u73573 {
  position:absolute;
  left:625px;
  top:554px;
  width:451px;
  height:32px;
  color:#FF0000;
}
#u73574 {
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  word-wrap:break-word;
}
#u73575_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:16px;
}
#u73575 {
  position:absolute;
  left:625px;
  top:647px;
  width:180px;
  height:16px;
  color:#FF0000;
}
#u73576 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  white-space:nowrap;
}
#u73577_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:16px;
}
#u73577 {
  position:absolute;
  left:402px;
  top:95px;
  width:87px;
  height:16px;
  color:#FF0000;
}
#u73578 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u73579_img {
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:16px;
}
#u73579 {
  position:absolute;
  left:625px;
  top:684px;
  width:451px;
  height:16px;
  color:#FF0000;
}
#u73580 {
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  word-wrap:break-word;
}
