body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1202px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u69098_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1194px;
  height:532px;
}
#u69098 {
  position:absolute;
  left:8px;
  top:0px;
  width:1194px;
  height:532px;
}
#u69099 {
  position:absolute;
  left:2px;
  top:258px;
  width:1190px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:16px;
}
#u69100 {
  position:absolute;
  left:625px;
  top:610px;
  width:225px;
  height:16px;
  color:#FF0000;
}
#u69101 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u69102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:32px;
}
#u69102 {
  position:absolute;
  left:625px;
  top:554px;
  width:451px;
  height:32px;
  color:#FF0000;
}
#u69103 {
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  word-wrap:break-word;
}
#u69104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:16px;
}
#u69104 {
  position:absolute;
  left:625px;
  top:647px;
  width:180px;
  height:16px;
  color:#FF0000;
}
#u69105 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  white-space:nowrap;
}
#u69106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:16px;
}
#u69106 {
  position:absolute;
  left:402px;
  top:95px;
  width:87px;
  height:16px;
  color:#FF0000;
}
#u69107 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u69108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:16px;
}
#u69108 {
  position:absolute;
  left:625px;
  top:684px;
  width:451px;
  height:16px;
  color:#FF0000;
}
#u69109 {
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  word-wrap:break-word;
}
