body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u27433 {
  position:absolute;
  left:220px;
  top:265px;
  width:616px;
  height:161px;
}
#u27434_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:36px;
}
#u27434 {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:36px;
  color:#FFFFFF;
  text-align:center;
}
#u27435 {
  position:absolute;
  left:2px;
  top:10px;
  width:142px;
  word-wrap:break-word;
}
#u27436_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:36px;
}
#u27436 {
  position:absolute;
  left:146px;
  top:0px;
  width:163px;
  height:36px;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u27437 {
  position:absolute;
  left:2px;
  top:10px;
  width:159px;
  word-wrap:break-word;
}
#u27438_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:36px;
}
#u27438 {
  position:absolute;
  left:309px;
  top:0px;
  width:142px;
  height:36px;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u27439 {
  position:absolute;
  left:2px;
  top:10px;
  width:138px;
  word-wrap:break-word;
}
#u27440_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:36px;
}
#u27440 {
  position:absolute;
  left:451px;
  top:0px;
  width:160px;
  height:36px;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u27441 {
  position:absolute;
  left:2px;
  top:10px;
  width:156px;
  word-wrap:break-word;
}
#u27442_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:40px;
}
#u27442 {
  position:absolute;
  left:0px;
  top:36px;
  width:146px;
  height:40px;
  font-size:14px;
  text-align:center;
}
#u27443 {
  position:absolute;
  left:2px;
  top:12px;
  width:142px;
  word-wrap:break-word;
}
#u27444_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:40px;
}
#u27444 {
  position:absolute;
  left:146px;
  top:36px;
  width:163px;
  height:40px;
  font-size:14px;
}
#u27445 {
  position:absolute;
  left:2px;
  top:12px;
  width:159px;
  word-wrap:break-word;
}
#u27446_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:40px;
}
#u27446 {
  position:absolute;
  left:309px;
  top:36px;
  width:142px;
  height:40px;
  font-size:14px;
}
#u27447 {
  position:absolute;
  left:2px;
  top:12px;
  width:138px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27448_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
}
#u27448 {
  position:absolute;
  left:451px;
  top:36px;
  width:160px;
  height:40px;
}
#u27449 {
  position:absolute;
  left:2px;
  top:12px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27450_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:40px;
}
#u27450 {
  position:absolute;
  left:0px;
  top:76px;
  width:146px;
  height:40px;
  font-size:14px;
  text-align:center;
}
#u27451 {
  position:absolute;
  left:2px;
  top:12px;
  width:142px;
  word-wrap:break-word;
}
#u27452_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:40px;
}
#u27452 {
  position:absolute;
  left:146px;
  top:76px;
  width:163px;
  height:40px;
  color:#000000;
}
#u27453 {
  position:absolute;
  left:2px;
  top:12px;
  width:159px;
  word-wrap:break-word;
}
#u27454_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:40px;
}
#u27454 {
  position:absolute;
  left:309px;
  top:76px;
  width:142px;
  height:40px;
  font-size:14px;
}
#u27455 {
  position:absolute;
  left:2px;
  top:12px;
  width:138px;
  word-wrap:break-word;
}
#u27456_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
}
#u27456 {
  position:absolute;
  left:451px;
  top:76px;
  width:160px;
  height:40px;
}
#u27457 {
  position:absolute;
  left:2px;
  top:12px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27458_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:40px;
}
#u27458 {
  position:absolute;
  left:0px;
  top:116px;
  width:146px;
  height:40px;
  font-size:14px;
  text-align:center;
}
#u27459 {
  position:absolute;
  left:2px;
  top:12px;
  width:142px;
  word-wrap:break-word;
}
#u27460_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:40px;
}
#u27460 {
  position:absolute;
  left:146px;
  top:116px;
  width:163px;
  height:40px;
  font-size:14px;
}
#u27461 {
  position:absolute;
  left:2px;
  top:12px;
  width:159px;
  word-wrap:break-word;
}
#u27462_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:40px;
}
#u27462 {
  position:absolute;
  left:309px;
  top:116px;
  width:142px;
  height:40px;
  font-size:14px;
}
#u27463 {
  position:absolute;
  left:2px;
  top:12px;
  width:138px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27464_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
}
#u27464 {
  position:absolute;
  left:451px;
  top:116px;
  width:160px;
  height:40px;
}
#u27465 {
  position:absolute;
  left:2px;
  top:12px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27467_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:110px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27467 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:110px;
}
#u27468 {
  position:absolute;
  left:2px;
  top:47px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27469 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27470_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
}
#u27470 {
  position:absolute;
  left:1061px;
  top:30px;
  width:129px;
  height:17px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
}
#u27471 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u27472_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
}
#u27472 {
  position:absolute;
  left:1197px;
  top:30px;
  width:39px;
  height:17px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
}
#u27473 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u27474_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:11px;
}
#u27474 {
  position:absolute;
  left:1188px;
  top:34px;
  width:1px;
  height:10px;
}
#u27475 {
  position:absolute;
  left:2px;
  top:-3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27476 {
  position:absolute;
  left:1025px;
  top:24px;
  width:26px;
  height:30px;
}
#u27476_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:32px;
  height:36px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u27477 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:35px;
}
#u27478_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:30px;
}
#u27478 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:30px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
  text-align:center;
}
#u27478_img.selected {
}
#u27478.selected {
}
#u27479 {
  position:absolute;
  left:2px;
  top:6px;
  width:22px;
  word-wrap:break-word;
}
#u27480 {
  position:absolute;
  left:0px;
  top:30px;
  width:88px;
  height:139px;
  visibility:hidden;
}
#u27480_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:94px;
  height:145px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u27481 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:144px;
}
#u27482_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:34px;
}
#u27482 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:34px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u27482_img.selected {
}
#u27482.selected {
}
#u27483 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u27484_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u27484 {
  position:absolute;
  left:0px;
  top:34px;
  width:88px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u27484_img.selected {
}
#u27484.selected {
}
#u27485 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u27486_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u27486 {
  position:absolute;
  left:0px;
  top:69px;
  width:88px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u27486_img.selected {
}
#u27486.selected {
}
#u27487 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u27488_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u27488 {
  position:absolute;
  left:0px;
  top:104px;
  width:88px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u27488_img.selected {
}
#u27488.selected {
}
#u27489 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u27490_img {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:25px;
}
#u27490 {
  position:absolute;
  left:431px;
  top:43px;
  width:284px;
  height:25px;
  font-family:'微軟正黑體 Bold', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u27491 {
  position:absolute;
  left:2px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
#u27492_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:91px;
}
#u27492 {
  position:absolute;
  left:10px;
  top:10px;
  width:120px;
  height:91px;
}
#u27493 {
  position:absolute;
  left:2px;
  top:38px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27494_div {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:879px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27494 {
  position:absolute;
  left:0px;
  top:109px;
  width:191px;
  height:879px;
}
#u27495 {
  position:absolute;
  left:2px;
  top:432px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27497_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:90px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27497 {
  position:absolute;
  left:0px;
  top:976px;
  width:1280px;
  height:90px;
}
#u27498 {
  position:absolute;
  left:2px;
  top:37px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27499_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:38px;
}
#u27499 {
  position:absolute;
  left:1092px;
  top:1022px;
  width:180px;
  height:38px;
  font-size:16px;
  color:#FF0000;
}
#u27500 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u27501_div {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Medium', 'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
}
#u27501 {
  position:absolute;
  left:220px;
  top:150px;
  width:210px;
  height:38px;
  font-family:'STHeitiTC-Medium', 'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
}
#u27502 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  white-space:nowrap;
}
#u27504 {
  position:absolute;
  left:11px;
  top:130px;
  width:171px;
  height:455px;
}
#u27504_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:461px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u27505 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:460px;
}
#u27506_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:32px;
}
#u27506 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:32px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u27506_img.mouseOver {
}
#u27506.mouseOver {
}
#u27506_img.selected {
}
#u27506.selected {
}
#u27507 {
  position:absolute;
  left:2px;
  top:7px;
  width:167px;
  word-wrap:break-word;
}
#u27508_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:38px;
}
#u27508 {
  position:absolute;
  left:0px;
  top:32px;
  width:171px;
  height:38px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u27508_img.mouseOver {
}
#u27508.mouseOver {
}
#u27508_img.selected {
}
#u27508.selected {
}
#u27509 {
  position:absolute;
  left:2px;
  top:10px;
  width:167px;
  word-wrap:break-word;
}
#u27510_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u27510 {
  position:absolute;
  left:0px;
  top:70px;
  width:171px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u27510_img.mouseOver {
}
#u27510.mouseOver {
}
#u27510_img.selected {
}
#u27510.selected {
}
#u27511 {
  position:absolute;
  left:2px;
  top:9px;
  width:167px;
  word-wrap:break-word;
}
#u27512_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u27512 {
  position:absolute;
  left:0px;
  top:105px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u27512_img.mouseOver {
}
#u27512.mouseOver {
}
#u27512_img.selected {
}
#u27512.selected {
}
#u27513 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u27514_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u27514 {
  position:absolute;
  left:0px;
  top:140px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u27514_img.mouseOver {
}
#u27514.mouseOver {
}
#u27514_img.selected {
}
#u27514.selected {
}
#u27515 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u27516_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u27516 {
  position:absolute;
  left:0px;
  top:175px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u27516_img.mouseOver {
}
#u27516.mouseOver {
}
#u27516_img.selected {
}
#u27516.selected {
}
#u27517 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u27518_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u27518 {
  position:absolute;
  left:0px;
  top:210px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u27518_img.mouseOver {
}
#u27518.mouseOver {
}
#u27518_img.selected {
}
#u27518.selected {
}
#u27519 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u27520_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u27520 {
  position:absolute;
  left:0px;
  top:245px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u27520_img.mouseOver {
}
#u27520.mouseOver {
}
#u27520_img.selected {
}
#u27520.selected {
}
#u27521 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u27522_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u27522 {
  position:absolute;
  left:0px;
  top:280px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u27522_img.mouseOver {
}
#u27522.mouseOver {
}
#u27522_img.selected {
}
#u27522.selected {
}
#u27523 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u27524_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u27524 {
  position:absolute;
  left:0px;
  top:315px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u27524_img.mouseOver {
}
#u27524.mouseOver {
}
#u27524_img.selected {
}
#u27524.selected {
}
#u27525 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u27526_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u27526 {
  position:absolute;
  left:0px;
  top:350px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u27526_img.mouseOver {
}
#u27526.mouseOver {
}
#u27526_img.selected {
}
#u27526.selected {
}
#u27527 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u27528_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u27528 {
  position:absolute;
  left:0px;
  top:385px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u27528_img.mouseOver {
}
#u27528.mouseOver {
}
#u27528_img.selected {
}
#u27528.selected {
}
#u27529 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u27530_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u27530 {
  position:absolute;
  left:0px;
  top:420px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u27530_img.mouseOver {
}
#u27530.mouseOver {
}
#u27530_img.selected {
}
#u27530.selected {
}
#u27531 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u27532 {
  position:absolute;
  left:171px;
  top:315px;
  width:171px;
  height:70px;
  visibility:hidden;
}
#u27532_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:76px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u27533 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:75px;
}
#u27534_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u27534 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u27534_img.mouseOver {
}
#u27534.mouseOver {
}
#u27534_img.selected {
}
#u27534.selected {
}
#u27535 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u27536_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u27536 {
  position:absolute;
  left:0px;
  top:35px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u27536_img.mouseOver {
}
#u27536.mouseOver {
}
#u27536_img.selected {
}
#u27536.selected {
}
#u27537 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u27538 {
  position:absolute;
  left:171px;
  top:105px;
  width:202px;
  height:148px;
  visibility:hidden;
}
#u27538_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:208px;
  height:154px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u27539 {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:153px;
}
#u27540_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:36px;
}
#u27540 {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:36px;
  font-size:15px;
  color:#000000;
  text-align:center;
}
#u27540_img.mouseOver {
}
#u27540.mouseOver {
}
#u27540_img.selected {
}
#u27540.selected {
}
#u27541 {
  position:absolute;
  left:2px;
  top:10px;
  width:198px;
  word-wrap:break-word;
}
#u27542_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:36px;
}
#u27542 {
  position:absolute;
  left:0px;
  top:36px;
  width:202px;
  height:36px;
  font-size:15px;
  color:#000000;
  text-align:center;
}
#u27542_img.mouseOver {
}
#u27542.mouseOver {
}
#u27542_img.selected {
}
#u27542.selected {
}
#u27543 {
  position:absolute;
  left:2px;
  top:10px;
  width:198px;
  word-wrap:break-word;
}
#u27544_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:38px;
}
#u27544 {
  position:absolute;
  left:0px;
  top:72px;
  width:202px;
  height:38px;
  font-size:15px;
  color:#000000;
  text-align:center;
}
#u27544_img.mouseOver {
}
#u27544.mouseOver {
}
#u27544_img.selected {
}
#u27544.selected {
}
#u27545 {
  position:absolute;
  left:2px;
  top:10px;
  width:198px;
  word-wrap:break-word;
}
#u27546_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:38px;
}
#u27546 {
  position:absolute;
  left:0px;
  top:110px;
  width:202px;
  height:38px;
  font-size:15px;
  color:#000000;
  text-align:center;
}
#u27546_img.mouseOver {
}
#u27546.mouseOver {
}
#u27546_img.selected {
}
#u27546.selected {
}
#u27547 {
  position:absolute;
  left:2px;
  top:10px;
  width:198px;
  word-wrap:break-word;
}
#u27548 {
  position:absolute;
  left:171px;
  top:32px;
  width:150px;
  height:175px;
  visibility:hidden;
}
#u27548_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:156px;
  height:181px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u27549 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:180px;
}
#u27550_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u27550 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u27550_img.mouseOver {
}
#u27550.mouseOver {
}
#u27550_img.selected {
}
#u27550.selected {
}
#u27551 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u27552_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u27552 {
  position:absolute;
  left:0px;
  top:35px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u27552_img.mouseOver {
}
#u27552.mouseOver {
}
#u27552_img.selected {
}
#u27552.selected {
}
#u27553 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u27554_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u27554 {
  position:absolute;
  left:0px;
  top:70px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u27554_img.mouseOver {
}
#u27554.mouseOver {
}
#u27554_img.selected {
}
#u27554.selected {
}
#u27555 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u27556_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u27556 {
  position:absolute;
  left:0px;
  top:105px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u27556_img.mouseOver {
}
#u27556.mouseOver {
}
#u27556_img.selected {
}
#u27556.selected {
}
#u27557 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u27558_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u27558 {
  position:absolute;
  left:0px;
  top:140px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u27558_img.mouseOver {
}
#u27558.mouseOver {
}
#u27558_img.selected {
}
#u27558.selected {
}
#u27559 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u27560 {
  position:absolute;
  left:171px;
  top:70px;
  width:171px;
  height:105px;
  visibility:hidden;
}
#u27560_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:111px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u27561 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:110px;
}
#u27562_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u27562 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u27562_img.mouseOver {
}
#u27562.mouseOver {
}
#u27562_img.selected {
}
#u27562.selected {
}
#u27563 {
  position:absolute;
  left:2px;
  top:9px;
  width:167px;
  word-wrap:break-word;
}
#u27564_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u27564 {
  position:absolute;
  left:0px;
  top:35px;
  width:171px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u27564_img.mouseOver {
}
#u27564.mouseOver {
}
#u27564_img.selected {
}
#u27564.selected {
}
#u27565 {
  position:absolute;
  left:2px;
  top:9px;
  width:167px;
  word-wrap:break-word;
}
#u27566_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u27566 {
  position:absolute;
  left:0px;
  top:70px;
  width:171px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u27566_img.mouseOver {
}
#u27566.mouseOver {
}
#u27566_img.selected {
}
#u27566.selected {
}
#u27567 {
  position:absolute;
  left:2px;
  top:9px;
  width:167px;
  word-wrap:break-word;
}
#u27568 {
  position:absolute;
  left:171px;
  top:350px;
  width:171px;
  height:35px;
  visibility:hidden;
}
#u27568_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:41px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u27569 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
}
#u27570_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u27570 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u27570_img.mouseOver {
}
#u27570.mouseOver {
}
#u27570_img.selected {
}
#u27570.selected {
}
#u27571 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u27572 {
  position:absolute;
  left:171px;
  top:385px;
  width:169px;
  height:350px;
  visibility:hidden;
}
#u27572_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:175px;
  height:356px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u27573 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:355px;
}
#u27574_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u27574 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u27574_img.mouseOver {
}
#u27574.mouseOver {
}
#u27574_img.selected {
}
#u27574.selected {
}
#u27575 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u27576_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u27576 {
  position:absolute;
  left:0px;
  top:35px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u27576_img.mouseOver {
}
#u27576.mouseOver {
}
#u27576_img.selected {
}
#u27576.selected {
}
#u27577 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u27578_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u27578 {
  position:absolute;
  left:0px;
  top:70px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u27578_img.mouseOver {
}
#u27578.mouseOver {
}
#u27578_img.selected {
}
#u27578.selected {
}
#u27579 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u27580_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u27580 {
  position:absolute;
  left:0px;
  top:105px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u27580_img.mouseOver {
}
#u27580.mouseOver {
}
#u27580_img.selected {
}
#u27580.selected {
}
#u27581 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u27582_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u27582 {
  position:absolute;
  left:0px;
  top:140px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u27582_img.mouseOver {
}
#u27582.mouseOver {
}
#u27582_img.selected {
}
#u27582.selected {
}
#u27583 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u27584_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u27584 {
  position:absolute;
  left:0px;
  top:175px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u27584_img.mouseOver {
}
#u27584.mouseOver {
}
#u27584_img.selected {
}
#u27584.selected {
}
#u27585 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u27586_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u27586 {
  position:absolute;
  left:0px;
  top:210px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u27586_img.mouseOver {
}
#u27586.mouseOver {
}
#u27586_img.selected {
}
#u27586.selected {
}
#u27587 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u27588_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u27588 {
  position:absolute;
  left:0px;
  top:245px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u27588_img.mouseOver {
}
#u27588.mouseOver {
}
#u27588_img.selected {
}
#u27588.selected {
}
#u27589 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u27590_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u27590 {
  position:absolute;
  left:0px;
  top:280px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u27590_img.mouseOver {
}
#u27590.mouseOver {
}
#u27590_img.selected {
}
#u27590.selected {
}
#u27591 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u27592_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u27592 {
  position:absolute;
  left:0px;
  top:315px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u27592_img.mouseOver {
}
#u27592.mouseOver {
}
#u27592_img.selected {
}
#u27592.selected {
}
#u27593 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u27594 {
  position:absolute;
  left:171px;
  top:420px;
  width:171px;
  height:35px;
  visibility:hidden;
}
#u27594_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:41px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u27595 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
}
#u27596_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u27596 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u27596_img.mouseOver {
}
#u27596.mouseOver {
}
#u27596_img.selected {
}
#u27596.selected {
}
#u27597 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u27598 {
  position:absolute;
  left:171px;
  top:280px;
  width:171px;
  height:35px;
  visibility:hidden;
}
#u27598_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:41px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u27599 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
}
#u27600_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u27600 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u27600_img.mouseOver {
}
#u27600.mouseOver {
}
#u27600_img.selected {
}
#u27600.selected {
}
#u27601 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u27602 {
  position:absolute;
  left:171px;
  top:175px;
  width:179px;
  height:285px;
  visibility:hidden;
}
#u27602_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:185px;
  height:291px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u27603 {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:290px;
}
#u27604_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:35px;
}
#u27604 {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u27604_img.mouseOver {
}
#u27604.mouseOver {
}
#u27604_img.selected {
}
#u27604.selected {
}
#u27605 {
  position:absolute;
  left:2px;
  top:8px;
  width:175px;
  word-wrap:break-word;
}
#u27606_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:35px;
}
#u27606 {
  position:absolute;
  left:0px;
  top:35px;
  width:179px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u27606_img.mouseOver {
}
#u27606.mouseOver {
}
#u27606_img.selected {
}
#u27606.selected {
}
#u27607 {
  position:absolute;
  left:2px;
  top:8px;
  width:175px;
  word-wrap:break-word;
}
#u27608_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:35px;
}
#u27608 {
  position:absolute;
  left:0px;
  top:70px;
  width:179px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u27608_img.mouseOver {
}
#u27608.mouseOver {
}
#u27608_img.selected {
}
#u27608.selected {
}
#u27609 {
  position:absolute;
  left:2px;
  top:8px;
  width:175px;
  word-wrap:break-word;
}
#u27610_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:35px;
}
#u27610 {
  position:absolute;
  left:0px;
  top:105px;
  width:179px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u27610_img.mouseOver {
}
#u27610.mouseOver {
}
#u27610_img.selected {
}
#u27610.selected {
}
#u27611 {
  position:absolute;
  left:2px;
  top:8px;
  width:175px;
  word-wrap:break-word;
}
#u27612_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:35px;
}
#u27612 {
  position:absolute;
  left:0px;
  top:140px;
  width:179px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u27612_img.mouseOver {
}
#u27612.mouseOver {
}
#u27612_img.selected {
}
#u27612.selected {
}
#u27613 {
  position:absolute;
  left:2px;
  top:8px;
  width:175px;
  word-wrap:break-word;
}
#u27614_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:35px;
}
#u27614 {
  position:absolute;
  left:0px;
  top:175px;
  width:179px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u27614_img.mouseOver {
}
#u27614.mouseOver {
}
#u27614_img.selected {
}
#u27614.selected {
}
#u27615 {
  position:absolute;
  left:2px;
  top:8px;
  width:175px;
  word-wrap:break-word;
}
#u27616_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:35px;
}
#u27616 {
  position:absolute;
  left:0px;
  top:210px;
  width:179px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u27616_img.mouseOver {
}
#u27616.mouseOver {
}
#u27616_img.selected {
}
#u27616.selected {
}
#u27617 {
  position:absolute;
  left:2px;
  top:8px;
  width:175px;
  word-wrap:break-word;
}
#u27618_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:40px;
}
#u27618 {
  position:absolute;
  left:0px;
  top:245px;
  width:179px;
  height:40px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u27618_img.mouseOver {
}
#u27618.mouseOver {
}
#u27618_img.selected {
}
#u27618.selected {
}
#u27619 {
  position:absolute;
  left:2px;
  top:11px;
  width:175px;
  word-wrap:break-word;
}
#u27620 {
  position:absolute;
  left:171px;
  top:140px;
  width:171px;
  height:70px;
  visibility:hidden;
}
#u27620_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:76px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u27621 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:75px;
}
#u27622_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u27622 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u27622_img.mouseOver {
}
#u27622.mouseOver {
}
#u27622_img.selected {
}
#u27622.selected {
}
#u27623 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u27624_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u27624 {
  position:absolute;
  left:0px;
  top:35px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u27624_img.mouseOver {
}
#u27624.mouseOver {
}
#u27624_img.selected {
}
#u27624.selected {
}
#u27625 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u27626 {
  position:absolute;
  left:171px;
  top:210px;
  width:202px;
  height:75px;
  visibility:hidden;
}
#u27626_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:208px;
  height:81px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u27627 {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:80px;
}
#u27628_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:35px;
}
#u27628 {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u27628_img.mouseOver {
}
#u27628.mouseOver {
}
#u27628_img.selected {
}
#u27628.selected {
}
#u27629 {
  position:absolute;
  left:2px;
  top:8px;
  width:198px;
  word-wrap:break-word;
}
#u27630_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:40px;
}
#u27630 {
  position:absolute;
  left:0px;
  top:35px;
  width:202px;
  height:40px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u27630_img.mouseOver {
}
#u27630.mouseOver {
}
#u27630_img.selected {
}
#u27630.selected {
}
#u27631 {
  position:absolute;
  left:2px;
  top:11px;
  width:198px;
  word-wrap:break-word;
}
#u27632 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27633_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
}
#u27633 {
  position:absolute;
  left:722px;
  top:312px;
  width:55px;
  height:22px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  color:#FFFFFF;
}
#u27633_img.mouseOver {
}
#u27633.mouseOver {
}
#u27634 {
  position:absolute;
  left:2px;
  top:3px;
  width:51px;
  word-wrap:break-word;
}
#u27635_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
}
#u27635 {
  position:absolute;
  left:722px;
  top:352px;
  width:55px;
  height:22px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  color:#FFFFFF;
}
#u27635_img.mouseOver {
}
#u27635.mouseOver {
}
#u27636 {
  position:absolute;
  left:2px;
  top:3px;
  width:51px;
  word-wrap:break-word;
}
#u27637_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
}
#u27637 {
  position:absolute;
  left:722px;
  top:392px;
  width:55px;
  height:22px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  color:#FFFFFF;
}
#u27637_img.mouseOver {
}
#u27637.mouseOver {
}
#u27638 {
  position:absolute;
  left:2px;
  top:3px;
  width:51px;
  word-wrap:break-word;
}
#u27639_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:22px;
}
#u27639 {
  position:absolute;
  left:220px;
  top:225px;
  width:71px;
  height:22px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  color:#FFFFFF;
}
#u27639_img.mouseOver {
}
#u27639.mouseOver {
}
#u27640 {
  position:absolute;
  left:2px;
  top:3px;
  width:67px;
  word-wrap:break-word;
}
#u27641_div {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
  text-align:left;
}
#u27641 {
  position:absolute;
  left:459px;
  top:156px;
  width:302px;
  height:20px;
  color:#FF0000;
  text-align:left;
}
#u27642 {
  position:absolute;
  left:2px;
  top:-6px;
  width:298px;
  word-wrap:break-word;
}
