body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u28154 {
  position:absolute;
  left:220px;
  top:265px;
  width:616px;
  height:161px;
}
#u28155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:36px;
}
#u28155 {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:36px;
  color:#FFFFFF;
  text-align:center;
}
#u28156 {
  position:absolute;
  left:2px;
  top:10px;
  width:142px;
  word-wrap:break-word;
}
#u28157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:36px;
}
#u28157 {
  position:absolute;
  left:146px;
  top:0px;
  width:163px;
  height:36px;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u28158 {
  position:absolute;
  left:2px;
  top:10px;
  width:159px;
  word-wrap:break-word;
}
#u28159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:36px;
}
#u28159 {
  position:absolute;
  left:309px;
  top:0px;
  width:142px;
  height:36px;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u28160 {
  position:absolute;
  left:2px;
  top:10px;
  width:138px;
  word-wrap:break-word;
}
#u28161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:36px;
}
#u28161 {
  position:absolute;
  left:451px;
  top:0px;
  width:160px;
  height:36px;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u28162 {
  position:absolute;
  left:2px;
  top:10px;
  width:156px;
  word-wrap:break-word;
}
#u28163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:40px;
}
#u28163 {
  position:absolute;
  left:0px;
  top:36px;
  width:146px;
  height:40px;
  font-size:14px;
  text-align:center;
}
#u28164 {
  position:absolute;
  left:2px;
  top:12px;
  width:142px;
  word-wrap:break-word;
}
#u28165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:40px;
}
#u28165 {
  position:absolute;
  left:146px;
  top:36px;
  width:163px;
  height:40px;
  font-size:14px;
}
#u28166 {
  position:absolute;
  left:2px;
  top:12px;
  width:159px;
  word-wrap:break-word;
}
#u28167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:40px;
}
#u28167 {
  position:absolute;
  left:309px;
  top:36px;
  width:142px;
  height:40px;
  font-size:14px;
}
#u28168 {
  position:absolute;
  left:2px;
  top:12px;
  width:138px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
}
#u28169 {
  position:absolute;
  left:451px;
  top:36px;
  width:160px;
  height:40px;
}
#u28170 {
  position:absolute;
  left:2px;
  top:12px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:40px;
}
#u28171 {
  position:absolute;
  left:0px;
  top:76px;
  width:146px;
  height:40px;
  font-size:14px;
  text-align:center;
}
#u28172 {
  position:absolute;
  left:2px;
  top:12px;
  width:142px;
  word-wrap:break-word;
}
#u28173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:40px;
}
#u28173 {
  position:absolute;
  left:146px;
  top:76px;
  width:163px;
  height:40px;
  color:#000000;
}
#u28174 {
  position:absolute;
  left:2px;
  top:12px;
  width:159px;
  word-wrap:break-word;
}
#u28175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:40px;
}
#u28175 {
  position:absolute;
  left:309px;
  top:76px;
  width:142px;
  height:40px;
  font-size:14px;
}
#u28176 {
  position:absolute;
  left:2px;
  top:12px;
  width:138px;
  word-wrap:break-word;
}
#u28177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
}
#u28177 {
  position:absolute;
  left:451px;
  top:76px;
  width:160px;
  height:40px;
}
#u28178 {
  position:absolute;
  left:2px;
  top:12px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:40px;
}
#u28179 {
  position:absolute;
  left:0px;
  top:116px;
  width:146px;
  height:40px;
  font-size:14px;
  text-align:center;
}
#u28180 {
  position:absolute;
  left:2px;
  top:12px;
  width:142px;
  word-wrap:break-word;
}
#u28181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:40px;
}
#u28181 {
  position:absolute;
  left:146px;
  top:116px;
  width:163px;
  height:40px;
  font-size:14px;
}
#u28182 {
  position:absolute;
  left:2px;
  top:12px;
  width:159px;
  word-wrap:break-word;
}
#u28183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:40px;
}
#u28183 {
  position:absolute;
  left:309px;
  top:116px;
  width:142px;
  height:40px;
  font-size:14px;
}
#u28184 {
  position:absolute;
  left:2px;
  top:12px;
  width:138px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
}
#u28185 {
  position:absolute;
  left:451px;
  top:116px;
  width:160px;
  height:40px;
}
#u28186 {
  position:absolute;
  left:2px;
  top:12px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28188_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:110px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28188 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:110px;
}
#u28189 {
  position:absolute;
  left:2px;
  top:47px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28190 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28191_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
}
#u28191 {
  position:absolute;
  left:1061px;
  top:30px;
  width:129px;
  height:17px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
}
#u28192 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u28193_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
}
#u28193 {
  position:absolute;
  left:1197px;
  top:30px;
  width:39px;
  height:17px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
}
#u28194 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u28195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:11px;
}
#u28195 {
  position:absolute;
  left:1188px;
  top:34px;
  width:1px;
  height:10px;
}
#u28196 {
  position:absolute;
  left:2px;
  top:-3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28197 {
  position:absolute;
  left:1025px;
  top:24px;
  width:26px;
  height:30px;
}
#u28197_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:32px;
  height:36px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u28198 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:35px;
}
#u28199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:30px;
}
#u28199 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:30px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
  text-align:center;
}
#u28199_img.selected {
}
#u28199.selected {
}
#u28200 {
  position:absolute;
  left:2px;
  top:6px;
  width:22px;
  word-wrap:break-word;
}
#u28201 {
  position:absolute;
  left:0px;
  top:30px;
  width:88px;
  height:139px;
  visibility:hidden;
}
#u28201_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:94px;
  height:145px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u28202 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:144px;
}
#u28203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:34px;
}
#u28203 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:34px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u28203_img.selected {
}
#u28203.selected {
}
#u28204 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u28205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u28205 {
  position:absolute;
  left:0px;
  top:34px;
  width:88px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u28205_img.selected {
}
#u28205.selected {
}
#u28206 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u28207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u28207 {
  position:absolute;
  left:0px;
  top:69px;
  width:88px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u28207_img.selected {
}
#u28207.selected {
}
#u28208 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u28209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u28209 {
  position:absolute;
  left:0px;
  top:104px;
  width:88px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u28209_img.selected {
}
#u28209.selected {
}
#u28210 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u28211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:25px;
}
#u28211 {
  position:absolute;
  left:431px;
  top:43px;
  width:284px;
  height:25px;
  font-family:'微軟正黑體 Bold', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u28212 {
  position:absolute;
  left:2px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
#u28213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:91px;
}
#u28213 {
  position:absolute;
  left:10px;
  top:10px;
  width:120px;
  height:91px;
}
#u28214 {
  position:absolute;
  left:2px;
  top:38px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28215_div {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:879px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28215 {
  position:absolute;
  left:0px;
  top:109px;
  width:191px;
  height:879px;
}
#u28216 {
  position:absolute;
  left:2px;
  top:432px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28218_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:90px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28218 {
  position:absolute;
  left:0px;
  top:976px;
  width:1280px;
  height:90px;
}
#u28219 {
  position:absolute;
  left:2px;
  top:37px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:38px;
}
#u28220 {
  position:absolute;
  left:1092px;
  top:1022px;
  width:180px;
  height:38px;
  font-size:16px;
  color:#FF0000;
}
#u28221 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u28222_div {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Medium', 'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
}
#u28222 {
  position:absolute;
  left:220px;
  top:150px;
  width:210px;
  height:38px;
  font-family:'STHeitiTC-Medium', 'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
}
#u28223 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  white-space:nowrap;
}
#u28225 {
  position:absolute;
  left:11px;
  top:130px;
  width:171px;
  height:455px;
}
#u28225_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:461px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u28226 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:460px;
}
#u28227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:32px;
}
#u28227 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:32px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u28227_img.mouseOver {
}
#u28227.mouseOver {
}
#u28227_img.selected {
}
#u28227.selected {
}
#u28228 {
  position:absolute;
  left:2px;
  top:7px;
  width:167px;
  word-wrap:break-word;
}
#u28229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:38px;
}
#u28229 {
  position:absolute;
  left:0px;
  top:32px;
  width:171px;
  height:38px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u28229_img.mouseOver {
}
#u28229.mouseOver {
}
#u28229_img.selected {
}
#u28229.selected {
}
#u28230 {
  position:absolute;
  left:2px;
  top:10px;
  width:167px;
  word-wrap:break-word;
}
#u28231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u28231 {
  position:absolute;
  left:0px;
  top:70px;
  width:171px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u28231_img.mouseOver {
}
#u28231.mouseOver {
}
#u28231_img.selected {
}
#u28231.selected {
}
#u28232 {
  position:absolute;
  left:2px;
  top:9px;
  width:167px;
  word-wrap:break-word;
}
#u28233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u28233 {
  position:absolute;
  left:0px;
  top:105px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u28233_img.mouseOver {
}
#u28233.mouseOver {
}
#u28233_img.selected {
}
#u28233.selected {
}
#u28234 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u28235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u28235 {
  position:absolute;
  left:0px;
  top:140px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u28235_img.mouseOver {
}
#u28235.mouseOver {
}
#u28235_img.selected {
}
#u28235.selected {
}
#u28236 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u28237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u28237 {
  position:absolute;
  left:0px;
  top:175px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u28237_img.mouseOver {
}
#u28237.mouseOver {
}
#u28237_img.selected {
}
#u28237.selected {
}
#u28238 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u28239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u28239 {
  position:absolute;
  left:0px;
  top:210px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u28239_img.mouseOver {
}
#u28239.mouseOver {
}
#u28239_img.selected {
}
#u28239.selected {
}
#u28240 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u28241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u28241 {
  position:absolute;
  left:0px;
  top:245px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u28241_img.mouseOver {
}
#u28241.mouseOver {
}
#u28241_img.selected {
}
#u28241.selected {
}
#u28242 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u28243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u28243 {
  position:absolute;
  left:0px;
  top:280px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u28243_img.mouseOver {
}
#u28243.mouseOver {
}
#u28243_img.selected {
}
#u28243.selected {
}
#u28244 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u28245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u28245 {
  position:absolute;
  left:0px;
  top:315px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u28245_img.mouseOver {
}
#u28245.mouseOver {
}
#u28245_img.selected {
}
#u28245.selected {
}
#u28246 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u28247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u28247 {
  position:absolute;
  left:0px;
  top:350px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u28247_img.mouseOver {
}
#u28247.mouseOver {
}
#u28247_img.selected {
}
#u28247.selected {
}
#u28248 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u28249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u28249 {
  position:absolute;
  left:0px;
  top:385px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u28249_img.mouseOver {
}
#u28249.mouseOver {
}
#u28249_img.selected {
}
#u28249.selected {
}
#u28250 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u28251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u28251 {
  position:absolute;
  left:0px;
  top:420px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u28251_img.mouseOver {
}
#u28251.mouseOver {
}
#u28251_img.selected {
}
#u28251.selected {
}
#u28252 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u28253 {
  position:absolute;
  left:171px;
  top:315px;
  width:171px;
  height:70px;
  visibility:hidden;
}
#u28253_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:76px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u28254 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:75px;
}
#u28255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u28255 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u28255_img.mouseOver {
}
#u28255.mouseOver {
}
#u28255_img.selected {
}
#u28255.selected {
}
#u28256 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u28257_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u28257 {
  position:absolute;
  left:0px;
  top:35px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u28257_img.mouseOver {
}
#u28257.mouseOver {
}
#u28257_img.selected {
}
#u28257.selected {
}
#u28258 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u28259 {
  position:absolute;
  left:171px;
  top:105px;
  width:202px;
  height:148px;
  visibility:hidden;
}
#u28259_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:208px;
  height:154px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u28260 {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:153px;
}
#u28261_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:36px;
}
#u28261 {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:36px;
  font-size:15px;
  color:#000000;
  text-align:center;
}
#u28261_img.mouseOver {
}
#u28261.mouseOver {
}
#u28261_img.selected {
}
#u28261.selected {
}
#u28262 {
  position:absolute;
  left:2px;
  top:10px;
  width:198px;
  word-wrap:break-word;
}
#u28263_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:36px;
}
#u28263 {
  position:absolute;
  left:0px;
  top:36px;
  width:202px;
  height:36px;
  font-size:15px;
  color:#000000;
  text-align:center;
}
#u28263_img.mouseOver {
}
#u28263.mouseOver {
}
#u28263_img.selected {
}
#u28263.selected {
}
#u28264 {
  position:absolute;
  left:2px;
  top:10px;
  width:198px;
  word-wrap:break-word;
}
#u28265_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:38px;
}
#u28265 {
  position:absolute;
  left:0px;
  top:72px;
  width:202px;
  height:38px;
  font-size:15px;
  color:#000000;
  text-align:center;
}
#u28265_img.mouseOver {
}
#u28265.mouseOver {
}
#u28265_img.selected {
}
#u28265.selected {
}
#u28266 {
  position:absolute;
  left:2px;
  top:10px;
  width:198px;
  word-wrap:break-word;
}
#u28267_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:38px;
}
#u28267 {
  position:absolute;
  left:0px;
  top:110px;
  width:202px;
  height:38px;
  font-size:15px;
  color:#000000;
  text-align:center;
}
#u28267_img.mouseOver {
}
#u28267.mouseOver {
}
#u28267_img.selected {
}
#u28267.selected {
}
#u28268 {
  position:absolute;
  left:2px;
  top:10px;
  width:198px;
  word-wrap:break-word;
}
#u28269 {
  position:absolute;
  left:171px;
  top:32px;
  width:150px;
  height:175px;
  visibility:hidden;
}
#u28269_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:156px;
  height:181px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u28270 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:180px;
}
#u28271_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u28271 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u28271_img.mouseOver {
}
#u28271.mouseOver {
}
#u28271_img.selected {
}
#u28271.selected {
}
#u28272 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u28273_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u28273 {
  position:absolute;
  left:0px;
  top:35px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u28273_img.mouseOver {
}
#u28273.mouseOver {
}
#u28273_img.selected {
}
#u28273.selected {
}
#u28274 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u28275_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u28275 {
  position:absolute;
  left:0px;
  top:70px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u28275_img.mouseOver {
}
#u28275.mouseOver {
}
#u28275_img.selected {
}
#u28275.selected {
}
#u28276 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u28277_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u28277 {
  position:absolute;
  left:0px;
  top:105px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u28277_img.mouseOver {
}
#u28277.mouseOver {
}
#u28277_img.selected {
}
#u28277.selected {
}
#u28278 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u28279_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u28279 {
  position:absolute;
  left:0px;
  top:140px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u28279_img.mouseOver {
}
#u28279.mouseOver {
}
#u28279_img.selected {
}
#u28279.selected {
}
#u28280 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u28281 {
  position:absolute;
  left:171px;
  top:70px;
  width:171px;
  height:105px;
  visibility:hidden;
}
#u28281_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:111px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u28282 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:110px;
}
#u28283_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u28283 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u28283_img.mouseOver {
}
#u28283.mouseOver {
}
#u28283_img.selected {
}
#u28283.selected {
}
#u28284 {
  position:absolute;
  left:2px;
  top:9px;
  width:167px;
  word-wrap:break-word;
}
#u28285_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u28285 {
  position:absolute;
  left:0px;
  top:35px;
  width:171px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u28285_img.mouseOver {
}
#u28285.mouseOver {
}
#u28285_img.selected {
}
#u28285.selected {
}
#u28286 {
  position:absolute;
  left:2px;
  top:9px;
  width:167px;
  word-wrap:break-word;
}
#u28287_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u28287 {
  position:absolute;
  left:0px;
  top:70px;
  width:171px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u28287_img.mouseOver {
}
#u28287.mouseOver {
}
#u28287_img.selected {
}
#u28287.selected {
}
#u28288 {
  position:absolute;
  left:2px;
  top:9px;
  width:167px;
  word-wrap:break-word;
}
#u28289 {
  position:absolute;
  left:171px;
  top:350px;
  width:171px;
  height:70px;
  visibility:hidden;
}
#u28289_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:76px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u28290 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:75px;
}
#u28291_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u28291 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u28291_img.mouseOver {
}
#u28291.mouseOver {
}
#u28291_img.selected {
}
#u28291.selected {
}
#u28292 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u28293_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u28293 {
  position:absolute;
  left:0px;
  top:35px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u28293_img.mouseOver {
}
#u28293.mouseOver {
}
#u28293_img.selected {
}
#u28293.selected {
}
#u28294 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u28295 {
  position:absolute;
  left:171px;
  top:385px;
  width:169px;
  height:455px;
  visibility:hidden;
}
#u28295_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:175px;
  height:461px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u28296 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:460px;
}
#u28297_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u28297 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u28297_img.mouseOver {
}
#u28297.mouseOver {
}
#u28297_img.selected {
}
#u28297.selected {
}
#u28298 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u28299_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u28299 {
  position:absolute;
  left:0px;
  top:35px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u28299_img.mouseOver {
}
#u28299.mouseOver {
}
#u28299_img.selected {
}
#u28299.selected {
}
#u28300 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u28301_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u28301 {
  position:absolute;
  left:0px;
  top:70px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u28301_img.mouseOver {
}
#u28301.mouseOver {
}
#u28301_img.selected {
}
#u28301.selected {
}
#u28302 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u28303_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u28303 {
  position:absolute;
  left:0px;
  top:105px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u28303_img.mouseOver {
}
#u28303.mouseOver {
}
#u28303_img.selected {
}
#u28303.selected {
}
#u28304 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u28305_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u28305 {
  position:absolute;
  left:0px;
  top:140px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u28305_img.mouseOver {
}
#u28305.mouseOver {
}
#u28305_img.selected {
}
#u28305.selected {
}
#u28306 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u28307_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u28307 {
  position:absolute;
  left:0px;
  top:175px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u28307_img.mouseOver {
}
#u28307.mouseOver {
}
#u28307_img.selected {
}
#u28307.selected {
}
#u28308 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u28309_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u28309 {
  position:absolute;
  left:0px;
  top:210px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u28309_img.mouseOver {
}
#u28309.mouseOver {
}
#u28309_img.selected {
}
#u28309.selected {
}
#u28310 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u28311_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u28311 {
  position:absolute;
  left:0px;
  top:245px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u28311_img.mouseOver {
}
#u28311.mouseOver {
}
#u28311_img.selected {
}
#u28311.selected {
}
#u28312 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u28313_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u28313 {
  position:absolute;
  left:0px;
  top:280px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u28313_img.mouseOver {
}
#u28313.mouseOver {
}
#u28313_img.selected {
}
#u28313.selected {
}
#u28314 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u28315_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u28315 {
  position:absolute;
  left:0px;
  top:315px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u28315_img.mouseOver {
}
#u28315.mouseOver {
}
#u28315_img.selected {
}
#u28315.selected {
}
#u28316 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u28317_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u28317 {
  position:absolute;
  left:0px;
  top:350px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u28317_img.mouseOver {
}
#u28317.mouseOver {
}
#u28317_img.selected {
}
#u28317.selected {
}
#u28318 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u28319_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u28319 {
  position:absolute;
  left:0px;
  top:385px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u28319_img.mouseOver {
}
#u28319.mouseOver {
}
#u28319_img.selected {
}
#u28319.selected {
}
#u28320 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u28321_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u28321 {
  position:absolute;
  left:0px;
  top:420px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u28321_img.mouseOver {
}
#u28321.mouseOver {
}
#u28321_img.selected {
}
#u28321.selected {
}
#u28322 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u28323 {
  position:absolute;
  left:171px;
  top:175px;
  width:179px;
  height:285px;
  visibility:hidden;
}
#u28323_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:185px;
  height:291px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u28324 {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:290px;
}
#u28325_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:35px;
}
#u28325 {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u28325_img.mouseOver {
}
#u28325.mouseOver {
}
#u28325_img.selected {
}
#u28325.selected {
}
#u28326 {
  position:absolute;
  left:2px;
  top:8px;
  width:175px;
  word-wrap:break-word;
}
#u28327_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:35px;
}
#u28327 {
  position:absolute;
  left:0px;
  top:35px;
  width:179px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u28327_img.mouseOver {
}
#u28327.mouseOver {
}
#u28327_img.selected {
}
#u28327.selected {
}
#u28328 {
  position:absolute;
  left:2px;
  top:8px;
  width:175px;
  word-wrap:break-word;
}
#u28329_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:35px;
}
#u28329 {
  position:absolute;
  left:0px;
  top:70px;
  width:179px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u28329_img.mouseOver {
}
#u28329.mouseOver {
}
#u28329_img.selected {
}
#u28329.selected {
}
#u28330 {
  position:absolute;
  left:2px;
  top:8px;
  width:175px;
  word-wrap:break-word;
}
#u28331_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:35px;
}
#u28331 {
  position:absolute;
  left:0px;
  top:105px;
  width:179px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u28331_img.mouseOver {
}
#u28331.mouseOver {
}
#u28331_img.selected {
}
#u28331.selected {
}
#u28332 {
  position:absolute;
  left:2px;
  top:8px;
  width:175px;
  word-wrap:break-word;
}
#u28333_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:35px;
}
#u28333 {
  position:absolute;
  left:0px;
  top:140px;
  width:179px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u28333_img.mouseOver {
}
#u28333.mouseOver {
}
#u28333_img.selected {
}
#u28333.selected {
}
#u28334 {
  position:absolute;
  left:2px;
  top:8px;
  width:175px;
  word-wrap:break-word;
}
#u28335_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:35px;
}
#u28335 {
  position:absolute;
  left:0px;
  top:175px;
  width:179px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u28335_img.mouseOver {
}
#u28335.mouseOver {
}
#u28335_img.selected {
}
#u28335.selected {
}
#u28336 {
  position:absolute;
  left:2px;
  top:8px;
  width:175px;
  word-wrap:break-word;
}
#u28337_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:35px;
}
#u28337 {
  position:absolute;
  left:0px;
  top:210px;
  width:179px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u28337_img.mouseOver {
}
#u28337.mouseOver {
}
#u28337_img.selected {
}
#u28337.selected {
}
#u28338 {
  position:absolute;
  left:2px;
  top:8px;
  width:175px;
  word-wrap:break-word;
}
#u28339_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:40px;
}
#u28339 {
  position:absolute;
  left:0px;
  top:245px;
  width:179px;
  height:40px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u28339_img.mouseOver {
}
#u28339.mouseOver {
}
#u28339_img.selected {
}
#u28339.selected {
}
#u28340 {
  position:absolute;
  left:2px;
  top:11px;
  width:175px;
  word-wrap:break-word;
}
#u28341 {
  position:absolute;
  left:171px;
  top:140px;
  width:171px;
  height:105px;
  visibility:hidden;
}
#u28341_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:111px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u28342 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:110px;
}
#u28343_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u28343 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u28343_img.mouseOver {
}
#u28343.mouseOver {
}
#u28343_img.selected {
}
#u28343.selected {
}
#u28344 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u28345_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u28345 {
  position:absolute;
  left:0px;
  top:35px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u28345_img.mouseOver {
}
#u28345.mouseOver {
}
#u28345_img.selected {
}
#u28345.selected {
}
#u28346 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u28347_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u28347 {
  position:absolute;
  left:0px;
  top:70px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u28347_img.mouseOver {
}
#u28347.mouseOver {
}
#u28347_img.selected {
}
#u28347.selected {
}
#u28348 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u28349 {
  position:absolute;
  left:171px;
  top:210px;
  width:202px;
  height:75px;
  visibility:hidden;
}
#u28349_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:208px;
  height:81px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u28350 {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:80px;
}
#u28351_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:35px;
}
#u28351 {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u28351_img.mouseOver {
}
#u28351.mouseOver {
}
#u28351_img.selected {
}
#u28351.selected {
}
#u28352 {
  position:absolute;
  left:2px;
  top:8px;
  width:198px;
  word-wrap:break-word;
}
#u28353_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:40px;
}
#u28353 {
  position:absolute;
  left:0px;
  top:35px;
  width:202px;
  height:40px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u28353_img.mouseOver {
}
#u28353.mouseOver {
}
#u28353_img.selected {
}
#u28353.selected {
}
#u28354 {
  position:absolute;
  left:2px;
  top:11px;
  width:198px;
  word-wrap:break-word;
}
#u28355 {
  position:absolute;
  left:171px;
  top:280px;
  width:171px;
  height:70px;
  visibility:hidden;
}
#u28355_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:76px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u28356 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:75px;
}
#u28357_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u28357 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u28357_img.mouseOver {
}
#u28357.mouseOver {
}
#u28357_img.selected {
}
#u28357.selected {
}
#u28358 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u28359_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u28359 {
  position:absolute;
  left:0px;
  top:35px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u28359_img.mouseOver {
}
#u28359.mouseOver {
}
#u28359_img.selected {
}
#u28359.selected {
}
#u28360 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u28361 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28362_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
}
#u28362 {
  position:absolute;
  left:722px;
  top:312px;
  width:55px;
  height:22px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  color:#FFFFFF;
}
#u28362_img.mouseOver {
}
#u28362.mouseOver {
}
#u28363 {
  position:absolute;
  left:2px;
  top:3px;
  width:51px;
  word-wrap:break-word;
}
#u28364_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
}
#u28364 {
  position:absolute;
  left:722px;
  top:352px;
  width:55px;
  height:22px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  color:#FFFFFF;
}
#u28364_img.mouseOver {
}
#u28364.mouseOver {
}
#u28365 {
  position:absolute;
  left:2px;
  top:3px;
  width:51px;
  word-wrap:break-word;
}
#u28366_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
}
#u28366 {
  position:absolute;
  left:722px;
  top:392px;
  width:55px;
  height:22px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  color:#FFFFFF;
}
#u28366_img.mouseOver {
}
#u28366.mouseOver {
}
#u28367 {
  position:absolute;
  left:2px;
  top:3px;
  width:51px;
  word-wrap:break-word;
}
#u28368_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:22px;
}
#u28368 {
  position:absolute;
  left:220px;
  top:225px;
  width:71px;
  height:22px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  color:#FFFFFF;
}
#u28368_img.mouseOver {
}
#u28368.mouseOver {
}
#u28369 {
  position:absolute;
  left:2px;
  top:3px;
  width:67px;
  word-wrap:break-word;
}
#u28370_div {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
  text-align:left;
}
#u28370 {
  position:absolute;
  left:459px;
  top:156px;
  width:302px;
  height:20px;
  color:#FF0000;
  text-align:left;
}
#u28371 {
  position:absolute;
  left:2px;
  top:-6px;
  width:298px;
  word-wrap:break-word;
}
