body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u23250_div {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:761px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23250 {
  position:absolute;
  left:0px;
  top:109px;
  width:191px;
  height:761px;
}
#u23251 {
  position:absolute;
  left:2px;
  top:372px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23253_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:110px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23253 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:110px;
}
#u23254 {
  position:absolute;
  left:2px;
  top:47px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23255 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23256_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
}
#u23256 {
  position:absolute;
  left:1061px;
  top:30px;
  width:129px;
  height:17px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
}
#u23257 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u23258_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
}
#u23258 {
  position:absolute;
  left:1197px;
  top:30px;
  width:39px;
  height:17px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
}
#u23259 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u23260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:11px;
}
#u23260 {
  position:absolute;
  left:1188px;
  top:34px;
  width:1px;
  height:10px;
}
#u23261 {
  position:absolute;
  left:2px;
  top:-3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23262_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Rounded MT Bold';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u23262 {
  position:absolute;
  left:20px;
  top:30px;
  width:144px;
  height:55px;
  font-family:'Arial Rounded MT Bold';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u23263 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u23264 {
  position:absolute;
  left:1025px;
  top:24px;
  width:26px;
  height:30px;
}
#u23264_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:32px;
  height:36px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u23265 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:35px;
}
#u23266_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:30px;
}
#u23266 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:30px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
  text-align:center;
}
#u23266_img.selected {
}
#u23266.selected {
}
#u23267 {
  position:absolute;
  left:2px;
  top:6px;
  width:22px;
  word-wrap:break-word;
}
#u23268 {
  position:absolute;
  left:0px;
  top:30px;
  width:88px;
  height:139px;
  visibility:hidden;
}
#u23268_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:94px;
  height:145px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u23269 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:144px;
}
#u23270_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:34px;
}
#u23270 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:34px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u23270_img.selected {
}
#u23270.selected {
}
#u23271 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u23272_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u23272 {
  position:absolute;
  left:0px;
  top:34px;
  width:88px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u23272_img.selected {
}
#u23272.selected {
}
#u23273 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u23274_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u23274 {
  position:absolute;
  left:0px;
  top:69px;
  width:88px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u23274_img.selected {
}
#u23274.selected {
}
#u23275 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u23276_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u23276 {
  position:absolute;
  left:0px;
  top:104px;
  width:88px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u23276_img.selected {
}
#u23276.selected {
}
#u23277 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u23278_img {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:25px;
}
#u23278 {
  position:absolute;
  left:396px;
  top:34px;
  width:284px;
  height:25px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
  text-align:left;
}
#u23279 {
  position:absolute;
  left:2px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
#u23281 {
  position:absolute;
  left:11px;
  top:130px;
  width:171px;
  height:385px;
}
#u23281_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:391px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u23282 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:390px;
}
#u23283_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:32px;
}
#u23283 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:32px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u23283_img.mouseOver {
}
#u23283.mouseOver {
}
#u23283_img.selected {
}
#u23283.selected {
}
#u23284 {
  position:absolute;
  left:2px;
  top:7px;
  width:167px;
  word-wrap:break-word;
}
#u23285_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:38px;
}
#u23285 {
  position:absolute;
  left:0px;
  top:32px;
  width:171px;
  height:38px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u23285_img.mouseOver {
}
#u23285.mouseOver {
}
#u23285_img.selected {
}
#u23285.selected {
}
#u23286 {
  position:absolute;
  left:2px;
  top:10px;
  width:167px;
  word-wrap:break-word;
}
#u23287_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u23287 {
  position:absolute;
  left:0px;
  top:70px;
  width:171px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u23287_img.mouseOver {
}
#u23287.mouseOver {
}
#u23287_img.selected {
}
#u23287.selected {
}
#u23288 {
  position:absolute;
  left:2px;
  top:9px;
  width:167px;
  word-wrap:break-word;
}
#u23289_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u23289 {
  position:absolute;
  left:0px;
  top:105px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u23289_img.mouseOver {
}
#u23289.mouseOver {
}
#u23289_img.selected {
}
#u23289.selected {
}
#u23290 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u23291_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u23291 {
  position:absolute;
  left:0px;
  top:140px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u23291_img.mouseOver {
}
#u23291.mouseOver {
}
#u23291_img.selected {
}
#u23291.selected {
}
#u23292 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u23293_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u23293 {
  position:absolute;
  left:0px;
  top:175px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u23293_img.mouseOver {
}
#u23293.mouseOver {
}
#u23293_img.selected {
}
#u23293.selected {
}
#u23294 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u23295_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u23295 {
  position:absolute;
  left:0px;
  top:210px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u23295_img.mouseOver {
}
#u23295.mouseOver {
}
#u23295_img.selected {
}
#u23295.selected {
}
#u23296 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u23297_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u23297 {
  position:absolute;
  left:0px;
  top:245px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u23297_img.mouseOver {
}
#u23297.mouseOver {
}
#u23297_img.selected {
}
#u23297.selected {
}
#u23298 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u23299_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u23299 {
  position:absolute;
  left:0px;
  top:280px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u23299_img.mouseOver {
}
#u23299.mouseOver {
}
#u23299_img.selected {
}
#u23299.selected {
}
#u23300 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u23301_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u23301 {
  position:absolute;
  left:0px;
  top:315px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u23301_img.mouseOver {
}
#u23301.mouseOver {
}
#u23301_img.selected {
}
#u23301.selected {
}
#u23302 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u23303_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u23303 {
  position:absolute;
  left:0px;
  top:350px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u23303_img.mouseOver {
}
#u23303.mouseOver {
}
#u23303_img.selected {
}
#u23303.selected {
}
#u23304 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u23305 {
  position:absolute;
  left:171px;
  top:245px;
  width:171px;
  height:35px;
  visibility:hidden;
}
#u23305_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:41px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u23306 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
}
#u23307_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u23307 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u23307_img.mouseOver {
}
#u23307.mouseOver {
}
#u23307_img.selected {
}
#u23307.selected {
}
#u23308 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u23309 {
  position:absolute;
  left:171px;
  top:105px;
  width:202px;
  height:76px;
  visibility:hidden;
}
#u23309_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:208px;
  height:82px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u23310 {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:81px;
}
#u23311_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:38px;
}
#u23311 {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:38px;
  font-size:15px;
  color:#000000;
  text-align:center;
}
#u23311_img.mouseOver {
}
#u23311.mouseOver {
}
#u23311_img.selected {
}
#u23311.selected {
}
#u23312 {
  position:absolute;
  left:2px;
  top:10px;
  width:198px;
  word-wrap:break-word;
}
#u23313_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:38px;
}
#u23313 {
  position:absolute;
  left:0px;
  top:38px;
  width:202px;
  height:38px;
  font-size:15px;
  color:#000000;
  text-align:center;
}
#u23313_img.mouseOver {
}
#u23313.mouseOver {
}
#u23313_img.selected {
}
#u23313.selected {
}
#u23314 {
  position:absolute;
  left:2px;
  top:10px;
  width:198px;
  word-wrap:break-word;
}
#u23315 {
  position:absolute;
  left:171px;
  top:32px;
  width:150px;
  height:175px;
  visibility:hidden;
}
#u23315_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:156px;
  height:181px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u23316 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:180px;
}
#u23317_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u23317 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u23317_img.mouseOver {
}
#u23317.mouseOver {
}
#u23317_img.selected {
}
#u23317.selected {
}
#u23318 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u23319_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u23319 {
  position:absolute;
  left:0px;
  top:35px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u23319_img.mouseOver {
}
#u23319.mouseOver {
}
#u23319_img.selected {
}
#u23319.selected {
}
#u23320 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u23321_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u23321 {
  position:absolute;
  left:0px;
  top:70px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u23321_img.mouseOver {
}
#u23321.mouseOver {
}
#u23321_img.selected {
}
#u23321.selected {
}
#u23322 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u23323_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u23323 {
  position:absolute;
  left:0px;
  top:105px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u23323_img.mouseOver {
}
#u23323.mouseOver {
}
#u23323_img.selected {
}
#u23323.selected {
}
#u23324 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u23325_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u23325 {
  position:absolute;
  left:0px;
  top:140px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u23325_img.mouseOver {
}
#u23325.mouseOver {
}
#u23325_img.selected {
}
#u23325.selected {
}
#u23326 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u23327 {
  position:absolute;
  left:171px;
  top:70px;
  width:171px;
  height:35px;
  visibility:hidden;
}
#u23327_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:41px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u23328 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
}
#u23329_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u23329 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u23329_img.mouseOver {
}
#u23329.mouseOver {
}
#u23329_img.selected {
}
#u23329.selected {
}
#u23330 {
  position:absolute;
  left:2px;
  top:9px;
  width:167px;
  word-wrap:break-word;
}
#u23331 {
  position:absolute;
  left:171px;
  top:280px;
  width:171px;
  height:110px;
  visibility:hidden;
}
#u23331_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:116px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u23332 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:115px;
}
#u23333_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u23333 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u23333_img.mouseOver {
}
#u23333.mouseOver {
}
#u23333_img.selected {
}
#u23333.selected {
}
#u23334 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u23335_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u23335 {
  position:absolute;
  left:0px;
  top:35px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u23335_img.mouseOver {
}
#u23335.mouseOver {
}
#u23335_img.selected {
}
#u23335.selected {
}
#u23336 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u23337_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:40px;
}
#u23337 {
  position:absolute;
  left:0px;
  top:70px;
  width:171px;
  height:40px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u23337_img.mouseOver {
}
#u23337.mouseOver {
}
#u23337_img.selected {
}
#u23337.selected {
}
#u23338 {
  position:absolute;
  left:2px;
  top:11px;
  width:167px;
  word-wrap:break-word;
}
#u23339 {
  position:absolute;
  left:171px;
  top:315px;
  width:169px;
  height:140px;
  visibility:hidden;
}
#u23339_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:175px;
  height:146px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u23340 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:145px;
}
#u23341_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u23341 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u23341_img.mouseOver {
}
#u23341.mouseOver {
}
#u23341_img.selected {
}
#u23341.selected {
}
#u23342 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u23343_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u23343 {
  position:absolute;
  left:0px;
  top:35px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u23343_img.mouseOver {
}
#u23343.mouseOver {
}
#u23343_img.selected {
}
#u23343.selected {
}
#u23344 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u23345_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u23345 {
  position:absolute;
  left:0px;
  top:70px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u23345_img.mouseOver {
}
#u23345.mouseOver {
}
#u23345_img.selected {
}
#u23345.selected {
}
#u23346 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u23347_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u23347 {
  position:absolute;
  left:0px;
  top:105px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u23347_img.mouseOver {
}
#u23347.mouseOver {
}
#u23347_img.selected {
}
#u23347.selected {
}
#u23348 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u23349 {
  position:absolute;
  left:171px;
  top:350px;
  width:171px;
  height:35px;
  visibility:hidden;
}
#u23349_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:41px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u23350 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
}
#u23351_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u23351 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u23351_img.mouseOver {
}
#u23351.mouseOver {
}
#u23351_img.selected {
}
#u23351.selected {
}
#u23352 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u23353 {
  position:absolute;
  left:171px;
  top:210px;
  width:171px;
  height:35px;
  visibility:hidden;
}
#u23353_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:41px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u23354 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
}
#u23355_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u23355 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u23355_img.mouseOver {
}
#u23355.mouseOver {
}
#u23355_img.selected {
}
#u23355.selected {
}
#u23356 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u23357 {
  position:absolute;
  left:171px;
  top:175px;
  width:171px;
  height:105px;
  visibility:hidden;
}
#u23357_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:111px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u23358 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:110px;
}
#u23359_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u23359 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u23359_img.mouseOver {
}
#u23359.mouseOver {
}
#u23359_img.selected {
}
#u23359.selected {
}
#u23360 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u23361_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u23361 {
  position:absolute;
  left:0px;
  top:35px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u23361_img.mouseOver {
}
#u23361.mouseOver {
}
#u23361_img.selected {
}
#u23361.selected {
}
#u23362 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u23363_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u23363 {
  position:absolute;
  left:0px;
  top:70px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u23363_img.mouseOver {
}
#u23363.mouseOver {
}
#u23363_img.selected {
}
#u23363.selected {
}
#u23364 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u23365 {
  position:absolute;
  left:171px;
  top:140px;
  width:171px;
  height:70px;
  visibility:hidden;
}
#u23365_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:76px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u23366 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:75px;
}
#u23367_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u23367 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u23367_img.mouseOver {
}
#u23367.mouseOver {
}
#u23367_img.selected {
}
#u23367.selected {
}
#u23368 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u23369_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u23369 {
  position:absolute;
  left:0px;
  top:35px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u23369_img.mouseOver {
}
#u23369.mouseOver {
}
#u23369_img.selected {
}
#u23369.selected {
}
#u23370 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u23372_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:90px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23372 {
  position:absolute;
  left:0px;
  top:850px;
  width:1280px;
  height:90px;
}
#u23373 {
  position:absolute;
  left:2px;
  top:37px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23374_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u23374 {
  position:absolute;
  left:35px;
  top:877px;
  width:94px;
  height:37px;
  color:#FFFFFF;
}
#u23375 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u23376_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:38px;
}
#u23376 {
  position:absolute;
  left:1102px;
  top:896px;
  width:170px;
  height:38px;
  font-size:16px;
  color:#FF0000;
}
#u23377 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u23378_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Medium', 'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
}
#u23378 {
  position:absolute;
  left:220px;
  top:150px;
  width:225px;
  height:38px;
  font-family:'STHeitiTC-Medium', 'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
}
#u23379 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u23380_img {
  position:absolute;
  left:0px;
  top:0px;
  width:990px;
  height:2px;
}
#u23380 {
  position:absolute;
  left:220px;
  top:358px;
  width:989px;
  height:1px;
}
#u23381 {
  position:absolute;
  left:2px;
  top:-8px;
  width:985px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23382 {
  position:absolute;
  left:220px;
  top:407px;
  width:667px;
  height:81px;
}
#u23383_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:36px;
}
#u23383 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:36px;
  color:#FFFFFF;
  text-align:center;
}
#u23384 {
  position:absolute;
  left:2px;
  top:10px;
  width:222px;
  word-wrap:break-word;
}
#u23385_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:36px;
}
#u23385 {
  position:absolute;
  left:226px;
  top:0px;
  width:138px;
  height:36px;
  color:#FFFFFF;
  text-align:center;
}
#u23386 {
  position:absolute;
  left:2px;
  top:10px;
  width:134px;
  word-wrap:break-word;
}
#u23387_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:36px;
}
#u23387 {
  position:absolute;
  left:364px;
  top:0px;
  width:133px;
  height:36px;
  color:#FFFFFF;
  text-align:center;
}
#u23388 {
  position:absolute;
  left:2px;
  top:10px;
  width:129px;
  word-wrap:break-word;
}
#u23389_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:36px;
}
#u23389 {
  position:absolute;
  left:497px;
  top:0px;
  width:165px;
  height:36px;
  color:#FFFFFF;
  text-align:center;
}
#u23390 {
  position:absolute;
  left:2px;
  top:10px;
  width:161px;
  word-wrap:break-word;
}
#u23391_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:40px;
}
#u23391 {
  position:absolute;
  left:0px;
  top:36px;
  width:226px;
  height:40px;
  text-align:center;
}
#u23392 {
  position:absolute;
  left:2px;
  top:12px;
  width:222px;
  word-wrap:break-word;
}
#u23393_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:40px;
}
#u23393 {
  position:absolute;
  left:226px;
  top:36px;
  width:138px;
  height:40px;
  font-size:15px;
  color:#666666;
  text-align:center;
}
#u23394 {
  position:absolute;
  left:2px;
  top:12px;
  width:134px;
  word-wrap:break-word;
}
#u23395_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:40px;
}
#u23395 {
  position:absolute;
  left:364px;
  top:36px;
  width:133px;
  height:40px;
  font-size:15px;
  color:#666666;
  text-align:center;
}
#u23396 {
  position:absolute;
  left:2px;
  top:12px;
  width:129px;
  word-wrap:break-word;
}
#u23397_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:40px;
}
#u23397 {
  position:absolute;
  left:497px;
  top:36px;
  width:165px;
  height:40px;
  font-size:15px;
  color:#666666;
  text-align:center;
}
#u23398 {
  position:absolute;
  left:2px;
  top:12px;
  width:161px;
  word-wrap:break-word;
}
#u23399 {
  position:absolute;
  left:220px;
  top:200px;
  width:555px;
  height:45px;
}
#u23400_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:40px;
}
#u23400 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:40px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
}
#u23401 {
  position:absolute;
  left:10px;
  top:11px;
  width:129px;
  word-wrap:break-word;
}
#u23402_img {
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  height:40px;
}
#u23402 {
  position:absolute;
  left:141px;
  top:0px;
  width:409px;
  height:40px;
  font-size:15px;
  text-align:center;
}
#u23403 {
  position:absolute;
  left:10px;
  top:12px;
  width:397px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23404_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u23404 {
  position:absolute;
  left:670px;
  top:283px;
  width:100px;
  height:30px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u23404_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u23404.mouseOver {
}
#u23405 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u23406_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u23406 {
  position:absolute;
  left:566px;
  top:283px;
  width:88px;
  height:30px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u23406_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u23406.mouseOver {
}
#u23407 {
  position:absolute;
  left:2px;
  top:6px;
  width:84px;
  word-wrap:break-word;
}
#u23408 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23409 {
  position:absolute;
  left:374px;
  top:206px;
  width:162px;
  height:30px;
}
#u23409_input {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u23410 {
  position:absolute;
  left:560px;
  top:206px;
  width:198px;
  height:30px;
}
#u23410_input {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u23411_div {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u23411 {
  position:absolute;
  left:543px;
  top:214px;
  width:10px;
  height:19px;
  font-size:16px;
}
#u23412 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  white-space:nowrap;
}
#u23413_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
}
#u23413 {
  position:absolute;
  left:697px;
  top:323px;
  width:67px;
  height:16px;
  color:#FF0000;
  text-align:center;
}
#u23414 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u23415_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u23415 {
  position:absolute;
  left:440px;
  top:283px;
  width:110px;
  height:30px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u23415_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u23415.mouseOver {
}
#u23416 {
  position:absolute;
  left:2px;
  top:6px;
  width:106px;
  word-wrap:break-word;
}
