body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u44040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:761px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u44040 {
  position:absolute;
  left:0px;
  top:109px;
  width:191px;
  height:761px;
}
#u44041 {
  position:absolute;
  left:2px;
  top:372px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44043_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:110px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u44043 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:110px;
}
#u44044 {
  position:absolute;
  left:2px;
  top:47px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44045 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u44046_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
}
#u44046 {
  position:absolute;
  left:1061px;
  top:30px;
  width:129px;
  height:17px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
}
#u44047 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u44048_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
}
#u44048 {
  position:absolute;
  left:1197px;
  top:30px;
  width:39px;
  height:17px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
}
#u44049 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u44050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:11px;
}
#u44050 {
  position:absolute;
  left:1188px;
  top:34px;
  width:1px;
  height:10px;
}
#u44051 {
  position:absolute;
  left:2px;
  top:-3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44052_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Rounded MT Bold';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u44052 {
  position:absolute;
  left:20px;
  top:30px;
  width:144px;
  height:55px;
  font-family:'Arial Rounded MT Bold';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u44053 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u44054 {
  position:absolute;
  left:1025px;
  top:24px;
  width:26px;
  height:30px;
}
#u44054_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:32px;
  height:36px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u44055 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:35px;
}
#u44056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:30px;
}
#u44056 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:30px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
  text-align:center;
}
#u44056_img.selected {
}
#u44056.selected {
}
#u44057 {
  position:absolute;
  left:2px;
  top:6px;
  width:22px;
  word-wrap:break-word;
}
#u44058 {
  position:absolute;
  left:0px;
  top:30px;
  width:88px;
  height:139px;
  visibility:hidden;
}
#u44058_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:94px;
  height:145px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u44059 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:144px;
}
#u44060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:34px;
}
#u44060 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:34px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u44060_img.selected {
}
#u44060.selected {
}
#u44061 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u44062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u44062 {
  position:absolute;
  left:0px;
  top:34px;
  width:88px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u44062_img.selected {
}
#u44062.selected {
}
#u44063 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u44064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u44064 {
  position:absolute;
  left:0px;
  top:69px;
  width:88px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u44064_img.selected {
}
#u44064.selected {
}
#u44065 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u44066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u44066 {
  position:absolute;
  left:0px;
  top:104px;
  width:88px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u44066_img.selected {
}
#u44066.selected {
}
#u44067 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u44068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:25px;
}
#u44068 {
  position:absolute;
  left:396px;
  top:34px;
  width:284px;
  height:25px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
  text-align:left;
}
#u44069 {
  position:absolute;
  left:2px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
#u44071 {
  position:absolute;
  left:11px;
  top:130px;
  width:171px;
  height:385px;
}
#u44071_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:391px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u44072 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:390px;
}
#u44073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:32px;
}
#u44073 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:32px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u44073_img.mouseOver {
}
#u44073.mouseOver {
}
#u44073_img.selected {
}
#u44073.selected {
}
#u44074 {
  position:absolute;
  left:2px;
  top:7px;
  width:167px;
  word-wrap:break-word;
}
#u44075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:38px;
}
#u44075 {
  position:absolute;
  left:0px;
  top:32px;
  width:171px;
  height:38px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u44075_img.mouseOver {
}
#u44075.mouseOver {
}
#u44075_img.selected {
}
#u44075.selected {
}
#u44076 {
  position:absolute;
  left:2px;
  top:10px;
  width:167px;
  word-wrap:break-word;
}
#u44077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u44077 {
  position:absolute;
  left:0px;
  top:70px;
  width:171px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u44077_img.mouseOver {
}
#u44077.mouseOver {
}
#u44077_img.selected {
}
#u44077.selected {
}
#u44078 {
  position:absolute;
  left:2px;
  top:9px;
  width:167px;
  word-wrap:break-word;
}
#u44079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u44079 {
  position:absolute;
  left:0px;
  top:105px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u44079_img.mouseOver {
}
#u44079.mouseOver {
}
#u44079_img.selected {
}
#u44079.selected {
}
#u44080 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u44081_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u44081 {
  position:absolute;
  left:0px;
  top:140px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u44081_img.mouseOver {
}
#u44081.mouseOver {
}
#u44081_img.selected {
}
#u44081.selected {
}
#u44082 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u44083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u44083 {
  position:absolute;
  left:0px;
  top:175px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u44083_img.mouseOver {
}
#u44083.mouseOver {
}
#u44083_img.selected {
}
#u44083.selected {
}
#u44084 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u44085_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u44085 {
  position:absolute;
  left:0px;
  top:210px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u44085_img.mouseOver {
}
#u44085.mouseOver {
}
#u44085_img.selected {
}
#u44085.selected {
}
#u44086 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u44087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u44087 {
  position:absolute;
  left:0px;
  top:245px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u44087_img.mouseOver {
}
#u44087.mouseOver {
}
#u44087_img.selected {
}
#u44087.selected {
}
#u44088 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u44089_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u44089 {
  position:absolute;
  left:0px;
  top:280px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u44089_img.mouseOver {
}
#u44089.mouseOver {
}
#u44089_img.selected {
}
#u44089.selected {
}
#u44090 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u44091_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u44091 {
  position:absolute;
  left:0px;
  top:315px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u44091_img.mouseOver {
}
#u44091.mouseOver {
}
#u44091_img.selected {
}
#u44091.selected {
}
#u44092 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u44093_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u44093 {
  position:absolute;
  left:0px;
  top:350px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u44093_img.mouseOver {
}
#u44093.mouseOver {
}
#u44093_img.selected {
}
#u44093.selected {
}
#u44094 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u44095 {
  position:absolute;
  left:171px;
  top:245px;
  width:171px;
  height:70px;
  visibility:hidden;
}
#u44095_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:76px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u44096 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:75px;
}
#u44097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u44097 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u44097_img.mouseOver {
}
#u44097.mouseOver {
}
#u44097_img.selected {
}
#u44097.selected {
}
#u44098 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u44099_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u44099 {
  position:absolute;
  left:0px;
  top:35px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u44099_img.mouseOver {
}
#u44099.mouseOver {
}
#u44099_img.selected {
}
#u44099.selected {
}
#u44100 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u44101 {
  position:absolute;
  left:171px;
  top:105px;
  width:202px;
  height:74px;
  visibility:hidden;
}
#u44101_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:208px;
  height:80px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u44102 {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:79px;
}
#u44103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:36px;
}
#u44103 {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:36px;
  font-size:15px;
  color:#000000;
  text-align:center;
}
#u44103_img.mouseOver {
}
#u44103.mouseOver {
}
#u44103_img.selected {
}
#u44103.selected {
}
#u44104 {
  position:absolute;
  left:2px;
  top:10px;
  width:198px;
  word-wrap:break-word;
}
#u44105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:38px;
}
#u44105 {
  position:absolute;
  left:0px;
  top:36px;
  width:202px;
  height:38px;
  font-size:15px;
  color:#000000;
  text-align:center;
}
#u44105_img.mouseOver {
}
#u44105.mouseOver {
}
#u44105_img.selected {
}
#u44105.selected {
}
#u44106 {
  position:absolute;
  left:2px;
  top:10px;
  width:198px;
  word-wrap:break-word;
}
#u44107 {
  position:absolute;
  left:171px;
  top:32px;
  width:150px;
  height:175px;
  visibility:hidden;
}
#u44107_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:156px;
  height:181px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u44108 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:180px;
}
#u44109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u44109 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u44109_img.mouseOver {
}
#u44109.mouseOver {
}
#u44109_img.selected {
}
#u44109.selected {
}
#u44110 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u44111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u44111 {
  position:absolute;
  left:0px;
  top:35px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u44111_img.mouseOver {
}
#u44111.mouseOver {
}
#u44111_img.selected {
}
#u44111.selected {
}
#u44112 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u44113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u44113 {
  position:absolute;
  left:0px;
  top:70px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u44113_img.mouseOver {
}
#u44113.mouseOver {
}
#u44113_img.selected {
}
#u44113.selected {
}
#u44114 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u44115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u44115 {
  position:absolute;
  left:0px;
  top:105px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u44115_img.mouseOver {
}
#u44115.mouseOver {
}
#u44115_img.selected {
}
#u44115.selected {
}
#u44116 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u44117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u44117 {
  position:absolute;
  left:0px;
  top:140px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u44117_img.mouseOver {
}
#u44117.mouseOver {
}
#u44117_img.selected {
}
#u44117.selected {
}
#u44118 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u44119 {
  position:absolute;
  left:171px;
  top:70px;
  width:171px;
  height:35px;
  visibility:hidden;
}
#u44119_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:41px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u44120 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
}
#u44121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u44121 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u44121_img.mouseOver {
}
#u44121.mouseOver {
}
#u44121_img.selected {
}
#u44121.selected {
}
#u44122 {
  position:absolute;
  left:2px;
  top:9px;
  width:167px;
  word-wrap:break-word;
}
#u44123 {
  position:absolute;
  left:171px;
  top:280px;
  width:171px;
  height:110px;
  visibility:hidden;
}
#u44123_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:116px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u44124 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:115px;
}
#u44125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u44125 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u44125_img.mouseOver {
}
#u44125.mouseOver {
}
#u44125_img.selected {
}
#u44125.selected {
}
#u44126 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u44127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u44127 {
  position:absolute;
  left:0px;
  top:35px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u44127_img.mouseOver {
}
#u44127.mouseOver {
}
#u44127_img.selected {
}
#u44127.selected {
}
#u44128 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u44129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:40px;
}
#u44129 {
  position:absolute;
  left:0px;
  top:70px;
  width:171px;
  height:40px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u44129_img.mouseOver {
}
#u44129.mouseOver {
}
#u44129_img.selected {
}
#u44129.selected {
}
#u44130 {
  position:absolute;
  left:2px;
  top:11px;
  width:167px;
  word-wrap:break-word;
}
#u44131 {
  position:absolute;
  left:171px;
  top:315px;
  width:169px;
  height:175px;
  visibility:hidden;
}
#u44131_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:175px;
  height:181px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u44132 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:180px;
}
#u44133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u44133 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u44133_img.mouseOver {
}
#u44133.mouseOver {
}
#u44133_img.selected {
}
#u44133.selected {
}
#u44134 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u44135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u44135 {
  position:absolute;
  left:0px;
  top:35px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u44135_img.mouseOver {
}
#u44135.mouseOver {
}
#u44135_img.selected {
}
#u44135.selected {
}
#u44136 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u44137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u44137 {
  position:absolute;
  left:0px;
  top:70px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u44137_img.mouseOver {
}
#u44137.mouseOver {
}
#u44137_img.selected {
}
#u44137.selected {
}
#u44138 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u44139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u44139 {
  position:absolute;
  left:0px;
  top:105px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u44139_img.mouseOver {
}
#u44139.mouseOver {
}
#u44139_img.selected {
}
#u44139.selected {
}
#u44140 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u44141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u44141 {
  position:absolute;
  left:0px;
  top:140px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u44141_img.mouseOver {
}
#u44141.mouseOver {
}
#u44141_img.selected {
}
#u44141.selected {
}
#u44142 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u44143 {
  position:absolute;
  left:171px;
  top:350px;
  width:171px;
  height:35px;
  visibility:hidden;
}
#u44143_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:41px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u44144 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
}
#u44145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u44145 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u44145_img.mouseOver {
}
#u44145.mouseOver {
}
#u44145_img.selected {
}
#u44145.selected {
}
#u44146 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u44147 {
  position:absolute;
  left:171px;
  top:210px;
  width:171px;
  height:35px;
  visibility:hidden;
}
#u44147_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:41px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u44148 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
}
#u44149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u44149 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u44149_img.mouseOver {
}
#u44149.mouseOver {
}
#u44149_img.selected {
}
#u44149.selected {
}
#u44150 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u44151 {
  position:absolute;
  left:171px;
  top:175px;
  width:171px;
  height:70px;
  visibility:hidden;
}
#u44151_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:76px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u44152 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:75px;
}
#u44153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u44153 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u44153_img.mouseOver {
}
#u44153.mouseOver {
}
#u44153_img.selected {
}
#u44153.selected {
}
#u44154 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u44155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u44155 {
  position:absolute;
  left:0px;
  top:35px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u44155_img.mouseOver {
}
#u44155.mouseOver {
}
#u44155_img.selected {
}
#u44155.selected {
}
#u44156 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u44157 {
  position:absolute;
  left:171px;
  top:140px;
  width:171px;
  height:70px;
  visibility:hidden;
}
#u44157_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:76px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u44158 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:75px;
}
#u44159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u44159 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u44159_img.mouseOver {
}
#u44159.mouseOver {
}
#u44159_img.selected {
}
#u44159.selected {
}
#u44160 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u44161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u44161 {
  position:absolute;
  left:0px;
  top:35px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u44161_img.mouseOver {
}
#u44161.mouseOver {
}
#u44161_img.selected {
}
#u44161.selected {
}
#u44162 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u44164_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:90px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u44164 {
  position:absolute;
  left:0px;
  top:850px;
  width:1280px;
  height:90px;
}
#u44165 {
  position:absolute;
  left:2px;
  top:37px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44166_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u44166 {
  position:absolute;
  left:35px;
  top:877px;
  width:94px;
  height:37px;
  color:#FFFFFF;
}
#u44167 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u44168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:38px;
}
#u44168 {
  position:absolute;
  left:1092px;
  top:896px;
  width:180px;
  height:38px;
  font-size:16px;
  color:#FF0000;
}
#u44169 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u44170_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Medium', 'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
}
#u44170 {
  position:absolute;
  left:220px;
  top:150px;
  width:225px;
  height:38px;
  font-family:'STHeitiTC-Medium', 'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
}
#u44171 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u44172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:990px;
  height:2px;
}
#u44172 {
  position:absolute;
  left:220px;
  top:358px;
  width:989px;
  height:1px;
}
#u44173 {
  position:absolute;
  left:2px;
  top:-8px;
  width:985px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44174 {
  position:absolute;
  left:220px;
  top:407px;
  width:667px;
  height:81px;
}
#u44175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:36px;
}
#u44175 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:36px;
  color:#FFFFFF;
  text-align:center;
}
#u44176 {
  position:absolute;
  left:2px;
  top:10px;
  width:222px;
  word-wrap:break-word;
}
#u44177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:36px;
}
#u44177 {
  position:absolute;
  left:226px;
  top:0px;
  width:138px;
  height:36px;
  color:#FFFFFF;
  text-align:center;
}
#u44178 {
  position:absolute;
  left:2px;
  top:10px;
  width:134px;
  word-wrap:break-word;
}
#u44179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:36px;
}
#u44179 {
  position:absolute;
  left:364px;
  top:0px;
  width:133px;
  height:36px;
  color:#FFFFFF;
  text-align:center;
}
#u44180 {
  position:absolute;
  left:2px;
  top:10px;
  width:129px;
  word-wrap:break-word;
}
#u44181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:36px;
}
#u44181 {
  position:absolute;
  left:497px;
  top:0px;
  width:165px;
  height:36px;
  color:#FFFFFF;
  text-align:center;
}
#u44182 {
  position:absolute;
  left:2px;
  top:10px;
  width:161px;
  word-wrap:break-word;
}
#u44183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:40px;
}
#u44183 {
  position:absolute;
  left:0px;
  top:36px;
  width:226px;
  height:40px;
  text-align:center;
}
#u44184 {
  position:absolute;
  left:2px;
  top:12px;
  width:222px;
  word-wrap:break-word;
}
#u44185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:40px;
}
#u44185 {
  position:absolute;
  left:226px;
  top:36px;
  width:138px;
  height:40px;
  font-size:15px;
  color:#666666;
  text-align:center;
}
#u44186 {
  position:absolute;
  left:2px;
  top:12px;
  width:134px;
  word-wrap:break-word;
}
#u44187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:40px;
}
#u44187 {
  position:absolute;
  left:364px;
  top:36px;
  width:133px;
  height:40px;
  font-size:15px;
  color:#666666;
  text-align:center;
}
#u44188 {
  position:absolute;
  left:2px;
  top:12px;
  width:129px;
  word-wrap:break-word;
}
#u44189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:40px;
}
#u44189 {
  position:absolute;
  left:497px;
  top:36px;
  width:165px;
  height:40px;
  font-size:15px;
  color:#666666;
  text-align:center;
}
#u44190 {
  position:absolute;
  left:2px;
  top:12px;
  width:161px;
  word-wrap:break-word;
}
#u44191 {
  position:absolute;
  left:220px;
  top:200px;
  width:555px;
  height:45px;
}
#u44192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:40px;
}
#u44192 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:40px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
}
#u44193 {
  position:absolute;
  left:10px;
  top:11px;
  width:129px;
  word-wrap:break-word;
}
#u44194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  height:40px;
}
#u44194 {
  position:absolute;
  left:141px;
  top:0px;
  width:409px;
  height:40px;
  font-size:15px;
  text-align:center;
}
#u44195 {
  position:absolute;
  left:10px;
  top:12px;
  width:397px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44196_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u44196 {
  position:absolute;
  left:670px;
  top:283px;
  width:100px;
  height:30px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u44196_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u44196.mouseOver {
}
#u44197 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u44198_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u44198 {
  position:absolute;
  left:566px;
  top:283px;
  width:88px;
  height:30px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u44198_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u44198.mouseOver {
}
#u44199 {
  position:absolute;
  left:2px;
  top:6px;
  width:84px;
  word-wrap:break-word;
}
#u44200 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u44201 {
  position:absolute;
  left:374px;
  top:206px;
  width:162px;
  height:30px;
}
#u44201_input {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u44202 {
  position:absolute;
  left:560px;
  top:206px;
  width:198px;
  height:30px;
}
#u44202_input {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u44203_div {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u44203 {
  position:absolute;
  left:543px;
  top:214px;
  width:10px;
  height:19px;
  font-size:16px;
}
#u44204 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  white-space:nowrap;
}
#u44205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
}
#u44205 {
  position:absolute;
  left:697px;
  top:323px;
  width:67px;
  height:16px;
  color:#FF0000;
  text-align:center;
}
#u44206 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u44207_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u44207 {
  position:absolute;
  left:440px;
  top:283px;
  width:110px;
  height:30px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u44207_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u44207.mouseOver {
}
#u44208 {
  position:absolute;
  left:2px;
  top:6px;
  width:106px;
  word-wrap:break-word;
}
