body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u47578_div {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:767px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u47578 {
  position:absolute;
  left:0px;
  top:109px;
  width:191px;
  height:767px;
}
#u47579 {
  position:absolute;
  left:2px;
  top:376px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47581_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:110px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u47581 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:110px;
}
#u47582 {
  position:absolute;
  left:2px;
  top:47px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47583 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u47584_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
}
#u47584 {
  position:absolute;
  left:1061px;
  top:30px;
  width:129px;
  height:17px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
}
#u47585 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u47586_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
}
#u47586 {
  position:absolute;
  left:1197px;
  top:30px;
  width:39px;
  height:17px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
}
#u47587 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u47588_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:11px;
}
#u47588 {
  position:absolute;
  left:1188px;
  top:34px;
  width:1px;
  height:10px;
}
#u47589 {
  position:absolute;
  left:2px;
  top:-3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47590_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Rounded MT Bold';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u47590 {
  position:absolute;
  left:20px;
  top:30px;
  width:144px;
  height:55px;
  font-family:'Arial Rounded MT Bold';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u47591 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u47592 {
  position:absolute;
  left:1025px;
  top:24px;
  width:26px;
  height:30px;
}
#u47592_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:32px;
  height:36px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u47593 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:35px;
}
#u47594_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:30px;
}
#u47594 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:30px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
  text-align:center;
}
#u47594_img.selected {
}
#u47594.selected {
}
#u47595 {
  position:absolute;
  left:2px;
  top:6px;
  width:22px;
  word-wrap:break-word;
}
#u47596 {
  position:absolute;
  left:0px;
  top:30px;
  width:88px;
  height:139px;
  visibility:hidden;
}
#u47596_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:94px;
  height:145px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u47597 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:144px;
}
#u47598_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:34px;
}
#u47598 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:34px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u47598_img.selected {
}
#u47598.selected {
}
#u47599 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u47600_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u47600 {
  position:absolute;
  left:0px;
  top:34px;
  width:88px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u47600_img.selected {
}
#u47600.selected {
}
#u47601 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u47602_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u47602 {
  position:absolute;
  left:0px;
  top:69px;
  width:88px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u47602_img.selected {
}
#u47602.selected {
}
#u47603 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u47604_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u47604 {
  position:absolute;
  left:0px;
  top:104px;
  width:88px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u47604_img.selected {
}
#u47604.selected {
}
#u47605 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u47606_img {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:25px;
}
#u47606 {
  position:absolute;
  left:396px;
  top:34px;
  width:284px;
  height:25px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
  text-align:left;
}
#u47607 {
  position:absolute;
  left:2px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
#u47609 {
  position:absolute;
  left:11px;
  top:130px;
  width:171px;
  height:385px;
}
#u47609_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:391px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u47610 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:390px;
}
#u47611_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:32px;
}
#u47611 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:32px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u47611_img.mouseOver {
}
#u47611.mouseOver {
}
#u47611_img.selected {
}
#u47611.selected {
}
#u47612 {
  position:absolute;
  left:2px;
  top:7px;
  width:167px;
  word-wrap:break-word;
}
#u47613_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:38px;
}
#u47613 {
  position:absolute;
  left:0px;
  top:32px;
  width:171px;
  height:38px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u47613_img.mouseOver {
}
#u47613.mouseOver {
}
#u47613_img.selected {
}
#u47613.selected {
}
#u47614 {
  position:absolute;
  left:2px;
  top:10px;
  width:167px;
  word-wrap:break-word;
}
#u47615_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u47615 {
  position:absolute;
  left:0px;
  top:70px;
  width:171px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u47615_img.mouseOver {
}
#u47615.mouseOver {
}
#u47615_img.selected {
}
#u47615.selected {
}
#u47616 {
  position:absolute;
  left:2px;
  top:9px;
  width:167px;
  word-wrap:break-word;
}
#u47617_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u47617 {
  position:absolute;
  left:0px;
  top:105px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u47617_img.mouseOver {
}
#u47617.mouseOver {
}
#u47617_img.selected {
}
#u47617.selected {
}
#u47618 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u47619_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u47619 {
  position:absolute;
  left:0px;
  top:140px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u47619_img.mouseOver {
}
#u47619.mouseOver {
}
#u47619_img.selected {
}
#u47619.selected {
}
#u47620 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u47621_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u47621 {
  position:absolute;
  left:0px;
  top:175px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u47621_img.mouseOver {
}
#u47621.mouseOver {
}
#u47621_img.selected {
}
#u47621.selected {
}
#u47622 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u47623_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u47623 {
  position:absolute;
  left:0px;
  top:210px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u47623_img.mouseOver {
}
#u47623.mouseOver {
}
#u47623_img.selected {
}
#u47623.selected {
}
#u47624 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u47625_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u47625 {
  position:absolute;
  left:0px;
  top:245px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u47625_img.mouseOver {
}
#u47625.mouseOver {
}
#u47625_img.selected {
}
#u47625.selected {
}
#u47626 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u47627_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u47627 {
  position:absolute;
  left:0px;
  top:280px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u47627_img.mouseOver {
}
#u47627.mouseOver {
}
#u47627_img.selected {
}
#u47627.selected {
}
#u47628 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u47629_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u47629 {
  position:absolute;
  left:0px;
  top:315px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u47629_img.mouseOver {
}
#u47629.mouseOver {
}
#u47629_img.selected {
}
#u47629.selected {
}
#u47630 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u47631_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u47631 {
  position:absolute;
  left:0px;
  top:350px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u47631_img.mouseOver {
}
#u47631.mouseOver {
}
#u47631_img.selected {
}
#u47631.selected {
}
#u47632 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u47633 {
  position:absolute;
  left:171px;
  top:245px;
  width:171px;
  height:70px;
  visibility:hidden;
}
#u47633_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:76px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u47634 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:75px;
}
#u47635_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u47635 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u47635_img.mouseOver {
}
#u47635.mouseOver {
}
#u47635_img.selected {
}
#u47635.selected {
}
#u47636 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u47637_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u47637 {
  position:absolute;
  left:0px;
  top:35px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u47637_img.mouseOver {
}
#u47637.mouseOver {
}
#u47637_img.selected {
}
#u47637.selected {
}
#u47638 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u47639 {
  position:absolute;
  left:171px;
  top:105px;
  width:202px;
  height:74px;
  visibility:hidden;
}
#u47639_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:208px;
  height:80px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u47640 {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:79px;
}
#u47641_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:36px;
}
#u47641 {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:36px;
  font-size:15px;
  color:#000000;
  text-align:center;
}
#u47641_img.mouseOver {
}
#u47641.mouseOver {
}
#u47641_img.selected {
}
#u47641.selected {
}
#u47642 {
  position:absolute;
  left:2px;
  top:10px;
  width:198px;
  word-wrap:break-word;
}
#u47643_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:38px;
}
#u47643 {
  position:absolute;
  left:0px;
  top:36px;
  width:202px;
  height:38px;
  font-size:15px;
  color:#000000;
  text-align:center;
}
#u47643_img.mouseOver {
}
#u47643.mouseOver {
}
#u47643_img.selected {
}
#u47643.selected {
}
#u47644 {
  position:absolute;
  left:2px;
  top:10px;
  width:198px;
  word-wrap:break-word;
}
#u47645 {
  position:absolute;
  left:171px;
  top:32px;
  width:150px;
  height:175px;
  visibility:hidden;
}
#u47645_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:156px;
  height:181px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u47646 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:180px;
}
#u47647_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u47647 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u47647_img.mouseOver {
}
#u47647.mouseOver {
}
#u47647_img.selected {
}
#u47647.selected {
}
#u47648 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u47649_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u47649 {
  position:absolute;
  left:0px;
  top:35px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u47649_img.mouseOver {
}
#u47649.mouseOver {
}
#u47649_img.selected {
}
#u47649.selected {
}
#u47650 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u47651_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u47651 {
  position:absolute;
  left:0px;
  top:70px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u47651_img.mouseOver {
}
#u47651.mouseOver {
}
#u47651_img.selected {
}
#u47651.selected {
}
#u47652 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u47653_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u47653 {
  position:absolute;
  left:0px;
  top:105px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u47653_img.mouseOver {
}
#u47653.mouseOver {
}
#u47653_img.selected {
}
#u47653.selected {
}
#u47654 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u47655_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u47655 {
  position:absolute;
  left:0px;
  top:140px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u47655_img.mouseOver {
}
#u47655.mouseOver {
}
#u47655_img.selected {
}
#u47655.selected {
}
#u47656 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u47657 {
  position:absolute;
  left:171px;
  top:70px;
  width:171px;
  height:35px;
  visibility:hidden;
}
#u47657_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:41px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u47658 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
}
#u47659_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u47659 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u47659_img.mouseOver {
}
#u47659.mouseOver {
}
#u47659_img.selected {
}
#u47659.selected {
}
#u47660 {
  position:absolute;
  left:2px;
  top:9px;
  width:167px;
  word-wrap:break-word;
}
#u47661 {
  position:absolute;
  left:171px;
  top:280px;
  width:171px;
  height:110px;
  visibility:hidden;
}
#u47661_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:116px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u47662 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:115px;
}
#u47663_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u47663 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u47663_img.mouseOver {
}
#u47663.mouseOver {
}
#u47663_img.selected {
}
#u47663.selected {
}
#u47664 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u47665_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u47665 {
  position:absolute;
  left:0px;
  top:35px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u47665_img.mouseOver {
}
#u47665.mouseOver {
}
#u47665_img.selected {
}
#u47665.selected {
}
#u47666 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u47667_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:40px;
}
#u47667 {
  position:absolute;
  left:0px;
  top:70px;
  width:171px;
  height:40px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u47667_img.mouseOver {
}
#u47667.mouseOver {
}
#u47667_img.selected {
}
#u47667.selected {
}
#u47668 {
  position:absolute;
  left:2px;
  top:11px;
  width:167px;
  word-wrap:break-word;
}
#u47669 {
  position:absolute;
  left:171px;
  top:315px;
  width:169px;
  height:175px;
  visibility:hidden;
}
#u47669_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:175px;
  height:181px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u47670 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:180px;
}
#u47671_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u47671 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u47671_img.mouseOver {
}
#u47671.mouseOver {
}
#u47671_img.selected {
}
#u47671.selected {
}
#u47672 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u47673_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u47673 {
  position:absolute;
  left:0px;
  top:35px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u47673_img.mouseOver {
}
#u47673.mouseOver {
}
#u47673_img.selected {
}
#u47673.selected {
}
#u47674 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u47675_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u47675 {
  position:absolute;
  left:0px;
  top:70px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u47675_img.mouseOver {
}
#u47675.mouseOver {
}
#u47675_img.selected {
}
#u47675.selected {
}
#u47676 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u47677_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u47677 {
  position:absolute;
  left:0px;
  top:105px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u47677_img.mouseOver {
}
#u47677.mouseOver {
}
#u47677_img.selected {
}
#u47677.selected {
}
#u47678 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u47679_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u47679 {
  position:absolute;
  left:0px;
  top:140px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u47679_img.mouseOver {
}
#u47679.mouseOver {
}
#u47679_img.selected {
}
#u47679.selected {
}
#u47680 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u47681 {
  position:absolute;
  left:171px;
  top:350px;
  width:171px;
  height:35px;
  visibility:hidden;
}
#u47681_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:41px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u47682 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
}
#u47683_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u47683 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u47683_img.mouseOver {
}
#u47683.mouseOver {
}
#u47683_img.selected {
}
#u47683.selected {
}
#u47684 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u47685 {
  position:absolute;
  left:171px;
  top:210px;
  width:171px;
  height:35px;
  visibility:hidden;
}
#u47685_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:41px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u47686 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
}
#u47687_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u47687 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u47687_img.mouseOver {
}
#u47687.mouseOver {
}
#u47687_img.selected {
}
#u47687.selected {
}
#u47688 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u47689 {
  position:absolute;
  left:171px;
  top:175px;
  width:171px;
  height:70px;
  visibility:hidden;
}
#u47689_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:76px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u47690 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:75px;
}
#u47691_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u47691 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u47691_img.mouseOver {
}
#u47691.mouseOver {
}
#u47691_img.selected {
}
#u47691.selected {
}
#u47692 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u47693_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u47693 {
  position:absolute;
  left:0px;
  top:35px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u47693_img.mouseOver {
}
#u47693.mouseOver {
}
#u47693_img.selected {
}
#u47693.selected {
}
#u47694 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u47695 {
  position:absolute;
  left:171px;
  top:140px;
  width:171px;
  height:70px;
  visibility:hidden;
}
#u47695_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:76px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u47696 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:75px;
}
#u47697_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u47697 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u47697_img.mouseOver {
}
#u47697.mouseOver {
}
#u47697_img.selected {
}
#u47697.selected {
}
#u47698 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u47699_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u47699 {
  position:absolute;
  left:0px;
  top:35px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u47699_img.mouseOver {
}
#u47699.mouseOver {
}
#u47699_img.selected {
}
#u47699.selected {
}
#u47700 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u47702_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:90px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u47702 {
  position:absolute;
  left:0px;
  top:850px;
  width:1280px;
  height:90px;
}
#u47703 {
  position:absolute;
  left:2px;
  top:37px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47704_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u47704 {
  position:absolute;
  left:35px;
  top:877px;
  width:94px;
  height:37px;
  color:#FFFFFF;
}
#u47705 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u47706_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:38px;
}
#u47706 {
  position:absolute;
  left:1092px;
  top:896px;
  width:180px;
  height:38px;
  font-size:16px;
  color:#FF0000;
}
#u47707 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u47708_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Medium', 'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
}
#u47708 {
  position:absolute;
  left:220px;
  top:142px;
  width:193px;
  height:38px;
  font-family:'STHeitiTC-Medium', 'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
}
#u47709 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u47710 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u47711 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u47712 {
  position:absolute;
  left:220px;
  top:240px;
  width:825px;
  height:165px;
}
#u47713_img {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:40px;
}
#u47713 {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u47714 {
  position:absolute;
  left:10px;
  top:12px;
  width:335px;
  word-wrap:break-word;
}
#u47715_img {
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:40px;
}
#u47715 {
  position:absolute;
  left:347px;
  top:0px;
  width:473px;
  height:40px;
  font-size:14px;
}
#u47716 {
  position:absolute;
  left:10px;
  top:12px;
  width:461px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47717_img {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:40px;
}
#u47717 {
  position:absolute;
  left:0px;
  top:40px;
  width:347px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u47718 {
  position:absolute;
  left:10px;
  top:12px;
  width:335px;
  word-wrap:break-word;
}
#u47719_img {
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:40px;
}
#u47719 {
  position:absolute;
  left:347px;
  top:40px;
  width:473px;
  height:40px;
  font-size:14px;
}
#u47720 {
  position:absolute;
  left:10px;
  top:12px;
  width:461px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47721_img {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:40px;
}
#u47721 {
  position:absolute;
  left:0px;
  top:80px;
  width:347px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u47722 {
  position:absolute;
  left:10px;
  top:12px;
  width:335px;
  word-wrap:break-word;
}
#u47723_img {
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:40px;
}
#u47723 {
  position:absolute;
  left:347px;
  top:80px;
  width:473px;
  height:40px;
  font-size:14px;
}
#u47724 {
  position:absolute;
  left:10px;
  top:12px;
  width:461px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47725_img {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:40px;
}
#u47725 {
  position:absolute;
  left:0px;
  top:120px;
  width:347px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u47726 {
  position:absolute;
  left:10px;
  top:12px;
  width:335px;
  word-wrap:break-word;
}
#u47727_img {
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:40px;
}
#u47727 {
  position:absolute;
  left:347px;
  top:120px;
  width:473px;
  height:40px;
  font-size:14px;
}
#u47728 {
  position:absolute;
  left:10px;
  top:12px;
  width:461px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47729_div {
  position:absolute;
  left:0px;
  top:0px;
  width:820px;
  height:40px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Medium', 'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u47729 {
  position:absolute;
  left:220px;
  top:201px;
  width:820px;
  height:40px;
  font-family:'STHeitiTC-Medium', 'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u47730 {
  position:absolute;
  left:10px;
  top:9px;
  width:808px;
  word-wrap:break-word;
}
#u47731_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:27px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u47731 {
  position:absolute;
  left:970px;
  top:247px;
  width:60px;
  height:27px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u47731_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:27px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u47731.mouseOver {
}
#u47732 {
  position:absolute;
  left:2px;
  top:5px;
  width:56px;
  word-wrap:break-word;
}
#u47733_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:27px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u47733 {
  position:absolute;
  left:970px;
  top:287px;
  width:60px;
  height:27px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u47733_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:27px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u47733.mouseOver {
}
#u47734 {
  position:absolute;
  left:2px;
  top:5px;
  width:56px;
  word-wrap:break-word;
}
#u47735_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:27px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u47735 {
  position:absolute;
  left:970px;
  top:327px;
  width:60px;
  height:27px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u47735_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:27px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u47735.mouseOver {
}
#u47736 {
  position:absolute;
  left:2px;
  top:5px;
  width:56px;
  word-wrap:break-word;
}
#u47737 {
  position:absolute;
  left:575px;
  top:245px;
  width:233px;
  height:30px;
}
#u47737_input {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  text-decoration:none;
  color:#1E1E1E;
  text-align:left;
}
#u47738 {
  position:absolute;
  left:575px;
  top:285px;
  width:233px;
  height:30px;
}
#u47738_input {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  text-decoration:none;
  color:#1E1E1E;
  text-align:left;
}
#u47739 {
  position:absolute;
  left:575px;
  top:325px;
  width:233px;
  height:30px;
}
#u47739_input {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  text-decoration:none;
  color:#1E1E1E;
  text-align:left;
}
#u47740 {
  position:absolute;
  left:575px;
  top:365px;
  width:233px;
  height:30px;
}
#u47740_input {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  text-decoration:none;
  color:#1E1E1E;
  text-align:left;
}
#u47741_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:27px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u47741 {
  position:absolute;
  left:970px;
  top:365px;
  width:60px;
  height:27px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u47741_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:27px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u47741.mouseOver {
}
#u47742 {
  position:absolute;
  left:2px;
  top:5px;
  width:56px;
  word-wrap:break-word;
}
#u47743_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u47743 {
  position:absolute;
  left:1065px;
  top:306px;
  width:66px;
  height:16px;
  color:#FF0000;
}
#u47744 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
