body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u49201_div {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:767px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u49201 {
  position:absolute;
  left:0px;
  top:109px;
  width:191px;
  height:767px;
}
#u49202 {
  position:absolute;
  left:2px;
  top:376px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49204_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:110px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u49204 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:110px;
}
#u49205 {
  position:absolute;
  left:2px;
  top:47px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49206 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u49207_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
}
#u49207 {
  position:absolute;
  left:1061px;
  top:30px;
  width:129px;
  height:17px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
}
#u49208 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u49209_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
}
#u49209 {
  position:absolute;
  left:1197px;
  top:30px;
  width:39px;
  height:17px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
}
#u49210 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u49211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:11px;
}
#u49211 {
  position:absolute;
  left:1188px;
  top:34px;
  width:1px;
  height:10px;
}
#u49212 {
  position:absolute;
  left:2px;
  top:-3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49213_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Rounded MT Bold';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u49213 {
  position:absolute;
  left:20px;
  top:30px;
  width:144px;
  height:55px;
  font-family:'Arial Rounded MT Bold';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u49214 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u49215 {
  position:absolute;
  left:1025px;
  top:24px;
  width:26px;
  height:30px;
}
#u49215_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:32px;
  height:36px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u49216 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:35px;
}
#u49217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:30px;
}
#u49217 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:30px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
  text-align:center;
}
#u49217_img.selected {
}
#u49217.selected {
}
#u49218 {
  position:absolute;
  left:2px;
  top:6px;
  width:22px;
  word-wrap:break-word;
}
#u49219 {
  position:absolute;
  left:0px;
  top:30px;
  width:88px;
  height:139px;
  visibility:hidden;
}
#u49219_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:94px;
  height:145px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u49220 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:144px;
}
#u49221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:34px;
}
#u49221 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:34px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u49221_img.selected {
}
#u49221.selected {
}
#u49222 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u49223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u49223 {
  position:absolute;
  left:0px;
  top:34px;
  width:88px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u49223_img.selected {
}
#u49223.selected {
}
#u49224 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u49225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u49225 {
  position:absolute;
  left:0px;
  top:69px;
  width:88px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u49225_img.selected {
}
#u49225.selected {
}
#u49226 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u49227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u49227 {
  position:absolute;
  left:0px;
  top:104px;
  width:88px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u49227_img.selected {
}
#u49227.selected {
}
#u49228 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u49229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:25px;
}
#u49229 {
  position:absolute;
  left:396px;
  top:34px;
  width:284px;
  height:25px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
  text-align:left;
}
#u49230 {
  position:absolute;
  left:2px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
#u49232 {
  position:absolute;
  left:11px;
  top:130px;
  width:171px;
  height:385px;
}
#u49232_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:391px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u49233 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:390px;
}
#u49234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:32px;
}
#u49234 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:32px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u49234_img.mouseOver {
}
#u49234.mouseOver {
}
#u49234_img.selected {
}
#u49234.selected {
}
#u49235 {
  position:absolute;
  left:2px;
  top:7px;
  width:167px;
  word-wrap:break-word;
}
#u49236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:38px;
}
#u49236 {
  position:absolute;
  left:0px;
  top:32px;
  width:171px;
  height:38px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u49236_img.mouseOver {
}
#u49236.mouseOver {
}
#u49236_img.selected {
}
#u49236.selected {
}
#u49237 {
  position:absolute;
  left:2px;
  top:10px;
  width:167px;
  word-wrap:break-word;
}
#u49238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u49238 {
  position:absolute;
  left:0px;
  top:70px;
  width:171px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u49238_img.mouseOver {
}
#u49238.mouseOver {
}
#u49238_img.selected {
}
#u49238.selected {
}
#u49239 {
  position:absolute;
  left:2px;
  top:9px;
  width:167px;
  word-wrap:break-word;
}
#u49240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u49240 {
  position:absolute;
  left:0px;
  top:105px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u49240_img.mouseOver {
}
#u49240.mouseOver {
}
#u49240_img.selected {
}
#u49240.selected {
}
#u49241 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u49242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u49242 {
  position:absolute;
  left:0px;
  top:140px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u49242_img.mouseOver {
}
#u49242.mouseOver {
}
#u49242_img.selected {
}
#u49242.selected {
}
#u49243 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u49244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u49244 {
  position:absolute;
  left:0px;
  top:175px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u49244_img.mouseOver {
}
#u49244.mouseOver {
}
#u49244_img.selected {
}
#u49244.selected {
}
#u49245 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u49246_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u49246 {
  position:absolute;
  left:0px;
  top:210px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u49246_img.mouseOver {
}
#u49246.mouseOver {
}
#u49246_img.selected {
}
#u49246.selected {
}
#u49247 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u49248_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u49248 {
  position:absolute;
  left:0px;
  top:245px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u49248_img.mouseOver {
}
#u49248.mouseOver {
}
#u49248_img.selected {
}
#u49248.selected {
}
#u49249 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u49250_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u49250 {
  position:absolute;
  left:0px;
  top:280px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u49250_img.mouseOver {
}
#u49250.mouseOver {
}
#u49250_img.selected {
}
#u49250.selected {
}
#u49251 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u49252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u49252 {
  position:absolute;
  left:0px;
  top:315px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u49252_img.mouseOver {
}
#u49252.mouseOver {
}
#u49252_img.selected {
}
#u49252.selected {
}
#u49253 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u49254_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u49254 {
  position:absolute;
  left:0px;
  top:350px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u49254_img.mouseOver {
}
#u49254.mouseOver {
}
#u49254_img.selected {
}
#u49254.selected {
}
#u49255 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u49256 {
  position:absolute;
  left:171px;
  top:245px;
  width:171px;
  height:70px;
  visibility:hidden;
}
#u49256_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:76px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u49257 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:75px;
}
#u49258_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u49258 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u49258_img.mouseOver {
}
#u49258.mouseOver {
}
#u49258_img.selected {
}
#u49258.selected {
}
#u49259 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u49260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u49260 {
  position:absolute;
  left:0px;
  top:35px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u49260_img.mouseOver {
}
#u49260.mouseOver {
}
#u49260_img.selected {
}
#u49260.selected {
}
#u49261 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u49262 {
  position:absolute;
  left:171px;
  top:105px;
  width:202px;
  height:74px;
  visibility:hidden;
}
#u49262_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:208px;
  height:80px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u49263 {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:79px;
}
#u49264_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:36px;
}
#u49264 {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:36px;
  font-size:15px;
  color:#000000;
  text-align:center;
}
#u49264_img.mouseOver {
}
#u49264.mouseOver {
}
#u49264_img.selected {
}
#u49264.selected {
}
#u49265 {
  position:absolute;
  left:2px;
  top:10px;
  width:198px;
  word-wrap:break-word;
}
#u49266_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:38px;
}
#u49266 {
  position:absolute;
  left:0px;
  top:36px;
  width:202px;
  height:38px;
  font-size:15px;
  color:#000000;
  text-align:center;
}
#u49266_img.mouseOver {
}
#u49266.mouseOver {
}
#u49266_img.selected {
}
#u49266.selected {
}
#u49267 {
  position:absolute;
  left:2px;
  top:10px;
  width:198px;
  word-wrap:break-word;
}
#u49268 {
  position:absolute;
  left:171px;
  top:32px;
  width:150px;
  height:175px;
  visibility:hidden;
}
#u49268_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:156px;
  height:181px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u49269 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:180px;
}
#u49270_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u49270 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u49270_img.mouseOver {
}
#u49270.mouseOver {
}
#u49270_img.selected {
}
#u49270.selected {
}
#u49271 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u49272_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u49272 {
  position:absolute;
  left:0px;
  top:35px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u49272_img.mouseOver {
}
#u49272.mouseOver {
}
#u49272_img.selected {
}
#u49272.selected {
}
#u49273 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u49274_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u49274 {
  position:absolute;
  left:0px;
  top:70px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u49274_img.mouseOver {
}
#u49274.mouseOver {
}
#u49274_img.selected {
}
#u49274.selected {
}
#u49275 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u49276_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u49276 {
  position:absolute;
  left:0px;
  top:105px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u49276_img.mouseOver {
}
#u49276.mouseOver {
}
#u49276_img.selected {
}
#u49276.selected {
}
#u49277 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u49278_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u49278 {
  position:absolute;
  left:0px;
  top:140px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u49278_img.mouseOver {
}
#u49278.mouseOver {
}
#u49278_img.selected {
}
#u49278.selected {
}
#u49279 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u49280 {
  position:absolute;
  left:171px;
  top:70px;
  width:171px;
  height:35px;
  visibility:hidden;
}
#u49280_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:41px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u49281 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
}
#u49282_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u49282 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u49282_img.mouseOver {
}
#u49282.mouseOver {
}
#u49282_img.selected {
}
#u49282.selected {
}
#u49283 {
  position:absolute;
  left:2px;
  top:9px;
  width:167px;
  word-wrap:break-word;
}
#u49284 {
  position:absolute;
  left:171px;
  top:280px;
  width:171px;
  height:110px;
  visibility:hidden;
}
#u49284_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:116px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u49285 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:115px;
}
#u49286_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u49286 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u49286_img.mouseOver {
}
#u49286.mouseOver {
}
#u49286_img.selected {
}
#u49286.selected {
}
#u49287 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u49288_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u49288 {
  position:absolute;
  left:0px;
  top:35px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u49288_img.mouseOver {
}
#u49288.mouseOver {
}
#u49288_img.selected {
}
#u49288.selected {
}
#u49289 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u49290_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:40px;
}
#u49290 {
  position:absolute;
  left:0px;
  top:70px;
  width:171px;
  height:40px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u49290_img.mouseOver {
}
#u49290.mouseOver {
}
#u49290_img.selected {
}
#u49290.selected {
}
#u49291 {
  position:absolute;
  left:2px;
  top:11px;
  width:167px;
  word-wrap:break-word;
}
#u49292 {
  position:absolute;
  left:171px;
  top:315px;
  width:169px;
  height:175px;
  visibility:hidden;
}
#u49292_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:175px;
  height:181px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u49293 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:180px;
}
#u49294_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u49294 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u49294_img.mouseOver {
}
#u49294.mouseOver {
}
#u49294_img.selected {
}
#u49294.selected {
}
#u49295 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u49296_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u49296 {
  position:absolute;
  left:0px;
  top:35px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u49296_img.mouseOver {
}
#u49296.mouseOver {
}
#u49296_img.selected {
}
#u49296.selected {
}
#u49297 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u49298_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u49298 {
  position:absolute;
  left:0px;
  top:70px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u49298_img.mouseOver {
}
#u49298.mouseOver {
}
#u49298_img.selected {
}
#u49298.selected {
}
#u49299 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u49300_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u49300 {
  position:absolute;
  left:0px;
  top:105px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u49300_img.mouseOver {
}
#u49300.mouseOver {
}
#u49300_img.selected {
}
#u49300.selected {
}
#u49301 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u49302_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u49302 {
  position:absolute;
  left:0px;
  top:140px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u49302_img.mouseOver {
}
#u49302.mouseOver {
}
#u49302_img.selected {
}
#u49302.selected {
}
#u49303 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u49304 {
  position:absolute;
  left:171px;
  top:350px;
  width:171px;
  height:35px;
  visibility:hidden;
}
#u49304_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:41px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u49305 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
}
#u49306_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u49306 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u49306_img.mouseOver {
}
#u49306.mouseOver {
}
#u49306_img.selected {
}
#u49306.selected {
}
#u49307 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u49308 {
  position:absolute;
  left:171px;
  top:210px;
  width:171px;
  height:35px;
  visibility:hidden;
}
#u49308_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:41px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u49309 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
}
#u49310_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u49310 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u49310_img.mouseOver {
}
#u49310.mouseOver {
}
#u49310_img.selected {
}
#u49310.selected {
}
#u49311 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u49312 {
  position:absolute;
  left:171px;
  top:175px;
  width:171px;
  height:70px;
  visibility:hidden;
}
#u49312_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:76px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u49313 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:75px;
}
#u49314_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u49314 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u49314_img.mouseOver {
}
#u49314.mouseOver {
}
#u49314_img.selected {
}
#u49314.selected {
}
#u49315 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u49316_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u49316 {
  position:absolute;
  left:0px;
  top:35px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u49316_img.mouseOver {
}
#u49316.mouseOver {
}
#u49316_img.selected {
}
#u49316.selected {
}
#u49317 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u49318 {
  position:absolute;
  left:171px;
  top:140px;
  width:171px;
  height:70px;
  visibility:hidden;
}
#u49318_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:76px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u49319 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:75px;
}
#u49320_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u49320 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u49320_img.mouseOver {
}
#u49320.mouseOver {
}
#u49320_img.selected {
}
#u49320.selected {
}
#u49321 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u49322_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u49322 {
  position:absolute;
  left:0px;
  top:35px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u49322_img.mouseOver {
}
#u49322.mouseOver {
}
#u49322_img.selected {
}
#u49322.selected {
}
#u49323 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u49325_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:90px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u49325 {
  position:absolute;
  left:0px;
  top:850px;
  width:1280px;
  height:90px;
}
#u49326 {
  position:absolute;
  left:2px;
  top:37px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49327_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u49327 {
  position:absolute;
  left:35px;
  top:877px;
  width:94px;
  height:37px;
  color:#FFFFFF;
}
#u49328 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u49329_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:38px;
}
#u49329 {
  position:absolute;
  left:1092px;
  top:896px;
  width:180px;
  height:38px;
  font-size:16px;
  color:#FF0000;
}
#u49330 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u49331_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Medium', 'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
}
#u49331 {
  position:absolute;
  left:220px;
  top:142px;
  width:193px;
  height:38px;
  font-family:'STHeitiTC-Medium', 'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
}
#u49332 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u49333 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u49334 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u49335 {
  position:absolute;
  left:220px;
  top:240px;
  width:825px;
  height:165px;
}
#u49336_img {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:40px;
}
#u49336 {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u49337 {
  position:absolute;
  left:10px;
  top:12px;
  width:335px;
  word-wrap:break-word;
}
#u49338_img {
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:40px;
}
#u49338 {
  position:absolute;
  left:347px;
  top:0px;
  width:473px;
  height:40px;
  font-size:14px;
}
#u49339 {
  position:absolute;
  left:10px;
  top:12px;
  width:461px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49340_img {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:40px;
}
#u49340 {
  position:absolute;
  left:0px;
  top:40px;
  width:347px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u49341 {
  position:absolute;
  left:10px;
  top:12px;
  width:335px;
  word-wrap:break-word;
}
#u49342_img {
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:40px;
}
#u49342 {
  position:absolute;
  left:347px;
  top:40px;
  width:473px;
  height:40px;
  font-size:14px;
}
#u49343 {
  position:absolute;
  left:10px;
  top:12px;
  width:461px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49344_img {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:40px;
}
#u49344 {
  position:absolute;
  left:0px;
  top:80px;
  width:347px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u49345 {
  position:absolute;
  left:10px;
  top:12px;
  width:335px;
  word-wrap:break-word;
}
#u49346_img {
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:40px;
}
#u49346 {
  position:absolute;
  left:347px;
  top:80px;
  width:473px;
  height:40px;
  font-size:14px;
}
#u49347 {
  position:absolute;
  left:10px;
  top:12px;
  width:461px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49348_img {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:40px;
}
#u49348 {
  position:absolute;
  left:0px;
  top:120px;
  width:347px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u49349 {
  position:absolute;
  left:10px;
  top:12px;
  width:335px;
  word-wrap:break-word;
}
#u49350_img {
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:40px;
}
#u49350 {
  position:absolute;
  left:347px;
  top:120px;
  width:473px;
  height:40px;
  font-size:14px;
}
#u49351 {
  position:absolute;
  left:10px;
  top:12px;
  width:461px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49352_div {
  position:absolute;
  left:0px;
  top:0px;
  width:820px;
  height:40px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Medium', 'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u49352 {
  position:absolute;
  left:220px;
  top:201px;
  width:820px;
  height:40px;
  font-family:'STHeitiTC-Medium', 'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u49353 {
  position:absolute;
  left:10px;
  top:9px;
  width:808px;
  word-wrap:break-word;
}
#u49354_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:27px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u49354 {
  position:absolute;
  left:970px;
  top:247px;
  width:60px;
  height:27px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u49354_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:27px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u49354.mouseOver {
}
#u49355 {
  position:absolute;
  left:2px;
  top:5px;
  width:56px;
  word-wrap:break-word;
}
#u49356_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:27px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u49356 {
  position:absolute;
  left:970px;
  top:287px;
  width:60px;
  height:27px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u49356_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:27px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u49356.mouseOver {
}
#u49357 {
  position:absolute;
  left:2px;
  top:5px;
  width:56px;
  word-wrap:break-word;
}
#u49358_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:27px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u49358 {
  position:absolute;
  left:970px;
  top:327px;
  width:60px;
  height:27px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u49358_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:27px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u49358.mouseOver {
}
#u49359 {
  position:absolute;
  left:2px;
  top:5px;
  width:56px;
  word-wrap:break-word;
}
#u49360 {
  position:absolute;
  left:575px;
  top:245px;
  width:233px;
  height:30px;
}
#u49360_input {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  text-decoration:none;
  color:#1E1E1E;
  text-align:left;
}
#u49361 {
  position:absolute;
  left:575px;
  top:285px;
  width:233px;
  height:30px;
}
#u49361_input {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  text-decoration:none;
  color:#1E1E1E;
  text-align:left;
}
#u49362 {
  position:absolute;
  left:575px;
  top:325px;
  width:233px;
  height:30px;
}
#u49362_input {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  text-decoration:none;
  color:#1E1E1E;
  text-align:left;
}
#u49363 {
  position:absolute;
  left:575px;
  top:365px;
  width:233px;
  height:30px;
}
#u49363_input {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  text-decoration:none;
  color:#1E1E1E;
  text-align:left;
}
#u49364_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:27px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u49364 {
  position:absolute;
  left:970px;
  top:365px;
  width:60px;
  height:27px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u49364_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:27px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u49364.mouseOver {
}
#u49365 {
  position:absolute;
  left:2px;
  top:5px;
  width:56px;
  word-wrap:break-word;
}
#u49366_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u49366 {
  position:absolute;
  left:1065px;
  top:306px;
  width:66px;
  height:16px;
  color:#FF0000;
}
#u49367 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
