body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u34176_div {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:1010px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34176 {
  position:absolute;
  left:0px;
  top:109px;
  width:191px;
  height:1010px;
}
#u34177 {
  position:absolute;
  left:2px;
  top:497px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34179_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:110px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34179 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:110px;
}
#u34180 {
  position:absolute;
  left:2px;
  top:47px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34181 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u34182_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
}
#u34182 {
  position:absolute;
  left:1061px;
  top:30px;
  width:129px;
  height:17px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
}
#u34183 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u34184_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
}
#u34184 {
  position:absolute;
  left:1197px;
  top:30px;
  width:39px;
  height:17px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
}
#u34185 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u34186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:11px;
}
#u34186 {
  position:absolute;
  left:1188px;
  top:34px;
  width:1px;
  height:10px;
}
#u34187 {
  position:absolute;
  left:2px;
  top:-3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34188_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Rounded MT Bold';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u34188 {
  position:absolute;
  left:20px;
  top:30px;
  width:144px;
  height:55px;
  font-family:'Arial Rounded MT Bold';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u34189 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u34190 {
  position:absolute;
  left:1025px;
  top:24px;
  width:26px;
  height:30px;
}
#u34190_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:32px;
  height:36px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u34191 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:35px;
}
#u34192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:30px;
}
#u34192 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:30px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
  text-align:center;
}
#u34192_img.selected {
}
#u34192.selected {
}
#u34193 {
  position:absolute;
  left:2px;
  top:6px;
  width:22px;
  word-wrap:break-word;
}
#u34194 {
  position:absolute;
  left:0px;
  top:30px;
  width:88px;
  height:139px;
  visibility:hidden;
}
#u34194_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:94px;
  height:145px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u34195 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:144px;
}
#u34196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:34px;
}
#u34196 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:34px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u34196_img.selected {
}
#u34196.selected {
}
#u34197 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u34198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u34198 {
  position:absolute;
  left:0px;
  top:34px;
  width:88px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u34198_img.selected {
}
#u34198.selected {
}
#u34199 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u34200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u34200 {
  position:absolute;
  left:0px;
  top:69px;
  width:88px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u34200_img.selected {
}
#u34200.selected {
}
#u34201 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u34202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u34202 {
  position:absolute;
  left:0px;
  top:104px;
  width:88px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u34202_img.selected {
}
#u34202.selected {
}
#u34203 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u34204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:25px;
}
#u34204 {
  position:absolute;
  left:396px;
  top:34px;
  width:284px;
  height:25px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
  text-align:left;
}
#u34205 {
  position:absolute;
  left:2px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
#u34207 {
  position:absolute;
  left:11px;
  top:130px;
  width:171px;
  height:385px;
}
#u34207_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:391px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u34208 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:390px;
}
#u34209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:32px;
}
#u34209 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:32px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u34209_img.mouseOver {
}
#u34209.mouseOver {
}
#u34209_img.selected {
}
#u34209.selected {
}
#u34210 {
  position:absolute;
  left:2px;
  top:7px;
  width:167px;
  word-wrap:break-word;
}
#u34211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:38px;
}
#u34211 {
  position:absolute;
  left:0px;
  top:32px;
  width:171px;
  height:38px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u34211_img.mouseOver {
}
#u34211.mouseOver {
}
#u34211_img.selected {
}
#u34211.selected {
}
#u34212 {
  position:absolute;
  left:2px;
  top:10px;
  width:167px;
  word-wrap:break-word;
}
#u34213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u34213 {
  position:absolute;
  left:0px;
  top:70px;
  width:171px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u34213_img.mouseOver {
}
#u34213.mouseOver {
}
#u34213_img.selected {
}
#u34213.selected {
}
#u34214 {
  position:absolute;
  left:2px;
  top:9px;
  width:167px;
  word-wrap:break-word;
}
#u34215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u34215 {
  position:absolute;
  left:0px;
  top:105px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u34215_img.mouseOver {
}
#u34215.mouseOver {
}
#u34215_img.selected {
}
#u34215.selected {
}
#u34216 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u34217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u34217 {
  position:absolute;
  left:0px;
  top:140px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u34217_img.mouseOver {
}
#u34217.mouseOver {
}
#u34217_img.selected {
}
#u34217.selected {
}
#u34218 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u34219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u34219 {
  position:absolute;
  left:0px;
  top:175px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u34219_img.mouseOver {
}
#u34219.mouseOver {
}
#u34219_img.selected {
}
#u34219.selected {
}
#u34220 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u34221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u34221 {
  position:absolute;
  left:0px;
  top:210px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u34221_img.mouseOver {
}
#u34221.mouseOver {
}
#u34221_img.selected {
}
#u34221.selected {
}
#u34222 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u34223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u34223 {
  position:absolute;
  left:0px;
  top:245px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u34223_img.mouseOver {
}
#u34223.mouseOver {
}
#u34223_img.selected {
}
#u34223.selected {
}
#u34224 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u34225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u34225 {
  position:absolute;
  left:0px;
  top:280px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u34225_img.mouseOver {
}
#u34225.mouseOver {
}
#u34225_img.selected {
}
#u34225.selected {
}
#u34226 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u34227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u34227 {
  position:absolute;
  left:0px;
  top:315px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u34227_img.mouseOver {
}
#u34227.mouseOver {
}
#u34227_img.selected {
}
#u34227.selected {
}
#u34228 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u34229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u34229 {
  position:absolute;
  left:0px;
  top:350px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u34229_img.mouseOver {
}
#u34229.mouseOver {
}
#u34229_img.selected {
}
#u34229.selected {
}
#u34230 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u34231 {
  position:absolute;
  left:171px;
  top:245px;
  width:171px;
  height:35px;
  visibility:hidden;
}
#u34231_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:41px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u34232 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
}
#u34233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u34233 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u34233_img.mouseOver {
}
#u34233.mouseOver {
}
#u34233_img.selected {
}
#u34233.selected {
}
#u34234 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u34235 {
  position:absolute;
  left:171px;
  top:105px;
  width:202px;
  height:112px;
  visibility:hidden;
}
#u34235_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:208px;
  height:118px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u34236 {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:117px;
}
#u34237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:36px;
}
#u34237 {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:36px;
  font-size:15px;
  color:#000000;
  text-align:center;
}
#u34237_img.mouseOver {
}
#u34237.mouseOver {
}
#u34237_img.selected {
}
#u34237.selected {
}
#u34238 {
  position:absolute;
  left:2px;
  top:10px;
  width:198px;
  word-wrap:break-word;
}
#u34239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:38px;
}
#u34239 {
  position:absolute;
  left:0px;
  top:36px;
  width:202px;
  height:38px;
  font-size:15px;
  color:#000000;
  text-align:center;
}
#u34239_img.mouseOver {
}
#u34239.mouseOver {
}
#u34239_img.selected {
}
#u34239.selected {
}
#u34240 {
  position:absolute;
  left:2px;
  top:10px;
  width:198px;
  word-wrap:break-word;
}
#u34241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:38px;
}
#u34241 {
  position:absolute;
  left:0px;
  top:74px;
  width:202px;
  height:38px;
  font-size:15px;
  color:#000000;
  text-align:center;
}
#u34241_img.mouseOver {
}
#u34241.mouseOver {
}
#u34241_img.selected {
}
#u34241.selected {
}
#u34242 {
  position:absolute;
  left:2px;
  top:10px;
  width:198px;
  word-wrap:break-word;
}
#u34243 {
  position:absolute;
  left:171px;
  top:32px;
  width:150px;
  height:175px;
  visibility:hidden;
}
#u34243_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:156px;
  height:181px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u34244 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:180px;
}
#u34245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u34245 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u34245_img.mouseOver {
}
#u34245.mouseOver {
}
#u34245_img.selected {
}
#u34245.selected {
}
#u34246 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u34247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u34247 {
  position:absolute;
  left:0px;
  top:35px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u34247_img.mouseOver {
}
#u34247.mouseOver {
}
#u34247_img.selected {
}
#u34247.selected {
}
#u34248 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u34249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u34249 {
  position:absolute;
  left:0px;
  top:70px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u34249_img.mouseOver {
}
#u34249.mouseOver {
}
#u34249_img.selected {
}
#u34249.selected {
}
#u34250 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u34251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u34251 {
  position:absolute;
  left:0px;
  top:105px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u34251_img.mouseOver {
}
#u34251.mouseOver {
}
#u34251_img.selected {
}
#u34251.selected {
}
#u34252 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u34253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u34253 {
  position:absolute;
  left:0px;
  top:140px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u34253_img.mouseOver {
}
#u34253.mouseOver {
}
#u34253_img.selected {
}
#u34253.selected {
}
#u34254 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u34255 {
  position:absolute;
  left:171px;
  top:70px;
  width:171px;
  height:35px;
  visibility:hidden;
}
#u34255_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:41px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u34256 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
}
#u34257_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u34257 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u34257_img.mouseOver {
}
#u34257.mouseOver {
}
#u34257_img.selected {
}
#u34257.selected {
}
#u34258 {
  position:absolute;
  left:2px;
  top:9px;
  width:167px;
  word-wrap:break-word;
}
#u34259 {
  position:absolute;
  left:171px;
  top:280px;
  width:171px;
  height:110px;
  visibility:hidden;
}
#u34259_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:116px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u34260 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:115px;
}
#u34261_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u34261 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u34261_img.mouseOver {
}
#u34261.mouseOver {
}
#u34261_img.selected {
}
#u34261.selected {
}
#u34262 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u34263_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u34263 {
  position:absolute;
  left:0px;
  top:35px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u34263_img.mouseOver {
}
#u34263.mouseOver {
}
#u34263_img.selected {
}
#u34263.selected {
}
#u34264 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u34265_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:40px;
}
#u34265 {
  position:absolute;
  left:0px;
  top:70px;
  width:171px;
  height:40px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u34265_img.mouseOver {
}
#u34265.mouseOver {
}
#u34265_img.selected {
}
#u34265.selected {
}
#u34266 {
  position:absolute;
  left:2px;
  top:11px;
  width:167px;
  word-wrap:break-word;
}
#u34267 {
  position:absolute;
  left:171px;
  top:315px;
  width:169px;
  height:175px;
  visibility:hidden;
}
#u34267_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:175px;
  height:181px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u34268 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:180px;
}
#u34269_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u34269 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u34269_img.mouseOver {
}
#u34269.mouseOver {
}
#u34269_img.selected {
}
#u34269.selected {
}
#u34270 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u34271_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u34271 {
  position:absolute;
  left:0px;
  top:35px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u34271_img.mouseOver {
}
#u34271.mouseOver {
}
#u34271_img.selected {
}
#u34271.selected {
}
#u34272 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u34273_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u34273 {
  position:absolute;
  left:0px;
  top:70px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u34273_img.mouseOver {
}
#u34273.mouseOver {
}
#u34273_img.selected {
}
#u34273.selected {
}
#u34274 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u34275_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u34275 {
  position:absolute;
  left:0px;
  top:105px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u34275_img.mouseOver {
}
#u34275.mouseOver {
}
#u34275_img.selected {
}
#u34275.selected {
}
#u34276 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u34277_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u34277 {
  position:absolute;
  left:0px;
  top:140px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u34277_img.mouseOver {
}
#u34277.mouseOver {
}
#u34277_img.selected {
}
#u34277.selected {
}
#u34278 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u34279 {
  position:absolute;
  left:171px;
  top:350px;
  width:171px;
  height:35px;
  visibility:hidden;
}
#u34279_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:41px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u34280 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
}
#u34281_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u34281 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u34281_img.mouseOver {
}
#u34281.mouseOver {
}
#u34281_img.selected {
}
#u34281.selected {
}
#u34282 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u34283 {
  position:absolute;
  left:171px;
  top:210px;
  width:171px;
  height:35px;
  visibility:hidden;
}
#u34283_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:41px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u34284 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
}
#u34285_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u34285 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u34285_img.mouseOver {
}
#u34285.mouseOver {
}
#u34285_img.selected {
}
#u34285.selected {
}
#u34286 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u34287 {
  position:absolute;
  left:171px;
  top:175px;
  width:171px;
  height:70px;
  visibility:hidden;
}
#u34287_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:76px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u34288 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:75px;
}
#u34289_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u34289 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u34289_img.mouseOver {
}
#u34289.mouseOver {
}
#u34289_img.selected {
}
#u34289.selected {
}
#u34290 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u34291_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u34291 {
  position:absolute;
  left:0px;
  top:35px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u34291_img.mouseOver {
}
#u34291.mouseOver {
}
#u34291_img.selected {
}
#u34291.selected {
}
#u34292 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u34293 {
  position:absolute;
  left:171px;
  top:140px;
  width:171px;
  height:70px;
  visibility:hidden;
}
#u34293_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:76px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u34294 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:75px;
}
#u34295_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u34295 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u34295_img.mouseOver {
}
#u34295.mouseOver {
}
#u34295_img.selected {
}
#u34295.selected {
}
#u34296 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u34297_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u34297 {
  position:absolute;
  left:0px;
  top:35px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u34297_img.mouseOver {
}
#u34297.mouseOver {
}
#u34297_img.selected {
}
#u34297.selected {
}
#u34298 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u34300_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:90px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34300 {
  position:absolute;
  left:0px;
  top:1090px;
  width:1280px;
  height:90px;
}
#u34301 {
  position:absolute;
  left:2px;
  top:37px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34302_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u34302 {
  position:absolute;
  left:35px;
  top:1117px;
  width:94px;
  height:37px;
  color:#FFFFFF;
}
#u34303 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u34304_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:38px;
}
#u34304 {
  position:absolute;
  left:1102px;
  top:1136px;
  width:170px;
  height:38px;
  font-size:16px;
  color:#FF0000;
}
#u34305 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u34306_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Medium', 'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
}
#u34306 {
  position:absolute;
  left:220px;
  top:150px;
  width:129px;
  height:38px;
  font-family:'STHeitiTC-Medium', 'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
}
#u34307 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u34308_div {
  position:absolute;
  left:0px;
  top:0px;
  width:761px;
  height:40px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u34308 {
  position:absolute;
  left:220px;
  top:724px;
  width:761px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u34309 {
  position:absolute;
  left:10px;
  top:10px;
  width:749px;
  word-wrap:break-word;
}
#u34310_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:17px;
}
#u34310 {
  position:absolute;
  left:981px;
  top:368px;
  width:170px;
  height:17px;
  font-size:15px;
  color:#FF0000;
  text-align:center;
}
#u34311 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u34312 {
  position:absolute;
  left:220px;
  top:764px;
  width:766px;
  height:213px;
}
#u34313_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:36px;
}
#u34313 {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:36px;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u34314 {
  position:absolute;
  left:2px;
  top:10px;
  width:128px;
  word-wrap:break-word;
}
#u34315_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:36px;
}
#u34315 {
  position:absolute;
  left:132px;
  top:0px;
  width:198px;
  height:36px;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u34316 {
  position:absolute;
  left:2px;
  top:10px;
  width:194px;
  word-wrap:break-word;
}
#u34317_img {
  position:absolute;
  left:0px;
  top:0px;
  width:431px;
  height:36px;
}
#u34317 {
  position:absolute;
  left:330px;
  top:0px;
  width:431px;
  height:36px;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u34318 {
  position:absolute;
  left:2px;
  top:10px;
  width:427px;
  word-wrap:break-word;
}
#u34319_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:40px;
}
#u34319 {
  position:absolute;
  left:0px;
  top:36px;
  width:132px;
  height:40px;
  color:#000000;
}
#u34320 {
  position:absolute;
  left:2px;
  top:12px;
  width:128px;
  word-wrap:break-word;
}
#u34321_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:40px;
}
#u34321 {
  position:absolute;
  left:132px;
  top:36px;
  width:198px;
  height:40px;
  font-size:14px;
  color:#000000;
}
#u34322 {
  position:absolute;
  left:2px;
  top:12px;
  width:194px;
  word-wrap:break-word;
}
#u34323_img {
  position:absolute;
  left:0px;
  top:0px;
  width:431px;
  height:40px;
}
#u34323 {
  position:absolute;
  left:330px;
  top:36px;
  width:431px;
  height:40px;
  font-size:14px;
}
#u34324 {
  position:absolute;
  left:2px;
  top:12px;
  width:427px;
  word-wrap:break-word;
}
#u34325_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:40px;
}
#u34325 {
  position:absolute;
  left:0px;
  top:76px;
  width:132px;
  height:40px;
  color:#000000;
}
#u34326 {
  position:absolute;
  left:2px;
  top:12px;
  width:128px;
  word-wrap:break-word;
}
#u34327_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:40px;
}
#u34327 {
  position:absolute;
  left:132px;
  top:76px;
  width:198px;
  height:40px;
  font-size:14px;
  color:#000000;
}
#u34328 {
  position:absolute;
  left:2px;
  top:12px;
  width:194px;
  word-wrap:break-word;
}
#u34329_img {
  position:absolute;
  left:0px;
  top:0px;
  width:431px;
  height:40px;
}
#u34329 {
  position:absolute;
  left:330px;
  top:76px;
  width:431px;
  height:40px;
  font-size:14px;
}
#u34330 {
  position:absolute;
  left:2px;
  top:12px;
  width:427px;
  word-wrap:break-word;
}
#u34331_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:40px;
}
#u34331 {
  position:absolute;
  left:0px;
  top:116px;
  width:132px;
  height:40px;
  color:#000000;
}
#u34332 {
  position:absolute;
  left:2px;
  top:12px;
  width:128px;
  word-wrap:break-word;
}
#u34333_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:40px;
}
#u34333 {
  position:absolute;
  left:132px;
  top:116px;
  width:198px;
  height:40px;
  font-size:14px;
}
#u34334 {
  position:absolute;
  left:2px;
  top:12px;
  width:194px;
  word-wrap:break-word;
}
#u34335_img {
  position:absolute;
  left:0px;
  top:0px;
  width:431px;
  height:40px;
}
#u34335 {
  position:absolute;
  left:330px;
  top:116px;
  width:431px;
  height:40px;
  font-size:14px;
  text-align:left;
}
#u34336 {
  position:absolute;
  left:2px;
  top:12px;
  width:427px;
  word-wrap:break-word;
}
#u34337_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:52px;
}
#u34337 {
  position:absolute;
  left:0px;
  top:156px;
  width:132px;
  height:52px;
  color:#000000;
}
#u34338 {
  position:absolute;
  left:2px;
  top:18px;
  width:128px;
  word-wrap:break-word;
}
#u34339_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:52px;
}
#u34339 {
  position:absolute;
  left:132px;
  top:156px;
  width:198px;
  height:52px;
  font-size:14px;
}
#u34340 {
  position:absolute;
  left:2px;
  top:18px;
  width:194px;
  word-wrap:break-word;
}
#u34341_img {
  position:absolute;
  left:0px;
  top:0px;
  width:431px;
  height:52px;
}
#u34341 {
  position:absolute;
  left:330px;
  top:156px;
  width:431px;
  height:52px;
  font-size:14px;
  text-align:left;
}
#u34342 {
  position:absolute;
  left:2px;
  top:18px;
  width:427px;
  word-wrap:break-word;
}
#u34343_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u34343 {
  position:absolute;
  left:551px;
  top:1022px;
  width:100px;
  height:30px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u34343_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u34343.mouseOver {
}
#u34344 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u34345_div {
  position:absolute;
  left:0px;
  top:0px;
  width:761px;
  height:40px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u34345 {
  position:absolute;
  left:220px;
  top:540px;
  width:761px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u34346 {
  position:absolute;
  left:10px;
  top:10px;
  width:749px;
  word-wrap:break-word;
}
#u34347 {
  position:absolute;
  left:220px;
  top:579px;
  width:766px;
  height:121px;
}
#u34348_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:36px;
}
#u34348 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:36px;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u34349 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u34350_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:36px;
}
#u34350 {
  position:absolute;
  left:140px;
  top:0px;
  width:161px;
  height:36px;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u34351 {
  position:absolute;
  left:2px;
  top:10px;
  width:157px;
  word-wrap:break-word;
}
#u34352_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:36px;
}
#u34352 {
  position:absolute;
  left:301px;
  top:0px;
  width:125px;
  height:36px;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u34353 {
  position:absolute;
  left:2px;
  top:10px;
  width:121px;
  word-wrap:break-word;
}
#u34354_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:36px;
}
#u34354 {
  position:absolute;
  left:426px;
  top:0px;
  width:335px;
  height:36px;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u34355 {
  position:absolute;
  left:2px;
  top:10px;
  width:331px;
  word-wrap:break-word;
}
#u34356_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u34356 {
  position:absolute;
  left:0px;
  top:36px;
  width:140px;
  height:40px;
}
#u34357 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u34358_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:40px;
}
#u34358 {
  position:absolute;
  left:140px;
  top:36px;
  width:161px;
  height:40px;
  font-size:14px;
}
#u34359 {
  position:absolute;
  left:2px;
  top:12px;
  width:157px;
  word-wrap:break-word;
}
#u34360_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:40px;
}
#u34360 {
  position:absolute;
  left:301px;
  top:36px;
  width:125px;
  height:40px;
  font-size:14px;
}
#u34361 {
  position:absolute;
  left:2px;
  top:12px;
  width:121px;
  word-wrap:break-word;
}
#u34362_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:40px;
}
#u34362 {
  position:absolute;
  left:426px;
  top:36px;
  width:335px;
  height:40px;
}
#u34363 {
  position:absolute;
  left:2px;
  top:12px;
  width:331px;
  word-wrap:break-word;
}
#u34364_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u34364 {
  position:absolute;
  left:0px;
  top:76px;
  width:140px;
  height:40px;
}
#u34365 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u34366_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:40px;
}
#u34366 {
  position:absolute;
  left:140px;
  top:76px;
  width:161px;
  height:40px;
  font-size:14px;
}
#u34367 {
  position:absolute;
  left:2px;
  top:12px;
  width:157px;
  word-wrap:break-word;
}
#u34368_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:40px;
}
#u34368 {
  position:absolute;
  left:301px;
  top:76px;
  width:125px;
  height:40px;
  font-size:14px;
}
#u34369 {
  position:absolute;
  left:2px;
  top:12px;
  width:121px;
  word-wrap:break-word;
}
#u34370_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:40px;
}
#u34370 {
  position:absolute;
  left:426px;
  top:76px;
  width:335px;
  height:40px;
}
#u34371 {
  position:absolute;
  left:2px;
  top:12px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34372 {
  position:absolute;
  left:220px;
  top:248px;
  width:766px;
  height:271px;
}
#u34373_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:40px;
}
#u34373 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u34374 {
  position:absolute;
  left:10px;
  top:12px;
  width:113px;
  word-wrap:break-word;
}
#u34375_img {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:40px;
}
#u34375 {
  position:absolute;
  left:125px;
  top:0px;
  width:295px;
  height:40px;
  font-size:14px;
}
#u34376 {
  position:absolute;
  left:10px;
  top:4px;
  width:283px;
  word-wrap:break-word;
}
#u34377_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:40px;
}
#u34377 {
  position:absolute;
  left:420px;
  top:0px;
  width:125px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u34378 {
  position:absolute;
  left:10px;
  top:12px;
  width:113px;
  word-wrap:break-word;
}
#u34379_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:40px;
}
#u34379 {
  position:absolute;
  left:545px;
  top:0px;
  width:216px;
  height:40px;
}
#u34380 {
  position:absolute;
  left:10px;
  top:12px;
  width:204px;
  word-wrap:break-word;
}
#u34381_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:40px;
}
#u34381 {
  position:absolute;
  left:0px;
  top:40px;
  width:125px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u34382 {
  position:absolute;
  left:10px;
  top:12px;
  width:113px;
  word-wrap:break-word;
}
#u34383_img {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:40px;
}
#u34383 {
  position:absolute;
  left:125px;
  top:40px;
  width:295px;
  height:40px;
  font-size:14px;
  text-align:left;
}
#u34384 {
  position:absolute;
  left:10px;
  top:12px;
  width:283px;
  word-wrap:break-word;
}
#u34385_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:40px;
}
#u34385 {
  position:absolute;
  left:420px;
  top:40px;
  width:125px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u34386 {
  position:absolute;
  left:10px;
  top:12px;
  width:113px;
  word-wrap:break-word;
}
#u34387_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:40px;
}
#u34387 {
  position:absolute;
  left:545px;
  top:40px;
  width:216px;
  height:40px;
  font-size:14px;
}
#u34388 {
  position:absolute;
  left:10px;
  top:12px;
  width:204px;
  word-wrap:break-word;
}
#u34389_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:68px;
}
#u34389 {
  position:absolute;
  left:0px;
  top:80px;
  width:125px;
  height:68px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u34390 {
  position:absolute;
  left:10px;
  top:26px;
  width:113px;
  word-wrap:break-word;
}
#u34391_img {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:68px;
}
#u34391 {
  position:absolute;
  left:125px;
  top:80px;
  width:295px;
  height:68px;
  font-size:14px;
  text-align:left;
}
#u34392 {
  position:absolute;
  left:10px;
  top:10px;
  width:283px;
  word-wrap:break-word;
}
#u34393_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:68px;
}
#u34393 {
  position:absolute;
  left:420px;
  top:80px;
  width:125px;
  height:68px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u34394 {
  position:absolute;
  left:10px;
  top:26px;
  width:113px;
  word-wrap:break-word;
}
#u34395_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:68px;
}
#u34395 {
  position:absolute;
  left:545px;
  top:80px;
  width:216px;
  height:68px;
}
#u34396 {
  position:absolute;
  left:10px;
  top:26px;
  width:204px;
  word-wrap:break-word;
}
#u34397_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:40px;
}
#u34397 {
  position:absolute;
  left:0px;
  top:148px;
  width:125px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u34398 {
  position:absolute;
  left:10px;
  top:12px;
  width:113px;
  word-wrap:break-word;
}
#u34399_img {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:40px;
}
#u34399 {
  position:absolute;
  left:125px;
  top:148px;
  width:295px;
  height:40px;
  font-size:14px;
}
#u34400 {
  position:absolute;
  left:10px;
  top:12px;
  width:283px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34401_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:40px;
}
#u34401 {
  position:absolute;
  left:420px;
  top:148px;
  width:125px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u34402 {
  position:absolute;
  left:10px;
  top:12px;
  width:113px;
  word-wrap:break-word;
}
#u34403_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:40px;
}
#u34403 {
  position:absolute;
  left:545px;
  top:148px;
  width:216px;
  height:40px;
  font-size:14px;
}
#u34404 {
  position:absolute;
  left:10px;
  top:12px;
  width:204px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34405_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:78px;
}
#u34405 {
  position:absolute;
  left:0px;
  top:188px;
  width:125px;
  height:78px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u34406 {
  position:absolute;
  left:10px;
  top:30px;
  width:113px;
  word-wrap:break-word;
}
#u34407_img {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:78px;
}
#u34407 {
  position:absolute;
  left:125px;
  top:188px;
  width:295px;
  height:78px;
  font-size:14px;
}
#u34408 {
  position:absolute;
  left:10px;
  top:23px;
  width:283px;
  word-wrap:break-word;
}
#u34409_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:78px;
}
#u34409 {
  position:absolute;
  left:420px;
  top:188px;
  width:125px;
  height:78px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u34410 {
  position:absolute;
  left:10px;
  top:31px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34411_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:78px;
}
#u34411 {
  position:absolute;
  left:545px;
  top:188px;
  width:216px;
  height:78px;
  font-size:14px;
}
#u34412 {
  position:absolute;
  left:10px;
  top:31px;
  width:204px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34413_div {
  position:absolute;
  left:0px;
  top:0px;
  width:761px;
  height:40px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u34413 {
  position:absolute;
  left:220px;
  top:208px;
  width:761px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u34414 {
  position:absolute;
  left:10px;
  top:10px;
  width:749px;
  word-wrap:break-word;
}
