body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u34338_div {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:1010px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34338 {
  position:absolute;
  left:0px;
  top:109px;
  width:191px;
  height:1010px;
}
#u34339 {
  position:absolute;
  left:2px;
  top:497px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34341_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:110px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34341 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:110px;
}
#u34342 {
  position:absolute;
  left:2px;
  top:47px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34343 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u34344_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
}
#u34344 {
  position:absolute;
  left:1061px;
  top:30px;
  width:129px;
  height:17px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
}
#u34345 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u34346_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
}
#u34346 {
  position:absolute;
  left:1197px;
  top:30px;
  width:39px;
  height:17px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
}
#u34347 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u34348_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:11px;
}
#u34348 {
  position:absolute;
  left:1188px;
  top:34px;
  width:1px;
  height:10px;
}
#u34349 {
  position:absolute;
  left:2px;
  top:-3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34350_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Rounded MT Bold';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u34350 {
  position:absolute;
  left:20px;
  top:30px;
  width:144px;
  height:55px;
  font-family:'Arial Rounded MT Bold';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u34351 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u34352 {
  position:absolute;
  left:1025px;
  top:24px;
  width:26px;
  height:30px;
}
#u34352_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:32px;
  height:36px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u34353 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:35px;
}
#u34354_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:30px;
}
#u34354 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:30px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
  text-align:center;
}
#u34354_img.selected {
}
#u34354.selected {
}
#u34355 {
  position:absolute;
  left:2px;
  top:6px;
  width:22px;
  word-wrap:break-word;
}
#u34356 {
  position:absolute;
  left:0px;
  top:30px;
  width:88px;
  height:139px;
  visibility:hidden;
}
#u34356_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:94px;
  height:145px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u34357 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:144px;
}
#u34358_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:34px;
}
#u34358 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:34px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u34358_img.selected {
}
#u34358.selected {
}
#u34359 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u34360_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u34360 {
  position:absolute;
  left:0px;
  top:34px;
  width:88px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u34360_img.selected {
}
#u34360.selected {
}
#u34361 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u34362_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u34362 {
  position:absolute;
  left:0px;
  top:69px;
  width:88px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u34362_img.selected {
}
#u34362.selected {
}
#u34363 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u34364_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u34364 {
  position:absolute;
  left:0px;
  top:104px;
  width:88px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u34364_img.selected {
}
#u34364.selected {
}
#u34365 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u34366_img {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:25px;
}
#u34366 {
  position:absolute;
  left:396px;
  top:34px;
  width:284px;
  height:25px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
  text-align:left;
}
#u34367 {
  position:absolute;
  left:2px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
#u34369 {
  position:absolute;
  left:11px;
  top:130px;
  width:171px;
  height:385px;
}
#u34369_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:391px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u34370 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:390px;
}
#u34371_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:32px;
}
#u34371 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:32px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u34371_img.mouseOver {
}
#u34371.mouseOver {
}
#u34371_img.selected {
}
#u34371.selected {
}
#u34372 {
  position:absolute;
  left:2px;
  top:7px;
  width:167px;
  word-wrap:break-word;
}
#u34373_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:38px;
}
#u34373 {
  position:absolute;
  left:0px;
  top:32px;
  width:171px;
  height:38px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u34373_img.mouseOver {
}
#u34373.mouseOver {
}
#u34373_img.selected {
}
#u34373.selected {
}
#u34374 {
  position:absolute;
  left:2px;
  top:10px;
  width:167px;
  word-wrap:break-word;
}
#u34375_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u34375 {
  position:absolute;
  left:0px;
  top:70px;
  width:171px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u34375_img.mouseOver {
}
#u34375.mouseOver {
}
#u34375_img.selected {
}
#u34375.selected {
}
#u34376 {
  position:absolute;
  left:2px;
  top:9px;
  width:167px;
  word-wrap:break-word;
}
#u34377_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u34377 {
  position:absolute;
  left:0px;
  top:105px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u34377_img.mouseOver {
}
#u34377.mouseOver {
}
#u34377_img.selected {
}
#u34377.selected {
}
#u34378 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u34379_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u34379 {
  position:absolute;
  left:0px;
  top:140px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u34379_img.mouseOver {
}
#u34379.mouseOver {
}
#u34379_img.selected {
}
#u34379.selected {
}
#u34380 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u34381_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u34381 {
  position:absolute;
  left:0px;
  top:175px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u34381_img.mouseOver {
}
#u34381.mouseOver {
}
#u34381_img.selected {
}
#u34381.selected {
}
#u34382 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u34383_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u34383 {
  position:absolute;
  left:0px;
  top:210px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u34383_img.mouseOver {
}
#u34383.mouseOver {
}
#u34383_img.selected {
}
#u34383.selected {
}
#u34384 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u34385_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u34385 {
  position:absolute;
  left:0px;
  top:245px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u34385_img.mouseOver {
}
#u34385.mouseOver {
}
#u34385_img.selected {
}
#u34385.selected {
}
#u34386 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u34387_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u34387 {
  position:absolute;
  left:0px;
  top:280px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u34387_img.mouseOver {
}
#u34387.mouseOver {
}
#u34387_img.selected {
}
#u34387.selected {
}
#u34388 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u34389_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u34389 {
  position:absolute;
  left:0px;
  top:315px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u34389_img.mouseOver {
}
#u34389.mouseOver {
}
#u34389_img.selected {
}
#u34389.selected {
}
#u34390 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u34391_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u34391 {
  position:absolute;
  left:0px;
  top:350px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u34391_img.mouseOver {
}
#u34391.mouseOver {
}
#u34391_img.selected {
}
#u34391.selected {
}
#u34392 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u34393 {
  position:absolute;
  left:171px;
  top:245px;
  width:171px;
  height:35px;
  visibility:hidden;
}
#u34393_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:41px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u34394 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
}
#u34395_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u34395 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u34395_img.mouseOver {
}
#u34395.mouseOver {
}
#u34395_img.selected {
}
#u34395.selected {
}
#u34396 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u34397 {
  position:absolute;
  left:171px;
  top:105px;
  width:202px;
  height:112px;
  visibility:hidden;
}
#u34397_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:208px;
  height:118px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u34398 {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:117px;
}
#u34399_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:36px;
}
#u34399 {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:36px;
  font-size:15px;
  color:#000000;
  text-align:center;
}
#u34399_img.mouseOver {
}
#u34399.mouseOver {
}
#u34399_img.selected {
}
#u34399.selected {
}
#u34400 {
  position:absolute;
  left:2px;
  top:10px;
  width:198px;
  word-wrap:break-word;
}
#u34401_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:38px;
}
#u34401 {
  position:absolute;
  left:0px;
  top:36px;
  width:202px;
  height:38px;
  font-size:15px;
  color:#000000;
  text-align:center;
}
#u34401_img.mouseOver {
}
#u34401.mouseOver {
}
#u34401_img.selected {
}
#u34401.selected {
}
#u34402 {
  position:absolute;
  left:2px;
  top:10px;
  width:198px;
  word-wrap:break-word;
}
#u34403_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:38px;
}
#u34403 {
  position:absolute;
  left:0px;
  top:74px;
  width:202px;
  height:38px;
  font-size:15px;
  color:#000000;
  text-align:center;
}
#u34403_img.mouseOver {
}
#u34403.mouseOver {
}
#u34403_img.selected {
}
#u34403.selected {
}
#u34404 {
  position:absolute;
  left:2px;
  top:10px;
  width:198px;
  word-wrap:break-word;
}
#u34405 {
  position:absolute;
  left:171px;
  top:32px;
  width:150px;
  height:175px;
  visibility:hidden;
}
#u34405_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:156px;
  height:181px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u34406 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:180px;
}
#u34407_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u34407 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u34407_img.mouseOver {
}
#u34407.mouseOver {
}
#u34407_img.selected {
}
#u34407.selected {
}
#u34408 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u34409_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u34409 {
  position:absolute;
  left:0px;
  top:35px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u34409_img.mouseOver {
}
#u34409.mouseOver {
}
#u34409_img.selected {
}
#u34409.selected {
}
#u34410 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u34411_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u34411 {
  position:absolute;
  left:0px;
  top:70px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u34411_img.mouseOver {
}
#u34411.mouseOver {
}
#u34411_img.selected {
}
#u34411.selected {
}
#u34412 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u34413_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u34413 {
  position:absolute;
  left:0px;
  top:105px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u34413_img.mouseOver {
}
#u34413.mouseOver {
}
#u34413_img.selected {
}
#u34413.selected {
}
#u34414 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u34415_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u34415 {
  position:absolute;
  left:0px;
  top:140px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u34415_img.mouseOver {
}
#u34415.mouseOver {
}
#u34415_img.selected {
}
#u34415.selected {
}
#u34416 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u34417 {
  position:absolute;
  left:171px;
  top:70px;
  width:171px;
  height:35px;
  visibility:hidden;
}
#u34417_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:41px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u34418 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
}
#u34419_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u34419 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u34419_img.mouseOver {
}
#u34419.mouseOver {
}
#u34419_img.selected {
}
#u34419.selected {
}
#u34420 {
  position:absolute;
  left:2px;
  top:9px;
  width:167px;
  word-wrap:break-word;
}
#u34421 {
  position:absolute;
  left:171px;
  top:280px;
  width:171px;
  height:110px;
  visibility:hidden;
}
#u34421_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:116px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u34422 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:115px;
}
#u34423_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u34423 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u34423_img.mouseOver {
}
#u34423.mouseOver {
}
#u34423_img.selected {
}
#u34423.selected {
}
#u34424 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u34425_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u34425 {
  position:absolute;
  left:0px;
  top:35px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u34425_img.mouseOver {
}
#u34425.mouseOver {
}
#u34425_img.selected {
}
#u34425.selected {
}
#u34426 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u34427_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:40px;
}
#u34427 {
  position:absolute;
  left:0px;
  top:70px;
  width:171px;
  height:40px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u34427_img.mouseOver {
}
#u34427.mouseOver {
}
#u34427_img.selected {
}
#u34427.selected {
}
#u34428 {
  position:absolute;
  left:2px;
  top:11px;
  width:167px;
  word-wrap:break-word;
}
#u34429 {
  position:absolute;
  left:171px;
  top:315px;
  width:169px;
  height:210px;
  visibility:hidden;
}
#u34429_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:175px;
  height:216px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u34430 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:215px;
}
#u34431_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u34431 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u34431_img.mouseOver {
}
#u34431.mouseOver {
}
#u34431_img.selected {
}
#u34431.selected {
}
#u34432 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u34433_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u34433 {
  position:absolute;
  left:0px;
  top:35px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u34433_img.mouseOver {
}
#u34433.mouseOver {
}
#u34433_img.selected {
}
#u34433.selected {
}
#u34434 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u34435_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u34435 {
  position:absolute;
  left:0px;
  top:70px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u34435_img.mouseOver {
}
#u34435.mouseOver {
}
#u34435_img.selected {
}
#u34435.selected {
}
#u34436 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u34437_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u34437 {
  position:absolute;
  left:0px;
  top:105px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u34437_img.mouseOver {
}
#u34437.mouseOver {
}
#u34437_img.selected {
}
#u34437.selected {
}
#u34438 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u34439_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u34439 {
  position:absolute;
  left:0px;
  top:140px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u34439_img.mouseOver {
}
#u34439.mouseOver {
}
#u34439_img.selected {
}
#u34439.selected {
}
#u34440 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u34441_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u34441 {
  position:absolute;
  left:0px;
  top:175px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u34441_img.mouseOver {
}
#u34441.mouseOver {
}
#u34441_img.selected {
}
#u34441.selected {
}
#u34442 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u34443 {
  position:absolute;
  left:171px;
  top:350px;
  width:171px;
  height:35px;
  visibility:hidden;
}
#u34443_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:41px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u34444 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
}
#u34445_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u34445 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u34445_img.mouseOver {
}
#u34445.mouseOver {
}
#u34445_img.selected {
}
#u34445.selected {
}
#u34446 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u34447 {
  position:absolute;
  left:171px;
  top:210px;
  width:171px;
  height:35px;
  visibility:hidden;
}
#u34447_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:41px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u34448 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
}
#u34449_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u34449 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u34449_img.mouseOver {
}
#u34449.mouseOver {
}
#u34449_img.selected {
}
#u34449.selected {
}
#u34450 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u34451 {
  position:absolute;
  left:171px;
  top:175px;
  width:171px;
  height:70px;
  visibility:hidden;
}
#u34451_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:76px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u34452 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:75px;
}
#u34453_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u34453 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u34453_img.mouseOver {
}
#u34453.mouseOver {
}
#u34453_img.selected {
}
#u34453.selected {
}
#u34454 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u34455_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u34455 {
  position:absolute;
  left:0px;
  top:35px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u34455_img.mouseOver {
}
#u34455.mouseOver {
}
#u34455_img.selected {
}
#u34455.selected {
}
#u34456 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u34457 {
  position:absolute;
  left:171px;
  top:140px;
  width:171px;
  height:70px;
  visibility:hidden;
}
#u34457_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:76px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u34458 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:75px;
}
#u34459_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u34459 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u34459_img.mouseOver {
}
#u34459.mouseOver {
}
#u34459_img.selected {
}
#u34459.selected {
}
#u34460 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u34461_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u34461 {
  position:absolute;
  left:0px;
  top:35px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u34461_img.mouseOver {
}
#u34461.mouseOver {
}
#u34461_img.selected {
}
#u34461.selected {
}
#u34462 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u34464_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:90px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34464 {
  position:absolute;
  left:0px;
  top:1090px;
  width:1280px;
  height:90px;
}
#u34465 {
  position:absolute;
  left:2px;
  top:37px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34466_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u34466 {
  position:absolute;
  left:35px;
  top:1117px;
  width:94px;
  height:37px;
  color:#FFFFFF;
}
#u34467 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u34468_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:38px;
}
#u34468 {
  position:absolute;
  left:1102px;
  top:1136px;
  width:170px;
  height:38px;
  font-size:16px;
  color:#FF0000;
}
#u34469 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u34470_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Medium', 'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
}
#u34470 {
  position:absolute;
  left:220px;
  top:150px;
  width:129px;
  height:38px;
  font-family:'STHeitiTC-Medium', 'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
}
#u34471 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u34472_div {
  position:absolute;
  left:0px;
  top:0px;
  width:761px;
  height:40px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u34472 {
  position:absolute;
  left:220px;
  top:724px;
  width:761px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u34473 {
  position:absolute;
  left:10px;
  top:10px;
  width:749px;
  word-wrap:break-word;
}
#u34474_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:17px;
}
#u34474 {
  position:absolute;
  left:981px;
  top:368px;
  width:170px;
  height:17px;
  font-size:15px;
  color:#FF0000;
  text-align:center;
}
#u34475 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u34476 {
  position:absolute;
  left:220px;
  top:764px;
  width:766px;
  height:213px;
}
#u34477_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:36px;
}
#u34477 {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:36px;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u34478 {
  position:absolute;
  left:2px;
  top:10px;
  width:128px;
  word-wrap:break-word;
}
#u34479_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:36px;
}
#u34479 {
  position:absolute;
  left:132px;
  top:0px;
  width:198px;
  height:36px;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u34480 {
  position:absolute;
  left:2px;
  top:10px;
  width:194px;
  word-wrap:break-word;
}
#u34481_img {
  position:absolute;
  left:0px;
  top:0px;
  width:431px;
  height:36px;
}
#u34481 {
  position:absolute;
  left:330px;
  top:0px;
  width:431px;
  height:36px;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u34482 {
  position:absolute;
  left:2px;
  top:10px;
  width:427px;
  word-wrap:break-word;
}
#u34483_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:40px;
}
#u34483 {
  position:absolute;
  left:0px;
  top:36px;
  width:132px;
  height:40px;
  color:#000000;
}
#u34484 {
  position:absolute;
  left:2px;
  top:12px;
  width:128px;
  word-wrap:break-word;
}
#u34485_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:40px;
}
#u34485 {
  position:absolute;
  left:132px;
  top:36px;
  width:198px;
  height:40px;
  font-size:14px;
  color:#000000;
}
#u34486 {
  position:absolute;
  left:2px;
  top:12px;
  width:194px;
  word-wrap:break-word;
}
#u34487_img {
  position:absolute;
  left:0px;
  top:0px;
  width:431px;
  height:40px;
}
#u34487 {
  position:absolute;
  left:330px;
  top:36px;
  width:431px;
  height:40px;
  font-size:14px;
}
#u34488 {
  position:absolute;
  left:2px;
  top:12px;
  width:427px;
  word-wrap:break-word;
}
#u34489_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:40px;
}
#u34489 {
  position:absolute;
  left:0px;
  top:76px;
  width:132px;
  height:40px;
  color:#000000;
}
#u34490 {
  position:absolute;
  left:2px;
  top:12px;
  width:128px;
  word-wrap:break-word;
}
#u34491_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:40px;
}
#u34491 {
  position:absolute;
  left:132px;
  top:76px;
  width:198px;
  height:40px;
  font-size:14px;
  color:#000000;
}
#u34492 {
  position:absolute;
  left:2px;
  top:12px;
  width:194px;
  word-wrap:break-word;
}
#u34493_img {
  position:absolute;
  left:0px;
  top:0px;
  width:431px;
  height:40px;
}
#u34493 {
  position:absolute;
  left:330px;
  top:76px;
  width:431px;
  height:40px;
  font-size:14px;
}
#u34494 {
  position:absolute;
  left:2px;
  top:12px;
  width:427px;
  word-wrap:break-word;
}
#u34495_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:40px;
}
#u34495 {
  position:absolute;
  left:0px;
  top:116px;
  width:132px;
  height:40px;
  color:#000000;
}
#u34496 {
  position:absolute;
  left:2px;
  top:12px;
  width:128px;
  word-wrap:break-word;
}
#u34497_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:40px;
}
#u34497 {
  position:absolute;
  left:132px;
  top:116px;
  width:198px;
  height:40px;
  font-size:14px;
}
#u34498 {
  position:absolute;
  left:2px;
  top:12px;
  width:194px;
  word-wrap:break-word;
}
#u34499_img {
  position:absolute;
  left:0px;
  top:0px;
  width:431px;
  height:40px;
}
#u34499 {
  position:absolute;
  left:330px;
  top:116px;
  width:431px;
  height:40px;
  font-size:14px;
  text-align:left;
}
#u34500 {
  position:absolute;
  left:2px;
  top:12px;
  width:427px;
  word-wrap:break-word;
}
#u34501_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:52px;
}
#u34501 {
  position:absolute;
  left:0px;
  top:156px;
  width:132px;
  height:52px;
  color:#000000;
}
#u34502 {
  position:absolute;
  left:2px;
  top:18px;
  width:128px;
  word-wrap:break-word;
}
#u34503_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:52px;
}
#u34503 {
  position:absolute;
  left:132px;
  top:156px;
  width:198px;
  height:52px;
  font-size:14px;
}
#u34504 {
  position:absolute;
  left:2px;
  top:18px;
  width:194px;
  word-wrap:break-word;
}
#u34505_img {
  position:absolute;
  left:0px;
  top:0px;
  width:431px;
  height:52px;
}
#u34505 {
  position:absolute;
  left:330px;
  top:156px;
  width:431px;
  height:52px;
  font-size:14px;
  text-align:left;
}
#u34506 {
  position:absolute;
  left:2px;
  top:18px;
  width:427px;
  word-wrap:break-word;
}
#u34507_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u34507 {
  position:absolute;
  left:551px;
  top:1022px;
  width:100px;
  height:30px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u34507_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u34507.mouseOver {
}
#u34508 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u34509_div {
  position:absolute;
  left:0px;
  top:0px;
  width:761px;
  height:40px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u34509 {
  position:absolute;
  left:220px;
  top:540px;
  width:761px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u34510 {
  position:absolute;
  left:10px;
  top:10px;
  width:749px;
  word-wrap:break-word;
}
#u34511 {
  position:absolute;
  left:220px;
  top:579px;
  width:766px;
  height:121px;
}
#u34512_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:36px;
}
#u34512 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:36px;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u34513 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u34514_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:36px;
}
#u34514 {
  position:absolute;
  left:140px;
  top:0px;
  width:161px;
  height:36px;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u34515 {
  position:absolute;
  left:2px;
  top:10px;
  width:157px;
  word-wrap:break-word;
}
#u34516_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:36px;
}
#u34516 {
  position:absolute;
  left:301px;
  top:0px;
  width:125px;
  height:36px;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u34517 {
  position:absolute;
  left:2px;
  top:10px;
  width:121px;
  word-wrap:break-word;
}
#u34518_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:36px;
}
#u34518 {
  position:absolute;
  left:426px;
  top:0px;
  width:335px;
  height:36px;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u34519 {
  position:absolute;
  left:2px;
  top:10px;
  width:331px;
  word-wrap:break-word;
}
#u34520_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u34520 {
  position:absolute;
  left:0px;
  top:36px;
  width:140px;
  height:40px;
}
#u34521 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u34522_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:40px;
}
#u34522 {
  position:absolute;
  left:140px;
  top:36px;
  width:161px;
  height:40px;
  font-size:14px;
}
#u34523 {
  position:absolute;
  left:2px;
  top:12px;
  width:157px;
  word-wrap:break-word;
}
#u34524_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:40px;
}
#u34524 {
  position:absolute;
  left:301px;
  top:36px;
  width:125px;
  height:40px;
  font-size:14px;
}
#u34525 {
  position:absolute;
  left:2px;
  top:12px;
  width:121px;
  word-wrap:break-word;
}
#u34526_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:40px;
}
#u34526 {
  position:absolute;
  left:426px;
  top:36px;
  width:335px;
  height:40px;
}
#u34527 {
  position:absolute;
  left:2px;
  top:12px;
  width:331px;
  word-wrap:break-word;
}
#u34528_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u34528 {
  position:absolute;
  left:0px;
  top:76px;
  width:140px;
  height:40px;
}
#u34529 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u34530_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:40px;
}
#u34530 {
  position:absolute;
  left:140px;
  top:76px;
  width:161px;
  height:40px;
  font-size:14px;
}
#u34531 {
  position:absolute;
  left:2px;
  top:12px;
  width:157px;
  word-wrap:break-word;
}
#u34532_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:40px;
}
#u34532 {
  position:absolute;
  left:301px;
  top:76px;
  width:125px;
  height:40px;
  font-size:14px;
}
#u34533 {
  position:absolute;
  left:2px;
  top:12px;
  width:121px;
  word-wrap:break-word;
}
#u34534_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:40px;
}
#u34534 {
  position:absolute;
  left:426px;
  top:76px;
  width:335px;
  height:40px;
}
#u34535 {
  position:absolute;
  left:2px;
  top:12px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34536 {
  position:absolute;
  left:220px;
  top:248px;
  width:766px;
  height:271px;
}
#u34537_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:40px;
}
#u34537 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u34538 {
  position:absolute;
  left:10px;
  top:12px;
  width:113px;
  word-wrap:break-word;
}
#u34539_img {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:40px;
}
#u34539 {
  position:absolute;
  left:125px;
  top:0px;
  width:295px;
  height:40px;
  font-size:14px;
}
#u34540 {
  position:absolute;
  left:10px;
  top:4px;
  width:283px;
  word-wrap:break-word;
}
#u34541_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:40px;
}
#u34541 {
  position:absolute;
  left:420px;
  top:0px;
  width:125px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u34542 {
  position:absolute;
  left:10px;
  top:12px;
  width:113px;
  word-wrap:break-word;
}
#u34543_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:40px;
}
#u34543 {
  position:absolute;
  left:545px;
  top:0px;
  width:216px;
  height:40px;
}
#u34544 {
  position:absolute;
  left:10px;
  top:12px;
  width:204px;
  word-wrap:break-word;
}
#u34545_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:40px;
}
#u34545 {
  position:absolute;
  left:0px;
  top:40px;
  width:125px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u34546 {
  position:absolute;
  left:10px;
  top:12px;
  width:113px;
  word-wrap:break-word;
}
#u34547_img {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:40px;
}
#u34547 {
  position:absolute;
  left:125px;
  top:40px;
  width:295px;
  height:40px;
  font-size:14px;
  text-align:left;
}
#u34548 {
  position:absolute;
  left:10px;
  top:12px;
  width:283px;
  word-wrap:break-word;
}
#u34549_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:40px;
}
#u34549 {
  position:absolute;
  left:420px;
  top:40px;
  width:125px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u34550 {
  position:absolute;
  left:10px;
  top:12px;
  width:113px;
  word-wrap:break-word;
}
#u34551_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:40px;
}
#u34551 {
  position:absolute;
  left:545px;
  top:40px;
  width:216px;
  height:40px;
  font-size:14px;
}
#u34552 {
  position:absolute;
  left:10px;
  top:12px;
  width:204px;
  word-wrap:break-word;
}
#u34553_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:68px;
}
#u34553 {
  position:absolute;
  left:0px;
  top:80px;
  width:125px;
  height:68px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u34554 {
  position:absolute;
  left:10px;
  top:26px;
  width:113px;
  word-wrap:break-word;
}
#u34555_img {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:68px;
}
#u34555 {
  position:absolute;
  left:125px;
  top:80px;
  width:295px;
  height:68px;
  font-size:14px;
  text-align:left;
}
#u34556 {
  position:absolute;
  left:10px;
  top:10px;
  width:283px;
  word-wrap:break-word;
}
#u34557_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:68px;
}
#u34557 {
  position:absolute;
  left:420px;
  top:80px;
  width:125px;
  height:68px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u34558 {
  position:absolute;
  left:10px;
  top:26px;
  width:113px;
  word-wrap:break-word;
}
#u34559_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:68px;
}
#u34559 {
  position:absolute;
  left:545px;
  top:80px;
  width:216px;
  height:68px;
}
#u34560 {
  position:absolute;
  left:10px;
  top:26px;
  width:204px;
  word-wrap:break-word;
}
#u34561_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:40px;
}
#u34561 {
  position:absolute;
  left:0px;
  top:148px;
  width:125px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u34562 {
  position:absolute;
  left:10px;
  top:12px;
  width:113px;
  word-wrap:break-word;
}
#u34563_img {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:40px;
}
#u34563 {
  position:absolute;
  left:125px;
  top:148px;
  width:295px;
  height:40px;
  font-size:14px;
}
#u34564 {
  position:absolute;
  left:10px;
  top:12px;
  width:283px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34565_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:40px;
}
#u34565 {
  position:absolute;
  left:420px;
  top:148px;
  width:125px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u34566 {
  position:absolute;
  left:10px;
  top:12px;
  width:113px;
  word-wrap:break-word;
}
#u34567_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:40px;
}
#u34567 {
  position:absolute;
  left:545px;
  top:148px;
  width:216px;
  height:40px;
  font-size:14px;
}
#u34568 {
  position:absolute;
  left:10px;
  top:12px;
  width:204px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34569_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:78px;
}
#u34569 {
  position:absolute;
  left:0px;
  top:188px;
  width:125px;
  height:78px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u34570 {
  position:absolute;
  left:10px;
  top:30px;
  width:113px;
  word-wrap:break-word;
}
#u34571_img {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:78px;
}
#u34571 {
  position:absolute;
  left:125px;
  top:188px;
  width:295px;
  height:78px;
  font-size:14px;
}
#u34572 {
  position:absolute;
  left:10px;
  top:23px;
  width:283px;
  word-wrap:break-word;
}
#u34573_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:78px;
}
#u34573 {
  position:absolute;
  left:420px;
  top:188px;
  width:125px;
  height:78px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u34574 {
  position:absolute;
  left:10px;
  top:31px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34575_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:78px;
}
#u34575 {
  position:absolute;
  left:545px;
  top:188px;
  width:216px;
  height:78px;
  font-size:14px;
}
#u34576 {
  position:absolute;
  left:10px;
  top:31px;
  width:204px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34577_div {
  position:absolute;
  left:0px;
  top:0px;
  width:761px;
  height:40px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u34577 {
  position:absolute;
  left:220px;
  top:208px;
  width:761px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u34578 {
  position:absolute;
  left:10px;
  top:10px;
  width:749px;
  word-wrap:break-word;
}
