body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1508px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u40871_div {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:1023px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40871 {
  position:absolute;
  left:0px;
  top:109px;
  width:191px;
  height:1023px;
}
#u40872 {
  position:absolute;
  left:2px;
  top:504px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40874_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:110px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40874 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:110px;
}
#u40875 {
  position:absolute;
  left:2px;
  top:47px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40876 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u40877_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
}
#u40877 {
  position:absolute;
  left:1061px;
  top:30px;
  width:129px;
  height:17px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
}
#u40878 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u40879_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
}
#u40879 {
  position:absolute;
  left:1197px;
  top:30px;
  width:39px;
  height:17px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
}
#u40880 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u40881_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:11px;
}
#u40881 {
  position:absolute;
  left:1188px;
  top:34px;
  width:1px;
  height:10px;
}
#u40882 {
  position:absolute;
  left:2px;
  top:-3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40883_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Rounded MT Bold';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u40883 {
  position:absolute;
  left:20px;
  top:30px;
  width:144px;
  height:55px;
  font-family:'Arial Rounded MT Bold';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u40884 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u40885 {
  position:absolute;
  left:1025px;
  top:24px;
  width:26px;
  height:30px;
}
#u40885_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:32px;
  height:36px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u40886 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:35px;
}
#u40887_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:30px;
}
#u40887 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:30px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
  text-align:center;
}
#u40887_img.selected {
}
#u40887.selected {
}
#u40888 {
  position:absolute;
  left:2px;
  top:6px;
  width:22px;
  word-wrap:break-word;
}
#u40889 {
  position:absolute;
  left:0px;
  top:30px;
  width:88px;
  height:139px;
  visibility:hidden;
}
#u40889_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:94px;
  height:145px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u40890 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:144px;
}
#u40891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:34px;
}
#u40891 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:34px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u40891_img.selected {
}
#u40891.selected {
}
#u40892 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u40893_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u40893 {
  position:absolute;
  left:0px;
  top:34px;
  width:88px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u40893_img.selected {
}
#u40893.selected {
}
#u40894 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u40895_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u40895 {
  position:absolute;
  left:0px;
  top:69px;
  width:88px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u40895_img.selected {
}
#u40895.selected {
}
#u40896 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u40897_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u40897 {
  position:absolute;
  left:0px;
  top:104px;
  width:88px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u40897_img.selected {
}
#u40897.selected {
}
#u40898 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u40899_img {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:25px;
}
#u40899 {
  position:absolute;
  left:396px;
  top:34px;
  width:284px;
  height:25px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
  text-align:left;
}
#u40900 {
  position:absolute;
  left:2px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
#u40902 {
  position:absolute;
  left:11px;
  top:130px;
  width:171px;
  height:385px;
}
#u40902_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:391px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u40903 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:390px;
}
#u40904_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:32px;
}
#u40904 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:32px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u40904_img.mouseOver {
}
#u40904.mouseOver {
}
#u40904_img.selected {
}
#u40904.selected {
}
#u40905 {
  position:absolute;
  left:2px;
  top:7px;
  width:167px;
  word-wrap:break-word;
}
#u40906_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:38px;
}
#u40906 {
  position:absolute;
  left:0px;
  top:32px;
  width:171px;
  height:38px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u40906_img.mouseOver {
}
#u40906.mouseOver {
}
#u40906_img.selected {
}
#u40906.selected {
}
#u40907 {
  position:absolute;
  left:2px;
  top:10px;
  width:167px;
  word-wrap:break-word;
}
#u40908_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u40908 {
  position:absolute;
  left:0px;
  top:70px;
  width:171px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u40908_img.mouseOver {
}
#u40908.mouseOver {
}
#u40908_img.selected {
}
#u40908.selected {
}
#u40909 {
  position:absolute;
  left:2px;
  top:9px;
  width:167px;
  word-wrap:break-word;
}
#u40910_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u40910 {
  position:absolute;
  left:0px;
  top:105px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u40910_img.mouseOver {
}
#u40910.mouseOver {
}
#u40910_img.selected {
}
#u40910.selected {
}
#u40911 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u40912_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u40912 {
  position:absolute;
  left:0px;
  top:140px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u40912_img.mouseOver {
}
#u40912.mouseOver {
}
#u40912_img.selected {
}
#u40912.selected {
}
#u40913 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u40914_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u40914 {
  position:absolute;
  left:0px;
  top:175px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u40914_img.mouseOver {
}
#u40914.mouseOver {
}
#u40914_img.selected {
}
#u40914.selected {
}
#u40915 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u40916_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u40916 {
  position:absolute;
  left:0px;
  top:210px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u40916_img.mouseOver {
}
#u40916.mouseOver {
}
#u40916_img.selected {
}
#u40916.selected {
}
#u40917 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u40918_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u40918 {
  position:absolute;
  left:0px;
  top:245px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u40918_img.mouseOver {
}
#u40918.mouseOver {
}
#u40918_img.selected {
}
#u40918.selected {
}
#u40919 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u40920_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u40920 {
  position:absolute;
  left:0px;
  top:280px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u40920_img.mouseOver {
}
#u40920.mouseOver {
}
#u40920_img.selected {
}
#u40920.selected {
}
#u40921 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u40922_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u40922 {
  position:absolute;
  left:0px;
  top:315px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u40922_img.mouseOver {
}
#u40922.mouseOver {
}
#u40922_img.selected {
}
#u40922.selected {
}
#u40923 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u40924_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u40924 {
  position:absolute;
  left:0px;
  top:350px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u40924_img.mouseOver {
}
#u40924.mouseOver {
}
#u40924_img.selected {
}
#u40924.selected {
}
#u40925 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u40926 {
  position:absolute;
  left:171px;
  top:245px;
  width:171px;
  height:70px;
  visibility:hidden;
}
#u40926_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:76px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u40927 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:75px;
}
#u40928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u40928 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u40928_img.mouseOver {
}
#u40928.mouseOver {
}
#u40928_img.selected {
}
#u40928.selected {
}
#u40929 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u40930_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u40930 {
  position:absolute;
  left:0px;
  top:35px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u40930_img.mouseOver {
}
#u40930.mouseOver {
}
#u40930_img.selected {
}
#u40930.selected {
}
#u40931 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u40932 {
  position:absolute;
  left:171px;
  top:105px;
  width:202px;
  height:74px;
  visibility:hidden;
}
#u40932_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:208px;
  height:80px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u40933 {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:79px;
}
#u40934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:36px;
}
#u40934 {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:36px;
  font-size:15px;
  color:#000000;
  text-align:center;
}
#u40934_img.mouseOver {
}
#u40934.mouseOver {
}
#u40934_img.selected {
}
#u40934.selected {
}
#u40935 {
  position:absolute;
  left:2px;
  top:10px;
  width:198px;
  word-wrap:break-word;
}
#u40936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:38px;
}
#u40936 {
  position:absolute;
  left:0px;
  top:36px;
  width:202px;
  height:38px;
  font-size:15px;
  color:#000000;
  text-align:center;
}
#u40936_img.mouseOver {
}
#u40936.mouseOver {
}
#u40936_img.selected {
}
#u40936.selected {
}
#u40937 {
  position:absolute;
  left:2px;
  top:10px;
  width:198px;
  word-wrap:break-word;
}
#u40938 {
  position:absolute;
  left:171px;
  top:32px;
  width:150px;
  height:175px;
  visibility:hidden;
}
#u40938_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:156px;
  height:181px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u40939 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:180px;
}
#u40940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u40940 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u40940_img.mouseOver {
}
#u40940.mouseOver {
}
#u40940_img.selected {
}
#u40940.selected {
}
#u40941 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u40942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u40942 {
  position:absolute;
  left:0px;
  top:35px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u40942_img.mouseOver {
}
#u40942.mouseOver {
}
#u40942_img.selected {
}
#u40942.selected {
}
#u40943 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u40944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u40944 {
  position:absolute;
  left:0px;
  top:70px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u40944_img.mouseOver {
}
#u40944.mouseOver {
}
#u40944_img.selected {
}
#u40944.selected {
}
#u40945 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u40946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u40946 {
  position:absolute;
  left:0px;
  top:105px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u40946_img.mouseOver {
}
#u40946.mouseOver {
}
#u40946_img.selected {
}
#u40946.selected {
}
#u40947 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u40948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u40948 {
  position:absolute;
  left:0px;
  top:140px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u40948_img.mouseOver {
}
#u40948.mouseOver {
}
#u40948_img.selected {
}
#u40948.selected {
}
#u40949 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u40950 {
  position:absolute;
  left:171px;
  top:70px;
  width:171px;
  height:35px;
  visibility:hidden;
}
#u40950_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:41px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u40951 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
}
#u40952_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u40952 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u40952_img.mouseOver {
}
#u40952.mouseOver {
}
#u40952_img.selected {
}
#u40952.selected {
}
#u40953 {
  position:absolute;
  left:2px;
  top:9px;
  width:167px;
  word-wrap:break-word;
}
#u40954 {
  position:absolute;
  left:171px;
  top:280px;
  width:171px;
  height:35px;
  visibility:hidden;
}
#u40954_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:41px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u40955 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
}
#u40956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u40956 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u40956_img.mouseOver {
}
#u40956.mouseOver {
}
#u40956_img.selected {
}
#u40956.selected {
}
#u40957 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u40958 {
  position:absolute;
  left:171px;
  top:315px;
  width:169px;
  height:140px;
  visibility:hidden;
}
#u40958_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:175px;
  height:146px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u40959 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:145px;
}
#u40960_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u40960 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u40960_img.mouseOver {
}
#u40960.mouseOver {
}
#u40960_img.selected {
}
#u40960.selected {
}
#u40961 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u40962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u40962 {
  position:absolute;
  left:0px;
  top:35px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u40962_img.mouseOver {
}
#u40962.mouseOver {
}
#u40962_img.selected {
}
#u40962.selected {
}
#u40963 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u40964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u40964 {
  position:absolute;
  left:0px;
  top:70px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u40964_img.mouseOver {
}
#u40964.mouseOver {
}
#u40964_img.selected {
}
#u40964.selected {
}
#u40965 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u40966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u40966 {
  position:absolute;
  left:0px;
  top:105px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u40966_img.mouseOver {
}
#u40966.mouseOver {
}
#u40966_img.selected {
}
#u40966.selected {
}
#u40967 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u40968 {
  position:absolute;
  left:171px;
  top:350px;
  width:171px;
  height:35px;
  visibility:hidden;
}
#u40968_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:41px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u40969 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
}
#u40970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u40970 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u40970_img.mouseOver {
}
#u40970.mouseOver {
}
#u40970_img.selected {
}
#u40970.selected {
}
#u40971 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u40972 {
  position:absolute;
  left:171px;
  top:210px;
  width:171px;
  height:35px;
  visibility:hidden;
}
#u40972_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:41px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u40973 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
}
#u40974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u40974 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u40974_img.mouseOver {
}
#u40974.mouseOver {
}
#u40974_img.selected {
}
#u40974.selected {
}
#u40975 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u40976 {
  position:absolute;
  left:171px;
  top:175px;
  width:171px;
  height:70px;
  visibility:hidden;
}
#u40976_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:76px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u40977 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:75px;
}
#u40978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u40978 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u40978_img.mouseOver {
}
#u40978.mouseOver {
}
#u40978_img.selected {
}
#u40978.selected {
}
#u40979 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u40980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u40980 {
  position:absolute;
  left:0px;
  top:35px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u40980_img.mouseOver {
}
#u40980.mouseOver {
}
#u40980_img.selected {
}
#u40980.selected {
}
#u40981 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u40982 {
  position:absolute;
  left:171px;
  top:140px;
  width:171px;
  height:70px;
  visibility:hidden;
}
#u40982_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:76px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u40983 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:75px;
}
#u40984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u40984 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u40984_img.mouseOver {
}
#u40984.mouseOver {
}
#u40984_img.selected {
}
#u40984.selected {
}
#u40985 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u40986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u40986 {
  position:absolute;
  left:0px;
  top:35px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u40986_img.mouseOver {
}
#u40986.mouseOver {
}
#u40986_img.selected {
}
#u40986.selected {
}
#u40987 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u40989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:90px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40989 {
  position:absolute;
  left:0px;
  top:1140px;
  width:1280px;
  height:90px;
}
#u40990 {
  position:absolute;
  left:2px;
  top:37px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u40991 {
  position:absolute;
  left:35px;
  top:1167px;
  width:94px;
  height:37px;
  color:#FFFFFF;
}
#u40992 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u40993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:38px;
}
#u40993 {
  position:absolute;
  left:1092px;
  top:1186px;
  width:180px;
  height:38px;
  font-size:16px;
  color:#FF0000;
}
#u40994 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u40995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Medium', 'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
}
#u40995 {
  position:absolute;
  left:220px;
  top:150px;
  width:129px;
  height:38px;
  font-family:'STHeitiTC-Medium', 'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
}
#u40996 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u40997 {
  position:absolute;
  left:220px;
  top:240px;
  width:859px;
  height:165px;
}
#u40998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:40px;
}
#u40998 {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u40999 {
  position:absolute;
  left:10px;
  top:12px;
  width:155px;
  word-wrap:break-word;
}
#u41000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:40px;
}
#u41000 {
  position:absolute;
  left:167px;
  top:0px;
  width:233px;
  height:40px;
  font-size:15px;
  color:#666666;
}
#u41001 {
  position:absolute;
  left:10px;
  top:12px;
  width:221px;
  word-wrap:break-word;
}
#u41002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u41002 {
  position:absolute;
  left:400px;
  top:0px;
  width:200px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u41003 {
  position:absolute;
  left:10px;
  top:12px;
  width:188px;
  word-wrap:break-word;
}
#u41004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:40px;
}
#u41004 {
  position:absolute;
  left:600px;
  top:0px;
  width:254px;
  height:40px;
  font-size:15px;
  color:#666666;
}
#u41005 {
  position:absolute;
  left:10px;
  top:12px;
  width:242px;
  word-wrap:break-word;
}
#u41006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:40px;
}
#u41006 {
  position:absolute;
  left:0px;
  top:40px;
  width:167px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u41007 {
  position:absolute;
  left:10px;
  top:12px;
  width:155px;
  word-wrap:break-word;
}
#u41008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:40px;
}
#u41008 {
  position:absolute;
  left:167px;
  top:40px;
  width:233px;
  height:40px;
  color:#000000;
}
#u41009 {
  position:absolute;
  left:10px;
  top:12px;
  width:221px;
  word-wrap:break-word;
}
#u41010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u41010 {
  position:absolute;
  left:400px;
  top:40px;
  width:200px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u41011 {
  position:absolute;
  left:10px;
  top:12px;
  width:188px;
  word-wrap:break-word;
}
#u41012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:40px;
}
#u41012 {
  position:absolute;
  left:600px;
  top:40px;
  width:254px;
  height:40px;
}
#u41013 {
  position:absolute;
  left:10px;
  top:12px;
  width:242px;
  word-wrap:break-word;
}
#u41014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:40px;
}
#u41014 {
  position:absolute;
  left:0px;
  top:80px;
  width:167px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u41015 {
  position:absolute;
  left:10px;
  top:12px;
  width:155px;
  word-wrap:break-word;
}
#u41016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:40px;
}
#u41016 {
  position:absolute;
  left:167px;
  top:80px;
  width:233px;
  height:40px;
}
#u41017 {
  position:absolute;
  left:10px;
  top:12px;
  width:221px;
  word-wrap:break-word;
}
#u41018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u41018 {
  position:absolute;
  left:400px;
  top:80px;
  width:200px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u41019 {
  position:absolute;
  left:10px;
  top:12px;
  width:188px;
  word-wrap:break-word;
}
#u41020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:40px;
}
#u41020 {
  position:absolute;
  left:600px;
  top:80px;
  width:254px;
  height:40px;
}
#u41021 {
  position:absolute;
  left:10px;
  top:12px;
  width:242px;
  word-wrap:break-word;
}
#u41022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:40px;
}
#u41022 {
  position:absolute;
  left:0px;
  top:120px;
  width:167px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u41023 {
  position:absolute;
  left:10px;
  top:12px;
  width:155px;
  word-wrap:break-word;
}
#u41024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:40px;
}
#u41024 {
  position:absolute;
  left:167px;
  top:120px;
  width:233px;
  height:40px;
}
#u41025 {
  position:absolute;
  left:10px;
  top:12px;
  width:221px;
  word-wrap:break-word;
}
#u41026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u41026 {
  position:absolute;
  left:400px;
  top:120px;
  width:200px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u41027 {
  position:absolute;
  left:10px;
  top:12px;
  width:188px;
  word-wrap:break-word;
}
#u41028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:40px;
}
#u41028 {
  position:absolute;
  left:600px;
  top:120px;
  width:254px;
  height:40px;
}
#u41029 {
  position:absolute;
  left:10px;
  top:12px;
  width:242px;
  word-wrap:break-word;
}
#u41030_div {
  position:absolute;
  left:0px;
  top:0px;
  width:854px;
  height:40px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u41030 {
  position:absolute;
  left:220px;
  top:200px;
  width:854px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u41031 {
  position:absolute;
  left:10px;
  top:10px;
  width:842px;
  word-wrap:break-word;
}
#u41032 {
  position:absolute;
  left:220px;
  top:462px;
  width:859px;
  height:125px;
}
#u41033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:40px;
}
#u41033 {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u41034 {
  position:absolute;
  left:10px;
  top:12px;
  width:155px;
  word-wrap:break-word;
}
#u41035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:40px;
}
#u41035 {
  position:absolute;
  left:167px;
  top:0px;
  width:233px;
  height:40px;
}
#u41036 {
  position:absolute;
  left:10px;
  top:12px;
  width:221px;
  word-wrap:break-word;
}
#u41037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u41037 {
  position:absolute;
  left:400px;
  top:0px;
  width:200px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u41038 {
  position:absolute;
  left:10px;
  top:12px;
  width:188px;
  word-wrap:break-word;
}
#u41039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:40px;
}
#u41039 {
  position:absolute;
  left:600px;
  top:0px;
  width:254px;
  height:40px;
  font-size:14px;
}
#u41040 {
  position:absolute;
  left:10px;
  top:12px;
  width:242px;
  word-wrap:break-word;
}
#u41041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:40px;
}
#u41041 {
  position:absolute;
  left:0px;
  top:40px;
  width:167px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u41042 {
  position:absolute;
  left:10px;
  top:12px;
  width:155px;
  word-wrap:break-word;
}
#u41043_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:40px;
}
#u41043 {
  position:absolute;
  left:167px;
  top:40px;
  width:233px;
  height:40px;
  font-size:14px;
}
#u41044 {
  position:absolute;
  left:10px;
  top:12px;
  width:221px;
  word-wrap:break-word;
}
#u41045_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u41045 {
  position:absolute;
  left:400px;
  top:40px;
  width:200px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u41046 {
  position:absolute;
  left:10px;
  top:12px;
  width:188px;
  word-wrap:break-word;
}
#u41047_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:40px;
}
#u41047 {
  position:absolute;
  left:600px;
  top:40px;
  width:254px;
  height:40px;
  font-size:14px;
}
#u41048 {
  position:absolute;
  left:10px;
  top:12px;
  width:242px;
  word-wrap:break-word;
}
#u41049_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:40px;
}
#u41049 {
  position:absolute;
  left:0px;
  top:80px;
  width:167px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u41050 {
  position:absolute;
  left:10px;
  top:12px;
  width:155px;
  word-wrap:break-word;
}
#u41051_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:40px;
}
#u41051 {
  position:absolute;
  left:167px;
  top:80px;
  width:233px;
  height:40px;
  font-size:14px;
}
#u41052 {
  position:absolute;
  left:10px;
  top:12px;
  width:221px;
  word-wrap:break-word;
}
#u41053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u41053 {
  position:absolute;
  left:400px;
  top:80px;
  width:200px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u41054 {
  position:absolute;
  left:10px;
  top:12px;
  width:188px;
  word-wrap:break-word;
}
#u41055_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:40px;
}
#u41055 {
  position:absolute;
  left:600px;
  top:80px;
  width:254px;
  height:40px;
  font-size:14px;
}
#u41056 {
  position:absolute;
  left:10px;
  top:12px;
  width:242px;
  word-wrap:break-word;
}
#u41057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:854px;
  height:40px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u41057 {
  position:absolute;
  left:220px;
  top:422px;
  width:854px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u41058 {
  position:absolute;
  left:10px;
  top:10px;
  width:842px;
  word-wrap:break-word;
}
#u41059_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u41059 {
  position:absolute;
  left:590px;
  top:1087px;
  width:100px;
  height:30px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u41059_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u41059.mouseOver {
}
#u41060 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u41061_div {
  position:absolute;
  left:0px;
  top:0px;
  width:854px;
  height:40px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u41061 {
  position:absolute;
  left:221px;
  top:610px;
  width:854px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u41062 {
  position:absolute;
  left:10px;
  top:10px;
  width:842px;
  word-wrap:break-word;
}
#u41063 {
  position:absolute;
  left:221px;
  top:649px;
  width:859px;
  height:222px;
}
#u41064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:40px;
}
#u41064 {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u41065 {
  position:absolute;
  left:10px;
  top:12px;
  width:155px;
  word-wrap:break-word;
}
#u41066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:40px;
}
#u41066 {
  position:absolute;
  left:167px;
  top:0px;
  width:233px;
  height:40px;
  color:#000000;
}
#u41067 {
  position:absolute;
  left:10px;
  top:12px;
  width:221px;
  word-wrap:break-word;
}
#u41068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u41068 {
  position:absolute;
  left:400px;
  top:0px;
  width:200px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u41069 {
  position:absolute;
  left:10px;
  top:12px;
  width:188px;
  word-wrap:break-word;
}
#u41070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:40px;
}
#u41070 {
  position:absolute;
  left:600px;
  top:0px;
  width:254px;
  height:40px;
}
#u41071 {
  position:absolute;
  left:10px;
  top:12px;
  width:242px;
  word-wrap:break-word;
}
#u41072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:40px;
}
#u41072 {
  position:absolute;
  left:0px;
  top:40px;
  width:167px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u41073 {
  position:absolute;
  left:10px;
  top:12px;
  width:155px;
  word-wrap:break-word;
}
#u41074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:40px;
}
#u41074 {
  position:absolute;
  left:167px;
  top:40px;
  width:233px;
  height:40px;
  font-size:14px;
}
#u41075 {
  position:absolute;
  left:10px;
  top:12px;
  width:221px;
  word-wrap:break-word;
}
#u41076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u41076 {
  position:absolute;
  left:400px;
  top:40px;
  width:200px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u41077 {
  position:absolute;
  left:10px;
  top:12px;
  width:188px;
  word-wrap:break-word;
}
#u41078_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:40px;
}
#u41078 {
  position:absolute;
  left:600px;
  top:40px;
  width:254px;
  height:40px;
  font-size:14px;
}
#u41079 {
  position:absolute;
  left:10px;
  top:12px;
  width:242px;
  word-wrap:break-word;
}
#u41080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:40px;
}
#u41080 {
  position:absolute;
  left:0px;
  top:80px;
  width:167px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u41081 {
  position:absolute;
  left:10px;
  top:12px;
  width:155px;
  word-wrap:break-word;
}
#u41082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:40px;
}
#u41082 {
  position:absolute;
  left:167px;
  top:80px;
  width:233px;
  height:40px;
  font-size:14px;
}
#u41083 {
  position:absolute;
  left:10px;
  top:12px;
  width:221px;
  word-wrap:break-word;
}
#u41084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u41084 {
  position:absolute;
  left:400px;
  top:80px;
  width:200px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u41085 {
  position:absolute;
  left:10px;
  top:12px;
  width:188px;
  word-wrap:break-word;
}
#u41086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:40px;
}
#u41086 {
  position:absolute;
  left:600px;
  top:80px;
  width:254px;
  height:40px;
  font-size:14px;
}
#u41087 {
  position:absolute;
  left:10px;
  top:12px;
  width:242px;
  word-wrap:break-word;
}
#u41088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:40px;
}
#u41088 {
  position:absolute;
  left:0px;
  top:120px;
  width:167px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u41089 {
  position:absolute;
  left:10px;
  top:12px;
  width:155px;
  word-wrap:break-word;
}
#u41090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:40px;
}
#u41090 {
  position:absolute;
  left:167px;
  top:120px;
  width:233px;
  height:40px;
  font-size:14px;
}
#u41091 {
  position:absolute;
  left:10px;
  top:12px;
  width:221px;
  word-wrap:break-word;
}
#u41092_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u41092 {
  position:absolute;
  left:400px;
  top:120px;
  width:200px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u41093 {
  position:absolute;
  left:10px;
  top:12px;
  width:188px;
  word-wrap:break-word;
}
#u41094_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:40px;
}
#u41094 {
  position:absolute;
  left:600px;
  top:120px;
  width:254px;
  height:40px;
  font-size:14px;
}
#u41095 {
  position:absolute;
  left:10px;
  top:12px;
  width:242px;
  word-wrap:break-word;
}
#u41096_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:57px;
}
#u41096 {
  position:absolute;
  left:0px;
  top:160px;
  width:167px;
  height:57px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u41097 {
  position:absolute;
  left:10px;
  top:20px;
  width:155px;
  word-wrap:break-word;
}
#u41098_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:57px;
}
#u41098 {
  position:absolute;
  left:167px;
  top:160px;
  width:233px;
  height:57px;
  color:#000000;
  text-align:left;
}
#u41099 {
  position:absolute;
  left:10px;
  top:20px;
  width:221px;
  word-wrap:break-word;
}
#u41100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:57px;
}
#u41100 {
  position:absolute;
  left:400px;
  top:160px;
  width:200px;
  height:57px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u41101 {
  position:absolute;
  left:10px;
  top:20px;
  width:188px;
  word-wrap:break-word;
}
#u41102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:57px;
}
#u41102 {
  position:absolute;
  left:600px;
  top:160px;
  width:254px;
  height:57px;
  font-size:14px;
}
#u41103 {
  position:absolute;
  left:10px;
  top:20px;
  width:242px;
  word-wrap:break-word;
}
#u41104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:28px;
}
#u41104 {
  position:absolute;
  left:998px;
  top:699px;
  width:166px;
  height:28px;
  color:#FF0000;
}
#u41105 {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  word-wrap:break-word;
}
#u41106_div {
  position:absolute;
  left:0px;
  top:0px;
  width:861px;
  height:40px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u41106 {
  position:absolute;
  left:221px;
  top:916px;
  width:861px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u41107 {
  position:absolute;
  left:10px;
  top:10px;
  width:849px;
  word-wrap:break-word;
}
#u41108 {
  position:absolute;
  left:221px;
  top:955px;
  width:866px;
  height:89px;
}
#u41109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:42px;
}
#u41109 {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:42px;
  font-size:14px;
  color:#FFFFFF;
}
#u41110 {
  position:absolute;
  left:2px;
  top:13px;
  width:139px;
  word-wrap:break-word;
}
#u41111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:42px;
}
#u41111 {
  position:absolute;
  left:143px;
  top:0px;
  width:120px;
  height:42px;
  font-size:14px;
  color:#FFFFFF;
}
#u41112 {
  position:absolute;
  left:2px;
  top:13px;
  width:116px;
  word-wrap:break-word;
}
#u41113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:42px;
}
#u41113 {
  position:absolute;
  left:263px;
  top:0px;
  width:96px;
  height:42px;
  font-size:14px;
  color:#FFFFFF;
}
#u41114 {
  position:absolute;
  left:2px;
  top:13px;
  width:92px;
  word-wrap:break-word;
}
#u41115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:42px;
}
#u41115 {
  position:absolute;
  left:359px;
  top:0px;
  width:120px;
  height:42px;
  font-size:14px;
  color:#FFFFFF;
}
#u41116 {
  position:absolute;
  left:2px;
  top:13px;
  width:116px;
  word-wrap:break-word;
}
#u41117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:42px;
}
#u41117 {
  position:absolute;
  left:479px;
  top:0px;
  width:285px;
  height:42px;
  font-size:14px;
  color:#FFFFFF;
}
#u41118 {
  position:absolute;
  left:2px;
  top:13px;
  width:281px;
  word-wrap:break-word;
}
#u41119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:42px;
}
#u41119 {
  position:absolute;
  left:764px;
  top:0px;
  width:97px;
  height:42px;
  font-size:14px;
  color:#FFFFFF;
}
#u41120 {
  position:absolute;
  left:2px;
  top:13px;
  width:93px;
  word-wrap:break-word;
}
#u41121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:42px;
}
#u41121 {
  position:absolute;
  left:0px;
  top:42px;
  width:143px;
  height:42px;
  color:#000000;
}
#u41122 {
  position:absolute;
  left:2px;
  top:13px;
  width:139px;
  word-wrap:break-word;
}
#u41123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:42px;
}
#u41123 {
  position:absolute;
  left:143px;
  top:42px;
  width:120px;
  height:42px;
  font-size:14px;
}
#u41124 {
  position:absolute;
  left:2px;
  top:13px;
  width:116px;
  word-wrap:break-word;
}
#u41125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:42px;
}
#u41125 {
  position:absolute;
  left:263px;
  top:42px;
  width:96px;
  height:42px;
  font-size:14px;
}
#u41126 {
  position:absolute;
  left:2px;
  top:13px;
  width:92px;
  word-wrap:break-word;
}
#u41127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:42px;
}
#u41127 {
  position:absolute;
  left:359px;
  top:42px;
  width:120px;
  height:42px;
  font-size:14px;
}
#u41128 {
  position:absolute;
  left:2px;
  top:13px;
  width:116px;
  word-wrap:break-word;
}
#u41129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:42px;
}
#u41129 {
  position:absolute;
  left:479px;
  top:42px;
  width:285px;
  height:42px;
  font-size:14px;
}
#u41130 {
  position:absolute;
  left:2px;
  top:13px;
  width:281px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:42px;
}
#u41131 {
  position:absolute;
  left:764px;
  top:42px;
  width:97px;
  height:42px;
  font-size:14px;
}
#u41132 {
  position:absolute;
  left:2px;
  top:13px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41133 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u41134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
}
#u41134 {
  position:absolute;
  left:1004px;
  top:1017px;
  width:55px;
  height:22px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  color:#FFFFFF;
}
#u41134_img.mouseOver {
}
#u41134.mouseOver {
}
#u41135 {
  position:absolute;
  left:2px;
  top:3px;
  width:51px;
  word-wrap:break-word;
}
#u41136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:48px;
}
#u41136 {
  position:absolute;
  left:1091px;
  top:929px;
  width:417px;
  height:48px;
  color:#FF0000;
}
#u41137 {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  white-space:nowrap;
}
#u41138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
}
#u41138 {
  position:absolute;
  left:1034px;
  top:929px;
  width:25px;
  height:14px;
}
#u41139 {
  position:absolute;
  left:2px;
  top:-1px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:21px;
}
#u41140 {
  position:absolute;
  left:981px;
  top:554px;
  width:259px;
  height:21px;
  color:#FF0000;
}
#u41141 {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  word-wrap:break-word;
}
#u41142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:21px;
}
#u41142 {
  position:absolute;
  left:981px;
  top:828px;
  width:259px;
  height:21px;
  color:#FF0000;
}
#u41143 {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  word-wrap:break-word;
}
