body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1261px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u22311_div {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:1114px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22311 {
  position:absolute;
  left:0px;
  top:109px;
  width:191px;
  height:1114px;
}
#u22312 {
  position:absolute;
  left:2px;
  top:549px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22314_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:110px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22314 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:110px;
}
#u22315 {
  position:absolute;
  left:2px;
  top:47px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22316 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22317_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
}
#u22317 {
  position:absolute;
  left:1061px;
  top:30px;
  width:129px;
  height:17px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
}
#u22318 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u22319_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
}
#u22319 {
  position:absolute;
  left:1197px;
  top:30px;
  width:39px;
  height:17px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
}
#u22320 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u22321_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:11px;
}
#u22321 {
  position:absolute;
  left:1188px;
  top:34px;
  width:1px;
  height:10px;
}
#u22322 {
  position:absolute;
  left:2px;
  top:-3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22323_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Rounded MT Bold';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u22323 {
  position:absolute;
  left:20px;
  top:30px;
  width:144px;
  height:55px;
  font-family:'Arial Rounded MT Bold';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u22324 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u22325 {
  position:absolute;
  left:1025px;
  top:24px;
  width:26px;
  height:30px;
}
#u22325_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:32px;
  height:36px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u22326 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:35px;
}
#u22327_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:30px;
}
#u22327 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:30px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
  text-align:center;
}
#u22327_img.selected {
}
#u22327.selected {
}
#u22328 {
  position:absolute;
  left:2px;
  top:6px;
  width:22px;
  word-wrap:break-word;
}
#u22329 {
  position:absolute;
  left:0px;
  top:30px;
  width:88px;
  height:139px;
  visibility:hidden;
}
#u22329_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:94px;
  height:145px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u22330 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:144px;
}
#u22331_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:34px;
}
#u22331 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:34px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u22331_img.selected {
}
#u22331.selected {
}
#u22332 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u22333_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u22333 {
  position:absolute;
  left:0px;
  top:34px;
  width:88px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u22333_img.selected {
}
#u22333.selected {
}
#u22334 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u22335_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u22335 {
  position:absolute;
  left:0px;
  top:69px;
  width:88px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u22335_img.selected {
}
#u22335.selected {
}
#u22336 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u22337_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u22337 {
  position:absolute;
  left:0px;
  top:104px;
  width:88px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u22337_img.selected {
}
#u22337.selected {
}
#u22338 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u22339_img {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:25px;
}
#u22339 {
  position:absolute;
  left:396px;
  top:34px;
  width:284px;
  height:25px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
  text-align:left;
}
#u22340 {
  position:absolute;
  left:2px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
#u22342 {
  position:absolute;
  left:11px;
  top:130px;
  width:171px;
  height:385px;
}
#u22342_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:391px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u22343 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:390px;
}
#u22344_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:32px;
}
#u22344 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:32px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u22344_img.mouseOver {
}
#u22344.mouseOver {
}
#u22344_img.selected {
}
#u22344.selected {
}
#u22345 {
  position:absolute;
  left:2px;
  top:7px;
  width:167px;
  word-wrap:break-word;
}
#u22346_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:38px;
}
#u22346 {
  position:absolute;
  left:0px;
  top:32px;
  width:171px;
  height:38px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u22346_img.mouseOver {
}
#u22346.mouseOver {
}
#u22346_img.selected {
}
#u22346.selected {
}
#u22347 {
  position:absolute;
  left:2px;
  top:10px;
  width:167px;
  word-wrap:break-word;
}
#u22348_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u22348 {
  position:absolute;
  left:0px;
  top:70px;
  width:171px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u22348_img.mouseOver {
}
#u22348.mouseOver {
}
#u22348_img.selected {
}
#u22348.selected {
}
#u22349 {
  position:absolute;
  left:2px;
  top:9px;
  width:167px;
  word-wrap:break-word;
}
#u22350_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u22350 {
  position:absolute;
  left:0px;
  top:105px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u22350_img.mouseOver {
}
#u22350.mouseOver {
}
#u22350_img.selected {
}
#u22350.selected {
}
#u22351 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u22352_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u22352 {
  position:absolute;
  left:0px;
  top:140px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u22352_img.mouseOver {
}
#u22352.mouseOver {
}
#u22352_img.selected {
}
#u22352.selected {
}
#u22353 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u22354_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u22354 {
  position:absolute;
  left:0px;
  top:175px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u22354_img.mouseOver {
}
#u22354.mouseOver {
}
#u22354_img.selected {
}
#u22354.selected {
}
#u22355 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u22356_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u22356 {
  position:absolute;
  left:0px;
  top:210px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u22356_img.mouseOver {
}
#u22356.mouseOver {
}
#u22356_img.selected {
}
#u22356.selected {
}
#u22357 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u22358_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u22358 {
  position:absolute;
  left:0px;
  top:245px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u22358_img.mouseOver {
}
#u22358.mouseOver {
}
#u22358_img.selected {
}
#u22358.selected {
}
#u22359 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u22360_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u22360 {
  position:absolute;
  left:0px;
  top:280px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u22360_img.mouseOver {
}
#u22360.mouseOver {
}
#u22360_img.selected {
}
#u22360.selected {
}
#u22361 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u22362_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u22362 {
  position:absolute;
  left:0px;
  top:315px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u22362_img.mouseOver {
}
#u22362.mouseOver {
}
#u22362_img.selected {
}
#u22362.selected {
}
#u22363 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u22364_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u22364 {
  position:absolute;
  left:0px;
  top:350px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u22364_img.mouseOver {
}
#u22364.mouseOver {
}
#u22364_img.selected {
}
#u22364.selected {
}
#u22365 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u22366 {
  position:absolute;
  left:171px;
  top:245px;
  width:171px;
  height:35px;
  visibility:hidden;
}
#u22366_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:41px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u22367 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
}
#u22368_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u22368 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u22368_img.mouseOver {
}
#u22368.mouseOver {
}
#u22368_img.selected {
}
#u22368.selected {
}
#u22369 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u22370 {
  position:absolute;
  left:171px;
  top:105px;
  width:202px;
  height:112px;
  visibility:hidden;
}
#u22370_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:208px;
  height:118px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u22371 {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:117px;
}
#u22372_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:36px;
}
#u22372 {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:36px;
  font-size:15px;
  color:#000000;
  text-align:center;
}
#u22372_img.mouseOver {
}
#u22372.mouseOver {
}
#u22372_img.selected {
}
#u22372.selected {
}
#u22373 {
  position:absolute;
  left:2px;
  top:10px;
  width:198px;
  word-wrap:break-word;
}
#u22374_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:38px;
}
#u22374 {
  position:absolute;
  left:0px;
  top:36px;
  width:202px;
  height:38px;
  font-size:15px;
  color:#000000;
  text-align:center;
}
#u22374_img.mouseOver {
}
#u22374.mouseOver {
}
#u22374_img.selected {
}
#u22374.selected {
}
#u22375 {
  position:absolute;
  left:2px;
  top:10px;
  width:198px;
  word-wrap:break-word;
}
#u22376_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:38px;
}
#u22376 {
  position:absolute;
  left:0px;
  top:74px;
  width:202px;
  height:38px;
  font-size:15px;
  color:#000000;
  text-align:center;
}
#u22376_img.mouseOver {
}
#u22376.mouseOver {
}
#u22376_img.selected {
}
#u22376.selected {
}
#u22377 {
  position:absolute;
  left:2px;
  top:10px;
  width:198px;
  word-wrap:break-word;
}
#u22378 {
  position:absolute;
  left:171px;
  top:32px;
  width:150px;
  height:175px;
  visibility:hidden;
}
#u22378_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:156px;
  height:181px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u22379 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:180px;
}
#u22380_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u22380 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u22380_img.mouseOver {
}
#u22380.mouseOver {
}
#u22380_img.selected {
}
#u22380.selected {
}
#u22381 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u22382_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u22382 {
  position:absolute;
  left:0px;
  top:35px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u22382_img.mouseOver {
}
#u22382.mouseOver {
}
#u22382_img.selected {
}
#u22382.selected {
}
#u22383 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u22384_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u22384 {
  position:absolute;
  left:0px;
  top:70px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u22384_img.mouseOver {
}
#u22384.mouseOver {
}
#u22384_img.selected {
}
#u22384.selected {
}
#u22385 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u22386_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u22386 {
  position:absolute;
  left:0px;
  top:105px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u22386_img.mouseOver {
}
#u22386.mouseOver {
}
#u22386_img.selected {
}
#u22386.selected {
}
#u22387 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u22388_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u22388 {
  position:absolute;
  left:0px;
  top:140px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u22388_img.mouseOver {
}
#u22388.mouseOver {
}
#u22388_img.selected {
}
#u22388.selected {
}
#u22389 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u22390 {
  position:absolute;
  left:171px;
  top:70px;
  width:171px;
  height:35px;
  visibility:hidden;
}
#u22390_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:41px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u22391 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
}
#u22392_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u22392 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u22392_img.mouseOver {
}
#u22392.mouseOver {
}
#u22392_img.selected {
}
#u22392.selected {
}
#u22393 {
  position:absolute;
  left:2px;
  top:9px;
  width:167px;
  word-wrap:break-word;
}
#u22394 {
  position:absolute;
  left:171px;
  top:280px;
  width:171px;
  height:110px;
  visibility:hidden;
}
#u22394_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:116px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u22395 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:115px;
}
#u22396_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u22396 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u22396_img.mouseOver {
}
#u22396.mouseOver {
}
#u22396_img.selected {
}
#u22396.selected {
}
#u22397 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u22398_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u22398 {
  position:absolute;
  left:0px;
  top:35px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u22398_img.mouseOver {
}
#u22398.mouseOver {
}
#u22398_img.selected {
}
#u22398.selected {
}
#u22399 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u22400_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:40px;
}
#u22400 {
  position:absolute;
  left:0px;
  top:70px;
  width:171px;
  height:40px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u22400_img.mouseOver {
}
#u22400.mouseOver {
}
#u22400_img.selected {
}
#u22400.selected {
}
#u22401 {
  position:absolute;
  left:2px;
  top:11px;
  width:167px;
  word-wrap:break-word;
}
#u22402 {
  position:absolute;
  left:171px;
  top:315px;
  width:169px;
  height:140px;
  visibility:hidden;
}
#u22402_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:175px;
  height:146px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u22403 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:145px;
}
#u22404_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u22404 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u22404_img.mouseOver {
}
#u22404.mouseOver {
}
#u22404_img.selected {
}
#u22404.selected {
}
#u22405 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u22406_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u22406 {
  position:absolute;
  left:0px;
  top:35px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u22406_img.mouseOver {
}
#u22406.mouseOver {
}
#u22406_img.selected {
}
#u22406.selected {
}
#u22407 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u22408_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u22408 {
  position:absolute;
  left:0px;
  top:70px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u22408_img.mouseOver {
}
#u22408.mouseOver {
}
#u22408_img.selected {
}
#u22408.selected {
}
#u22409 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u22410_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u22410 {
  position:absolute;
  left:0px;
  top:105px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u22410_img.mouseOver {
}
#u22410.mouseOver {
}
#u22410_img.selected {
}
#u22410.selected {
}
#u22411 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u22412 {
  position:absolute;
  left:171px;
  top:350px;
  width:171px;
  height:35px;
  visibility:hidden;
}
#u22412_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:41px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u22413 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
}
#u22414_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u22414 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u22414_img.mouseOver {
}
#u22414.mouseOver {
}
#u22414_img.selected {
}
#u22414.selected {
}
#u22415 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u22416 {
  position:absolute;
  left:171px;
  top:210px;
  width:171px;
  height:35px;
  visibility:hidden;
}
#u22416_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:41px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u22417 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
}
#u22418_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u22418 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u22418_img.mouseOver {
}
#u22418.mouseOver {
}
#u22418_img.selected {
}
#u22418.selected {
}
#u22419 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u22420 {
  position:absolute;
  left:171px;
  top:175px;
  width:171px;
  height:105px;
  visibility:hidden;
}
#u22420_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:111px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u22421 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:110px;
}
#u22422_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u22422 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u22422_img.mouseOver {
}
#u22422.mouseOver {
}
#u22422_img.selected {
}
#u22422.selected {
}
#u22423 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u22424_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u22424 {
  position:absolute;
  left:0px;
  top:35px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u22424_img.mouseOver {
}
#u22424.mouseOver {
}
#u22424_img.selected {
}
#u22424.selected {
}
#u22425 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u22426_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u22426 {
  position:absolute;
  left:0px;
  top:70px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u22426_img.mouseOver {
}
#u22426.mouseOver {
}
#u22426_img.selected {
}
#u22426.selected {
}
#u22427 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u22428 {
  position:absolute;
  left:171px;
  top:140px;
  width:171px;
  height:70px;
  visibility:hidden;
}
#u22428_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:76px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u22429 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:75px;
}
#u22430_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u22430 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u22430_img.mouseOver {
}
#u22430.mouseOver {
}
#u22430_img.selected {
}
#u22430.selected {
}
#u22431 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u22432_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u22432 {
  position:absolute;
  left:0px;
  top:35px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u22432_img.mouseOver {
}
#u22432.mouseOver {
}
#u22432_img.selected {
}
#u22432.selected {
}
#u22433 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u22435_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:90px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22435 {
  position:absolute;
  left:-19px;
  top:1211px;
  width:1280px;
  height:90px;
}
#u22436 {
  position:absolute;
  left:2px;
  top:37px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22437_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u22437 {
  position:absolute;
  left:16px;
  top:1238px;
  width:94px;
  height:37px;
  color:#FFFFFF;
}
#u22438 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u22439_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:38px;
}
#u22439 {
  position:absolute;
  left:1083px;
  top:1257px;
  width:170px;
  height:38px;
  font-size:16px;
  color:#FF0000;
}
#u22440 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u22441_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Medium', 'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
}
#u22441 {
  position:absolute;
  left:220px;
  top:150px;
  width:129px;
  height:38px;
  font-family:'STHeitiTC-Medium', 'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
}
#u22442 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u22443 {
  position:absolute;
  left:220px;
  top:240px;
  width:859px;
  height:165px;
}
#u22444_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:40px;
}
#u22444 {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u22445 {
  position:absolute;
  left:10px;
  top:12px;
  width:155px;
  word-wrap:break-word;
}
#u22446_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:40px;
}
#u22446 {
  position:absolute;
  left:167px;
  top:0px;
  width:233px;
  height:40px;
  font-size:15px;
  color:#666666;
}
#u22447 {
  position:absolute;
  left:10px;
  top:12px;
  width:221px;
  word-wrap:break-word;
}
#u22448_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u22448 {
  position:absolute;
  left:400px;
  top:0px;
  width:200px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u22449 {
  position:absolute;
  left:10px;
  top:12px;
  width:188px;
  word-wrap:break-word;
}
#u22450_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:40px;
}
#u22450 {
  position:absolute;
  left:600px;
  top:0px;
  width:254px;
  height:40px;
  font-size:15px;
  color:#666666;
}
#u22451 {
  position:absolute;
  left:10px;
  top:12px;
  width:242px;
  word-wrap:break-word;
}
#u22452_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:40px;
}
#u22452 {
  position:absolute;
  left:0px;
  top:40px;
  width:167px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u22453 {
  position:absolute;
  left:10px;
  top:12px;
  width:155px;
  word-wrap:break-word;
}
#u22454_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:40px;
}
#u22454 {
  position:absolute;
  left:167px;
  top:40px;
  width:233px;
  height:40px;
  color:#000000;
}
#u22455 {
  position:absolute;
  left:10px;
  top:12px;
  width:221px;
  word-wrap:break-word;
}
#u22456_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u22456 {
  position:absolute;
  left:400px;
  top:40px;
  width:200px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u22457 {
  position:absolute;
  left:10px;
  top:12px;
  width:188px;
  word-wrap:break-word;
}
#u22458_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:40px;
}
#u22458 {
  position:absolute;
  left:600px;
  top:40px;
  width:254px;
  height:40px;
}
#u22459 {
  position:absolute;
  left:10px;
  top:12px;
  width:242px;
  word-wrap:break-word;
}
#u22460_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:40px;
}
#u22460 {
  position:absolute;
  left:0px;
  top:80px;
  width:167px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u22461 {
  position:absolute;
  left:10px;
  top:12px;
  width:155px;
  word-wrap:break-word;
}
#u22462_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:40px;
}
#u22462 {
  position:absolute;
  left:167px;
  top:80px;
  width:233px;
  height:40px;
}
#u22463 {
  position:absolute;
  left:10px;
  top:12px;
  width:221px;
  word-wrap:break-word;
}
#u22464_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u22464 {
  position:absolute;
  left:400px;
  top:80px;
  width:200px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u22465 {
  position:absolute;
  left:10px;
  top:12px;
  width:188px;
  word-wrap:break-word;
}
#u22466_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:40px;
}
#u22466 {
  position:absolute;
  left:600px;
  top:80px;
  width:254px;
  height:40px;
}
#u22467 {
  position:absolute;
  left:10px;
  top:12px;
  width:242px;
  word-wrap:break-word;
}
#u22468_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:40px;
}
#u22468 {
  position:absolute;
  left:0px;
  top:120px;
  width:167px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u22469 {
  position:absolute;
  left:10px;
  top:12px;
  width:155px;
  word-wrap:break-word;
}
#u22470_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:40px;
}
#u22470 {
  position:absolute;
  left:167px;
  top:120px;
  width:233px;
  height:40px;
}
#u22471 {
  position:absolute;
  left:10px;
  top:12px;
  width:221px;
  word-wrap:break-word;
}
#u22472_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u22472 {
  position:absolute;
  left:400px;
  top:120px;
  width:200px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u22473 {
  position:absolute;
  left:10px;
  top:12px;
  width:188px;
  word-wrap:break-word;
}
#u22474_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:40px;
}
#u22474 {
  position:absolute;
  left:600px;
  top:120px;
  width:254px;
  height:40px;
}
#u22475 {
  position:absolute;
  left:10px;
  top:12px;
  width:242px;
  word-wrap:break-word;
}
#u22476_div {
  position:absolute;
  left:0px;
  top:0px;
  width:854px;
  height:40px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u22476 {
  position:absolute;
  left:220px;
  top:200px;
  width:854px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u22477 {
  position:absolute;
  left:10px;
  top:10px;
  width:842px;
  word-wrap:break-word;
}
#u22478 {
  position:absolute;
  left:220px;
  top:462px;
  width:859px;
  height:85px;
}
#u22479_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:40px;
}
#u22479 {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u22480 {
  position:absolute;
  left:10px;
  top:12px;
  width:155px;
  word-wrap:break-word;
}
#u22481_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:40px;
}
#u22481 {
  position:absolute;
  left:167px;
  top:0px;
  width:233px;
  height:40px;
}
#u22482 {
  position:absolute;
  left:10px;
  top:12px;
  width:221px;
  word-wrap:break-word;
}
#u22483_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u22483 {
  position:absolute;
  left:400px;
  top:0px;
  width:200px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u22484 {
  position:absolute;
  left:10px;
  top:12px;
  width:188px;
  word-wrap:break-word;
}
#u22485_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:40px;
}
#u22485 {
  position:absolute;
  left:600px;
  top:0px;
  width:254px;
  height:40px;
  font-size:14px;
}
#u22486 {
  position:absolute;
  left:10px;
  top:12px;
  width:242px;
  word-wrap:break-word;
}
#u22487_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:40px;
}
#u22487 {
  position:absolute;
  left:0px;
  top:40px;
  width:167px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u22488 {
  position:absolute;
  left:10px;
  top:12px;
  width:155px;
  word-wrap:break-word;
}
#u22489_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:40px;
}
#u22489 {
  position:absolute;
  left:167px;
  top:40px;
  width:233px;
  height:40px;
  font-size:14px;
}
#u22490 {
  position:absolute;
  left:10px;
  top:12px;
  width:221px;
  word-wrap:break-word;
}
#u22491_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u22491 {
  position:absolute;
  left:400px;
  top:40px;
  width:200px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u22492 {
  position:absolute;
  left:10px;
  top:12px;
  width:188px;
  word-wrap:break-word;
}
#u22493_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:40px;
}
#u22493 {
  position:absolute;
  left:600px;
  top:40px;
  width:254px;
  height:40px;
  font-size:14px;
}
#u22494 {
  position:absolute;
  left:10px;
  top:12px;
  width:242px;
  word-wrap:break-word;
}
#u22495_div {
  position:absolute;
  left:0px;
  top:0px;
  width:854px;
  height:40px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u22495 {
  position:absolute;
  left:220px;
  top:422px;
  width:854px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u22496 {
  position:absolute;
  left:10px;
  top:10px;
  width:842px;
  word-wrap:break-word;
}
#u22497_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u22497 {
  position:absolute;
  left:571px;
  top:1158px;
  width:100px;
  height:30px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u22497_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u22497.mouseOver {
}
#u22498 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u22499_div {
  position:absolute;
  left:0px;
  top:0px;
  width:854px;
  height:40px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u22499 {
  position:absolute;
  left:220px;
  top:563px;
  width:854px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u22500 {
  position:absolute;
  left:10px;
  top:10px;
  width:842px;
  word-wrap:break-word;
}
#u22501 {
  position:absolute;
  left:220px;
  top:602px;
  width:859px;
  height:508px;
}
#u22502_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:40px;
}
#u22502 {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u22503 {
  position:absolute;
  left:10px;
  top:12px;
  width:155px;
  word-wrap:break-word;
}
#u22504_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:40px;
}
#u22504 {
  position:absolute;
  left:167px;
  top:0px;
  width:233px;
  height:40px;
  color:#000000;
}
#u22505 {
  position:absolute;
  left:10px;
  top:12px;
  width:221px;
  word-wrap:break-word;
}
#u22506_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u22506 {
  position:absolute;
  left:400px;
  top:0px;
  width:200px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u22507 {
  position:absolute;
  left:10px;
  top:12px;
  width:188px;
  word-wrap:break-word;
}
#u22508_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:40px;
}
#u22508 {
  position:absolute;
  left:600px;
  top:0px;
  width:254px;
  height:40px;
  color:#000000;
}
#u22509 {
  position:absolute;
  left:10px;
  top:12px;
  width:242px;
  word-wrap:break-word;
}
#u22510_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:40px;
}
#u22510 {
  position:absolute;
  left:0px;
  top:40px;
  width:167px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u22511 {
  position:absolute;
  left:10px;
  top:12px;
  width:155px;
  word-wrap:break-word;
}
#u22512_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:40px;
}
#u22512 {
  position:absolute;
  left:167px;
  top:40px;
  width:233px;
  height:40px;
  font-size:14px;
}
#u22513 {
  position:absolute;
  left:10px;
  top:12px;
  width:221px;
  word-wrap:break-word;
}
#u22514_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u22514 {
  position:absolute;
  left:400px;
  top:40px;
  width:200px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u22515 {
  position:absolute;
  left:10px;
  top:12px;
  width:188px;
  word-wrap:break-word;
}
#u22516_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:40px;
}
#u22516 {
  position:absolute;
  left:600px;
  top:40px;
  width:254px;
  height:40px;
  font-size:14px;
}
#u22517 {
  position:absolute;
  left:10px;
  top:12px;
  width:242px;
  word-wrap:break-word;
}
#u22518_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:40px;
}
#u22518 {
  position:absolute;
  left:0px;
  top:80px;
  width:167px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u22519 {
  position:absolute;
  left:10px;
  top:12px;
  width:155px;
  word-wrap:break-word;
}
#u22520_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:40px;
}
#u22520 {
  position:absolute;
  left:167px;
  top:80px;
  width:233px;
  height:40px;
  font-size:14px;
}
#u22521 {
  position:absolute;
  left:10px;
  top:12px;
  width:221px;
  word-wrap:break-word;
}
#u22522_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u22522 {
  position:absolute;
  left:400px;
  top:80px;
  width:200px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u22523 {
  position:absolute;
  left:10px;
  top:12px;
  width:188px;
  word-wrap:break-word;
}
#u22524_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:40px;
}
#u22524 {
  position:absolute;
  left:600px;
  top:80px;
  width:254px;
  height:40px;
  font-size:14px;
}
#u22525 {
  position:absolute;
  left:10px;
  top:12px;
  width:242px;
  word-wrap:break-word;
}
#u22526_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:40px;
}
#u22526 {
  position:absolute;
  left:0px;
  top:120px;
  width:167px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u22527 {
  position:absolute;
  left:10px;
  top:12px;
  width:155px;
  word-wrap:break-word;
}
#u22528_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:40px;
}
#u22528 {
  position:absolute;
  left:167px;
  top:120px;
  width:233px;
  height:40px;
  font-size:14px;
}
#u22529 {
  position:absolute;
  left:10px;
  top:12px;
  width:221px;
  word-wrap:break-word;
}
#u22530_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u22530 {
  position:absolute;
  left:400px;
  top:120px;
  width:200px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u22531 {
  position:absolute;
  left:10px;
  top:12px;
  width:188px;
  word-wrap:break-word;
}
#u22532_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:40px;
}
#u22532 {
  position:absolute;
  left:600px;
  top:120px;
  width:254px;
  height:40px;
  font-size:14px;
}
#u22533 {
  position:absolute;
  left:10px;
  top:12px;
  width:242px;
  word-wrap:break-word;
}
#u22534_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:57px;
}
#u22534 {
  position:absolute;
  left:0px;
  top:160px;
  width:167px;
  height:57px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u22535 {
  position:absolute;
  left:10px;
  top:20px;
  width:155px;
  word-wrap:break-word;
}
#u22536_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:57px;
}
#u22536 {
  position:absolute;
  left:167px;
  top:160px;
  width:233px;
  height:57px;
  font-size:14px;
}
#u22537 {
  position:absolute;
  left:10px;
  top:20px;
  width:221px;
  word-wrap:break-word;
}
#u22538_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:57px;
}
#u22538 {
  position:absolute;
  left:400px;
  top:160px;
  width:200px;
  height:57px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u22539 {
  position:absolute;
  left:10px;
  top:20px;
  width:188px;
  word-wrap:break-word;
}
#u22540_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:57px;
}
#u22540 {
  position:absolute;
  left:600px;
  top:160px;
  width:254px;
  height:57px;
  color:#000000;
  text-align:left;
}
#u22541 {
  position:absolute;
  left:10px;
  top:12px;
  width:242px;
  word-wrap:break-word;
}
#u22542_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:59px;
}
#u22542 {
  position:absolute;
  left:0px;
  top:217px;
  width:167px;
  height:59px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u22543 {
  position:absolute;
  left:10px;
  top:21px;
  width:155px;
  word-wrap:break-word;
}
#u22544_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:59px;
}
#u22544 {
  position:absolute;
  left:167px;
  top:217px;
  width:233px;
  height:59px;
  color:#000000;
  text-align:left;
}
#u22545 {
  position:absolute;
  left:10px;
  top:6px;
  width:221px;
  word-wrap:break-word;
}
#u22546_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:59px;
}
#u22546 {
  position:absolute;
  left:400px;
  top:217px;
  width:200px;
  height:59px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u22547 {
  position:absolute;
  left:10px;
  top:21px;
  width:188px;
  word-wrap:break-word;
}
#u22548_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:59px;
}
#u22548 {
  position:absolute;
  left:600px;
  top:217px;
  width:254px;
  height:59px;
  font-size:14px;
}
#u22549 {
  position:absolute;
  left:10px;
  top:22px;
  width:242px;
  word-wrap:break-word;
}
#u22550_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:57px;
}
#u22550 {
  position:absolute;
  left:0px;
  top:276px;
  width:167px;
  height:57px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u22551 {
  position:absolute;
  left:10px;
  top:20px;
  width:155px;
  word-wrap:break-word;
}
#u22552_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:57px;
}
#u22552 {
  position:absolute;
  left:167px;
  top:276px;
  width:233px;
  height:57px;
  color:#000000;
  text-align:left;
}
#u22553 {
  position:absolute;
  left:10px;
  top:4px;
  width:221px;
  word-wrap:break-word;
}
#u22554_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:57px;
}
#u22554 {
  position:absolute;
  left:400px;
  top:276px;
  width:200px;
  height:57px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u22555 {
  position:absolute;
  left:10px;
  top:20px;
  width:188px;
  word-wrap:break-word;
}
#u22556_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:57px;
}
#u22556 {
  position:absolute;
  left:600px;
  top:276px;
  width:254px;
  height:57px;
  font-size:14px;
}
#u22557 {
  position:absolute;
  left:10px;
  top:20px;
  width:242px;
  word-wrap:break-word;
}
#u22558_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:40px;
}
#u22558 {
  position:absolute;
  left:0px;
  top:333px;
  width:167px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u22559 {
  position:absolute;
  left:10px;
  top:12px;
  width:155px;
  word-wrap:break-word;
}
#u22560_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:40px;
}
#u22560 {
  position:absolute;
  left:167px;
  top:333px;
  width:233px;
  height:40px;
  font-size:14px;
}
#u22561 {
  position:absolute;
  left:10px;
  top:12px;
  width:221px;
  word-wrap:break-word;
}
#u22562_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u22562 {
  position:absolute;
  left:400px;
  top:333px;
  width:200px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u22563 {
  position:absolute;
  left:10px;
  top:12px;
  width:188px;
  word-wrap:break-word;
}
#u22564_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:40px;
}
#u22564 {
  position:absolute;
  left:600px;
  top:333px;
  width:254px;
  height:40px;
  font-size:14px;
}
#u22565 {
  position:absolute;
  left:10px;
  top:12px;
  width:242px;
  word-wrap:break-word;
}
#u22566_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:40px;
}
#u22566 {
  position:absolute;
  left:0px;
  top:373px;
  width:167px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u22567 {
  position:absolute;
  left:10px;
  top:12px;
  width:155px;
  word-wrap:break-word;
}
#u22568_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:40px;
}
#u22568 {
  position:absolute;
  left:167px;
  top:373px;
  width:233px;
  height:40px;
  font-size:14px;
}
#u22569 {
  position:absolute;
  left:10px;
  top:12px;
  width:221px;
  word-wrap:break-word;
}
#u22570_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u22570 {
  position:absolute;
  left:400px;
  top:373px;
  width:200px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u22571 {
  position:absolute;
  left:10px;
  top:12px;
  width:188px;
  word-wrap:break-word;
}
#u22572_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:40px;
}
#u22572 {
  position:absolute;
  left:600px;
  top:373px;
  width:254px;
  height:40px;
  font-size:14px;
}
#u22573 {
  position:absolute;
  left:10px;
  top:12px;
  width:242px;
  word-wrap:break-word;
}
#u22574_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:40px;
}
#u22574 {
  position:absolute;
  left:0px;
  top:413px;
  width:167px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u22575 {
  position:absolute;
  left:10px;
  top:12px;
  width:155px;
  word-wrap:break-word;
}
#u22576_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:40px;
}
#u22576 {
  position:absolute;
  left:167px;
  top:413px;
  width:233px;
  height:40px;
  font-size:14px;
}
#u22577 {
  position:absolute;
  left:10px;
  top:12px;
  width:221px;
  word-wrap:break-word;
}
#u22578_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u22578 {
  position:absolute;
  left:400px;
  top:413px;
  width:200px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u22579 {
  position:absolute;
  left:10px;
  top:12px;
  width:188px;
  word-wrap:break-word;
}
#u22580_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:40px;
}
#u22580 {
  position:absolute;
  left:600px;
  top:413px;
  width:254px;
  height:40px;
  font-size:14px;
}
#u22581 {
  position:absolute;
  left:10px;
  top:12px;
  width:242px;
  word-wrap:break-word;
}
#u22582_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:50px;
}
#u22582 {
  position:absolute;
  left:0px;
  top:453px;
  width:167px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u22583 {
  position:absolute;
  left:10px;
  top:16px;
  width:155px;
  word-wrap:break-word;
}
#u22584_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:50px;
}
#u22584 {
  position:absolute;
  left:167px;
  top:453px;
  width:233px;
  height:50px;
  font-size:14px;
}
#u22585 {
  position:absolute;
  left:10px;
  top:17px;
  width:221px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22586_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u22586 {
  position:absolute;
  left:400px;
  top:453px;
  width:200px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u22587 {
  position:absolute;
  left:10px;
  top:17px;
  width:188px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22588_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:50px;
}
#u22588 {
  position:absolute;
  left:600px;
  top:453px;
  width:254px;
  height:50px;
  font-size:14px;
}
#u22589 {
  position:absolute;
  left:10px;
  top:17px;
  width:242px;
  visibility:hidden;
  word-wrap:break-word;
}
