body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1261px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u20648_div {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:1114px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20648 {
  position:absolute;
  left:0px;
  top:109px;
  width:191px;
  height:1114px;
}
#u20649 {
  position:absolute;
  left:2px;
  top:549px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20651_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:110px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20651 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:110px;
}
#u20652 {
  position:absolute;
  left:2px;
  top:47px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20653 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20654_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
}
#u20654 {
  position:absolute;
  left:1061px;
  top:30px;
  width:129px;
  height:17px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
}
#u20655 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u20656_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
}
#u20656 {
  position:absolute;
  left:1197px;
  top:30px;
  width:39px;
  height:17px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
}
#u20657 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u20658_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:11px;
}
#u20658 {
  position:absolute;
  left:1188px;
  top:34px;
  width:1px;
  height:10px;
}
#u20659 {
  position:absolute;
  left:2px;
  top:-3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20660_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Rounded MT Bold';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u20660 {
  position:absolute;
  left:20px;
  top:30px;
  width:144px;
  height:55px;
  font-family:'Arial Rounded MT Bold';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u20661 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u20662 {
  position:absolute;
  left:1025px;
  top:24px;
  width:26px;
  height:30px;
}
#u20662_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:32px;
  height:36px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u20663 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:35px;
}
#u20664_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:30px;
}
#u20664 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:30px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
  text-align:center;
}
#u20664_img.selected {
}
#u20664.selected {
}
#u20665 {
  position:absolute;
  left:2px;
  top:6px;
  width:22px;
  word-wrap:break-word;
}
#u20666 {
  position:absolute;
  left:0px;
  top:30px;
  width:88px;
  height:139px;
  visibility:hidden;
}
#u20666_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:94px;
  height:145px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u20667 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:144px;
}
#u20668_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:34px;
}
#u20668 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:34px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u20668_img.selected {
}
#u20668.selected {
}
#u20669 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u20670_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u20670 {
  position:absolute;
  left:0px;
  top:34px;
  width:88px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u20670_img.selected {
}
#u20670.selected {
}
#u20671 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u20672_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u20672 {
  position:absolute;
  left:0px;
  top:69px;
  width:88px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u20672_img.selected {
}
#u20672.selected {
}
#u20673 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u20674_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u20674 {
  position:absolute;
  left:0px;
  top:104px;
  width:88px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u20674_img.selected {
}
#u20674.selected {
}
#u20675 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u20676_img {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:25px;
}
#u20676 {
  position:absolute;
  left:396px;
  top:34px;
  width:284px;
  height:25px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
  text-align:left;
}
#u20677 {
  position:absolute;
  left:2px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
#u20679 {
  position:absolute;
  left:11px;
  top:130px;
  width:171px;
  height:385px;
}
#u20679_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:391px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u20680 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:390px;
}
#u20681_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:32px;
}
#u20681 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:32px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u20681_img.mouseOver {
}
#u20681.mouseOver {
}
#u20681_img.selected {
}
#u20681.selected {
}
#u20682 {
  position:absolute;
  left:2px;
  top:7px;
  width:167px;
  word-wrap:break-word;
}
#u20683_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:38px;
}
#u20683 {
  position:absolute;
  left:0px;
  top:32px;
  width:171px;
  height:38px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u20683_img.mouseOver {
}
#u20683.mouseOver {
}
#u20683_img.selected {
}
#u20683.selected {
}
#u20684 {
  position:absolute;
  left:2px;
  top:10px;
  width:167px;
  word-wrap:break-word;
}
#u20685_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u20685 {
  position:absolute;
  left:0px;
  top:70px;
  width:171px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u20685_img.mouseOver {
}
#u20685.mouseOver {
}
#u20685_img.selected {
}
#u20685.selected {
}
#u20686 {
  position:absolute;
  left:2px;
  top:9px;
  width:167px;
  word-wrap:break-word;
}
#u20687_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u20687 {
  position:absolute;
  left:0px;
  top:105px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u20687_img.mouseOver {
}
#u20687.mouseOver {
}
#u20687_img.selected {
}
#u20687.selected {
}
#u20688 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u20689_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u20689 {
  position:absolute;
  left:0px;
  top:140px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u20689_img.mouseOver {
}
#u20689.mouseOver {
}
#u20689_img.selected {
}
#u20689.selected {
}
#u20690 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u20691_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u20691 {
  position:absolute;
  left:0px;
  top:175px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u20691_img.mouseOver {
}
#u20691.mouseOver {
}
#u20691_img.selected {
}
#u20691.selected {
}
#u20692 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u20693_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u20693 {
  position:absolute;
  left:0px;
  top:210px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u20693_img.mouseOver {
}
#u20693.mouseOver {
}
#u20693_img.selected {
}
#u20693.selected {
}
#u20694 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u20695_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u20695 {
  position:absolute;
  left:0px;
  top:245px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u20695_img.mouseOver {
}
#u20695.mouseOver {
}
#u20695_img.selected {
}
#u20695.selected {
}
#u20696 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u20697_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u20697 {
  position:absolute;
  left:0px;
  top:280px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u20697_img.mouseOver {
}
#u20697.mouseOver {
}
#u20697_img.selected {
}
#u20697.selected {
}
#u20698 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u20699_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u20699 {
  position:absolute;
  left:0px;
  top:315px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u20699_img.mouseOver {
}
#u20699.mouseOver {
}
#u20699_img.selected {
}
#u20699.selected {
}
#u20700 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u20701_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u20701 {
  position:absolute;
  left:0px;
  top:350px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u20701_img.mouseOver {
}
#u20701.mouseOver {
}
#u20701_img.selected {
}
#u20701.selected {
}
#u20702 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u20703 {
  position:absolute;
  left:171px;
  top:245px;
  width:171px;
  height:35px;
  visibility:hidden;
}
#u20703_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:41px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u20704 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
}
#u20705_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u20705 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u20705_img.mouseOver {
}
#u20705.mouseOver {
}
#u20705_img.selected {
}
#u20705.selected {
}
#u20706 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u20707 {
  position:absolute;
  left:171px;
  top:105px;
  width:202px;
  height:76px;
  visibility:hidden;
}
#u20707_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:208px;
  height:82px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u20708 {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:81px;
}
#u20709_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:38px;
}
#u20709 {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:38px;
  font-size:15px;
  color:#000000;
  text-align:center;
}
#u20709_img.mouseOver {
}
#u20709.mouseOver {
}
#u20709_img.selected {
}
#u20709.selected {
}
#u20710 {
  position:absolute;
  left:2px;
  top:10px;
  width:198px;
  word-wrap:break-word;
}
#u20711_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:38px;
}
#u20711 {
  position:absolute;
  left:0px;
  top:38px;
  width:202px;
  height:38px;
  font-size:15px;
  color:#000000;
  text-align:center;
}
#u20711_img.mouseOver {
}
#u20711.mouseOver {
}
#u20711_img.selected {
}
#u20711.selected {
}
#u20712 {
  position:absolute;
  left:2px;
  top:10px;
  width:198px;
  word-wrap:break-word;
}
#u20713 {
  position:absolute;
  left:171px;
  top:32px;
  width:150px;
  height:175px;
  visibility:hidden;
}
#u20713_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:156px;
  height:181px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u20714 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:180px;
}
#u20715_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u20715 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u20715_img.mouseOver {
}
#u20715.mouseOver {
}
#u20715_img.selected {
}
#u20715.selected {
}
#u20716 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u20717_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u20717 {
  position:absolute;
  left:0px;
  top:35px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u20717_img.mouseOver {
}
#u20717.mouseOver {
}
#u20717_img.selected {
}
#u20717.selected {
}
#u20718 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u20719_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u20719 {
  position:absolute;
  left:0px;
  top:70px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u20719_img.mouseOver {
}
#u20719.mouseOver {
}
#u20719_img.selected {
}
#u20719.selected {
}
#u20720 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u20721_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u20721 {
  position:absolute;
  left:0px;
  top:105px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u20721_img.mouseOver {
}
#u20721.mouseOver {
}
#u20721_img.selected {
}
#u20721.selected {
}
#u20722 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u20723_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u20723 {
  position:absolute;
  left:0px;
  top:140px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u20723_img.mouseOver {
}
#u20723.mouseOver {
}
#u20723_img.selected {
}
#u20723.selected {
}
#u20724 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u20725 {
  position:absolute;
  left:171px;
  top:70px;
  width:171px;
  height:35px;
  visibility:hidden;
}
#u20725_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:41px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u20726 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
}
#u20727_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u20727 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u20727_img.mouseOver {
}
#u20727.mouseOver {
}
#u20727_img.selected {
}
#u20727.selected {
}
#u20728 {
  position:absolute;
  left:2px;
  top:9px;
  width:167px;
  word-wrap:break-word;
}
#u20729 {
  position:absolute;
  left:171px;
  top:280px;
  width:171px;
  height:110px;
  visibility:hidden;
}
#u20729_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:116px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u20730 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:115px;
}
#u20731_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u20731 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u20731_img.mouseOver {
}
#u20731.mouseOver {
}
#u20731_img.selected {
}
#u20731.selected {
}
#u20732 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u20733_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u20733 {
  position:absolute;
  left:0px;
  top:35px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u20733_img.mouseOver {
}
#u20733.mouseOver {
}
#u20733_img.selected {
}
#u20733.selected {
}
#u20734 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u20735_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:40px;
}
#u20735 {
  position:absolute;
  left:0px;
  top:70px;
  width:171px;
  height:40px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u20735_img.mouseOver {
}
#u20735.mouseOver {
}
#u20735_img.selected {
}
#u20735.selected {
}
#u20736 {
  position:absolute;
  left:2px;
  top:11px;
  width:167px;
  word-wrap:break-word;
}
#u20737 {
  position:absolute;
  left:171px;
  top:315px;
  width:169px;
  height:140px;
  visibility:hidden;
}
#u20737_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:175px;
  height:146px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u20738 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:145px;
}
#u20739_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u20739 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u20739_img.mouseOver {
}
#u20739.mouseOver {
}
#u20739_img.selected {
}
#u20739.selected {
}
#u20740 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u20741_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u20741 {
  position:absolute;
  left:0px;
  top:35px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u20741_img.mouseOver {
}
#u20741.mouseOver {
}
#u20741_img.selected {
}
#u20741.selected {
}
#u20742 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u20743_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u20743 {
  position:absolute;
  left:0px;
  top:70px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u20743_img.mouseOver {
}
#u20743.mouseOver {
}
#u20743_img.selected {
}
#u20743.selected {
}
#u20744 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u20745_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u20745 {
  position:absolute;
  left:0px;
  top:105px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u20745_img.mouseOver {
}
#u20745.mouseOver {
}
#u20745_img.selected {
}
#u20745.selected {
}
#u20746 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u20747 {
  position:absolute;
  left:171px;
  top:350px;
  width:171px;
  height:35px;
  visibility:hidden;
}
#u20747_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:41px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u20748 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
}
#u20749_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u20749 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u20749_img.mouseOver {
}
#u20749.mouseOver {
}
#u20749_img.selected {
}
#u20749.selected {
}
#u20750 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u20751 {
  position:absolute;
  left:171px;
  top:210px;
  width:171px;
  height:35px;
  visibility:hidden;
}
#u20751_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:41px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u20752 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
}
#u20753_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u20753 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u20753_img.mouseOver {
}
#u20753.mouseOver {
}
#u20753_img.selected {
}
#u20753.selected {
}
#u20754 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u20755 {
  position:absolute;
  left:171px;
  top:175px;
  width:171px;
  height:105px;
  visibility:hidden;
}
#u20755_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:111px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u20756 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:110px;
}
#u20757_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u20757 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u20757_img.mouseOver {
}
#u20757.mouseOver {
}
#u20757_img.selected {
}
#u20757.selected {
}
#u20758 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u20759_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u20759 {
  position:absolute;
  left:0px;
  top:35px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u20759_img.mouseOver {
}
#u20759.mouseOver {
}
#u20759_img.selected {
}
#u20759.selected {
}
#u20760 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u20761_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u20761 {
  position:absolute;
  left:0px;
  top:70px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u20761_img.mouseOver {
}
#u20761.mouseOver {
}
#u20761_img.selected {
}
#u20761.selected {
}
#u20762 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u20763 {
  position:absolute;
  left:171px;
  top:140px;
  width:171px;
  height:70px;
  visibility:hidden;
}
#u20763_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:76px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u20764 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:75px;
}
#u20765_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u20765 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u20765_img.mouseOver {
}
#u20765.mouseOver {
}
#u20765_img.selected {
}
#u20765.selected {
}
#u20766 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u20767_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u20767 {
  position:absolute;
  left:0px;
  top:35px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u20767_img.mouseOver {
}
#u20767.mouseOver {
}
#u20767_img.selected {
}
#u20767.selected {
}
#u20768 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u20770_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:90px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20770 {
  position:absolute;
  left:-19px;
  top:1211px;
  width:1280px;
  height:90px;
}
#u20771 {
  position:absolute;
  left:2px;
  top:37px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20772_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u20772 {
  position:absolute;
  left:16px;
  top:1238px;
  width:94px;
  height:37px;
  color:#FFFFFF;
}
#u20773 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u20774_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:38px;
}
#u20774 {
  position:absolute;
  left:1083px;
  top:1257px;
  width:170px;
  height:38px;
  font-size:16px;
  color:#FF0000;
}
#u20775 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u20776_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Medium', 'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
}
#u20776 {
  position:absolute;
  left:220px;
  top:150px;
  width:129px;
  height:38px;
  font-family:'STHeitiTC-Medium', 'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
}
#u20777 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u20778 {
  position:absolute;
  left:220px;
  top:240px;
  width:859px;
  height:165px;
}
#u20779_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:40px;
}
#u20779 {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u20780 {
  position:absolute;
  left:10px;
  top:12px;
  width:155px;
  word-wrap:break-word;
}
#u20781_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:40px;
}
#u20781 {
  position:absolute;
  left:167px;
  top:0px;
  width:233px;
  height:40px;
  font-size:15px;
  color:#666666;
}
#u20782 {
  position:absolute;
  left:10px;
  top:12px;
  width:221px;
  word-wrap:break-word;
}
#u20783_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u20783 {
  position:absolute;
  left:400px;
  top:0px;
  width:200px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u20784 {
  position:absolute;
  left:10px;
  top:12px;
  width:188px;
  word-wrap:break-word;
}
#u20785_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:40px;
}
#u20785 {
  position:absolute;
  left:600px;
  top:0px;
  width:254px;
  height:40px;
  font-size:15px;
  color:#666666;
}
#u20786 {
  position:absolute;
  left:10px;
  top:12px;
  width:242px;
  word-wrap:break-word;
}
#u20787_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:40px;
}
#u20787 {
  position:absolute;
  left:0px;
  top:40px;
  width:167px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u20788 {
  position:absolute;
  left:10px;
  top:12px;
  width:155px;
  word-wrap:break-word;
}
#u20789_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:40px;
}
#u20789 {
  position:absolute;
  left:167px;
  top:40px;
  width:233px;
  height:40px;
  color:#000000;
}
#u20790 {
  position:absolute;
  left:10px;
  top:12px;
  width:221px;
  word-wrap:break-word;
}
#u20791_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u20791 {
  position:absolute;
  left:400px;
  top:40px;
  width:200px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u20792 {
  position:absolute;
  left:10px;
  top:12px;
  width:188px;
  word-wrap:break-word;
}
#u20793_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:40px;
}
#u20793 {
  position:absolute;
  left:600px;
  top:40px;
  width:254px;
  height:40px;
}
#u20794 {
  position:absolute;
  left:10px;
  top:12px;
  width:242px;
  word-wrap:break-word;
}
#u20795_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:40px;
}
#u20795 {
  position:absolute;
  left:0px;
  top:80px;
  width:167px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u20796 {
  position:absolute;
  left:10px;
  top:12px;
  width:155px;
  word-wrap:break-word;
}
#u20797_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:40px;
}
#u20797 {
  position:absolute;
  left:167px;
  top:80px;
  width:233px;
  height:40px;
}
#u20798 {
  position:absolute;
  left:10px;
  top:12px;
  width:221px;
  word-wrap:break-word;
}
#u20799_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u20799 {
  position:absolute;
  left:400px;
  top:80px;
  width:200px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u20800 {
  position:absolute;
  left:10px;
  top:12px;
  width:188px;
  word-wrap:break-word;
}
#u20801_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:40px;
}
#u20801 {
  position:absolute;
  left:600px;
  top:80px;
  width:254px;
  height:40px;
}
#u20802 {
  position:absolute;
  left:10px;
  top:12px;
  width:242px;
  word-wrap:break-word;
}
#u20803_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:40px;
}
#u20803 {
  position:absolute;
  left:0px;
  top:120px;
  width:167px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u20804 {
  position:absolute;
  left:10px;
  top:12px;
  width:155px;
  word-wrap:break-word;
}
#u20805_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:40px;
}
#u20805 {
  position:absolute;
  left:167px;
  top:120px;
  width:233px;
  height:40px;
}
#u20806 {
  position:absolute;
  left:10px;
  top:12px;
  width:221px;
  word-wrap:break-word;
}
#u20807_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u20807 {
  position:absolute;
  left:400px;
  top:120px;
  width:200px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u20808 {
  position:absolute;
  left:10px;
  top:12px;
  width:188px;
  word-wrap:break-word;
}
#u20809_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:40px;
}
#u20809 {
  position:absolute;
  left:600px;
  top:120px;
  width:254px;
  height:40px;
}
#u20810 {
  position:absolute;
  left:10px;
  top:12px;
  width:242px;
  word-wrap:break-word;
}
#u20811_div {
  position:absolute;
  left:0px;
  top:0px;
  width:854px;
  height:40px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u20811 {
  position:absolute;
  left:220px;
  top:200px;
  width:854px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u20812 {
  position:absolute;
  left:10px;
  top:10px;
  width:842px;
  word-wrap:break-word;
}
#u20813 {
  position:absolute;
  left:220px;
  top:462px;
  width:859px;
  height:85px;
}
#u20814_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:40px;
}
#u20814 {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u20815 {
  position:absolute;
  left:10px;
  top:12px;
  width:155px;
  word-wrap:break-word;
}
#u20816_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:40px;
}
#u20816 {
  position:absolute;
  left:167px;
  top:0px;
  width:233px;
  height:40px;
}
#u20817 {
  position:absolute;
  left:10px;
  top:12px;
  width:221px;
  word-wrap:break-word;
}
#u20818_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u20818 {
  position:absolute;
  left:400px;
  top:0px;
  width:200px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u20819 {
  position:absolute;
  left:10px;
  top:12px;
  width:188px;
  word-wrap:break-word;
}
#u20820_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:40px;
}
#u20820 {
  position:absolute;
  left:600px;
  top:0px;
  width:254px;
  height:40px;
  font-size:14px;
}
#u20821 {
  position:absolute;
  left:10px;
  top:12px;
  width:242px;
  word-wrap:break-word;
}
#u20822_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:40px;
}
#u20822 {
  position:absolute;
  left:0px;
  top:40px;
  width:167px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u20823 {
  position:absolute;
  left:10px;
  top:12px;
  width:155px;
  word-wrap:break-word;
}
#u20824_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:40px;
}
#u20824 {
  position:absolute;
  left:167px;
  top:40px;
  width:233px;
  height:40px;
  font-size:14px;
}
#u20825 {
  position:absolute;
  left:10px;
  top:12px;
  width:221px;
  word-wrap:break-word;
}
#u20826_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u20826 {
  position:absolute;
  left:400px;
  top:40px;
  width:200px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u20827 {
  position:absolute;
  left:10px;
  top:12px;
  width:188px;
  word-wrap:break-word;
}
#u20828_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:40px;
}
#u20828 {
  position:absolute;
  left:600px;
  top:40px;
  width:254px;
  height:40px;
  font-size:14px;
}
#u20829 {
  position:absolute;
  left:10px;
  top:12px;
  width:242px;
  word-wrap:break-word;
}
#u20830_div {
  position:absolute;
  left:0px;
  top:0px;
  width:854px;
  height:40px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u20830 {
  position:absolute;
  left:220px;
  top:422px;
  width:854px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u20831 {
  position:absolute;
  left:10px;
  top:10px;
  width:842px;
  word-wrap:break-word;
}
#u20832_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u20832 {
  position:absolute;
  left:571px;
  top:1158px;
  width:100px;
  height:30px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u20832_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u20832.mouseOver {
}
#u20833 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u20834_div {
  position:absolute;
  left:0px;
  top:0px;
  width:854px;
  height:40px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u20834 {
  position:absolute;
  left:220px;
  top:563px;
  width:854px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u20835 {
  position:absolute;
  left:10px;
  top:10px;
  width:842px;
  word-wrap:break-word;
}
#u20836 {
  position:absolute;
  left:220px;
  top:602px;
  width:859px;
  height:508px;
}
#u20837_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:40px;
}
#u20837 {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u20838 {
  position:absolute;
  left:10px;
  top:12px;
  width:155px;
  word-wrap:break-word;
}
#u20839_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:40px;
}
#u20839 {
  position:absolute;
  left:167px;
  top:0px;
  width:233px;
  height:40px;
  color:#000000;
}
#u20840 {
  position:absolute;
  left:10px;
  top:12px;
  width:221px;
  word-wrap:break-word;
}
#u20841_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u20841 {
  position:absolute;
  left:400px;
  top:0px;
  width:200px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u20842 {
  position:absolute;
  left:10px;
  top:12px;
  width:188px;
  word-wrap:break-word;
}
#u20843_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:40px;
}
#u20843 {
  position:absolute;
  left:600px;
  top:0px;
  width:254px;
  height:40px;
  color:#000000;
}
#u20844 {
  position:absolute;
  left:10px;
  top:12px;
  width:242px;
  word-wrap:break-word;
}
#u20845_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:40px;
}
#u20845 {
  position:absolute;
  left:0px;
  top:40px;
  width:167px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u20846 {
  position:absolute;
  left:10px;
  top:12px;
  width:155px;
  word-wrap:break-word;
}
#u20847_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:40px;
}
#u20847 {
  position:absolute;
  left:167px;
  top:40px;
  width:233px;
  height:40px;
  font-size:14px;
}
#u20848 {
  position:absolute;
  left:10px;
  top:12px;
  width:221px;
  word-wrap:break-word;
}
#u20849_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u20849 {
  position:absolute;
  left:400px;
  top:40px;
  width:200px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u20850 {
  position:absolute;
  left:10px;
  top:12px;
  width:188px;
  word-wrap:break-word;
}
#u20851_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:40px;
}
#u20851 {
  position:absolute;
  left:600px;
  top:40px;
  width:254px;
  height:40px;
  font-size:14px;
}
#u20852 {
  position:absolute;
  left:10px;
  top:12px;
  width:242px;
  word-wrap:break-word;
}
#u20853_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:40px;
}
#u20853 {
  position:absolute;
  left:0px;
  top:80px;
  width:167px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u20854 {
  position:absolute;
  left:10px;
  top:12px;
  width:155px;
  word-wrap:break-word;
}
#u20855_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:40px;
}
#u20855 {
  position:absolute;
  left:167px;
  top:80px;
  width:233px;
  height:40px;
  font-size:14px;
}
#u20856 {
  position:absolute;
  left:10px;
  top:12px;
  width:221px;
  word-wrap:break-word;
}
#u20857_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u20857 {
  position:absolute;
  left:400px;
  top:80px;
  width:200px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u20858 {
  position:absolute;
  left:10px;
  top:12px;
  width:188px;
  word-wrap:break-word;
}
#u20859_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:40px;
}
#u20859 {
  position:absolute;
  left:600px;
  top:80px;
  width:254px;
  height:40px;
  font-size:14px;
}
#u20860 {
  position:absolute;
  left:10px;
  top:12px;
  width:242px;
  word-wrap:break-word;
}
#u20861_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:40px;
}
#u20861 {
  position:absolute;
  left:0px;
  top:120px;
  width:167px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u20862 {
  position:absolute;
  left:10px;
  top:12px;
  width:155px;
  word-wrap:break-word;
}
#u20863_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:40px;
}
#u20863 {
  position:absolute;
  left:167px;
  top:120px;
  width:233px;
  height:40px;
  font-size:14px;
}
#u20864 {
  position:absolute;
  left:10px;
  top:12px;
  width:221px;
  word-wrap:break-word;
}
#u20865_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u20865 {
  position:absolute;
  left:400px;
  top:120px;
  width:200px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u20866 {
  position:absolute;
  left:10px;
  top:12px;
  width:188px;
  word-wrap:break-word;
}
#u20867_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:40px;
}
#u20867 {
  position:absolute;
  left:600px;
  top:120px;
  width:254px;
  height:40px;
  font-size:14px;
}
#u20868 {
  position:absolute;
  left:10px;
  top:12px;
  width:242px;
  word-wrap:break-word;
}
#u20869_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:57px;
}
#u20869 {
  position:absolute;
  left:0px;
  top:160px;
  width:167px;
  height:57px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u20870 {
  position:absolute;
  left:10px;
  top:20px;
  width:155px;
  word-wrap:break-word;
}
#u20871_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:57px;
}
#u20871 {
  position:absolute;
  left:167px;
  top:160px;
  width:233px;
  height:57px;
  font-size:14px;
}
#u20872 {
  position:absolute;
  left:10px;
  top:20px;
  width:221px;
  word-wrap:break-word;
}
#u20873_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:57px;
}
#u20873 {
  position:absolute;
  left:400px;
  top:160px;
  width:200px;
  height:57px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u20874 {
  position:absolute;
  left:10px;
  top:20px;
  width:188px;
  word-wrap:break-word;
}
#u20875_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:57px;
}
#u20875 {
  position:absolute;
  left:600px;
  top:160px;
  width:254px;
  height:57px;
  color:#000000;
  text-align:left;
}
#u20876 {
  position:absolute;
  left:10px;
  top:12px;
  width:242px;
  word-wrap:break-word;
}
#u20877_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:59px;
}
#u20877 {
  position:absolute;
  left:0px;
  top:217px;
  width:167px;
  height:59px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u20878 {
  position:absolute;
  left:10px;
  top:21px;
  width:155px;
  word-wrap:break-word;
}
#u20879_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:59px;
}
#u20879 {
  position:absolute;
  left:167px;
  top:217px;
  width:233px;
  height:59px;
  color:#000000;
  text-align:left;
}
#u20880 {
  position:absolute;
  left:10px;
  top:6px;
  width:221px;
  word-wrap:break-word;
}
#u20881_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:59px;
}
#u20881 {
  position:absolute;
  left:400px;
  top:217px;
  width:200px;
  height:59px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u20882 {
  position:absolute;
  left:10px;
  top:21px;
  width:188px;
  word-wrap:break-word;
}
#u20883_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:59px;
}
#u20883 {
  position:absolute;
  left:600px;
  top:217px;
  width:254px;
  height:59px;
  font-size:14px;
}
#u20884 {
  position:absolute;
  left:10px;
  top:22px;
  width:242px;
  word-wrap:break-word;
}
#u20885_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:57px;
}
#u20885 {
  position:absolute;
  left:0px;
  top:276px;
  width:167px;
  height:57px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u20886 {
  position:absolute;
  left:10px;
  top:20px;
  width:155px;
  word-wrap:break-word;
}
#u20887_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:57px;
}
#u20887 {
  position:absolute;
  left:167px;
  top:276px;
  width:233px;
  height:57px;
  color:#000000;
  text-align:left;
}
#u20888 {
  position:absolute;
  left:10px;
  top:4px;
  width:221px;
  word-wrap:break-word;
}
#u20889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:57px;
}
#u20889 {
  position:absolute;
  left:400px;
  top:276px;
  width:200px;
  height:57px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u20890 {
  position:absolute;
  left:10px;
  top:20px;
  width:188px;
  word-wrap:break-word;
}
#u20891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:57px;
}
#u20891 {
  position:absolute;
  left:600px;
  top:276px;
  width:254px;
  height:57px;
  font-size:14px;
}
#u20892 {
  position:absolute;
  left:10px;
  top:20px;
  width:242px;
  word-wrap:break-word;
}
#u20893_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:40px;
}
#u20893 {
  position:absolute;
  left:0px;
  top:333px;
  width:167px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u20894 {
  position:absolute;
  left:10px;
  top:12px;
  width:155px;
  word-wrap:break-word;
}
#u20895_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:40px;
}
#u20895 {
  position:absolute;
  left:167px;
  top:333px;
  width:233px;
  height:40px;
  font-size:14px;
}
#u20896 {
  position:absolute;
  left:10px;
  top:12px;
  width:221px;
  word-wrap:break-word;
}
#u20897_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u20897 {
  position:absolute;
  left:400px;
  top:333px;
  width:200px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u20898 {
  position:absolute;
  left:10px;
  top:12px;
  width:188px;
  word-wrap:break-word;
}
#u20899_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:40px;
}
#u20899 {
  position:absolute;
  left:600px;
  top:333px;
  width:254px;
  height:40px;
  font-size:14px;
}
#u20900 {
  position:absolute;
  left:10px;
  top:12px;
  width:242px;
  word-wrap:break-word;
}
#u20901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:40px;
}
#u20901 {
  position:absolute;
  left:0px;
  top:373px;
  width:167px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u20902 {
  position:absolute;
  left:10px;
  top:12px;
  width:155px;
  word-wrap:break-word;
}
#u20903_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:40px;
}
#u20903 {
  position:absolute;
  left:167px;
  top:373px;
  width:233px;
  height:40px;
  font-size:14px;
}
#u20904 {
  position:absolute;
  left:10px;
  top:12px;
  width:221px;
  word-wrap:break-word;
}
#u20905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u20905 {
  position:absolute;
  left:400px;
  top:373px;
  width:200px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u20906 {
  position:absolute;
  left:10px;
  top:12px;
  width:188px;
  word-wrap:break-word;
}
#u20907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:40px;
}
#u20907 {
  position:absolute;
  left:600px;
  top:373px;
  width:254px;
  height:40px;
  font-size:14px;
}
#u20908 {
  position:absolute;
  left:10px;
  top:12px;
  width:242px;
  word-wrap:break-word;
}
#u20909_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:40px;
}
#u20909 {
  position:absolute;
  left:0px;
  top:413px;
  width:167px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u20910 {
  position:absolute;
  left:10px;
  top:12px;
  width:155px;
  word-wrap:break-word;
}
#u20911_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:40px;
}
#u20911 {
  position:absolute;
  left:167px;
  top:413px;
  width:233px;
  height:40px;
  font-size:14px;
}
#u20912 {
  position:absolute;
  left:10px;
  top:12px;
  width:221px;
  word-wrap:break-word;
}
#u20913_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u20913 {
  position:absolute;
  left:400px;
  top:413px;
  width:200px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u20914 {
  position:absolute;
  left:10px;
  top:12px;
  width:188px;
  word-wrap:break-word;
}
#u20915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:40px;
}
#u20915 {
  position:absolute;
  left:600px;
  top:413px;
  width:254px;
  height:40px;
  font-size:14px;
}
#u20916 {
  position:absolute;
  left:10px;
  top:12px;
  width:242px;
  word-wrap:break-word;
}
#u20917_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:50px;
}
#u20917 {
  position:absolute;
  left:0px;
  top:453px;
  width:167px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u20918 {
  position:absolute;
  left:10px;
  top:16px;
  width:155px;
  word-wrap:break-word;
}
#u20919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:50px;
}
#u20919 {
  position:absolute;
  left:167px;
  top:453px;
  width:233px;
  height:50px;
  font-size:14px;
}
#u20920 {
  position:absolute;
  left:10px;
  top:17px;
  width:221px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20921_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u20921 {
  position:absolute;
  left:400px;
  top:453px;
  width:200px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u20922 {
  position:absolute;
  left:10px;
  top:17px;
  width:188px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20923_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:50px;
}
#u20923 {
  position:absolute;
  left:600px;
  top:453px;
  width:254px;
  height:50px;
  font-size:14px;
}
#u20924 {
  position:absolute;
  left:10px;
  top:17px;
  width:242px;
  visibility:hidden;
  word-wrap:break-word;
}
