body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:978px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9650_div {
  position:absolute;
  left:0px;
  top:0px;
  width:990px;
  height:95px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9650 {
  position:absolute;
  left:0px;
  top:0px;
  width:990px;
  height:95px;
}
#u9651 {
  position:absolute;
  left:2px;
  top:40px;
  width:986px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9652_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9652 {
  position:absolute;
  left:811px;
  top:18px;
  width:99px;
  height:16px;
}
#u9653 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u9654_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9654 {
  position:absolute;
  left:916px;
  top:14px;
  width:61px;
  height:23px;
}
#u9655 {
  position:absolute;
  left:2px;
  top:4px;
  width:57px;
  word-wrap:break-word;
}
#u9656_img {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:25px;
}
#u9656 {
  position:absolute;
  left:368px;
  top:17px;
  width:284px;
  height:25px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
  text-align:left;
}
#u9657 {
  position:absolute;
  left:2px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
#u9658_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:76px;
}
#u9658 {
  position:absolute;
  left:20px;
  top:10px;
  width:200px;
  height:75px;
  font-size:14px;
}
#u9659 {
  position:absolute;
  left:2px;
  top:30px;
  width:196px;
  word-wrap:break-word;
}
#u9660 {
  position:absolute;
  left:244px;
  top:65px;
  width:746px;
  height:30px;
}
#u9660_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:752px;
  height:36px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u9661 {
  position:absolute;
  left:0px;
  top:0px;
  width:751px;
  height:35px;
}
#u9662_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:30px;
}
#u9662 {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:30px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
  text-align:center;
}
#u9662_img.selected {
}
#u9662.selected {
}
#u9663 {
  position:absolute;
  left:2px;
  top:6px;
  width:182px;
  word-wrap:break-word;
}
#u9664_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:30px;
}
#u9664 {
  position:absolute;
  left:186px;
  top:0px;
  width:186px;
  height:30px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
  text-align:center;
}
#u9664_img.selected {
}
#u9664.selected {
}
#u9665 {
  position:absolute;
  left:2px;
  top:6px;
  width:182px;
  word-wrap:break-word;
}
#u9666_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:30px;
}
#u9666 {
  position:absolute;
  left:372px;
  top:0px;
  width:186px;
  height:30px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
  text-align:center;
}
#u9666_img.selected {
}
#u9666.selected {
}
#u9667 {
  position:absolute;
  left:2px;
  top:6px;
  width:182px;
  word-wrap:break-word;
}
#u9668_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:30px;
}
#u9668 {
  position:absolute;
  left:558px;
  top:0px;
  width:188px;
  height:30px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
  text-align:center;
}
#u9668_img.selected {
}
#u9668.selected {
}
#u9669 {
  position:absolute;
  left:2px;
  top:6px;
  width:184px;
  word-wrap:break-word;
}
#u9670 {
  position:absolute;
  left:558px;
  top:30px;
  width:187px;
  height:70px;
  visibility:hidden;
}
#u9670_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:193px;
  height:76px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u9671 {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:75px;
}
#u9672_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:35px;
}
#u9672 {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u9672_img.selected {
}
#u9672.selected {
}
#u9673 {
  position:absolute;
  left:2px;
  top:8px;
  width:183px;
  word-wrap:break-word;
}
#u9674_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:35px;
}
#u9674 {
  position:absolute;
  left:0px;
  top:35px;
  width:187px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u9674_img.selected {
}
#u9674.selected {
}
#u9675 {
  position:absolute;
  left:2px;
  top:8px;
  width:183px;
  word-wrap:break-word;
}
#u9676 {
  position:absolute;
  left:186px;
  top:30px;
  width:186px;
  height:136px;
  visibility:hidden;
}
#u9676_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:192px;
  height:142px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u9677 {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:141px;
}
#u9678_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:34px;
}
#u9678 {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:34px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u9678_img.selected {
}
#u9678.selected {
}
#u9679 {
  position:absolute;
  left:2px;
  top:8px;
  width:182px;
  word-wrap:break-word;
}
#u9680_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:34px;
}
#u9680 {
  position:absolute;
  left:0px;
  top:34px;
  width:186px;
  height:34px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u9680_img.selected {
}
#u9680.selected {
}
#u9681 {
  position:absolute;
  left:2px;
  top:8px;
  width:182px;
  word-wrap:break-word;
}
#u9682_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:34px;
}
#u9682 {
  position:absolute;
  left:0px;
  top:68px;
  width:186px;
  height:34px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u9682_img.selected {
}
#u9682.selected {
}
#u9683 {
  position:absolute;
  left:2px;
  top:8px;
  width:182px;
  word-wrap:break-word;
}
#u9684_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:34px;
}
#u9684 {
  position:absolute;
  left:0px;
  top:102px;
  width:186px;
  height:34px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u9684_img.selected {
}
#u9684.selected {
}
#u9685 {
  position:absolute;
  left:2px;
  top:8px;
  width:182px;
  word-wrap:break-word;
}
#u9686 {
  position:absolute;
  left:775px;
  top:14px;
  width:26px;
  height:27px;
}
#u9686_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:32px;
  height:33px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u9687 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:32px;
}
#u9688_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:27px;
}
#u9688 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:27px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
  text-align:center;
}
#u9688_img.selected {
}
#u9688.selected {
}
#u9689 {
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  word-wrap:break-word;
}
#u9690 {
  position:absolute;
  left:0px;
  top:27px;
  width:88px;
  height:139px;
  visibility:hidden;
}
#u9690_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:94px;
  height:145px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u9691 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:144px;
}
#u9692_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:34px;
}
#u9692 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:34px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u9692_img.selected {
}
#u9692.selected {
}
#u9693 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u9694_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u9694 {
  position:absolute;
  left:0px;
  top:34px;
  width:88px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u9694_img.selected {
}
#u9694.selected {
}
#u9695 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u9696_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u9696 {
  position:absolute;
  left:0px;
  top:69px;
  width:88px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u9696_img.selected {
}
#u9696.selected {
}
#u9697 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u9698_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u9698 {
  position:absolute;
  left:0px;
  top:104px;
  width:88px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u9698_img.selected {
}
#u9698.selected {
}
#u9699 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u9701_img {
  position:absolute;
  left:0px;
  top:0px;
  width:990px;
  height:68px;
}
#u9701 {
  position:absolute;
  left:-12px;
  top:804px;
  width:990px;
  height:68px;
  color:#1A769A;
}
#u9702 {
  position:absolute;
  left:2px;
  top:26px;
  width:986px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9703_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:38px;
}
#u9703 {
  position:absolute;
  left:793px;
  top:831px;
  width:177px;
  height:38px;
  font-size:16px;
  color:#FF0000;
}
#u9704 {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  word-wrap:break-word;
}
#u9705_div {
  position:absolute;
  left:0px;
  top:0px;
  width:586px;
  height:40px;
  background:inherit;
  background-color:rgba(2, 104, 144, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u9705 {
  position:absolute;
  left:210px;
  top:183px;
  width:586px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u9706 {
  position:absolute;
  left:20px;
  top:9px;
  width:564px;
  word-wrap:break-word;
}
#u9707_div {
  position:absolute;
  left:0px;
  top:0px;
  width:586px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9707 {
  position:absolute;
  left:210px;
  top:223px;
  width:586px;
  height:40px;
}
#u9708 {
  position:absolute;
  left:2px;
  top:12px;
  width:582px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9709_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9709 {
  position:absolute;
  left:230px;
  top:237px;
  width:150px;
  height:16px;
}
#u9710 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u9711 {
  position:absolute;
  left:340px;
  top:231px;
  width:130px;
  height:25px;
}
#u9711_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:left;
}
#u9712_div {
  position:absolute;
  left:0px;
  top:0px;
  width:586px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9712 {
  position:absolute;
  left:210px;
  top:343px;
  width:586px;
  height:40px;
}
#u9713 {
  position:absolute;
  left:2px;
  top:12px;
  width:582px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9714 {
  position:absolute;
  left:488px;
  top:350px;
  width:80px;
  height:25px;
}
#u9714_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u9715 {
  position:absolute;
  left:398px;
  top:351px;
  width:80px;
  height:25px;
}
#u9715_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u9716_div {
  position:absolute;
  left:0px;
  top:0px;
  width:586px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9716 {
  position:absolute;
  left:210px;
  top:263px;
  width:586px;
  height:40px;
}
#u9717 {
  position:absolute;
  left:2px;
  top:12px;
  width:582px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9718_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9718 {
  position:absolute;
  left:230px;
  top:277px;
  width:150px;
  height:16px;
}
#u9719 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u9720 {
  position:absolute;
  left:340px;
  top:271px;
  width:130px;
  height:25px;
}
#u9720_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:left;
}
#u9721_div {
  position:absolute;
  left:0px;
  top:0px;
  width:586px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9721 {
  position:absolute;
  left:210px;
  top:303px;
  width:586px;
  height:40px;
}
#u9722 {
  position:absolute;
  left:2px;
  top:12px;
  width:582px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9723_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9723 {
  position:absolute;
  left:230px;
  top:317px;
  width:150px;
  height:16px;
}
#u9724 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u9725 {
  position:absolute;
  left:340px;
  top:311px;
  width:130px;
  height:25px;
}
#u9725_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:left;
}
#u9726 {
  position:absolute;
  left:470px;
  top:280px;
  width:310px;
  height:162px;
  overflow:hidden;
  visibility:hidden;
}
#u9726_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:162px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u9726_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9727_div {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:160px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u9727 {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:160px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u9728 {
  position:absolute;
  left:20px;
  top:20px;
  width:330px;
  word-wrap:break-word;
}
#u9729 {
  position:absolute;
  left:161px;
  top:75px;
  width:75px;
  height:25px;
}
#u9729_input {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u9730 {
  position:absolute;
  left:60px;
  top:75px;
  width:75px;
  height:25px;
}
#u9730_input {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
