body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:978px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8089_div {
  position:absolute;
  left:0px;
  top:0px;
  width:990px;
  height:95px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8089 {
  position:absolute;
  left:0px;
  top:0px;
  width:990px;
  height:95px;
}
#u8090 {
  position:absolute;
  left:2px;
  top:40px;
  width:986px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8091_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8091 {
  position:absolute;
  left:811px;
  top:18px;
  width:99px;
  height:16px;
}
#u8092 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u8093_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8093 {
  position:absolute;
  left:916px;
  top:14px;
  width:61px;
  height:23px;
}
#u8094 {
  position:absolute;
  left:2px;
  top:4px;
  width:57px;
  word-wrap:break-word;
}
#u8095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:25px;
}
#u8095 {
  position:absolute;
  left:368px;
  top:17px;
  width:284px;
  height:25px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
  text-align:left;
}
#u8096 {
  position:absolute;
  left:2px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
#u8097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:76px;
}
#u8097 {
  position:absolute;
  left:20px;
  top:10px;
  width:200px;
  height:75px;
  font-size:14px;
}
#u8098 {
  position:absolute;
  left:2px;
  top:30px;
  width:196px;
  word-wrap:break-word;
}
#u8099 {
  position:absolute;
  left:244px;
  top:65px;
  width:746px;
  height:30px;
}
#u8099_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:752px;
  height:36px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u8100 {
  position:absolute;
  left:0px;
  top:0px;
  width:751px;
  height:35px;
}
#u8101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:30px;
}
#u8101 {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:30px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
  text-align:center;
}
#u8101_img.selected {
}
#u8101.selected {
}
#u8102 {
  position:absolute;
  left:2px;
  top:6px;
  width:182px;
  word-wrap:break-word;
}
#u8103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:30px;
}
#u8103 {
  position:absolute;
  left:186px;
  top:0px;
  width:186px;
  height:30px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
  text-align:center;
}
#u8103_img.selected {
}
#u8103.selected {
}
#u8104 {
  position:absolute;
  left:2px;
  top:6px;
  width:182px;
  word-wrap:break-word;
}
#u8105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:30px;
}
#u8105 {
  position:absolute;
  left:372px;
  top:0px;
  width:186px;
  height:30px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
  text-align:center;
}
#u8105_img.selected {
}
#u8105.selected {
}
#u8106 {
  position:absolute;
  left:2px;
  top:6px;
  width:182px;
  word-wrap:break-word;
}
#u8107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:30px;
}
#u8107 {
  position:absolute;
  left:558px;
  top:0px;
  width:188px;
  height:30px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
  text-align:center;
}
#u8107_img.selected {
}
#u8107.selected {
}
#u8108 {
  position:absolute;
  left:2px;
  top:6px;
  width:184px;
  word-wrap:break-word;
}
#u8109 {
  position:absolute;
  left:558px;
  top:30px;
  width:187px;
  height:70px;
  visibility:hidden;
}
#u8109_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:193px;
  height:76px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u8110 {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:75px;
}
#u8111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:35px;
}
#u8111 {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u8111_img.selected {
}
#u8111.selected {
}
#u8112 {
  position:absolute;
  left:2px;
  top:8px;
  width:183px;
  word-wrap:break-word;
}
#u8113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:35px;
}
#u8113 {
  position:absolute;
  left:0px;
  top:35px;
  width:187px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u8113_img.selected {
}
#u8113.selected {
}
#u8114 {
  position:absolute;
  left:2px;
  top:8px;
  width:183px;
  word-wrap:break-word;
}
#u8115 {
  position:absolute;
  left:186px;
  top:30px;
  width:186px;
  height:102px;
  visibility:hidden;
}
#u8115_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:192px;
  height:108px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u8116 {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:107px;
}
#u8117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:34px;
}
#u8117 {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:34px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u8117_img.selected {
}
#u8117.selected {
}
#u8118 {
  position:absolute;
  left:2px;
  top:8px;
  width:182px;
  word-wrap:break-word;
}
#u8119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:34px;
}
#u8119 {
  position:absolute;
  left:0px;
  top:34px;
  width:186px;
  height:34px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u8119_img.selected {
}
#u8119.selected {
}
#u8120 {
  position:absolute;
  left:2px;
  top:8px;
  width:182px;
  word-wrap:break-word;
}
#u8121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:34px;
}
#u8121 {
  position:absolute;
  left:0px;
  top:68px;
  width:186px;
  height:34px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u8121_img.selected {
}
#u8121.selected {
}
#u8122 {
  position:absolute;
  left:2px;
  top:8px;
  width:182px;
  word-wrap:break-word;
}
#u8123 {
  position:absolute;
  left:775px;
  top:14px;
  width:26px;
  height:27px;
}
#u8123_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:32px;
  height:33px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u8124 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:32px;
}
#u8125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:27px;
}
#u8125 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:27px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
  text-align:center;
}
#u8125_img.selected {
}
#u8125.selected {
}
#u8126 {
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  word-wrap:break-word;
}
#u8127 {
  position:absolute;
  left:0px;
  top:27px;
  width:88px;
  height:139px;
  visibility:hidden;
}
#u8127_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:94px;
  height:145px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u8128 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:144px;
}
#u8129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:34px;
}
#u8129 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:34px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u8129_img.selected {
}
#u8129.selected {
}
#u8130 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u8131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u8131 {
  position:absolute;
  left:0px;
  top:34px;
  width:88px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u8131_img.selected {
}
#u8131.selected {
}
#u8132 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u8133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u8133 {
  position:absolute;
  left:0px;
  top:69px;
  width:88px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u8133_img.selected {
}
#u8133.selected {
}
#u8134 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u8135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u8135 {
  position:absolute;
  left:0px;
  top:104px;
  width:88px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u8135_img.selected {
}
#u8135.selected {
}
#u8136 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u8138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:990px;
  height:68px;
}
#u8138 {
  position:absolute;
  left:-12px;
  top:804px;
  width:990px;
  height:68px;
  color:#1A769A;
}
#u8139 {
  position:absolute;
  left:2px;
  top:-6px;
  width:986px;
  word-wrap:break-word;
}
#u8140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:38px;
}
#u8140 {
  position:absolute;
  left:799px;
  top:831px;
  width:170px;
  height:38px;
  font-size:16px;
  color:#FF0000;
}
#u8141 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u8142_div {
  position:absolute;
  left:0px;
  top:0px;
  width:586px;
  height:40px;
  background:inherit;
  background-color:rgba(2, 104, 144, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u8142 {
  position:absolute;
  left:210px;
  top:183px;
  width:586px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u8143 {
  position:absolute;
  left:20px;
  top:9px;
  width:564px;
  word-wrap:break-word;
}
#u8144_div {
  position:absolute;
  left:0px;
  top:0px;
  width:586px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8144 {
  position:absolute;
  left:210px;
  top:223px;
  width:586px;
  height:40px;
}
#u8145 {
  position:absolute;
  left:2px;
  top:12px;
  width:582px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8146_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8146 {
  position:absolute;
  left:230px;
  top:237px;
  width:150px;
  height:16px;
}
#u8147 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u8148 {
  position:absolute;
  left:340px;
  top:231px;
  width:130px;
  height:25px;
}
#u8148_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:left;
}
#u8149_div {
  position:absolute;
  left:0px;
  top:0px;
  width:586px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8149 {
  position:absolute;
  left:210px;
  top:343px;
  width:586px;
  height:40px;
}
#u8150 {
  position:absolute;
  left:2px;
  top:12px;
  width:582px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8151 {
  position:absolute;
  left:488px;
  top:350px;
  width:80px;
  height:25px;
}
#u8151_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u8152 {
  position:absolute;
  left:398px;
  top:351px;
  width:80px;
  height:25px;
}
#u8152_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u8153_div {
  position:absolute;
  left:0px;
  top:0px;
  width:586px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8153 {
  position:absolute;
  left:210px;
  top:263px;
  width:586px;
  height:40px;
}
#u8154 {
  position:absolute;
  left:2px;
  top:12px;
  width:582px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8155_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8155 {
  position:absolute;
  left:230px;
  top:277px;
  width:150px;
  height:16px;
}
#u8156 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u8157 {
  position:absolute;
  left:340px;
  top:271px;
  width:130px;
  height:25px;
}
#u8157_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:left;
}
#u8158_div {
  position:absolute;
  left:0px;
  top:0px;
  width:586px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8158 {
  position:absolute;
  left:210px;
  top:303px;
  width:586px;
  height:40px;
}
#u8159 {
  position:absolute;
  left:2px;
  top:12px;
  width:582px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8160_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8160 {
  position:absolute;
  left:230px;
  top:317px;
  width:150px;
  height:16px;
}
#u8161 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u8162 {
  position:absolute;
  left:340px;
  top:311px;
  width:130px;
  height:25px;
}
#u8162_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:left;
}
#u8163 {
  position:absolute;
  left:470px;
  top:280px;
  width:310px;
  height:162px;
  overflow:hidden;
  visibility:hidden;
}
#u8163_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:162px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u8163_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8164_div {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:160px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u8164 {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:160px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u8165 {
  position:absolute;
  left:20px;
  top:20px;
  width:330px;
  word-wrap:break-word;
}
#u8166 {
  position:absolute;
  left:161px;
  top:75px;
  width:75px;
  height:25px;
}
#u8166_input {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u8167 {
  position:absolute;
  left:60px;
  top:75px;
  width:75px;
  height:25px;
}
#u8167_input {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
