body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u43675_div {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:759px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u43675 {
  position:absolute;
  left:0px;
  top:109px;
  width:191px;
  height:759px;
}
#u43676 {
  position:absolute;
  left:2px;
  top:372px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43678_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:110px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u43678 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:110px;
}
#u43679 {
  position:absolute;
  left:2px;
  top:47px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43680 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u43681_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
}
#u43681 {
  position:absolute;
  left:1061px;
  top:30px;
  width:129px;
  height:17px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
}
#u43682 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u43683_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
}
#u43683 {
  position:absolute;
  left:1197px;
  top:30px;
  width:39px;
  height:17px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
}
#u43684 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u43685_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:11px;
}
#u43685 {
  position:absolute;
  left:1188px;
  top:34px;
  width:1px;
  height:10px;
}
#u43686 {
  position:absolute;
  left:2px;
  top:-3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43687_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Rounded MT Bold';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u43687 {
  position:absolute;
  left:20px;
  top:30px;
  width:144px;
  height:55px;
  font-family:'Arial Rounded MT Bold';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u43688 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u43689 {
  position:absolute;
  left:1025px;
  top:24px;
  width:26px;
  height:30px;
}
#u43689_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:32px;
  height:36px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u43690 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:35px;
}
#u43691_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:30px;
}
#u43691 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:30px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
  text-align:center;
}
#u43691_img.selected {
}
#u43691.selected {
}
#u43692 {
  position:absolute;
  left:2px;
  top:6px;
  width:22px;
  word-wrap:break-word;
}
#u43693 {
  position:absolute;
  left:0px;
  top:30px;
  width:88px;
  height:139px;
  visibility:hidden;
}
#u43693_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:94px;
  height:145px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u43694 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:144px;
}
#u43695_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:34px;
}
#u43695 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:34px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u43695_img.selected {
}
#u43695.selected {
}
#u43696 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u43697_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u43697 {
  position:absolute;
  left:0px;
  top:34px;
  width:88px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u43697_img.selected {
}
#u43697.selected {
}
#u43698 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u43699_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u43699 {
  position:absolute;
  left:0px;
  top:69px;
  width:88px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u43699_img.selected {
}
#u43699.selected {
}
#u43700 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u43701_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u43701 {
  position:absolute;
  left:0px;
  top:104px;
  width:88px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u43701_img.selected {
}
#u43701.selected {
}
#u43702 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u43703_img {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:25px;
}
#u43703 {
  position:absolute;
  left:396px;
  top:34px;
  width:284px;
  height:25px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
  text-align:left;
}
#u43704 {
  position:absolute;
  left:2px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
#u43706 {
  position:absolute;
  left:11px;
  top:130px;
  width:171px;
  height:385px;
}
#u43706_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:391px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u43707 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:390px;
}
#u43708_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:32px;
}
#u43708 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:32px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u43708_img.mouseOver {
}
#u43708.mouseOver {
}
#u43708_img.selected {
}
#u43708.selected {
}
#u43709 {
  position:absolute;
  left:2px;
  top:7px;
  width:167px;
  word-wrap:break-word;
}
#u43710_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:38px;
}
#u43710 {
  position:absolute;
  left:0px;
  top:32px;
  width:171px;
  height:38px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u43710_img.mouseOver {
}
#u43710.mouseOver {
}
#u43710_img.selected {
}
#u43710.selected {
}
#u43711 {
  position:absolute;
  left:2px;
  top:10px;
  width:167px;
  word-wrap:break-word;
}
#u43712_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u43712 {
  position:absolute;
  left:0px;
  top:70px;
  width:171px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u43712_img.mouseOver {
}
#u43712.mouseOver {
}
#u43712_img.selected {
}
#u43712.selected {
}
#u43713 {
  position:absolute;
  left:2px;
  top:9px;
  width:167px;
  word-wrap:break-word;
}
#u43714_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u43714 {
  position:absolute;
  left:0px;
  top:105px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u43714_img.mouseOver {
}
#u43714.mouseOver {
}
#u43714_img.selected {
}
#u43714.selected {
}
#u43715 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u43716_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u43716 {
  position:absolute;
  left:0px;
  top:140px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u43716_img.mouseOver {
}
#u43716.mouseOver {
}
#u43716_img.selected {
}
#u43716.selected {
}
#u43717 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u43718_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u43718 {
  position:absolute;
  left:0px;
  top:175px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u43718_img.mouseOver {
}
#u43718.mouseOver {
}
#u43718_img.selected {
}
#u43718.selected {
}
#u43719 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u43720_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u43720 {
  position:absolute;
  left:0px;
  top:210px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u43720_img.mouseOver {
}
#u43720.mouseOver {
}
#u43720_img.selected {
}
#u43720.selected {
}
#u43721 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u43722_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u43722 {
  position:absolute;
  left:0px;
  top:245px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u43722_img.mouseOver {
}
#u43722.mouseOver {
}
#u43722_img.selected {
}
#u43722.selected {
}
#u43723 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u43724_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u43724 {
  position:absolute;
  left:0px;
  top:280px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u43724_img.mouseOver {
}
#u43724.mouseOver {
}
#u43724_img.selected {
}
#u43724.selected {
}
#u43725 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u43726_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u43726 {
  position:absolute;
  left:0px;
  top:315px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u43726_img.mouseOver {
}
#u43726.mouseOver {
}
#u43726_img.selected {
}
#u43726.selected {
}
#u43727 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u43728_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u43728 {
  position:absolute;
  left:0px;
  top:350px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u43728_img.mouseOver {
}
#u43728.mouseOver {
}
#u43728_img.selected {
}
#u43728.selected {
}
#u43729 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u43730 {
  position:absolute;
  left:171px;
  top:245px;
  width:171px;
  height:35px;
  visibility:hidden;
}
#u43730_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:41px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u43731 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
}
#u43732_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u43732 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u43732_img.mouseOver {
}
#u43732.mouseOver {
}
#u43732_img.selected {
}
#u43732.selected {
}
#u43733 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u43734 {
  position:absolute;
  left:171px;
  top:105px;
  width:202px;
  height:112px;
  visibility:hidden;
}
#u43734_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:208px;
  height:118px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u43735 {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:117px;
}
#u43736_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:36px;
}
#u43736 {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:36px;
  font-size:15px;
  color:#000000;
  text-align:center;
}
#u43736_img.mouseOver {
}
#u43736.mouseOver {
}
#u43736_img.selected {
}
#u43736.selected {
}
#u43737 {
  position:absolute;
  left:2px;
  top:10px;
  width:198px;
  word-wrap:break-word;
}
#u43738_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:38px;
}
#u43738 {
  position:absolute;
  left:0px;
  top:36px;
  width:202px;
  height:38px;
  font-size:15px;
  color:#000000;
  text-align:center;
}
#u43738_img.mouseOver {
}
#u43738.mouseOver {
}
#u43738_img.selected {
}
#u43738.selected {
}
#u43739 {
  position:absolute;
  left:2px;
  top:10px;
  width:198px;
  word-wrap:break-word;
}
#u43740_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:38px;
}
#u43740 {
  position:absolute;
  left:0px;
  top:74px;
  width:202px;
  height:38px;
  font-size:15px;
  color:#000000;
  text-align:center;
}
#u43740_img.mouseOver {
}
#u43740.mouseOver {
}
#u43740_img.selected {
}
#u43740.selected {
}
#u43741 {
  position:absolute;
  left:2px;
  top:10px;
  width:198px;
  word-wrap:break-word;
}
#u43742 {
  position:absolute;
  left:171px;
  top:32px;
  width:150px;
  height:175px;
  visibility:hidden;
}
#u43742_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:156px;
  height:181px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u43743 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:180px;
}
#u43744_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u43744 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u43744_img.mouseOver {
}
#u43744.mouseOver {
}
#u43744_img.selected {
}
#u43744.selected {
}
#u43745 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u43746_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u43746 {
  position:absolute;
  left:0px;
  top:35px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u43746_img.mouseOver {
}
#u43746.mouseOver {
}
#u43746_img.selected {
}
#u43746.selected {
}
#u43747 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u43748_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u43748 {
  position:absolute;
  left:0px;
  top:70px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u43748_img.mouseOver {
}
#u43748.mouseOver {
}
#u43748_img.selected {
}
#u43748.selected {
}
#u43749 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u43750_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u43750 {
  position:absolute;
  left:0px;
  top:105px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u43750_img.mouseOver {
}
#u43750.mouseOver {
}
#u43750_img.selected {
}
#u43750.selected {
}
#u43751 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u43752_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u43752 {
  position:absolute;
  left:0px;
  top:140px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u43752_img.mouseOver {
}
#u43752.mouseOver {
}
#u43752_img.selected {
}
#u43752.selected {
}
#u43753 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u43754 {
  position:absolute;
  left:171px;
  top:70px;
  width:171px;
  height:35px;
  visibility:hidden;
}
#u43754_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:41px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u43755 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
}
#u43756_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u43756 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u43756_img.mouseOver {
}
#u43756.mouseOver {
}
#u43756_img.selected {
}
#u43756.selected {
}
#u43757 {
  position:absolute;
  left:2px;
  top:9px;
  width:167px;
  word-wrap:break-word;
}
#u43758 {
  position:absolute;
  left:171px;
  top:280px;
  width:171px;
  height:110px;
  visibility:hidden;
}
#u43758_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:116px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u43759 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:115px;
}
#u43760_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u43760 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u43760_img.mouseOver {
}
#u43760.mouseOver {
}
#u43760_img.selected {
}
#u43760.selected {
}
#u43761 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u43762_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u43762 {
  position:absolute;
  left:0px;
  top:35px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u43762_img.mouseOver {
}
#u43762.mouseOver {
}
#u43762_img.selected {
}
#u43762.selected {
}
#u43763 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u43764_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:40px;
}
#u43764 {
  position:absolute;
  left:0px;
  top:70px;
  width:171px;
  height:40px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u43764_img.mouseOver {
}
#u43764.mouseOver {
}
#u43764_img.selected {
}
#u43764.selected {
}
#u43765 {
  position:absolute;
  left:2px;
  top:11px;
  width:167px;
  word-wrap:break-word;
}
#u43766 {
  position:absolute;
  left:171px;
  top:315px;
  width:169px;
  height:175px;
  visibility:hidden;
}
#u43766_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:175px;
  height:181px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u43767 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:180px;
}
#u43768_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u43768 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u43768_img.mouseOver {
}
#u43768.mouseOver {
}
#u43768_img.selected {
}
#u43768.selected {
}
#u43769 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u43770_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u43770 {
  position:absolute;
  left:0px;
  top:35px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u43770_img.mouseOver {
}
#u43770.mouseOver {
}
#u43770_img.selected {
}
#u43770.selected {
}
#u43771 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u43772_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u43772 {
  position:absolute;
  left:0px;
  top:70px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u43772_img.mouseOver {
}
#u43772.mouseOver {
}
#u43772_img.selected {
}
#u43772.selected {
}
#u43773 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u43774_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u43774 {
  position:absolute;
  left:0px;
  top:105px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u43774_img.mouseOver {
}
#u43774.mouseOver {
}
#u43774_img.selected {
}
#u43774.selected {
}
#u43775 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u43776_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u43776 {
  position:absolute;
  left:0px;
  top:140px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u43776_img.mouseOver {
}
#u43776.mouseOver {
}
#u43776_img.selected {
}
#u43776.selected {
}
#u43777 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u43778 {
  position:absolute;
  left:171px;
  top:350px;
  width:171px;
  height:35px;
  visibility:hidden;
}
#u43778_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:41px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u43779 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
}
#u43780_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u43780 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u43780_img.mouseOver {
}
#u43780.mouseOver {
}
#u43780_img.selected {
}
#u43780.selected {
}
#u43781 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u43782 {
  position:absolute;
  left:171px;
  top:210px;
  width:171px;
  height:35px;
  visibility:hidden;
}
#u43782_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:41px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u43783 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
}
#u43784_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u43784 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u43784_img.mouseOver {
}
#u43784.mouseOver {
}
#u43784_img.selected {
}
#u43784.selected {
}
#u43785 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u43786 {
  position:absolute;
  left:171px;
  top:175px;
  width:171px;
  height:70px;
  visibility:hidden;
}
#u43786_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:76px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u43787 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:75px;
}
#u43788_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u43788 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u43788_img.mouseOver {
}
#u43788.mouseOver {
}
#u43788_img.selected {
}
#u43788.selected {
}
#u43789 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u43790_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u43790 {
  position:absolute;
  left:0px;
  top:35px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u43790_img.mouseOver {
}
#u43790.mouseOver {
}
#u43790_img.selected {
}
#u43790.selected {
}
#u43791 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u43792 {
  position:absolute;
  left:171px;
  top:140px;
  width:171px;
  height:70px;
  visibility:hidden;
}
#u43792_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:76px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u43793 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:75px;
}
#u43794_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u43794 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u43794_img.mouseOver {
}
#u43794.mouseOver {
}
#u43794_img.selected {
}
#u43794.selected {
}
#u43795 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u43796_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u43796 {
  position:absolute;
  left:0px;
  top:35px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u43796_img.mouseOver {
}
#u43796.mouseOver {
}
#u43796_img.selected {
}
#u43796.selected {
}
#u43797 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u43799_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:90px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u43799 {
  position:absolute;
  left:0px;
  top:850px;
  width:1280px;
  height:90px;
}
#u43800 {
  position:absolute;
  left:2px;
  top:37px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43801_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u43801 {
  position:absolute;
  left:35px;
  top:877px;
  width:94px;
  height:37px;
  color:#FFFFFF;
}
#u43802 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u43803_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:38px;
}
#u43803 {
  position:absolute;
  left:1102px;
  top:896px;
  width:170px;
  height:38px;
  font-size:16px;
  color:#FF0000;
}
#u43804 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u43805_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Medium', 'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
}
#u43805 {
  position:absolute;
  left:220px;
  top:150px;
  width:193px;
  height:38px;
  font-family:'STHeitiTC-Medium', 'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
}
#u43806 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u43807 {
  position:absolute;
  left:220px;
  top:240px;
  width:629px;
  height:541px;
}
#u43808_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:40px;
}
#u43808 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u43809 {
  position:absolute;
  left:10px;
  top:12px;
  width:248px;
  word-wrap:break-word;
}
#u43810_img {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:40px;
}
#u43810 {
  position:absolute;
  left:260px;
  top:0px;
  width:364px;
  height:40px;
  font-size:15px;
  color:#666666;
}
#u43811 {
  position:absolute;
  left:10px;
  top:12px;
  width:352px;
  word-wrap:break-word;
}
#u43812_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:40px;
}
#u43812 {
  position:absolute;
  left:0px;
  top:40px;
  width:260px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u43813 {
  position:absolute;
  left:10px;
  top:12px;
  width:248px;
  word-wrap:break-word;
}
#u43814_img {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:40px;
}
#u43814 {
  position:absolute;
  left:260px;
  top:40px;
  width:364px;
  height:40px;
  font-size:15px;
  color:#666666;
}
#u43815 {
  position:absolute;
  left:10px;
  top:12px;
  width:352px;
  word-wrap:break-word;
}
#u43816_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:40px;
}
#u43816 {
  position:absolute;
  left:0px;
  top:80px;
  width:260px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u43817 {
  position:absolute;
  left:10px;
  top:12px;
  width:248px;
  word-wrap:break-word;
}
#u43818_img {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:40px;
}
#u43818 {
  position:absolute;
  left:260px;
  top:80px;
  width:364px;
  height:40px;
  color:#000000;
}
#u43819 {
  position:absolute;
  left:10px;
  top:12px;
  width:352px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43820_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:40px;
}
#u43820 {
  position:absolute;
  left:0px;
  top:120px;
  width:260px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u43821 {
  position:absolute;
  left:10px;
  top:12px;
  width:248px;
  word-wrap:break-word;
}
#u43822_img {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:40px;
}
#u43822 {
  position:absolute;
  left:260px;
  top:120px;
  width:364px;
  height:40px;
  color:#000000;
}
#u43823 {
  position:absolute;
  left:10px;
  top:12px;
  width:352px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43824_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:40px;
}
#u43824 {
  position:absolute;
  left:0px;
  top:160px;
  width:260px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u43825 {
  position:absolute;
  left:10px;
  top:12px;
  width:248px;
  word-wrap:break-word;
}
#u43826_img {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:40px;
}
#u43826 {
  position:absolute;
  left:260px;
  top:160px;
  width:364px;
  height:40px;
  color:#000000;
}
#u43827 {
  position:absolute;
  left:10px;
  top:12px;
  width:352px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43828_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:63px;
}
#u43828 {
  position:absolute;
  left:0px;
  top:200px;
  width:260px;
  height:63px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u43829 {
  position:absolute;
  left:10px;
  top:23px;
  width:248px;
  word-wrap:break-word;
}
#u43830_img {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:63px;
}
#u43830 {
  position:absolute;
  left:260px;
  top:200px;
  width:364px;
  height:63px;
}
#u43831 {
  position:absolute;
  left:10px;
  top:24px;
  width:352px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43832_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:40px;
}
#u43832 {
  position:absolute;
  left:0px;
  top:263px;
  width:260px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u43833 {
  position:absolute;
  left:10px;
  top:12px;
  width:248px;
  word-wrap:break-word;
}
#u43834_img {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:40px;
}
#u43834 {
  position:absolute;
  left:260px;
  top:263px;
  width:364px;
  height:40px;
}
#u43835 {
  position:absolute;
  left:10px;
  top:12px;
  width:352px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43836_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:40px;
}
#u43836 {
  position:absolute;
  left:0px;
  top:303px;
  width:260px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u43837 {
  position:absolute;
  left:10px;
  top:12px;
  width:248px;
  word-wrap:break-word;
}
#u43838_img {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:40px;
}
#u43838 {
  position:absolute;
  left:260px;
  top:303px;
  width:364px;
  height:40px;
}
#u43839 {
  position:absolute;
  left:10px;
  top:12px;
  width:352px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43840_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:78px;
}
#u43840 {
  position:absolute;
  left:0px;
  top:343px;
  width:260px;
  height:78px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u43841 {
  position:absolute;
  left:10px;
  top:30px;
  width:248px;
  word-wrap:break-word;
}
#u43842_img {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:78px;
}
#u43842 {
  position:absolute;
  left:260px;
  top:343px;
  width:364px;
  height:78px;
}
#u43843 {
  position:absolute;
  left:10px;
  top:31px;
  width:352px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43844_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:75px;
}
#u43844 {
  position:absolute;
  left:0px;
  top:421px;
  width:260px;
  height:75px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u43845 {
  position:absolute;
  left:10px;
  top:29px;
  width:248px;
  word-wrap:break-word;
}
#u43846_img {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:75px;
}
#u43846 {
  position:absolute;
  left:260px;
  top:421px;
  width:364px;
  height:75px;
}
#u43847 {
  position:absolute;
  left:10px;
  top:30px;
  width:352px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43848_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:40px;
}
#u43848 {
  position:absolute;
  left:0px;
  top:496px;
  width:260px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u43849 {
  position:absolute;
  left:10px;
  top:12px;
  width:248px;
  word-wrap:break-word;
}
#u43850_img {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:40px;
}
#u43850 {
  position:absolute;
  left:260px;
  top:496px;
  width:364px;
  height:40px;
}
#u43851 {
  position:absolute;
  left:10px;
  top:12px;
  width:352px;
  word-wrap:break-word;
}
#u43852_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u43852 {
  position:absolute;
  left:550px;
  top:806px;
  width:100px;
  height:30px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u43852_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u43852.mouseOver {
}
#u43853 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u43854_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u43854 {
  position:absolute;
  left:424px;
  top:806px;
  width:100px;
  height:30px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u43854_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u43854.mouseOver {
}
#u43855 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u43856_div {
  position:absolute;
  left:0px;
  top:0px;
  width:624px;
  height:40px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u43856 {
  position:absolute;
  left:220px;
  top:200px;
  width:624px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u43857 {
  position:absolute;
  left:10px;
  top:10px;
  width:612px;
  word-wrap:break-word;
}
#u43858 {
  position:absolute;
  left:565px;
  top:366px;
  width:214px;
  height:30px;
}
#u43858_input {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u43859 {
  position:absolute;
  left:565px;
  top:404px;
  width:214px;
  height:30px;
}
#u43859_input {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u43860 {
  position:absolute;
  left:565px;
  top:510px;
  width:214px;
  height:30px;
}
#u43860_input {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u43861 {
  position:absolute;
  left:565px;
  top:676px;
  width:214px;
  height:50px;
}
#u43861_input {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:50px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u43862_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:16px;
}
#u43862 {
  position:absolute;
  left:584px;
  top:334px;
  width:93px;
  height:16px;
  color:#FF0000;
  text-align:center;
}
#u43863 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u43864 {
  position:absolute;
  left:565px;
  top:603px;
  width:214px;
  height:50px;
}
#u43864_input {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:50px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u43865 {
  position:absolute;
  left:565px;
  top:550px;
  width:214px;
  height:30px;
}
#u43865_input {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u43866 {
  position:absolute;
  left:565px;
  top:450px;
  width:214px;
  height:50px;
}
#u43866_input {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:50px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u43867 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u43868_div {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:136px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u43868 {
  position:absolute;
  left:446px;
  top:477px;
  width:308px;
  height:136px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u43869 {
  position:absolute;
  left:20px;
  top:20px;
  width:286px;
  word-wrap:break-word;
}
#u43870 {
  position:absolute;
  left:663px;
  top:559px;
  width:75px;
  height:25px;
}
#u43870_input {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u43871 {
  position:absolute;
  left:562px;
  top:559px;
  width:75px;
  height:25px;
}
#u43871_input {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
