body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1356px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u25022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:886px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25022 {
  position:absolute;
  left:0px;
  top:109px;
  width:191px;
  height:886px;
}
#u25023 {
  position:absolute;
  left:2px;
  top:435px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:110px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25025 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:110px;
}
#u25026 {
  position:absolute;
  left:2px;
  top:47px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25027 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25028_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
}
#u25028 {
  position:absolute;
  left:1061px;
  top:30px;
  width:129px;
  height:17px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
}
#u25029 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u25030_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
}
#u25030 {
  position:absolute;
  left:1197px;
  top:30px;
  width:39px;
  height:17px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
}
#u25031 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u25032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:11px;
}
#u25032 {
  position:absolute;
  left:1188px;
  top:34px;
  width:1px;
  height:10px;
}
#u25033 {
  position:absolute;
  left:2px;
  top:-3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Rounded MT Bold';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u25034 {
  position:absolute;
  left:20px;
  top:30px;
  width:144px;
  height:55px;
  font-family:'Arial Rounded MT Bold';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u25035 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u25036 {
  position:absolute;
  left:1025px;
  top:24px;
  width:26px;
  height:30px;
}
#u25036_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:32px;
  height:36px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u25037 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:35px;
}
#u25038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:30px;
}
#u25038 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:30px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
  text-align:center;
}
#u25038_img.selected {
}
#u25038.selected {
}
#u25039 {
  position:absolute;
  left:2px;
  top:6px;
  width:22px;
  word-wrap:break-word;
}
#u25040 {
  position:absolute;
  left:0px;
  top:30px;
  width:88px;
  height:139px;
  visibility:hidden;
}
#u25040_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:94px;
  height:145px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u25041 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:144px;
}
#u25042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:34px;
}
#u25042 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:34px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u25042_img.selected {
}
#u25042.selected {
}
#u25043 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u25044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u25044 {
  position:absolute;
  left:0px;
  top:34px;
  width:88px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u25044_img.selected {
}
#u25044.selected {
}
#u25045 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u25046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u25046 {
  position:absolute;
  left:0px;
  top:69px;
  width:88px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u25046_img.selected {
}
#u25046.selected {
}
#u25047 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u25048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u25048 {
  position:absolute;
  left:0px;
  top:104px;
  width:88px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u25048_img.selected {
}
#u25048.selected {
}
#u25049 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u25050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:25px;
}
#u25050 {
  position:absolute;
  left:396px;
  top:34px;
  width:284px;
  height:25px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
  text-align:left;
}
#u25051 {
  position:absolute;
  left:2px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
#u25053 {
  position:absolute;
  left:11px;
  top:130px;
  width:171px;
  height:385px;
}
#u25053_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:391px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u25054 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:390px;
}
#u25055_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:32px;
}
#u25055 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:32px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u25055_img.mouseOver {
}
#u25055.mouseOver {
}
#u25055_img.selected {
}
#u25055.selected {
}
#u25056 {
  position:absolute;
  left:2px;
  top:7px;
  width:167px;
  word-wrap:break-word;
}
#u25057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:38px;
}
#u25057 {
  position:absolute;
  left:0px;
  top:32px;
  width:171px;
  height:38px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u25057_img.mouseOver {
}
#u25057.mouseOver {
}
#u25057_img.selected {
}
#u25057.selected {
}
#u25058 {
  position:absolute;
  left:2px;
  top:10px;
  width:167px;
  word-wrap:break-word;
}
#u25059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u25059 {
  position:absolute;
  left:0px;
  top:70px;
  width:171px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u25059_img.mouseOver {
}
#u25059.mouseOver {
}
#u25059_img.selected {
}
#u25059.selected {
}
#u25060 {
  position:absolute;
  left:2px;
  top:9px;
  width:167px;
  word-wrap:break-word;
}
#u25061_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u25061 {
  position:absolute;
  left:0px;
  top:105px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u25061_img.mouseOver {
}
#u25061.mouseOver {
}
#u25061_img.selected {
}
#u25061.selected {
}
#u25062 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u25063_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u25063 {
  position:absolute;
  left:0px;
  top:140px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u25063_img.mouseOver {
}
#u25063.mouseOver {
}
#u25063_img.selected {
}
#u25063.selected {
}
#u25064 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u25065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u25065 {
  position:absolute;
  left:0px;
  top:175px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u25065_img.mouseOver {
}
#u25065.mouseOver {
}
#u25065_img.selected {
}
#u25065.selected {
}
#u25066 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u25067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u25067 {
  position:absolute;
  left:0px;
  top:210px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u25067_img.mouseOver {
}
#u25067.mouseOver {
}
#u25067_img.selected {
}
#u25067.selected {
}
#u25068 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u25069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u25069 {
  position:absolute;
  left:0px;
  top:245px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u25069_img.mouseOver {
}
#u25069.mouseOver {
}
#u25069_img.selected {
}
#u25069.selected {
}
#u25070 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u25071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u25071 {
  position:absolute;
  left:0px;
  top:280px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u25071_img.mouseOver {
}
#u25071.mouseOver {
}
#u25071_img.selected {
}
#u25071.selected {
}
#u25072 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u25073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u25073 {
  position:absolute;
  left:0px;
  top:315px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u25073_img.mouseOver {
}
#u25073.mouseOver {
}
#u25073_img.selected {
}
#u25073.selected {
}
#u25074 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u25075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u25075 {
  position:absolute;
  left:0px;
  top:350px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u25075_img.mouseOver {
}
#u25075.mouseOver {
}
#u25075_img.selected {
}
#u25075.selected {
}
#u25076 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u25077 {
  position:absolute;
  left:171px;
  top:245px;
  width:171px;
  height:35px;
  visibility:hidden;
}
#u25077_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:41px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u25078 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
}
#u25079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u25079 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u25079_img.mouseOver {
}
#u25079.mouseOver {
}
#u25079_img.selected {
}
#u25079.selected {
}
#u25080 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u25081 {
  position:absolute;
  left:171px;
  top:105px;
  width:202px;
  height:112px;
  visibility:hidden;
}
#u25081_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:208px;
  height:118px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u25082 {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:117px;
}
#u25083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:36px;
}
#u25083 {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:36px;
  font-size:15px;
  color:#000000;
  text-align:center;
}
#u25083_img.mouseOver {
}
#u25083.mouseOver {
}
#u25083_img.selected {
}
#u25083.selected {
}
#u25084 {
  position:absolute;
  left:2px;
  top:10px;
  width:198px;
  word-wrap:break-word;
}
#u25085_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:38px;
}
#u25085 {
  position:absolute;
  left:0px;
  top:36px;
  width:202px;
  height:38px;
  font-size:15px;
  color:#000000;
  text-align:center;
}
#u25085_img.mouseOver {
}
#u25085.mouseOver {
}
#u25085_img.selected {
}
#u25085.selected {
}
#u25086 {
  position:absolute;
  left:2px;
  top:10px;
  width:198px;
  word-wrap:break-word;
}
#u25087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:38px;
}
#u25087 {
  position:absolute;
  left:0px;
  top:74px;
  width:202px;
  height:38px;
  font-size:15px;
  color:#000000;
  text-align:center;
}
#u25087_img.mouseOver {
}
#u25087.mouseOver {
}
#u25087_img.selected {
}
#u25087.selected {
}
#u25088 {
  position:absolute;
  left:2px;
  top:10px;
  width:198px;
  word-wrap:break-word;
}
#u25089 {
  position:absolute;
  left:171px;
  top:32px;
  width:150px;
  height:175px;
  visibility:hidden;
}
#u25089_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:156px;
  height:181px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u25090 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:180px;
}
#u25091_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u25091 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u25091_img.mouseOver {
}
#u25091.mouseOver {
}
#u25091_img.selected {
}
#u25091.selected {
}
#u25092 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u25093_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u25093 {
  position:absolute;
  left:0px;
  top:35px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u25093_img.mouseOver {
}
#u25093.mouseOver {
}
#u25093_img.selected {
}
#u25093.selected {
}
#u25094 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u25095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u25095 {
  position:absolute;
  left:0px;
  top:70px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u25095_img.mouseOver {
}
#u25095.mouseOver {
}
#u25095_img.selected {
}
#u25095.selected {
}
#u25096 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u25097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u25097 {
  position:absolute;
  left:0px;
  top:105px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u25097_img.mouseOver {
}
#u25097.mouseOver {
}
#u25097_img.selected {
}
#u25097.selected {
}
#u25098 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u25099_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u25099 {
  position:absolute;
  left:0px;
  top:140px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u25099_img.mouseOver {
}
#u25099.mouseOver {
}
#u25099_img.selected {
}
#u25099.selected {
}
#u25100 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u25101 {
  position:absolute;
  left:171px;
  top:70px;
  width:171px;
  height:35px;
  visibility:hidden;
}
#u25101_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:41px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u25102 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
}
#u25103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u25103 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u25103_img.mouseOver {
}
#u25103.mouseOver {
}
#u25103_img.selected {
}
#u25103.selected {
}
#u25104 {
  position:absolute;
  left:2px;
  top:9px;
  width:167px;
  word-wrap:break-word;
}
#u25105 {
  position:absolute;
  left:171px;
  top:280px;
  width:171px;
  height:110px;
  visibility:hidden;
}
#u25105_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:116px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u25106 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:115px;
}
#u25107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u25107 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u25107_img.mouseOver {
}
#u25107.mouseOver {
}
#u25107_img.selected {
}
#u25107.selected {
}
#u25108 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u25109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u25109 {
  position:absolute;
  left:0px;
  top:35px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u25109_img.mouseOver {
}
#u25109.mouseOver {
}
#u25109_img.selected {
}
#u25109.selected {
}
#u25110 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u25111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:40px;
}
#u25111 {
  position:absolute;
  left:0px;
  top:70px;
  width:171px;
  height:40px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u25111_img.mouseOver {
}
#u25111.mouseOver {
}
#u25111_img.selected {
}
#u25111.selected {
}
#u25112 {
  position:absolute;
  left:2px;
  top:11px;
  width:167px;
  word-wrap:break-word;
}
#u25113 {
  position:absolute;
  left:171px;
  top:315px;
  width:169px;
  height:140px;
  visibility:hidden;
}
#u25113_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:175px;
  height:146px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u25114 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:145px;
}
#u25115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u25115 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u25115_img.mouseOver {
}
#u25115.mouseOver {
}
#u25115_img.selected {
}
#u25115.selected {
}
#u25116 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u25117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u25117 {
  position:absolute;
  left:0px;
  top:35px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u25117_img.mouseOver {
}
#u25117.mouseOver {
}
#u25117_img.selected {
}
#u25117.selected {
}
#u25118 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u25119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u25119 {
  position:absolute;
  left:0px;
  top:70px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u25119_img.mouseOver {
}
#u25119.mouseOver {
}
#u25119_img.selected {
}
#u25119.selected {
}
#u25120 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u25121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u25121 {
  position:absolute;
  left:0px;
  top:105px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u25121_img.mouseOver {
}
#u25121.mouseOver {
}
#u25121_img.selected {
}
#u25121.selected {
}
#u25122 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u25123 {
  position:absolute;
  left:171px;
  top:350px;
  width:171px;
  height:35px;
  visibility:hidden;
}
#u25123_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:41px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u25124 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
}
#u25125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u25125 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u25125_img.mouseOver {
}
#u25125.mouseOver {
}
#u25125_img.selected {
}
#u25125.selected {
}
#u25126 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u25127 {
  position:absolute;
  left:171px;
  top:210px;
  width:171px;
  height:35px;
  visibility:hidden;
}
#u25127_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:41px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u25128 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
}
#u25129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u25129 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u25129_img.mouseOver {
}
#u25129.mouseOver {
}
#u25129_img.selected {
}
#u25129.selected {
}
#u25130 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u25131 {
  position:absolute;
  left:171px;
  top:175px;
  width:171px;
  height:70px;
  visibility:hidden;
}
#u25131_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:76px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u25132 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:75px;
}
#u25133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u25133 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u25133_img.mouseOver {
}
#u25133.mouseOver {
}
#u25133_img.selected {
}
#u25133.selected {
}
#u25134 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u25135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u25135 {
  position:absolute;
  left:0px;
  top:35px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u25135_img.mouseOver {
}
#u25135.mouseOver {
}
#u25135_img.selected {
}
#u25135.selected {
}
#u25136 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u25137 {
  position:absolute;
  left:171px;
  top:140px;
  width:171px;
  height:70px;
  visibility:hidden;
}
#u25137_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:76px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u25138 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:75px;
}
#u25139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u25139 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u25139_img.mouseOver {
}
#u25139.mouseOver {
}
#u25139_img.selected {
}
#u25139.selected {
}
#u25140 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u25141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u25141 {
  position:absolute;
  left:0px;
  top:35px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u25141_img.mouseOver {
}
#u25141.mouseOver {
}
#u25141_img.selected {
}
#u25141.selected {
}
#u25142 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u25144_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:90px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25144 {
  position:absolute;
  left:0px;
  top:967px;
  width:1280px;
  height:90px;
}
#u25145 {
  position:absolute;
  left:2px;
  top:37px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25146_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u25146 {
  position:absolute;
  left:35px;
  top:994px;
  width:94px;
  height:37px;
  color:#FFFFFF;
}
#u25147 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u25148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:38px;
}
#u25148 {
  position:absolute;
  left:1102px;
  top:1013px;
  width:170px;
  height:38px;
  font-size:16px;
  color:#FF0000;
}
#u25149 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u25150_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Medium', 'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
}
#u25150 {
  position:absolute;
  left:220px;
  top:150px;
  width:193px;
  height:38px;
  font-family:'STHeitiTC-Medium', 'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
}
#u25151 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u25152 {
  position:absolute;
  left:220px;
  top:248px;
  width:766px;
  height:271px;
}
#u25153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:40px;
}
#u25153 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u25154 {
  position:absolute;
  left:10px;
  top:12px;
  width:113px;
  word-wrap:break-word;
}
#u25155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:40px;
}
#u25155 {
  position:absolute;
  left:125px;
  top:0px;
  width:295px;
  height:40px;
  font-size:14px;
}
#u25156 {
  position:absolute;
  left:10px;
  top:4px;
  width:283px;
  word-wrap:break-word;
}
#u25157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:40px;
}
#u25157 {
  position:absolute;
  left:420px;
  top:0px;
  width:125px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u25158 {
  position:absolute;
  left:10px;
  top:12px;
  width:113px;
  word-wrap:break-word;
}
#u25159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:40px;
}
#u25159 {
  position:absolute;
  left:545px;
  top:0px;
  width:216px;
  height:40px;
}
#u25160 {
  position:absolute;
  left:10px;
  top:12px;
  width:204px;
  word-wrap:break-word;
}
#u25161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:40px;
}
#u25161 {
  position:absolute;
  left:0px;
  top:40px;
  width:125px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u25162 {
  position:absolute;
  left:10px;
  top:12px;
  width:113px;
  word-wrap:break-word;
}
#u25163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:40px;
}
#u25163 {
  position:absolute;
  left:125px;
  top:40px;
  width:295px;
  height:40px;
  font-size:14px;
  text-align:left;
}
#u25164 {
  position:absolute;
  left:10px;
  top:12px;
  width:283px;
  word-wrap:break-word;
}
#u25165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:40px;
}
#u25165 {
  position:absolute;
  left:420px;
  top:40px;
  width:125px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u25166 {
  position:absolute;
  left:10px;
  top:12px;
  width:113px;
  word-wrap:break-word;
}
#u25167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:40px;
}
#u25167 {
  position:absolute;
  left:545px;
  top:40px;
  width:216px;
  height:40px;
  font-size:14px;
}
#u25168 {
  position:absolute;
  left:10px;
  top:12px;
  width:204px;
  word-wrap:break-word;
}
#u25169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:68px;
}
#u25169 {
  position:absolute;
  left:0px;
  top:80px;
  width:125px;
  height:68px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u25170 {
  position:absolute;
  left:10px;
  top:26px;
  width:113px;
  word-wrap:break-word;
}
#u25171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:68px;
}
#u25171 {
  position:absolute;
  left:125px;
  top:80px;
  width:295px;
  height:68px;
  font-size:14px;
  text-align:left;
}
#u25172 {
  position:absolute;
  left:10px;
  top:10px;
  width:283px;
  word-wrap:break-word;
}
#u25173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:68px;
}
#u25173 {
  position:absolute;
  left:420px;
  top:80px;
  width:125px;
  height:68px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u25174 {
  position:absolute;
  left:10px;
  top:26px;
  width:113px;
  word-wrap:break-word;
}
#u25175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:68px;
}
#u25175 {
  position:absolute;
  left:545px;
  top:80px;
  width:216px;
  height:68px;
}
#u25176 {
  position:absolute;
  left:10px;
  top:26px;
  width:204px;
  word-wrap:break-word;
}
#u25177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:40px;
}
#u25177 {
  position:absolute;
  left:0px;
  top:148px;
  width:125px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u25178 {
  position:absolute;
  left:10px;
  top:12px;
  width:113px;
  word-wrap:break-word;
}
#u25179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:40px;
}
#u25179 {
  position:absolute;
  left:125px;
  top:148px;
  width:295px;
  height:40px;
  font-size:14px;
}
#u25180 {
  position:absolute;
  left:10px;
  top:12px;
  width:283px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:40px;
}
#u25181 {
  position:absolute;
  left:420px;
  top:148px;
  width:125px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u25182 {
  position:absolute;
  left:10px;
  top:12px;
  width:113px;
  word-wrap:break-word;
}
#u25183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:40px;
}
#u25183 {
  position:absolute;
  left:545px;
  top:148px;
  width:216px;
  height:40px;
  font-size:14px;
}
#u25184 {
  position:absolute;
  left:10px;
  top:12px;
  width:204px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:78px;
}
#u25185 {
  position:absolute;
  left:0px;
  top:188px;
  width:125px;
  height:78px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u25186 {
  position:absolute;
  left:10px;
  top:30px;
  width:113px;
  word-wrap:break-word;
}
#u25187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:78px;
}
#u25187 {
  position:absolute;
  left:125px;
  top:188px;
  width:295px;
  height:78px;
  font-size:14px;
}
#u25188 {
  position:absolute;
  left:10px;
  top:23px;
  width:283px;
  word-wrap:break-word;
}
#u25189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:78px;
}
#u25189 {
  position:absolute;
  left:420px;
  top:188px;
  width:125px;
  height:78px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u25190 {
  position:absolute;
  left:10px;
  top:31px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:78px;
}
#u25191 {
  position:absolute;
  left:545px;
  top:188px;
  width:216px;
  height:78px;
  font-size:14px;
}
#u25192 {
  position:absolute;
  left:10px;
  top:31px;
  width:204px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25193_div {
  position:absolute;
  left:0px;
  top:0px;
  width:761px;
  height:40px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u25193 {
  position:absolute;
  left:220px;
  top:208px;
  width:761px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u25194 {
  position:absolute;
  left:10px;
  top:10px;
  width:749px;
  word-wrap:break-word;
}
#u25195_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u25195 {
  position:absolute;
  left:666px;
  top:879px;
  width:100px;
  height:30px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u25195_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u25195.mouseOver {
}
#u25196 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u25197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:17px;
}
#u25197 {
  position:absolute;
  left:981px;
  top:368px;
  width:170px;
  height:17px;
  font-size:15px;
  color:#FF0000;
  text-align:center;
}
#u25198 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u25199 {
  position:absolute;
  left:220px;
  top:792px;
  width:766px;
  height:45px;
}
#u25200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:40px;
}
#u25200 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u25201 {
  position:absolute;
  left:10px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u25202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:40px;
}
#u25202 {
  position:absolute;
  left:148px;
  top:0px;
  width:127px;
  height:40px;
  font-size:15px;
  color:#666666;
}
#u25203 {
  position:absolute;
  left:10px;
  top:12px;
  width:115px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:40px;
}
#u25204 {
  position:absolute;
  left:275px;
  top:0px;
  width:139px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u25205 {
  position:absolute;
  left:10px;
  top:12px;
  width:127px;
  word-wrap:break-word;
}
#u25206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:40px;
}
#u25206 {
  position:absolute;
  left:414px;
  top:0px;
  width:347px;
  height:40px;
  font-size:15px;
  color:#666666;
}
#u25207 {
  position:absolute;
  left:10px;
  top:12px;
  width:335px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25208 {
  position:absolute;
  left:653px;
  top:800px;
  width:317px;
  height:25px;
}
#u25208_input {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u25209 {
  position:absolute;
  left:391px;
  top:802px;
  width:89px;
  height:22px;
}
#u25209_input {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u25209_input:disabled {
  color:grayText;
}
#u25210_div {
  position:absolute;
  left:0px;
  top:0px;
  width:761px;
  height:40px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u25210 {
  position:absolute;
  left:220px;
  top:752px;
  width:761px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u25211 {
  position:absolute;
  left:10px;
  top:10px;
  width:749px;
  word-wrap:break-word;
}
#u25212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:48px;
}
#u25212 {
  position:absolute;
  left:1010px;
  top:784px;
  width:346px;
  height:48px;
  color:#FF0000;
}
#u25213 {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  white-space:nowrap;
}
#u25214_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u25214 {
  position:absolute;
  left:534px;
  top:879px;
  width:100px;
  height:30px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u25214_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u25214.mouseOver {
}
#u25215 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u25216_div {
  position:absolute;
  left:0px;
  top:0px;
  width:761px;
  height:40px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u25216 {
  position:absolute;
  left:220px;
  top:558px;
  width:761px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u25217 {
  position:absolute;
  left:10px;
  top:10px;
  width:749px;
  word-wrap:break-word;
}
#u25218 {
  position:absolute;
  left:220px;
  top:597px;
  width:766px;
  height:121px;
}
#u25219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:36px;
}
#u25219 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:36px;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u25220 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u25221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:36px;
}
#u25221 {
  position:absolute;
  left:140px;
  top:0px;
  width:161px;
  height:36px;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u25222 {
  position:absolute;
  left:2px;
  top:10px;
  width:157px;
  word-wrap:break-word;
}
#u25223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:36px;
}
#u25223 {
  position:absolute;
  left:301px;
  top:0px;
  width:125px;
  height:36px;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u25224 {
  position:absolute;
  left:2px;
  top:10px;
  width:121px;
  word-wrap:break-word;
}
#u25225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:36px;
}
#u25225 {
  position:absolute;
  left:426px;
  top:0px;
  width:335px;
  height:36px;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u25226 {
  position:absolute;
  left:2px;
  top:10px;
  width:331px;
  word-wrap:break-word;
}
#u25227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u25227 {
  position:absolute;
  left:0px;
  top:36px;
  width:140px;
  height:40px;
}
#u25228 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u25229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:40px;
}
#u25229 {
  position:absolute;
  left:140px;
  top:36px;
  width:161px;
  height:40px;
  font-size:14px;
}
#u25230 {
  position:absolute;
  left:2px;
  top:12px;
  width:157px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:40px;
}
#u25231 {
  position:absolute;
  left:301px;
  top:36px;
  width:125px;
  height:40px;
  font-size:14px;
}
#u25232 {
  position:absolute;
  left:2px;
  top:12px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:40px;
}
#u25233 {
  position:absolute;
  left:426px;
  top:36px;
  width:335px;
  height:40px;
}
#u25234 {
  position:absolute;
  left:2px;
  top:12px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u25235 {
  position:absolute;
  left:0px;
  top:76px;
  width:140px;
  height:40px;
}
#u25236 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u25237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:40px;
}
#u25237 {
  position:absolute;
  left:140px;
  top:76px;
  width:161px;
  height:40px;
  font-size:14px;
}
#u25238 {
  position:absolute;
  left:2px;
  top:12px;
  width:157px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:40px;
}
#u25239 {
  position:absolute;
  left:301px;
  top:76px;
  width:125px;
  height:40px;
  font-size:14px;
}
#u25240 {
  position:absolute;
  left:2px;
  top:12px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:40px;
}
#u25241 {
  position:absolute;
  left:426px;
  top:76px;
  width:335px;
  height:40px;
}
#u25242 {
  position:absolute;
  left:2px;
  top:12px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25243 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25244_div {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:136px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u25244 {
  position:absolute;
  left:490px;
  top:646px;
  width:308px;
  height:136px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u25245 {
  position:absolute;
  left:20px;
  top:20px;
  width:286px;
  word-wrap:break-word;
}
#u25246 {
  position:absolute;
  left:707px;
  top:728px;
  width:75px;
  height:25px;
}
#u25246_input {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u25247 {
  position:absolute;
  left:606px;
  top:728px;
  width:75px;
  height:25px;
}
#u25247_input {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u25248_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u25248 {
  position:absolute;
  left:991px;
  top:646px;
  width:79px;
  height:16px;
  color:#FF0000;
  text-align:center;
}
#u25249 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u25250_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:16px;
}
#u25250 {
  position:absolute;
  left:220px;
  top:842px;
  width:170px;
  height:16px;
  color:#FF0000;
  text-align:center;
}
#u25251 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  white-space:nowrap;
}
