body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u37080_div {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:759px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u37080 {
  position:absolute;
  left:0px;
  top:109px;
  width:191px;
  height:759px;
}
#u37081 {
  position:absolute;
  left:2px;
  top:372px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37083_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:110px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u37083 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:110px;
}
#u37084 {
  position:absolute;
  left:2px;
  top:47px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37085 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u37086_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
}
#u37086 {
  position:absolute;
  left:1061px;
  top:30px;
  width:129px;
  height:17px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
}
#u37087 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u37088_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
}
#u37088 {
  position:absolute;
  left:1197px;
  top:30px;
  width:39px;
  height:17px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
}
#u37089 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u37090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:11px;
}
#u37090 {
  position:absolute;
  left:1188px;
  top:34px;
  width:1px;
  height:10px;
}
#u37091 {
  position:absolute;
  left:2px;
  top:-3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37092_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Rounded MT Bold';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u37092 {
  position:absolute;
  left:20px;
  top:30px;
  width:144px;
  height:55px;
  font-family:'Arial Rounded MT Bold';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u37093 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u37094 {
  position:absolute;
  left:1025px;
  top:24px;
  width:26px;
  height:30px;
}
#u37094_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:32px;
  height:36px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u37095 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:35px;
}
#u37096_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:30px;
}
#u37096 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:30px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
  text-align:center;
}
#u37096_img.selected {
}
#u37096.selected {
}
#u37097 {
  position:absolute;
  left:2px;
  top:6px;
  width:22px;
  word-wrap:break-word;
}
#u37098 {
  position:absolute;
  left:0px;
  top:30px;
  width:88px;
  height:139px;
  visibility:hidden;
}
#u37098_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:94px;
  height:145px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u37099 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:144px;
}
#u37100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:34px;
}
#u37100 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:34px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u37100_img.selected {
}
#u37100.selected {
}
#u37101 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u37102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u37102 {
  position:absolute;
  left:0px;
  top:34px;
  width:88px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u37102_img.selected {
}
#u37102.selected {
}
#u37103 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u37104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u37104 {
  position:absolute;
  left:0px;
  top:69px;
  width:88px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u37104_img.selected {
}
#u37104.selected {
}
#u37105 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u37106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u37106 {
  position:absolute;
  left:0px;
  top:104px;
  width:88px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u37106_img.selected {
}
#u37106.selected {
}
#u37107 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u37108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:25px;
}
#u37108 {
  position:absolute;
  left:396px;
  top:34px;
  width:284px;
  height:25px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
  text-align:left;
}
#u37109 {
  position:absolute;
  left:2px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
#u37111 {
  position:absolute;
  left:11px;
  top:130px;
  width:171px;
  height:385px;
}
#u37111_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:391px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u37112 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:390px;
}
#u37113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:32px;
}
#u37113 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:32px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u37113_img.mouseOver {
}
#u37113.mouseOver {
}
#u37113_img.selected {
}
#u37113.selected {
}
#u37114 {
  position:absolute;
  left:2px;
  top:7px;
  width:167px;
  word-wrap:break-word;
}
#u37115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:38px;
}
#u37115 {
  position:absolute;
  left:0px;
  top:32px;
  width:171px;
  height:38px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u37115_img.mouseOver {
}
#u37115.mouseOver {
}
#u37115_img.selected {
}
#u37115.selected {
}
#u37116 {
  position:absolute;
  left:2px;
  top:10px;
  width:167px;
  word-wrap:break-word;
}
#u37117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u37117 {
  position:absolute;
  left:0px;
  top:70px;
  width:171px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u37117_img.mouseOver {
}
#u37117.mouseOver {
}
#u37117_img.selected {
}
#u37117.selected {
}
#u37118 {
  position:absolute;
  left:2px;
  top:9px;
  width:167px;
  word-wrap:break-word;
}
#u37119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u37119 {
  position:absolute;
  left:0px;
  top:105px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u37119_img.mouseOver {
}
#u37119.mouseOver {
}
#u37119_img.selected {
}
#u37119.selected {
}
#u37120 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u37121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u37121 {
  position:absolute;
  left:0px;
  top:140px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u37121_img.mouseOver {
}
#u37121.mouseOver {
}
#u37121_img.selected {
}
#u37121.selected {
}
#u37122 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u37123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u37123 {
  position:absolute;
  left:0px;
  top:175px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u37123_img.mouseOver {
}
#u37123.mouseOver {
}
#u37123_img.selected {
}
#u37123.selected {
}
#u37124 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u37125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u37125 {
  position:absolute;
  left:0px;
  top:210px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u37125_img.mouseOver {
}
#u37125.mouseOver {
}
#u37125_img.selected {
}
#u37125.selected {
}
#u37126 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u37127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u37127 {
  position:absolute;
  left:0px;
  top:245px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u37127_img.mouseOver {
}
#u37127.mouseOver {
}
#u37127_img.selected {
}
#u37127.selected {
}
#u37128 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u37129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u37129 {
  position:absolute;
  left:0px;
  top:280px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u37129_img.mouseOver {
}
#u37129.mouseOver {
}
#u37129_img.selected {
}
#u37129.selected {
}
#u37130 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u37131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u37131 {
  position:absolute;
  left:0px;
  top:315px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u37131_img.mouseOver {
}
#u37131.mouseOver {
}
#u37131_img.selected {
}
#u37131.selected {
}
#u37132 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u37133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u37133 {
  position:absolute;
  left:0px;
  top:350px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u37133_img.mouseOver {
}
#u37133.mouseOver {
}
#u37133_img.selected {
}
#u37133.selected {
}
#u37134 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u37135 {
  position:absolute;
  left:171px;
  top:245px;
  width:171px;
  height:35px;
  visibility:hidden;
}
#u37135_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:41px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u37136 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
}
#u37137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u37137 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u37137_img.mouseOver {
}
#u37137.mouseOver {
}
#u37137_img.selected {
}
#u37137.selected {
}
#u37138 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u37139 {
  position:absolute;
  left:171px;
  top:105px;
  width:202px;
  height:112px;
  visibility:hidden;
}
#u37139_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:208px;
  height:118px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u37140 {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:117px;
}
#u37141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:36px;
}
#u37141 {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:36px;
  font-size:15px;
  color:#000000;
  text-align:center;
}
#u37141_img.mouseOver {
}
#u37141.mouseOver {
}
#u37141_img.selected {
}
#u37141.selected {
}
#u37142 {
  position:absolute;
  left:2px;
  top:10px;
  width:198px;
  word-wrap:break-word;
}
#u37143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:38px;
}
#u37143 {
  position:absolute;
  left:0px;
  top:36px;
  width:202px;
  height:38px;
  font-size:15px;
  color:#000000;
  text-align:center;
}
#u37143_img.mouseOver {
}
#u37143.mouseOver {
}
#u37143_img.selected {
}
#u37143.selected {
}
#u37144 {
  position:absolute;
  left:2px;
  top:10px;
  width:198px;
  word-wrap:break-word;
}
#u37145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:38px;
}
#u37145 {
  position:absolute;
  left:0px;
  top:74px;
  width:202px;
  height:38px;
  font-size:15px;
  color:#000000;
  text-align:center;
}
#u37145_img.mouseOver {
}
#u37145.mouseOver {
}
#u37145_img.selected {
}
#u37145.selected {
}
#u37146 {
  position:absolute;
  left:2px;
  top:10px;
  width:198px;
  word-wrap:break-word;
}
#u37147 {
  position:absolute;
  left:171px;
  top:32px;
  width:150px;
  height:175px;
  visibility:hidden;
}
#u37147_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:156px;
  height:181px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u37148 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:180px;
}
#u37149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u37149 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u37149_img.mouseOver {
}
#u37149.mouseOver {
}
#u37149_img.selected {
}
#u37149.selected {
}
#u37150 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u37151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u37151 {
  position:absolute;
  left:0px;
  top:35px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u37151_img.mouseOver {
}
#u37151.mouseOver {
}
#u37151_img.selected {
}
#u37151.selected {
}
#u37152 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u37153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u37153 {
  position:absolute;
  left:0px;
  top:70px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u37153_img.mouseOver {
}
#u37153.mouseOver {
}
#u37153_img.selected {
}
#u37153.selected {
}
#u37154 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u37155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u37155 {
  position:absolute;
  left:0px;
  top:105px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u37155_img.mouseOver {
}
#u37155.mouseOver {
}
#u37155_img.selected {
}
#u37155.selected {
}
#u37156 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u37157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u37157 {
  position:absolute;
  left:0px;
  top:140px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u37157_img.mouseOver {
}
#u37157.mouseOver {
}
#u37157_img.selected {
}
#u37157.selected {
}
#u37158 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u37159 {
  position:absolute;
  left:171px;
  top:70px;
  width:171px;
  height:35px;
  visibility:hidden;
}
#u37159_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:41px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u37160 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
}
#u37161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u37161 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u37161_img.mouseOver {
}
#u37161.mouseOver {
}
#u37161_img.selected {
}
#u37161.selected {
}
#u37162 {
  position:absolute;
  left:2px;
  top:9px;
  width:167px;
  word-wrap:break-word;
}
#u37163 {
  position:absolute;
  left:171px;
  top:280px;
  width:171px;
  height:110px;
  visibility:hidden;
}
#u37163_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:116px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u37164 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:115px;
}
#u37165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u37165 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u37165_img.mouseOver {
}
#u37165.mouseOver {
}
#u37165_img.selected {
}
#u37165.selected {
}
#u37166 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u37167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u37167 {
  position:absolute;
  left:0px;
  top:35px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u37167_img.mouseOver {
}
#u37167.mouseOver {
}
#u37167_img.selected {
}
#u37167.selected {
}
#u37168 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u37169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:40px;
}
#u37169 {
  position:absolute;
  left:0px;
  top:70px;
  width:171px;
  height:40px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u37169_img.mouseOver {
}
#u37169.mouseOver {
}
#u37169_img.selected {
}
#u37169.selected {
}
#u37170 {
  position:absolute;
  left:2px;
  top:11px;
  width:167px;
  word-wrap:break-word;
}
#u37171 {
  position:absolute;
  left:171px;
  top:315px;
  width:169px;
  height:140px;
  visibility:hidden;
}
#u37171_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:175px;
  height:146px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u37172 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:145px;
}
#u37173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u37173 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u37173_img.mouseOver {
}
#u37173.mouseOver {
}
#u37173_img.selected {
}
#u37173.selected {
}
#u37174 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u37175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u37175 {
  position:absolute;
  left:0px;
  top:35px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u37175_img.mouseOver {
}
#u37175.mouseOver {
}
#u37175_img.selected {
}
#u37175.selected {
}
#u37176 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u37177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u37177 {
  position:absolute;
  left:0px;
  top:70px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u37177_img.mouseOver {
}
#u37177.mouseOver {
}
#u37177_img.selected {
}
#u37177.selected {
}
#u37178 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u37179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u37179 {
  position:absolute;
  left:0px;
  top:105px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u37179_img.mouseOver {
}
#u37179.mouseOver {
}
#u37179_img.selected {
}
#u37179.selected {
}
#u37180 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u37181 {
  position:absolute;
  left:171px;
  top:350px;
  width:171px;
  height:35px;
  visibility:hidden;
}
#u37181_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:41px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u37182 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
}
#u37183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u37183 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u37183_img.mouseOver {
}
#u37183.mouseOver {
}
#u37183_img.selected {
}
#u37183.selected {
}
#u37184 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u37185 {
  position:absolute;
  left:171px;
  top:210px;
  width:171px;
  height:35px;
  visibility:hidden;
}
#u37185_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:41px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u37186 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
}
#u37187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u37187 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u37187_img.mouseOver {
}
#u37187.mouseOver {
}
#u37187_img.selected {
}
#u37187.selected {
}
#u37188 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u37189 {
  position:absolute;
  left:171px;
  top:175px;
  width:171px;
  height:70px;
  visibility:hidden;
}
#u37189_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:76px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u37190 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:75px;
}
#u37191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u37191 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u37191_img.mouseOver {
}
#u37191.mouseOver {
}
#u37191_img.selected {
}
#u37191.selected {
}
#u37192 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u37193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u37193 {
  position:absolute;
  left:0px;
  top:35px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u37193_img.mouseOver {
}
#u37193.mouseOver {
}
#u37193_img.selected {
}
#u37193.selected {
}
#u37194 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u37195 {
  position:absolute;
  left:171px;
  top:140px;
  width:171px;
  height:70px;
  visibility:hidden;
}
#u37195_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:76px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u37196 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:75px;
}
#u37197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u37197 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u37197_img.mouseOver {
}
#u37197.mouseOver {
}
#u37197_img.selected {
}
#u37197.selected {
}
#u37198 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u37199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u37199 {
  position:absolute;
  left:0px;
  top:35px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u37199_img.mouseOver {
}
#u37199.mouseOver {
}
#u37199_img.selected {
}
#u37199.selected {
}
#u37200 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u37202_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:90px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u37202 {
  position:absolute;
  left:0px;
  top:850px;
  width:1280px;
  height:90px;
}
#u37203 {
  position:absolute;
  left:2px;
  top:37px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37204_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u37204 {
  position:absolute;
  left:35px;
  top:877px;
  width:94px;
  height:37px;
  color:#FFFFFF;
}
#u37205 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u37206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:38px;
}
#u37206 {
  position:absolute;
  left:1102px;
  top:896px;
  width:170px;
  height:38px;
  font-size:16px;
  color:#FF0000;
}
#u37207 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u37208_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Medium', 'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
}
#u37208 {
  position:absolute;
  left:220px;
  top:150px;
  width:193px;
  height:38px;
  font-family:'STHeitiTC-Medium', 'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
}
#u37209 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u37210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:16px;
}
#u37210 {
  position:absolute;
  left:854px;
  top:292px;
  width:118px;
  height:16px;
  color:#FF0000;
  text-align:center;
}
#u37211 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u37212 {
  position:absolute;
  left:220px;
  top:240px;
  width:629px;
  height:515px;
}
#u37213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:40px;
}
#u37213 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u37214 {
  position:absolute;
  left:10px;
  top:12px;
  width:248px;
  word-wrap:break-word;
}
#u37215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:40px;
}
#u37215 {
  position:absolute;
  left:260px;
  top:0px;
  width:364px;
  height:40px;
  font-size:15px;
  color:#666666;
}
#u37216 {
  position:absolute;
  left:10px;
  top:12px;
  width:352px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:40px;
}
#u37217 {
  position:absolute;
  left:0px;
  top:40px;
  width:260px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u37218 {
  position:absolute;
  left:10px;
  top:12px;
  width:248px;
  word-wrap:break-word;
}
#u37219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:40px;
}
#u37219 {
  position:absolute;
  left:260px;
  top:40px;
  width:364px;
  height:40px;
  color:#000000;
}
#u37220 {
  position:absolute;
  left:10px;
  top:12px;
  width:352px;
  word-wrap:break-word;
}
#u37221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:40px;
}
#u37221 {
  position:absolute;
  left:0px;
  top:80px;
  width:260px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u37222 {
  position:absolute;
  left:10px;
  top:12px;
  width:248px;
  word-wrap:break-word;
}
#u37223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:40px;
}
#u37223 {
  position:absolute;
  left:260px;
  top:80px;
  width:364px;
  height:40px;
  font-size:15px;
  color:#666666;
}
#u37224 {
  position:absolute;
  left:10px;
  top:12px;
  width:352px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:40px;
}
#u37225 {
  position:absolute;
  left:0px;
  top:120px;
  width:260px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u37226 {
  position:absolute;
  left:10px;
  top:12px;
  width:248px;
  word-wrap:break-word;
}
#u37227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:40px;
}
#u37227 {
  position:absolute;
  left:260px;
  top:120px;
  width:364px;
  height:40px;
  color:#000000;
}
#u37228 {
  position:absolute;
  left:10px;
  top:12px;
  width:352px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:40px;
}
#u37229 {
  position:absolute;
  left:0px;
  top:160px;
  width:260px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u37230 {
  position:absolute;
  left:10px;
  top:12px;
  width:248px;
  word-wrap:break-word;
}
#u37231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:40px;
}
#u37231 {
  position:absolute;
  left:260px;
  top:160px;
  width:364px;
  height:40px;
  color:#000000;
}
#u37232 {
  position:absolute;
  left:10px;
  top:12px;
  width:352px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:40px;
}
#u37233 {
  position:absolute;
  left:0px;
  top:200px;
  width:260px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u37234 {
  position:absolute;
  left:10px;
  top:12px;
  width:248px;
  word-wrap:break-word;
}
#u37235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:40px;
}
#u37235 {
  position:absolute;
  left:260px;
  top:200px;
  width:364px;
  height:40px;
  color:#000000;
}
#u37236 {
  position:absolute;
  left:10px;
  top:12px;
  width:352px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:40px;
}
#u37237 {
  position:absolute;
  left:0px;
  top:240px;
  width:260px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u37238 {
  position:absolute;
  left:10px;
  top:12px;
  width:248px;
  word-wrap:break-word;
}
#u37239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:40px;
}
#u37239 {
  position:absolute;
  left:260px;
  top:240px;
  width:364px;
  height:40px;
  color:#000000;
}
#u37240 {
  position:absolute;
  left:10px;
  top:12px;
  width:352px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:40px;
}
#u37241 {
  position:absolute;
  left:0px;
  top:280px;
  width:260px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u37242 {
  position:absolute;
  left:10px;
  top:12px;
  width:248px;
  word-wrap:break-word;
}
#u37243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:40px;
}
#u37243 {
  position:absolute;
  left:260px;
  top:280px;
  width:364px;
  height:40px;
}
#u37244 {
  position:absolute;
  left:10px;
  top:12px;
  width:352px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:40px;
}
#u37245 {
  position:absolute;
  left:0px;
  top:320px;
  width:260px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u37246 {
  position:absolute;
  left:10px;
  top:12px;
  width:248px;
  word-wrap:break-word;
}
#u37247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:40px;
}
#u37247 {
  position:absolute;
  left:260px;
  top:320px;
  width:364px;
  height:40px;
}
#u37248 {
  position:absolute;
  left:10px;
  top:12px;
  width:352px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:75px;
}
#u37249 {
  position:absolute;
  left:0px;
  top:360px;
  width:260px;
  height:75px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u37250 {
  position:absolute;
  left:10px;
  top:29px;
  width:248px;
  word-wrap:break-word;
}
#u37251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:75px;
}
#u37251 {
  position:absolute;
  left:260px;
  top:360px;
  width:364px;
  height:75px;
  color:#000000;
  text-align:left;
}
#u37252 {
  position:absolute;
  left:10px;
  top:30px;
  width:352px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:75px;
}
#u37253 {
  position:absolute;
  left:0px;
  top:435px;
  width:260px;
  height:75px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u37254 {
  position:absolute;
  left:10px;
  top:29px;
  width:248px;
  word-wrap:break-word;
}
#u37255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:75px;
}
#u37255 {
  position:absolute;
  left:260px;
  top:435px;
  width:364px;
  height:75px;
  color:#000000;
  text-align:left;
}
#u37256 {
  position:absolute;
  left:10px;
  top:30px;
  width:352px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37257_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u37257 {
  position:absolute;
  left:554px;
  top:762px;
  width:100px;
  height:30px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u37257_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u37257.mouseOver {
}
#u37258 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u37259_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u37259 {
  position:absolute;
  left:428px;
  top:762px;
  width:100px;
  height:30px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u37259_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u37259.mouseOver {
}
#u37260 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u37261_div {
  position:absolute;
  left:0px;
  top:0px;
  width:624px;
  height:40px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u37261 {
  position:absolute;
  left:220px;
  top:200px;
  width:624px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u37262 {
  position:absolute;
  left:10px;
  top:10px;
  width:612px;
  word-wrap:break-word;
}
#u37263_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
}
#u37263 {
  position:absolute;
  left:589px;
  top:332px;
  width:67px;
  height:16px;
  color:#FF0000;
  text-align:center;
}
#u37264 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u37265 {
  position:absolute;
  left:545px;
  top:684px;
  width:256px;
  height:58px;
}
#u37265_input {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:58px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u37266 {
  position:absolute;
  left:547px;
  top:525px;
  width:256px;
  height:30px;
}
#u37266_input {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u37267 {
  position:absolute;
  left:542px;
  top:367px;
  width:259px;
  height:26px;
}
#u37267_input {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u37267_input:disabled {
  color:grayText;
}
#u37268 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u37269 {
  position:absolute;
  left:545px;
  top:245px;
  width:130px;
  height:30px;
}
#u37269_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u37269_input:disabled {
  color:grayText;
}
#u37270 {
  position:absolute;
  left:684px;
  top:245px;
  width:117px;
  height:30px;
}
#u37270_input {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u37270_input:disabled {
  color:grayText;
}
#u37271 {
  position:absolute;
  left:547px;
  top:565px;
  width:256px;
  height:30px;
}
#u37271_input {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u37272 {
  position:absolute;
  left:547px;
  top:485px;
  width:256px;
  height:30px;
}
#u37272_input {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u37273 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u37274 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u37275_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:147px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u37275 {
  position:absolute;
  left:545px;
  top:473px;
  width:200px;
  height:147px;
  text-align:left;
}
#u37276 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u37277 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u37278 {
  position:absolute;
  left:547px;
  top:476px;
  width:100px;
  height:16px;
}
#u37279 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37278_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u37280 {
  position:absolute;
  left:547px;
  top:492px;
  width:100px;
  height:16px;
}
#u37281 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37280_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u37282 {
  position:absolute;
  left:547px;
  top:508px;
  width:100px;
  height:16px;
}
#u37283 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37282_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u37284 {
  position:absolute;
  left:547px;
  top:524px;
  width:100px;
  height:16px;
}
#u37285 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37284_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u37286 {
  position:absolute;
  left:547px;
  top:540px;
  width:100px;
  height:16px;
}
#u37287 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37286_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u37288 {
  position:absolute;
  left:547px;
  top:555px;
  width:100px;
  height:16px;
}
#u37289 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37288_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u37290 {
  position:absolute;
  left:547px;
  top:571px;
  width:100px;
  height:16px;
}
#u37291 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37290_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u37292 {
  position:absolute;
  left:547px;
  top:587px;
  width:100px;
  height:16px;
}
#u37293 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37292_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u37294 {
  position:absolute;
  left:547px;
  top:603px;
  width:100px;
  height:16px;
}
#u37295 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37294_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u37296_div {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u37296 {
  position:absolute;
  left:545px;
  top:447px;
  width:256px;
  height:26px;
}
#u37297 {
  position:absolute;
  left:2px;
  top:5px;
  width:252px;
  word-wrap:break-word;
}
#u37298 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u37299 {
  position:absolute;
  left:545px;
  top:407px;
  width:126px;
  height:30px;
}
#u37299_input {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u37300 {
  position:absolute;
  left:695px;
  top:407px;
  width:109px;
  height:30px;
}
#u37300_input {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u37301_div {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u37301 {
  position:absolute;
  left:678px;
  top:415px;
  width:10px;
  height:19px;
  font-size:16px;
}
#u37302 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  white-space:nowrap;
}
#u37303 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u37304_div {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:136px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u37304 {
  position:absolute;
  left:430px;
  top:441px;
  width:308px;
  height:136px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u37305 {
  position:absolute;
  left:20px;
  top:20px;
  width:286px;
  word-wrap:break-word;
}
#u37306 {
  position:absolute;
  left:647px;
  top:523px;
  width:75px;
  height:25px;
}
#u37306_input {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u37307 {
  position:absolute;
  left:546px;
  top:523px;
  width:75px;
  height:25px;
}
#u37307_input {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u37308_img {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:16px;
}
#u37308 {
  position:absolute;
  left:847px;
  top:371px;
  width:256px;
  height:16px;
  color:#FF0000;
  text-align:center;
}
#u37309 {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  white-space:nowrap;
}
#u37310 {
  position:absolute;
  left:547px;
  top:609px;
  width:256px;
  height:58px;
}
#u37310_input {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:58px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u37311_img {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:16px;
}
#u37311 {
  position:absolute;
  left:847px;
  top:630px;
  width:326px;
  height:16px;
  color:#FF0000;
  text-align:center;
}
#u37312 {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  white-space:nowrap;
}
