body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2041px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8403_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1267px;
  height:2744px;
}
#u8403 {
  position:absolute;
  left:8px;
  top:12px;
  width:1267px;
  height:2744px;
}
#u8404 {
  position:absolute;
  left:2px;
  top:1364px;
  width:1263px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8405_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:48px;
}
#u8405 {
  position:absolute;
  left:1190px;
  top:343px;
  width:262px;
  height:48px;
  font-size:14px;
  color:#FF0000;
}
#u8406 {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  word-wrap:break-word;
}
#u8407_img {
  position:absolute;
  left:0px;
  top:0px;
  width:589px;
  height:535px;
}
#u8407 {
  position:absolute;
  left:1452px;
  top:35px;
  width:589px;
  height:535px;
}
#u8408 {
  position:absolute;
  left:2px;
  top:260px;
  width:585px;
  visibility:hidden;
  word-wrap:break-word;
}
