body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:994px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2254_div {
  position:absolute;
  left:0px;
  top:0px;
  width:990px;
  height:95px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2254 {
  position:absolute;
  left:0px;
  top:0px;
  width:990px;
  height:95px;
}
#u2255 {
  position:absolute;
  left:2px;
  top:40px;
  width:986px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2256_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2256 {
  position:absolute;
  left:811px;
  top:18px;
  width:99px;
  height:16px;
}
#u2257 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u2258_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2258 {
  position:absolute;
  left:916px;
  top:14px;
  width:61px;
  height:23px;
}
#u2259 {
  position:absolute;
  left:2px;
  top:4px;
  width:57px;
  word-wrap:break-word;
}
#u2260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:25px;
}
#u2260 {
  position:absolute;
  left:368px;
  top:17px;
  width:284px;
  height:25px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
  text-align:left;
}
#u2261 {
  position:absolute;
  left:2px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
#u2262_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:76px;
}
#u2262 {
  position:absolute;
  left:20px;
  top:10px;
  width:200px;
  height:75px;
  font-size:14px;
}
#u2263 {
  position:absolute;
  left:2px;
  top:30px;
  width:196px;
  word-wrap:break-word;
}
#u2264 {
  position:absolute;
  left:244px;
  top:65px;
  width:746px;
  height:30px;
}
#u2264_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:752px;
  height:36px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u2265 {
  position:absolute;
  left:0px;
  top:0px;
  width:751px;
  height:35px;
}
#u2266_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:30px;
}
#u2266 {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:30px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
  text-align:center;
}
#u2266_img.selected {
}
#u2266.selected {
}
#u2267 {
  position:absolute;
  left:2px;
  top:6px;
  width:182px;
  word-wrap:break-word;
}
#u2268_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:30px;
}
#u2268 {
  position:absolute;
  left:186px;
  top:0px;
  width:186px;
  height:30px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
  text-align:center;
}
#u2268_img.selected {
}
#u2268.selected {
}
#u2269 {
  position:absolute;
  left:2px;
  top:6px;
  width:182px;
  word-wrap:break-word;
}
#u2270_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:30px;
}
#u2270 {
  position:absolute;
  left:372px;
  top:0px;
  width:186px;
  height:30px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
  text-align:center;
}
#u2270_img.selected {
}
#u2270.selected {
}
#u2271 {
  position:absolute;
  left:2px;
  top:6px;
  width:182px;
  word-wrap:break-word;
}
#u2272_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:30px;
}
#u2272 {
  position:absolute;
  left:558px;
  top:0px;
  width:188px;
  height:30px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
  text-align:center;
}
#u2272_img.selected {
}
#u2272.selected {
}
#u2273 {
  position:absolute;
  left:2px;
  top:6px;
  width:184px;
  word-wrap:break-word;
}
#u2274 {
  position:absolute;
  left:558px;
  top:30px;
  width:187px;
  height:70px;
  visibility:hidden;
}
#u2274_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:193px;
  height:76px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u2275 {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:75px;
}
#u2276_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:35px;
}
#u2276 {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u2276_img.selected {
}
#u2276.selected {
}
#u2277 {
  position:absolute;
  left:2px;
  top:8px;
  width:183px;
  word-wrap:break-word;
}
#u2278_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:35px;
}
#u2278 {
  position:absolute;
  left:0px;
  top:35px;
  width:187px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u2278_img.selected {
}
#u2278.selected {
}
#u2279 {
  position:absolute;
  left:2px;
  top:8px;
  width:183px;
  word-wrap:break-word;
}
#u2280 {
  position:absolute;
  left:186px;
  top:30px;
  width:186px;
  height:102px;
  visibility:hidden;
}
#u2280_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:192px;
  height:108px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u2281 {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:107px;
}
#u2282_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:34px;
}
#u2282 {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:34px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u2282_img.selected {
}
#u2282.selected {
}
#u2283 {
  position:absolute;
  left:2px;
  top:8px;
  width:182px;
  word-wrap:break-word;
}
#u2284_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:34px;
}
#u2284 {
  position:absolute;
  left:0px;
  top:34px;
  width:186px;
  height:34px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u2284_img.selected {
}
#u2284.selected {
}
#u2285 {
  position:absolute;
  left:2px;
  top:8px;
  width:182px;
  word-wrap:break-word;
}
#u2286_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:34px;
}
#u2286 {
  position:absolute;
  left:0px;
  top:68px;
  width:186px;
  height:34px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u2286_img.selected {
}
#u2286.selected {
}
#u2287 {
  position:absolute;
  left:2px;
  top:8px;
  width:182px;
  word-wrap:break-word;
}
#u2288 {
  position:absolute;
  left:775px;
  top:14px;
  width:26px;
  height:27px;
}
#u2288_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:32px;
  height:33px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u2289 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:32px;
}
#u2290_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:27px;
}
#u2290 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:27px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
  text-align:center;
}
#u2290_img.selected {
}
#u2290.selected {
}
#u2291 {
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  word-wrap:break-word;
}
#u2292 {
  position:absolute;
  left:0px;
  top:27px;
  width:88px;
  height:139px;
  visibility:hidden;
}
#u2292_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:94px;
  height:145px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u2293 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:144px;
}
#u2294_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:34px;
}
#u2294 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:34px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u2294_img.selected {
}
#u2294.selected {
}
#u2295 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u2296_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u2296 {
  position:absolute;
  left:0px;
  top:34px;
  width:88px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u2296_img.selected {
}
#u2296.selected {
}
#u2297 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u2298_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u2298 {
  position:absolute;
  left:0px;
  top:69px;
  width:88px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u2298_img.selected {
}
#u2298.selected {
}
#u2299 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u2300_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u2300 {
  position:absolute;
  left:0px;
  top:104px;
  width:88px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u2300_img.selected {
}
#u2300.selected {
}
#u2301 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u2303_img {
  position:absolute;
  left:0px;
  top:0px;
  width:990px;
  height:68px;
}
#u2303 {
  position:absolute;
  left:4px;
  top:1150px;
  width:990px;
  height:68px;
  color:#1A769A;
}
#u2304 {
  position:absolute;
  left:2px;
  top:26px;
  width:986px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2305_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:38px;
}
#u2305 {
  position:absolute;
  left:809px;
  top:1177px;
  width:177px;
  height:38px;
  font-size:16px;
  color:#FF0000;
}
#u2306 {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  word-wrap:break-word;
}
#u2307 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2308_div {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:28px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2308 {
  position:absolute;
  left:89px;
  top:126px;
  width:7px;
  height:28px;
}
#u2309 {
  position:absolute;
  left:2px;
  top:6px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2310_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u2310 {
  position:absolute;
  left:101px;
  top:129px;
  width:121px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u2311 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u2312 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2313 {
  position:absolute;
  left:89px;
  top:566px;
  width:811px;
  height:222px;
}
#u2314_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:40px;
}
#u2314 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u2315 {
  position:absolute;
  left:10px;
  top:12px;
  width:113px;
  word-wrap:break-word;
}
#u2316_img {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:40px;
}
#u2316 {
  position:absolute;
  left:125px;
  top:0px;
  width:266px;
  height:40px;
  color:#000000;
}
#u2317 {
  position:absolute;
  left:10px;
  top:12px;
  width:254px;
  word-wrap:break-word;
}
#u2318_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:40px;
}
#u2318 {
  position:absolute;
  left:391px;
  top:0px;
  width:134px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u2319 {
  position:absolute;
  left:10px;
  top:12px;
  width:122px;
  word-wrap:break-word;
}
#u2320_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:40px;
}
#u2320 {
  position:absolute;
  left:525px;
  top:0px;
  width:281px;
  height:40px;
}
#u2321 {
  position:absolute;
  left:10px;
  top:12px;
  width:269px;
  word-wrap:break-word;
}
#u2322_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:40px;
}
#u2322 {
  position:absolute;
  left:0px;
  top:40px;
  width:125px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u2323 {
  position:absolute;
  left:10px;
  top:12px;
  width:113px;
  word-wrap:break-word;
}
#u2324_img {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:40px;
}
#u2324 {
  position:absolute;
  left:125px;
  top:40px;
  width:266px;
  height:40px;
  font-size:14px;
}
#u2325 {
  position:absolute;
  left:10px;
  top:12px;
  width:254px;
  word-wrap:break-word;
}
#u2326_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:40px;
}
#u2326 {
  position:absolute;
  left:391px;
  top:40px;
  width:134px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u2327 {
  position:absolute;
  left:10px;
  top:12px;
  width:122px;
  word-wrap:break-word;
}
#u2328_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:40px;
}
#u2328 {
  position:absolute;
  left:525px;
  top:40px;
  width:281px;
  height:40px;
  font-size:14px;
}
#u2329 {
  position:absolute;
  left:10px;
  top:12px;
  width:269px;
  word-wrap:break-word;
}
#u2330_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:40px;
}
#u2330 {
  position:absolute;
  left:0px;
  top:80px;
  width:125px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u2331 {
  position:absolute;
  left:10px;
  top:12px;
  width:113px;
  word-wrap:break-word;
}
#u2332_img {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:40px;
}
#u2332 {
  position:absolute;
  left:125px;
  top:80px;
  width:266px;
  height:40px;
  font-size:14px;
}
#u2333 {
  position:absolute;
  left:10px;
  top:12px;
  width:254px;
  word-wrap:break-word;
}
#u2334_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:40px;
}
#u2334 {
  position:absolute;
  left:391px;
  top:80px;
  width:134px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u2335 {
  position:absolute;
  left:10px;
  top:12px;
  width:122px;
  word-wrap:break-word;
}
#u2336_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:40px;
}
#u2336 {
  position:absolute;
  left:525px;
  top:80px;
  width:281px;
  height:40px;
  font-size:14px;
}
#u2337 {
  position:absolute;
  left:10px;
  top:12px;
  width:269px;
  word-wrap:break-word;
}
#u2338_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:40px;
}
#u2338 {
  position:absolute;
  left:0px;
  top:120px;
  width:125px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u2339 {
  position:absolute;
  left:10px;
  top:12px;
  width:113px;
  word-wrap:break-word;
}
#u2340_img {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:40px;
}
#u2340 {
  position:absolute;
  left:125px;
  top:120px;
  width:266px;
  height:40px;
  font-size:14px;
}
#u2341 {
  position:absolute;
  left:10px;
  top:12px;
  width:254px;
  word-wrap:break-word;
}
#u2342_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:40px;
}
#u2342 {
  position:absolute;
  left:391px;
  top:120px;
  width:134px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u2343 {
  position:absolute;
  left:10px;
  top:12px;
  width:122px;
  word-wrap:break-word;
}
#u2344_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:40px;
}
#u2344 {
  position:absolute;
  left:525px;
  top:120px;
  width:281px;
  height:40px;
  font-size:14px;
}
#u2345 {
  position:absolute;
  left:10px;
  top:12px;
  width:269px;
  word-wrap:break-word;
}
#u2346_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:57px;
}
#u2346 {
  position:absolute;
  left:0px;
  top:160px;
  width:125px;
  height:57px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u2347 {
  position:absolute;
  left:10px;
  top:20px;
  width:113px;
  word-wrap:break-word;
}
#u2348_img {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:57px;
}
#u2348 {
  position:absolute;
  left:125px;
  top:160px;
  width:266px;
  height:57px;
  color:#000000;
  text-align:left;
}
#u2349 {
  position:absolute;
  left:10px;
  top:12px;
  width:254px;
  word-wrap:break-word;
}
#u2350_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:57px;
}
#u2350 {
  position:absolute;
  left:391px;
  top:160px;
  width:134px;
  height:57px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u2351 {
  position:absolute;
  left:10px;
  top:20px;
  width:122px;
  word-wrap:break-word;
}
#u2352_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:57px;
}
#u2352 {
  position:absolute;
  left:525px;
  top:160px;
  width:281px;
  height:57px;
  font-size:14px;
  text-align:left;
}
#u2353 {
  position:absolute;
  left:10px;
  top:20px;
  width:269px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2354_div {
  position:absolute;
  left:0px;
  top:0px;
  width:808px;
  height:40px;
  background:inherit;
  background-color:rgba(2, 104, 144, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-bottom:0px;
  border-radius:5px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u2354 {
  position:absolute;
  left:89px;
  top:527px;
  width:808px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u2355 {
  position:absolute;
  left:20px;
  top:10px;
  width:786px;
  word-wrap:break-word;
}
#u2356_img {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:16px;
}
#u2356 {
  position:absolute;
  left:604px;
  top:672px;
  width:291px;
  height:16px;
  color:#FF0000;
}
#u2357 {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  white-space:nowrap;
}
#u2358 {
  position:absolute;
  left:482px;
  top:1106px;
  width:73px;
  height:30px;
}
#u2358_input {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:30px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u2359_div {
  position:absolute;
  left:0px;
  top:0px;
  width:819px;
  height:211px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2359 {
  position:absolute;
  left:93px;
  top:858px;
  width:819px;
  height:211px;
}
#u2360 {
  position:absolute;
  left:2px;
  top:98px;
  width:815px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2361_div {
  position:absolute;
  left:0px;
  top:0px;
  width:819px;
  height:34px;
  background:inherit;
  background-color:rgba(2, 104, 144, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-bottom:0px;
  border-radius:5px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u2361 {
  position:absolute;
  left:93px;
  top:824px;
  width:819px;
  height:34px;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u2362 {
  position:absolute;
  left:20px;
  top:8px;
  width:797px;
  word-wrap:break-word;
}
#u2363 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2364_div {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
  text-align:right;
}
#u2364 {
  position:absolute;
  left:157px;
  top:937px;
  width:205px;
  height:19px;
  font-size:16px;
  color:#000000;
  text-align:right;
}
#u2365 {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  word-wrap:break-word;
}
#u2366 {
  position:absolute;
  left:366px;
  top:933px;
  width:200px;
  height:25px;
}
#u2366_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:left;
}
#u2367_div {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
}
#u2367 {
  position:absolute;
  left:586px;
  top:934px;
  width:178px;
  height:38px;
  font-size:16px;
  color:#999999;
}
#u2368 {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  word-wrap:break-word;
}
#u2369_div {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:right;
}
#u2369 {
  position:absolute;
  left:157px;
  top:987px;
  width:205px;
  height:19px;
  font-size:16px;
  text-align:right;
}
#u2370 {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  word-wrap:break-word;
}
#u2371 {
  position:absolute;
  left:366px;
  top:984px;
  width:208px;
  height:42px;
}
#u2371_input {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:42px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2372_div {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
  text-align:right;
}
#u2372 {
  position:absolute;
  left:157px;
  top:890px;
  width:205px;
  height:19px;
  font-size:16px;
  color:#000000;
  text-align:right;
}
#u2373 {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  word-wrap:break-word;
}
#u2374 {
  position:absolute;
  left:366px;
  top:886px;
  width:200px;
  height:25px;
}
#u2374_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:left;
}
#u2375 {
  position:absolute;
  left:386px;
  top:1105px;
  width:73px;
  height:31px;
}
#u2375_input {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:31px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u2376_div {
  position:absolute;
  left:0px;
  top:0px;
  width:794px;
  height:265px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2376 {
  position:absolute;
  left:101px;
  top:223px;
  width:794px;
  height:265px;
}
#u2377 {
  position:absolute;
  left:2px;
  top:124px;
  width:790px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2378 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2379_div {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
  text-align:right;
}
#u2379 {
  position:absolute;
  left:236px;
  top:253px;
  width:132px;
  height:19px;
  font-size:16px;
  color:#000000;
  text-align:right;
}
#u2380 {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  word-wrap:break-word;
}
#u2381_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:16px;
}
#u2381 {
  position:absolute;
  left:373px;
  top:256px;
  width:129px;
  height:16px;
  font-size:14px;
}
#u2382 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u2383_div {
  position:absolute;
  left:0px;
  top:0px;
  width:793px;
  height:40px;
  background:inherit;
  background-color:rgba(2, 104, 144, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-bottom:0px;
  border-radius:5px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u2383 {
  position:absolute;
  left:102px;
  top:183px;
  width:793px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u2384 {
  position:absolute;
  left:20px;
  top:10px;
  width:771px;
  word-wrap:break-word;
}
#u2385 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2386_div {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:right;
}
#u2386 {
  position:absolute;
  left:237px;
  top:327px;
  width:132px;
  height:19px;
  font-size:16px;
  text-align:right;
}
#u2387 {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  word-wrap:break-word;
}
#u2388_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u2388 {
  position:absolute;
  left:373px;
  top:329px;
  width:29px;
  height:16px;
  font-size:14px;
}
#u2389 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2390 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2391_div {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:right;
}
#u2391 {
  position:absolute;
  left:237px;
  top:363px;
  width:132px;
  height:19px;
  font-size:16px;
  text-align:right;
}
#u2392 {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  word-wrap:break-word;
}
#u2393_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
}
#u2393 {
  position:absolute;
  left:373px;
  top:364px;
  width:99px;
  height:16px;
  font-size:14px;
}
#u2394 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u2395 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2396_div {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:right;
}
#u2396 {
  position:absolute;
  left:164px;
  top:400px;
  width:205px;
  height:19px;
  font-size:16px;
  text-align:right;
}
#u2397 {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  word-wrap:break-word;
}
#u2398_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u2398 {
  position:absolute;
  left:375px;
  top:402px;
  width:173px;
  height:16px;
  font-size:14px;
}
#u2399 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  word-wrap:break-word;
}
#u2400 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2401_div {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:right;
}
#u2401 {
  position:absolute;
  left:236px;
  top:290px;
  width:132px;
  height:19px;
  font-size:16px;
  text-align:right;
}
#u2402 {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  word-wrap:break-word;
}
#u2403_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u2403 {
  position:absolute;
  left:373px;
  top:293px;
  width:71px;
  height:16px;
  font-size:14px;
}
#u2404 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2405 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2406_div {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:right;
}
#u2406 {
  position:absolute;
  left:164px;
  top:438px;
  width:205px;
  height:19px;
  font-size:16px;
  text-align:right;
}
#u2407 {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  word-wrap:break-word;
}
#u2408_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2408 {
  position:absolute;
  left:373px;
  top:437px;
  width:135px;
  height:20px;
}
#u2409 {
  position:absolute;
  left:2px;
  top:2px;
  width:131px;
  white-space:nowrap;
}
#u2410_img {
  position:absolute;
  left:0px;
  top:0px;
  width:767px;
  height:19px;
}
#u2410 {
  position:absolute;
  left:89px;
  top:508px;
  width:767px;
  height:19px;
  font-size:16px;
  color:#FF0000;
}
#u2411 {
  position:absolute;
  left:0px;
  top:0px;
  width:767px;
  word-wrap:break-word;
}
#u2412_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:22px;
}
#u2412 {
  position:absolute;
  left:444px;
  top:310px;
  width:19px;
  height:22px;
  font-size:18px;
  color:#000000;
}
#u2413 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u2414 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2415_div {
  position:absolute;
  left:0px;
  top:0px;
  width:984px;
  height:1166px;
  background:inherit;
  background-color:rgba(153, 153, 153, 0.368627450980392);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2415 {
  position:absolute;
  left:0px;
  top:100px;
  width:984px;
  height:1166px;
}
#u2416 {
  position:absolute;
  left:2px;
  top:575px;
  width:980px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2417 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2418_div {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:111px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2418 {
  position:absolute;
  left:280px;
  top:771px;
  width:422px;
  height:111px;
}
#u2419 {
  position:absolute;
  left:2px;
  top:32px;
  width:418px;
  word-wrap:break-word;
}
#u2420_div {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:39px;
  background:inherit;
  background-color:rgba(2, 104, 144, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-bottom:0px;
  border-radius:5px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u2420 {
  position:absolute;
  left:282px;
  top:733px;
  width:422px;
  height:39px;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u2421 {
  position:absolute;
  left:20px;
  top:12px;
  width:400px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2422 {
  position:absolute;
  left:437px;
  top:835px;
  width:94px;
  height:31px;
}
#u2422_input {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:31px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u2423 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2424_div {
  position:absolute;
  left:0px;
  top:0px;
  width:448px;
  height:216px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2424 {
  position:absolute;
  left:264px;
  top:728px;
  width:448px;
  height:216px;
}
#u2425 {
  position:absolute;
  left:2px;
  top:100px;
  width:444px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2426_div {
  position:absolute;
  left:0px;
  top:0px;
  width:448px;
  height:37px;
  background:inherit;
  background-color:rgba(2, 104, 144, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-bottom:0px;
  border-radius:5px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u2426 {
  position:absolute;
  left:264px;
  top:691px;
  width:448px;
  height:37px;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u2427 {
  position:absolute;
  left:20px;
  top:9px;
  width:426px;
  word-wrap:break-word;
}
#u2428 {
  position:absolute;
  left:361px;
  top:895px;
  width:94px;
  height:30px;
}
#u2428_input {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u2429 {
  position:absolute;
  left:315px;
  top:770px;
  width:338px;
  height:89px;
}
#u2429_input {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:89px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2430_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2430 {
  position:absolute;
  left:313px;
  top:745px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2431 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2432 {
  position:absolute;
  left:476px;
  top:895px;
  width:94px;
  height:30px;
}
#u2432_input {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u2433 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2434_div {
  position:absolute;
  left:0px;
  top:0px;
  width:990px;
  height:994px;
  background:inherit;
  background-color:rgba(153, 153, 153, 0.368627450980392);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2434 {
  position:absolute;
  left:2px;
  top:44px;
  width:990px;
  height:994px;
}
#u2435 {
  position:absolute;
  left:2px;
  top:489px;
  width:986px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2436_div {
  position:absolute;
  left:0px;
  top:0px;
  width:733px;
  height:268px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2436 {
  position:absolute;
  left:137px;
  top:270px;
  width:733px;
  height:268px;
  text-align:left;
}
#u2437 {
  position:absolute;
  left:20px;
  top:20px;
  width:693px;
  word-wrap:break-word;
}
#u2438_div {
  position:absolute;
  left:0px;
  top:0px;
  width:734px;
  height:37px;
  background:inherit;
  background-color:rgba(2, 104, 144, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-bottom:0px;
  border-radius:5px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u2438 {
  position:absolute;
  left:137px;
  top:233px;
  width:734px;
  height:37px;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u2439 {
  position:absolute;
  left:20px;
  top:9px;
  width:712px;
  word-wrap:break-word;
}
#u2440 {
  position:absolute;
  left:450px;
  top:496px;
  width:94px;
  height:30px;
}
#u2440_input {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
