body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1125px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:19px;
}
#u2170 {
  position:absolute;
  left:931px;
  top:982px;
  width:228px;
  height:19px;
  font-size:16px;
  color:#FF0000;
}
#u2171 {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  word-wrap:break-word;
}
#u2172_div {
  position:absolute;
  left:0px;
  top:0px;
  width:819px;
  height:353px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2172 {
  position:absolute;
  left:88px;
  top:547px;
  width:819px;
  height:353px;
}
#u2173 {
  position:absolute;
  left:2px;
  top:168px;
  width:815px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2174 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2175_div {
  position:absolute;
  left:0px;
  top:0px;
  width:819px;
  height:304px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2175 {
  position:absolute;
  left:1056px;
  top:250px;
  width:819px;
  height:304px;
}
#u2176 {
  position:absolute;
  left:2px;
  top:144px;
  width:815px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2177_div {
  position:absolute;
  left:0px;
  top:0px;
  width:819px;
  height:40px;
  background:inherit;
  background-color:rgba(2, 104, 144, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-bottom:0px;
  border-radius:5px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u2177 {
  position:absolute;
  left:1057px;
  top:210px;
  width:819px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u2178 {
  position:absolute;
  left:20px;
  top:10px;
  width:797px;
  word-wrap:break-word;
}
#u2179 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2180_div {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:right;
}
#u2180 {
  position:absolute;
  left:1149px;
  top:269px;
  width:175px;
  height:19px;
  font-size:16px;
  text-align:right;
}
#u2181 {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  word-wrap:break-word;
}
#u2182 {
  position:absolute;
  left:1328px;
  top:265px;
  width:200px;
  height:25px;
}
#u2182_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:left;
}
#u2183 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2184_div {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:right;
}
#u2184 {
  position:absolute;
  left:1070px;
  top:310px;
  width:254px;
  height:19px;
  font-size:16px;
  text-align:right;
}
#u2185 {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  word-wrap:break-word;
}
#u2186 {
  position:absolute;
  left:1328px;
  top:307px;
  width:200px;
  height:25px;
}
#u2186_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:left;
}
#u2187 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2188_div {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:right;
}
#u2188 {
  position:absolute;
  left:1149px;
  top:352px;
  width:175px;
  height:19px;
  font-size:16px;
  text-align:right;
}
#u2189 {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  word-wrap:break-word;
}
#u2190 {
  position:absolute;
  left:1328px;
  top:348px;
  width:200px;
  height:25px;
}
#u2190_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:left;
}
#u2191 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2192_div {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:right;
}
#u2192 {
  position:absolute;
  left:1149px;
  top:394px;
  width:175px;
  height:19px;
  font-size:16px;
  text-align:right;
}
#u2193 {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  word-wrap:break-word;
}
#u2194 {
  position:absolute;
  left:1328px;
  top:390px;
  width:200px;
  height:25px;
}
#u2194_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:left;
}
#u2195 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2196_div {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:right;
}
#u2196 {
  position:absolute;
  left:1149px;
  top:436px;
  width:175px;
  height:19px;
  font-size:16px;
  text-align:right;
}
#u2197 {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  word-wrap:break-word;
}
#u2198 {
  position:absolute;
  left:1328px;
  top:432px;
  width:200px;
  height:25px;
}
#u2198_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:left;
}
#u2199 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2200_div {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:right;
}
#u2200 {
  position:absolute;
  left:1119px;
  top:477px;
  width:205px;
  height:19px;
  font-size:16px;
  text-align:right;
}
#u2201 {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  word-wrap:break-word;
}
#u2202 {
  position:absolute;
  left:1328px;
  top:473px;
  width:200px;
  height:25px;
}
#u2202_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:left;
}
#u2203 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2204_div {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:right;
}
#u2204 {
  position:absolute;
  left:1119px;
  top:519px;
  width:205px;
  height:19px;
  font-size:16px;
  text-align:right;
}
#u2205 {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  word-wrap:break-word;
}
#u2206 {
  position:absolute;
  left:1328px;
  top:515px;
  width:200px;
  height:25px;
}
#u2206_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:left;
}
#u2208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:990px;
  height:68px;
}
#u2208 {
  position:absolute;
  left:-43px;
  top:1172px;
  width:990px;
  height:68px;
  color:#1A769A;
}
#u2209 {
  position:absolute;
  left:2px;
  top:-6px;
  width:986px;
  word-wrap:break-word;
}
#u2210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:38px;
}
#u2210 {
  position:absolute;
  left:768px;
  top:1199px;
  width:170px;
  height:38px;
  font-size:16px;
  color:#FF0000;
}
#u2211 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u2212 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2213_div {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:28px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2213 {
  position:absolute;
  left:89px;
  top:126px;
  width:7px;
  height:28px;
}
#u2214 {
  position:absolute;
  left:2px;
  top:6px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2215_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2215 {
  position:absolute;
  left:101px;
  top:129px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2216 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2217_div {
  position:absolute;
  left:0px;
  top:0px;
  width:819px;
  height:266px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2217 {
  position:absolute;
  left:88px;
  top:214px;
  width:819px;
  height:266px;
}
#u2218 {
  position:absolute;
  left:2px;
  top:125px;
  width:815px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2219 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2220_div {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u2220 {
  position:absolute;
  left:223px;
  top:239px;
  width:132px;
  height:22px;
  text-align:right;
}
#u2221 {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  word-wrap:break-word;
}
#u2222 {
  position:absolute;
  left:360px;
  top:239px;
  width:200px;
  height:22px;
}
#u2222_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
}
#u2222_input:disabled {
  color:grayText;
}
#u2223 {
  position:absolute;
  left:416px;
  top:1116px;
  width:73px;
  height:30px;
}
#u2223_input {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:30px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u2224_div {
  position:absolute;
  left:0px;
  top:0px;
  width:819px;
  height:40px;
  background:inherit;
  background-color:rgba(2, 104, 144, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-bottom:0px;
  border-radius:5px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u2224 {
  position:absolute;
  left:89px;
  top:174px;
  width:819px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u2225 {
  position:absolute;
  left:20px;
  top:10px;
  width:797px;
  word-wrap:break-word;
}
#u2226 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2227_div {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:right;
}
#u2227 {
  position:absolute;
  left:224px;
  top:276px;
  width:132px;
  height:19px;
  font-size:16px;
  text-align:right;
}
#u2228 {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  word-wrap:break-word;
}
#u2229 {
  position:absolute;
  left:360px;
  top:275px;
  width:200px;
  height:22px;
}
#u2229_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
}
#u2229_input:disabled {
  color:grayText;
}
#u2230 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2231_div {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:right;
}
#u2231 {
  position:absolute;
  left:224px;
  top:311px;
  width:132px;
  height:19px;
  font-size:16px;
  text-align:right;
}
#u2232 {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  word-wrap:break-word;
}
#u2233 {
  position:absolute;
  left:360px;
  top:311px;
  width:100px;
  height:16px;
}
#u2234 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2233_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2235 {
  position:absolute;
  left:412px;
  top:311px;
  width:100px;
  height:16px;
}
#u2236 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2235_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2237 {
  position:absolute;
  left:460px;
  top:311px;
  width:100px;
  height:16px;
}
#u2238 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2237_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2239 {
  position:absolute;
  left:512px;
  top:311px;
  width:100px;
  height:16px;
}
#u2240 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2239_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2241 {
  position:absolute;
  left:570px;
  top:311px;
  width:100px;
  height:16px;
}
#u2242 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2241_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2243 {
  position:absolute;
  left:633px;
  top:311px;
  width:100px;
  height:16px;
}
#u2244 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2243_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2245 {
  position:absolute;
  left:412px;
  top:337px;
  width:48px;
  height:16px;
}
#u2246 {
  position:absolute;
  left:16px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u2245_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2247 {
  position:absolute;
  left:360px;
  top:337px;
  width:52px;
  height:16px;
}
#u2248 {
  position:absolute;
  left:16px;
  top:0px;
  width:34px;
  word-wrap:break-word;
}
#u2247_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2249 {
  position:absolute;
  left:470px;
  top:337px;
  width:50px;
  height:16px;
}
#u2250 {
  position:absolute;
  left:16px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u2249_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2251 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2252_div {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:right;
}
#u2252 {
  position:absolute;
  left:151px;
  top:373px;
  width:205px;
  height:19px;
  font-size:16px;
  text-align:right;
}
#u2253 {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  word-wrap:break-word;
}
#u2254 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2255 {
  position:absolute;
  left:360px;
  top:369px;
  width:119px;
  height:25px;
}
#u2255_input {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2256_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
  text-align:center;
}
#u2256 {
  position:absolute;
  left:481px;
  top:372px;
  width:22px;
  height:19px;
  font-size:16px;
  color:#000000;
  text-align:center;
}
#u2257 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  word-wrap:break-word;
}
#u2258 {
  position:absolute;
  left:503px;
  top:369px;
  width:119px;
  height:25px;
}
#u2258_input {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2259 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2260_div {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:right;
}
#u2260 {
  position:absolute;
  left:154px;
  top:564px;
  width:205px;
  height:19px;
  font-size:16px;
  text-align:right;
}
#u2261 {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  word-wrap:break-word;
}
#u2262 {
  position:absolute;
  left:363px;
  top:560px;
  width:200px;
  height:25px;
}
#u2262_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:left;
}
#u2263_div {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
}
#u2263 {
  position:absolute;
  left:573px;
  top:563px;
  width:178px;
  height:19px;
  font-size:16px;
  color:#999999;
}
#u2264 {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  word-wrap:break-word;
}
#u2265 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2266_div {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:right;
}
#u2266 {
  position:absolute;
  left:154px;
  top:600px;
  width:205px;
  height:19px;
  font-size:16px;
  text-align:right;
}
#u2267 {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  word-wrap:break-word;
}
#u2268 {
  position:absolute;
  left:363px;
  top:596px;
  width:200px;
  height:25px;
}
#u2268_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:left;
}
#u2269 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2270_div {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:right;
}
#u2270 {
  position:absolute;
  left:154px;
  top:635px;
  width:205px;
  height:19px;
  font-size:16px;
  text-align:right;
}
#u2271 {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  word-wrap:break-word;
}
#u2272 {
  position:absolute;
  left:363px;
  top:631px;
  width:200px;
  height:25px;
}
#u2272_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:left;
}
#u2273 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2274_div {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:right;
}
#u2274 {
  position:absolute;
  left:154px;
  top:671px;
  width:205px;
  height:19px;
  font-size:16px;
  text-align:right;
}
#u2275 {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  word-wrap:break-word;
}
#u2276 {
  position:absolute;
  left:363px;
  top:667px;
  width:200px;
  height:25px;
}
#u2276_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:left;
}
#u2277 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2278_div {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:right;
}
#u2278 {
  position:absolute;
  left:154px;
  top:707px;
  width:205px;
  height:19px;
  font-size:16px;
  text-align:right;
}
#u2279 {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  word-wrap:break-word;
}
#u2280 {
  position:absolute;
  left:363px;
  top:703px;
  width:200px;
  height:25px;
}
#u2280_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:left;
}
#u2281 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2282_div {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:right;
}
#u2282 {
  position:absolute;
  left:154px;
  top:742px;
  width:205px;
  height:19px;
  font-size:16px;
  text-align:right;
}
#u2283 {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  word-wrap:break-word;
}
#u2284 {
  position:absolute;
  left:415px;
  top:739px;
  width:74px;
  height:25px;
}
#u2284_input {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:left;
}
#u2285_div {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
}
#u2285 {
  position:absolute;
  left:785px;
  top:742px;
  width:178px;
  height:19px;
  font-size:16px;
  color:#999999;
}
#u2286 {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  word-wrap:break-word;
}
#u2287_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
  text-align:right;
}
#u2287 {
  position:absolute;
  left:350px;
  top:742px;
  width:60px;
  height:19px;
  font-size:16px;
  color:#000000;
  text-align:right;
}
#u2288 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u2289_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
  text-align:right;
}
#u2289 {
  position:absolute;
  left:492px;
  top:742px;
  width:47px;
  height:19px;
  font-size:16px;
  color:#000000;
  text-align:right;
}
#u2290 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  word-wrap:break-word;
}
#u2291_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
  text-align:right;
}
#u2291 {
  position:absolute;
  left:625px;
  top:742px;
  width:64px;
  height:19px;
  font-size:16px;
  color:#000000;
  text-align:right;
}
#u2292 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  word-wrap:break-word;
}
#u2293 {
  position:absolute;
  left:541px;
  top:739px;
  width:74px;
  height:25px;
}
#u2293_input {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:left;
}
#u2294 {
  position:absolute;
  left:692px;
  top:739px;
  width:74px;
  height:25px;
}
#u2294_input {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:left;
}
#u2295 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2296_div {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:right;
}
#u2296 {
  position:absolute;
  left:154px;
  top:778px;
  width:205px;
  height:19px;
  font-size:16px;
  text-align:right;
}
#u2297 {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  word-wrap:break-word;
}
#u2298 {
  position:absolute;
  left:363px;
  top:774px;
  width:200px;
  height:25px;
}
#u2298_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:left;
}
#u2299 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2300_div {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:right;
}
#u2300 {
  position:absolute;
  left:154px;
  top:814px;
  width:205px;
  height:19px;
  font-size:16px;
  text-align:right;
}
#u2301 {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  word-wrap:break-word;
}
#u2302 {
  position:absolute;
  left:363px;
  top:810px;
  width:200px;
  height:25px;
}
#u2302_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:left;
}
#u2303 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2304_div {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:right;
}
#u2304 {
  position:absolute;
  left:151px;
  top:412px;
  width:205px;
  height:19px;
  font-size:16px;
  text-align:right;
}
#u2305 {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  word-wrap:break-word;
}
#u2306 {
  position:absolute;
  left:360px;
  top:408px;
  width:200px;
  height:25px;
}
#u2306_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u2307_div {
  position:absolute;
  left:0px;
  top:0px;
  width:819px;
  height:40px;
  background:inherit;
  background-color:rgba(2, 104, 144, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-bottom:0px;
  border-radius:5px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u2307 {
  position:absolute;
  left:89px;
  top:507px;
  width:819px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u2308 {
  position:absolute;
  left:20px;
  top:10px;
  width:797px;
  word-wrap:break-word;
}
#u2310_div {
  position:absolute;
  left:0px;
  top:0px;
  width:990px;
  height:95px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2310 {
  position:absolute;
  left:0px;
  top:0px;
  width:990px;
  height:95px;
}
#u2311 {
  position:absolute;
  left:2px;
  top:40px;
  width:986px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2312_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2312 {
  position:absolute;
  left:811px;
  top:18px;
  width:99px;
  height:16px;
}
#u2313 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u2314_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2314 {
  position:absolute;
  left:916px;
  top:14px;
  width:61px;
  height:23px;
}
#u2315 {
  position:absolute;
  left:2px;
  top:4px;
  width:57px;
  word-wrap:break-word;
}
#u2316_img {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:25px;
}
#u2316 {
  position:absolute;
  left:368px;
  top:17px;
  width:284px;
  height:25px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
  text-align:left;
}
#u2317 {
  position:absolute;
  left:2px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
#u2318_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:76px;
}
#u2318 {
  position:absolute;
  left:20px;
  top:10px;
  width:200px;
  height:75px;
  font-size:14px;
}
#u2319 {
  position:absolute;
  left:2px;
  top:30px;
  width:196px;
  word-wrap:break-word;
}
#u2320 {
  position:absolute;
  left:244px;
  top:65px;
  width:746px;
  height:30px;
}
#u2320_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:752px;
  height:36px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u2321 {
  position:absolute;
  left:0px;
  top:0px;
  width:751px;
  height:35px;
}
#u2322_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:30px;
}
#u2322 {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:30px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
  text-align:center;
}
#u2322_img.selected {
}
#u2322.selected {
}
#u2323 {
  position:absolute;
  left:2px;
  top:6px;
  width:182px;
  word-wrap:break-word;
}
#u2324_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:30px;
}
#u2324 {
  position:absolute;
  left:186px;
  top:0px;
  width:186px;
  height:30px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
  text-align:center;
}
#u2324_img.selected {
}
#u2324.selected {
}
#u2325 {
  position:absolute;
  left:2px;
  top:6px;
  width:182px;
  word-wrap:break-word;
}
#u2326_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:30px;
}
#u2326 {
  position:absolute;
  left:372px;
  top:0px;
  width:186px;
  height:30px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
  text-align:center;
}
#u2326_img.selected {
}
#u2326.selected {
}
#u2327 {
  position:absolute;
  left:2px;
  top:6px;
  width:182px;
  word-wrap:break-word;
}
#u2328_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:30px;
}
#u2328 {
  position:absolute;
  left:558px;
  top:0px;
  width:188px;
  height:30px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
  text-align:center;
}
#u2328_img.selected {
}
#u2328.selected {
}
#u2329 {
  position:absolute;
  left:2px;
  top:6px;
  width:184px;
  word-wrap:break-word;
}
#u2330 {
  position:absolute;
  left:558px;
  top:30px;
  width:187px;
  height:70px;
  visibility:hidden;
}
#u2330_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:193px;
  height:76px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u2331 {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:75px;
}
#u2332_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:35px;
}
#u2332 {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u2332_img.selected {
}
#u2332.selected {
}
#u2333 {
  position:absolute;
  left:2px;
  top:8px;
  width:183px;
  word-wrap:break-word;
}
#u2334_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:35px;
}
#u2334 {
  position:absolute;
  left:0px;
  top:35px;
  width:187px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u2334_img.selected {
}
#u2334.selected {
}
#u2335 {
  position:absolute;
  left:2px;
  top:8px;
  width:183px;
  word-wrap:break-word;
}
#u2336 {
  position:absolute;
  left:186px;
  top:30px;
  width:186px;
  height:69px;
  visibility:hidden;
}
#u2336_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:192px;
  height:75px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u2337 {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:74px;
}
#u2338_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:34px;
}
#u2338 {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:34px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u2338_img.selected {
}
#u2338.selected {
}
#u2339 {
  position:absolute;
  left:2px;
  top:8px;
  width:182px;
  word-wrap:break-word;
}
#u2340_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:35px;
}
#u2340 {
  position:absolute;
  left:0px;
  top:34px;
  width:186px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u2340_img.selected {
}
#u2340.selected {
}
#u2341 {
  position:absolute;
  left:2px;
  top:8px;
  width:182px;
  word-wrap:break-word;
}
#u2342 {
  position:absolute;
  left:775px;
  top:11px;
  width:26px;
  height:30px;
}
#u2342_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:32px;
  height:36px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u2343 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:35px;
}
#u2344_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:30px;
}
#u2344 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:30px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
  text-align:center;
}
#u2344_img.selected {
}
#u2344.selected {
}
#u2345 {
  position:absolute;
  left:2px;
  top:6px;
  width:22px;
  word-wrap:break-word;
}
#u2346 {
  position:absolute;
  left:0px;
  top:30px;
  width:88px;
  height:139px;
  visibility:hidden;
}
#u2346_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:94px;
  height:145px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u2347 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:144px;
}
#u2348_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:34px;
}
#u2348 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:34px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u2348_img.selected {
}
#u2348.selected {
}
#u2349 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u2350_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u2350 {
  position:absolute;
  left:0px;
  top:34px;
  width:88px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u2350_img.selected {
}
#u2350.selected {
}
#u2351 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u2352_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u2352 {
  position:absolute;
  left:0px;
  top:69px;
  width:88px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u2352_img.selected {
}
#u2352.selected {
}
#u2353 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u2354_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u2354 {
  position:absolute;
  left:0px;
  top:104px;
  width:88px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u2354_img.selected {
}
#u2354.selected {
}
#u2355 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u2356_div {
  position:absolute;
  left:0px;
  top:0px;
  width:819px;
  height:133px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2356 {
  position:absolute;
  left:90px;
  top:958px;
  width:819px;
  height:133px;
}
#u2357 {
  position:absolute;
  left:2px;
  top:58px;
  width:815px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2358_div {
  position:absolute;
  left:0px;
  top:0px;
  width:819px;
  height:34px;
  background:inherit;
  background-color:rgba(2, 104, 144, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-bottom:0px;
  border-radius:5px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u2358 {
  position:absolute;
  left:90px;
  top:924px;
  width:819px;
  height:34px;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u2359 {
  position:absolute;
  left:20px;
  top:8px;
  width:797px;
  word-wrap:break-word;
}
#u2360 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2361_div {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:right;
}
#u2361 {
  position:absolute;
  left:152px;
  top:854px;
  width:205px;
  height:19px;
  font-size:16px;
  text-align:right;
}
#u2362 {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  word-wrap:break-word;
}
#u2363 {
  position:absolute;
  left:361px;
  top:850px;
  width:119px;
  height:25px;
}
#u2363_input {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2364 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2365_div {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
  text-align:right;
}
#u2365 {
  position:absolute;
  left:154px;
  top:986px;
  width:205px;
  height:19px;
  font-size:16px;
  color:#000000;
  text-align:right;
}
#u2366 {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  word-wrap:break-word;
}
#u2367 {
  position:absolute;
  left:363px;
  top:982px;
  width:200px;
  height:25px;
}
#u2367_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:left;
}
#u2368_div {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
}
#u2368 {
  position:absolute;
  left:583px;
  top:985px;
  width:178px;
  height:38px;
  font-size:16px;
  color:#999999;
}
#u2369 {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  word-wrap:break-word;
}
#u2370_div {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:right;
}
#u2370 {
  position:absolute;
  left:154px;
  top:1036px;
  width:205px;
  height:19px;
  font-size:16px;
  text-align:right;
}
#u2371 {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  word-wrap:break-word;
}
#u2372 {
  position:absolute;
  left:363px;
  top:1033px;
  width:208px;
  height:42px;
}
#u2372_input {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:42px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2373 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2374_div {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:right;
}
#u2374 {
  position:absolute;
  left:154px;
  top:447px;
  width:205px;
  height:19px;
  font-size:16px;
  text-align:right;
}
#u2375 {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  word-wrap:break-word;
}
#u2376 {
  position:absolute;
  left:363px;
  top:443px;
  width:200px;
  height:25px;
}
#u2376_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:left;
}
#u2377_div {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
}
#u2377 {
  position:absolute;
  left:573px;
  top:446px;
  width:178px;
  height:19px;
  font-size:16px;
  color:#999999;
}
#u2378 {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  word-wrap:break-word;
}
#u2379_div {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
}
#u2379 {
  position:absolute;
  left:573px;
  top:635px;
  width:178px;
  height:19px;
  font-size:16px;
  color:#999999;
}
#u2380 {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  word-wrap:break-word;
}
#u2381_img {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:38px;
}
#u2381 {
  position:absolute;
  left:922px;
  top:402px;
  width:246px;
  height:38px;
  font-size:16px;
  color:#FF0000;
}
#u2382 {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  word-wrap:break-word;
}
#u2383 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2384_div {
  position:absolute;
  left:0px;
  top:0px;
  width:978px;
  height:1358px;
  background:inherit;
  background-color:rgba(153, 153, 153, 0.368627450980392);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2384 {
  position:absolute;
  left:0px;
  top:0px;
  width:978px;
  height:1358px;
}
#u2385 {
  position:absolute;
  left:2px;
  top:671px;
  width:974px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2386_div {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:111px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2386 {
  position:absolute;
  left:246px;
  top:829px;
  width:422px;
  height:111px;
}
#u2387 {
  position:absolute;
  left:2px;
  top:32px;
  width:418px;
  word-wrap:break-word;
}
#u2388_div {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:39px;
  background:inherit;
  background-color:rgba(2, 104, 144, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-bottom:0px;
  border-radius:5px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u2388 {
  position:absolute;
  left:248px;
  top:791px;
  width:422px;
  height:39px;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u2389 {
  position:absolute;
  left:20px;
  top:12px;
  width:400px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2390 {
  position:absolute;
  left:403px;
  top:893px;
  width:94px;
  height:31px;
}
#u2390_input {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:31px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
