body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:447px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u37748 {
  position:absolute;
  left:52px;
  top:184px;
  width:400px;
  height:73px;
}
#u37749_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:38px;
}
#u37749 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:38px;
  color:#000000;
  text-align:center;
}
#u37750 {
  position:absolute;
  left:2px;
  top:11px;
  width:116px;
  word-wrap:break-word;
}
#u37751_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:38px;
}
#u37751 {
  position:absolute;
  left:120px;
  top:0px;
  width:93px;
  height:38px;
  color:#000000;
  text-align:center;
}
#u37752 {
  position:absolute;
  left:2px;
  top:11px;
  width:89px;
  word-wrap:break-word;
}
#u37753_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:38px;
}
#u37753 {
  position:absolute;
  left:213px;
  top:0px;
  width:87px;
  height:38px;
  color:#000000;
  text-align:center;
}
#u37754 {
  position:absolute;
  left:2px;
  top:11px;
  width:83px;
  word-wrap:break-word;
}
#u37755_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:38px;
}
#u37755 {
  position:absolute;
  left:300px;
  top:0px;
  width:95px;
  height:38px;
  color:#000000;
  text-align:center;
}
#u37756 {
  position:absolute;
  left:2px;
  top:11px;
  width:91px;
  word-wrap:break-word;
}
#u37757_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u37757 {
  position:absolute;
  left:0px;
  top:38px;
  width:120px;
  height:30px;
  color:#000000;
}
#u37758 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37759_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:30px;
}
#u37759 {
  position:absolute;
  left:120px;
  top:38px;
  width:93px;
  height:30px;
  color:#000000;
}
#u37760 {
  position:absolute;
  left:2px;
  top:7px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37761_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
}
#u37761 {
  position:absolute;
  left:213px;
  top:38px;
  width:87px;
  height:30px;
  color:#000000;
}
#u37762 {
  position:absolute;
  left:2px;
  top:7px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37763_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u37763 {
  position:absolute;
  left:300px;
  top:38px;
  width:95px;
  height:30px;
  color:#000000;
}
#u37764 {
  position:absolute;
  left:2px;
  top:7px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37765_img {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:80px;
}
#u37765 {
  position:absolute;
  left:52px;
  top:62px;
  width:263px;
  height:80px;
  color:#FF0000;
}
#u37766 {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  white-space:nowrap;
}
