body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1328px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u35624_div {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:1025px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u35624 {
  position:absolute;
  left:0px;
  top:109px;
  width:191px;
  height:1025px;
}
#u35625 {
  position:absolute;
  left:2px;
  top:504px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35627_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:110px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u35627 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:110px;
}
#u35628 {
  position:absolute;
  left:2px;
  top:47px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35629 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u35630_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
}
#u35630 {
  position:absolute;
  left:1061px;
  top:30px;
  width:129px;
  height:17px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
}
#u35631 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u35632_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
}
#u35632 {
  position:absolute;
  left:1197px;
  top:30px;
  width:39px;
  height:17px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
}
#u35633 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u35634_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:11px;
}
#u35634 {
  position:absolute;
  left:1188px;
  top:34px;
  width:1px;
  height:10px;
}
#u35635 {
  position:absolute;
  left:2px;
  top:-3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35636_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Rounded MT Bold';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u35636 {
  position:absolute;
  left:20px;
  top:30px;
  width:144px;
  height:55px;
  font-family:'Arial Rounded MT Bold';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u35637 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u35638 {
  position:absolute;
  left:1025px;
  top:24px;
  width:26px;
  height:30px;
}
#u35638_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:32px;
  height:36px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u35639 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:35px;
}
#u35640_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:30px;
}
#u35640 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:30px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
  text-align:center;
}
#u35640_img.selected {
}
#u35640.selected {
}
#u35641 {
  position:absolute;
  left:2px;
  top:6px;
  width:22px;
  word-wrap:break-word;
}
#u35642 {
  position:absolute;
  left:0px;
  top:30px;
  width:88px;
  height:139px;
  visibility:hidden;
}
#u35642_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:94px;
  height:145px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u35643 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:144px;
}
#u35644_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:34px;
}
#u35644 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:34px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u35644_img.selected {
}
#u35644.selected {
}
#u35645 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u35646_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u35646 {
  position:absolute;
  left:0px;
  top:34px;
  width:88px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u35646_img.selected {
}
#u35646.selected {
}
#u35647 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u35648_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u35648 {
  position:absolute;
  left:0px;
  top:69px;
  width:88px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u35648_img.selected {
}
#u35648.selected {
}
#u35649 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u35650_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u35650 {
  position:absolute;
  left:0px;
  top:104px;
  width:88px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u35650_img.selected {
}
#u35650.selected {
}
#u35651 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u35652_img {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:25px;
}
#u35652 {
  position:absolute;
  left:396px;
  top:34px;
  width:284px;
  height:25px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
  text-align:left;
}
#u35653 {
  position:absolute;
  left:2px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
#u35655 {
  position:absolute;
  left:11px;
  top:130px;
  width:171px;
  height:385px;
}
#u35655_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:391px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u35656 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:390px;
}
#u35657_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:32px;
}
#u35657 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:32px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u35657_img.mouseOver {
}
#u35657.mouseOver {
}
#u35657_img.selected {
}
#u35657.selected {
}
#u35658 {
  position:absolute;
  left:2px;
  top:7px;
  width:167px;
  word-wrap:break-word;
}
#u35659_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:38px;
}
#u35659 {
  position:absolute;
  left:0px;
  top:32px;
  width:171px;
  height:38px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u35659_img.mouseOver {
}
#u35659.mouseOver {
}
#u35659_img.selected {
}
#u35659.selected {
}
#u35660 {
  position:absolute;
  left:2px;
  top:10px;
  width:167px;
  word-wrap:break-word;
}
#u35661_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u35661 {
  position:absolute;
  left:0px;
  top:70px;
  width:171px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u35661_img.mouseOver {
}
#u35661.mouseOver {
}
#u35661_img.selected {
}
#u35661.selected {
}
#u35662 {
  position:absolute;
  left:2px;
  top:9px;
  width:167px;
  word-wrap:break-word;
}
#u35663_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u35663 {
  position:absolute;
  left:0px;
  top:105px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u35663_img.mouseOver {
}
#u35663.mouseOver {
}
#u35663_img.selected {
}
#u35663.selected {
}
#u35664 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u35665_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u35665 {
  position:absolute;
  left:0px;
  top:140px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u35665_img.mouseOver {
}
#u35665.mouseOver {
}
#u35665_img.selected {
}
#u35665.selected {
}
#u35666 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u35667_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u35667 {
  position:absolute;
  left:0px;
  top:175px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u35667_img.mouseOver {
}
#u35667.mouseOver {
}
#u35667_img.selected {
}
#u35667.selected {
}
#u35668 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u35669_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u35669 {
  position:absolute;
  left:0px;
  top:210px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u35669_img.mouseOver {
}
#u35669.mouseOver {
}
#u35669_img.selected {
}
#u35669.selected {
}
#u35670 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u35671_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u35671 {
  position:absolute;
  left:0px;
  top:245px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u35671_img.mouseOver {
}
#u35671.mouseOver {
}
#u35671_img.selected {
}
#u35671.selected {
}
#u35672 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u35673_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u35673 {
  position:absolute;
  left:0px;
  top:280px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u35673_img.mouseOver {
}
#u35673.mouseOver {
}
#u35673_img.selected {
}
#u35673.selected {
}
#u35674 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u35675_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u35675 {
  position:absolute;
  left:0px;
  top:315px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u35675_img.mouseOver {
}
#u35675.mouseOver {
}
#u35675_img.selected {
}
#u35675.selected {
}
#u35676 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u35677_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u35677 {
  position:absolute;
  left:0px;
  top:350px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u35677_img.mouseOver {
}
#u35677.mouseOver {
}
#u35677_img.selected {
}
#u35677.selected {
}
#u35678 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u35679 {
  position:absolute;
  left:171px;
  top:245px;
  width:171px;
  height:70px;
  visibility:hidden;
}
#u35679_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:76px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u35680 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:75px;
}
#u35681_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u35681 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u35681_img.mouseOver {
}
#u35681.mouseOver {
}
#u35681_img.selected {
}
#u35681.selected {
}
#u35682 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u35683_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u35683 {
  position:absolute;
  left:0px;
  top:35px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u35683_img.mouseOver {
}
#u35683.mouseOver {
}
#u35683_img.selected {
}
#u35683.selected {
}
#u35684 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u35685 {
  position:absolute;
  left:171px;
  top:105px;
  width:202px;
  height:74px;
  visibility:hidden;
}
#u35685_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:208px;
  height:80px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u35686 {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:79px;
}
#u35687_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:36px;
}
#u35687 {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:36px;
  font-size:15px;
  color:#000000;
  text-align:center;
}
#u35687_img.mouseOver {
}
#u35687.mouseOver {
}
#u35687_img.selected {
}
#u35687.selected {
}
#u35688 {
  position:absolute;
  left:2px;
  top:10px;
  width:198px;
  word-wrap:break-word;
}
#u35689_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:38px;
}
#u35689 {
  position:absolute;
  left:0px;
  top:36px;
  width:202px;
  height:38px;
  font-size:15px;
  color:#000000;
  text-align:center;
}
#u35689_img.mouseOver {
}
#u35689.mouseOver {
}
#u35689_img.selected {
}
#u35689.selected {
}
#u35690 {
  position:absolute;
  left:2px;
  top:10px;
  width:198px;
  word-wrap:break-word;
}
#u35691 {
  position:absolute;
  left:171px;
  top:32px;
  width:150px;
  height:175px;
  visibility:hidden;
}
#u35691_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:156px;
  height:181px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u35692 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:180px;
}
#u35693_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u35693 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u35693_img.mouseOver {
}
#u35693.mouseOver {
}
#u35693_img.selected {
}
#u35693.selected {
}
#u35694 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u35695_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u35695 {
  position:absolute;
  left:0px;
  top:35px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u35695_img.mouseOver {
}
#u35695.mouseOver {
}
#u35695_img.selected {
}
#u35695.selected {
}
#u35696 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u35697_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u35697 {
  position:absolute;
  left:0px;
  top:70px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u35697_img.mouseOver {
}
#u35697.mouseOver {
}
#u35697_img.selected {
}
#u35697.selected {
}
#u35698 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u35699_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u35699 {
  position:absolute;
  left:0px;
  top:105px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u35699_img.mouseOver {
}
#u35699.mouseOver {
}
#u35699_img.selected {
}
#u35699.selected {
}
#u35700 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u35701_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u35701 {
  position:absolute;
  left:0px;
  top:140px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u35701_img.mouseOver {
}
#u35701.mouseOver {
}
#u35701_img.selected {
}
#u35701.selected {
}
#u35702 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u35703 {
  position:absolute;
  left:171px;
  top:70px;
  width:171px;
  height:35px;
  visibility:hidden;
}
#u35703_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:41px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u35704 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
}
#u35705_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u35705 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u35705_img.mouseOver {
}
#u35705.mouseOver {
}
#u35705_img.selected {
}
#u35705.selected {
}
#u35706 {
  position:absolute;
  left:2px;
  top:9px;
  width:167px;
  word-wrap:break-word;
}
#u35707 {
  position:absolute;
  left:171px;
  top:280px;
  width:171px;
  height:35px;
  visibility:hidden;
}
#u35707_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:41px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u35708 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
}
#u35709_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u35709 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u35709_img.mouseOver {
}
#u35709.mouseOver {
}
#u35709_img.selected {
}
#u35709.selected {
}
#u35710 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u35711 {
  position:absolute;
  left:171px;
  top:315px;
  width:169px;
  height:140px;
  visibility:hidden;
}
#u35711_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:175px;
  height:146px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u35712 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:145px;
}
#u35713_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u35713 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u35713_img.mouseOver {
}
#u35713.mouseOver {
}
#u35713_img.selected {
}
#u35713.selected {
}
#u35714 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u35715_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u35715 {
  position:absolute;
  left:0px;
  top:35px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u35715_img.mouseOver {
}
#u35715.mouseOver {
}
#u35715_img.selected {
}
#u35715.selected {
}
#u35716 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u35717_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u35717 {
  position:absolute;
  left:0px;
  top:70px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u35717_img.mouseOver {
}
#u35717.mouseOver {
}
#u35717_img.selected {
}
#u35717.selected {
}
#u35718 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u35719_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u35719 {
  position:absolute;
  left:0px;
  top:105px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u35719_img.mouseOver {
}
#u35719.mouseOver {
}
#u35719_img.selected {
}
#u35719.selected {
}
#u35720 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u35721 {
  position:absolute;
  left:171px;
  top:350px;
  width:171px;
  height:35px;
  visibility:hidden;
}
#u35721_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:41px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u35722 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
}
#u35723_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u35723 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u35723_img.mouseOver {
}
#u35723.mouseOver {
}
#u35723_img.selected {
}
#u35723.selected {
}
#u35724 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u35725 {
  position:absolute;
  left:171px;
  top:210px;
  width:171px;
  height:35px;
  visibility:hidden;
}
#u35725_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:41px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u35726 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
}
#u35727_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u35727 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u35727_img.mouseOver {
}
#u35727.mouseOver {
}
#u35727_img.selected {
}
#u35727.selected {
}
#u35728 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u35729 {
  position:absolute;
  left:171px;
  top:175px;
  width:171px;
  height:70px;
  visibility:hidden;
}
#u35729_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:76px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u35730 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:75px;
}
#u35731_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u35731 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u35731_img.mouseOver {
}
#u35731.mouseOver {
}
#u35731_img.selected {
}
#u35731.selected {
}
#u35732 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u35733_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u35733 {
  position:absolute;
  left:0px;
  top:35px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u35733_img.mouseOver {
}
#u35733.mouseOver {
}
#u35733_img.selected {
}
#u35733.selected {
}
#u35734 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u35735 {
  position:absolute;
  left:171px;
  top:140px;
  width:171px;
  height:70px;
  visibility:hidden;
}
#u35735_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:76px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u35736 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:75px;
}
#u35737_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u35737 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u35737_img.mouseOver {
}
#u35737.mouseOver {
}
#u35737_img.selected {
}
#u35737.selected {
}
#u35738 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u35739_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u35739 {
  position:absolute;
  left:0px;
  top:35px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u35739_img.mouseOver {
}
#u35739.mouseOver {
}
#u35739_img.selected {
}
#u35739.selected {
}
#u35740 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u35741_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Medium', 'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
}
#u35741 {
  position:absolute;
  left:220px;
  top:150px;
  width:193px;
  height:38px;
  font-family:'STHeitiTC-Medium', 'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
}
#u35742 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u35743 {
  position:absolute;
  left:228px;
  top:777px;
  width:812px;
  height:223px;
}
#u35744_img {
  position:absolute;
  left:0px;
  top:0px;
  width:807px;
  height:218px;
}
#u35744 {
  position:absolute;
  left:0px;
  top:0px;
  width:807px;
  height:218px;
}
#u35745 {
  position:absolute;
  left:2px;
  top:101px;
  width:803px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35747_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:90px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u35747 {
  position:absolute;
  left:-8px;
  top:1098px;
  width:1280px;
  height:90px;
}
#u35748 {
  position:absolute;
  left:2px;
  top:37px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35749_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u35749 {
  position:absolute;
  left:27px;
  top:1125px;
  width:94px;
  height:37px;
  color:#FFFFFF;
}
#u35750 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u35751_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:38px;
}
#u35751 {
  position:absolute;
  left:1084px;
  top:1144px;
  width:180px;
  height:38px;
  font-size:16px;
  color:#FF0000;
}
#u35752 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u35753_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u35753 {
  position:absolute;
  left:510px;
  top:1035px;
  width:100px;
  height:30px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u35753_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u35753.mouseOver {
}
#u35754 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u35755_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u35755 {
  position:absolute;
  left:658px;
  top:1035px;
  width:100px;
  height:30px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u35755_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u35755.mouseOver {
}
#u35756 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u35757_div {
  position:absolute;
  left:0px;
  top:0px;
  width:807px;
  height:40px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u35757 {
  position:absolute;
  left:228px;
  top:741px;
  width:807px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u35758 {
  position:absolute;
  left:10px;
  top:10px;
  width:795px;
  word-wrap:break-word;
}
#u35759_img {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:32px;
}
#u35759 {
  position:absolute;
  left:1045px;
  top:841px;
  width:291px;
  height:32px;
  font-size:14px;
  color:#FF0000;
}
#u35760 {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  white-space:nowrap;
}
#u35761 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u35762 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u35763 {
  position:absolute;
  left:230px;
  top:297px;
  width:813px;
  height:197px;
}
#u35764_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:40px;
}
#u35764 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u35765 {
  position:absolute;
  left:10px;
  top:12px;
  width:113px;
  word-wrap:break-word;
}
#u35766_img {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:40px;
}
#u35766 {
  position:absolute;
  left:125px;
  top:0px;
  width:295px;
  height:40px;
  font-size:14px;
}
#u35767 {
  position:absolute;
  left:10px;
  top:4px;
  width:283px;
  word-wrap:break-word;
}
#u35768_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:40px;
}
#u35768 {
  position:absolute;
  left:420px;
  top:0px;
  width:125px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u35769 {
  position:absolute;
  left:10px;
  top:12px;
  width:113px;
  word-wrap:break-word;
}
#u35770_img {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:40px;
}
#u35770 {
  position:absolute;
  left:545px;
  top:0px;
  width:263px;
  height:40px;
}
#u35771 {
  position:absolute;
  left:10px;
  top:12px;
  width:251px;
  word-wrap:break-word;
}
#u35772_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:40px;
}
#u35772 {
  position:absolute;
  left:0px;
  top:40px;
  width:125px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u35773 {
  position:absolute;
  left:10px;
  top:12px;
  width:113px;
  word-wrap:break-word;
}
#u35774_img {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:40px;
}
#u35774 {
  position:absolute;
  left:125px;
  top:40px;
  width:295px;
  height:40px;
  font-size:14px;
  text-align:left;
}
#u35775 {
  position:absolute;
  left:10px;
  top:12px;
  width:283px;
  word-wrap:break-word;
}
#u35776_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:40px;
}
#u35776 {
  position:absolute;
  left:420px;
  top:40px;
  width:125px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u35777 {
  position:absolute;
  left:10px;
  top:12px;
  width:113px;
  word-wrap:break-word;
}
#u35778_img {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:40px;
}
#u35778 {
  position:absolute;
  left:545px;
  top:40px;
  width:263px;
  height:40px;
  font-size:14px;
  text-align:left;
}
#u35779 {
  position:absolute;
  left:10px;
  top:12px;
  width:251px;
  word-wrap:break-word;
}
#u35780_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:72px;
}
#u35780 {
  position:absolute;
  left:0px;
  top:80px;
  width:125px;
  height:72px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u35781 {
  position:absolute;
  left:10px;
  top:28px;
  width:113px;
  word-wrap:break-word;
}
#u35782_img {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:72px;
}
#u35782 {
  position:absolute;
  left:125px;
  top:80px;
  width:295px;
  height:72px;
  font-size:14px;
  text-align:left;
}
#u35783 {
  position:absolute;
  left:10px;
  top:12px;
  width:283px;
  word-wrap:break-word;
}
#u35784_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:72px;
}
#u35784 {
  position:absolute;
  left:420px;
  top:80px;
  width:125px;
  height:72px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u35785 {
  position:absolute;
  left:10px;
  top:28px;
  width:113px;
  word-wrap:break-word;
}
#u35786_img {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:72px;
}
#u35786 {
  position:absolute;
  left:545px;
  top:80px;
  width:263px;
  height:72px;
  font-size:14px;
  text-align:left;
}
#u35787 {
  position:absolute;
  left:10px;
  top:20px;
  width:251px;
  word-wrap:break-word;
}
#u35788_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:40px;
}
#u35788 {
  position:absolute;
  left:0px;
  top:152px;
  width:125px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u35789 {
  position:absolute;
  left:10px;
  top:12px;
  width:113px;
  word-wrap:break-word;
}
#u35790_img {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:40px;
}
#u35790 {
  position:absolute;
  left:125px;
  top:152px;
  width:295px;
  height:40px;
}
#u35791 {
  position:absolute;
  left:10px;
  top:12px;
  width:283px;
  word-wrap:break-word;
}
#u35792_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:40px;
}
#u35792 {
  position:absolute;
  left:420px;
  top:152px;
  width:125px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u35793 {
  position:absolute;
  left:10px;
  top:12px;
  width:113px;
  word-wrap:break-word;
}
#u35794_img {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:40px;
}
#u35794 {
  position:absolute;
  left:545px;
  top:152px;
  width:263px;
  height:40px;
  font-size:14px;
}
#u35795 {
  position:absolute;
  left:10px;
  top:12px;
  width:251px;
  word-wrap:break-word;
}
#u35796_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u35796 {
  position:absolute;
  left:788px;
  top:427px;
  width:82px;
  height:20px;
}
#u35797 {
  position:absolute;
  left:2px;
  top:2px;
  width:78px;
  white-space:nowrap;
}
#u35798_img {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:16px;
}
#u35798 {
  position:absolute;
  left:1048px;
  top:309px;
  width:396px;
  height:16px;
  font-size:14px;
  color:#FF0000;
}
#u35799 {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  word-wrap:break-word;
}
#u35800_div {
  position:absolute;
  left:0px;
  top:0px;
  width:808px;
  height:40px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u35800 {
  position:absolute;
  left:230px;
  top:218px;
  width:808px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u35801 {
  position:absolute;
  left:10px;
  top:10px;
  width:796px;
  word-wrap:break-word;
}
#u35802 {
  position:absolute;
  left:301px;
  top:817px;
  width:641px;
  height:151px;
}
#u35802_input {
  position:absolute;
  left:0px;
  top:0px;
  width:641px;
  height:151px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u35803_img {
  position:absolute;
  left:0px;
  top:0px;
  width:643px;
  height:23px;
}
#u35803 {
  position:absolute;
  left:299px;
  top:794px;
  width:643px;
  height:23px;
}
#u35804 {
  position:absolute;
  left:2px;
  top:4px;
  width:639px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35805_div {
  position:absolute;
  left:0px;
  top:0px;
  width:808px;
  height:40px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u35805 {
  position:absolute;
  left:230px;
  top:513px;
  width:808px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u35806 {
  position:absolute;
  left:10px;
  top:10px;
  width:796px;
  word-wrap:break-word;
}
#u35807 {
  position:absolute;
  left:230px;
  top:553px;
  width:811px;
  height:156px;
}
#u35808_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:40px;
}
#u35808 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u35809 {
  position:absolute;
  left:10px;
  top:12px;
  width:113px;
  word-wrap:break-word;
}
#u35810_img {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:40px;
}
#u35810 {
  position:absolute;
  left:125px;
  top:0px;
  width:265px;
  height:40px;
  font-size:14px;
}
#u35811 {
  position:absolute;
  left:2px;
  top:12px;
  width:261px;
  word-wrap:break-word;
}
#u35812_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:40px;
}
#u35812 {
  position:absolute;
  left:390px;
  top:0px;
  width:125px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u35813 {
  position:absolute;
  left:10px;
  top:12px;
  width:113px;
  word-wrap:break-word;
}
#u35814_img {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:40px;
}
#u35814 {
  position:absolute;
  left:515px;
  top:0px;
  width:291px;
  height:40px;
  color:#000000;
}
#u35815 {
  position:absolute;
  left:2px;
  top:12px;
  width:287px;
  word-wrap:break-word;
}
#u35816_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:71px;
}
#u35816 {
  position:absolute;
  left:0px;
  top:40px;
  width:125px;
  height:71px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u35817 {
  position:absolute;
  left:10px;
  top:27px;
  width:113px;
  word-wrap:break-word;
}
#u35818_img {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:71px;
}
#u35818 {
  position:absolute;
  left:125px;
  top:40px;
  width:265px;
  height:71px;
  font-size:14px;
}
#u35819 {
  position:absolute;
  left:2px;
  top:28px;
  width:261px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35820_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:71px;
}
#u35820 {
  position:absolute;
  left:390px;
  top:40px;
  width:125px;
  height:71px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u35821 {
  position:absolute;
  left:10px;
  top:27px;
  width:113px;
  word-wrap:break-word;
}
#u35822_img {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:71px;
}
#u35822 {
  position:absolute;
  left:515px;
  top:40px;
  width:291px;
  height:71px;
  font-size:14px;
}
#u35823 {
  position:absolute;
  left:2px;
  top:28px;
  width:287px;
  word-wrap:break-word;
}
#u35824_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:40px;
}
#u35824 {
  position:absolute;
  left:0px;
  top:111px;
  width:125px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u35825 {
  position:absolute;
  left:10px;
  top:12px;
  width:113px;
  word-wrap:break-word;
}
#u35826_img {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:40px;
}
#u35826 {
  position:absolute;
  left:125px;
  top:111px;
  width:265px;
  height:40px;
  font-size:14px;
}
#u35827 {
  position:absolute;
  left:10px;
  top:12px;
  width:253px;
  word-wrap:break-word;
}
#u35828_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:40px;
}
#u35828 {
  position:absolute;
  left:390px;
  top:111px;
  width:125px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u35829 {
  position:absolute;
  left:10px;
  top:12px;
  width:113px;
  word-wrap:break-word;
}
#u35830_img {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:40px;
}
#u35830 {
  position:absolute;
  left:515px;
  top:111px;
  width:291px;
  height:40px;
  font-size:14px;
}
#u35831 {
  position:absolute;
  left:2px;
  top:12px;
  width:287px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35832 {
  position:absolute;
  left:379px;
  top:563px;
  width:221px;
  height:25px;
}
#u35832_input {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u35833 {
  position:absolute;
  left:771px;
  top:602px;
  width:244px;
  height:56px;
}
#u35833_input {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:56px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u35834 {
  position:absolute;
  left:771px;
  top:561px;
  width:244px;
  height:25px;
}
#u35834_input {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u35834_input:disabled {
  color:grayText;
}
#u35835 {
  position:absolute;
  left:379px;
  top:633px;
  width:221px;
  height:25px;
}
#u35835_input {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u35835_input:disabled {
  color:grayText;
}
#u35836 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u35837_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u35837 {
  position:absolute;
  left:379px;
  top:603px;
  width:68px;
  height:23px;
}
#u35838 {
  position:absolute;
  left:2px;
  top:4px;
  width:64px;
  word-wrap:break-word;
}
#u35839_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u35839 {
  position:absolute;
  left:434px;
  top:604px;
  width:12px;
  height:22px;
}
#u35840 {
  position:absolute;
  left:2px;
  top:3px;
  width:8px;
  white-space:nowrap;
}
#u35841 {
  position:absolute;
  left:379px;
  top:671px;
  width:221px;
  height:25px;
}
#u35841_input {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u35842 {
  position:absolute;
  left:771px;
  top:671px;
  width:244px;
  height:25px;
}
#u35842_input {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u35843_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:16px;
}
#u35843 {
  position:absolute;
  left:214px;
  top:638px;
  width:155px;
  height:16px;
  font-size:14px;
  color:#FF0000;
}
#u35844 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u35845 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u35846 {
  position:absolute;
  left:230px;
  top:258px;
  width:812px;
  height:85px;
}
#u35847_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:40px;
}
#u35847 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u35848 {
  position:absolute;
  left:10px;
  top:12px;
  width:113px;
  word-wrap:break-word;
}
#u35849_img {
  position:absolute;
  left:0px;
  top:0px;
  width:682px;
  height:40px;
}
#u35849 {
  position:absolute;
  left:125px;
  top:0px;
  width:682px;
  height:40px;
  font-size:14px;
}
#u35850 {
  position:absolute;
  left:10px;
  top:12px;
  width:670px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35851_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:40px;
}
#u35851 {
  position:absolute;
  left:0px;
  top:40px;
  width:125px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u35852 {
  position:absolute;
  left:10px;
  top:12px;
  width:113px;
  word-wrap:break-word;
}
#u35853_img {
  position:absolute;
  left:0px;
  top:0px;
  width:682px;
  height:40px;
}
#u35853 {
  position:absolute;
  left:125px;
  top:40px;
  width:682px;
  height:40px;
  font-size:14px;
}
#u35854 {
  position:absolute;
  left:10px;
  top:12px;
  width:670px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35855_img {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:16px;
}
#u35855 {
  position:absolute;
  left:730px;
  top:308px;
  width:396px;
  height:16px;
  font-size:14px;
  color:#FF0000;
}
#u35856 {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  word-wrap:break-word;
}
#u35857 {
  position:absolute;
  left:371px;
  top:306px;
  width:311px;
  height:25px;
}
#u35857_input {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u35857_input:disabled {
  color:grayText;
}
#u35858 {
  position:absolute;
  left:371px;
  top:268px;
  width:311px;
  height:25px;
}
#u35858_input {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u35858_input:disabled {
  color:grayText;
}
#u35859_img {
  position:absolute;
  left:0px;
  top:0px;
  width:388px;
  height:16px;
}
#u35859 {
  position:absolute;
  left:771px;
  top:1035px;
  width:388px;
  height:16px;
  font-size:14px;
  color:#FF0000;
}
#u35860 {
  position:absolute;
  left:0px;
  top:0px;
  width:388px;
  white-space:nowrap;
}
#u35861 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u35862_div {
  position:absolute;
  left:0px;
  top:0px;
  width:448px;
  height:216px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u35862 {
  position:absolute;
  left:410px;
  top:657px;
  width:448px;
  height:216px;
}
#u35863 {
  position:absolute;
  left:2px;
  top:100px;
  width:444px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35864 {
  position:absolute;
  left:462px;
  top:680px;
  width:338px;
  height:89px;
}
#u35864_input {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:89px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u35865_div {
  position:absolute;
  left:0px;
  top:0px;
  width:448px;
  height:40px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u35865 {
  position:absolute;
  left:410px;
  top:617px;
  width:448px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u35866 {
  position:absolute;
  left:10px;
  top:10px;
  width:436px;
  word-wrap:break-word;
}
#u35867_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u35867 {
  position:absolute;
  left:515px;
  top:798px;
  width:100px;
  height:30px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u35867_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u35867.mouseOver {
}
#u35868 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u35869_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u35869 {
  position:absolute;
  left:639px;
  top:798px;
  width:100px;
  height:30px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u35869_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u35869.mouseOver {
}
#u35870 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u35871_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u35871 {
  position:absolute;
  left:489px;
  top:706px;
  width:105px;
  height:16px;
  color:#FF0000;
}
#u35872 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
