body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:452px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u32299_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:32px;
}
#u32299 {
  position:absolute;
  left:52px;
  top:84px;
  width:254px;
  height:32px;
  color:#FF0000;
}
#u32300 {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  white-space:nowrap;
}
#u32301 {
  position:absolute;
  left:52px;
  top:133px;
  width:405px;
  height:45px;
}
#u32302_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u32302 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u32303 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u32304_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u32304 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:40px;
}
#u32305 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u32306_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u32306 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:40px;
}
#u32307 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u32308_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u32308 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:40px;
}
#u32309 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
