body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:452px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u32603_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:32px;
}
#u32603 {
  position:absolute;
  left:52px;
  top:84px;
  width:254px;
  height:32px;
  color:#FF0000;
}
#u32604 {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  white-space:nowrap;
}
#u32605 {
  position:absolute;
  left:52px;
  top:133px;
  width:405px;
  height:45px;
}
#u32606_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u32606 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u32607 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u32608_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u32608 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:40px;
}
#u32609 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u32610_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u32610 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:40px;
}
#u32611 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u32612_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u32612 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:40px;
}
#u32613 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
