body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u27920_div {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:816px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27920 {
  position:absolute;
  left:0px;
  top:109px;
  width:191px;
  height:816px;
}
#u27921 {
  position:absolute;
  left:2px;
  top:400px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27923_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:90px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27923 {
  position:absolute;
  left:0px;
  top:877px;
  width:1280px;
  height:90px;
}
#u27924 {
  position:absolute;
  left:2px;
  top:37px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27925_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:38px;
}
#u27925 {
  position:absolute;
  left:1092px;
  top:923px;
  width:180px;
  height:38px;
  font-size:16px;
  color:#FF0000;
}
#u27926 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u27927_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:75px;
}
#u27927 {
  position:absolute;
  left:9px;
  top:886px;
  width:99px;
  height:75px;
}
#u27928 {
  position:absolute;
  left:2px;
  top:30px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27929_div {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
}
#u27929 {
  position:absolute;
  left:220px;
  top:150px;
  width:210px;
  height:38px;
  font-family:'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
}
#u27930 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  white-space:nowrap;
}
#u27931_div {
  position:absolute;
  left:0px;
  top:0px;
  width:820px;
  height:40px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u27931 {
  position:absolute;
  left:220px;
  top:201px;
  width:820px;
  height:40px;
  font-family:'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u27932 {
  position:absolute;
  left:10px;
  top:12px;
  width:808px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27933 {
  position:absolute;
  left:220px;
  top:241px;
  width:825px;
  height:509px;
}
#u27934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:45px;
}
#u27934 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:45px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u27935 {
  position:absolute;
  left:10px;
  top:14px;
  width:148px;
  word-wrap:break-word;
}
#u27936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:660px;
  height:45px;
}
#u27936 {
  position:absolute;
  left:160px;
  top:0px;
  width:660px;
  height:45px;
  color:#000000;
}
#u27937 {
  position:absolute;
  left:10px;
  top:14px;
  width:648px;
  word-wrap:break-word;
}
#u27938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:45px;
}
#u27938 {
  position:absolute;
  left:0px;
  top:45px;
  width:160px;
  height:45px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u27939 {
  position:absolute;
  left:10px;
  top:14px;
  width:148px;
  word-wrap:break-word;
}
#u27940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:660px;
  height:45px;
}
#u27940 {
  position:absolute;
  left:160px;
  top:45px;
  width:660px;
  height:45px;
  color:#000000;
}
#u27941 {
  position:absolute;
  left:10px;
  top:14px;
  width:648px;
  word-wrap:break-word;
}
#u27942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:273px;
}
#u27942 {
  position:absolute;
  left:0px;
  top:90px;
  width:160px;
  height:273px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u27943 {
  position:absolute;
  left:10px;
  top:128px;
  width:148px;
  word-wrap:break-word;
}
#u27944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:660px;
  height:273px;
}
#u27944 {
  position:absolute;
  left:160px;
  top:90px;
  width:660px;
  height:273px;
  color:#000000;
  text-align:left;
}
#u27945 {
  position:absolute;
  left:10px;
  top:8px;
  width:648px;
  word-wrap:break-word;
}
#u27946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:141px;
}
#u27946 {
  position:absolute;
  left:0px;
  top:363px;
  width:160px;
  height:141px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u27947 {
  position:absolute;
  left:10px;
  top:62px;
  width:148px;
  word-wrap:break-word;
}
#u27948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:660px;
  height:141px;
}
#u27948 {
  position:absolute;
  left:160px;
  top:363px;
  width:660px;
  height:141px;
  color:#000000;
  text-align:left;
}
#u27949 {
  position:absolute;
  left:10px;
  top:54px;
  width:648px;
  word-wrap:break-word;
}
#u27950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u27950 {
  position:absolute;
  left:580px;
  top:794px;
  width:100px;
  height:30px;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u27950_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u27950.mouseOver {
}
#u27951 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u27952 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:126px;
}
#u27953 {
  position:absolute;
  left:389px;
  top:411px;
  width:209px;
  height:126px;
}
#u27954 {
  position:absolute;
  left:2px;
  top:55px;
  width:205px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27956 {
  position:absolute;
  left:11px;
  top:130px;
  width:171px;
  height:455px;
}
#u27956_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:461px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u27957 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:460px;
}
#u27958_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:32px;
}
#u27958 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:32px;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u27958_img.mouseOver {
}
#u27958.mouseOver {
}
#u27958_img.selected {
}
#u27958.selected {
}
#u27959 {
  position:absolute;
  left:2px;
  top:7px;
  width:167px;
  word-wrap:break-word;
}
#u27960_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:38px;
}
#u27960 {
  position:absolute;
  left:0px;
  top:32px;
  width:171px;
  height:38px;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u27960_img.mouseOver {
}
#u27960.mouseOver {
}
#u27960_img.selected {
}
#u27960.selected {
}
#u27961 {
  position:absolute;
  left:2px;
  top:10px;
  width:167px;
  word-wrap:break-word;
}
#u27962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u27962 {
  position:absolute;
  left:0px;
  top:70px;
  width:171px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u27962_img.mouseOver {
}
#u27962.mouseOver {
}
#u27962_img.selected {
}
#u27962.selected {
}
#u27963 {
  position:absolute;
  left:2px;
  top:9px;
  width:167px;
  word-wrap:break-word;
}
#u27964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u27964 {
  position:absolute;
  left:0px;
  top:105px;
  width:171px;
  height:35px;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u27964_img.mouseOver {
}
#u27964.mouseOver {
}
#u27964_img.selected {
}
#u27964.selected {
}
#u27965 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u27966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u27966 {
  position:absolute;
  left:0px;
  top:140px;
  width:171px;
  height:35px;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u27966_img.mouseOver {
}
#u27966.mouseOver {
}
#u27966_img.selected {
}
#u27966.selected {
}
#u27967 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u27968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u27968 {
  position:absolute;
  left:0px;
  top:175px;
  width:171px;
  height:35px;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u27968_img.mouseOver {
}
#u27968.mouseOver {
}
#u27968_img.selected {
}
#u27968.selected {
}
#u27969 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u27970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u27970 {
  position:absolute;
  left:0px;
  top:210px;
  width:171px;
  height:35px;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u27970_img.mouseOver {
}
#u27970.mouseOver {
}
#u27970_img.selected {
}
#u27970.selected {
}
#u27971 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u27972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u27972 {
  position:absolute;
  left:0px;
  top:245px;
  width:171px;
  height:35px;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u27972_img.mouseOver {
}
#u27972.mouseOver {
}
#u27972_img.selected {
}
#u27972.selected {
}
#u27973 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u27974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u27974 {
  position:absolute;
  left:0px;
  top:280px;
  width:171px;
  height:35px;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u27974_img.mouseOver {
}
#u27974.mouseOver {
}
#u27974_img.selected {
}
#u27974.selected {
}
#u27975 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u27976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u27976 {
  position:absolute;
  left:0px;
  top:315px;
  width:171px;
  height:35px;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u27976_img.mouseOver {
}
#u27976.mouseOver {
}
#u27976_img.selected {
}
#u27976.selected {
}
#u27977 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u27978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u27978 {
  position:absolute;
  left:0px;
  top:350px;
  width:171px;
  height:35px;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u27978_img.mouseOver {
}
#u27978.mouseOver {
}
#u27978_img.selected {
}
#u27978.selected {
}
#u27979 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u27980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u27980 {
  position:absolute;
  left:0px;
  top:385px;
  width:171px;
  height:35px;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u27980_img.mouseOver {
}
#u27980.mouseOver {
}
#u27980_img.selected {
}
#u27980.selected {
}
#u27981 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u27982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u27982 {
  position:absolute;
  left:0px;
  top:420px;
  width:171px;
  height:35px;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u27982_img.mouseOver {
}
#u27982.mouseOver {
}
#u27982_img.selected {
}
#u27982.selected {
}
#u27983 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u27984 {
  position:absolute;
  left:171px;
  top:315px;
  width:171px;
  height:70px;
  visibility:hidden;
}
#u27984_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:76px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u27985 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:75px;
}
#u27986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u27986 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u27986_img.mouseOver {
}
#u27986.mouseOver {
}
#u27986_img.selected {
}
#u27986.selected {
}
#u27987 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u27988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u27988 {
  position:absolute;
  left:0px;
  top:35px;
  width:171px;
  height:35px;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u27988_img.mouseOver {
}
#u27988.mouseOver {
}
#u27988_img.selected {
}
#u27988.selected {
}
#u27989 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u27990 {
  position:absolute;
  left:171px;
  top:105px;
  width:202px;
  height:148px;
  visibility:hidden;
}
#u27990_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:208px;
  height:154px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u27991 {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:153px;
}
#u27992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:36px;
}
#u27992 {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:36px;
  font-size:15px;
  color:#000000;
  text-align:center;
}
#u27992_img.mouseOver {
}
#u27992.mouseOver {
}
#u27992_img.selected {
}
#u27992.selected {
}
#u27993 {
  position:absolute;
  left:2px;
  top:10px;
  width:198px;
  word-wrap:break-word;
}
#u27994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:36px;
}
#u27994 {
  position:absolute;
  left:0px;
  top:36px;
  width:202px;
  height:36px;
  font-size:15px;
  color:#000000;
  text-align:center;
}
#u27994_img.mouseOver {
}
#u27994.mouseOver {
}
#u27994_img.selected {
}
#u27994.selected {
}
#u27995 {
  position:absolute;
  left:2px;
  top:10px;
  width:198px;
  word-wrap:break-word;
}
#u27996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:38px;
}
#u27996 {
  position:absolute;
  left:0px;
  top:72px;
  width:202px;
  height:38px;
  font-size:15px;
  color:#000000;
  text-align:center;
}
#u27996_img.mouseOver {
}
#u27996.mouseOver {
}
#u27996_img.selected {
}
#u27996.selected {
}
#u27997 {
  position:absolute;
  left:2px;
  top:10px;
  width:198px;
  word-wrap:break-word;
}
#u27998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:38px;
}
#u27998 {
  position:absolute;
  left:0px;
  top:110px;
  width:202px;
  height:38px;
  font-size:15px;
  color:#000000;
  text-align:center;
}
#u27998_img.mouseOver {
}
#u27998.mouseOver {
}
#u27998_img.selected {
}
#u27998.selected {
}
#u27999 {
  position:absolute;
  left:2px;
  top:10px;
  width:198px;
  word-wrap:break-word;
}
#u28000 {
  position:absolute;
  left:171px;
  top:32px;
  width:150px;
  height:175px;
  visibility:hidden;
}
#u28000_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:156px;
  height:181px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u28001 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:180px;
}
#u28002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u28002 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u28002_img.mouseOver {
}
#u28002.mouseOver {
}
#u28002_img.selected {
}
#u28002.selected {
}
#u28003 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u28004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u28004 {
  position:absolute;
  left:0px;
  top:35px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u28004_img.mouseOver {
}
#u28004.mouseOver {
}
#u28004_img.selected {
}
#u28004.selected {
}
#u28005 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u28006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u28006 {
  position:absolute;
  left:0px;
  top:70px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u28006_img.mouseOver {
}
#u28006.mouseOver {
}
#u28006_img.selected {
}
#u28006.selected {
}
#u28007 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u28008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u28008 {
  position:absolute;
  left:0px;
  top:105px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u28008_img.mouseOver {
}
#u28008.mouseOver {
}
#u28008_img.selected {
}
#u28008.selected {
}
#u28009 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u28010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u28010 {
  position:absolute;
  left:0px;
  top:140px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u28010_img.mouseOver {
}
#u28010.mouseOver {
}
#u28010_img.selected {
}
#u28010.selected {
}
#u28011 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u28012 {
  position:absolute;
  left:171px;
  top:70px;
  width:171px;
  height:105px;
  visibility:hidden;
}
#u28012_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:111px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u28013 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:110px;
}
#u28014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u28014 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u28014_img.mouseOver {
}
#u28014.mouseOver {
}
#u28014_img.selected {
}
#u28014.selected {
}
#u28015 {
  position:absolute;
  left:2px;
  top:9px;
  width:167px;
  word-wrap:break-word;
}
#u28016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u28016 {
  position:absolute;
  left:0px;
  top:35px;
  width:171px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u28016_img.mouseOver {
}
#u28016.mouseOver {
}
#u28016_img.selected {
}
#u28016.selected {
}
#u28017 {
  position:absolute;
  left:2px;
  top:9px;
  width:167px;
  word-wrap:break-word;
}
#u28018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u28018 {
  position:absolute;
  left:0px;
  top:70px;
  width:171px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u28018_img.mouseOver {
}
#u28018.mouseOver {
}
#u28018_img.selected {
}
#u28018.selected {
}
#u28019 {
  position:absolute;
  left:2px;
  top:9px;
  width:167px;
  word-wrap:break-word;
}
#u28020 {
  position:absolute;
  left:171px;
  top:350px;
  width:171px;
  height:35px;
  visibility:hidden;
}
#u28020_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:41px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u28021 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
}
#u28022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u28022 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u28022_img.mouseOver {
}
#u28022.mouseOver {
}
#u28022_img.selected {
}
#u28022.selected {
}
#u28023 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u28024 {
  position:absolute;
  left:171px;
  top:385px;
  width:169px;
  height:315px;
  visibility:hidden;
}
#u28024_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:175px;
  height:321px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u28025 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:320px;
}
#u28026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u28026 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u28026_img.mouseOver {
}
#u28026.mouseOver {
}
#u28026_img.selected {
}
#u28026.selected {
}
#u28027 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u28028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u28028 {
  position:absolute;
  left:0px;
  top:35px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u28028_img.mouseOver {
}
#u28028.mouseOver {
}
#u28028_img.selected {
}
#u28028.selected {
}
#u28029 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u28030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u28030 {
  position:absolute;
  left:0px;
  top:70px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u28030_img.mouseOver {
}
#u28030.mouseOver {
}
#u28030_img.selected {
}
#u28030.selected {
}
#u28031 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u28032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u28032 {
  position:absolute;
  left:0px;
  top:105px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u28032_img.mouseOver {
}
#u28032.mouseOver {
}
#u28032_img.selected {
}
#u28032.selected {
}
#u28033 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u28034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u28034 {
  position:absolute;
  left:0px;
  top:140px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u28034_img.mouseOver {
}
#u28034.mouseOver {
}
#u28034_img.selected {
}
#u28034.selected {
}
#u28035 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u28036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u28036 {
  position:absolute;
  left:0px;
  top:175px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u28036_img.mouseOver {
}
#u28036.mouseOver {
}
#u28036_img.selected {
}
#u28036.selected {
}
#u28037 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u28038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u28038 {
  position:absolute;
  left:0px;
  top:210px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u28038_img.mouseOver {
}
#u28038.mouseOver {
}
#u28038_img.selected {
}
#u28038.selected {
}
#u28039 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u28040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u28040 {
  position:absolute;
  left:0px;
  top:245px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u28040_img.mouseOver {
}
#u28040.mouseOver {
}
#u28040_img.selected {
}
#u28040.selected {
}
#u28041 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u28042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u28042 {
  position:absolute;
  left:0px;
  top:280px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u28042_img.mouseOver {
}
#u28042.mouseOver {
}
#u28042_img.selected {
}
#u28042.selected {
}
#u28043 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u28044 {
  position:absolute;
  left:171px;
  top:420px;
  width:171px;
  height:35px;
  visibility:hidden;
}
#u28044_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:41px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u28045 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
}
#u28046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u28046 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u28046_img.mouseOver {
}
#u28046.mouseOver {
}
#u28046_img.selected {
}
#u28046.selected {
}
#u28047 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u28048 {
  position:absolute;
  left:171px;
  top:280px;
  width:171px;
  height:35px;
  visibility:hidden;
}
#u28048_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:41px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u28049 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
}
#u28050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u28050 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u28050_img.mouseOver {
}
#u28050.mouseOver {
}
#u28050_img.selected {
}
#u28050.selected {
}
#u28051 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u28052 {
  position:absolute;
  left:171px;
  top:175px;
  width:179px;
  height:285px;
  visibility:hidden;
}
#u28052_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:185px;
  height:291px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u28053 {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:290px;
}
#u28054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:35px;
}
#u28054 {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:35px;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u28054_img.mouseOver {
}
#u28054.mouseOver {
}
#u28054_img.selected {
}
#u28054.selected {
}
#u28055 {
  position:absolute;
  left:2px;
  top:8px;
  width:175px;
  word-wrap:break-word;
}
#u28056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:35px;
}
#u28056 {
  position:absolute;
  left:0px;
  top:35px;
  width:179px;
  height:35px;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u28056_img.mouseOver {
}
#u28056.mouseOver {
}
#u28056_img.selected {
}
#u28056.selected {
}
#u28057 {
  position:absolute;
  left:2px;
  top:8px;
  width:175px;
  word-wrap:break-word;
}
#u28058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:35px;
}
#u28058 {
  position:absolute;
  left:0px;
  top:70px;
  width:179px;
  height:35px;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u28058_img.mouseOver {
}
#u28058.mouseOver {
}
#u28058_img.selected {
}
#u28058.selected {
}
#u28059 {
  position:absolute;
  left:2px;
  top:8px;
  width:175px;
  word-wrap:break-word;
}
#u28060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:35px;
}
#u28060 {
  position:absolute;
  left:0px;
  top:105px;
  width:179px;
  height:35px;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u28060_img.mouseOver {
}
#u28060.mouseOver {
}
#u28060_img.selected {
}
#u28060.selected {
}
#u28061 {
  position:absolute;
  left:2px;
  top:8px;
  width:175px;
  word-wrap:break-word;
}
#u28062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:35px;
}
#u28062 {
  position:absolute;
  left:0px;
  top:140px;
  width:179px;
  height:35px;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u28062_img.mouseOver {
}
#u28062.mouseOver {
}
#u28062_img.selected {
}
#u28062.selected {
}
#u28063 {
  position:absolute;
  left:2px;
  top:8px;
  width:175px;
  word-wrap:break-word;
}
#u28064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:35px;
}
#u28064 {
  position:absolute;
  left:0px;
  top:175px;
  width:179px;
  height:35px;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u28064_img.mouseOver {
}
#u28064.mouseOver {
}
#u28064_img.selected {
}
#u28064.selected {
}
#u28065 {
  position:absolute;
  left:2px;
  top:8px;
  width:175px;
  word-wrap:break-word;
}
#u28066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:35px;
}
#u28066 {
  position:absolute;
  left:0px;
  top:210px;
  width:179px;
  height:35px;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u28066_img.mouseOver {
}
#u28066.mouseOver {
}
#u28066_img.selected {
}
#u28066.selected {
}
#u28067 {
  position:absolute;
  left:2px;
  top:8px;
  width:175px;
  word-wrap:break-word;
}
#u28068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:40px;
}
#u28068 {
  position:absolute;
  left:0px;
  top:245px;
  width:179px;
  height:40px;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u28068_img.mouseOver {
}
#u28068.mouseOver {
}
#u28068_img.selected {
}
#u28068.selected {
}
#u28069 {
  position:absolute;
  left:2px;
  top:11px;
  width:175px;
  word-wrap:break-word;
}
#u28070 {
  position:absolute;
  left:171px;
  top:140px;
  width:171px;
  height:70px;
  visibility:hidden;
}
#u28070_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:76px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u28071 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:75px;
}
#u28072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u28072 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u28072_img.mouseOver {
}
#u28072.mouseOver {
}
#u28072_img.selected {
}
#u28072.selected {
}
#u28073 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u28074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u28074 {
  position:absolute;
  left:0px;
  top:35px;
  width:171px;
  height:35px;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u28074_img.mouseOver {
}
#u28074.mouseOver {
}
#u28074_img.selected {
}
#u28074.selected {
}
#u28075 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u28076 {
  position:absolute;
  left:171px;
  top:210px;
  width:202px;
  height:75px;
  visibility:hidden;
}
#u28076_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:208px;
  height:81px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u28077 {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:80px;
}
#u28078_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:35px;
}
#u28078 {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:35px;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u28078_img.mouseOver {
}
#u28078.mouseOver {
}
#u28078_img.selected {
}
#u28078.selected {
}
#u28079 {
  position:absolute;
  left:2px;
  top:8px;
  width:198px;
  word-wrap:break-word;
}
#u28080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:40px;
}
#u28080 {
  position:absolute;
  left:0px;
  top:35px;
  width:202px;
  height:40px;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u28080_img.mouseOver {
}
#u28080.mouseOver {
}
#u28080_img.selected {
}
#u28080.selected {
}
#u28081 {
  position:absolute;
  left:2px;
  top:11px;
  width:198px;
  word-wrap:break-word;
}
#u28083_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:110px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28083 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:110px;
}
#u28084 {
  position:absolute;
  left:2px;
  top:47px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28085 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28086_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
}
#u28086 {
  position:absolute;
  left:1061px;
  top:30px;
  width:129px;
  height:17px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
}
#u28087 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u28088_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
}
#u28088 {
  position:absolute;
  left:1197px;
  top:30px;
  width:39px;
  height:17px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
}
#u28089 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u28090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:11px;
}
#u28090 {
  position:absolute;
  left:1188px;
  top:34px;
  width:1px;
  height:10px;
}
#u28091 {
  position:absolute;
  left:2px;
  top:-3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28092 {
  position:absolute;
  left:1025px;
  top:24px;
  width:26px;
  height:30px;
}
#u28092_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:32px;
  height:36px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u28093 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:35px;
}
#u28094_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:30px;
}
#u28094 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:30px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
  text-align:center;
}
#u28094_img.selected {
}
#u28094.selected {
}
#u28095 {
  position:absolute;
  left:2px;
  top:6px;
  width:22px;
  word-wrap:break-word;
}
#u28096 {
  position:absolute;
  left:0px;
  top:30px;
  width:88px;
  height:139px;
  visibility:hidden;
}
#u28096_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:94px;
  height:145px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u28097 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:144px;
}
#u28098_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:34px;
}
#u28098 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:34px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u28098_img.selected {
}
#u28098.selected {
}
#u28099 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u28100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u28100 {
  position:absolute;
  left:0px;
  top:34px;
  width:88px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u28100_img.selected {
}
#u28100.selected {
}
#u28101 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u28102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u28102 {
  position:absolute;
  left:0px;
  top:69px;
  width:88px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u28102_img.selected {
}
#u28102.selected {
}
#u28103 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u28104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u28104 {
  position:absolute;
  left:0px;
  top:104px;
  width:88px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u28104_img.selected {
}
#u28104.selected {
}
#u28105 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u28106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:25px;
}
#u28106 {
  position:absolute;
  left:431px;
  top:43px;
  width:284px;
  height:25px;
  font-family:'微軟正黑體 Bold', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u28107 {
  position:absolute;
  left:2px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
#u28108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:91px;
}
#u28108 {
  position:absolute;
  left:10px;
  top:10px;
  width:120px;
  height:91px;
}
#u28109 {
  position:absolute;
  left:2px;
  top:38px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
