body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1890px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u20074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1796px;
  height:1924px;
}
#u20074 {
  position:absolute;
  left:94px;
  top:44px;
  width:1796px;
  height:1924px;
}
#u20075 {
  position:absolute;
  left:2px;
  top:954px;
  width:1792px;
  visibility:hidden;
  word-wrap:break-word;
}
