body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8797 {
  position:absolute;
  left:220px;
  top:265px;
  width:616px;
  height:161px;
}
#u8798_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:36px;
}
#u8798 {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:36px;
  color:#FFFFFF;
  text-align:center;
}
#u8799 {
  position:absolute;
  left:2px;
  top:10px;
  width:142px;
  word-wrap:break-word;
}
#u8800_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:36px;
}
#u8800 {
  position:absolute;
  left:146px;
  top:0px;
  width:163px;
  height:36px;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u8801 {
  position:absolute;
  left:2px;
  top:10px;
  width:159px;
  word-wrap:break-word;
}
#u8802_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:36px;
}
#u8802 {
  position:absolute;
  left:309px;
  top:0px;
  width:142px;
  height:36px;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u8803 {
  position:absolute;
  left:2px;
  top:10px;
  width:138px;
  word-wrap:break-word;
}
#u8804_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:36px;
}
#u8804 {
  position:absolute;
  left:451px;
  top:0px;
  width:160px;
  height:36px;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u8805 {
  position:absolute;
  left:2px;
  top:10px;
  width:156px;
  word-wrap:break-word;
}
#u8806_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:40px;
}
#u8806 {
  position:absolute;
  left:0px;
  top:36px;
  width:146px;
  height:40px;
  font-size:14px;
  text-align:center;
}
#u8807 {
  position:absolute;
  left:2px;
  top:12px;
  width:142px;
  word-wrap:break-word;
}
#u8808_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:40px;
}
#u8808 {
  position:absolute;
  left:146px;
  top:36px;
  width:163px;
  height:40px;
  font-size:14px;
}
#u8809 {
  position:absolute;
  left:2px;
  top:12px;
  width:159px;
  word-wrap:break-word;
}
#u8810_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:40px;
}
#u8810 {
  position:absolute;
  left:309px;
  top:36px;
  width:142px;
  height:40px;
  font-size:14px;
}
#u8811 {
  position:absolute;
  left:2px;
  top:12px;
  width:138px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8812_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
}
#u8812 {
  position:absolute;
  left:451px;
  top:36px;
  width:160px;
  height:40px;
}
#u8813 {
  position:absolute;
  left:2px;
  top:12px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8814_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:40px;
}
#u8814 {
  position:absolute;
  left:0px;
  top:76px;
  width:146px;
  height:40px;
  font-size:14px;
  text-align:center;
}
#u8815 {
  position:absolute;
  left:2px;
  top:12px;
  width:142px;
  word-wrap:break-word;
}
#u8816_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:40px;
}
#u8816 {
  position:absolute;
  left:146px;
  top:76px;
  width:163px;
  height:40px;
  color:#000000;
}
#u8817 {
  position:absolute;
  left:2px;
  top:12px;
  width:159px;
  word-wrap:break-word;
}
#u8818_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:40px;
}
#u8818 {
  position:absolute;
  left:309px;
  top:76px;
  width:142px;
  height:40px;
  font-size:14px;
}
#u8819 {
  position:absolute;
  left:2px;
  top:12px;
  width:138px;
  word-wrap:break-word;
}
#u8820_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
}
#u8820 {
  position:absolute;
  left:451px;
  top:76px;
  width:160px;
  height:40px;
}
#u8821 {
  position:absolute;
  left:2px;
  top:12px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8822_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:40px;
}
#u8822 {
  position:absolute;
  left:0px;
  top:116px;
  width:146px;
  height:40px;
  font-size:14px;
  text-align:center;
}
#u8823 {
  position:absolute;
  left:2px;
  top:12px;
  width:142px;
  word-wrap:break-word;
}
#u8824_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:40px;
}
#u8824 {
  position:absolute;
  left:146px;
  top:116px;
  width:163px;
  height:40px;
  font-size:14px;
}
#u8825 {
  position:absolute;
  left:2px;
  top:12px;
  width:159px;
  word-wrap:break-word;
}
#u8826_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:40px;
}
#u8826 {
  position:absolute;
  left:309px;
  top:116px;
  width:142px;
  height:40px;
  font-size:14px;
}
#u8827 {
  position:absolute;
  left:2px;
  top:12px;
  width:138px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8828_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
}
#u8828 {
  position:absolute;
  left:451px;
  top:116px;
  width:160px;
  height:40px;
}
#u8829 {
  position:absolute;
  left:2px;
  top:12px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8831_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:110px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8831 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:110px;
}
#u8832 {
  position:absolute;
  left:2px;
  top:47px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8833 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8834_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
}
#u8834 {
  position:absolute;
  left:1061px;
  top:30px;
  width:129px;
  height:17px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
}
#u8835 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u8836_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
}
#u8836 {
  position:absolute;
  left:1197px;
  top:30px;
  width:39px;
  height:17px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
}
#u8837 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u8838_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:11px;
}
#u8838 {
  position:absolute;
  left:1188px;
  top:34px;
  width:1px;
  height:10px;
}
#u8839 {
  position:absolute;
  left:2px;
  top:-3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8840_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Rounded MT Bold';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u8840 {
  position:absolute;
  left:20px;
  top:30px;
  width:144px;
  height:55px;
  font-family:'Arial Rounded MT Bold';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u8841 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u8842 {
  position:absolute;
  left:1025px;
  top:24px;
  width:26px;
  height:30px;
}
#u8842_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:32px;
  height:36px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u8843 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:35px;
}
#u8844_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:30px;
}
#u8844 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:30px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
  text-align:center;
}
#u8844_img.selected {
}
#u8844.selected {
}
#u8845 {
  position:absolute;
  left:2px;
  top:6px;
  width:22px;
  word-wrap:break-word;
}
#u8846 {
  position:absolute;
  left:0px;
  top:30px;
  width:88px;
  height:139px;
  visibility:hidden;
}
#u8846_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:94px;
  height:145px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u8847 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:144px;
}
#u8848_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:34px;
}
#u8848 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:34px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u8848_img.selected {
}
#u8848.selected {
}
#u8849 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u8850_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u8850 {
  position:absolute;
  left:0px;
  top:34px;
  width:88px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u8850_img.selected {
}
#u8850.selected {
}
#u8851 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u8852_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u8852 {
  position:absolute;
  left:0px;
  top:69px;
  width:88px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u8852_img.selected {
}
#u8852.selected {
}
#u8853 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u8854_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u8854 {
  position:absolute;
  left:0px;
  top:104px;
  width:88px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u8854_img.selected {
}
#u8854.selected {
}
#u8855 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u8856_img {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:25px;
}
#u8856 {
  position:absolute;
  left:396px;
  top:34px;
  width:284px;
  height:25px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
  text-align:left;
}
#u8857 {
  position:absolute;
  left:2px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
#u8858_div {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:879px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8858 {
  position:absolute;
  left:0px;
  top:109px;
  width:191px;
  height:879px;
}
#u8859 {
  position:absolute;
  left:2px;
  top:432px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8861_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:90px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8861 {
  position:absolute;
  left:0px;
  top:976px;
  width:1280px;
  height:90px;
}
#u8862 {
  position:absolute;
  left:2px;
  top:37px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8863_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u8863 {
  position:absolute;
  left:35px;
  top:1003px;
  width:94px;
  height:37px;
  color:#FFFFFF;
}
#u8864 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u8865_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:38px;
}
#u8865 {
  position:absolute;
  left:1102px;
  top:1022px;
  width:170px;
  height:38px;
  font-size:16px;
  color:#FF0000;
}
#u8866 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u8867_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Medium', 'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
}
#u8867 {
  position:absolute;
  left:220px;
  top:150px;
  width:129px;
  height:38px;
  font-family:'STHeitiTC-Medium', 'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
}
#u8868 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u8870 {
  position:absolute;
  left:11px;
  top:130px;
  width:171px;
  height:385px;
}
#u8870_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:391px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u8871 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:390px;
}
#u8872_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:32px;
}
#u8872 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:32px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u8872_img.mouseOver {
}
#u8872.mouseOver {
}
#u8872_img.selected {
}
#u8872.selected {
}
#u8873 {
  position:absolute;
  left:2px;
  top:7px;
  width:167px;
  word-wrap:break-word;
}
#u8874_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:38px;
}
#u8874 {
  position:absolute;
  left:0px;
  top:32px;
  width:171px;
  height:38px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u8874_img.mouseOver {
}
#u8874.mouseOver {
}
#u8874_img.selected {
}
#u8874.selected {
}
#u8875 {
  position:absolute;
  left:2px;
  top:10px;
  width:167px;
  word-wrap:break-word;
}
#u8876_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u8876 {
  position:absolute;
  left:0px;
  top:70px;
  width:171px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u8876_img.mouseOver {
}
#u8876.mouseOver {
}
#u8876_img.selected {
}
#u8876.selected {
}
#u8877 {
  position:absolute;
  left:2px;
  top:9px;
  width:167px;
  word-wrap:break-word;
}
#u8878_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u8878 {
  position:absolute;
  left:0px;
  top:105px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u8878_img.mouseOver {
}
#u8878.mouseOver {
}
#u8878_img.selected {
}
#u8878.selected {
}
#u8879 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u8880_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u8880 {
  position:absolute;
  left:0px;
  top:140px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u8880_img.mouseOver {
}
#u8880.mouseOver {
}
#u8880_img.selected {
}
#u8880.selected {
}
#u8881 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u8882_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u8882 {
  position:absolute;
  left:0px;
  top:175px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u8882_img.mouseOver {
}
#u8882.mouseOver {
}
#u8882_img.selected {
}
#u8882.selected {
}
#u8883 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u8884_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u8884 {
  position:absolute;
  left:0px;
  top:210px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u8884_img.mouseOver {
}
#u8884.mouseOver {
}
#u8884_img.selected {
}
#u8884.selected {
}
#u8885 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u8886_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u8886 {
  position:absolute;
  left:0px;
  top:245px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u8886_img.mouseOver {
}
#u8886.mouseOver {
}
#u8886_img.selected {
}
#u8886.selected {
}
#u8887 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u8888_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u8888 {
  position:absolute;
  left:0px;
  top:280px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u8888_img.mouseOver {
}
#u8888.mouseOver {
}
#u8888_img.selected {
}
#u8888.selected {
}
#u8889 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u8890_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u8890 {
  position:absolute;
  left:0px;
  top:315px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u8890_img.mouseOver {
}
#u8890.mouseOver {
}
#u8890_img.selected {
}
#u8890.selected {
}
#u8891 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u8892_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u8892 {
  position:absolute;
  left:0px;
  top:350px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u8892_img.mouseOver {
}
#u8892.mouseOver {
}
#u8892_img.selected {
}
#u8892.selected {
}
#u8893 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u8894 {
  position:absolute;
  left:171px;
  top:245px;
  width:171px;
  height:35px;
  visibility:hidden;
}
#u8894_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:41px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u8895 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
}
#u8896_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u8896 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u8896_img.mouseOver {
}
#u8896.mouseOver {
}
#u8896_img.selected {
}
#u8896.selected {
}
#u8897 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u8898 {
  position:absolute;
  left:171px;
  top:105px;
  width:202px;
  height:76px;
  visibility:hidden;
}
#u8898_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:208px;
  height:82px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u8899 {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:81px;
}
#u8900_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:38px;
}
#u8900 {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:38px;
  font-size:15px;
  color:#000000;
  text-align:center;
}
#u8900_img.mouseOver {
}
#u8900.mouseOver {
}
#u8900_img.selected {
}
#u8900.selected {
}
#u8901 {
  position:absolute;
  left:2px;
  top:10px;
  width:198px;
  word-wrap:break-word;
}
#u8902_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:38px;
}
#u8902 {
  position:absolute;
  left:0px;
  top:38px;
  width:202px;
  height:38px;
  font-size:15px;
  color:#000000;
  text-align:center;
}
#u8902_img.mouseOver {
}
#u8902.mouseOver {
}
#u8902_img.selected {
}
#u8902.selected {
}
#u8903 {
  position:absolute;
  left:2px;
  top:10px;
  width:198px;
  word-wrap:break-word;
}
#u8904 {
  position:absolute;
  left:171px;
  top:32px;
  width:150px;
  height:175px;
  visibility:hidden;
}
#u8904_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:156px;
  height:181px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u8905 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:180px;
}
#u8906_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u8906 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u8906_img.mouseOver {
}
#u8906.mouseOver {
}
#u8906_img.selected {
}
#u8906.selected {
}
#u8907 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u8908_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u8908 {
  position:absolute;
  left:0px;
  top:35px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u8908_img.mouseOver {
}
#u8908.mouseOver {
}
#u8908_img.selected {
}
#u8908.selected {
}
#u8909 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u8910_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u8910 {
  position:absolute;
  left:0px;
  top:70px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u8910_img.mouseOver {
}
#u8910.mouseOver {
}
#u8910_img.selected {
}
#u8910.selected {
}
#u8911 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u8912_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u8912 {
  position:absolute;
  left:0px;
  top:105px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u8912_img.mouseOver {
}
#u8912.mouseOver {
}
#u8912_img.selected {
}
#u8912.selected {
}
#u8913 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u8914_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u8914 {
  position:absolute;
  left:0px;
  top:140px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u8914_img.mouseOver {
}
#u8914.mouseOver {
}
#u8914_img.selected {
}
#u8914.selected {
}
#u8915 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u8916 {
  position:absolute;
  left:171px;
  top:70px;
  width:171px;
  height:35px;
  visibility:hidden;
}
#u8916_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:41px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u8917 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
}
#u8918_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u8918 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u8918_img.mouseOver {
}
#u8918.mouseOver {
}
#u8918_img.selected {
}
#u8918.selected {
}
#u8919 {
  position:absolute;
  left:2px;
  top:9px;
  width:167px;
  word-wrap:break-word;
}
#u8920 {
  position:absolute;
  left:171px;
  top:280px;
  width:171px;
  height:110px;
  visibility:hidden;
}
#u8920_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:116px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u8921 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:115px;
}
#u8922_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u8922 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u8922_img.mouseOver {
}
#u8922.mouseOver {
}
#u8922_img.selected {
}
#u8922.selected {
}
#u8923 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u8924_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u8924 {
  position:absolute;
  left:0px;
  top:35px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u8924_img.mouseOver {
}
#u8924.mouseOver {
}
#u8924_img.selected {
}
#u8924.selected {
}
#u8925 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u8926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:40px;
}
#u8926 {
  position:absolute;
  left:0px;
  top:70px;
  width:171px;
  height:40px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u8926_img.mouseOver {
}
#u8926.mouseOver {
}
#u8926_img.selected {
}
#u8926.selected {
}
#u8927 {
  position:absolute;
  left:2px;
  top:11px;
  width:167px;
  word-wrap:break-word;
}
#u8928 {
  position:absolute;
  left:171px;
  top:315px;
  width:169px;
  height:140px;
  visibility:hidden;
}
#u8928_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:175px;
  height:146px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u8929 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:145px;
}
#u8930_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u8930 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u8930_img.mouseOver {
}
#u8930.mouseOver {
}
#u8930_img.selected {
}
#u8930.selected {
}
#u8931 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u8932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u8932 {
  position:absolute;
  left:0px;
  top:35px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u8932_img.mouseOver {
}
#u8932.mouseOver {
}
#u8932_img.selected {
}
#u8932.selected {
}
#u8933 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u8934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u8934 {
  position:absolute;
  left:0px;
  top:70px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u8934_img.mouseOver {
}
#u8934.mouseOver {
}
#u8934_img.selected {
}
#u8934.selected {
}
#u8935 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u8936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u8936 {
  position:absolute;
  left:0px;
  top:105px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u8936_img.mouseOver {
}
#u8936.mouseOver {
}
#u8936_img.selected {
}
#u8936.selected {
}
#u8937 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u8938 {
  position:absolute;
  left:171px;
  top:350px;
  width:171px;
  height:35px;
  visibility:hidden;
}
#u8938_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:41px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u8939 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
}
#u8940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u8940 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u8940_img.mouseOver {
}
#u8940.mouseOver {
}
#u8940_img.selected {
}
#u8940.selected {
}
#u8941 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u8942 {
  position:absolute;
  left:171px;
  top:210px;
  width:171px;
  height:35px;
  visibility:hidden;
}
#u8942_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:41px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u8943 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
}
#u8944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u8944 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u8944_img.mouseOver {
}
#u8944.mouseOver {
}
#u8944_img.selected {
}
#u8944.selected {
}
#u8945 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u8946 {
  position:absolute;
  left:171px;
  top:175px;
  width:171px;
  height:105px;
  visibility:hidden;
}
#u8946_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:111px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u8947 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:110px;
}
#u8948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u8948 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u8948_img.mouseOver {
}
#u8948.mouseOver {
}
#u8948_img.selected {
}
#u8948.selected {
}
#u8949 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u8950_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u8950 {
  position:absolute;
  left:0px;
  top:35px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u8950_img.mouseOver {
}
#u8950.mouseOver {
}
#u8950_img.selected {
}
#u8950.selected {
}
#u8951 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u8952_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u8952 {
  position:absolute;
  left:0px;
  top:70px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u8952_img.mouseOver {
}
#u8952.mouseOver {
}
#u8952_img.selected {
}
#u8952.selected {
}
#u8953 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u8954 {
  position:absolute;
  left:171px;
  top:140px;
  width:171px;
  height:70px;
  visibility:hidden;
}
#u8954_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:76px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u8955 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:75px;
}
#u8956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u8956 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u8956_img.mouseOver {
}
#u8956.mouseOver {
}
#u8956_img.selected {
}
#u8956.selected {
}
#u8957 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u8958_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u8958 {
  position:absolute;
  left:0px;
  top:35px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u8958_img.mouseOver {
}
#u8958.mouseOver {
}
#u8958_img.selected {
}
#u8958.selected {
}
#u8959 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u8960 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
}
#u8961 {
  position:absolute;
  left:722px;
  top:312px;
  width:55px;
  height:22px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  color:#FFFFFF;
}
#u8961_img.mouseOver {
}
#u8961.mouseOver {
}
#u8962 {
  position:absolute;
  left:2px;
  top:3px;
  width:51px;
  word-wrap:break-word;
}
#u8963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
}
#u8963 {
  position:absolute;
  left:722px;
  top:352px;
  width:55px;
  height:22px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  color:#FFFFFF;
}
#u8963_img.mouseOver {
}
#u8963.mouseOver {
}
#u8964 {
  position:absolute;
  left:2px;
  top:3px;
  width:51px;
  word-wrap:break-word;
}
#u8965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
}
#u8965 {
  position:absolute;
  left:722px;
  top:392px;
  width:55px;
  height:22px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  color:#FFFFFF;
}
#u8965_img.mouseOver {
}
#u8965.mouseOver {
}
#u8966 {
  position:absolute;
  left:2px;
  top:3px;
  width:51px;
  word-wrap:break-word;
}
#u8967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:22px;
}
#u8967 {
  position:absolute;
  left:220px;
  top:225px;
  width:71px;
  height:22px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  color:#FFFFFF;
}
#u8967_img.mouseOver {
}
#u8967.mouseOver {
}
#u8968 {
  position:absolute;
  left:2px;
  top:3px;
  width:67px;
  word-wrap:break-word;
}
