body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:452px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u45803_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:32px;
}
#u45803 {
  position:absolute;
  left:52px;
  top:84px;
  width:148px;
  height:32px;
  color:#FF0000;
}
#u45804 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  white-space:nowrap;
}
#u45805 {
  position:absolute;
  left:52px;
  top:133px;
  width:405px;
  height:45px;
}
#u45806_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u45806 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u45807 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u45808_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u45808 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:40px;
}
#u45809 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u45810_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u45810 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:40px;
}
#u45811 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u45812_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u45812 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:40px;
}
#u45813 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
