body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:452px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u44600_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:32px;
}
#u44600 {
  position:absolute;
  left:52px;
  top:84px;
  width:148px;
  height:32px;
  color:#FF0000;
}
#u44601 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  white-space:nowrap;
}
#u44602 {
  position:absolute;
  left:52px;
  top:133px;
  width:405px;
  height:45px;
}
#u44603_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u44603 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u44604 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u44605_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u44605 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:40px;
}
#u44606 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u44607_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u44607 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:40px;
}
#u44608 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u44609_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u44609 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:40px;
}
#u44610 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
