body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1052px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u24017 {
  position:absolute;
  left:20px;
  top:535px;
  width:2037px;
  height:133px;
}
#u24018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:38px;
}
#u24018 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:38px;
  color:#000000;
  text-align:center;
}
#u24019 {
  position:absolute;
  left:2px;
  top:11px;
  width:66px;
  word-wrap:break-word;
}
#u24020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:38px;
}
#u24020 {
  position:absolute;
  left:70px;
  top:0px;
  width:70px;
  height:38px;
  color:#000000;
  text-align:center;
}
#u24021 {
  position:absolute;
  left:2px;
  top:11px;
  width:66px;
  word-wrap:break-word;
}
#u24022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:38px;
}
#u24022 {
  position:absolute;
  left:140px;
  top:0px;
  width:70px;
  height:38px;
  color:#000000;
  text-align:center;
}
#u24023 {
  position:absolute;
  left:2px;
  top:3px;
  width:66px;
  word-wrap:break-word;
}
#u24024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:38px;
}
#u24024 {
  position:absolute;
  left:210px;
  top:0px;
  width:70px;
  height:38px;
  color:#000000;
}
#u24025 {
  position:absolute;
  left:10px;
  top:3px;
  width:58px;
  word-wrap:break-word;
}
#u24026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:38px;
}
#u24026 {
  position:absolute;
  left:280px;
  top:0px;
  width:70px;
  height:38px;
  color:#000000;
}
#u24027 {
  position:absolute;
  left:10px;
  top:3px;
  width:58px;
  word-wrap:break-word;
}
#u24028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:38px;
}
#u24028 {
  position:absolute;
  left:350px;
  top:0px;
  width:74px;
  height:38px;
  color:#000000;
}
#u24029 {
  position:absolute;
  left:10px;
  top:3px;
  width:62px;
  word-wrap:break-word;
}
#u24030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:38px;
}
#u24030 {
  position:absolute;
  left:424px;
  top:0px;
  width:75px;
  height:38px;
  color:#000000;
}
#u24031 {
  position:absolute;
  left:10px;
  top:3px;
  width:63px;
  word-wrap:break-word;
}
#u24032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:38px;
}
#u24032 {
  position:absolute;
  left:499px;
  top:0px;
  width:74px;
  height:38px;
  color:#000000;
}
#u24033 {
  position:absolute;
  left:10px;
  top:11px;
  width:62px;
  word-wrap:break-word;
}
#u24034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:38px;
}
#u24034 {
  position:absolute;
  left:573px;
  top:0px;
  width:80px;
  height:38px;
  color:#000000;
}
#u24035 {
  position:absolute;
  left:10px;
  top:11px;
  width:68px;
  word-wrap:break-word;
}
#u24036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:38px;
}
#u24036 {
  position:absolute;
  left:653px;
  top:0px;
  width:70px;
  height:38px;
  color:#000000;
}
#u24037 {
  position:absolute;
  left:10px;
  top:3px;
  width:58px;
  word-wrap:break-word;
}
#u24038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:38px;
}
#u24038 {
  position:absolute;
  left:723px;
  top:0px;
  width:117px;
  height:38px;
  color:#000000;
}
#u24039 {
  position:absolute;
  left:10px;
  top:11px;
  width:105px;
  word-wrap:break-word;
}
#u24040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:38px;
}
#u24040 {
  position:absolute;
  left:840px;
  top:0px;
  width:70px;
  height:38px;
  color:#000000;
}
#u24041 {
  position:absolute;
  left:10px;
  top:11px;
  width:58px;
  word-wrap:break-word;
}
#u24042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:38px;
}
#u24042 {
  position:absolute;
  left:910px;
  top:0px;
  width:70px;
  height:38px;
  color:#000000;
}
#u24043 {
  position:absolute;
  left:10px;
  top:11px;
  width:58px;
  word-wrap:break-word;
}
#u24044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:38px;
}
#u24044 {
  position:absolute;
  left:980px;
  top:0px;
  width:70px;
  height:38px;
  color:#000000;
}
#u24045 {
  position:absolute;
  left:10px;
  top:11px;
  width:58px;
  word-wrap:break-word;
}
#u24046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:38px;
}
#u24046 {
  position:absolute;
  left:1050px;
  top:0px;
  width:70px;
  height:38px;
  color:#000000;
}
#u24047 {
  position:absolute;
  left:10px;
  top:3px;
  width:58px;
  word-wrap:break-word;
}
#u24048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:38px;
}
#u24048 {
  position:absolute;
  left:1120px;
  top:0px;
  width:85px;
  height:38px;
  color:#000000;
}
#u24049 {
  position:absolute;
  left:10px;
  top:11px;
  width:73px;
  word-wrap:break-word;
}
#u24050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:38px;
}
#u24050 {
  position:absolute;
  left:1205px;
  top:0px;
  width:75px;
  height:38px;
  color:#000000;
}
#u24051 {
  position:absolute;
  left:10px;
  top:11px;
  width:63px;
  word-wrap:break-word;
}
#u24052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:38px;
}
#u24052 {
  position:absolute;
  left:1280px;
  top:0px;
  width:75px;
  height:38px;
  color:#000000;
}
#u24053 {
  position:absolute;
  left:10px;
  top:11px;
  width:63px;
  word-wrap:break-word;
}
#u24054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:38px;
}
#u24054 {
  position:absolute;
  left:1355px;
  top:0px;
  width:75px;
  height:38px;
  color:#000000;
}
#u24055 {
  position:absolute;
  left:10px;
  top:11px;
  width:63px;
  word-wrap:break-word;
}
#u24056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:38px;
}
#u24056 {
  position:absolute;
  left:1430px;
  top:0px;
  width:74px;
  height:38px;
  color:#000000;
}
#u24057 {
  position:absolute;
  left:10px;
  top:11px;
  width:62px;
  word-wrap:break-word;
}
#u24058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:38px;
}
#u24058 {
  position:absolute;
  left:1504px;
  top:0px;
  width:75px;
  height:38px;
  color:#000000;
}
#u24059 {
  position:absolute;
  left:10px;
  top:11px;
  width:63px;
  word-wrap:break-word;
}
#u24060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:38px;
}
#u24060 {
  position:absolute;
  left:1579px;
  top:0px;
  width:75px;
  height:38px;
  color:#000000;
}
#u24061 {
  position:absolute;
  left:10px;
  top:11px;
  width:63px;
  word-wrap:break-word;
}
#u24062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:38px;
}
#u24062 {
  position:absolute;
  left:1654px;
  top:0px;
  width:75px;
  height:38px;
  color:#000000;
}
#u24063 {
  position:absolute;
  left:10px;
  top:11px;
  width:63px;
  word-wrap:break-word;
}
#u24064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:38px;
}
#u24064 {
  position:absolute;
  left:1729px;
  top:0px;
  width:75px;
  height:38px;
  color:#000000;
}
#u24065 {
  position:absolute;
  left:10px;
  top:11px;
  width:63px;
  word-wrap:break-word;
}
#u24066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:38px;
}
#u24066 {
  position:absolute;
  left:1804px;
  top:0px;
  width:75px;
  height:38px;
  color:#000000;
}
#u24067 {
  position:absolute;
  left:10px;
  top:3px;
  width:63px;
  word-wrap:break-word;
}
#u24068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:38px;
}
#u24068 {
  position:absolute;
  left:1879px;
  top:0px;
  width:75px;
  height:38px;
  color:#000000;
}
#u24069 {
  position:absolute;
  left:10px;
  top:3px;
  width:63px;
  word-wrap:break-word;
}
#u24070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:38px;
}
#u24070 {
  position:absolute;
  left:1954px;
  top:0px;
  width:78px;
  height:38px;
  color:#000000;
}
#u24071 {
  position:absolute;
  left:10px;
  top:3px;
  width:66px;
  word-wrap:break-word;
}
#u24072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u24072 {
  position:absolute;
  left:0px;
  top:38px;
  width:70px;
  height:30px;
  color:#000000;
}
#u24073 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u24074 {
  position:absolute;
  left:70px;
  top:38px;
  width:70px;
  height:30px;
  color:#000000;
}
#u24075 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u24076 {
  position:absolute;
  left:140px;
  top:38px;
  width:70px;
  height:30px;
  color:#000000;
}
#u24077 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24078_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u24078 {
  position:absolute;
  left:210px;
  top:38px;
  width:70px;
  height:30px;
  color:#000000;
}
#u24079 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u24080 {
  position:absolute;
  left:280px;
  top:38px;
  width:70px;
  height:30px;
  color:#000000;
}
#u24081 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:30px;
}
#u24082 {
  position:absolute;
  left:350px;
  top:38px;
  width:74px;
  height:30px;
  color:#000000;
}
#u24083 {
  position:absolute;
  left:2px;
  top:7px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
}
#u24084 {
  position:absolute;
  left:424px;
  top:38px;
  width:75px;
  height:30px;
  color:#000000;
}
#u24085 {
  position:absolute;
  left:2px;
  top:7px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:30px;
}
#u24086 {
  position:absolute;
  left:499px;
  top:38px;
  width:74px;
  height:30px;
  color:#000000;
}
#u24087 {
  position:absolute;
  left:2px;
  top:7px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u24088 {
  position:absolute;
  left:573px;
  top:38px;
  width:80px;
  height:30px;
  color:#000000;
}
#u24089 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u24090 {
  position:absolute;
  left:653px;
  top:38px;
  width:70px;
  height:30px;
  color:#000000;
}
#u24091 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24092_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:30px;
}
#u24092 {
  position:absolute;
  left:723px;
  top:38px;
  width:117px;
  height:30px;
  color:#000000;
}
#u24093 {
  position:absolute;
  left:2px;
  top:7px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24094_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u24094 {
  position:absolute;
  left:840px;
  top:38px;
  width:70px;
  height:30px;
  color:#000000;
}
#u24095 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24096_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u24096 {
  position:absolute;
  left:910px;
  top:38px;
  width:70px;
  height:30px;
  color:#000000;
}
#u24097 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24098_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u24098 {
  position:absolute;
  left:980px;
  top:38px;
  width:70px;
  height:30px;
  color:#000000;
}
#u24099 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u24100 {
  position:absolute;
  left:1050px;
  top:38px;
  width:70px;
  height:30px;
  color:#000000;
}
#u24101 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:30px;
}
#u24102 {
  position:absolute;
  left:1120px;
  top:38px;
  width:85px;
  height:30px;
  color:#000000;
}
#u24103 {
  position:absolute;
  left:2px;
  top:7px;
  width:81px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
}
#u24104 {
  position:absolute;
  left:1205px;
  top:38px;
  width:75px;
  height:30px;
  color:#000000;
}
#u24105 {
  position:absolute;
  left:2px;
  top:7px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
}
#u24106 {
  position:absolute;
  left:1280px;
  top:38px;
  width:75px;
  height:30px;
  color:#000000;
}
#u24107 {
  position:absolute;
  left:2px;
  top:7px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
}
#u24108 {
  position:absolute;
  left:1355px;
  top:38px;
  width:75px;
  height:30px;
  color:#000000;
}
#u24109 {
  position:absolute;
  left:2px;
  top:7px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:30px;
}
#u24110 {
  position:absolute;
  left:1430px;
  top:38px;
  width:74px;
  height:30px;
  color:#000000;
}
#u24111 {
  position:absolute;
  left:2px;
  top:7px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
}
#u24112 {
  position:absolute;
  left:1504px;
  top:38px;
  width:75px;
  height:30px;
  color:#000000;
}
#u24113 {
  position:absolute;
  left:2px;
  top:7px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
}
#u24114 {
  position:absolute;
  left:1579px;
  top:38px;
  width:75px;
  height:30px;
  color:#000000;
}
#u24115 {
  position:absolute;
  left:2px;
  top:7px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
}
#u24116 {
  position:absolute;
  left:1654px;
  top:38px;
  width:75px;
  height:30px;
  color:#000000;
}
#u24117 {
  position:absolute;
  left:2px;
  top:7px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
}
#u24118 {
  position:absolute;
  left:1729px;
  top:38px;
  width:75px;
  height:30px;
  color:#000000;
}
#u24119 {
  position:absolute;
  left:2px;
  top:7px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
}
#u24120 {
  position:absolute;
  left:1804px;
  top:38px;
  width:75px;
  height:30px;
  color:#000000;
}
#u24121 {
  position:absolute;
  left:2px;
  top:7px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
}
#u24122 {
  position:absolute;
  left:1879px;
  top:38px;
  width:75px;
  height:30px;
  color:#000000;
}
#u24123 {
  position:absolute;
  left:2px;
  top:7px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
}
#u24124 {
  position:absolute;
  left:1954px;
  top:38px;
  width:78px;
  height:30px;
  color:#000000;
}
#u24125 {
  position:absolute;
  left:2px;
  top:7px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u24126 {
  position:absolute;
  left:0px;
  top:68px;
  width:70px;
  height:30px;
  color:#000000;
}
#u24127 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u24128 {
  position:absolute;
  left:70px;
  top:68px;
  width:70px;
  height:30px;
  color:#000000;
}
#u24129 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u24130 {
  position:absolute;
  left:140px;
  top:68px;
  width:70px;
  height:30px;
  color:#000000;
}
#u24131 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u24132 {
  position:absolute;
  left:210px;
  top:68px;
  width:70px;
  height:30px;
  color:#000000;
}
#u24133 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u24134 {
  position:absolute;
  left:280px;
  top:68px;
  width:70px;
  height:30px;
  color:#000000;
}
#u24135 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:30px;
}
#u24136 {
  position:absolute;
  left:350px;
  top:68px;
  width:74px;
  height:30px;
  color:#000000;
}
#u24137 {
  position:absolute;
  left:2px;
  top:7px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
}
#u24138 {
  position:absolute;
  left:424px;
  top:68px;
  width:75px;
  height:30px;
  color:#000000;
}
#u24139 {
  position:absolute;
  left:2px;
  top:7px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:30px;
}
#u24140 {
  position:absolute;
  left:499px;
  top:68px;
  width:74px;
  height:30px;
  color:#000000;
}
#u24141 {
  position:absolute;
  left:2px;
  top:7px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u24142 {
  position:absolute;
  left:573px;
  top:68px;
  width:80px;
  height:30px;
  color:#000000;
}
#u24143 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u24144 {
  position:absolute;
  left:653px;
  top:68px;
  width:70px;
  height:30px;
  color:#000000;
}
#u24145 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:30px;
}
#u24146 {
  position:absolute;
  left:723px;
  top:68px;
  width:117px;
  height:30px;
  color:#000000;
}
#u24147 {
  position:absolute;
  left:2px;
  top:7px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u24148 {
  position:absolute;
  left:840px;
  top:68px;
  width:70px;
  height:30px;
  color:#000000;
}
#u24149 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u24150 {
  position:absolute;
  left:910px;
  top:68px;
  width:70px;
  height:30px;
  color:#000000;
}
#u24151 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u24152 {
  position:absolute;
  left:980px;
  top:68px;
  width:70px;
  height:30px;
  color:#000000;
}
#u24153 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u24154 {
  position:absolute;
  left:1050px;
  top:68px;
  width:70px;
  height:30px;
  color:#000000;
}
#u24155 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:30px;
}
#u24156 {
  position:absolute;
  left:1120px;
  top:68px;
  width:85px;
  height:30px;
  color:#000000;
}
#u24157 {
  position:absolute;
  left:2px;
  top:7px;
  width:81px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
}
#u24158 {
  position:absolute;
  left:1205px;
  top:68px;
  width:75px;
  height:30px;
  color:#000000;
}
#u24159 {
  position:absolute;
  left:2px;
  top:7px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
}
#u24160 {
  position:absolute;
  left:1280px;
  top:68px;
  width:75px;
  height:30px;
  color:#000000;
}
#u24161 {
  position:absolute;
  left:2px;
  top:7px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
}
#u24162 {
  position:absolute;
  left:1355px;
  top:68px;
  width:75px;
  height:30px;
  color:#000000;
}
#u24163 {
  position:absolute;
  left:2px;
  top:7px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:30px;
}
#u24164 {
  position:absolute;
  left:1430px;
  top:68px;
  width:74px;
  height:30px;
  color:#000000;
}
#u24165 {
  position:absolute;
  left:2px;
  top:7px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
}
#u24166 {
  position:absolute;
  left:1504px;
  top:68px;
  width:75px;
  height:30px;
  color:#000000;
}
#u24167 {
  position:absolute;
  left:2px;
  top:7px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
}
#u24168 {
  position:absolute;
  left:1579px;
  top:68px;
  width:75px;
  height:30px;
  color:#000000;
}
#u24169 {
  position:absolute;
  left:2px;
  top:7px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
}
#u24170 {
  position:absolute;
  left:1654px;
  top:68px;
  width:75px;
  height:30px;
  color:#000000;
}
#u24171 {
  position:absolute;
  left:2px;
  top:7px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
}
#u24172 {
  position:absolute;
  left:1729px;
  top:68px;
  width:75px;
  height:30px;
  color:#000000;
}
#u24173 {
  position:absolute;
  left:2px;
  top:7px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
}
#u24174 {
  position:absolute;
  left:1804px;
  top:68px;
  width:75px;
  height:30px;
  color:#000000;
}
#u24175 {
  position:absolute;
  left:2px;
  top:7px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
}
#u24176 {
  position:absolute;
  left:1879px;
  top:68px;
  width:75px;
  height:30px;
  color:#000000;
}
#u24177 {
  position:absolute;
  left:2px;
  top:7px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
}
#u24178 {
  position:absolute;
  left:1954px;
  top:68px;
  width:78px;
  height:30px;
  color:#000000;
}
#u24179 {
  position:absolute;
  left:2px;
  top:7px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u24180 {
  position:absolute;
  left:0px;
  top:98px;
  width:70px;
  height:30px;
  color:#000000;
}
#u24181 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u24182 {
  position:absolute;
  left:70px;
  top:98px;
  width:70px;
  height:30px;
  color:#000000;
}
#u24183 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u24184 {
  position:absolute;
  left:140px;
  top:98px;
  width:70px;
  height:30px;
  color:#000000;
}
#u24185 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u24186 {
  position:absolute;
  left:210px;
  top:98px;
  width:70px;
  height:30px;
  color:#000000;
}
#u24187 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u24188 {
  position:absolute;
  left:280px;
  top:98px;
  width:70px;
  height:30px;
  color:#000000;
}
#u24189 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:30px;
}
#u24190 {
  position:absolute;
  left:350px;
  top:98px;
  width:74px;
  height:30px;
  color:#000000;
}
#u24191 {
  position:absolute;
  left:2px;
  top:7px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
}
#u24192 {
  position:absolute;
  left:424px;
  top:98px;
  width:75px;
  height:30px;
  color:#000000;
}
#u24193 {
  position:absolute;
  left:2px;
  top:7px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:30px;
}
#u24194 {
  position:absolute;
  left:499px;
  top:98px;
  width:74px;
  height:30px;
  color:#000000;
}
#u24195 {
  position:absolute;
  left:2px;
  top:7px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u24196 {
  position:absolute;
  left:573px;
  top:98px;
  width:80px;
  height:30px;
  color:#000000;
}
#u24197 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u24198 {
  position:absolute;
  left:653px;
  top:98px;
  width:70px;
  height:30px;
  color:#000000;
}
#u24199 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:30px;
}
#u24200 {
  position:absolute;
  left:723px;
  top:98px;
  width:117px;
  height:30px;
  color:#000000;
}
#u24201 {
  position:absolute;
  left:2px;
  top:7px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u24202 {
  position:absolute;
  left:840px;
  top:98px;
  width:70px;
  height:30px;
  color:#000000;
}
#u24203 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u24204 {
  position:absolute;
  left:910px;
  top:98px;
  width:70px;
  height:30px;
  color:#000000;
}
#u24205 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u24206 {
  position:absolute;
  left:980px;
  top:98px;
  width:70px;
  height:30px;
  color:#000000;
}
#u24207 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u24208 {
  position:absolute;
  left:1050px;
  top:98px;
  width:70px;
  height:30px;
  color:#000000;
}
#u24209 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:30px;
}
#u24210 {
  position:absolute;
  left:1120px;
  top:98px;
  width:85px;
  height:30px;
  color:#000000;
}
#u24211 {
  position:absolute;
  left:2px;
  top:7px;
  width:81px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
}
#u24212 {
  position:absolute;
  left:1205px;
  top:98px;
  width:75px;
  height:30px;
  color:#000000;
}
#u24213 {
  position:absolute;
  left:2px;
  top:7px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
}
#u24214 {
  position:absolute;
  left:1280px;
  top:98px;
  width:75px;
  height:30px;
  color:#000000;
}
#u24215 {
  position:absolute;
  left:2px;
  top:7px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
}
#u24216 {
  position:absolute;
  left:1355px;
  top:98px;
  width:75px;
  height:30px;
  color:#000000;
}
#u24217 {
  position:absolute;
  left:2px;
  top:7px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:30px;
}
#u24218 {
  position:absolute;
  left:1430px;
  top:98px;
  width:74px;
  height:30px;
  color:#000000;
}
#u24219 {
  position:absolute;
  left:2px;
  top:7px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
}
#u24220 {
  position:absolute;
  left:1504px;
  top:98px;
  width:75px;
  height:30px;
  color:#000000;
}
#u24221 {
  position:absolute;
  left:2px;
  top:7px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
}
#u24222 {
  position:absolute;
  left:1579px;
  top:98px;
  width:75px;
  height:30px;
  color:#000000;
}
#u24223 {
  position:absolute;
  left:2px;
  top:7px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
}
#u24224 {
  position:absolute;
  left:1654px;
  top:98px;
  width:75px;
  height:30px;
  color:#000000;
}
#u24225 {
  position:absolute;
  left:2px;
  top:7px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
}
#u24226 {
  position:absolute;
  left:1729px;
  top:98px;
  width:75px;
  height:30px;
  color:#000000;
}
#u24227 {
  position:absolute;
  left:2px;
  top:7px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
}
#u24228 {
  position:absolute;
  left:1804px;
  top:98px;
  width:75px;
  height:30px;
  color:#000000;
}
#u24229 {
  position:absolute;
  left:2px;
  top:7px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
}
#u24230 {
  position:absolute;
  left:1879px;
  top:98px;
  width:75px;
  height:30px;
  color:#000000;
}
#u24231 {
  position:absolute;
  left:2px;
  top:7px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
}
#u24232 {
  position:absolute;
  left:1954px;
  top:98px;
  width:78px;
  height:30px;
  color:#000000;
}
#u24233 {
  position:absolute;
  left:2px;
  top:7px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:32px;
}
#u24234 {
  position:absolute;
  left:52px;
  top:84px;
  width:154px;
  height:32px;
  color:#FF0000;
}
#u24235 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  white-space:nowrap;
}
#u24236 {
  position:absolute;
  left:52px;
  top:156px;
  width:1005px;
  height:65px;
}
#u24237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u24237 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u24238 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u24239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u24239 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:60px;
}
#u24240 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u24241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u24241 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:60px;
}
#u24242 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u24243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u24243 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:60px;
}
#u24244 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u24245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u24245 {
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:60px;
}
#u24246 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u24247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u24247 {
  position:absolute;
  left:500px;
  top:0px;
  width:100px;
  height:60px;
}
#u24248 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u24249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u24249 {
  position:absolute;
  left:600px;
  top:0px;
  width:100px;
  height:60px;
}
#u24250 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u24251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u24251 {
  position:absolute;
  left:700px;
  top:0px;
  width:100px;
  height:60px;
}
#u24252 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u24253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u24253 {
  position:absolute;
  left:800px;
  top:0px;
  width:100px;
  height:60px;
}
#u24254 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u24255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u24255 {
  position:absolute;
  left:900px;
  top:0px;
  width:100px;
  height:60px;
}
#u24256 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u24257 {
  position:absolute;
  left:52px;
  top:254px;
  width:1005px;
  height:65px;
}
#u24258_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u24258 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u24259 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u24260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u24260 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:60px;
}
#u24261 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u24262_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u24262 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:60px;
}
#u24263 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u24264_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u24264 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:60px;
}
#u24265 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u24266_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u24266 {
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:60px;
}
#u24267 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u24268_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u24268 {
  position:absolute;
  left:500px;
  top:0px;
  width:100px;
  height:60px;
}
#u24269 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u24270_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u24270 {
  position:absolute;
  left:600px;
  top:0px;
  width:100px;
  height:60px;
}
#u24271 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u24272_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u24272 {
  position:absolute;
  left:700px;
  top:0px;
  width:100px;
  height:60px;
}
#u24273 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u24274_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u24274 {
  position:absolute;
  left:800px;
  top:0px;
  width:100px;
  height:60px;
}
#u24275 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u24276_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u24276 {
  position:absolute;
  left:900px;
  top:0px;
  width:100px;
  height:60px;
}
#u24277 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u24278 {
  position:absolute;
  left:52px;
  top:353px;
  width:1005px;
  height:65px;
}
#u24279_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u24279 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u24280 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u24281_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u24281 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:60px;
}
#u24282 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u24283_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u24283 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:60px;
}
#u24284 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u24285_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u24285 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:60px;
}
#u24286 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u24287_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u24287 {
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:60px;
}
#u24288 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u24289_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u24289 {
  position:absolute;
  left:500px;
  top:0px;
  width:100px;
  height:60px;
}
#u24290 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u24291_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u24291 {
  position:absolute;
  left:600px;
  top:0px;
  width:100px;
  height:60px;
}
#u24292 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u24293_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u24293 {
  position:absolute;
  left:700px;
  top:0px;
  width:100px;
  height:60px;
}
#u24294 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u24295_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u24295 {
  position:absolute;
  left:800px;
  top:0px;
  width:100px;
  height:60px;
}
#u24296 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u24297_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u24297 {
  position:absolute;
  left:900px;
  top:0px;
  width:100px;
  height:60px;
}
#u24298 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u24299 {
  position:absolute;
  left:52px;
  top:451px;
  width:505px;
  height:65px;
}
#u24300_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u24300 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u24301 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u24302_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u24302 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:60px;
}
#u24303 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u24304_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u24304 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:60px;
}
#u24305 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u24306_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u24306 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:60px;
}
#u24307 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u24308_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u24308 {
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:60px;
}
#u24309 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u24310_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:32px;
}
#u24310 {
  position:absolute;
  left:53px;
  top:204px;
  width:92px;
  height:32px;
  color:#FF0000;
  text-align:center;
}
#u24311 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u24312_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:32px;
}
#u24312 {
  position:absolute;
  left:661px;
  top:203px;
  width:87px;
  height:32px;
  color:#FF0000;
  text-align:center;
}
#u24313 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u24314_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:32px;
}
#u24314 {
  position:absolute;
  left:506px;
  top:218px;
  width:183px;
  height:32px;
  color:#FF0000;
  text-align:center;
}
#u24315 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u24316_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:32px;
}
#u24316 {
  position:absolute;
  left:473px;
  top:203px;
  width:79px;
  height:32px;
  color:#FF0000;
  text-align:center;
}
#u24317 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u24318_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:32px;
}
#u24318 {
  position:absolute;
  left:71px;
  top:394px;
  width:232px;
  height:32px;
  color:#FF0000;
  text-align:center;
}
#u24319 {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  white-space:nowrap;
}
#u24320_img {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:32px;
}
#u24320 {
  position:absolute;
  left:175px;
  top:413px;
  width:267px;
  height:32px;
  color:#FF0000;
  text-align:center;
}
#u24321 {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  white-space:nowrap;
}
