body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u45092_div {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:759px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u45092 {
  position:absolute;
  left:0px;
  top:109px;
  width:191px;
  height:759px;
}
#u45093 {
  position:absolute;
  left:2px;
  top:372px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45095_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:110px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u45095 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:110px;
}
#u45096 {
  position:absolute;
  left:2px;
  top:47px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45097 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u45098_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
}
#u45098 {
  position:absolute;
  left:1061px;
  top:30px;
  width:129px;
  height:17px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
}
#u45099 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u45100_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
}
#u45100 {
  position:absolute;
  left:1197px;
  top:30px;
  width:39px;
  height:17px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
}
#u45101 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u45102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:11px;
}
#u45102 {
  position:absolute;
  left:1188px;
  top:34px;
  width:1px;
  height:10px;
}
#u45103 {
  position:absolute;
  left:2px;
  top:-3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45104_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Rounded MT Bold';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u45104 {
  position:absolute;
  left:20px;
  top:30px;
  width:144px;
  height:55px;
  font-family:'Arial Rounded MT Bold';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u45105 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u45106 {
  position:absolute;
  left:1025px;
  top:24px;
  width:26px;
  height:30px;
}
#u45106_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:32px;
  height:36px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u45107 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:35px;
}
#u45108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:30px;
}
#u45108 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:30px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
  text-align:center;
}
#u45108_img.selected {
}
#u45108.selected {
}
#u45109 {
  position:absolute;
  left:2px;
  top:6px;
  width:22px;
  word-wrap:break-word;
}
#u45110 {
  position:absolute;
  left:0px;
  top:30px;
  width:88px;
  height:139px;
  visibility:hidden;
}
#u45110_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:94px;
  height:145px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u45111 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:144px;
}
#u45112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:34px;
}
#u45112 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:34px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u45112_img.selected {
}
#u45112.selected {
}
#u45113 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u45114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u45114 {
  position:absolute;
  left:0px;
  top:34px;
  width:88px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u45114_img.selected {
}
#u45114.selected {
}
#u45115 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u45116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u45116 {
  position:absolute;
  left:0px;
  top:69px;
  width:88px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u45116_img.selected {
}
#u45116.selected {
}
#u45117 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u45118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u45118 {
  position:absolute;
  left:0px;
  top:104px;
  width:88px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u45118_img.selected {
}
#u45118.selected {
}
#u45119 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u45120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:25px;
}
#u45120 {
  position:absolute;
  left:396px;
  top:34px;
  width:284px;
  height:25px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
  text-align:left;
}
#u45121 {
  position:absolute;
  left:2px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
#u45123 {
  position:absolute;
  left:11px;
  top:130px;
  width:171px;
  height:385px;
}
#u45123_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:391px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u45124 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:390px;
}
#u45125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:32px;
}
#u45125 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:32px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u45125_img.mouseOver {
}
#u45125.mouseOver {
}
#u45125_img.selected {
}
#u45125.selected {
}
#u45126 {
  position:absolute;
  left:2px;
  top:7px;
  width:167px;
  word-wrap:break-word;
}
#u45127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:38px;
}
#u45127 {
  position:absolute;
  left:0px;
  top:32px;
  width:171px;
  height:38px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u45127_img.mouseOver {
}
#u45127.mouseOver {
}
#u45127_img.selected {
}
#u45127.selected {
}
#u45128 {
  position:absolute;
  left:2px;
  top:10px;
  width:167px;
  word-wrap:break-word;
}
#u45129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u45129 {
  position:absolute;
  left:0px;
  top:70px;
  width:171px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u45129_img.mouseOver {
}
#u45129.mouseOver {
}
#u45129_img.selected {
}
#u45129.selected {
}
#u45130 {
  position:absolute;
  left:2px;
  top:9px;
  width:167px;
  word-wrap:break-word;
}
#u45131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u45131 {
  position:absolute;
  left:0px;
  top:105px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u45131_img.mouseOver {
}
#u45131.mouseOver {
}
#u45131_img.selected {
}
#u45131.selected {
}
#u45132 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u45133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u45133 {
  position:absolute;
  left:0px;
  top:140px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u45133_img.mouseOver {
}
#u45133.mouseOver {
}
#u45133_img.selected {
}
#u45133.selected {
}
#u45134 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u45135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u45135 {
  position:absolute;
  left:0px;
  top:175px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u45135_img.mouseOver {
}
#u45135.mouseOver {
}
#u45135_img.selected {
}
#u45135.selected {
}
#u45136 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u45137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u45137 {
  position:absolute;
  left:0px;
  top:210px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u45137_img.mouseOver {
}
#u45137.mouseOver {
}
#u45137_img.selected {
}
#u45137.selected {
}
#u45138 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u45139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u45139 {
  position:absolute;
  left:0px;
  top:245px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u45139_img.mouseOver {
}
#u45139.mouseOver {
}
#u45139_img.selected {
}
#u45139.selected {
}
#u45140 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u45141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u45141 {
  position:absolute;
  left:0px;
  top:280px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u45141_img.mouseOver {
}
#u45141.mouseOver {
}
#u45141_img.selected {
}
#u45141.selected {
}
#u45142 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u45143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u45143 {
  position:absolute;
  left:0px;
  top:315px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u45143_img.mouseOver {
}
#u45143.mouseOver {
}
#u45143_img.selected {
}
#u45143.selected {
}
#u45144 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u45145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u45145 {
  position:absolute;
  left:0px;
  top:350px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u45145_img.mouseOver {
}
#u45145.mouseOver {
}
#u45145_img.selected {
}
#u45145.selected {
}
#u45146 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u45147 {
  position:absolute;
  left:171px;
  top:245px;
  width:171px;
  height:70px;
  visibility:hidden;
}
#u45147_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:76px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u45148 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:75px;
}
#u45149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u45149 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u45149_img.mouseOver {
}
#u45149.mouseOver {
}
#u45149_img.selected {
}
#u45149.selected {
}
#u45150 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u45151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u45151 {
  position:absolute;
  left:0px;
  top:35px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u45151_img.mouseOver {
}
#u45151.mouseOver {
}
#u45151_img.selected {
}
#u45151.selected {
}
#u45152 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u45153 {
  position:absolute;
  left:171px;
  top:105px;
  width:202px;
  height:74px;
  visibility:hidden;
}
#u45153_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:208px;
  height:80px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u45154 {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:79px;
}
#u45155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:36px;
}
#u45155 {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:36px;
  font-size:15px;
  color:#000000;
  text-align:center;
}
#u45155_img.mouseOver {
}
#u45155.mouseOver {
}
#u45155_img.selected {
}
#u45155.selected {
}
#u45156 {
  position:absolute;
  left:2px;
  top:10px;
  width:198px;
  word-wrap:break-word;
}
#u45157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:38px;
}
#u45157 {
  position:absolute;
  left:0px;
  top:36px;
  width:202px;
  height:38px;
  font-size:15px;
  color:#000000;
  text-align:center;
}
#u45157_img.mouseOver {
}
#u45157.mouseOver {
}
#u45157_img.selected {
}
#u45157.selected {
}
#u45158 {
  position:absolute;
  left:2px;
  top:10px;
  width:198px;
  word-wrap:break-word;
}
#u45159 {
  position:absolute;
  left:171px;
  top:32px;
  width:150px;
  height:175px;
  visibility:hidden;
}
#u45159_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:156px;
  height:181px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u45160 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:180px;
}
#u45161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u45161 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u45161_img.mouseOver {
}
#u45161.mouseOver {
}
#u45161_img.selected {
}
#u45161.selected {
}
#u45162 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u45163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u45163 {
  position:absolute;
  left:0px;
  top:35px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u45163_img.mouseOver {
}
#u45163.mouseOver {
}
#u45163_img.selected {
}
#u45163.selected {
}
#u45164 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u45165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u45165 {
  position:absolute;
  left:0px;
  top:70px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u45165_img.mouseOver {
}
#u45165.mouseOver {
}
#u45165_img.selected {
}
#u45165.selected {
}
#u45166 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u45167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u45167 {
  position:absolute;
  left:0px;
  top:105px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u45167_img.mouseOver {
}
#u45167.mouseOver {
}
#u45167_img.selected {
}
#u45167.selected {
}
#u45168 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u45169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u45169 {
  position:absolute;
  left:0px;
  top:140px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u45169_img.mouseOver {
}
#u45169.mouseOver {
}
#u45169_img.selected {
}
#u45169.selected {
}
#u45170 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u45171 {
  position:absolute;
  left:171px;
  top:70px;
  width:171px;
  height:35px;
  visibility:hidden;
}
#u45171_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:41px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u45172 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
}
#u45173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u45173 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u45173_img.mouseOver {
}
#u45173.mouseOver {
}
#u45173_img.selected {
}
#u45173.selected {
}
#u45174 {
  position:absolute;
  left:2px;
  top:9px;
  width:167px;
  word-wrap:break-word;
}
#u45175 {
  position:absolute;
  left:171px;
  top:280px;
  width:171px;
  height:110px;
  visibility:hidden;
}
#u45175_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:116px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u45176 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:115px;
}
#u45177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u45177 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u45177_img.mouseOver {
}
#u45177.mouseOver {
}
#u45177_img.selected {
}
#u45177.selected {
}
#u45178 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u45179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u45179 {
  position:absolute;
  left:0px;
  top:35px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u45179_img.mouseOver {
}
#u45179.mouseOver {
}
#u45179_img.selected {
}
#u45179.selected {
}
#u45180 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u45181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:40px;
}
#u45181 {
  position:absolute;
  left:0px;
  top:70px;
  width:171px;
  height:40px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u45181_img.mouseOver {
}
#u45181.mouseOver {
}
#u45181_img.selected {
}
#u45181.selected {
}
#u45182 {
  position:absolute;
  left:2px;
  top:11px;
  width:167px;
  word-wrap:break-word;
}
#u45183 {
  position:absolute;
  left:171px;
  top:315px;
  width:169px;
  height:175px;
  visibility:hidden;
}
#u45183_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:175px;
  height:181px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u45184 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:180px;
}
#u45185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u45185 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u45185_img.mouseOver {
}
#u45185.mouseOver {
}
#u45185_img.selected {
}
#u45185.selected {
}
#u45186 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u45187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u45187 {
  position:absolute;
  left:0px;
  top:35px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u45187_img.mouseOver {
}
#u45187.mouseOver {
}
#u45187_img.selected {
}
#u45187.selected {
}
#u45188 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u45189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u45189 {
  position:absolute;
  left:0px;
  top:70px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u45189_img.mouseOver {
}
#u45189.mouseOver {
}
#u45189_img.selected {
}
#u45189.selected {
}
#u45190 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u45191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u45191 {
  position:absolute;
  left:0px;
  top:105px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u45191_img.mouseOver {
}
#u45191.mouseOver {
}
#u45191_img.selected {
}
#u45191.selected {
}
#u45192 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u45193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u45193 {
  position:absolute;
  left:0px;
  top:140px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u45193_img.mouseOver {
}
#u45193.mouseOver {
}
#u45193_img.selected {
}
#u45193.selected {
}
#u45194 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u45195 {
  position:absolute;
  left:171px;
  top:350px;
  width:171px;
  height:35px;
  visibility:hidden;
}
#u45195_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:41px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u45196 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
}
#u45197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u45197 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u45197_img.mouseOver {
}
#u45197.mouseOver {
}
#u45197_img.selected {
}
#u45197.selected {
}
#u45198 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u45199 {
  position:absolute;
  left:171px;
  top:210px;
  width:171px;
  height:35px;
  visibility:hidden;
}
#u45199_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:41px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u45200 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
}
#u45201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u45201 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u45201_img.mouseOver {
}
#u45201.mouseOver {
}
#u45201_img.selected {
}
#u45201.selected {
}
#u45202 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u45203 {
  position:absolute;
  left:171px;
  top:175px;
  width:171px;
  height:70px;
  visibility:hidden;
}
#u45203_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:76px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u45204 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:75px;
}
#u45205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u45205 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u45205_img.mouseOver {
}
#u45205.mouseOver {
}
#u45205_img.selected {
}
#u45205.selected {
}
#u45206 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u45207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u45207 {
  position:absolute;
  left:0px;
  top:35px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u45207_img.mouseOver {
}
#u45207.mouseOver {
}
#u45207_img.selected {
}
#u45207.selected {
}
#u45208 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u45209 {
  position:absolute;
  left:171px;
  top:140px;
  width:171px;
  height:70px;
  visibility:hidden;
}
#u45209_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:76px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u45210 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:75px;
}
#u45211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u45211 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u45211_img.mouseOver {
}
#u45211.mouseOver {
}
#u45211_img.selected {
}
#u45211.selected {
}
#u45212 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u45213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u45213 {
  position:absolute;
  left:0px;
  top:35px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u45213_img.mouseOver {
}
#u45213.mouseOver {
}
#u45213_img.selected {
}
#u45213.selected {
}
#u45214 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u45216_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:90px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u45216 {
  position:absolute;
  left:0px;
  top:850px;
  width:1280px;
  height:90px;
}
#u45217 {
  position:absolute;
  left:2px;
  top:37px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45218_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u45218 {
  position:absolute;
  left:35px;
  top:877px;
  width:94px;
  height:37px;
  color:#FFFFFF;
}
#u45219 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u45220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:38px;
}
#u45220 {
  position:absolute;
  left:1092px;
  top:896px;
  width:180px;
  height:38px;
  font-size:16px;
  color:#FF0000;
}
#u45221 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u45222_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Medium', 'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
}
#u45222 {
  position:absolute;
  left:220px;
  top:150px;
  width:161px;
  height:38px;
  font-family:'STHeitiTC-Medium', 'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
}
#u45223 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u45224 {
  position:absolute;
  left:220px;
  top:240px;
  width:859px;
  height:124px;
}
#u45225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:40px;
}
#u45225 {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u45226 {
  position:absolute;
  left:10px;
  top:12px;
  width:155px;
  word-wrap:break-word;
}
#u45227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:40px;
}
#u45227 {
  position:absolute;
  left:167px;
  top:0px;
  width:233px;
  height:40px;
  font-size:15px;
  color:#666666;
}
#u45228 {
  position:absolute;
  left:10px;
  top:12px;
  width:221px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u45229 {
  position:absolute;
  left:400px;
  top:0px;
  width:200px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u45230 {
  position:absolute;
  left:10px;
  top:12px;
  width:188px;
  word-wrap:break-word;
}
#u45231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:40px;
}
#u45231 {
  position:absolute;
  left:600px;
  top:0px;
  width:254px;
  height:40px;
  font-size:15px;
  color:#666666;
}
#u45232 {
  position:absolute;
  left:10px;
  top:12px;
  width:242px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:79px;
}
#u45233 {
  position:absolute;
  left:0px;
  top:40px;
  width:167px;
  height:79px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u45234 {
  position:absolute;
  left:10px;
  top:31px;
  width:155px;
  word-wrap:break-word;
}
#u45235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:79px;
}
#u45235 {
  position:absolute;
  left:167px;
  top:40px;
  width:233px;
  height:79px;
}
#u45236 {
  position:absolute;
  left:10px;
  top:32px;
  width:221px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:79px;
}
#u45237 {
  position:absolute;
  left:400px;
  top:40px;
  width:200px;
  height:79px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u45238 {
  position:absolute;
  left:10px;
  top:31px;
  width:188px;
  word-wrap:break-word;
}
#u45239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:79px;
}
#u45239 {
  position:absolute;
  left:600px;
  top:40px;
  width:254px;
  height:79px;
}
#u45240 {
  position:absolute;
  left:10px;
  top:32px;
  width:242px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45241_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u45241 {
  position:absolute;
  left:660px;
  top:675px;
  width:100px;
  height:30px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u45241_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u45241.mouseOver {
}
#u45242 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u45243_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u45243 {
  position:absolute;
  left:534px;
  top:675px;
  width:100px;
  height:30px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u45243_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u45243.mouseOver {
}
#u45244 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u45245_div {
  position:absolute;
  left:0px;
  top:0px;
  width:854px;
  height:40px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u45245 {
  position:absolute;
  left:220px;
  top:200px;
  width:854px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u45246 {
  position:absolute;
  left:10px;
  top:10px;
  width:842px;
  word-wrap:break-word;
}
#u45247 {
  position:absolute;
  left:405px;
  top:303px;
  width:194px;
  height:30px;
}
#u45247_input {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u45248 {
  position:absolute;
  left:852px;
  top:246px;
  width:194px;
  height:30px;
}
#u45248_input {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u45249 {
  position:absolute;
  left:405px;
  top:246px;
  width:194px;
  height:30px;
}
#u45249_input {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u45250 {
  position:absolute;
  left:852px;
  top:293px;
  width:194px;
  height:50px;
}
#u45250_input {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:50px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u45251_div {
  position:absolute;
  left:0px;
  top:0px;
  width:854px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u45251 {
  position:absolute;
  left:220px;
  top:561px;
  width:854px;
  height:40px;
}
#u45252 {
  position:absolute;
  left:2px;
  top:12px;
  width:850px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45253_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u45253 {
  position:absolute;
  left:229px;
  top:566px;
  width:71px;
  height:30px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u45253_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:30px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u45253.mouseOver {
}
#u45254 {
  position:absolute;
  left:2px;
  top:6px;
  width:67px;
  word-wrap:break-word;
}
#u45255 {
  position:absolute;
  left:220px;
  top:486px;
  width:859px;
  height:81px;
}
#u45256_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:36px;
}
#u45256 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:36px;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u45257 {
  position:absolute;
  left:2px;
  top:10px;
  width:189px;
  word-wrap:break-word;
}
#u45258_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:36px;
}
#u45258 {
  position:absolute;
  left:193px;
  top:0px;
  width:116px;
  height:36px;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u45259 {
  position:absolute;
  left:2px;
  top:10px;
  width:112px;
  word-wrap:break-word;
}
#u45260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:36px;
}
#u45260 {
  position:absolute;
  left:309px;
  top:0px;
  width:215px;
  height:36px;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u45261 {
  position:absolute;
  left:2px;
  top:10px;
  width:211px;
  word-wrap:break-word;
}
#u45262_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:36px;
}
#u45262 {
  position:absolute;
  left:524px;
  top:0px;
  width:157px;
  height:36px;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u45263 {
  position:absolute;
  left:2px;
  top:10px;
  width:153px;
  word-wrap:break-word;
}
#u45264_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:36px;
}
#u45264 {
  position:absolute;
  left:681px;
  top:0px;
  width:173px;
  height:36px;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u45265 {
  position:absolute;
  left:2px;
  top:10px;
  width:169px;
  word-wrap:break-word;
}
#u45266_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:40px;
}
#u45266 {
  position:absolute;
  left:0px;
  top:36px;
  width:193px;
  height:40px;
  color:#000000;
}
#u45267 {
  position:absolute;
  left:2px;
  top:12px;
  width:189px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45268_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:40px;
}
#u45268 {
  position:absolute;
  left:193px;
  top:36px;
  width:116px;
  height:40px;
  font-size:14px;
}
#u45269 {
  position:absolute;
  left:2px;
  top:12px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45270_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:40px;
}
#u45270 {
  position:absolute;
  left:309px;
  top:36px;
  width:215px;
  height:40px;
  font-size:14px;
}
#u45271 {
  position:absolute;
  left:2px;
  top:12px;
  width:211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45272_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:40px;
}
#u45272 {
  position:absolute;
  left:524px;
  top:36px;
  width:157px;
  height:40px;
  font-size:14px;
}
#u45273 {
  position:absolute;
  left:2px;
  top:12px;
  width:153px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45274_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:40px;
}
#u45274 {
  position:absolute;
  left:681px;
  top:36px;
  width:173px;
  height:40px;
}
#u45275 {
  position:absolute;
  left:2px;
  top:12px;
  width:169px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45276_div {
  position:absolute;
  left:0px;
  top:0px;
  width:854px;
  height:40px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u45276 {
  position:absolute;
  left:220px;
  top:447px;
  width:854px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u45277 {
  position:absolute;
  left:10px;
  top:10px;
  width:842px;
  word-wrap:break-word;
}
#u45278 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u45279 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u45280_div {
  position:absolute;
  left:0px;
  top:0px;
  width:854px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u45280 {
  position:absolute;
  left:220px;
  top:566px;
  width:854px;
  height:47px;
}
#u45281 {
  position:absolute;
  left:2px;
  top:16px;
  width:850px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45282_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u45282 {
  position:absolute;
  left:657px;
  top:577px;
  width:100px;
  height:30px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u45282_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u45282.mouseOver {
}
#u45283 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u45284_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u45284 {
  position:absolute;
  left:538px;
  top:577px;
  width:100px;
  height:30px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u45284_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u45284.mouseOver {
}
#u45285 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u45286 {
  position:absolute;
  left:220px;
  top:437px;
  width:859px;
  height:135px;
}
#u45287_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:40px;
}
#u45287 {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u45288 {
  position:absolute;
  left:10px;
  top:12px;
  width:155px;
  word-wrap:break-word;
}
#u45289_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:40px;
}
#u45289 {
  position:absolute;
  left:167px;
  top:0px;
  width:233px;
  height:40px;
}
#u45290 {
  position:absolute;
  left:10px;
  top:12px;
  width:221px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45291_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u45291 {
  position:absolute;
  left:400px;
  top:0px;
  width:200px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u45292 {
  position:absolute;
  left:10px;
  top:12px;
  width:188px;
  word-wrap:break-word;
}
#u45293_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:40px;
}
#u45293 {
  position:absolute;
  left:600px;
  top:0px;
  width:254px;
  height:40px;
  font-size:14px;
}
#u45294 {
  position:absolute;
  left:10px;
  top:12px;
  width:242px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45295_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:40px;
}
#u45295 {
  position:absolute;
  left:0px;
  top:40px;
  width:167px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u45296 {
  position:absolute;
  left:10px;
  top:12px;
  width:155px;
  word-wrap:break-word;
}
#u45297_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:40px;
}
#u45297 {
  position:absolute;
  left:167px;
  top:40px;
  width:233px;
  height:40px;
  font-size:14px;
}
#u45298 {
  position:absolute;
  left:10px;
  top:12px;
  width:221px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45299_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u45299 {
  position:absolute;
  left:400px;
  top:40px;
  width:200px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u45300 {
  position:absolute;
  left:10px;
  top:12px;
  width:188px;
  word-wrap:break-word;
}
#u45301_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:40px;
}
#u45301 {
  position:absolute;
  left:600px;
  top:40px;
  width:254px;
  height:40px;
  font-size:14px;
}
#u45302 {
  position:absolute;
  left:10px;
  top:12px;
  width:242px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45303_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:50px;
}
#u45303 {
  position:absolute;
  left:0px;
  top:80px;
  width:167px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u45304 {
  position:absolute;
  left:10px;
  top:16px;
  width:155px;
  word-wrap:break-word;
}
#u45305_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:50px;
}
#u45305 {
  position:absolute;
  left:167px;
  top:80px;
  width:233px;
  height:50px;
  font-size:14px;
}
#u45306 {
  position:absolute;
  left:10px;
  top:17px;
  width:221px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45307_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u45307 {
  position:absolute;
  left:400px;
  top:80px;
  width:200px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u45308 {
  position:absolute;
  left:10px;
  top:17px;
  width:188px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45309_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:50px;
}
#u45309 {
  position:absolute;
  left:600px;
  top:80px;
  width:254px;
  height:50px;
  font-size:14px;
}
#u45310 {
  position:absolute;
  left:10px;
  top:17px;
  width:242px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45311_div {
  position:absolute;
  left:0px;
  top:0px;
  width:854px;
  height:40px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u45311 {
  position:absolute;
  left:220px;
  top:397px;
  width:854px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u45312 {
  position:absolute;
  left:10px;
  top:10px;
  width:842px;
  word-wrap:break-word;
}
#u45313 {
  position:absolute;
  left:405px;
  top:484px;
  width:203px;
  height:25px;
}
#u45313_input {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u45314 {
  position:absolute;
  left:844px;
  top:484px;
  width:203px;
  height:25px;
}
#u45314_input {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u45315 {
  position:absolute;
  left:405px;
  top:526px;
  width:203px;
  height:36px;
}
#u45315_input {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:36px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u45316 {
  position:absolute;
  left:844px;
  top:444px;
  width:203px;
  height:25px;
}
#u45316_input {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u45317 {
  position:absolute;
  left:405px;
  top:444px;
  width:203px;
  height:25px;
}
#u45317_input {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u45318_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:16px;
}
#u45318 {
  position:absolute;
  left:312px;
  top:409px;
  width:136px;
  height:16px;
  color:#FF0000;
}
#u45319 {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  white-space:nowrap;
}
#u45320 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u45321_div {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:136px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u45321 {
  position:absolute;
  left:506px;
  top:486px;
  width:308px;
  height:136px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u45322 {
  position:absolute;
  left:20px;
  top:20px;
  width:286px;
  word-wrap:break-word;
}
#u45323 {
  position:absolute;
  left:723px;
  top:568px;
  width:75px;
  height:25px;
}
#u45323_input {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u45324 {
  position:absolute;
  left:622px;
  top:568px;
  width:75px;
  height:25px;
}
#u45324_input {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
