body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5691_div {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:839px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5691 {
  position:absolute;
  left:0px;
  top:109px;
  width:191px;
  height:839px;
}
#u5692 {
  position:absolute;
  left:2px;
  top:412px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5694_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:110px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5694 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:110px;
}
#u5695 {
  position:absolute;
  left:2px;
  top:47px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5696 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5697_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
}
#u5697 {
  position:absolute;
  left:1061px;
  top:30px;
  width:129px;
  height:17px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
}
#u5698 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u5699_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
}
#u5699 {
  position:absolute;
  left:1197px;
  top:30px;
  width:39px;
  height:17px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
}
#u5700 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u5701_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:11px;
}
#u5701 {
  position:absolute;
  left:1188px;
  top:34px;
  width:1px;
  height:10px;
}
#u5702 {
  position:absolute;
  left:2px;
  top:-3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5703_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Rounded MT Bold';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u5703 {
  position:absolute;
  left:20px;
  top:30px;
  width:144px;
  height:55px;
  font-family:'Arial Rounded MT Bold';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u5704 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u5705 {
  position:absolute;
  left:1025px;
  top:24px;
  width:26px;
  height:30px;
}
#u5705_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:32px;
  height:36px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u5706 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:35px;
}
#u5707_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:30px;
}
#u5707 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:30px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
  text-align:center;
}
#u5707_img.selected {
}
#u5707.selected {
}
#u5708 {
  position:absolute;
  left:2px;
  top:6px;
  width:22px;
  word-wrap:break-word;
}
#u5709 {
  position:absolute;
  left:0px;
  top:30px;
  width:88px;
  height:139px;
  visibility:hidden;
}
#u5709_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:94px;
  height:145px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u5710 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:144px;
}
#u5711_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:34px;
}
#u5711 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:34px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u5711_img.selected {
}
#u5711.selected {
}
#u5712 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u5713_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u5713 {
  position:absolute;
  left:0px;
  top:34px;
  width:88px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u5713_img.selected {
}
#u5713.selected {
}
#u5714 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u5715_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u5715 {
  position:absolute;
  left:0px;
  top:69px;
  width:88px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u5715_img.selected {
}
#u5715.selected {
}
#u5716 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u5717_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u5717 {
  position:absolute;
  left:0px;
  top:104px;
  width:88px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u5717_img.selected {
}
#u5717.selected {
}
#u5718 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u5719_img {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:25px;
}
#u5719 {
  position:absolute;
  left:396px;
  top:34px;
  width:284px;
  height:25px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
  text-align:left;
}
#u5720 {
  position:absolute;
  left:2px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
#u5722 {
  position:absolute;
  left:11px;
  top:130px;
  width:171px;
  height:385px;
}
#u5722_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:391px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u5723 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:390px;
}
#u5724_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:32px;
}
#u5724 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:32px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u5724_img.mouseOver {
}
#u5724.mouseOver {
}
#u5724_img.selected {
}
#u5724.selected {
}
#u5725 {
  position:absolute;
  left:2px;
  top:7px;
  width:167px;
  word-wrap:break-word;
}
#u5726_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:38px;
}
#u5726 {
  position:absolute;
  left:0px;
  top:32px;
  width:171px;
  height:38px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u5726_img.mouseOver {
}
#u5726.mouseOver {
}
#u5726_img.selected {
}
#u5726.selected {
}
#u5727 {
  position:absolute;
  left:2px;
  top:10px;
  width:167px;
  word-wrap:break-word;
}
#u5728_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u5728 {
  position:absolute;
  left:0px;
  top:70px;
  width:171px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u5728_img.mouseOver {
}
#u5728.mouseOver {
}
#u5728_img.selected {
}
#u5728.selected {
}
#u5729 {
  position:absolute;
  left:2px;
  top:9px;
  width:167px;
  word-wrap:break-word;
}
#u5730_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u5730 {
  position:absolute;
  left:0px;
  top:105px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u5730_img.mouseOver {
}
#u5730.mouseOver {
}
#u5730_img.selected {
}
#u5730.selected {
}
#u5731 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u5732_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u5732 {
  position:absolute;
  left:0px;
  top:140px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u5732_img.mouseOver {
}
#u5732.mouseOver {
}
#u5732_img.selected {
}
#u5732.selected {
}
#u5733 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u5734_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u5734 {
  position:absolute;
  left:0px;
  top:175px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u5734_img.mouseOver {
}
#u5734.mouseOver {
}
#u5734_img.selected {
}
#u5734.selected {
}
#u5735 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u5736_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u5736 {
  position:absolute;
  left:0px;
  top:210px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u5736_img.mouseOver {
}
#u5736.mouseOver {
}
#u5736_img.selected {
}
#u5736.selected {
}
#u5737 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u5738_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u5738 {
  position:absolute;
  left:0px;
  top:245px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u5738_img.mouseOver {
}
#u5738.mouseOver {
}
#u5738_img.selected {
}
#u5738.selected {
}
#u5739 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u5740_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u5740 {
  position:absolute;
  left:0px;
  top:280px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u5740_img.mouseOver {
}
#u5740.mouseOver {
}
#u5740_img.selected {
}
#u5740.selected {
}
#u5741 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u5742_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u5742 {
  position:absolute;
  left:0px;
  top:315px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u5742_img.mouseOver {
}
#u5742.mouseOver {
}
#u5742_img.selected {
}
#u5742.selected {
}
#u5743 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u5744_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u5744 {
  position:absolute;
  left:0px;
  top:350px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u5744_img.mouseOver {
}
#u5744.mouseOver {
}
#u5744_img.selected {
}
#u5744.selected {
}
#u5745 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u5746 {
  position:absolute;
  left:171px;
  top:245px;
  width:171px;
  height:70px;
  visibility:hidden;
}
#u5746_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:76px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u5747 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:75px;
}
#u5748_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u5748 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u5748_img.mouseOver {
}
#u5748.mouseOver {
}
#u5748_img.selected {
}
#u5748.selected {
}
#u5749 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u5750_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u5750 {
  position:absolute;
  left:0px;
  top:35px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u5750_img.mouseOver {
}
#u5750.mouseOver {
}
#u5750_img.selected {
}
#u5750.selected {
}
#u5751 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u5752 {
  position:absolute;
  left:171px;
  top:105px;
  width:202px;
  height:74px;
  visibility:hidden;
}
#u5752_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:208px;
  height:80px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u5753 {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:79px;
}
#u5754_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:36px;
}
#u5754 {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:36px;
  font-size:15px;
  color:#000000;
  text-align:center;
}
#u5754_img.mouseOver {
}
#u5754.mouseOver {
}
#u5754_img.selected {
}
#u5754.selected {
}
#u5755 {
  position:absolute;
  left:2px;
  top:10px;
  width:198px;
  word-wrap:break-word;
}
#u5756_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:38px;
}
#u5756 {
  position:absolute;
  left:0px;
  top:36px;
  width:202px;
  height:38px;
  font-size:15px;
  color:#000000;
  text-align:center;
}
#u5756_img.mouseOver {
}
#u5756.mouseOver {
}
#u5756_img.selected {
}
#u5756.selected {
}
#u5757 {
  position:absolute;
  left:2px;
  top:10px;
  width:198px;
  word-wrap:break-word;
}
#u5758 {
  position:absolute;
  left:171px;
  top:32px;
  width:150px;
  height:175px;
  visibility:hidden;
}
#u5758_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:156px;
  height:181px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u5759 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:180px;
}
#u5760_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u5760 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u5760_img.mouseOver {
}
#u5760.mouseOver {
}
#u5760_img.selected {
}
#u5760.selected {
}
#u5761 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u5762_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u5762 {
  position:absolute;
  left:0px;
  top:35px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u5762_img.mouseOver {
}
#u5762.mouseOver {
}
#u5762_img.selected {
}
#u5762.selected {
}
#u5763 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u5764_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u5764 {
  position:absolute;
  left:0px;
  top:70px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u5764_img.mouseOver {
}
#u5764.mouseOver {
}
#u5764_img.selected {
}
#u5764.selected {
}
#u5765 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u5766_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u5766 {
  position:absolute;
  left:0px;
  top:105px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u5766_img.mouseOver {
}
#u5766.mouseOver {
}
#u5766_img.selected {
}
#u5766.selected {
}
#u5767 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u5768_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u5768 {
  position:absolute;
  left:0px;
  top:140px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u5768_img.mouseOver {
}
#u5768.mouseOver {
}
#u5768_img.selected {
}
#u5768.selected {
}
#u5769 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u5770 {
  position:absolute;
  left:171px;
  top:70px;
  width:171px;
  height:35px;
  visibility:hidden;
}
#u5770_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:41px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u5771 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
}
#u5772_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u5772 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u5772_img.mouseOver {
}
#u5772.mouseOver {
}
#u5772_img.selected {
}
#u5772.selected {
}
#u5773 {
  position:absolute;
  left:2px;
  top:9px;
  width:167px;
  word-wrap:break-word;
}
#u5774 {
  position:absolute;
  left:171px;
  top:280px;
  width:171px;
  height:110px;
  visibility:hidden;
}
#u5774_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:116px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u5775 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:115px;
}
#u5776_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u5776 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u5776_img.mouseOver {
}
#u5776.mouseOver {
}
#u5776_img.selected {
}
#u5776.selected {
}
#u5777 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u5778_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u5778 {
  position:absolute;
  left:0px;
  top:35px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u5778_img.mouseOver {
}
#u5778.mouseOver {
}
#u5778_img.selected {
}
#u5778.selected {
}
#u5779 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u5780_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:40px;
}
#u5780 {
  position:absolute;
  left:0px;
  top:70px;
  width:171px;
  height:40px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u5780_img.mouseOver {
}
#u5780.mouseOver {
}
#u5780_img.selected {
}
#u5780.selected {
}
#u5781 {
  position:absolute;
  left:2px;
  top:11px;
  width:167px;
  word-wrap:break-word;
}
#u5782 {
  position:absolute;
  left:171px;
  top:315px;
  width:169px;
  height:175px;
  visibility:hidden;
}
#u5782_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:175px;
  height:181px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u5783 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:180px;
}
#u5784_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u5784 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u5784_img.mouseOver {
}
#u5784.mouseOver {
}
#u5784_img.selected {
}
#u5784.selected {
}
#u5785 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u5786_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u5786 {
  position:absolute;
  left:0px;
  top:35px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u5786_img.mouseOver {
}
#u5786.mouseOver {
}
#u5786_img.selected {
}
#u5786.selected {
}
#u5787 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u5788_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u5788 {
  position:absolute;
  left:0px;
  top:70px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u5788_img.mouseOver {
}
#u5788.mouseOver {
}
#u5788_img.selected {
}
#u5788.selected {
}
#u5789 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u5790_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u5790 {
  position:absolute;
  left:0px;
  top:105px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u5790_img.mouseOver {
}
#u5790.mouseOver {
}
#u5790_img.selected {
}
#u5790.selected {
}
#u5791 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u5792_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u5792 {
  position:absolute;
  left:0px;
  top:140px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u5792_img.mouseOver {
}
#u5792.mouseOver {
}
#u5792_img.selected {
}
#u5792.selected {
}
#u5793 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u5794 {
  position:absolute;
  left:171px;
  top:350px;
  width:171px;
  height:35px;
  visibility:hidden;
}
#u5794_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:41px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u5795 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
}
#u5796_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u5796 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u5796_img.mouseOver {
}
#u5796.mouseOver {
}
#u5796_img.selected {
}
#u5796.selected {
}
#u5797 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u5798 {
  position:absolute;
  left:171px;
  top:210px;
  width:171px;
  height:35px;
  visibility:hidden;
}
#u5798_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:41px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u5799 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
}
#u5800_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u5800 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u5800_img.mouseOver {
}
#u5800.mouseOver {
}
#u5800_img.selected {
}
#u5800.selected {
}
#u5801 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u5802 {
  position:absolute;
  left:171px;
  top:175px;
  width:171px;
  height:70px;
  visibility:hidden;
}
#u5802_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:76px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u5803 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:75px;
}
#u5804_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u5804 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u5804_img.mouseOver {
}
#u5804.mouseOver {
}
#u5804_img.selected {
}
#u5804.selected {
}
#u5805 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u5806_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u5806 {
  position:absolute;
  left:0px;
  top:35px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u5806_img.mouseOver {
}
#u5806.mouseOver {
}
#u5806_img.selected {
}
#u5806.selected {
}
#u5807 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u5808 {
  position:absolute;
  left:171px;
  top:140px;
  width:171px;
  height:70px;
  visibility:hidden;
}
#u5808_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:76px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u5809 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:75px;
}
#u5810_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u5810 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u5810_img.mouseOver {
}
#u5810.mouseOver {
}
#u5810_img.selected {
}
#u5810.selected {
}
#u5811 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u5812_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u5812 {
  position:absolute;
  left:0px;
  top:35px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u5812_img.mouseOver {
}
#u5812.mouseOver {
}
#u5812_img.selected {
}
#u5812.selected {
}
#u5813 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u5815_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:90px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5815 {
  position:absolute;
  left:0px;
  top:926px;
  width:1280px;
  height:90px;
}
#u5816 {
  position:absolute;
  left:2px;
  top:37px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5817_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5817 {
  position:absolute;
  left:35px;
  top:953px;
  width:94px;
  height:37px;
  color:#FFFFFF;
}
#u5818 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u5819_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:38px;
}
#u5819 {
  position:absolute;
  left:1092px;
  top:972px;
  width:180px;
  height:38px;
  font-size:16px;
  color:#FF0000;
}
#u5820 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u5821_div {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Medium', 'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
}
#u5821 {
  position:absolute;
  left:220px;
  top:150px;
  width:322px;
  height:38px;
  font-family:'STHeitiTC-Medium', 'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
}
#u5822 {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  white-space:nowrap;
}
#u5823 {
  position:absolute;
  left:220px;
  top:200px;
  width:555px;
  height:125px;
}
#u5824_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:40px;
}
#u5824 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u5825 {
  position:absolute;
  left:10px;
  top:12px;
  width:129px;
  word-wrap:break-word;
}
#u5826_img {
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  height:40px;
}
#u5826 {
  position:absolute;
  left:141px;
  top:0px;
  width:409px;
  height:40px;
  font-size:15px;
  text-align:center;
}
#u5827 {
  position:absolute;
  left:10px;
  top:12px;
  width:397px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5828_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:40px;
}
#u5828 {
  position:absolute;
  left:0px;
  top:40px;
  width:141px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u5829 {
  position:absolute;
  left:10px;
  top:12px;
  width:129px;
  word-wrap:break-word;
}
#u5830_img {
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  height:40px;
}
#u5830 {
  position:absolute;
  left:141px;
  top:40px;
  width:409px;
  height:40px;
  font-size:15px;
  text-align:center;
}
#u5831 {
  position:absolute;
  left:10px;
  top:12px;
  width:397px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5832_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:40px;
}
#u5832 {
  position:absolute;
  left:0px;
  top:80px;
  width:141px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u5833 {
  position:absolute;
  left:10px;
  top:12px;
  width:129px;
  word-wrap:break-word;
}
#u5834_img {
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  height:40px;
}
#u5834 {
  position:absolute;
  left:141px;
  top:80px;
  width:409px;
  height:40px;
  font-size:15px;
  text-align:center;
}
#u5835 {
  position:absolute;
  left:10px;
  top:12px;
  width:397px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5836 {
  position:absolute;
  left:370px;
  top:246px;
  width:384px;
  height:30px;
}
#u5836_input {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5837_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(204, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u5837 {
  position:absolute;
  left:531px;
  top:405px;
  width:100px;
  height:30px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u5837_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u5837.mouseOver {
}
#u5838 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u5839 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5840 {
  position:absolute;
  left:370px;
  top:206px;
  width:162px;
  height:30px;
}
#u5840_input {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u5841 {
  position:absolute;
  left:556px;
  top:206px;
  width:198px;
  height:30px;
}
#u5841_input {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u5842_div {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5842 {
  position:absolute;
  left:539px;
  top:214px;
  width:10px;
  height:19px;
  font-size:16px;
}
#u5843 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  white-space:nowrap;
}
#u5844 {
  position:absolute;
  left:370px;
  top:286px;
  width:384px;
  height:25px;
}
#u5844_input {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5845_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:16px;
}
#u5845 {
  position:absolute;
  left:810px;
  top:291px;
  width:151px;
  height:16px;
  color:#FF0000;
  text-align:center;
}
#u5846 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  word-wrap:break-word;
}
#u5847 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5848_div {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:136px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u5848 {
  position:absolute;
  left:359px;
  top:246px;
  width:308px;
  height:136px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u5849 {
  position:absolute;
  left:20px;
  top:20px;
  width:286px;
  word-wrap:break-word;
}
#u5850 {
  position:absolute;
  left:576px;
  top:328px;
  width:75px;
  height:25px;
}
#u5850_input {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u5851 {
  position:absolute;
  left:475px;
  top:328px;
  width:75px;
  height:25px;
}
#u5851_input {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u5852_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u5852 {
  position:absolute;
  left:412px;
  top:405px;
  width:100px;
  height:30px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u5852_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u5852.mouseOver {
}
#u5853 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
