body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1374px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u64700 {
  position:absolute;
  left:52px;
  top:136px;
  width:1327px;
  height:41px;
}
#u64701_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:36px;
}
#u64701 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:36px;
  color:#000000;
  text-align:center;
}
#u64702 {
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  word-wrap:break-word;
}
#u64703_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:36px;
}
#u64703 {
  position:absolute;
  left:90px;
  top:0px;
  width:80px;
  height:36px;
  color:#000000;
  text-align:center;
}
#u64704 {
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u64705_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:36px;
}
#u64705 {
  position:absolute;
  left:170px;
  top:0px;
  width:102px;
  height:36px;
  color:#000000;
  text-align:center;
}
#u64706 {
  position:absolute;
  left:2px;
  top:10px;
  width:98px;
  word-wrap:break-word;
}
#u64707_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:36px;
}
#u64707 {
  position:absolute;
  left:272px;
  top:0px;
  width:90px;
  height:36px;
  color:#000000;
  text-align:center;
}
#u64708 {
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  word-wrap:break-word;
}
#u64709_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:36px;
}
#u64709 {
  position:absolute;
  left:362px;
  top:0px;
  width:90px;
  height:36px;
  color:#000000;
  text-align:center;
}
#u64710 {
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  word-wrap:break-word;
}
#u64711_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:36px;
}
#u64711 {
  position:absolute;
  left:452px;
  top:0px;
  width:102px;
  height:36px;
  color:#000000;
  text-align:center;
}
#u64712 {
  position:absolute;
  left:2px;
  top:10px;
  width:98px;
  word-wrap:break-word;
}
#u64713_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:36px;
}
#u64713 {
  position:absolute;
  left:554px;
  top:0px;
  width:85px;
  height:36px;
  color:#000000;
  text-align:center;
}
#u64714 {
  position:absolute;
  left:2px;
  top:10px;
  width:81px;
  word-wrap:break-word;
}
#u64715_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:36px;
}
#u64715 {
  position:absolute;
  left:639px;
  top:0px;
  width:110px;
  height:36px;
  color:#000000;
  text-align:center;
}
#u64716 {
  position:absolute;
  left:2px;
  top:10px;
  width:106px;
  word-wrap:break-word;
}
#u64717_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:36px;
}
#u64717 {
  position:absolute;
  left:749px;
  top:0px;
  width:122px;
  height:36px;
  color:#000000;
  text-align:center;
}
#u64718 {
  position:absolute;
  left:2px;
  top:2px;
  width:118px;
  word-wrap:break-word;
}
#u64719_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:36px;
}
#u64719 {
  position:absolute;
  left:871px;
  top:0px;
  width:90px;
  height:36px;
  color:#000000;
  text-align:center;
}
#u64720 {
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  word-wrap:break-word;
}
#u64721_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:36px;
}
#u64721 {
  position:absolute;
  left:961px;
  top:0px;
  width:120px;
  height:36px;
  color:#000000;
  text-align:center;
}
#u64722 {
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
#u64723_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:36px;
}
#u64723 {
  position:absolute;
  left:1081px;
  top:0px;
  width:122px;
  height:36px;
  color:#000000;
  text-align:center;
}
#u64724 {
  position:absolute;
  left:2px;
  top:10px;
  width:118px;
  word-wrap:break-word;
}
#u64725_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:36px;
}
#u64725 {
  position:absolute;
  left:1203px;
  top:0px;
  width:119px;
  height:36px;
  color:#000000;
  text-align:center;
}
#u64726 {
  position:absolute;
  left:2px;
  top:2px;
  width:115px;
  word-wrap:break-word;
}
#u64727_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:48px;
}
#u64727 {
  position:absolute;
  left:52px;
  top:62px;
  width:167px;
  height:48px;
  color:#FF0000;
}
#u64728 {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  white-space:nowrap;
}
