body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1374px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u45867 {
  position:absolute;
  left:52px;
  top:136px;
  width:1327px;
  height:41px;
}
#u45868_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:36px;
}
#u45868 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:36px;
  color:#000000;
  text-align:center;
}
#u45869 {
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  word-wrap:break-word;
}
#u45870_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:36px;
}
#u45870 {
  position:absolute;
  left:90px;
  top:0px;
  width:80px;
  height:36px;
  color:#000000;
  text-align:center;
}
#u45871 {
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u45872_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:36px;
}
#u45872 {
  position:absolute;
  left:170px;
  top:0px;
  width:102px;
  height:36px;
  color:#000000;
  text-align:center;
}
#u45873 {
  position:absolute;
  left:2px;
  top:10px;
  width:98px;
  word-wrap:break-word;
}
#u45874_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:36px;
}
#u45874 {
  position:absolute;
  left:272px;
  top:0px;
  width:90px;
  height:36px;
  color:#000000;
  text-align:center;
}
#u45875 {
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  word-wrap:break-word;
}
#u45876_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:36px;
}
#u45876 {
  position:absolute;
  left:362px;
  top:0px;
  width:90px;
  height:36px;
  color:#000000;
  text-align:center;
}
#u45877 {
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  word-wrap:break-word;
}
#u45878_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:36px;
}
#u45878 {
  position:absolute;
  left:452px;
  top:0px;
  width:102px;
  height:36px;
  color:#000000;
  text-align:center;
}
#u45879 {
  position:absolute;
  left:2px;
  top:10px;
  width:98px;
  word-wrap:break-word;
}
#u45880_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:36px;
}
#u45880 {
  position:absolute;
  left:554px;
  top:0px;
  width:85px;
  height:36px;
  color:#000000;
  text-align:center;
}
#u45881 {
  position:absolute;
  left:2px;
  top:10px;
  width:81px;
  word-wrap:break-word;
}
#u45882_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:36px;
}
#u45882 {
  position:absolute;
  left:639px;
  top:0px;
  width:110px;
  height:36px;
  color:#000000;
  text-align:center;
}
#u45883 {
  position:absolute;
  left:2px;
  top:10px;
  width:106px;
  word-wrap:break-word;
}
#u45884_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:36px;
}
#u45884 {
  position:absolute;
  left:749px;
  top:0px;
  width:122px;
  height:36px;
  color:#000000;
  text-align:center;
}
#u45885 {
  position:absolute;
  left:2px;
  top:2px;
  width:118px;
  word-wrap:break-word;
}
#u45886_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:36px;
}
#u45886 {
  position:absolute;
  left:871px;
  top:0px;
  width:90px;
  height:36px;
  color:#000000;
  text-align:center;
}
#u45887 {
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  word-wrap:break-word;
}
#u45888_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:36px;
}
#u45888 {
  position:absolute;
  left:961px;
  top:0px;
  width:120px;
  height:36px;
  color:#000000;
  text-align:center;
}
#u45889 {
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
#u45890_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:36px;
}
#u45890 {
  position:absolute;
  left:1081px;
  top:0px;
  width:122px;
  height:36px;
  color:#000000;
  text-align:center;
}
#u45891 {
  position:absolute;
  left:2px;
  top:10px;
  width:118px;
  word-wrap:break-word;
}
#u45892_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:36px;
}
#u45892 {
  position:absolute;
  left:1203px;
  top:0px;
  width:119px;
  height:36px;
  color:#000000;
  text-align:center;
}
#u45893 {
  position:absolute;
  left:2px;
  top:2px;
  width:115px;
  word-wrap:break-word;
}
#u45894_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:48px;
}
#u45894 {
  position:absolute;
  left:52px;
  top:62px;
  width:167px;
  height:48px;
  color:#FF0000;
}
#u45895 {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  white-space:nowrap;
}
