body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u49668_div {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:751px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u49668 {
  position:absolute;
  left:0px;
  top:109px;
  width:191px;
  height:751px;
}
#u49669 {
  position:absolute;
  left:2px;
  top:368px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49671_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:110px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u49671 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:110px;
}
#u49672 {
  position:absolute;
  left:2px;
  top:47px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49673 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u49674_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
}
#u49674 {
  position:absolute;
  left:1061px;
  top:30px;
  width:129px;
  height:17px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
}
#u49675 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u49676_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
}
#u49676 {
  position:absolute;
  left:1197px;
  top:30px;
  width:39px;
  height:17px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
}
#u49677 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u49678_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:11px;
}
#u49678 {
  position:absolute;
  left:1188px;
  top:34px;
  width:1px;
  height:10px;
}
#u49679 {
  position:absolute;
  left:2px;
  top:-3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49680_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Rounded MT Bold';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u49680 {
  position:absolute;
  left:20px;
  top:30px;
  width:144px;
  height:55px;
  font-family:'Arial Rounded MT Bold';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u49681 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u49682 {
  position:absolute;
  left:1025px;
  top:24px;
  width:26px;
  height:30px;
}
#u49682_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:32px;
  height:36px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u49683 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:35px;
}
#u49684_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:30px;
}
#u49684 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:30px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
  text-align:center;
}
#u49684_img.selected {
}
#u49684.selected {
}
#u49685 {
  position:absolute;
  left:2px;
  top:6px;
  width:22px;
  word-wrap:break-word;
}
#u49686 {
  position:absolute;
  left:0px;
  top:30px;
  width:88px;
  height:139px;
  visibility:hidden;
}
#u49686_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:94px;
  height:145px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u49687 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:144px;
}
#u49688_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:34px;
}
#u49688 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:34px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u49688_img.selected {
}
#u49688.selected {
}
#u49689 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u49690_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u49690 {
  position:absolute;
  left:0px;
  top:34px;
  width:88px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u49690_img.selected {
}
#u49690.selected {
}
#u49691 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u49692_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u49692 {
  position:absolute;
  left:0px;
  top:69px;
  width:88px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u49692_img.selected {
}
#u49692.selected {
}
#u49693 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u49694_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u49694 {
  position:absolute;
  left:0px;
  top:104px;
  width:88px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u49694_img.selected {
}
#u49694.selected {
}
#u49695 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u49696_img {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:25px;
}
#u49696 {
  position:absolute;
  left:396px;
  top:34px;
  width:284px;
  height:25px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
  text-align:left;
}
#u49697 {
  position:absolute;
  left:2px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
#u49699 {
  position:absolute;
  left:11px;
  top:130px;
  width:171px;
  height:385px;
}
#u49699_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:391px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u49700 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:390px;
}
#u49701_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:32px;
}
#u49701 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:32px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u49701_img.mouseOver {
}
#u49701.mouseOver {
}
#u49701_img.selected {
}
#u49701.selected {
}
#u49702 {
  position:absolute;
  left:2px;
  top:7px;
  width:167px;
  word-wrap:break-word;
}
#u49703_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:38px;
}
#u49703 {
  position:absolute;
  left:0px;
  top:32px;
  width:171px;
  height:38px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u49703_img.mouseOver {
}
#u49703.mouseOver {
}
#u49703_img.selected {
}
#u49703.selected {
}
#u49704 {
  position:absolute;
  left:2px;
  top:10px;
  width:167px;
  word-wrap:break-word;
}
#u49705_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u49705 {
  position:absolute;
  left:0px;
  top:70px;
  width:171px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u49705_img.mouseOver {
}
#u49705.mouseOver {
}
#u49705_img.selected {
}
#u49705.selected {
}
#u49706 {
  position:absolute;
  left:2px;
  top:9px;
  width:167px;
  word-wrap:break-word;
}
#u49707_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u49707 {
  position:absolute;
  left:0px;
  top:105px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u49707_img.mouseOver {
}
#u49707.mouseOver {
}
#u49707_img.selected {
}
#u49707.selected {
}
#u49708 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u49709_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u49709 {
  position:absolute;
  left:0px;
  top:140px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u49709_img.mouseOver {
}
#u49709.mouseOver {
}
#u49709_img.selected {
}
#u49709.selected {
}
#u49710 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u49711_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u49711 {
  position:absolute;
  left:0px;
  top:175px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u49711_img.mouseOver {
}
#u49711.mouseOver {
}
#u49711_img.selected {
}
#u49711.selected {
}
#u49712 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u49713_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u49713 {
  position:absolute;
  left:0px;
  top:210px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u49713_img.mouseOver {
}
#u49713.mouseOver {
}
#u49713_img.selected {
}
#u49713.selected {
}
#u49714 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u49715_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u49715 {
  position:absolute;
  left:0px;
  top:245px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u49715_img.mouseOver {
}
#u49715.mouseOver {
}
#u49715_img.selected {
}
#u49715.selected {
}
#u49716 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u49717_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u49717 {
  position:absolute;
  left:0px;
  top:280px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u49717_img.mouseOver {
}
#u49717.mouseOver {
}
#u49717_img.selected {
}
#u49717.selected {
}
#u49718 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u49719_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u49719 {
  position:absolute;
  left:0px;
  top:315px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u49719_img.mouseOver {
}
#u49719.mouseOver {
}
#u49719_img.selected {
}
#u49719.selected {
}
#u49720 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u49721_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u49721 {
  position:absolute;
  left:0px;
  top:350px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u49721_img.mouseOver {
}
#u49721.mouseOver {
}
#u49721_img.selected {
}
#u49721.selected {
}
#u49722 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u49723 {
  position:absolute;
  left:171px;
  top:245px;
  width:171px;
  height:70px;
  visibility:hidden;
}
#u49723_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:76px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u49724 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:75px;
}
#u49725_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u49725 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u49725_img.mouseOver {
}
#u49725.mouseOver {
}
#u49725_img.selected {
}
#u49725.selected {
}
#u49726 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u49727_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u49727 {
  position:absolute;
  left:0px;
  top:35px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u49727_img.mouseOver {
}
#u49727.mouseOver {
}
#u49727_img.selected {
}
#u49727.selected {
}
#u49728 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u49729 {
  position:absolute;
  left:171px;
  top:105px;
  width:202px;
  height:74px;
  visibility:hidden;
}
#u49729_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:208px;
  height:80px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u49730 {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:79px;
}
#u49731_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:36px;
}
#u49731 {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:36px;
  font-size:15px;
  color:#000000;
  text-align:center;
}
#u49731_img.mouseOver {
}
#u49731.mouseOver {
}
#u49731_img.selected {
}
#u49731.selected {
}
#u49732 {
  position:absolute;
  left:2px;
  top:10px;
  width:198px;
  word-wrap:break-word;
}
#u49733_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:38px;
}
#u49733 {
  position:absolute;
  left:0px;
  top:36px;
  width:202px;
  height:38px;
  font-size:15px;
  color:#000000;
  text-align:center;
}
#u49733_img.mouseOver {
}
#u49733.mouseOver {
}
#u49733_img.selected {
}
#u49733.selected {
}
#u49734 {
  position:absolute;
  left:2px;
  top:10px;
  width:198px;
  word-wrap:break-word;
}
#u49735 {
  position:absolute;
  left:171px;
  top:32px;
  width:150px;
  height:175px;
  visibility:hidden;
}
#u49735_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:156px;
  height:181px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u49736 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:180px;
}
#u49737_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u49737 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u49737_img.mouseOver {
}
#u49737.mouseOver {
}
#u49737_img.selected {
}
#u49737.selected {
}
#u49738 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u49739_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u49739 {
  position:absolute;
  left:0px;
  top:35px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u49739_img.mouseOver {
}
#u49739.mouseOver {
}
#u49739_img.selected {
}
#u49739.selected {
}
#u49740 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u49741_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u49741 {
  position:absolute;
  left:0px;
  top:70px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u49741_img.mouseOver {
}
#u49741.mouseOver {
}
#u49741_img.selected {
}
#u49741.selected {
}
#u49742 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u49743_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u49743 {
  position:absolute;
  left:0px;
  top:105px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u49743_img.mouseOver {
}
#u49743.mouseOver {
}
#u49743_img.selected {
}
#u49743.selected {
}
#u49744 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u49745_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u49745 {
  position:absolute;
  left:0px;
  top:140px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u49745_img.mouseOver {
}
#u49745.mouseOver {
}
#u49745_img.selected {
}
#u49745.selected {
}
#u49746 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u49747 {
  position:absolute;
  left:171px;
  top:70px;
  width:171px;
  height:35px;
  visibility:hidden;
}
#u49747_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:41px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u49748 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
}
#u49749_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u49749 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u49749_img.mouseOver {
}
#u49749.mouseOver {
}
#u49749_img.selected {
}
#u49749.selected {
}
#u49750 {
  position:absolute;
  left:2px;
  top:9px;
  width:167px;
  word-wrap:break-word;
}
#u49751 {
  position:absolute;
  left:171px;
  top:280px;
  width:171px;
  height:110px;
  visibility:hidden;
}
#u49751_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:116px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u49752 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:115px;
}
#u49753_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u49753 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u49753_img.mouseOver {
}
#u49753.mouseOver {
}
#u49753_img.selected {
}
#u49753.selected {
}
#u49754 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u49755_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u49755 {
  position:absolute;
  left:0px;
  top:35px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u49755_img.mouseOver {
}
#u49755.mouseOver {
}
#u49755_img.selected {
}
#u49755.selected {
}
#u49756 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u49757_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:40px;
}
#u49757 {
  position:absolute;
  left:0px;
  top:70px;
  width:171px;
  height:40px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u49757_img.mouseOver {
}
#u49757.mouseOver {
}
#u49757_img.selected {
}
#u49757.selected {
}
#u49758 {
  position:absolute;
  left:2px;
  top:11px;
  width:167px;
  word-wrap:break-word;
}
#u49759 {
  position:absolute;
  left:171px;
  top:315px;
  width:169px;
  height:175px;
  visibility:hidden;
}
#u49759_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:175px;
  height:181px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u49760 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:180px;
}
#u49761_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u49761 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u49761_img.mouseOver {
}
#u49761.mouseOver {
}
#u49761_img.selected {
}
#u49761.selected {
}
#u49762 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u49763_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u49763 {
  position:absolute;
  left:0px;
  top:35px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u49763_img.mouseOver {
}
#u49763.mouseOver {
}
#u49763_img.selected {
}
#u49763.selected {
}
#u49764 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u49765_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u49765 {
  position:absolute;
  left:0px;
  top:70px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u49765_img.mouseOver {
}
#u49765.mouseOver {
}
#u49765_img.selected {
}
#u49765.selected {
}
#u49766 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u49767_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u49767 {
  position:absolute;
  left:0px;
  top:105px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u49767_img.mouseOver {
}
#u49767.mouseOver {
}
#u49767_img.selected {
}
#u49767.selected {
}
#u49768 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u49769_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u49769 {
  position:absolute;
  left:0px;
  top:140px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u49769_img.mouseOver {
}
#u49769.mouseOver {
}
#u49769_img.selected {
}
#u49769.selected {
}
#u49770 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u49771 {
  position:absolute;
  left:171px;
  top:350px;
  width:171px;
  height:35px;
  visibility:hidden;
}
#u49771_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:41px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u49772 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
}
#u49773_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u49773 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u49773_img.mouseOver {
}
#u49773.mouseOver {
}
#u49773_img.selected {
}
#u49773.selected {
}
#u49774 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u49775 {
  position:absolute;
  left:171px;
  top:210px;
  width:171px;
  height:35px;
  visibility:hidden;
}
#u49775_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:41px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u49776 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
}
#u49777_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u49777 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u49777_img.mouseOver {
}
#u49777.mouseOver {
}
#u49777_img.selected {
}
#u49777.selected {
}
#u49778 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u49779 {
  position:absolute;
  left:171px;
  top:175px;
  width:171px;
  height:70px;
  visibility:hidden;
}
#u49779_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:76px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u49780 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:75px;
}
#u49781_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u49781 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u49781_img.mouseOver {
}
#u49781.mouseOver {
}
#u49781_img.selected {
}
#u49781.selected {
}
#u49782 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u49783_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u49783 {
  position:absolute;
  left:0px;
  top:35px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u49783_img.mouseOver {
}
#u49783.mouseOver {
}
#u49783_img.selected {
}
#u49783.selected {
}
#u49784 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u49785 {
  position:absolute;
  left:171px;
  top:140px;
  width:171px;
  height:70px;
  visibility:hidden;
}
#u49785_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:76px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u49786 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:75px;
}
#u49787_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u49787 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u49787_img.mouseOver {
}
#u49787.mouseOver {
}
#u49787_img.selected {
}
#u49787.selected {
}
#u49788 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u49789_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u49789 {
  position:absolute;
  left:0px;
  top:35px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u49789_img.mouseOver {
}
#u49789.mouseOver {
}
#u49789_img.selected {
}
#u49789.selected {
}
#u49790 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u49792_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:90px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u49792 {
  position:absolute;
  left:0px;
  top:850px;
  width:1280px;
  height:90px;
}
#u49793 {
  position:absolute;
  left:2px;
  top:37px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49794_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u49794 {
  position:absolute;
  left:35px;
  top:877px;
  width:94px;
  height:37px;
  color:#FFFFFF;
}
#u49795 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u49796_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:38px;
}
#u49796 {
  position:absolute;
  left:1092px;
  top:896px;
  width:180px;
  height:38px;
  font-size:16px;
  color:#FF0000;
}
#u49797 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u49798 {
  position:absolute;
  left:220px;
  top:247px;
  width:645px;
  height:310px;
}
#u49799_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:40px;
}
#u49799 {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u49800 {
  position:absolute;
  left:10px;
  top:12px;
  width:152px;
  word-wrap:break-word;
}
#u49801_img {
  position:absolute;
  left:0px;
  top:0px;
  width:476px;
  height:40px;
}
#u49801 {
  position:absolute;
  left:164px;
  top:0px;
  width:476px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u49802 {
  position:absolute;
  left:10px;
  top:12px;
  width:464px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49803_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:40px;
}
#u49803 {
  position:absolute;
  left:0px;
  top:40px;
  width:164px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u49804 {
  position:absolute;
  left:10px;
  top:12px;
  width:152px;
  word-wrap:break-word;
}
#u49805_img {
  position:absolute;
  left:0px;
  top:0px;
  width:476px;
  height:40px;
}
#u49805 {
  position:absolute;
  left:164px;
  top:40px;
  width:476px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u49806 {
  position:absolute;
  left:10px;
  top:12px;
  width:464px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49807_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:40px;
}
#u49807 {
  position:absolute;
  left:0px;
  top:80px;
  width:164px;
  height:40px;
  font-family:'STHeitiTC-Medium', 'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u49808 {
  position:absolute;
  left:10px;
  top:11px;
  width:152px;
  word-wrap:break-word;
}
#u49809_img {
  position:absolute;
  left:0px;
  top:0px;
  width:476px;
  height:40px;
}
#u49809 {
  position:absolute;
  left:164px;
  top:80px;
  width:476px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u49810 {
  position:absolute;
  left:10px;
  top:12px;
  width:464px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49811_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:185px;
}
#u49811 {
  position:absolute;
  left:0px;
  top:120px;
  width:164px;
  height:185px;
  font-family:'STHeitiTC-Medium', 'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u49812 {
  position:absolute;
  left:10px;
  top:84px;
  width:152px;
  word-wrap:break-word;
}
#u49813_img {
  position:absolute;
  left:0px;
  top:0px;
  width:476px;
  height:185px;
}
#u49813 {
  position:absolute;
  left:164px;
  top:120px;
  width:476px;
  height:185px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u49814 {
  position:absolute;
  left:10px;
  top:84px;
  width:464px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49815_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u49815 {
  position:absolute;
  left:529px;
  top:584px;
  width:100px;
  height:30px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u49815_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u49815.mouseOver {
}
#u49816 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u49817 {
  position:absolute;
  left:396px;
  top:292px;
  width:392px;
  height:30px;
}
#u49817_input {
  position:absolute;
  left:0px;
  top:0px;
  width:392px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u49817_input:disabled {
  color:grayText;
}
#u49818 {
  position:absolute;
  left:396px;
  top:252px;
  width:392px;
  height:30px;
}
#u49818_input {
  position:absolute;
  left:0px;
  top:0px;
  width:392px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u49819 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u49820_img {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:96px;
}
#u49820 {
  position:absolute;
  left:263px;
  top:711px;
  width:700px;
  height:96px;
}
#u49821 {
  position:absolute;
  left:2px;
  top:40px;
  width:696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49822_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Medium', 'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#515151;
}
#u49822 {
  position:absolute;
  left:277px;
  top:721px;
  width:65px;
  height:19px;
  font-family:'STHeitiTC-Medium', 'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#515151;
}
#u49823 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u49824_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u49824 {
  position:absolute;
  left:411px;
  top:584px;
  width:100px;
  height:30px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u49824_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u49824.mouseOver {
}
#u49825 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u49826_div {
  position:absolute;
  left:0px;
  top:0px;
  width:647px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u49826 {
  position:absolute;
  left:306px;
  top:750px;
  width:647px;
  height:47px;
}
#u49827 {
  position:absolute;
  left:0px;
  top:0px;
  width:647px;
  word-wrap:break-word;
}
#u49828_div {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:40px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Medium', 'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u49828 {
  position:absolute;
  left:220px;
  top:207px;
  width:640px;
  height:40px;
  font-family:'STHeitiTC-Medium', 'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u49829 {
  position:absolute;
  left:10px;
  top:9px;
  width:628px;
  word-wrap:break-word;
}
#u49830_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Medium', 'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
}
#u49830 {
  position:absolute;
  left:220px;
  top:142px;
  width:129px;
  height:38px;
  font-family:'STHeitiTC-Medium', 'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
}
#u49831 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u49832 {
  position:absolute;
  left:396px;
  top:332px;
  width:125px;
  height:30px;
}
#u49832_input {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u49833_img {
  position:absolute;
  left:0px;
  top:0px;
  width:461px;
  height:168px;
}
#u49833 {
  position:absolute;
  left:393px;
  top:372px;
  width:461px;
  height:168px;
}
#u49834 {
  position:absolute;
  left:2px;
  top:76px;
  width:457px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49835 {
  position:absolute;
  left:531px;
  top:332px;
  width:125px;
  height:30px;
}
#u49835_input {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
