body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u49163_div {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:751px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u49163 {
  position:absolute;
  left:0px;
  top:109px;
  width:191px;
  height:751px;
}
#u49164 {
  position:absolute;
  left:2px;
  top:368px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49166_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:110px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u49166 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:110px;
}
#u49167 {
  position:absolute;
  left:2px;
  top:47px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49168 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u49169_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
}
#u49169 {
  position:absolute;
  left:1061px;
  top:30px;
  width:129px;
  height:17px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
}
#u49170 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u49171_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
}
#u49171 {
  position:absolute;
  left:1197px;
  top:30px;
  width:39px;
  height:17px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
}
#u49172 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u49173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:11px;
}
#u49173 {
  position:absolute;
  left:1188px;
  top:34px;
  width:1px;
  height:10px;
}
#u49174 {
  position:absolute;
  left:2px;
  top:-3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49175_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Rounded MT Bold';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u49175 {
  position:absolute;
  left:20px;
  top:30px;
  width:144px;
  height:55px;
  font-family:'Arial Rounded MT Bold';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u49176 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u49177 {
  position:absolute;
  left:1025px;
  top:24px;
  width:26px;
  height:30px;
}
#u49177_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:32px;
  height:36px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u49178 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:35px;
}
#u49179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:30px;
}
#u49179 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:30px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
  text-align:center;
}
#u49179_img.selected {
}
#u49179.selected {
}
#u49180 {
  position:absolute;
  left:2px;
  top:6px;
  width:22px;
  word-wrap:break-word;
}
#u49181 {
  position:absolute;
  left:0px;
  top:30px;
  width:88px;
  height:139px;
  visibility:hidden;
}
#u49181_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:94px;
  height:145px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u49182 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:144px;
}
#u49183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:34px;
}
#u49183 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:34px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u49183_img.selected {
}
#u49183.selected {
}
#u49184 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u49185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u49185 {
  position:absolute;
  left:0px;
  top:34px;
  width:88px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u49185_img.selected {
}
#u49185.selected {
}
#u49186 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u49187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u49187 {
  position:absolute;
  left:0px;
  top:69px;
  width:88px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u49187_img.selected {
}
#u49187.selected {
}
#u49188 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u49189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u49189 {
  position:absolute;
  left:0px;
  top:104px;
  width:88px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u49189_img.selected {
}
#u49189.selected {
}
#u49190 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u49191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:25px;
}
#u49191 {
  position:absolute;
  left:396px;
  top:34px;
  width:284px;
  height:25px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
  text-align:left;
}
#u49192 {
  position:absolute;
  left:2px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
#u49194 {
  position:absolute;
  left:11px;
  top:130px;
  width:171px;
  height:385px;
}
#u49194_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:391px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u49195 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:390px;
}
#u49196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:32px;
}
#u49196 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:32px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u49196_img.mouseOver {
}
#u49196.mouseOver {
}
#u49196_img.selected {
}
#u49196.selected {
}
#u49197 {
  position:absolute;
  left:2px;
  top:7px;
  width:167px;
  word-wrap:break-word;
}
#u49198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:38px;
}
#u49198 {
  position:absolute;
  left:0px;
  top:32px;
  width:171px;
  height:38px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u49198_img.mouseOver {
}
#u49198.mouseOver {
}
#u49198_img.selected {
}
#u49198.selected {
}
#u49199 {
  position:absolute;
  left:2px;
  top:10px;
  width:167px;
  word-wrap:break-word;
}
#u49200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u49200 {
  position:absolute;
  left:0px;
  top:70px;
  width:171px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u49200_img.mouseOver {
}
#u49200.mouseOver {
}
#u49200_img.selected {
}
#u49200.selected {
}
#u49201 {
  position:absolute;
  left:2px;
  top:9px;
  width:167px;
  word-wrap:break-word;
}
#u49202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u49202 {
  position:absolute;
  left:0px;
  top:105px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u49202_img.mouseOver {
}
#u49202.mouseOver {
}
#u49202_img.selected {
}
#u49202.selected {
}
#u49203 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u49204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u49204 {
  position:absolute;
  left:0px;
  top:140px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u49204_img.mouseOver {
}
#u49204.mouseOver {
}
#u49204_img.selected {
}
#u49204.selected {
}
#u49205 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u49206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u49206 {
  position:absolute;
  left:0px;
  top:175px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u49206_img.mouseOver {
}
#u49206.mouseOver {
}
#u49206_img.selected {
}
#u49206.selected {
}
#u49207 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u49208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u49208 {
  position:absolute;
  left:0px;
  top:210px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u49208_img.mouseOver {
}
#u49208.mouseOver {
}
#u49208_img.selected {
}
#u49208.selected {
}
#u49209 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u49210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u49210 {
  position:absolute;
  left:0px;
  top:245px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u49210_img.mouseOver {
}
#u49210.mouseOver {
}
#u49210_img.selected {
}
#u49210.selected {
}
#u49211 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u49212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u49212 {
  position:absolute;
  left:0px;
  top:280px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u49212_img.mouseOver {
}
#u49212.mouseOver {
}
#u49212_img.selected {
}
#u49212.selected {
}
#u49213 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u49214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u49214 {
  position:absolute;
  left:0px;
  top:315px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u49214_img.mouseOver {
}
#u49214.mouseOver {
}
#u49214_img.selected {
}
#u49214.selected {
}
#u49215 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u49216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u49216 {
  position:absolute;
  left:0px;
  top:350px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u49216_img.mouseOver {
}
#u49216.mouseOver {
}
#u49216_img.selected {
}
#u49216.selected {
}
#u49217 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u49218 {
  position:absolute;
  left:171px;
  top:245px;
  width:171px;
  height:70px;
  visibility:hidden;
}
#u49218_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:76px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u49219 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:75px;
}
#u49220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u49220 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u49220_img.mouseOver {
}
#u49220.mouseOver {
}
#u49220_img.selected {
}
#u49220.selected {
}
#u49221 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u49222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u49222 {
  position:absolute;
  left:0px;
  top:35px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u49222_img.mouseOver {
}
#u49222.mouseOver {
}
#u49222_img.selected {
}
#u49222.selected {
}
#u49223 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u49224 {
  position:absolute;
  left:171px;
  top:105px;
  width:202px;
  height:74px;
  visibility:hidden;
}
#u49224_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:208px;
  height:80px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u49225 {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:79px;
}
#u49226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:36px;
}
#u49226 {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:36px;
  font-size:15px;
  color:#000000;
  text-align:center;
}
#u49226_img.mouseOver {
}
#u49226.mouseOver {
}
#u49226_img.selected {
}
#u49226.selected {
}
#u49227 {
  position:absolute;
  left:2px;
  top:10px;
  width:198px;
  word-wrap:break-word;
}
#u49228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:38px;
}
#u49228 {
  position:absolute;
  left:0px;
  top:36px;
  width:202px;
  height:38px;
  font-size:15px;
  color:#000000;
  text-align:center;
}
#u49228_img.mouseOver {
}
#u49228.mouseOver {
}
#u49228_img.selected {
}
#u49228.selected {
}
#u49229 {
  position:absolute;
  left:2px;
  top:10px;
  width:198px;
  word-wrap:break-word;
}
#u49230 {
  position:absolute;
  left:171px;
  top:32px;
  width:150px;
  height:175px;
  visibility:hidden;
}
#u49230_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:156px;
  height:181px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u49231 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:180px;
}
#u49232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u49232 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u49232_img.mouseOver {
}
#u49232.mouseOver {
}
#u49232_img.selected {
}
#u49232.selected {
}
#u49233 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u49234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u49234 {
  position:absolute;
  left:0px;
  top:35px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u49234_img.mouseOver {
}
#u49234.mouseOver {
}
#u49234_img.selected {
}
#u49234.selected {
}
#u49235 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u49236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u49236 {
  position:absolute;
  left:0px;
  top:70px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u49236_img.mouseOver {
}
#u49236.mouseOver {
}
#u49236_img.selected {
}
#u49236.selected {
}
#u49237 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u49238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u49238 {
  position:absolute;
  left:0px;
  top:105px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u49238_img.mouseOver {
}
#u49238.mouseOver {
}
#u49238_img.selected {
}
#u49238.selected {
}
#u49239 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u49240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u49240 {
  position:absolute;
  left:0px;
  top:140px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u49240_img.mouseOver {
}
#u49240.mouseOver {
}
#u49240_img.selected {
}
#u49240.selected {
}
#u49241 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u49242 {
  position:absolute;
  left:171px;
  top:70px;
  width:171px;
  height:35px;
  visibility:hidden;
}
#u49242_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:41px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u49243 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
}
#u49244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u49244 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u49244_img.mouseOver {
}
#u49244.mouseOver {
}
#u49244_img.selected {
}
#u49244.selected {
}
#u49245 {
  position:absolute;
  left:2px;
  top:9px;
  width:167px;
  word-wrap:break-word;
}
#u49246 {
  position:absolute;
  left:171px;
  top:280px;
  width:171px;
  height:35px;
  visibility:hidden;
}
#u49246_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:41px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u49247 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
}
#u49248_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u49248 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u49248_img.mouseOver {
}
#u49248.mouseOver {
}
#u49248_img.selected {
}
#u49248.selected {
}
#u49249 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u49250 {
  position:absolute;
  left:171px;
  top:315px;
  width:169px;
  height:140px;
  visibility:hidden;
}
#u49250_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:175px;
  height:146px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u49251 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:145px;
}
#u49252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u49252 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u49252_img.mouseOver {
}
#u49252.mouseOver {
}
#u49252_img.selected {
}
#u49252.selected {
}
#u49253 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u49254_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u49254 {
  position:absolute;
  left:0px;
  top:35px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u49254_img.mouseOver {
}
#u49254.mouseOver {
}
#u49254_img.selected {
}
#u49254.selected {
}
#u49255 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u49256_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u49256 {
  position:absolute;
  left:0px;
  top:70px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u49256_img.mouseOver {
}
#u49256.mouseOver {
}
#u49256_img.selected {
}
#u49256.selected {
}
#u49257 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u49258_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u49258 {
  position:absolute;
  left:0px;
  top:105px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u49258_img.mouseOver {
}
#u49258.mouseOver {
}
#u49258_img.selected {
}
#u49258.selected {
}
#u49259 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u49260 {
  position:absolute;
  left:171px;
  top:350px;
  width:171px;
  height:35px;
  visibility:hidden;
}
#u49260_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:41px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u49261 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
}
#u49262_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u49262 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u49262_img.mouseOver {
}
#u49262.mouseOver {
}
#u49262_img.selected {
}
#u49262.selected {
}
#u49263 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u49264 {
  position:absolute;
  left:171px;
  top:210px;
  width:171px;
  height:35px;
  visibility:hidden;
}
#u49264_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:41px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u49265 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
}
#u49266_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u49266 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u49266_img.mouseOver {
}
#u49266.mouseOver {
}
#u49266_img.selected {
}
#u49266.selected {
}
#u49267 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u49268 {
  position:absolute;
  left:171px;
  top:175px;
  width:171px;
  height:70px;
  visibility:hidden;
}
#u49268_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:76px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u49269 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:75px;
}
#u49270_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u49270 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u49270_img.mouseOver {
}
#u49270.mouseOver {
}
#u49270_img.selected {
}
#u49270.selected {
}
#u49271 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u49272_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u49272 {
  position:absolute;
  left:0px;
  top:35px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u49272_img.mouseOver {
}
#u49272.mouseOver {
}
#u49272_img.selected {
}
#u49272.selected {
}
#u49273 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u49274 {
  position:absolute;
  left:171px;
  top:140px;
  width:171px;
  height:70px;
  visibility:hidden;
}
#u49274_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:76px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u49275 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:75px;
}
#u49276_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u49276 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u49276_img.mouseOver {
}
#u49276.mouseOver {
}
#u49276_img.selected {
}
#u49276.selected {
}
#u49277 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u49278_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u49278 {
  position:absolute;
  left:0px;
  top:35px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u49278_img.mouseOver {
}
#u49278.mouseOver {
}
#u49278_img.selected {
}
#u49278.selected {
}
#u49279 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u49281_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:90px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u49281 {
  position:absolute;
  left:0px;
  top:850px;
  width:1280px;
  height:90px;
}
#u49282 {
  position:absolute;
  left:2px;
  top:37px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49283_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u49283 {
  position:absolute;
  left:35px;
  top:877px;
  width:94px;
  height:37px;
  color:#FFFFFF;
}
#u49284 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u49285_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:38px;
}
#u49285 {
  position:absolute;
  left:1092px;
  top:896px;
  width:180px;
  height:38px;
  font-size:16px;
  color:#FF0000;
}
#u49286 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u49287 {
  position:absolute;
  left:220px;
  top:247px;
  width:645px;
  height:310px;
}
#u49288_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:40px;
}
#u49288 {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u49289 {
  position:absolute;
  left:10px;
  top:12px;
  width:152px;
  word-wrap:break-word;
}
#u49290_img {
  position:absolute;
  left:0px;
  top:0px;
  width:476px;
  height:40px;
}
#u49290 {
  position:absolute;
  left:164px;
  top:0px;
  width:476px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u49291 {
  position:absolute;
  left:10px;
  top:12px;
  width:464px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49292_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:40px;
}
#u49292 {
  position:absolute;
  left:0px;
  top:40px;
  width:164px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u49293 {
  position:absolute;
  left:10px;
  top:12px;
  width:152px;
  word-wrap:break-word;
}
#u49294_img {
  position:absolute;
  left:0px;
  top:0px;
  width:476px;
  height:40px;
}
#u49294 {
  position:absolute;
  left:164px;
  top:40px;
  width:476px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u49295 {
  position:absolute;
  left:10px;
  top:12px;
  width:464px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49296_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:40px;
}
#u49296 {
  position:absolute;
  left:0px;
  top:80px;
  width:164px;
  height:40px;
  font-family:'STHeitiTC-Medium', 'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u49297 {
  position:absolute;
  left:10px;
  top:11px;
  width:152px;
  word-wrap:break-word;
}
#u49298_img {
  position:absolute;
  left:0px;
  top:0px;
  width:476px;
  height:40px;
}
#u49298 {
  position:absolute;
  left:164px;
  top:80px;
  width:476px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u49299 {
  position:absolute;
  left:10px;
  top:12px;
  width:464px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49300_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:185px;
}
#u49300 {
  position:absolute;
  left:0px;
  top:120px;
  width:164px;
  height:185px;
  font-family:'STHeitiTC-Medium', 'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u49301 {
  position:absolute;
  left:10px;
  top:84px;
  width:152px;
  word-wrap:break-word;
}
#u49302_img {
  position:absolute;
  left:0px;
  top:0px;
  width:476px;
  height:185px;
}
#u49302 {
  position:absolute;
  left:164px;
  top:120px;
  width:476px;
  height:185px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u49303 {
  position:absolute;
  left:10px;
  top:84px;
  width:464px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49304_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u49304 {
  position:absolute;
  left:529px;
  top:584px;
  width:100px;
  height:30px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u49304_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u49304.mouseOver {
}
#u49305 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u49306 {
  position:absolute;
  left:396px;
  top:292px;
  width:392px;
  height:30px;
}
#u49306_input {
  position:absolute;
  left:0px;
  top:0px;
  width:392px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u49306_input:disabled {
  color:grayText;
}
#u49307 {
  position:absolute;
  left:396px;
  top:252px;
  width:392px;
  height:30px;
}
#u49307_input {
  position:absolute;
  left:0px;
  top:0px;
  width:392px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u49308 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u49309_img {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:96px;
}
#u49309 {
  position:absolute;
  left:263px;
  top:711px;
  width:700px;
  height:96px;
}
#u49310 {
  position:absolute;
  left:2px;
  top:40px;
  width:696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49311_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Medium', 'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#515151;
}
#u49311 {
  position:absolute;
  left:277px;
  top:721px;
  width:65px;
  height:19px;
  font-family:'STHeitiTC-Medium', 'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#515151;
}
#u49312 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u49313_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u49313 {
  position:absolute;
  left:411px;
  top:584px;
  width:100px;
  height:30px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u49313_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u49313.mouseOver {
}
#u49314 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u49315_div {
  position:absolute;
  left:0px;
  top:0px;
  width:647px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u49315 {
  position:absolute;
  left:306px;
  top:750px;
  width:647px;
  height:47px;
}
#u49316 {
  position:absolute;
  left:0px;
  top:0px;
  width:647px;
  word-wrap:break-word;
}
#u49317_div {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:40px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Medium', 'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u49317 {
  position:absolute;
  left:220px;
  top:207px;
  width:640px;
  height:40px;
  font-family:'STHeitiTC-Medium', 'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u49318 {
  position:absolute;
  left:10px;
  top:9px;
  width:628px;
  word-wrap:break-word;
}
#u49319_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Medium', 'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
}
#u49319 {
  position:absolute;
  left:220px;
  top:142px;
  width:129px;
  height:38px;
  font-family:'STHeitiTC-Medium', 'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
}
#u49320 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u49321 {
  position:absolute;
  left:396px;
  top:332px;
  width:125px;
  height:30px;
}
#u49321_input {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u49322_img {
  position:absolute;
  left:0px;
  top:0px;
  width:461px;
  height:168px;
}
#u49322 {
  position:absolute;
  left:393px;
  top:372px;
  width:461px;
  height:168px;
}
#u49323 {
  position:absolute;
  left:2px;
  top:76px;
  width:457px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49324 {
  position:absolute;
  left:531px;
  top:332px;
  width:125px;
  height:30px;
}
#u49324_input {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
