body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:926px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u37066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:32px;
}
#u37066 {
  position:absolute;
  left:52px;
  top:84px;
  width:154px;
  height:32px;
  color:#FF0000;
}
#u37067 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  white-space:nowrap;
}
#u37068 {
  position:absolute;
  left:14px;
  top:164px;
  width:705px;
  height:65px;
}
#u37069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u37069 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u37070 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u37071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u37071 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:60px;
}
#u37072 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u37073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u37073 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:60px;
}
#u37074 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u37075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u37075 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:60px;
}
#u37076 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u37077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u37077 {
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:60px;
}
#u37078 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u37079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u37079 {
  position:absolute;
  left:500px;
  top:0px;
  width:100px;
  height:60px;
}
#u37080 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u37081_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u37081 {
  position:absolute;
  left:600px;
  top:0px;
  width:100px;
  height:60px;
}
#u37082 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u37083 {
  position:absolute;
  left:14px;
  top:274px;
  width:905px;
  height:65px;
}
#u37084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u37084 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u37085 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u37086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u37086 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:60px;
}
#u37087 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u37088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u37088 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:60px;
}
#u37089 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u37090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u37090 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:60px;
}
#u37091 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u37092_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u37092 {
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:60px;
}
#u37093 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u37094_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u37094 {
  position:absolute;
  left:500px;
  top:0px;
  width:100px;
  height:60px;
}
#u37095 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u37096_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u37096 {
  position:absolute;
  left:600px;
  top:0px;
  width:100px;
  height:60px;
}
#u37097 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u37098_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u37098 {
  position:absolute;
  left:700px;
  top:0px;
  width:100px;
  height:60px;
}
#u37099 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u37100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u37100 {
  position:absolute;
  left:800px;
  top:0px;
  width:100px;
  height:60px;
}
#u37101 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u37102 {
  position:absolute;
  left:14px;
  top:383px;
  width:905px;
  height:65px;
}
#u37103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u37103 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u37104 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u37105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u37105 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:60px;
}
#u37106 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u37107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u37107 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:60px;
}
#u37108 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u37109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u37109 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:60px;
}
#u37110 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u37111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u37111 {
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:60px;
}
#u37112 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u37113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u37113 {
  position:absolute;
  left:500px;
  top:0px;
  width:100px;
  height:60px;
}
#u37114 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u37115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u37115 {
  position:absolute;
  left:600px;
  top:0px;
  width:100px;
  height:60px;
}
#u37116 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u37117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u37117 {
  position:absolute;
  left:700px;
  top:0px;
  width:100px;
  height:60px;
}
#u37118 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u37119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u37119 {
  position:absolute;
  left:800px;
  top:0px;
  width:100px;
  height:60px;
}
#u37120 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u37121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:32px;
}
#u37121 {
  position:absolute;
  left:795px;
  top:443px;
  width:131px;
  height:32px;
  color:#FF0000;
  text-align:center;
}
#u37122 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u37123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:32px;
}
#u37123 {
  position:absolute;
  left:17px;
  top:224px;
  width:92px;
  height:32px;
  color:#FF0000;
  text-align:center;
}
#u37124 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u37125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:32px;
}
#u37125 {
  position:absolute;
  left:14px;
  top:430px;
  width:232px;
  height:32px;
  color:#FF0000;
}
#u37126 {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  white-space:nowrap;
}
#u37127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:36px;
}
#u37127 {
  position:absolute;
  left:40px;
  top:462px;
  width:267px;
  height:36px;
  color:#FF0000;
  text-align:center;
}
#u37128 {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  white-space:nowrap;
}
