body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u87075_div {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:751px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u87075 {
  position:absolute;
  left:0px;
  top:109px;
  width:191px;
  height:751px;
}
#u87076 {
  position:absolute;
  left:2px;
  top:368px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87078_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:110px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u87078 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:110px;
}
#u87079 {
  position:absolute;
  left:2px;
  top:47px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87080 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u87081_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
}
#u87081 {
  position:absolute;
  left:1061px;
  top:30px;
  width:129px;
  height:17px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
}
#u87082 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u87083_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
}
#u87083 {
  position:absolute;
  left:1197px;
  top:30px;
  width:39px;
  height:17px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
}
#u87084 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u87085_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:11px;
}
#u87085 {
  position:absolute;
  left:1188px;
  top:34px;
  width:1px;
  height:10px;
}
#u87086 {
  position:absolute;
  left:2px;
  top:-3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87087 {
  position:absolute;
  left:1025px;
  top:24px;
  width:26px;
  height:30px;
}
#u87087_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:32px;
  height:36px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u87088 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:35px;
}
#u87089_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:30px;
}
#u87089 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:30px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
  text-align:center;
}
#u87089_img.selected {
}
#u87089.selected {
}
#u87090 {
  position:absolute;
  left:2px;
  top:6px;
  width:22px;
  word-wrap:break-word;
}
#u87091 {
  position:absolute;
  left:0px;
  top:30px;
  width:88px;
  height:139px;
  visibility:hidden;
}
#u87091_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:94px;
  height:145px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u87092 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:144px;
}
#u87093_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:34px;
}
#u87093 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:34px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u87093_img.selected {
}
#u87093.selected {
}
#u87094 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u87095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u87095 {
  position:absolute;
  left:0px;
  top:34px;
  width:88px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u87095_img.selected {
}
#u87095.selected {
}
#u87096 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u87097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u87097 {
  position:absolute;
  left:0px;
  top:69px;
  width:88px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u87097_img.selected {
}
#u87097.selected {
}
#u87098 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u87099_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u87099 {
  position:absolute;
  left:0px;
  top:104px;
  width:88px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u87099_img.selected {
}
#u87099.selected {
}
#u87100 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u87101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:25px;
}
#u87101 {
  position:absolute;
  left:431px;
  top:43px;
  width:284px;
  height:25px;
  font-family:'微軟正黑體 Bold', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u87102 {
  position:absolute;
  left:2px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
#u87103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:91px;
}
#u87103 {
  position:absolute;
  left:10px;
  top:10px;
  width:120px;
  height:91px;
}
#u87104 {
  position:absolute;
  left:2px;
  top:38px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87106 {
  position:absolute;
  left:11px;
  top:130px;
  width:171px;
  height:455px;
}
#u87106_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:461px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u87107 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:460px;
}
#u87108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:32px;
}
#u87108 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:32px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u87108_img.mouseOver {
}
#u87108.mouseOver {
}
#u87108_img.selected {
}
#u87108.selected {
}
#u87109 {
  position:absolute;
  left:2px;
  top:7px;
  width:167px;
  word-wrap:break-word;
}
#u87110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:38px;
}
#u87110 {
  position:absolute;
  left:0px;
  top:32px;
  width:171px;
  height:38px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u87110_img.mouseOver {
}
#u87110.mouseOver {
}
#u87110_img.selected {
}
#u87110.selected {
}
#u87111 {
  position:absolute;
  left:2px;
  top:10px;
  width:167px;
  word-wrap:break-word;
}
#u87112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u87112 {
  position:absolute;
  left:0px;
  top:70px;
  width:171px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u87112_img.mouseOver {
}
#u87112.mouseOver {
}
#u87112_img.selected {
}
#u87112.selected {
}
#u87113 {
  position:absolute;
  left:2px;
  top:9px;
  width:167px;
  word-wrap:break-word;
}
#u87114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u87114 {
  position:absolute;
  left:0px;
  top:105px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u87114_img.mouseOver {
}
#u87114.mouseOver {
}
#u87114_img.selected {
}
#u87114.selected {
}
#u87115 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u87116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u87116 {
  position:absolute;
  left:0px;
  top:140px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u87116_img.mouseOver {
}
#u87116.mouseOver {
}
#u87116_img.selected {
}
#u87116.selected {
}
#u87117 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u87118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u87118 {
  position:absolute;
  left:0px;
  top:175px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u87118_img.mouseOver {
}
#u87118.mouseOver {
}
#u87118_img.selected {
}
#u87118.selected {
}
#u87119 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u87120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u87120 {
  position:absolute;
  left:0px;
  top:210px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u87120_img.mouseOver {
}
#u87120.mouseOver {
}
#u87120_img.selected {
}
#u87120.selected {
}
#u87121 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u87122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u87122 {
  position:absolute;
  left:0px;
  top:245px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u87122_img.mouseOver {
}
#u87122.mouseOver {
}
#u87122_img.selected {
}
#u87122.selected {
}
#u87123 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u87124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u87124 {
  position:absolute;
  left:0px;
  top:280px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u87124_img.mouseOver {
}
#u87124.mouseOver {
}
#u87124_img.selected {
}
#u87124.selected {
}
#u87125 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u87126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u87126 {
  position:absolute;
  left:0px;
  top:315px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u87126_img.mouseOver {
}
#u87126.mouseOver {
}
#u87126_img.selected {
}
#u87126.selected {
}
#u87127 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u87128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u87128 {
  position:absolute;
  left:0px;
  top:350px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u87128_img.mouseOver {
}
#u87128.mouseOver {
}
#u87128_img.selected {
}
#u87128.selected {
}
#u87129 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u87130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u87130 {
  position:absolute;
  left:0px;
  top:385px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u87130_img.mouseOver {
}
#u87130.mouseOver {
}
#u87130_img.selected {
}
#u87130.selected {
}
#u87131 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u87132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u87132 {
  position:absolute;
  left:0px;
  top:420px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u87132_img.mouseOver {
}
#u87132.mouseOver {
}
#u87132_img.selected {
}
#u87132.selected {
}
#u87133 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u87134 {
  position:absolute;
  left:171px;
  top:315px;
  width:171px;
  height:70px;
  visibility:hidden;
}
#u87134_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:76px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u87135 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:75px;
}
#u87136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u87136 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u87136_img.mouseOver {
}
#u87136.mouseOver {
}
#u87136_img.selected {
}
#u87136.selected {
}
#u87137 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u87138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u87138 {
  position:absolute;
  left:0px;
  top:35px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u87138_img.mouseOver {
}
#u87138.mouseOver {
}
#u87138_img.selected {
}
#u87138.selected {
}
#u87139 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u87140 {
  position:absolute;
  left:171px;
  top:105px;
  width:202px;
  height:148px;
  visibility:hidden;
}
#u87140_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:208px;
  height:154px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u87141 {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:153px;
}
#u87142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:36px;
}
#u87142 {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:36px;
  font-size:15px;
  color:#000000;
  text-align:center;
}
#u87142_img.mouseOver {
}
#u87142.mouseOver {
}
#u87142_img.selected {
}
#u87142.selected {
}
#u87143 {
  position:absolute;
  left:2px;
  top:10px;
  width:198px;
  word-wrap:break-word;
}
#u87144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:36px;
}
#u87144 {
  position:absolute;
  left:0px;
  top:36px;
  width:202px;
  height:36px;
  font-size:15px;
  color:#000000;
  text-align:center;
}
#u87144_img.mouseOver {
}
#u87144.mouseOver {
}
#u87144_img.selected {
}
#u87144.selected {
}
#u87145 {
  position:absolute;
  left:2px;
  top:10px;
  width:198px;
  word-wrap:break-word;
}
#u87146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:38px;
}
#u87146 {
  position:absolute;
  left:0px;
  top:72px;
  width:202px;
  height:38px;
  font-size:15px;
  color:#000000;
  text-align:center;
}
#u87146_img.mouseOver {
}
#u87146.mouseOver {
}
#u87146_img.selected {
}
#u87146.selected {
}
#u87147 {
  position:absolute;
  left:2px;
  top:10px;
  width:198px;
  word-wrap:break-word;
}
#u87148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:38px;
}
#u87148 {
  position:absolute;
  left:0px;
  top:110px;
  width:202px;
  height:38px;
  font-size:15px;
  color:#000000;
  text-align:center;
}
#u87148_img.mouseOver {
}
#u87148.mouseOver {
}
#u87148_img.selected {
}
#u87148.selected {
}
#u87149 {
  position:absolute;
  left:2px;
  top:10px;
  width:198px;
  word-wrap:break-word;
}
#u87150 {
  position:absolute;
  left:171px;
  top:32px;
  width:150px;
  height:175px;
  visibility:hidden;
}
#u87150_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:156px;
  height:181px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u87151 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:180px;
}
#u87152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u87152 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u87152_img.mouseOver {
}
#u87152.mouseOver {
}
#u87152_img.selected {
}
#u87152.selected {
}
#u87153 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u87154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u87154 {
  position:absolute;
  left:0px;
  top:35px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u87154_img.mouseOver {
}
#u87154.mouseOver {
}
#u87154_img.selected {
}
#u87154.selected {
}
#u87155 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u87156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u87156 {
  position:absolute;
  left:0px;
  top:70px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u87156_img.mouseOver {
}
#u87156.mouseOver {
}
#u87156_img.selected {
}
#u87156.selected {
}
#u87157 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u87158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u87158 {
  position:absolute;
  left:0px;
  top:105px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u87158_img.mouseOver {
}
#u87158.mouseOver {
}
#u87158_img.selected {
}
#u87158.selected {
}
#u87159 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u87160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u87160 {
  position:absolute;
  left:0px;
  top:140px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u87160_img.mouseOver {
}
#u87160.mouseOver {
}
#u87160_img.selected {
}
#u87160.selected {
}
#u87161 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u87162 {
  position:absolute;
  left:171px;
  top:70px;
  width:171px;
  height:105px;
  visibility:hidden;
}
#u87162_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:111px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u87163 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:110px;
}
#u87164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u87164 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u87164_img.mouseOver {
}
#u87164.mouseOver {
}
#u87164_img.selected {
}
#u87164.selected {
}
#u87165 {
  position:absolute;
  left:2px;
  top:9px;
  width:167px;
  word-wrap:break-word;
}
#u87166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u87166 {
  position:absolute;
  left:0px;
  top:35px;
  width:171px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u87166_img.mouseOver {
}
#u87166.mouseOver {
}
#u87166_img.selected {
}
#u87166.selected {
}
#u87167 {
  position:absolute;
  left:2px;
  top:9px;
  width:167px;
  word-wrap:break-word;
}
#u87168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u87168 {
  position:absolute;
  left:0px;
  top:70px;
  width:171px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u87168_img.mouseOver {
}
#u87168.mouseOver {
}
#u87168_img.selected {
}
#u87168.selected {
}
#u87169 {
  position:absolute;
  left:2px;
  top:9px;
  width:167px;
  word-wrap:break-word;
}
#u87170 {
  position:absolute;
  left:171px;
  top:350px;
  width:171px;
  height:70px;
  visibility:hidden;
}
#u87170_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:76px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u87171 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:75px;
}
#u87172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u87172 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u87172_img.mouseOver {
}
#u87172.mouseOver {
}
#u87172_img.selected {
}
#u87172.selected {
}
#u87173 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u87174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u87174 {
  position:absolute;
  left:0px;
  top:35px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u87174_img.mouseOver {
}
#u87174.mouseOver {
}
#u87174_img.selected {
}
#u87174.selected {
}
#u87175 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u87176 {
  position:absolute;
  left:171px;
  top:385px;
  width:169px;
  height:490px;
  visibility:hidden;
}
#u87176_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:175px;
  height:496px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u87177 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:495px;
}
#u87178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u87178 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u87178_img.mouseOver {
}
#u87178.mouseOver {
}
#u87178_img.selected {
}
#u87178.selected {
}
#u87179 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u87180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u87180 {
  position:absolute;
  left:0px;
  top:35px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u87180_img.mouseOver {
}
#u87180.mouseOver {
}
#u87180_img.selected {
}
#u87180.selected {
}
#u87181 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u87182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u87182 {
  position:absolute;
  left:0px;
  top:70px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u87182_img.mouseOver {
}
#u87182.mouseOver {
}
#u87182_img.selected {
}
#u87182.selected {
}
#u87183 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u87184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u87184 {
  position:absolute;
  left:0px;
  top:105px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u87184_img.mouseOver {
}
#u87184.mouseOver {
}
#u87184_img.selected {
}
#u87184.selected {
}
#u87185 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u87186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u87186 {
  position:absolute;
  left:0px;
  top:140px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u87186_img.mouseOver {
}
#u87186.mouseOver {
}
#u87186_img.selected {
}
#u87186.selected {
}
#u87187 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u87188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u87188 {
  position:absolute;
  left:0px;
  top:175px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u87188_img.mouseOver {
}
#u87188.mouseOver {
}
#u87188_img.selected {
}
#u87188.selected {
}
#u87189 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u87190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u87190 {
  position:absolute;
  left:0px;
  top:210px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u87190_img.mouseOver {
}
#u87190.mouseOver {
}
#u87190_img.selected {
}
#u87190.selected {
}
#u87191 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u87192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u87192 {
  position:absolute;
  left:0px;
  top:245px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u87192_img.mouseOver {
}
#u87192.mouseOver {
}
#u87192_img.selected {
}
#u87192.selected {
}
#u87193 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u87194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u87194 {
  position:absolute;
  left:0px;
  top:280px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u87194_img.mouseOver {
}
#u87194.mouseOver {
}
#u87194_img.selected {
}
#u87194.selected {
}
#u87195 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u87196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u87196 {
  position:absolute;
  left:0px;
  top:315px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u87196_img.mouseOver {
}
#u87196.mouseOver {
}
#u87196_img.selected {
}
#u87196.selected {
}
#u87197 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u87198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u87198 {
  position:absolute;
  left:0px;
  top:350px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u87198_img.mouseOver {
}
#u87198.mouseOver {
}
#u87198_img.selected {
}
#u87198.selected {
}
#u87199 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u87200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u87200 {
  position:absolute;
  left:0px;
  top:385px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u87200_img.mouseOver {
}
#u87200.mouseOver {
}
#u87200_img.selected {
}
#u87200.selected {
}
#u87201 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u87202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u87202 {
  position:absolute;
  left:0px;
  top:420px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u87202_img.mouseOver {
}
#u87202.mouseOver {
}
#u87202_img.selected {
}
#u87202.selected {
}
#u87203 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u87204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u87204 {
  position:absolute;
  left:0px;
  top:455px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u87204_img.mouseOver {
}
#u87204.mouseOver {
}
#u87204_img.selected {
}
#u87204.selected {
}
#u87205 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u87206 {
  position:absolute;
  left:171px;
  top:175px;
  width:179px;
  height:285px;
  visibility:hidden;
}
#u87206_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:185px;
  height:291px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u87207 {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:290px;
}
#u87208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:35px;
}
#u87208 {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u87208_img.mouseOver {
}
#u87208.mouseOver {
}
#u87208_img.selected {
}
#u87208.selected {
}
#u87209 {
  position:absolute;
  left:2px;
  top:8px;
  width:175px;
  word-wrap:break-word;
}
#u87210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:35px;
}
#u87210 {
  position:absolute;
  left:0px;
  top:35px;
  width:179px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u87210_img.mouseOver {
}
#u87210.mouseOver {
}
#u87210_img.selected {
}
#u87210.selected {
}
#u87211 {
  position:absolute;
  left:2px;
  top:8px;
  width:175px;
  word-wrap:break-word;
}
#u87212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:35px;
}
#u87212 {
  position:absolute;
  left:0px;
  top:70px;
  width:179px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u87212_img.mouseOver {
}
#u87212.mouseOver {
}
#u87212_img.selected {
}
#u87212.selected {
}
#u87213 {
  position:absolute;
  left:2px;
  top:8px;
  width:175px;
  word-wrap:break-word;
}
#u87214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:35px;
}
#u87214 {
  position:absolute;
  left:0px;
  top:105px;
  width:179px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u87214_img.mouseOver {
}
#u87214.mouseOver {
}
#u87214_img.selected {
}
#u87214.selected {
}
#u87215 {
  position:absolute;
  left:2px;
  top:8px;
  width:175px;
  word-wrap:break-word;
}
#u87216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:35px;
}
#u87216 {
  position:absolute;
  left:0px;
  top:140px;
  width:179px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u87216_img.mouseOver {
}
#u87216.mouseOver {
}
#u87216_img.selected {
}
#u87216.selected {
}
#u87217 {
  position:absolute;
  left:2px;
  top:8px;
  width:175px;
  word-wrap:break-word;
}
#u87218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:35px;
}
#u87218 {
  position:absolute;
  left:0px;
  top:175px;
  width:179px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u87218_img.mouseOver {
}
#u87218.mouseOver {
}
#u87218_img.selected {
}
#u87218.selected {
}
#u87219 {
  position:absolute;
  left:2px;
  top:8px;
  width:175px;
  word-wrap:break-word;
}
#u87220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:35px;
}
#u87220 {
  position:absolute;
  left:0px;
  top:210px;
  width:179px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u87220_img.mouseOver {
}
#u87220.mouseOver {
}
#u87220_img.selected {
}
#u87220.selected {
}
#u87221 {
  position:absolute;
  left:2px;
  top:8px;
  width:175px;
  word-wrap:break-word;
}
#u87222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:40px;
}
#u87222 {
  position:absolute;
  left:0px;
  top:245px;
  width:179px;
  height:40px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u87222_img.mouseOver {
}
#u87222.mouseOver {
}
#u87222_img.selected {
}
#u87222.selected {
}
#u87223 {
  position:absolute;
  left:2px;
  top:11px;
  width:175px;
  word-wrap:break-word;
}
#u87224 {
  position:absolute;
  left:171px;
  top:140px;
  width:171px;
  height:105px;
  visibility:hidden;
}
#u87224_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:111px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u87225 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:110px;
}
#u87226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u87226 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u87226_img.mouseOver {
}
#u87226.mouseOver {
}
#u87226_img.selected {
}
#u87226.selected {
}
#u87227 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u87228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u87228 {
  position:absolute;
  left:0px;
  top:35px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u87228_img.mouseOver {
}
#u87228.mouseOver {
}
#u87228_img.selected {
}
#u87228.selected {
}
#u87229 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u87230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u87230 {
  position:absolute;
  left:0px;
  top:70px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u87230_img.mouseOver {
}
#u87230.mouseOver {
}
#u87230_img.selected {
}
#u87230.selected {
}
#u87231 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u87232 {
  position:absolute;
  left:171px;
  top:210px;
  width:202px;
  height:75px;
  visibility:hidden;
}
#u87232_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:208px;
  height:81px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u87233 {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:80px;
}
#u87234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:35px;
}
#u87234 {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u87234_img.mouseOver {
}
#u87234.mouseOver {
}
#u87234_img.selected {
}
#u87234.selected {
}
#u87235 {
  position:absolute;
  left:2px;
  top:8px;
  width:198px;
  word-wrap:break-word;
}
#u87236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:40px;
}
#u87236 {
  position:absolute;
  left:0px;
  top:35px;
  width:202px;
  height:40px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u87236_img.mouseOver {
}
#u87236.mouseOver {
}
#u87236_img.selected {
}
#u87236.selected {
}
#u87237 {
  position:absolute;
  left:2px;
  top:11px;
  width:198px;
  word-wrap:break-word;
}
#u87238 {
  position:absolute;
  left:171px;
  top:280px;
  width:171px;
  height:70px;
  visibility:hidden;
}
#u87238_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:76px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u87239 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:75px;
}
#u87240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u87240 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u87240_img.mouseOver {
}
#u87240.mouseOver {
}
#u87240_img.selected {
}
#u87240.selected {
}
#u87241 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u87242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u87242 {
  position:absolute;
  left:0px;
  top:35px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u87242_img.mouseOver {
}
#u87242.mouseOver {
}
#u87242_img.selected {
}
#u87242.selected {
}
#u87243 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u87245_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:90px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u87245 {
  position:absolute;
  left:0px;
  top:850px;
  width:1280px;
  height:90px;
}
#u87246 {
  position:absolute;
  left:2px;
  top:37px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:38px;
}
#u87247 {
  position:absolute;
  left:1092px;
  top:896px;
  width:180px;
  height:38px;
  font-size:16px;
  color:#FF0000;
}
#u87248 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u87249 {
  position:absolute;
  left:253px;
  top:247px;
  width:645px;
  height:350px;
}
#u87250_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:40px;
}
#u87250 {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u87251 {
  position:absolute;
  left:10px;
  top:12px;
  width:152px;
  word-wrap:break-word;
}
#u87252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:476px;
  height:40px;
}
#u87252 {
  position:absolute;
  left:164px;
  top:0px;
  width:476px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u87253 {
  position:absolute;
  left:10px;
  top:12px;
  width:464px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87254_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:40px;
}
#u87254 {
  position:absolute;
  left:0px;
  top:40px;
  width:164px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u87255 {
  position:absolute;
  left:10px;
  top:12px;
  width:152px;
  word-wrap:break-word;
}
#u87256_img {
  position:absolute;
  left:0px;
  top:0px;
  width:476px;
  height:40px;
}
#u87256 {
  position:absolute;
  left:164px;
  top:40px;
  width:476px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u87257 {
  position:absolute;
  left:10px;
  top:12px;
  width:464px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87258_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:40px;
}
#u87258 {
  position:absolute;
  left:0px;
  top:80px;
  width:164px;
  height:40px;
  font-family:'STHeitiTC-Medium', 'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u87259 {
  position:absolute;
  left:10px;
  top:11px;
  width:152px;
  word-wrap:break-word;
}
#u87260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:476px;
  height:40px;
}
#u87260 {
  position:absolute;
  left:164px;
  top:80px;
  width:476px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u87261 {
  position:absolute;
  left:10px;
  top:12px;
  width:464px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87262_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:40px;
}
#u87262 {
  position:absolute;
  left:0px;
  top:120px;
  width:164px;
  height:40px;
  font-family:'STHeitiTC-Medium', 'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u87263 {
  position:absolute;
  left:10px;
  top:11px;
  width:152px;
  word-wrap:break-word;
}
#u87264_img {
  position:absolute;
  left:0px;
  top:0px;
  width:476px;
  height:40px;
}
#u87264 {
  position:absolute;
  left:164px;
  top:120px;
  width:476px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u87265 {
  position:absolute;
  left:10px;
  top:12px;
  width:464px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87266_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:185px;
}
#u87266 {
  position:absolute;
  left:0px;
  top:160px;
  width:164px;
  height:185px;
  font-family:'STHeitiTC-Medium', 'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u87267 {
  position:absolute;
  left:10px;
  top:84px;
  width:152px;
  word-wrap:break-word;
}
#u87268_img {
  position:absolute;
  left:0px;
  top:0px;
  width:476px;
  height:185px;
}
#u87268 {
  position:absolute;
  left:164px;
  top:160px;
  width:476px;
  height:185px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u87269 {
  position:absolute;
  left:10px;
  top:84px;
  width:464px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87270_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u87270 {
  position:absolute;
  left:586px;
  top:625px;
  width:100px;
  height:30px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u87270_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u87270.mouseOver {
}
#u87271 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u87272 {
  position:absolute;
  left:429px;
  top:292px;
  width:392px;
  height:30px;
}
#u87272_input {
  position:absolute;
  left:0px;
  top:0px;
  width:392px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u87272_input:disabled {
  color:grayText;
}
#u87273 {
  position:absolute;
  left:429px;
  top:252px;
  width:392px;
  height:30px;
}
#u87273_input {
  position:absolute;
  left:0px;
  top:0px;
  width:392px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u87274 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u87275_img {
  position:absolute;
  left:0px;
  top:0px;
  width:643px;
  height:96px;
}
#u87275 {
  position:absolute;
  left:250px;
  top:698px;
  width:643px;
  height:96px;
}
#u87276 {
  position:absolute;
  left:2px;
  top:40px;
  width:639px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87277_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Medium', 'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#515151;
}
#u87277 {
  position:absolute;
  left:263px;
  top:708px;
  width:65px;
  height:19px;
  font-family:'STHeitiTC-Medium', 'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#515151;
}
#u87278 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u87279_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u87279 {
  position:absolute;
  left:447px;
  top:625px;
  width:100px;
  height:30px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u87279_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u87279.mouseOver {
}
#u87280 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u87281_div {
  position:absolute;
  left:0px;
  top:0px;
  width:647px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u87281 {
  position:absolute;
  left:293px;
  top:737px;
  width:647px;
  height:47px;
}
#u87282 {
  position:absolute;
  left:0px;
  top:0px;
  width:647px;
  word-wrap:break-word;
}
#u87283_div {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:40px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Medium', 'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u87283 {
  position:absolute;
  left:253px;
  top:207px;
  width:640px;
  height:40px;
  font-family:'STHeitiTC-Medium', 'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u87284 {
  position:absolute;
  left:10px;
  top:9px;
  width:628px;
  word-wrap:break-word;
}
#u87285_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Medium', 'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
}
#u87285 {
  position:absolute;
  left:220px;
  top:142px;
  width:129px;
  height:38px;
  font-family:'STHeitiTC-Medium', 'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
}
#u87286 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u87287 {
  position:absolute;
  left:432px;
  top:373px;
  width:125px;
  height:30px;
}
#u87287_input {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u87288_img {
  position:absolute;
  left:0px;
  top:0px;
  width:461px;
  height:168px;
}
#u87288 {
  position:absolute;
  left:429px;
  top:413px;
  width:461px;
  height:168px;
}
#u87289 {
  position:absolute;
  left:2px;
  top:76px;
  width:457px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87290 {
  position:absolute;
  left:567px;
  top:373px;
  width:125px;
  height:30px;
}
#u87290_input {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u87291 {
  position:absolute;
  left:432px;
  top:339px;
  width:100px;
  height:16px;
}
#u87292 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u87291_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u87293 {
  position:absolute;
  left:542px;
  top:339px;
  width:100px;
  height:16px;
}
#u87294 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u87293_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
