body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u88588_div {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:751px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u88588 {
  position:absolute;
  left:0px;
  top:109px;
  width:191px;
  height:751px;
}
#u88589 {
  position:absolute;
  left:2px;
  top:368px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88591_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:110px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u88591 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:110px;
}
#u88592 {
  position:absolute;
  left:2px;
  top:47px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88593 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u88594_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
}
#u88594 {
  position:absolute;
  left:1061px;
  top:30px;
  width:129px;
  height:17px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
}
#u88595 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u88596_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
}
#u88596 {
  position:absolute;
  left:1197px;
  top:30px;
  width:39px;
  height:17px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
}
#u88597 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u88598_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:11px;
}
#u88598 {
  position:absolute;
  left:1188px;
  top:34px;
  width:1px;
  height:10px;
}
#u88599 {
  position:absolute;
  left:2px;
  top:-3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88600 {
  position:absolute;
  left:1025px;
  top:24px;
  width:26px;
  height:30px;
}
#u88600_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:32px;
  height:36px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u88601 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:35px;
}
#u88602_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:30px;
}
#u88602 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:30px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
  text-align:center;
}
#u88602_img.selected {
}
#u88602.selected {
}
#u88603 {
  position:absolute;
  left:2px;
  top:6px;
  width:22px;
  word-wrap:break-word;
}
#u88604 {
  position:absolute;
  left:0px;
  top:30px;
  width:88px;
  height:139px;
  visibility:hidden;
}
#u88604_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:94px;
  height:145px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u88605 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:144px;
}
#u88606_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:34px;
}
#u88606 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:34px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u88606_img.selected {
}
#u88606.selected {
}
#u88607 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u88608_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u88608 {
  position:absolute;
  left:0px;
  top:34px;
  width:88px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u88608_img.selected {
}
#u88608.selected {
}
#u88609 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u88610_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u88610 {
  position:absolute;
  left:0px;
  top:69px;
  width:88px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u88610_img.selected {
}
#u88610.selected {
}
#u88611 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u88612_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u88612 {
  position:absolute;
  left:0px;
  top:104px;
  width:88px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u88612_img.selected {
}
#u88612.selected {
}
#u88613 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u88614_img {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:25px;
}
#u88614 {
  position:absolute;
  left:431px;
  top:43px;
  width:284px;
  height:25px;
  font-family:'微軟正黑體 Bold', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u88615 {
  position:absolute;
  left:2px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
#u88616_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:91px;
}
#u88616 {
  position:absolute;
  left:10px;
  top:10px;
  width:120px;
  height:91px;
}
#u88617 {
  position:absolute;
  left:2px;
  top:38px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88619 {
  position:absolute;
  left:11px;
  top:130px;
  width:171px;
  height:455px;
}
#u88619_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:461px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u88620 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:460px;
}
#u88621_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:32px;
}
#u88621 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:32px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u88621_img.mouseOver {
}
#u88621.mouseOver {
}
#u88621_img.selected {
}
#u88621.selected {
}
#u88622 {
  position:absolute;
  left:2px;
  top:7px;
  width:167px;
  word-wrap:break-word;
}
#u88623_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:38px;
}
#u88623 {
  position:absolute;
  left:0px;
  top:32px;
  width:171px;
  height:38px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u88623_img.mouseOver {
}
#u88623.mouseOver {
}
#u88623_img.selected {
}
#u88623.selected {
}
#u88624 {
  position:absolute;
  left:2px;
  top:10px;
  width:167px;
  word-wrap:break-word;
}
#u88625_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u88625 {
  position:absolute;
  left:0px;
  top:70px;
  width:171px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u88625_img.mouseOver {
}
#u88625.mouseOver {
}
#u88625_img.selected {
}
#u88625.selected {
}
#u88626 {
  position:absolute;
  left:2px;
  top:9px;
  width:167px;
  word-wrap:break-word;
}
#u88627_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u88627 {
  position:absolute;
  left:0px;
  top:105px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u88627_img.mouseOver {
}
#u88627.mouseOver {
}
#u88627_img.selected {
}
#u88627.selected {
}
#u88628 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u88629_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u88629 {
  position:absolute;
  left:0px;
  top:140px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u88629_img.mouseOver {
}
#u88629.mouseOver {
}
#u88629_img.selected {
}
#u88629.selected {
}
#u88630 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u88631_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u88631 {
  position:absolute;
  left:0px;
  top:175px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u88631_img.mouseOver {
}
#u88631.mouseOver {
}
#u88631_img.selected {
}
#u88631.selected {
}
#u88632 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u88633_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u88633 {
  position:absolute;
  left:0px;
  top:210px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u88633_img.mouseOver {
}
#u88633.mouseOver {
}
#u88633_img.selected {
}
#u88633.selected {
}
#u88634 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u88635_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u88635 {
  position:absolute;
  left:0px;
  top:245px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u88635_img.mouseOver {
}
#u88635.mouseOver {
}
#u88635_img.selected {
}
#u88635.selected {
}
#u88636 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u88637_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u88637 {
  position:absolute;
  left:0px;
  top:280px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u88637_img.mouseOver {
}
#u88637.mouseOver {
}
#u88637_img.selected {
}
#u88637.selected {
}
#u88638 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u88639_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u88639 {
  position:absolute;
  left:0px;
  top:315px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u88639_img.mouseOver {
}
#u88639.mouseOver {
}
#u88639_img.selected {
}
#u88639.selected {
}
#u88640 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u88641_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u88641 {
  position:absolute;
  left:0px;
  top:350px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u88641_img.mouseOver {
}
#u88641.mouseOver {
}
#u88641_img.selected {
}
#u88641.selected {
}
#u88642 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u88643_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u88643 {
  position:absolute;
  left:0px;
  top:385px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u88643_img.mouseOver {
}
#u88643.mouseOver {
}
#u88643_img.selected {
}
#u88643.selected {
}
#u88644 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u88645_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u88645 {
  position:absolute;
  left:0px;
  top:420px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u88645_img.mouseOver {
}
#u88645.mouseOver {
}
#u88645_img.selected {
}
#u88645.selected {
}
#u88646 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u88647 {
  position:absolute;
  left:171px;
  top:315px;
  width:171px;
  height:70px;
  visibility:hidden;
}
#u88647_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:76px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u88648 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:75px;
}
#u88649_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u88649 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u88649_img.mouseOver {
}
#u88649.mouseOver {
}
#u88649_img.selected {
}
#u88649.selected {
}
#u88650 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u88651_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u88651 {
  position:absolute;
  left:0px;
  top:35px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u88651_img.mouseOver {
}
#u88651.mouseOver {
}
#u88651_img.selected {
}
#u88651.selected {
}
#u88652 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u88653 {
  position:absolute;
  left:171px;
  top:105px;
  width:202px;
  height:148px;
  visibility:hidden;
}
#u88653_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:208px;
  height:154px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u88654 {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:153px;
}
#u88655_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:36px;
}
#u88655 {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:36px;
  font-size:15px;
  color:#000000;
  text-align:center;
}
#u88655_img.mouseOver {
}
#u88655.mouseOver {
}
#u88655_img.selected {
}
#u88655.selected {
}
#u88656 {
  position:absolute;
  left:2px;
  top:10px;
  width:198px;
  word-wrap:break-word;
}
#u88657_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:36px;
}
#u88657 {
  position:absolute;
  left:0px;
  top:36px;
  width:202px;
  height:36px;
  font-size:15px;
  color:#000000;
  text-align:center;
}
#u88657_img.mouseOver {
}
#u88657.mouseOver {
}
#u88657_img.selected {
}
#u88657.selected {
}
#u88658 {
  position:absolute;
  left:2px;
  top:10px;
  width:198px;
  word-wrap:break-word;
}
#u88659_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:38px;
}
#u88659 {
  position:absolute;
  left:0px;
  top:72px;
  width:202px;
  height:38px;
  font-size:15px;
  color:#000000;
  text-align:center;
}
#u88659_img.mouseOver {
}
#u88659.mouseOver {
}
#u88659_img.selected {
}
#u88659.selected {
}
#u88660 {
  position:absolute;
  left:2px;
  top:10px;
  width:198px;
  word-wrap:break-word;
}
#u88661_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:38px;
}
#u88661 {
  position:absolute;
  left:0px;
  top:110px;
  width:202px;
  height:38px;
  font-size:15px;
  color:#000000;
  text-align:center;
}
#u88661_img.mouseOver {
}
#u88661.mouseOver {
}
#u88661_img.selected {
}
#u88661.selected {
}
#u88662 {
  position:absolute;
  left:2px;
  top:10px;
  width:198px;
  word-wrap:break-word;
}
#u88663 {
  position:absolute;
  left:171px;
  top:32px;
  width:150px;
  height:175px;
  visibility:hidden;
}
#u88663_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:156px;
  height:181px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u88664 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:180px;
}
#u88665_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u88665 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u88665_img.mouseOver {
}
#u88665.mouseOver {
}
#u88665_img.selected {
}
#u88665.selected {
}
#u88666 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u88667_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u88667 {
  position:absolute;
  left:0px;
  top:35px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u88667_img.mouseOver {
}
#u88667.mouseOver {
}
#u88667_img.selected {
}
#u88667.selected {
}
#u88668 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u88669_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u88669 {
  position:absolute;
  left:0px;
  top:70px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u88669_img.mouseOver {
}
#u88669.mouseOver {
}
#u88669_img.selected {
}
#u88669.selected {
}
#u88670 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u88671_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u88671 {
  position:absolute;
  left:0px;
  top:105px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u88671_img.mouseOver {
}
#u88671.mouseOver {
}
#u88671_img.selected {
}
#u88671.selected {
}
#u88672 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u88673_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u88673 {
  position:absolute;
  left:0px;
  top:140px;
  width:150px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u88673_img.mouseOver {
}
#u88673.mouseOver {
}
#u88673_img.selected {
}
#u88673.selected {
}
#u88674 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u88675 {
  position:absolute;
  left:171px;
  top:70px;
  width:171px;
  height:105px;
  visibility:hidden;
}
#u88675_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:111px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u88676 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:110px;
}
#u88677_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u88677 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u88677_img.mouseOver {
}
#u88677.mouseOver {
}
#u88677_img.selected {
}
#u88677.selected {
}
#u88678 {
  position:absolute;
  left:2px;
  top:9px;
  width:167px;
  word-wrap:break-word;
}
#u88679_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u88679 {
  position:absolute;
  left:0px;
  top:35px;
  width:171px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u88679_img.mouseOver {
}
#u88679.mouseOver {
}
#u88679_img.selected {
}
#u88679.selected {
}
#u88680 {
  position:absolute;
  left:2px;
  top:9px;
  width:167px;
  word-wrap:break-word;
}
#u88681_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u88681 {
  position:absolute;
  left:0px;
  top:70px;
  width:171px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u88681_img.mouseOver {
}
#u88681.mouseOver {
}
#u88681_img.selected {
}
#u88681.selected {
}
#u88682 {
  position:absolute;
  left:2px;
  top:9px;
  width:167px;
  word-wrap:break-word;
}
#u88683 {
  position:absolute;
  left:171px;
  top:350px;
  width:171px;
  height:70px;
  visibility:hidden;
}
#u88683_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:76px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u88684 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:75px;
}
#u88685_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u88685 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u88685_img.mouseOver {
}
#u88685.mouseOver {
}
#u88685_img.selected {
}
#u88685.selected {
}
#u88686 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u88687_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u88687 {
  position:absolute;
  left:0px;
  top:35px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u88687_img.mouseOver {
}
#u88687.mouseOver {
}
#u88687_img.selected {
}
#u88687.selected {
}
#u88688 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u88689 {
  position:absolute;
  left:171px;
  top:385px;
  width:169px;
  height:490px;
  visibility:hidden;
}
#u88689_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:175px;
  height:496px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u88690 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:495px;
}
#u88691_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u88691 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u88691_img.mouseOver {
}
#u88691.mouseOver {
}
#u88691_img.selected {
}
#u88691.selected {
}
#u88692 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u88693_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u88693 {
  position:absolute;
  left:0px;
  top:35px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u88693_img.mouseOver {
}
#u88693.mouseOver {
}
#u88693_img.selected {
}
#u88693.selected {
}
#u88694 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u88695_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u88695 {
  position:absolute;
  left:0px;
  top:70px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u88695_img.mouseOver {
}
#u88695.mouseOver {
}
#u88695_img.selected {
}
#u88695.selected {
}
#u88696 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u88697_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u88697 {
  position:absolute;
  left:0px;
  top:105px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u88697_img.mouseOver {
}
#u88697.mouseOver {
}
#u88697_img.selected {
}
#u88697.selected {
}
#u88698 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u88699_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u88699 {
  position:absolute;
  left:0px;
  top:140px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u88699_img.mouseOver {
}
#u88699.mouseOver {
}
#u88699_img.selected {
}
#u88699.selected {
}
#u88700 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u88701_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u88701 {
  position:absolute;
  left:0px;
  top:175px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u88701_img.mouseOver {
}
#u88701.mouseOver {
}
#u88701_img.selected {
}
#u88701.selected {
}
#u88702 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u88703_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u88703 {
  position:absolute;
  left:0px;
  top:210px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u88703_img.mouseOver {
}
#u88703.mouseOver {
}
#u88703_img.selected {
}
#u88703.selected {
}
#u88704 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u88705_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u88705 {
  position:absolute;
  left:0px;
  top:245px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u88705_img.mouseOver {
}
#u88705.mouseOver {
}
#u88705_img.selected {
}
#u88705.selected {
}
#u88706 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u88707_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u88707 {
  position:absolute;
  left:0px;
  top:280px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u88707_img.mouseOver {
}
#u88707.mouseOver {
}
#u88707_img.selected {
}
#u88707.selected {
}
#u88708 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u88709_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u88709 {
  position:absolute;
  left:0px;
  top:315px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u88709_img.mouseOver {
}
#u88709.mouseOver {
}
#u88709_img.selected {
}
#u88709.selected {
}
#u88710 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u88711_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u88711 {
  position:absolute;
  left:0px;
  top:350px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u88711_img.mouseOver {
}
#u88711.mouseOver {
}
#u88711_img.selected {
}
#u88711.selected {
}
#u88712 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u88713_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u88713 {
  position:absolute;
  left:0px;
  top:385px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u88713_img.mouseOver {
}
#u88713.mouseOver {
}
#u88713_img.selected {
}
#u88713.selected {
}
#u88714 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u88715_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u88715 {
  position:absolute;
  left:0px;
  top:420px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u88715_img.mouseOver {
}
#u88715.mouseOver {
}
#u88715_img.selected {
}
#u88715.selected {
}
#u88716 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u88717_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u88717 {
  position:absolute;
  left:0px;
  top:455px;
  width:169px;
  height:35px;
  font-size:15px;
  text-align:center;
}
#u88717_img.mouseOver {
}
#u88717.mouseOver {
}
#u88717_img.selected {
}
#u88717.selected {
}
#u88718 {
  position:absolute;
  left:2px;
  top:9px;
  width:165px;
  word-wrap:break-word;
}
#u88719 {
  position:absolute;
  left:171px;
  top:175px;
  width:179px;
  height:320px;
  visibility:hidden;
}
#u88719_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:185px;
  height:326px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u88720 {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:325px;
}
#u88721_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:35px;
}
#u88721 {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u88721_img.mouseOver {
}
#u88721.mouseOver {
}
#u88721_img.selected {
}
#u88721.selected {
}
#u88722 {
  position:absolute;
  left:2px;
  top:8px;
  width:175px;
  word-wrap:break-word;
}
#u88723_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:35px;
}
#u88723 {
  position:absolute;
  left:0px;
  top:35px;
  width:179px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u88723_img.mouseOver {
}
#u88723.mouseOver {
}
#u88723_img.selected {
}
#u88723.selected {
}
#u88724 {
  position:absolute;
  left:2px;
  top:8px;
  width:175px;
  word-wrap:break-word;
}
#u88725_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:35px;
}
#u88725 {
  position:absolute;
  left:0px;
  top:70px;
  width:179px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u88725_img.mouseOver {
}
#u88725.mouseOver {
}
#u88725_img.selected {
}
#u88725.selected {
}
#u88726 {
  position:absolute;
  left:2px;
  top:8px;
  width:175px;
  word-wrap:break-word;
}
#u88727_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:35px;
}
#u88727 {
  position:absolute;
  left:0px;
  top:105px;
  width:179px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u88727_img.mouseOver {
}
#u88727.mouseOver {
}
#u88727_img.selected {
}
#u88727.selected {
}
#u88728 {
  position:absolute;
  left:2px;
  top:8px;
  width:175px;
  word-wrap:break-word;
}
#u88729_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:35px;
}
#u88729 {
  position:absolute;
  left:0px;
  top:140px;
  width:179px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u88729_img.mouseOver {
}
#u88729.mouseOver {
}
#u88729_img.selected {
}
#u88729.selected {
}
#u88730 {
  position:absolute;
  left:2px;
  top:8px;
  width:175px;
  word-wrap:break-word;
}
#u88731_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:35px;
}
#u88731 {
  position:absolute;
  left:0px;
  top:175px;
  width:179px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u88731_img.mouseOver {
}
#u88731.mouseOver {
}
#u88731_img.selected {
}
#u88731.selected {
}
#u88732 {
  position:absolute;
  left:2px;
  top:8px;
  width:175px;
  word-wrap:break-word;
}
#u88733_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:35px;
}
#u88733 {
  position:absolute;
  left:0px;
  top:210px;
  width:179px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u88733_img.mouseOver {
}
#u88733.mouseOver {
}
#u88733_img.selected {
}
#u88733.selected {
}
#u88734 {
  position:absolute;
  left:2px;
  top:8px;
  width:175px;
  word-wrap:break-word;
}
#u88735_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:35px;
}
#u88735 {
  position:absolute;
  left:0px;
  top:245px;
  width:179px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u88735_img.mouseOver {
}
#u88735.mouseOver {
}
#u88735_img.selected {
}
#u88735.selected {
}
#u88736 {
  position:absolute;
  left:2px;
  top:8px;
  width:175px;
  word-wrap:break-word;
}
#u88737_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:40px;
}
#u88737 {
  position:absolute;
  left:0px;
  top:280px;
  width:179px;
  height:40px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u88737_img.mouseOver {
}
#u88737.mouseOver {
}
#u88737_img.selected {
}
#u88737.selected {
}
#u88738 {
  position:absolute;
  left:2px;
  top:11px;
  width:175px;
  word-wrap:break-word;
}
#u88739 {
  position:absolute;
  left:171px;
  top:140px;
  width:171px;
  height:105px;
  visibility:hidden;
}
#u88739_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:111px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u88740 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:110px;
}
#u88741_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u88741 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u88741_img.mouseOver {
}
#u88741.mouseOver {
}
#u88741_img.selected {
}
#u88741.selected {
}
#u88742 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u88743_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u88743 {
  position:absolute;
  left:0px;
  top:35px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u88743_img.mouseOver {
}
#u88743.mouseOver {
}
#u88743_img.selected {
}
#u88743.selected {
}
#u88744 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u88745_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u88745 {
  position:absolute;
  left:0px;
  top:70px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u88745_img.mouseOver {
}
#u88745.mouseOver {
}
#u88745_img.selected {
}
#u88745.selected {
}
#u88746 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u88747 {
  position:absolute;
  left:171px;
  top:210px;
  width:202px;
  height:75px;
  visibility:hidden;
}
#u88747_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:208px;
  height:81px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u88748 {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:80px;
}
#u88749_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:35px;
}
#u88749 {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u88749_img.mouseOver {
}
#u88749.mouseOver {
}
#u88749_img.selected {
}
#u88749.selected {
}
#u88750 {
  position:absolute;
  left:2px;
  top:8px;
  width:198px;
  word-wrap:break-word;
}
#u88751_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:40px;
}
#u88751 {
  position:absolute;
  left:0px;
  top:35px;
  width:202px;
  height:40px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u88751_img.mouseOver {
}
#u88751.mouseOver {
}
#u88751_img.selected {
}
#u88751.selected {
}
#u88752 {
  position:absolute;
  left:2px;
  top:11px;
  width:198px;
  word-wrap:break-word;
}
#u88753 {
  position:absolute;
  left:171px;
  top:280px;
  width:171px;
  height:70px;
  visibility:hidden;
}
#u88753_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:76px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u88754 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:75px;
}
#u88755_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u88755 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u88755_img.mouseOver {
}
#u88755.mouseOver {
}
#u88755_img.selected {
}
#u88755.selected {
}
#u88756 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u88757_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u88757 {
  position:absolute;
  left:0px;
  top:35px;
  width:171px;
  height:35px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u88757_img.mouseOver {
}
#u88757.mouseOver {
}
#u88757_img.selected {
}
#u88757.selected {
}
#u88758 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u88760_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:90px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u88760 {
  position:absolute;
  left:0px;
  top:850px;
  width:1280px;
  height:90px;
}
#u88761 {
  position:absolute;
  left:2px;
  top:37px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88762_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:38px;
}
#u88762 {
  position:absolute;
  left:1092px;
  top:896px;
  width:180px;
  height:38px;
  font-size:16px;
  color:#FF0000;
}
#u88763 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u88764 {
  position:absolute;
  left:253px;
  top:247px;
  width:645px;
  height:350px;
}
#u88765_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:40px;
}
#u88765 {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u88766 {
  position:absolute;
  left:10px;
  top:12px;
  width:152px;
  word-wrap:break-word;
}
#u88767_img {
  position:absolute;
  left:0px;
  top:0px;
  width:476px;
  height:40px;
}
#u88767 {
  position:absolute;
  left:164px;
  top:0px;
  width:476px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u88768 {
  position:absolute;
  left:10px;
  top:12px;
  width:464px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88769_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:40px;
}
#u88769 {
  position:absolute;
  left:0px;
  top:40px;
  width:164px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u88770 {
  position:absolute;
  left:10px;
  top:12px;
  width:152px;
  word-wrap:break-word;
}
#u88771_img {
  position:absolute;
  left:0px;
  top:0px;
  width:476px;
  height:40px;
}
#u88771 {
  position:absolute;
  left:164px;
  top:40px;
  width:476px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u88772 {
  position:absolute;
  left:10px;
  top:12px;
  width:464px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88773_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:40px;
}
#u88773 {
  position:absolute;
  left:0px;
  top:80px;
  width:164px;
  height:40px;
  font-family:'STHeitiTC-Medium', 'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u88774 {
  position:absolute;
  left:10px;
  top:11px;
  width:152px;
  word-wrap:break-word;
}
#u88775_img {
  position:absolute;
  left:0px;
  top:0px;
  width:476px;
  height:40px;
}
#u88775 {
  position:absolute;
  left:164px;
  top:80px;
  width:476px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u88776 {
  position:absolute;
  left:10px;
  top:12px;
  width:464px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88777_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:40px;
}
#u88777 {
  position:absolute;
  left:0px;
  top:120px;
  width:164px;
  height:40px;
  font-family:'STHeitiTC-Medium', 'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u88778 {
  position:absolute;
  left:10px;
  top:11px;
  width:152px;
  word-wrap:break-word;
}
#u88779_img {
  position:absolute;
  left:0px;
  top:0px;
  width:476px;
  height:40px;
}
#u88779 {
  position:absolute;
  left:164px;
  top:120px;
  width:476px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u88780 {
  position:absolute;
  left:10px;
  top:12px;
  width:464px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88781_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:185px;
}
#u88781 {
  position:absolute;
  left:0px;
  top:160px;
  width:164px;
  height:185px;
  font-family:'STHeitiTC-Medium', 'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u88782 {
  position:absolute;
  left:10px;
  top:84px;
  width:152px;
  word-wrap:break-word;
}
#u88783_img {
  position:absolute;
  left:0px;
  top:0px;
  width:476px;
  height:185px;
}
#u88783 {
  position:absolute;
  left:164px;
  top:160px;
  width:476px;
  height:185px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u88784 {
  position:absolute;
  left:10px;
  top:84px;
  width:464px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88785_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u88785 {
  position:absolute;
  left:586px;
  top:625px;
  width:100px;
  height:30px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u88785_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u88785.mouseOver {
}
#u88786 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u88787 {
  position:absolute;
  left:429px;
  top:292px;
  width:392px;
  height:30px;
}
#u88787_input {
  position:absolute;
  left:0px;
  top:0px;
  width:392px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u88787_input:disabled {
  color:grayText;
}
#u88788 {
  position:absolute;
  left:429px;
  top:252px;
  width:392px;
  height:30px;
}
#u88788_input {
  position:absolute;
  left:0px;
  top:0px;
  width:392px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u88789 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u88790_img {
  position:absolute;
  left:0px;
  top:0px;
  width:643px;
  height:96px;
}
#u88790 {
  position:absolute;
  left:250px;
  top:698px;
  width:643px;
  height:96px;
}
#u88791 {
  position:absolute;
  left:2px;
  top:40px;
  width:639px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88792_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Medium', 'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#515151;
}
#u88792 {
  position:absolute;
  left:263px;
  top:708px;
  width:65px;
  height:19px;
  font-family:'STHeitiTC-Medium', 'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#515151;
}
#u88793 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u88794_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u88794 {
  position:absolute;
  left:447px;
  top:625px;
  width:100px;
  height:30px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u88794_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u88794.mouseOver {
}
#u88795 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u88796_div {
  position:absolute;
  left:0px;
  top:0px;
  width:647px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u88796 {
  position:absolute;
  left:293px;
  top:737px;
  width:647px;
  height:47px;
}
#u88797 {
  position:absolute;
  left:0px;
  top:0px;
  width:647px;
  word-wrap:break-word;
}
#u88798_div {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:40px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Medium', 'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u88798 {
  position:absolute;
  left:253px;
  top:207px;
  width:640px;
  height:40px;
  font-family:'STHeitiTC-Medium', 'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u88799 {
  position:absolute;
  left:10px;
  top:9px;
  width:628px;
  word-wrap:break-word;
}
#u88800_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Medium', 'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
}
#u88800 {
  position:absolute;
  left:220px;
  top:142px;
  width:129px;
  height:38px;
  font-family:'STHeitiTC-Medium', 'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
}
#u88801 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u88802 {
  position:absolute;
  left:432px;
  top:373px;
  width:125px;
  height:30px;
}
#u88802_input {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u88803_img {
  position:absolute;
  left:0px;
  top:0px;
  width:461px;
  height:168px;
}
#u88803 {
  position:absolute;
  left:429px;
  top:413px;
  width:461px;
  height:168px;
}
#u88804 {
  position:absolute;
  left:2px;
  top:76px;
  width:457px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88805 {
  position:absolute;
  left:567px;
  top:373px;
  width:125px;
  height:30px;
}
#u88805_input {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u88806 {
  position:absolute;
  left:432px;
  top:339px;
  width:100px;
  height:16px;
}
#u88807 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u88806_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u88808 {
  position:absolute;
  left:542px;
  top:339px;
  width:100px;
  height:16px;
}
#u88809 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u88808_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
