body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u22945_div {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:850px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22945 {
  position:absolute;
  left:0px;
  top:109px;
  width:191px;
  height:850px;
}
#u22946 {
  position:absolute;
  left:2px;
  top:417px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:90px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22948 {
  position:absolute;
  left:0px;
  top:944px;
  width:1280px;
  height:90px;
}
#u22949 {
  position:absolute;
  left:2px;
  top:37px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u22950 {
  position:absolute;
  left:35px;
  top:971px;
  width:94px;
  height:37px;
  color:#FFFFFF;
}
#u22951 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u22952_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:38px;
}
#u22952 {
  position:absolute;
  left:1092px;
  top:990px;
  width:180px;
  height:38px;
  font-size:16px;
  color:#FF0000;
}
#u22953 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u22954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
}
#u22954 {
  position:absolute;
  left:220px;
  top:150px;
  width:193px;
  height:38px;
  font-family:'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
}
#u22955 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u22956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:820px;
  height:40px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u22956 {
  position:absolute;
  left:220px;
  top:213px;
  width:820px;
  height:40px;
  font-family:'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u22957 {
  position:absolute;
  left:10px;
  top:12px;
  width:808px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22958 {
  position:absolute;
  left:220px;
  top:253px;
  width:825px;
  height:593px;
}
#u22959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:45px;
}
#u22959 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:45px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u22960 {
  position:absolute;
  left:10px;
  top:14px;
  width:148px;
  word-wrap:break-word;
}
#u22961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:660px;
  height:45px;
}
#u22961 {
  position:absolute;
  left:160px;
  top:0px;
  width:660px;
  height:45px;
  color:#000000;
}
#u22962 {
  position:absolute;
  left:10px;
  top:14px;
  width:648px;
  word-wrap:break-word;
}
#u22963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:273px;
}
#u22963 {
  position:absolute;
  left:0px;
  top:45px;
  width:160px;
  height:273px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u22964 {
  position:absolute;
  left:10px;
  top:128px;
  width:148px;
  word-wrap:break-word;
}
#u22965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:660px;
  height:273px;
}
#u22965 {
  position:absolute;
  left:160px;
  top:45px;
  width:660px;
  height:273px;
  color:#000000;
  text-align:left;
}
#u22966 {
  position:absolute;
  left:10px;
  top:8px;
  width:648px;
  word-wrap:break-word;
}
#u22967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:270px;
}
#u22967 {
  position:absolute;
  left:0px;
  top:318px;
  width:160px;
  height:270px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u22968 {
  position:absolute;
  left:10px;
  top:126px;
  width:148px;
  word-wrap:break-word;
}
#u22969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:660px;
  height:270px;
}
#u22969 {
  position:absolute;
  left:160px;
  top:318px;
  width:660px;
  height:270px;
  font-size:15px;
  color:#666666;
}
#u22970 {
  position:absolute;
  left:10px;
  top:127px;
  width:648px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u22971 {
  position:absolute;
  left:635px;
  top:878px;
  width:100px;
  height:30px;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u22971_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u22971.mouseOver {
}
#u22972 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u22973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u22973 {
  position:absolute;
  left:525px;
  top:878px;
  width:100px;
  height:30px;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u22973_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u22973.mouseOver {
}
#u22974 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u22976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:110px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22976 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:110px;
}
#u22977 {
  position:absolute;
  left:2px;
  top:47px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Rounded MT Bold';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u22978 {
  position:absolute;
  left:20px;
  top:40px;
  width:144px;
  height:55px;
  font-family:'Arial Rounded MT Bold';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u22979 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u22980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:25px;
}
#u22980 {
  position:absolute;
  left:396px;
  top:34px;
  width:284px;
  height:25px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
  text-align:left;
}
#u22981 {
  position:absolute;
  left:2px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
#u22982 {
  position:absolute;
  left:1025px;
  top:24px;
  width:26px;
  height:30px;
}
#u22982_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:32px;
  height:36px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u22983 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:35px;
}
#u22984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:30px;
}
#u22984 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:30px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
  text-align:center;
}
#u22984_img.selected {
}
#u22984.selected {
}
#u22985 {
  position:absolute;
  left:2px;
  top:6px;
  width:22px;
  word-wrap:break-word;
}
#u22986 {
  position:absolute;
  left:0px;
  top:30px;
  width:88px;
  height:139px;
  visibility:hidden;
}
#u22986_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:94px;
  height:145px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u22987 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:144px;
}
#u22988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:34px;
}
#u22988 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:34px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u22988_img.selected {
}
#u22988.selected {
}
#u22989 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u22990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u22990 {
  position:absolute;
  left:0px;
  top:34px;
  width:88px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u22990_img.selected {
}
#u22990.selected {
}
#u22991 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u22992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u22992 {
  position:absolute;
  left:0px;
  top:69px;
  width:88px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u22992_img.selected {
}
#u22992.selected {
}
#u22993 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u22994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u22994 {
  position:absolute;
  left:0px;
  top:104px;
  width:88px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u22994_img.selected {
}
#u22994.selected {
}
#u22995 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u22996 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:126px;
}
#u22997 {
  position:absolute;
  left:389px;
  top:373px;
  width:209px;
  height:126px;
}
#u22998 {
  position:absolute;
  left:2px;
  top:55px;
  width:205px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22999 {
  position:absolute;
  left:391px;
  top:621px;
  width:641px;
  height:210px;
}
#u22999_input {
  position:absolute;
  left:0px;
  top:0px;
  width:641px;
  height:210px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u23000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:643px;
  height:37px;
}
#u23000 {
  position:absolute;
  left:389px;
  top:584px;
  width:643px;
  height:37px;
}
#u23001 {
  position:absolute;
  left:2px;
  top:10px;
  width:639px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23002 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:136px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u23003 {
  position:absolute;
  left:525px;
  top:599px;
  width:308px;
  height:136px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u23004 {
  position:absolute;
  left:20px;
  top:20px;
  width:286px;
  word-wrap:break-word;
}
#u23005 {
  position:absolute;
  left:742px;
  top:681px;
  width:75px;
  height:25px;
}
#u23005_input {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u23006 {
  position:absolute;
  left:641px;
  top:681px;
  width:75px;
  height:25px;
}
#u23006_input {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
