body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u21293_div {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:850px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21293 {
  position:absolute;
  left:0px;
  top:109px;
  width:191px;
  height:850px;
}
#u21294 {
  position:absolute;
  left:2px;
  top:417px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21296_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:90px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21296 {
  position:absolute;
  left:0px;
  top:944px;
  width:1280px;
  height:90px;
}
#u21297 {
  position:absolute;
  left:2px;
  top:37px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21298_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u21298 {
  position:absolute;
  left:35px;
  top:971px;
  width:94px;
  height:37px;
  color:#FFFFFF;
}
#u21299 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u21300_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:38px;
}
#u21300 {
  position:absolute;
  left:1092px;
  top:990px;
  width:180px;
  height:38px;
  font-size:16px;
  color:#FF0000;
}
#u21301 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u21302_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
}
#u21302 {
  position:absolute;
  left:220px;
  top:150px;
  width:193px;
  height:38px;
  font-family:'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
}
#u21303 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u21304_div {
  position:absolute;
  left:0px;
  top:0px;
  width:820px;
  height:40px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u21304 {
  position:absolute;
  left:220px;
  top:213px;
  width:820px;
  height:40px;
  font-family:'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u21305 {
  position:absolute;
  left:10px;
  top:12px;
  width:808px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21306 {
  position:absolute;
  left:220px;
  top:253px;
  width:825px;
  height:593px;
}
#u21307_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:45px;
}
#u21307 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:45px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u21308 {
  position:absolute;
  left:10px;
  top:14px;
  width:148px;
  word-wrap:break-word;
}
#u21309_img {
  position:absolute;
  left:0px;
  top:0px;
  width:660px;
  height:45px;
}
#u21309 {
  position:absolute;
  left:160px;
  top:0px;
  width:660px;
  height:45px;
  color:#000000;
}
#u21310 {
  position:absolute;
  left:10px;
  top:14px;
  width:648px;
  word-wrap:break-word;
}
#u21311_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:273px;
}
#u21311 {
  position:absolute;
  left:0px;
  top:45px;
  width:160px;
  height:273px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u21312 {
  position:absolute;
  left:10px;
  top:128px;
  width:148px;
  word-wrap:break-word;
}
#u21313_img {
  position:absolute;
  left:0px;
  top:0px;
  width:660px;
  height:273px;
}
#u21313 {
  position:absolute;
  left:160px;
  top:45px;
  width:660px;
  height:273px;
  color:#000000;
  text-align:left;
}
#u21314 {
  position:absolute;
  left:10px;
  top:8px;
  width:648px;
  word-wrap:break-word;
}
#u21315_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:270px;
}
#u21315 {
  position:absolute;
  left:0px;
  top:318px;
  width:160px;
  height:270px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u21316 {
  position:absolute;
  left:10px;
  top:126px;
  width:148px;
  word-wrap:break-word;
}
#u21317_img {
  position:absolute;
  left:0px;
  top:0px;
  width:660px;
  height:270px;
}
#u21317 {
  position:absolute;
  left:160px;
  top:318px;
  width:660px;
  height:270px;
  font-size:15px;
  color:#666666;
}
#u21318 {
  position:absolute;
  left:10px;
  top:127px;
  width:648px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21319_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u21319 {
  position:absolute;
  left:635px;
  top:878px;
  width:100px;
  height:30px;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u21319_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u21319.mouseOver {
}
#u21320 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u21321_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u21321 {
  position:absolute;
  left:525px;
  top:878px;
  width:100px;
  height:30px;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u21321_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u21321.mouseOver {
}
#u21322 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u21324_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:110px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21324 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:110px;
}
#u21325 {
  position:absolute;
  left:2px;
  top:47px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21326_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Rounded MT Bold';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u21326 {
  position:absolute;
  left:20px;
  top:40px;
  width:144px;
  height:55px;
  font-family:'Arial Rounded MT Bold';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u21327 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u21328_img {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:25px;
}
#u21328 {
  position:absolute;
  left:396px;
  top:34px;
  width:284px;
  height:25px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
  text-align:left;
}
#u21329 {
  position:absolute;
  left:2px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
#u21330 {
  position:absolute;
  left:1025px;
  top:24px;
  width:26px;
  height:30px;
}
#u21330_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:32px;
  height:36px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u21331 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:35px;
}
#u21332_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:30px;
}
#u21332 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:30px;
  font-family:'Microsoft JhengHei Regular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
  text-align:center;
}
#u21332_img.selected {
}
#u21332.selected {
}
#u21333 {
  position:absolute;
  left:2px;
  top:6px;
  width:22px;
  word-wrap:break-word;
}
#u21334 {
  position:absolute;
  left:0px;
  top:30px;
  width:88px;
  height:139px;
  visibility:hidden;
}
#u21334_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:94px;
  height:145px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u21335 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:144px;
}
#u21336_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:34px;
}
#u21336 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:34px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u21336_img.selected {
}
#u21336.selected {
}
#u21337 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u21338_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u21338 {
  position:absolute;
  left:0px;
  top:34px;
  width:88px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u21338_img.selected {
}
#u21338.selected {
}
#u21339 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u21340_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u21340 {
  position:absolute;
  left:0px;
  top:69px;
  width:88px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u21340_img.selected {
}
#u21340.selected {
}
#u21341 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u21342_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u21342 {
  position:absolute;
  left:0px;
  top:104px;
  width:88px;
  height:35px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u21342_img.selected {
}
#u21342.selected {
}
#u21343 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u21344 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21345_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:126px;
}
#u21345 {
  position:absolute;
  left:389px;
  top:373px;
  width:209px;
  height:126px;
}
#u21346 {
  position:absolute;
  left:2px;
  top:55px;
  width:205px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21347 {
  position:absolute;
  left:391px;
  top:621px;
  width:641px;
  height:210px;
}
#u21347_input {
  position:absolute;
  left:0px;
  top:0px;
  width:641px;
  height:210px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u21348_img {
  position:absolute;
  left:0px;
  top:0px;
  width:643px;
  height:37px;
}
#u21348 {
  position:absolute;
  left:389px;
  top:584px;
  width:643px;
  height:37px;
}
#u21349 {
  position:absolute;
  left:2px;
  top:10px;
  width:639px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21350 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21351_div {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:136px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u21351 {
  position:absolute;
  left:525px;
  top:599px;
  width:308px;
  height:136px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u21352 {
  position:absolute;
  left:20px;
  top:20px;
  width:286px;
  word-wrap:break-word;
}
#u21353 {
  position:absolute;
  left:742px;
  top:681px;
  width:75px;
  height:25px;
}
#u21353_input {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u21354 {
  position:absolute;
  left:641px;
  top:681px;
  width:75px;
  height:25px;
}
#u21354_input {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
