body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:328px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u45216 {
  position:absolute;
  left:52px;
  top:184px;
  width:171px;
  height:73px;
}
#u45217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:38px;
}
#u45217 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:38px;
  color:#000000;
  text-align:center;
}
#u45218 {
  position:absolute;
  left:2px;
  top:11px;
  width:65px;
  word-wrap:break-word;
}
#u45219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:38px;
}
#u45219 {
  position:absolute;
  left:69px;
  top:0px;
  width:97px;
  height:38px;
  color:#000000;
  text-align:center;
}
#u45220 {
  position:absolute;
  left:2px;
  top:11px;
  width:93px;
  word-wrap:break-word;
}
#u45221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:30px;
}
#u45221 {
  position:absolute;
  left:0px;
  top:38px;
  width:69px;
  height:30px;
  color:#000000;
}
#u45222 {
  position:absolute;
  left:2px;
  top:7px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u45223 {
  position:absolute;
  left:69px;
  top:38px;
  width:97px;
  height:30px;
  color:#000000;
}
#u45224 {
  position:absolute;
  left:2px;
  top:7px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:80px;
}
#u45225 {
  position:absolute;
  left:52px;
  top:62px;
  width:276px;
  height:80px;
  color:#FF0000;
}
#u45226 {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  white-space:nowrap;
}
