body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:328px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u42671 {
  position:absolute;
  left:52px;
  top:184px;
  width:171px;
  height:73px;
}
#u42672_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:38px;
}
#u42672 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:38px;
  color:#000000;
  text-align:center;
}
#u42673 {
  position:absolute;
  left:2px;
  top:11px;
  width:65px;
  word-wrap:break-word;
}
#u42674_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:38px;
}
#u42674 {
  position:absolute;
  left:69px;
  top:0px;
  width:97px;
  height:38px;
  color:#000000;
  text-align:center;
}
#u42675 {
  position:absolute;
  left:2px;
  top:11px;
  width:93px;
  word-wrap:break-word;
}
#u42676_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:30px;
}
#u42676 {
  position:absolute;
  left:0px;
  top:38px;
  width:69px;
  height:30px;
  color:#000000;
}
#u42677 {
  position:absolute;
  left:2px;
  top:7px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42678_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u42678 {
  position:absolute;
  left:69px;
  top:38px;
  width:97px;
  height:30px;
  color:#000000;
}
#u42679 {
  position:absolute;
  left:2px;
  top:7px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42680_img {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:80px;
}
#u42680 {
  position:absolute;
  left:52px;
  top:62px;
  width:276px;
  height:80px;
  color:#FF0000;
}
#u42681 {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  white-space:nowrap;
}
